<template>
    <div class="row">
        <div class="col-12 pr-0">
            <div class="d-flex align-items-center justify-content-between" style="height: 35px;">
                <div>
                    <h5 class="mb-0">
                        {{ $t('basic.publishes') }}
                    </h5>
                </div>
                <div v-if="canSetup">
                    <button
                        v-tippy
                        type="button"
                        class="btn __focus-none mr-1 __hover-primary"
                        :content="$t('tooltip.open-modal-feed-articles')"
                        @click="modalActions().openSettingsMainArticles()"
                    >
                        <font-awesome-icon icon="cog" class="mr-1" />
                        {{ hasFilters ? $t('button.change-filters') : $t('button.setting') }}
                    </button>
                    <button
                        v-if="hasFilters"
                        v-tippy
                        type="button"
                        class="btn btn-icon text-dark--h-danger"
                        :content="$t('tooltip.clear')"
                        @click.prevent="clearFilters"
                    >
                        <font-awesome-icon icon="trash" />
                    </button>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div v-if="!articles.initialLoaded && articles.pending" class="row">
                <SkeletonArticleCardBasic />
                <SkeletonArticleCardBasic />
                <SkeletonArticleCardBasic />
                <SkeletonArticleCardBasic />
            </div>
            <div v-if="articles.initialLoaded" class="row">
                <ArticleCardBasic
                    v-for="article in articles.data"
                    :key="article.id"
                    :article="article"
                    :is-waiting="!article.is_draft && !article.is_released"
                />
                <div v-if="articles.pagination.has_more_pages" class="col-12">
                    <client-only>
                        <infinite-loading
                            @infinite="infiniteHandler"
                        />
                    </client-only>
                </div>
            </div>
            <div v-if="articles.initialLoaded && articles.data.length === 0" class="row">
                <div class="col-12 text-center">
                    {{ $t('basic.empty-list') }}
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import InfiniteLoading from 'vue-infinite-loading';
import { mapActions, mapState } from 'vuex';
import ArticleCardBasic from '../Article/Card/ArticleCardBasic';
import SkeletonArticleCardBasic from '../Skeleton/Article/Card/SkeletonArticleCardBasic';

export default {
    name: 'MainArticles',
    components: {
        ArticleCardBasic,
        SkeletonArticleCardBasic,
        InfiniteLoading,
    },
    props: {
        articles: {
            type: [Object],
            default: () => {},
        },
        canSetup: {
            type: [Boolean],
            default: () => true,
        }
    },
    data() {
        return {};
    },
    computed: mapState({
        form: state => state.feed.articles.form,
        hasFilters() {
            const onlyAllCategories = this.form.categories.includes('all') && this.form.categories.length === 1;
            const onlyAllGroups = this.form.groups.includes('all') && this.form.groups.length === 1;
            const onlyAllTypes = this.form.types.includes('all') && this.form.types.length === 1;
            if (onlyAllCategories && onlyAllGroups && onlyAllTypes) {
                return false;
            }
            return true;
        }
    }),
    watch: {},
    mounted() {},
    methods: {
        ...mapActions('feed/articles', ['clearForm', 'fetchArticlesInitial', 'fetchArticlesPage']),
        async infiniteHandler($state) {
            const self = this;
            await self.fetchArticlesPage({
                page: self.articles.pagination.page + 1,
                categories: self.form.categories,
                groups: self.form.groups,
                types: self.form.types,
            });
            $state.loaded();
            //console.log('infiniteHandler');
        },
        clearFilters() {
            const self = this;
            self.clearForm();
            self.fetchArticlesInitial([]);
            self.cookieActions().setAppFeedForm(self.form);
        },
    },
};
</script>

<style scoped lang="scss">

</style>
