<template>
    <div class="row mb-3 rounded-sm-bottom bg-white">
        <div class="col-12 shadow-sm">
            <div class="pr--article--info-head">
                <div>
                    <h5 class="mb-0">
                        {{ $t('basic.events') }}
                    </h5>
                    <span v-if="!events.pending && events.data.length === 0">
                        {{ $t('basic.events-nearest-empty') }}
                    </span>
                </div>
                <div>
                    <a v-if="events.data.length !== 0" v-b-toggle="'collapse-main-events'" role="button" class="collapse--has-arrow text-dark float-right" style="cursor: pointer;">
                        <font-awesome-icon icon="chevron-down" class="mr-1" />
                        {{ feed.events ? $t('button.hide') : $t('button.show') }}
                    </a>
                </div>
            </div>
            <b-collapse id="collapse-main-events" v-model="feed.events">
<!--                <div v-if="events.pending" class="d-none d-md-block">-->
<!--                    <SkeletonEventTableBasic />-->
<!--                </div>-->
                <div class="d-none d-md-block">
                    <table class="table table-borderless pr--article--info-table mb-0">
                        <tbody>
                            <tr v-for="article in events.data" :key="article.id">
                                <td v-if="article.start_at !== null">
                                    {{ momentDate().eventRage(article.start_at, article.finish_at) }}
                                </td>
                                <td>
                                    <nuxt-link :to="i18nRoute().article(article)" class="link-dark">
                                        {{ article.title }}
                                    </nuxt-link>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
<!--                <SkeletonEventTableMobile v-if="events.pending" />-->
                <div class="pr--article--info-events d-block d-md-none">
                    <div v-for="article in events.data" :key="article.id" class="--event">
                        <span>{{ momentDate().eventRage(article.start_at, article.finish_at) }}</span>
                        <nuxt-link :to="i18nRoute().article(article)" class="link-dark">
                            {{ article.title }}
                        </nuxt-link>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-center mb-1">
                    <button
                        v-if="events.pagination !== null && events.pagination.has_more_pages"
                        type="button"
                        :class="[
                            'collapse--has-arrow btn btn-link __focus-none text-primary',
                            events.pending ? 'is-loading' : ''
                        ]"
                        @click="loadMore(events.pagination.page + 1)"
                    >
                        {{ $t('button.show-more') }}
                    </button>
                </div>
            </b-collapse>
        </div>
    </div>
</template>

<script>

import { mapActions, mapState } from 'vuex';

export default {
    name: 'MainEvents',
    components: {
        SkeletonEventTableBasic: () => import('../Skeleton/Event/Table/SkeletonEventTableBasic'),
        SkeletonEventTableMobile: () => import('../Skeleton/Event/Table/SkeletonEventTableMobile'),
    },
    props: {
        events: {
            type: [Object],
            default: () => {},
        },
    },
    data() {
        return {};
    },
    computed: mapState({
        feed: state => state.app.sidebar.feed,
    }),
    watch: {
        'feed.events'() {
            this.cookieActions().setAppFeedEventsActive(this.feed.events);
        }
    },
    mounted() {},
    methods: {
        ...mapActions('feed/events', ['fetchEventsPage']),
        loadMore(value) {
            this.fetchEventsPage({
                page: value,
            });
            //this.moreVisible = true;
        },
    },
};
</script>

<style scoped lang="scss">

</style>
