<template>
    <vue-modal :name="modal.names.user.upload_avatar" :width="$device.isDesktop ? 500 : '100%'" :head="false" :scrollable="true">
        <ModalUploadFormBasic :upload="upload" :on-upload="onUpload" />
    </vue-modal>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import ModalUploadFormBasic from '../ModalUploadFormBasic';
import vueModal from '../ModalBasic';

export default {
    name: 'ModalUserUploadAvatar',
    components: {
        'vue-modal': vueModal,
        ModalUploadFormBasic,
    },
    data() {
        return {
            //
        };
    },
    computed: mapState({
        modal: state => state.modal,
        upload: state => state.personal.upload.avatar,
    }),
    watch: {
        'upload.closeModal'() {
            const self = this;
            if (self.upload.closeModal) {
                self.modalActions().close();
            }
        }
    },
    mounted() {
        //
    },
    methods: {
        ...mapActions('personal/upload/avatar', ['fetchUploadAndUpdate']),
        onUpload(formData) {
            const self = this;
            self.fetchUploadAndUpdate(formData);
        },
    },
};
</script>
