<template>
    <vue-modal :title="'Подтвердите удаление'" :name="modal.names.user.confirm_delete" :width="$device.isDesktop ? 500 : '100%'">
        <form class="row" @submit.prevent="submitDelete">
            <div class="col-12">
                <p>
                    Вы уверены что хотите удалить пользователя?
                </p>
                <p>
                    Все комментарии будут помечены как удаленные, ваши статьи будет сняты с публикации.
                </p>
            </div>
            <div class="col-12 mt-3 d-flex justify-content-end align-items-center">
                <button type="button" class="btn btn-light mr-1" @click="modalActions().close()">
                    {{ $t('button.cancel') }}
                </button>
                <button type="submit" class="btn btn-danger">
                    {{ $t('button.delete') }}
                </button>
            </div>
        </form>
    </vue-modal>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import vueModal from '../ModalBasic';

export default {
    name: 'ModalUserConfirmDelete',
    components: {
        'vue-modal': vueModal,
    },
    data() {
        return {
            user: null,
        };
    },
    computed: mapState({
        modal: state => state.modal,
        modalItem: state => state.modal.item,
    }),
    watch: {
        'modalItem.user'() {
            const self = this;
            if (self.modalItem.user === undefined) {
                return;
            }
            self.user = self.modalItem.user;
        },
    },
    mounted() {
        //
    },
    methods: {
        ...mapActions('user/destroy', ['fetchDestroy']),
        submitDelete() {
            const self = this;
            self.fetchDestroy();
            self.modalActions().close();
        },
    }
};
</script>

<style scoped>

</style>
