<template>
    <vue-modal :title="$t('modal.user.report.title')" :name="modal.names.user.report" :width="$device.isDesktop ? 500 : '100%'">
        <form class="row" @submit.prevent="submit">
            <div v-if="article !== null" class="col-12">
                <h3>
                    <nuxt-link :to="i18nRoute().article(article)" class="link-dark">
                        {{ article.title }}
                    </nuxt-link>
                </h3>
            </div>
            <div v-if="user !== null" class="col-12">
                <p>
                    {{ $t('basic.user') }}:
                    <nuxt-link :to="i18nRoute().usersArticles(user)" class="link-dark">
                        {{ user.full_name }}
                    </nuxt-link>
                </p>
            </div>
            <div v-if="category !== null" class="col-12">
                <p>
                    {{ $t('basic.category') }}:
                    <nuxt-link :to="i18nRoute().category(category)" class="link-dark">
                        {{ category.title }}
                    </nuxt-link>
                </p>
            </div>
            <div v-if="group !== null" class="col-12">
                <p>
                    {{ $t('basic.group') }}:
                    <nuxt-link :to="i18nRoute().group(group)" class="link-dark">
                        {{ group.title }}
                    </nuxt-link>
                </p>
            </div>
            <div v-if="comment !== null" class="col-12">
                <CommentCard :comment="comment" :read-only="true" />
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label class="text-muted ml-2 mb-0 form-label">{{ $t('fields.text') }}</label>
                    <b-form-textarea
                        v-model="text"
                        :placeholder="$t('fields.text')"
                        :class="{'is-danger': toggle.errors.text !== undefined}"
                        rows="3"
                    />
                    <FormError :error="toggle.errors.text" />
                </div>
            </div>
            <div class="col-12 mt-3 d-flex justify-content-end align-items-center">
                <button type="button" class="btn btn-light mr-1" @click="modalActions().close()">
                    {{ $t('button.cancel') }}
                </button>
                <button
                    type="submit"
                    class="btn btn-primary"
                    :class="['btn btn-primary', toggle.pending ? 'is-loading' : '']"
                >
                    {{ $t('button.send') }}
                </button>
            </div>
        </form>
    </vue-modal>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import CommentCard from '../../Comment/Card/CommentCard';
import vueModal from '../ModalBasic';

export default {
    name: 'ModalUserReport',
    components: {
        'vue-modal': vueModal,
        CommentCard,
    },
    data() {
        return {
            text: null,
            article: null,
            comment: null,
            user: null,
            category: null,
            group: null,
        };
    },
    computed: mapState({
        modal: state => state.modal,
        modalItem: state => state.modal.item,
        toggle: state => state.user.reports.toggle,
    }),
    watch: {
        'modalItem.article'() {
            const self = this;
            self.clearData();
            if (self.modalItem.article === undefined) {
                return;
            }
            self.article = self.modalItem.article;
        },
        'modalItem.comment'() {
            const self = this;
            self.clearData();
            if (self.modalItem.comment === undefined) {
                return;
            }
            self.comment = self.modalItem.comment;
        },
        'modalItem.user'() {
            const self = this;
            self.clearData();
            if (self.modalItem.user === undefined) {
                return;
            }
            self.user = self.modalItem.user;
        },
        'modalItem.group'() {
            const self = this;
            self.clearData();
            if (self.modalItem.group === undefined) {
                return;
            }
            self.group = self.modalItem.group;
        },
        'modalItem.category'() {
            const self = this;
            self.clearData();
            if (self.modalItem.category === undefined) {
                return;
            }
            self.category = self.modalItem.category;
        },
        'toggle.closeModal'() {
            const self = this;
            if (self.toggle.closeModal) {
                self.text = '';
                self.modalActions().close();
            }
        }
    },
    mounted() {
        //
    },
    methods: {
        ...mapActions('user/reports/toggle', ['fetchReportToggle']),
        submit() {
            const self = this;
            let id = null;
            let type = null;
            if (self.article !== null) {
                id = self.article.id;
                type = 'article';
            }
            if (self.comment !== null) {
                id = self.comment.id;
                type = 'comment';
            }
            if (self.user !== null) {
                id = self.user.id;
                type = 'user';
            }
            if (self.group !== null) {
                id = self.group.id;
                type = 'group';
            }
            if (self.category !== null) {
                id = self.category.id;
                type = 'category';
            }
            self.fetchReportToggle({
                id,
                type,
                text: self.text,
            });
        },
        clearData() {
            const self = this;
            self.article = null;
            self.comment = null;
            self.user = null;
            self.category = null;
            self.group = null;
        }
    }
};
</script>

<style scoped>

</style>
