<template>
    <div v-if="isMounted" class="row">
        <div class="col-12 mb-3 p-0">
            <b-tabs
                pills
                card
                vertical
                end
                :class="'pr--tabs--personal-details'"
                :nav-wrapper-class="'pr--tabs--subscribers-nav'"
                :content-class="'pr--tabs--subscribers-content'"
            >
                <b-tab :title="`${$t('basic.subscriptions')} (${user.counters.subscriptions})`" active>
                    <b-card-text>
                        <div v-if="subscriptions.pending" class="row">
                            <div class="col-12 bg-white rounded-sm shadow-sm mb-3">
                                <SkeletonGroupCardSubscription />
                            </div>
                        </div>
                        <div v-if="!subscriptions.pending && !subscriptions.data.categories.length && !subscriptions.data.groups.length && !subscriptions.data.users.length" class="row">
                            <div class="col-12 text-center">
                                Список пуст
                            </div>
                        </div>
                        <div v-if="!subscriptions.pending" class="row">
                            <div class="col-12 bg-white rounded-sm shadow-sm mb-3 pr--card--subscriber-list">
                                <CategoryCardSubscription v-for="category in subscriptions.data.categories" :key="`category-subscription_${category.id}`" :category="category" />
                                <GroupCardSubscription v-for="group in subscriptions.data.groups" :key="`group-subscription_${group.id}`" :group="group" />
                                <UserCardSubscription v-for="userSubscription in subscriptions.data.users" :key="`user-subscription_${userSubscription.id}`" :user="userSubscription" />
                            </div>
                        </div>
                    </b-card-text>
                </b-tab>
                <b-tab :title="`${$t('basic.subscribers')} (${user.counters.subscribers})`">
                    <b-card-text>
                        <div v-if="subscribers.pending" class="row">
                            <div class="col-12 bg-white rounded-sm shadow-sm mb-3">
                                <SkeletonGroupCardSubscription />
                            </div>
                        </div>
                        <div v-if="!subscribers.pending && !subscribers.data.length" class="row">
                            <div class="col-12 text-center">
                                Список пуст
                            </div>
                        </div>
                        <div v-if="!subscribers.pending" class="row">
                            <div class="col-12 bg-white rounded-sm shadow-sm mb-3 pr--card--subscriber-list">
                                <UserCardSubscriber v-for="userSubscriber in subscribers.data" :key="`user-subscriber_${userSubscriber.id}`" :user="userSubscriber" />
                            </div>
                        </div>
                    </b-card-text>
                </b-tab>
            </b-tabs>
        </div>
    </div>
</template>

<script>
import { mapState } from 'vuex';
import UserCardSubscriber from '../../Old/User/Card/UserCardSubscriber';
import SkeletonGroupCardSubscription from '../../Old/Skeleton/Group/Card/SkeletonGroupCardSubscription';
import CategoryCardSubscription from '../../Old/Category/Card/CategoryCardSubscription';
import GroupCardSubscription from '../../Old/Group/Card/GroupCardSubscription';
import UserCardSubscription from '../../Old/User/Card/UserCardSubscription';

export default {
    name: 'CommonTabSubscribers',
    components: {
        UserCardSubscriber,
        SkeletonGroupCardSubscription,
        CategoryCardSubscription,
        GroupCardSubscription,
        UserCardSubscription,
    },
    props: {
        user: {
            type: [Object],
            default: () => {},
        },
        subscribers: {
            type: [Object],
            default: () => {},
        },
        subscriptions: {
            type: [Object],
            default: () => {},
        }
    },
    data() {
        return {
            isMounted: false,
        };
    },
    computed: mapState({
        //
    }),
    watch: {},
    mounted() {
        const self = this;
        self.isMounted = true;
    },
    methods: {
        //
    },
};
</script>

<style scoped lang="scss">

</style>
