<template>
    <div v-html="data.text" />
</template>

<script>
export default {
    name: 'EditorIncut',
    components: {
    },
    props: {
        data: {
            type: [Object],
            default: () => {}
        }
    }
};
</script>
