<template>
    <p
        :class="[`text-${data.alignment}`]"
        v-html="data.text"
    />
</template>

<script>
export default {
    name: 'EditorParagraph',
    components: {
    },
    props: {
        data: {
            type: [Object],
            default: () => {}
        }
    }
};
</script>
