<template>
    <div>
        <ul v-if="data.style !== 'ordered'">
            <li
                v-for="(item, key) in data.items"
                :key="key"
                v-html="item"
            />
        </ul>
        <ol v-if="data.style === 'ordered'">
            <li
                v-for="(item, key) in data.items"
                :key="key"
                v-html="item"
            />
        </ol>
    </div>
</template>

<script>
export default {
    name: 'EditorListSimple',
    components: {
    },
    props: {
        data: {
            type: [Object],
            default: () => {}
        }
    }
};
</script>
