<template>
    <div v-if="isMounted" class="pr--editor--video-file">
        <div v-if="data.file !== undefined && data.file !== null && data.file.url !== undefined && data.file.url !== null" class="--player">
            <vue-plyr :ref="`plyr-${id}`">
                <video
                    :ref="`player-${id}`"
                    controls
                    crossorigin
                    playsinline
                >
                    <source
                        size="720"
                        :src="data.file.url"
                        type="video/mp4"
                    >
                </video>
            </vue-plyr>
        </div>
        <EditorEmbed v-if="data.embed !== null" :id="id" :data="data.embed" />
    </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import EditorEmbed from './EditorEmbed';

export default {
    name: 'EditorVideo',
    components: {
        EditorEmbed,
    },
    props: {
        data: {
            type: [Object],
            default: () => {}
        },
        id: {
            type: [String],
            default: () => ''
        }
    },
    data() {
        return {
            isMounted: false,
        };
    },
    computed: mapState({
        player: state => state.app.player,
    }),
    watch: {
        'data.file.url'() {
            const self = this;
            if (self.data.file !== undefined && self.data.file !== null && self.data.file.url !== undefined && self.data.file.url !== null) {
                setTimeout(function () {
                    self.$refs[`player-${self.id}`].load();
                    self.onLoad();
                }, 300);
            }
        },
        'player.active'() {
            const self = this;
            if (self.$refs[`plyr-${self.id}`] !== undefined) {
                if (self.player.active !== self.id) {
                    self.$refs[`plyr-${self.id}`].player.pause();
                } else {
                    self.$refs[`plyr-${self.id}`].player.play();
                }
            }
        }
    },
    mounted() {
        const self = this;
        self.isMounted = true;
        if (self.data.file !== undefined && self.data.file !== null && self.data.file.url !== undefined && self.data.file.url !== null) {
            self.onLoad();
        }
    },
    methods: {
        ...mapActions('app/player', ['pushPlayers', 'setActive']),
        onPlay() {
            this.setActive(this.id);
        },
        onLoad() {
            const self = this;
            setTimeout(function () {
                self.pushPlayers(self.id);
                if (self.$refs[`plyr-${self.id}`] !== undefined) {
                    self.$refs[`plyr-${self.id}`].player.on('play', () => self.onPlay());
                }
            }, 500);
        }
    }
};
</script>
