<template>
    <div class="pr--asterisks" />
</template>

<script>
export default {
    name: 'EditorAsterisks',
    components: {
    },
    props: {
        data: {
            type: [Object],
            default: () => {}
        }
    }
};
</script>
