<template>
    <div
        v-if="isMounted"
        class="pr--editor--audio-file"
    >
        <div class="--info">
            <div class="--head-file">
                <div
                    class="--title"
                    v-html="data.title"
                />
                <!--                <div class="--size">-->
                <!--                    {{ niceBytes(data.file.size) }}-->
                <!--                </div>-->
            </div>
        </div>
        <div class="--player">
            <VuePlyr :ref="`plyr-${id}`">
                <audio
                    :ref="`player-${id}`"
                    controls
                    data-plyr-config="['play', 'progress', 'current-time', 'mute', 'volume', 'settings', 'pip', 'airplay']"
                    crossorigin
                    playsinline
                >
                    <source
                        :src="data.file.url"
                        type="audio/mp3"
                    >
                </audio>
            </VuePlyr>
        </div>
    </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';
//import VuePlyr from 'vue-plyr';

export default {
    name: 'EditorAudio',
    components: {
        VuePlyr: () => import('vue-plyr'),
    },
    props: {
        data: {
            type: [Object],
            default: () => {}
        },
        id: {
            type: [String],
            default: () => ''
        }
    },
    data() {
        return {
            isMounted: false,
        };
    },
    computed: mapState({
        player: (state) => state.app.player,
    }),
    watch: {
        'data.file.url'() {
            const self = this;
            setTimeout(function () {
                self.$refs[`player-${self.id}`].load();
                self.onLoad();
            }, 300);
        },
        'player.active'() {
            const self = this;
            if (self.player.active !== self.id) {
                self.$refs[`plyr-${self.id}`].player.pause();
            } else {
                self.$refs[`plyr-${self.id}`].player.play();
            }
        }
    },
    mounted() {
        const self = this;
        self.isMounted = true;
        if (self.data.file !== undefined && self.data.file.url !== undefined && self.data.file.url !== null) {
            self.onLoad();
        }
    },
    methods: {
        ...mapActions('app/player', ['pushPlayers', 'setActive']),
        onPlay() {
            this.setActive(this.id);
        },
        onLoad() {
            const self = this;
            setTimeout(function () {
                self.pushPlayers(self.id);
                if (self.$refs[`plyr-${self.id}`] !== undefined) {
                    self.$refs[`plyr-${self.id}`].player.on('play', () => self.onPlay());
                }
            }, 500);
        }
    }
};
</script>
