<template>
    <div class="d-flex align-items-center justify-content-center mb-3">
        <a
            :href="data.link"
            target="_blank"
            class="btn btn-primary"
        >
            {{ data.text }}
        </a>
    </div>
</template>

<script>
export default {
    name: 'EditorAnyButton',
    components: {
    },
    props: {
        data: {
            type: [Object],
            default: () => {}
        }
    }
};
</script>
