<template>
    <div>
        <h1 v-html="data.text" />
    </div>
</template>

<script>
export default {
    name: 'EditorHeaderH1',
    components: {
    },
    props: {
        data: {
            type: [Object],
            default: () => {}
        },
    }
};
</script>
