<template>
    <div
        :class="[
            data.anchor !== null ? 'pr--editor--header--with-anchor' : '',
            data.anchor !== null ? `__level-${data.level}` : '',
        ]"
    >
        <a
            v-if="data.anchor !== null"
            :id="data.anchor"
            :href="'#' + data.anchor"
            class="anchor"
            @click="scrollArticle().toHref('#' + data.anchor)"
        >
            <font-awesome-icon :icon="'anchor'" />
        </a>
        <h1
            v-if="data.level === 1"
            :class="[`text-${tunes.anyTuneName.alignment}`]"
            v-html="data.text"
        />
        <h2
            v-if="data.level === 2"
            :class="[`text-${tunes.anyTuneName.alignment}`]"
            v-html="data.text"
        />
        <h3
            v-if="data.level === 3"
            :class="[`text-${tunes.anyTuneName.alignment}`]"
            v-html="data.text"
        />
        <h4
            v-if="data.level === 4"
            :class="[`text-${tunes.anyTuneName.alignment}`]"
            v-html="data.text"
        />
        <h5
            v-if="data.level === 5"
            :class="[`text-${tunes.anyTuneName.alignment}`]"
            v-html="data.text"
        />
        <h6
            v-if="data.level === 6"
            :class="[`text-${tunes.anyTuneName.alignment}`]"
            v-html="data.text"
        />
    </div>
</template>

<script>
export default {
    name: 'EditorHeader',
    components: {
    },
    props: {
        data: {
            type: [Object],
            default: () => {}
        },
        tunes: {
            type: [Object],
            default: () => {}
        }
    }
};
</script>
