<template>
    <div class="mb-3">
        <code>{{ data.code }}</code>
    </div>
</template>

<script>
export default {
    name: 'EditorCode',
    components: {
    },
    props: {
        data: {
            type: [Object],
            default: () => {}
        }
    }
};
</script>
