<template>
    <hr>
</template>

<script>
export default {
    name: 'EditorDelimiter',
    components: {
    },
    props: {
        data: {
            type: [Object],
            default: () => {}
        }
    }
};
</script>
