<template>
    <div class="--rubric">
        {{ data.text }}
    </div>
</template>

<script>
export default {
    name: 'EditorHeaderRubric',
    components: {
    },
    props: {
        data: {
            type: [Object],
            default: () => {}
        },
    }
};
</script>
