<template>
    <div
        :class="[`alert alert-${data.type}`]"
        role="alert"
        v-html="data.message"
    />
</template>

<script>
export default {
    name: 'EditorAlert',
    components: {
    },
    props: {
        data: {
            type: [Object],
            default: () => {}
        }
    }
};
</script>
