<template>
    <div class="--ribbons">
        <div v-if="article.tags.find(x => x.icon === 'video') && article.preview_type === 'video'" class="--ribbon __icon" v-tippy :content="`Есть видеозапись`">
            <font-awesome-icon icon="video" />
        </div>
        <div v-if="article.tags.find(x => x.icon === 'volume-up')" class="--ribbon __icon" v-tippy :content="`Есть аудиозапись`">
            <font-awesome-icon icon="volume-up" />
        </div>
        <div v-if="article.tags.find(x => x.icon === 'video') && article.preview_type === 'youtube'" class="--ribbon __icon" v-tippy :content="`Есть видео с YouTube`">
            <font-awesome-icon :icon="['fab', 'youtube']" />
        </div>
        <div v-for="tag in article.tags" :key="`tag-${tag.id}-article-${article.id}`" v-if="tag.image !== null" class="--ribbon __image" v-tippy :content="`Увеличить изображение`">
            <a :href="tag.image.rectangle_height" :data-caption="tag.title" :data-fancybox="`tag-${tag.id}-article-${article.id}`">
                <img :src="tag.image.rectangle_height" :alt="tag.title">
            </a>
        </div>
    </div>
</template>

<script>

import { mapActions, mapState } from 'vuex';

export default {
    name: 'ArticleCardBodyRibbon',
    components: {
    },
    props: {
        article: {
            type: [Object],
            default: () => {},
        },
    },
    data() {
        return {
            isMounted: false,
        };
    },
    watch: {},
    mounted() {
        this.isMounted = true;
    },
    methods: {},
};
</script>
