<template>
    <div>
        <PanelPanelEditTabImage
            v-if="tab.name === 'image'"
            :model="model"
            :pending="false"
            :item="item"
            :fields="tab.data"
        />
        <FormPanelPanelByFields
            v-if="!tabs.includes(tab.name)"
            :model="model"
            :pending="false"
            :item="item"
            :fields="tab.data"
            :tab="tab"
            :role="'panel-panel'"
        />
    </div>
</template>

<script>

import FormPanelPanelByFields from "../../../Form/FormPanelPanelByFields";
import PanelPanelEditTabImage from "./PanelPanelEditTabImage";

export default {
    name: 'PanelPanelEditTabDefault',
    components: {
        FormPanelPanelByFields,
        PanelPanelEditTabImage,
    },
    props: {
        pending: {
            type: [Boolean],
            required: true,
            default: () => false,
        },
        model: {
            type: [String],
            required: true,
            default: () => '',
        },
        item: {
            type: [Object],
            default: () => null,
        },
        tab: {
            type: [Object],
            required: true,
            default: () => {},
        },
    },
    data() {
        return {
            tabs: [
                //'image',
                //'markdown',
                //'editor_articles',
            ]
        };
    },
    mounted() {
        //
    },
    methods: {
        //
    }
};
</script>

<style scoped>

</style>
