<template>
    <div>
        <FormShowListAuthors
            v-if="field.key === 'authors_list'"
            :role="role"
            :field="field"
            :item="item"
        />
        <FormShowListBooks
            v-if="field.key === 'books_list'"
            :role="role"
            :field="field"
            :item="item"
        />
    </div>
</template>

<script>

import FormShowListAuthors from "./List/FormShowListAuthors";
import FormShowListBooks from "./List/FormShowListBooks";

export default {
    name: 'FormShowList',
    components: {
        FormShowListAuthors,
        FormShowListBooks,
    },
    props: {
        role: {
            type: [String],
            required: true,
            default: () => 'default',
        },
        field: {
            type: [Object],
            required: true,
            default: () => [],
        },
        item: {
            type: [Object],
            default: () => null,
        },
    },
};
</script>
