<template>
    <div v-if="form[field.key] !== undefined" class="form-group">
        <FormBaseLabel :field="field" :role="'show'" />
        <div>{{ date }}</div>
    </div>
</template>

<script>
import { mapState } from 'vuex';
import moment from 'moment';
import formValue from "../../../plugins/common/formValue";
import FormBaseLabel from "../Base/FormBaseLabel";

export default {
    name: 'FormShowDate',
    components: {
        FormBaseLabel,
    },
    props: {
        role: {
            type: [String],
            required: true,
            default: () => 'default',
        },
        errors: {
            type: [Object],
            required: true,
            default: () => {},
        },
        field: {
            type: [Object],
            required: true,
            default: () => {},
        },
        item: {
            type: [Object],
            default: () => null,
        },
        onChange: {
            type: [Function],
            default: () => {},
        },
    },
    data() {
        return {
            date: null,
        };
    },
    computed: mapState({
        formPanel: (state) => state.app.panel.base.form,
        formTable: (state) => state.app.table.base.form,
        formRouteTable: (state) => state.app.table.base.formRoute,
        form() {
            if (this.role === 'panel') {
                return this.formPanel;
            }
            if (this.role === 'table') {
                return this.formTable;
            }
            return {};
        }
    }),
    created() {
        this.form[this.field.key] = formValue.valueShow(this.field, this.item);
        if (this.form[this.field.key] !== null) {
            if (this.field.format_moment !== undefined) {
                this.date = moment(this.form[this.field.key]).format(this.field.format_moment);
            } else {
                this.date = moment(this.form[this.field.key]).format('YYYY-MM-DD');
            }
        } else {
            this.date = '-';
        }
    },
    methods: {
        //
    }
};
</script>
