<template>
    <div
        v-if="form[field.key] !== undefined"
        class="form-group"
    >
        <div class="markdown-editor-wrap markdown-wrapper">
            <div class="markdown-editor-buttons">
                <div>
                    <FormBaseLabel :field="field" />
                </div>
            </div>
            <div class="markdown-container">
                <div class="markdown-window">
                    <MarkdownItVue class="pr--markdown markdown-preview rounded-sm" :content="form[field.key]" :options="options" />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {mapActions, mapState} from 'vuex';
import api from '../../../api';
import FormError from "../../Base/Form/FormError";
import MarkdownItVue from 'markdown-it-vue';
import formValue from "../../../plugins/common/formValue";
import FormBaseLabel from "../Base/FormBaseLabel";
import FormBaseHelp from "../Base/FormBaseHelp";
import markdownParse from "../../../plugins/common/markdownParse";
import { BFormFile } from "bootstrap-vue/src/components/form-file";
import axiosPanel from "../../../plugins/common/axiosPanel";
import FormBaseMarkdownImageHelper from "../Base/FormBaseMarkdownImageHelper";

export default {
    name: 'FormShowMarkdown',
    components: {
        FormError,
        MarkdownItVue,
        FormBaseLabel,
        FormBaseHelp,
        BFormFile,
        FormBaseMarkdownImageHelper,
    },
    props: {
        role: {
            type: [String],
            required: true,
            default: () => 'default',
        },
        errors: {
            type: [Object],
            required: true,
            default: () => {},
        },
        field: {
            type: [Object],
            required: true,
            default: () => {},
        },
        item: {
            type: [Object],
            default: () => null,
        },
        onChange: {
            type: [Function],
            default: () => {},
        },
    },
    data() {
        return {
            options: {
                markdownIt: {
                    html: true,
                    linkify: true,
                    typographer: true,
                    breaks: true,
                },
                linkAttributes: {
                    attrs: {
                        target: '_blank',
                        rel: 'noopener'
                    }
                }
            }
        };
    },
    computed: mapState({
        formPanel: (state) => state.app.panel.base.form,
        formPanelPanel: (state) => state.app.panel.panel.base.form,
        formTable: (state) => state.app.table.base.form,
        formEditor: (state) => state.app.editor.articles.store.form,
        formRouteTable: (state) => state.app.table.base.formRoute,
        form() {
            if (this.role === 'panel') {
                return this.formPanel;
            }
            if (this.role === 'panel-panel') {
                return this.formPanelPanel;
            }
            if (this.role === 'table') {
                return this.formTable;
            }
            if (this.role === 'editor') {
                return this.formEditor;
            }
            return {};
        }
    }),
    created() {
        this.form[this.field.key] = formValue.valueShow(this.field, this.item);
    },
    methods: {
        //
    }
};
</script>
