<template>
    <div
        v-if="form[field.key] !== undefined"
        class="form-group"
    >
        <FormBaseLabel
            :field="field"
            :role="'show'"
        />
        <div v-if="form[field.key] !== null && !field.multiple">
            {{ field.values.find((x) => x.id === form[field.key].id) !== undefined ? field.values.find((x) => x.id === form[field.key].id).title : '-' }}
        </div>
        <div v-if="form[field.key] !== null && field.multiple && field.selected !== undefined">
            {{ field.selected.map((x) => x.title).join(', ') }}
        </div>
        <div v-if="form[field.key] === null">
            -
        </div>
    </div>
</template>

<script>
import { mapState } from 'vuex';
import formValue from "../../../plugins/common/formValue";
import FormBaseLabel from "../Base/FormBaseLabel";

export default {
    name: 'FormShowSelectSearch',
    components: {
        FormBaseLabel,
    },
    props: {
        role: {
            type: [String],
            required: true,
            default: () => 'default',
        },
        errors: {
            type: [Object],
            required: true,
            default: () => {},
        },
        field: {
            type: [Object],
            required: true,
            default: () => {},
        },
        item: {
            type: [Object],
            default: () => null,
        },
        onChange: {
            type: [Function],
            default: () => {},
        },
    },
    data() {
        return {};
    },
    computed: mapState({
        formPanel: (state) => state.app.panel.base.form,
        formTable: (state) => state.app.table.base.form,
        formRouteTable: (state) => state.app.table.base.formRoute,
        form() {
            if (this.role === 'panel') {
                return this.formPanel;
            }
            if (this.role === 'table') {
                return this.formTable;
            }
            return {};
        }
    }),
    mounted() {
        //
    },
    created() {
        this.form[this.field.key] = formValue.searchSelectField(this.field, this.item);
    }
};
</script>
