<template>
    <div>
        <FormShowString
            v-if="field.type === 'string'"
            :errors="errors"
            :item="item"
            :field="field"
            :role="role"
            :on-change="onChange"
        />
        <FormShowPhone
            v-if="field.type === 'phone'"
            :errors="errors"
            :item="item"
            :field="field"
            :role="role"
            :on-change="onChange"
        />
        <FormShowTextarea
            v-if="field.type === 'textarea'"
            :errors="errors"
            :item="item"
            :field="field"
            :role="role"
            :on-change="onChange"
        />
        <FormShowMarkdown
            v-if="field.type === 'markdown'"
            :errors="errors"
            :item="item"
            :field="field"
            :role="role"
            :on-change="onChange"
        />
        <FormShowSelect
            v-if="field.type === 'select'"
            :errors="errors"
            :item="item"
            :field="field"
            :role="role"
            :on-change="onChange"
        />
        <FormShowList
            v-if="field.type === 'list'"
            :errors="errors"
            :item="item"
            :field="field"
            :role="role"
            :on-change="onChange"
        />
        <FormShowMultiselect
            v-if="field.type === 'multiselect'"
            :errors="errors"
            :item="item"
            :field="field"
            :role="role"
            :on-change="onChange"
        />
        <FormShowSelectSearch
            v-if="field.type === 'select_search'"
            :errors="errors"
            :item="item"
            :field="field"
            :role="role"
            :on-change="onChange"
        />
        <FormShowDate
            v-if="field.type === 'date'"
            :errors="errors"
            :item="item"
            :field="field"
            :role="role"
            :on-change="onChange"
        />
    </div>
</template>

<script>
import FormShowString from "./FormShowString";
import FormShowTextarea from "./FormShowTextarea";
import FormShowSelect from "./FormShowSelect";
import FormShowMultiselect from "./FormShowMultiselect";
import FormShowPhone from "./FormShowPhone";
import FormShowSelectSearch from "./FormShowSelectSearch";
import FormShowDate from "./FormShowDate";
import FormShowList from "./FormShowList";
import FormShowMarkdown from "./FormShowMarkdown";

export default {
    name: 'FormShowDefault',
    components: {
        FormShowString,
        FormShowTextarea,
        FormShowSelect,
        FormShowPhone,
        FormShowSelectSearch,
        FormShowMultiselect,
        FormShowDate,
        FormShowList,
        FormShowMarkdown,
    },
    props: {
        role: {
            type: [String],
            required: true,
            default: () => 'default',
        },
        errors: {
            type: [Object],
            required: true,
            default: () => {},
        },
        field: {
            type: [Object],
            required: true,
            default: () => {},
        },
        item: {
            type: [Object],
            default: () => null,
        },
        onChange: {
            type: [Function],
            default: () => {},
        },
    },
    data() {
        return {
            types: [
                'string',
                'select',
                'date',
                'phone',
                'multiselect',
                'textarea',
                'list',
                'markdown',
            ]
        };
    },
};
</script>
