<template>
    <div class="row mt-3">
        <div class="col-12">
            <div class="card pr--card">
                <div v-if="table.loaded" class="card-body">
                    <div>
                        <TableByFields
                            v-if="table.data !== null && table.fields !== null"
                            :pending="table.pending"
                            :model="model"
                            :data="table.data"
                            :fields="table.fields"
                            :action-edit="actionEdit"
                            :action-show="actionShow"
                            :action-destroy="actionDestroy"
                            :action-delete="actionDelete"
                            :action-history="actionHistory"
                            :action-after-delete="actionAfterDelete"
                            :action-after-create="actionAfterCreate"
                            :action-after-edit="actionAfterEdit"
                            :action-comments="actionComments"
                        />
                    </div>
                    <div>
                        <PaginationRow v-if="table.pagination !== null" :pagination="table.pagination" :change="page" />
                    </div>
                </div>
                <div v-if="!table.loaded" class="card-body">
                    <BasePreloader
                        :role="'table'"
                        :loading-text="true"
                        :text="`Идет загрузка ${$t(`project.loading.${model}`)}`"
                    />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import PaginationRow from '../../components/Base/Pagination/PaginationRow';
import TableByFields from '../../components/Table/TableByFields';
import BasePreloader from '../Base/BasePreloader';
import serialize from '../../plugins/common/serialize';

export default {
    name: 'DefaultTable',
    components: {
        PaginationRow,
        TableByFields,
        BasePreloader,
    },
    props: {
        model: {
            type: [String],
            required: true,
        },
    },
    data() {
        return {
            //
        };
    },
    computed: mapState({
        request: state => state.app.table.base.request,
        table: state => state.app.table.base,
        locale: state => state.app.table.base.locale,
        search: state => state.app.table.base.search,
        modal: state => state.app.modal,
        changedModel: state => state.app.table.changed.model,
    }),
    watch: {
        'request'() {
            const self = this;
            const query = self.$router.history.current.query;
            const before = [];
            Object.keys(query).forEach((key) => {
                before.push(`${key}-${query[key]}`);
            });
            const after = [];
            Object.keys(self.request).forEach((key) => {
                after.push(`${key}-${self.request[key]}`);
            });
            if (after.join('-') === before.join('-')) {
                return;
            }
            if (Object.keys(self.request).length) {
                self.$router.replace(`/${self.model}?${serialize.query(self.request)}`);
            } else if (self.$router.history.current.path === `/${self.model}` && Object.keys(self.$router.history.current.query).length) {
                self.$router.replace(`/${self.model}`);
            }
        },
        'changedModel'() {
            if (this.changedModel !== this.model) {
                this.fetchListWithoutPending({
                    model: this.model,
                    request: this.$router.history.current.query,
                    locale: this.$router.history.current.query.locale || 'ru',
                });
            }
        }
    },
    mounted() {
        const locale = this.$router.history.current.query.locale || 'ru';
        this.setRequest(this.$router.history.current.query);
        this.fetchList({
            model: this.model,
            request: this.$router.history.current.query,
            locale,
        });
        console.log(Object.keys(this.$router.history.current.query).length);
        if (!Object.keys(this.$router.history.current.query).length) {
            this.setSearch(false);
        } else {
            this.setSearch(true);
        }
    },
    methods: {
        ...mapActions('app/table/base', ['fetchList', 'setRequest', 'fetchListWithoutPending', 'setSearch']),
        ...mapActions('app/table/destroy', ['fetchDestroy']),
        ...mapActions('app/panel/base', ['fetchShow', 'fetchEdit', 'fetchFields', 'setRole', 'setLocale', 'setItem', 'setModel']),
        ...mapActions('app/panel/comments', ['fetchComments']),
        ...mapActions('app/panel/history', ['fetchHistory']),
        page() {
            const self = this;
            const page = self.$router.history.current.query.page || 1;
            self.fetchList({
                model: self.model,
                page,
            });
        },
        actionEdit(item) {
            const self = this;
            this.$root.$emit('bv::toggle::collapse', 'panel-edit');
            self.setRole('edit');
            self.fetchEdit({
                id: item.id,
                model: self.model,
                locale: self.table.locale
            });
        },
        actionAfterEdit() {
            console.log('DefaultTable', 'actionAfterEdit', this.model, this.request);
            const self = this;
            self.fetchList({
                model: self.model,
            });
        },
        actionShow(item) {
            const self = this;
            this.$root.$emit('bv::toggle::collapse', 'panel-show');
            self.setRole('show');
            self.fetchShow({
                id: item.id,
                model: self.model,
                locale: self.table.locale
            });
        },
        actionComments(item) {
            const self = this;
            this.$root.$emit('bv::toggle::collapse', 'panel-comments');
            self.setRole('comments');
            self.fetchComments({
                id: item.id,
                model: self.model,
                locale: self.table.locale
            });
        },
        actionHistory(item) {
            const self = this;
            this.$root.$emit('bv::toggle::collapse', 'panel-history');
            self.setRole('history');
            self.setItem(item);
            self.setModel(self.model);
            self.fetchHistory({
                id: item.id,
                model: self.model,
                locale: self.table.locale
            });
        },
        actionCreate() {
            const self = this;
            this.$root.$emit('bv::toggle::collapse', 'panel-create');
            self.setRole('create');
            self.setLocale('ru');
            self.fetchFields({
                model: self.model,
                locale: 'ru',
            });
        },
        actionAfterCreate() {
            console.log('DefaultTable', 'actionAfterCreate', this.model, this.request);
            const self = this;
            self.fetchList({
                model: self.model,
            });
        },
        actionDelete(value) {
            this.modalActions().openConfirmDelete(this.model, value);
        },
        actionDestroy(data) {
            this.fetchDestroy(data);
        },
        actionAfterDelete() {
            const self = this;
            // @todo TableChangedEvent
            // self.fetchList({
            //     model: self.model,
            // });
        },
    },
};
</script>
