<template>
    <div class="mr-3">
        <div class="d-flex align-items-center justify-content-end">
            <div v-if="hasSearch && fields !== null && fields.config.search" class="d-flex align-items-center justify-content-end">
                <div v-if="fields !== null && fields.config.translation" class="mr-2">
                    <BFormSelect
                        v-model="locale"
                        :options="[{id: 'ru', title: 'Русский'}, {id: 'en', title: 'English'}]"
                        value-field="id"
                        text-field="title"
                        :select-size="1"
                        style="min-width: 110px;"
                        @change="changeLocale"
                    />
                </div>
                <div>
                    <button
                        v-if="!search"
                        type="button"
                        :class="[
                            'btn btn-light nowrap',
                            fields !== null && fields.config.create ? 'mr-2' : '',
                        ]"
                        @click="searchToggle(!search)"
                    >
                        <font-awesome-icon icon="search" />
                        Поиск
                    </button>
                    <button
                        v-if="search"
                        type="button"
                        :class="[
                            'btn btn-light nowrap',
                            fields !== null && fields.config.create ? 'mr-2' : '',
                        ]"
                        @click="clear"
                    >
                        <font-awesome-icon icon="trash" />
                        Очистить
                    </button>
                    <button
                        v-if="search"
                        type="button"
                        :class="[
                            'btn btn-light nowrap',
                            fields !== null && fields.config.create ? 'mr-2' : '',
                        ]"
                        @click="close"
                    >
                        <font-awesome-icon icon="times" />
                        Закрыть и очистить
                    </button>
                </div>
            </div>
            <div v-if="hasCreate && fields !== null && fields.config.create">
                <button type="button" class="btn btn-primary nowrap" @click="actionCreate">
                    <font-awesome-icon icon="plus" />
                    Создать
                </button>
            </div>
        </div>
    </div>
</template>

<script>
import {mapActions, mapState} from 'vuex';
import FormSearchByFields from "../Form/FormSearchByFields";
import {BFormSelect} from "bootstrap-vue/src/components/form-select";

export default {
    name: 'DefaultSearchButtons',
    components: {
        FormSearchByFields,
        BFormSelect,
    },
    props: {
        model: {
            type: [String],
            required: true,
        },
        hasSearch: {
            type: [Boolean],
            default: () => true,
        },
        hasCreate: {
            type: [Boolean],
            default: () => true,
        }
    },
    data() {
        return {
            locale: 'ru',
        };
    },
    computed: mapState({
        fields: (state) => state.app.table.base.fields,
        search: (state) => state.app.table.base.search,
        //locale: (state) => state.app.table.base.locale,
    }),
    mounted() {
        if (this.isOpenSearchBar()) {
            this.searchToggle(true);
        }
        if (this.$router.history.current.query.locale !== undefined) {
            this.locale = this.$router.history.current.query.locale;
            //this.setLocale(this.locale);
        }
    },
    methods: {
        ...mapActions('app/panel/base', ['fetchFields', 'setRole']),
        ...mapActions('app/table/base', ['clearForm', 'setSearch', 'setLocale']),
        searchToggle(value) {
            this.setSearch(value);
        },
        clear() {
            this.clearForm();
        },
        close() {
            this.clearForm();
            this.searchToggle(!this.search);
        },
        actionCreate() {
            const self = this;
            this.$root.$emit('bv::toggle::collapse', 'panel-create');
            self.setRole('create');
            //self.setLocale('ru');
            self.fetchFields({
                model: this.model,
                locale: this.fields.config.create_locale,
            });
        },
        changeLocale() {
            this.setLocale(this.locale);
        },
        isOpenSearchBar() {
            const keys = Object.keys(this.$router.history.current.query);
            if (keys.length === 0) {
                return false;
            }
            if (keys.length === 1 && keys.includes('page')) {
                return false;
            }
            if (keys.length === 1 && keys.includes('locale')) {
                return false;
            }
            if (keys.length === 2 && keys.includes('page') && keys.includes('locale')) {
                return false;
            }
            if (keys.length) {
                return true;
            }
            return false;
        }
    },
};
</script>
