<template>
    <FormSearchByFields
        v-if="table.data !== null && table.fields !== null"
        :pending="table.pending"
        :model="model"
        :fields="table.fields.search"
    />
</template>

<script>
import { mapState } from 'vuex';
import FormSearchByFields from "../Form/FormSearchByFields";

export default {
    name: 'DefaultSearch',
    components: {
        FormSearchByFields,
    },
    props: {
        model: {
            type: [String],
            required: true,
        }
    },
    data() {
        return {
            //
        };
    },
    computed: mapState({
        table: (state) => state.app.table.base,
    }),
    mounted() {
        //
    },
    methods: {
        //
    },
};
</script>
