<template>
    <div>
        <div v-if="table.loaded">
            <div>
                <TableByFields
                    v-if="table.data !== null && table.fields !== null"
                    :pending="table.pending"
                    :model="model"
                    :data="table.data"
                    :fields="table.fields"
                    :action-edit="actionEdit"
                    :action-show="actionShow"
                    :action-destroy="actionDestroy"
                    :action-delete="actionDelete"
                    :action-after-delete="actionAfterDelete"
                    :action-after-create="actionAfterCreate"
                    :action-after-edit="actionAfterEdit"
                />
            </div>
            <!--            <div>-->
            <!--                <PaginationRow-->
            <!--                    v-if="table.pagination !== null"-->
            <!--                    :pagination="table.pagination"-->
            <!--                    :change="page"-->
            <!--                />-->
            <!--            </div>-->
        </div>
        <div v-if="!table.loaded">
            <BasePreloader
                :role="'table'"
                :loading-text="true"
                :text="`Идет загрузка ${$t(`project.loading.${model}`)}`"
            />
        </div>
    </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import PaginationRow from "../../components/Base/Pagination/PaginationRow";
import TableByFields from "../../components/Table/TableByFields";
import BasePreloader from "../Base/BasePreloader";
import serialize from "../../plugins/common/serialize";

export default {
    name: 'DefaultPanelTable',
    components: {
        PaginationRow,
        TableByFields,
        BasePreloader,
    },
    props: {
        model: {
            type: [String],
            required: true,
        },
    },
    data() {
        return {
            //
        };
    },
    computed: mapState({
        request: (state) => state.app.table.table.base.request,
        table: (state) => state.app.table.table.base,
        locale: (state) => state.app.table.table.base.locale,
        modal: (state) => state.app.modal,
        editor: (state) => state.app.editor.articles.store,
        panel: (state) => state.app.panel.base,
        panelPanel: (state) => state.app.panel.panel.base,
    }),
    mounted() {
        // const locale = this.$router.history.current.query.locale || 'ru';
        // this.setRequest(this.$router.history.current.query);
        // this.fetchList({
        //     model: this.model,
        //     request: this.$router.history.current.query,
        //     locale,
        // });
    },
    methods: {
        ...mapActions('app/editor/articles/show', ['reloadItem']),
        ...mapActions('app/table/table/destroy', ['fetchDestroy']),
        ...mapActions('app/table/table/base', ['fetchList', 'setRequest']),
        ...mapActions('app/panel/panel/base', ['fetchShow', 'fetchEdit', 'fetchFields', 'setRole', 'setLocale']),
        page() {
            const self = this;
            const page = self.$router.history.current.query.page || 1;
            self.fetchList({
                model: self.model,
                page,
            });
        },
        actionEdit(item) {
            const self = this;
            this.$root.$emit('bv::toggle::collapse', 'panel-panel-edit');
            self.setRole('edit');
            self.fetchEdit({
                id: item.id,
                model: self.model,
                locale: self.table.locale
            });
        },
        actionAfterEdit() {
            const self = this;
            console.log('DefaultPanelTable', 'actionAfterEdit', this.model, this.request);
            if (self.panel.role === 'table') {
                self.fetchList({
                    model: self.model,
                });
            }
            if (this.editor.form.id !== undefined && this.editor.form.id !== null) {
                this.reloadItem();
            }
            if (this.panelPanel.opened) {
                this.$root.$emit('bv::toggle::collapse', 'panel-panel-edit');
            }
        },
        actionShow(item) {
            const self = this;
            this.$root.$emit('bv::toggle::collapse', 'panel-panel-show');
            self.setRole('show');
            self.fetchShow({
                id: item.id,
                model: self.model,
                locale: self.table.locale
            });
        },
        actionCreate() {
            const self = this;
            this.$root.$emit('bv::toggle::collapse', 'panel-panel-create');
            self.setRole('create');
            self.setLocale('ru');
            self.fetchFields({
                model: self.model,
                locale: 'ru',
            });
        },
        actionAfterCreate() {
            console.log('DefaultPanelTable', 'actionAfterCreate', this.model, this.request);
            const self = this;
            if (self.panel.role === 'table') {
                self.fetchList({
                    model: self.model,
                });
            }
            if (this.editor.form.id !== undefined && this.editor.form.id !== null) {
                this.reloadItem();
            }
        },
        actionDelete(value) {
            this.modalActions().openPanelConfirmDelete(this.model, value);
        },
        actionDestroy(data) {
            this.fetchDestroy(data);
        },
        actionAfterDelete() {
            const self = this;
            self.fetchList({
                model: self.model,
            });
            if (this.editor.form.id !== undefined && this.editor.form.id !== null) {
                this.reloadItem();
            }
        },
    },
};
</script>
