<template>
    <modal
        :name="name"
        :transition="transition"
        :width="modalWidth"
        :height="height === null ? 'auto' : height"
        :pivot-y="0.2"
        :draggable="'.title-bar'"
        :class="[{'v--modal-minimize': minimize}, classContainer]"
        :reset="true"
        :adaptive="!scrollable"
        :scrollable="scrollable"
        :click-to-close="!modal.disabled"
        @closed="closed"
        @before-open="beforeOpen(name)"
    >
        <div class="modal-content">
            <div v-if="head" class="modal-header">
                <h5 class="modal-title">
                    {{ title }}
                </h5>
                <button
                    v-if="!modal.disabled"
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                    @click="close()"
                >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div v-if="!head && !modal.disabled" style="position: relative;">
                <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                    style="position: absolute; top: 0; right: 0;z-index: 1;padding: .5rem 1rem;"
                    @click="close()"
                >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <slot />
            </div>
        </div>
    </modal>
</template>

<script>
import { mapState, mapActions } from 'vuex';
const MODAL_WIDTH = 456;

export default {
    name: 'ModalBasic',
    components: {
        //
    },
    props: {
        name: {
            type: [String],
            default: () => 'modal'
        },
        title: {
            type: [String],
            default: () => null
        },
        head: {
            type: [Boolean],
            default: () => true
        },
        description: {
            type: String,
            default: () => ''
        },
        scrollable: {
            type: Boolean,
            default: () => false
        },
        split: {
            type: Boolean,
            default: () => false
        },
        width: {
            type: [Number, String],
            default: () => '100%'
        },
        height: {
            type: [Number, String],
            default: () => null
        },
        transition: {
            type: [String],
            default: () => 'pop-out'
        },
        classContainer: {
            type: [String],
            default: () => 'null'
        },
        onShow: {
            type: Function,
            default: () => {}
        },
        onHide: {
            type: Function,
            default: () => {}
        },
    },
    data() {
        return {
            modalWidth: MODAL_WIDTH,
            minimize: false,
            tmpActive: null,
        };
    },
    computed: mapState({
        modal: state => state.modal,
    }),
    created() {
        if (this.width !== '100%') {
            const width = this.width;
            if (process.browser) {
                this.modalWidth = window.innerWidth < width
                    ? width / 2
                    : width;
            }
        } else {
            this.modalWidth = this.width;
        }
    },
    methods: {
        ...mapActions('app.modal', ['setActive', 'setCurrent']),
        close(name) {
            const self = this;
            const closeName = name !== undefined ? name : self.name;
            self.$modal.hide(closeName);
        },
        changeMinimize() {
            const self = this;
            self.minimize = !self.minimize;
        },
        closed() {
            const self = this;
            self.setActive(null);
            const current = self.modal.current;
            self.onHide();
            if (current !== null) {
                self.setActive(current);
                self.setCurrent(null);
            }
        },
        beforeOpen(name) {
            const self = this;
            const active = self.modal.active;
            if (active !== null) {
                self.close(active);
                self.setCurrent(name);
            } else {
                self.setActive(name);
            }
            self.onShow();
        }
    },
};
</script>
