<template>
    <BSidebar
        id="panel-comments"
        :title="'Комментарии'"
        shadow
        backdrop
        :class="[
            'pr--sidebar--panel',
            comments.loading ? 'is-loading' : '',
        ]"
        right
        @change="change"
    >
        <template #header="{ hide }">
            <div class="d-flex align-items-center justify-content-between w-100">
                <PanelBaseHead
                    :hide="hide"
                    :title="'Комментарии'"
                    :locale="null"
                />
            </div>
        </template>
        <template #default="{ hide }">
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <form @submit.prevent="actionComment">
                            <div class="form-group">
                                <label :class="`text-muted ml-2 mb-0 form-label`">
                                    Ваш комментарий
                                </label>
                                <b-form-textarea
                                    v-model="comment"
                                    :placeholder="`Комментарий`"
                                    :rows="4"
                                />
                            </div>
                            <div class="form-group">
                                <button type="submit" :class="['btn btn-primary', comments.pending ? 'is-loading' : '']">
                                    {{ $t('button.send') }}
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="col-12">
                        <div class="--comments">
                            <div v-for="comment in comments.data" :key="`comment_${comment.id}`">
                                <CommentCard :comment="comment" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>
        <template #footer="{ hide }">
            <div class="d-flex align-items-center p-3">
                <button class="btn btn-light" type="button" @click="hide">
                    Закрыть
                </button>
            </div>
        </template>
    </BSidebar>
</template>

<script>

import { mapActions, mapState } from 'vuex';
import PanelCommentsTabDefault from "./Tab/PanelCommentsTabDefault";
import PanelLanguagePicker from "../PanelLanguagePicker";
import PanelBaseHead from "../PanelBaseHead";
import {BTabs, BTab} from "bootstrap-vue/src/components/tabs";
import {BSidebar} from "bootstrap-vue/src/components/sidebar";
import CommentCard from "../../Base/Comment/Card/CommentCard";

export default {
    name: 'PanelComments',
    components: {
        BTabs,
        BTab,
        PanelCommentsTabDefault,
        PanelLanguagePicker,
        PanelBaseHead,
        BSidebar,
        CommentCard,
    },
    data() {
        return {
            comment: '',
        };
    },
    computed: mapState({
        comments: (state) => state.app.panel.comments,
        opened: (state) => state.app.panel.base.opened,
    }),
    watch: {
        'comments.created'() {
            if (this.comments.created) {
                this.fetchCommentsWithoutPending({
                    id: this.comments.id,
                    model: this.comments.model,
                });
                this.comment = '';
            }
        }
    },
    mounted() {
        //
    },
    methods: {
        ...mapActions('app/panel/base', ['fetchUpdate', 'setOpened', 'setLocale']),
        ...mapActions('app/panel/comments', ['fetchComments', 'fetchComment', 'fetchCommentsWithoutPending']),
        change(value) {
            this.$root.sidebarActions().bodyOverflowHidden(value);
            this.setOpened(value);
        },
        actionComment() {
            this.fetchComment({
                text: this.comment,
                id: this.comments.id,
                model: this.comments.model,
            });
        }
    }
};
</script>
