<template>
    <div class="row">
        <div class="col-12 pr--article--details __skeleton">
            <div class="--head">
                <div class="--category mb-4">
                    <SkeletonLinkGroup />
                    <SkeletonLinkAuthor />
                </div>
            </div>
            <div class="--title">
                <b-skeleton width="280px" height="38px" class="h1 mb-3" />
            </div>
            <div class="--text">
                <div>
                    <b-skeleton width="80%" height="18px" />
                    <b-skeleton width="60%" height="18px" />
                    <b-skeleton width="70%" height="18px" class="mb-0" />
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import { mapActions, mapState } from 'vuex';
import SkeletonLinkGroup from '../../Base/Link/SkeletonLinkGroup';
import SkeletonLinkAuthor from '../../Base/Link/SkeletonLinkAuthor';

export default {
    name: 'SkeletonArticleDetails',
    components: {
        SkeletonLinkGroup,
        SkeletonLinkAuthor,
    },
    props: {
    },
    data() {
        return {};
    },
    computed: mapState({
        //
    }),
    watch: {},
    mounted() {},
    methods: {
        //
    },
};
</script>

<style scoped lang="scss">

</style>
