.pr--lk--head {
    padding-top: 1rem;
    padding-bottom: 1rem;
    .--actions {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
    }
    .--text {
        //margin-bottom: 2.5rem;
    }
    .--published {
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
    h3 {
        @include media-breakpoint-down(sm) {
            font-size: $h4-font-size;
        }
    }
    .--personal-image {
        position: relative;
        border-radius: 50%;
        margin-right: 1rem;
        overflow: hidden;
        min-width: 150px;
        .btn {
            position: absolute;
            bottom: 0;
            margin: 0 auto;
            left: 0;
            width: 100%;
            background: $border-color;
            opacity: .3;
            overflow: hidden;
            transition: $transition-base;
            &:hover {
                opacity: .6;
            }
        }
        @include media-breakpoint-down(sm) {
            min-width: 60px;
        }
        img {
            width: 150px;
            height: 150px;
            @include media-breakpoint-down(sm) {
                width: 60px;
                height: 60px;
            }
        }
    }
}
.pr--group--head, .pr--category--head, .pr--user--head, .pr--lk--head {
    padding-top: 1rem;
    padding-bottom: 1rem;
    h3 {
        @include media-breakpoint-down(md) {
            font-size: $h4-font-size;
            margin-bottom: 0;
        }
        @include media-breakpoint-down(sm) {
            height: 23px;
            line-height: 23px;
            font-size: $h6-font-size;
        }
    }
    .b-skeleton {
        margin-bottom: 0;
        @include media-breakpoint-down(sm) {
            margin-bottom: .5rem;
        }
    }
    .--actions {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
    }
    .--text {
        p {
            margin-bottom: 0;
        }
        @include media-breakpoint-down(sm) {
            font-size: $font-size-sm;
        }
        //margin-bottom: 2.5rem;
    }
    .--published {
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
    .--image {
        img {
            width: 150px;
            height: 150px;
            @include media-breakpoint-down(sm) {
                width: 60px;
                height: 60px;
            }
        }
        .b-skeleton {
            width: 150px;
            height: 150px;
            @include media-breakpoint-down(sm) {
                width: 60px;
                height: 60px;
            }
        }
    }
    .--edit-image {
        position: relative;
        //border-radius: 50%;
        margin-right: 1rem;
        overflow: hidden;
        min-width: 150px;
        .btn {
            position: absolute;
            bottom: 0;
            margin: 0 auto;
            left: 0;
            width: 100%;
            background: $border-color;
            opacity: .3;
            overflow: hidden;
            transition: $transition-base;
            border-radius: 0;
            &:hover {
                opacity: .6;
            }
        }
        @include media-breakpoint-down(sm) {
            min-width: 60px;
        }
        img {
            width: 150px;
            height: 150px;
            @include media-breakpoint-down(sm) {
                width: 60px;
                height: 60px;
            }
        }
    }
    .--counters {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        bottom: .5rem;
        right: 1rem;
        @include media-breakpoint-down(sm) {
            position: relative;
            justify-content: flex-end;
            bottom: inherit;
            right: inherit;
            margin-top: 1rem;
        }
    }
}
.pr--group--description, .pr--category--description {
    .--text {
        p {
            margin-bottom: 0;
        }
        //margin-bottom: 2.5rem;
    }
}
