<template>
    <ul class="nav pr--journal--tabs __bordered __account">
        <li class="nav-item">
            <nuxt-link :to="i18nRoute().userGroupsEdit(group)" class="nav-link" :class="[$route.path.endsWith(i18nRoute().userGroupsEdit(group)) ? 'active' : '']">
                {{ $t('basic.basic-data') }}
            </nuxt-link>
        </li>
        <li class="nav-item">
            <nuxt-link :to="i18nRoute().userGroupTabMembers(group)" class="nav-link" :class="[$route.path.endsWith(i18nRoute().userGroupTabMembers(group)) ? 'active' : '']">
                {{ $t('basic.members') }} ({{ group.members.length }})
            </nuxt-link>
        </li>
        <li class="nav-item">
            <nuxt-link :to="i18nRoute().userGroupTabMembersAdd(group)" class="nav-link" :class="[$route.path.endsWith(i18nRoute().userGroupTabMembersAdd(group)) ? 'active' : '']">
                {{ $t('basic.member-add') }}
            </nuxt-link>
        </li>
    </ul>
</template>
<script>

export default {
    name: 'GroupSettingsTabs',
    components: {
    },
    props: {
        group: {
            type: [Object],
            default: () => {},
        }
    },
    data() {
        return {

        };
    },
    mounted() {

    },
    methods: {
    }
};
</script>

<style scoped>

</style>
