<template>
    <ul class="nav pr--journal--tabs __bordered __account">
        <li class="nav-item">
            <nuxt-link :to="i18nRoute().personalGroupArticles(group)" class="nav-link" :class="[$route.path.endsWith(i18nRoute().personalGroupArticles(group)) ? 'active' : '']">
                {{ $t('basic.publishes') }} ({{ groupArticles.data.length || 0 }})
            </nuxt-link>
        </li>
    </ul>
</template>
<script>

import { mapState } from 'vuex';

export default {
    name: 'GroupSettingsArticlesTabs',
    components: {
    },
    props: {
        group: {
            type: [Object],
            default: () => {},
        }
    },
    data() {
        return {

        };
    },
    computed: mapState({
        groupArticles: state => state.groups.articles,
    }),
    mounted() {

    },
    methods: {
    }
};
</script>

<style scoped>

</style>
