$mode-bg-color-dark: #091a28;
$mode-bg-color-light: #fff;
$mode-color-dark: #ebf4f1;
$mode-color-light: rgba(0,0,0,0.8);


body {
    background-color: $mode-bg-color-light;
    color: $mode-color-light;
}
.dark-mode body {
    background-color: $mode-bg-color-dark;
    color: $mode-color-dark;
    .pr--card--article {
        //background-color: #091a28;
    }
    .pr--header {
        background-color: $mode-bg-color-dark;
    }
}
.sepia-mode body {
    background-color: #f1e7d0;
    color: #433422;
}
