@import 'splitpanes/dist/splitpanes.css';



.pr--editor--preview-settings {
    width: 100%;
    background-color: #fff;
    height: 54px;
    position: sticky;
    top: 0;
    box-shadow: $box-shadow-sm;
    padding-right: 1rem;
    padding-left: 1rem;
    &--pdf {
        position: absolute;
        //top: calc(100vh - 54px - 54px - 1rem);
        top: calc(54px + .5rem);
        padding: .5rem;
        right: .5rem;
        //width: calc(100% - 3rem);
        background: #fff;
        box-shadow: $box-shadow-sm;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        opacity: .5;
        .btn-group:first-child {
            margin-bottom: .5rem;
        }
        //transition: $transition-base;
        &:hover {
            opacity: 1;
        }
        &.__zoomed {
            top: calc(54px + 1rem);
            right: 1.5rem;
        }
    }
}
