@import "vue-multiselect/dist/vue-multiselect.min.css";

.multiselect {
    height: $input-height;
    min-height: inherit;
    font-size: $font-size-base;
    border-radius: $custom-select-border-radius;
    border-color: $custom-select-border-color;
    &.is-danger {
        .multiselect__tags {
            border-color: $danger;
        }
    }
    .multiselect__content-wrapper {
        z-index: 3;
    }
    .multiselect__select {
        height: $input-height;
        z-index: 1;
    }
    &.multiselect--disabled {
        opacity: 1;
        //background-color: $custom-select-disabled-bg;
        //color: $custom-select-disabled-color;
        .multiselect__single {
            background-color: $custom-select-disabled-bg;
            color: #495057;
        }
        .multiselect__select {
            background-color: $custom-select-disabled-bg;
            color: #495057;
            height: calc(1.5em + 0.75rem + 2px - 2px);
        }
    }
    //.multiselect__input {
    //    display: none;
    //}
    .multiselect__selected-values {
        //margin: 6px;
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        //padding-right: 24px;
        padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    }
    .multiselect__content-wrapper {
        border-color: $input-border-color;
        //border-top-left-radius: $border-radius-sm;
        //border-top-right-radius: $border-radius-sm;
    }
    .multiselect__spinner {
        height: calc(#{$input-height} - 2px);
        width: 40px;
        z-index: 2;
        background-color: #fff;
    }
    .multiselect__tags {
        height: $input-height;
        min-height: inherit;
        font-size: $font-size-base;
        padding: 0;
        border-color: $input-border-color;
        border-radius: $custom-select-border-radius;
        .multiselect__tag {
            font-size: $font-size-base;
            margin: 6px;
            border-radius: $border-radius-sm;
            background-color: $white;
            color: $dark;
        }
        .multiselect__tag-icon {
            border-radius: $border-radius-sm;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
        .multiselect__tag-icon:after {
            color: $dark;
        }
        .multiselect__tag-icon:focus, .multiselect__tag-icon:hover {
            background-color: $white;
        }
    }
    .multiselect__option--highlight {
        background: $primary;
    }
    .multiselect__single {
        font-size: $font-size-base;
        padding: $input-padding-y $input-padding-x;
        margin: 0;
        line-height: inherit;

        padding-right: $input-padding-x * 3;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .multiselect__placeholder {
        font-size: $font-size-base;
        padding: $input-padding-y $input-padding-x;
        color: $input-color;
        font-weight: $input-font-weight;
    }
    .multiselect__input {
        font-size: $font-size-base;
        padding: 0.375rem 0.75rem;
        margin-bottom: 0;
        margin-top: 1px;
    }
    .multiselect__option--selected.multiselect__option--highlight {
        background-color: #fff;
        color: $dark;
    }
    .multiselect__select:before {
        z-index: 2;
    }
    &--active {
        z-index: 2;
    }
    .multiselect__tags {
        .multiselect__strong {
            font-weight: $font-weight-base;
            margin-top: 8px;
        }
    }
}
.pr--multiselect--tags {
    &.multiselect--active {
        z-index: 3;
        .multiselect__selected-values {
            position: absolute;
            top: 1px;
            overflow: hidden;
            width: 100%;
        }
        position: relative;
        //.multiselect__input {
        //    font-size: $font-size-base;
        //    padding: 0.375rem 0.75rem;
        //    margin-bottom: 0;
        //    margin-top: 34px;
        //    height: calc(100% + 2px);
        //    width: calc(100% + 2px);
        //    background-color: #fff;
        //    z-index: 2;
        //    box-shadow: $box-shadow-sm;
        //}
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #fff;
            border: 1px solid $border-color;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            //margin-top: -1px;
            border-top: none;
            z-index: 1;
        }
    }
    .multiselect__content-wrapper {
        //margin-top: 35px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        .multiselect__element {
            .multiselect__option {
                &.multiselect__option--highlight {
                    background: $gray-200;
                    color: $dark;
                    &:after {
                        background: transparent;
                        color: $success;
                    }
                }
                &.multiselect__option--selected.multiselect__option--highlight {
                    background: $gray-200;
                    //background: #f3f3f3;
                    //color: $danger;
                    &:after {
                        background: transparent;
                        color: $danger;
                    }
                }
                &:after {
                    font-weight: normal;
                }
            }
        }
    }
}
.pr--multiselect {
    .multiselect__placeholder {
        cursor: default;
    }
    &.__searchable {
        .multiselect__content-wrapper {
            margin-top: 35px;
        }
        .multiselect__placeholder {
            cursor: text;
        }
    }
    &.multiselect--active {
        z-index: 3;
        .multiselect__placeholder {
            display: block;
        }
        .multiselect__selected-values {
            position: absolute;
            top: 1px;
            overflow: hidden;
            width: 100%;
        }
        position: relative;
        .multiselect__input {
            font-size: $font-size-base;
            padding: 0.375rem 0.75rem;
            margin-bottom: 0;
            margin-top: 34px;
            height: calc(100% + 2px);
            width: calc(100% + 2px);
            background-color: #fff;
            z-index: 2;
            box-shadow: $box-shadow-sm;
        }
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #fff;
            border: 1px solid $border-color;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            //margin-top: -1px;
            border-top: none;
            z-index: 1;
        }
    }
    &.multiselect--above {
        &:after {
            display: none;
        }
    }
    .multiselect__content-wrapper {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        .multiselect__element {
            .multiselect__option {
                &.multiselect__option--highlight {
                    background: $gray-200;
                    color: $dark;
                    &:after {
                        background: transparent;
                        color: $success;
                    }
                }
                &.multiselect__option--selected.multiselect__option--highlight {
                    background: $gray-200;
                    //background: #f3f3f3;
                    //color: $danger;
                    &:after {
                        background: transparent;
                        color: $danger;
                    }
                }
                &:after {
                    font-weight: normal;
                }
            }
        }
    }
}
