@import 'vue2-datepicker/index.css';

.mx-datepicker {
    width: 100%;
}
.mx-input {
    border-color: $input-border-color;
}
.mx-input:focus, .mx-input:hover {
    border-color: $input-border-color;
}
.mx-datepicker.is-danger .mx-input {
    border-color: $danger;
}
.mx-input:focus {
    box-shadow: $input-focus-box-shadow;
    border-color: $input-focus-border-color;
    transition: $input-transition;
}
.mx-input:disabled, .mx-input.disabled {
    opacity: 1;
    color: $input-color;
    background-color: $input-disabled-bg;
    border-color: $input-border-color;
    cursor: default;
}
