//@import '~markdown-it-vue/dist/markdown-it-vue.css';

.markdown-body {
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: $body-color;
    font-family: $font-family-sans-serif;
}
