.vue-js-switch {
    .v-switch-core {
        background-color: $gray-500;
    }
    &.toggled {
        .v-switch-core {
            background-color: $primary;
        }
        &.text-success {
            .v-switch-core {
                background-color: $success;
            }
        }
        &.text-danger {
            .v-switch-core {
                background-color: $danger;
            }
        }
    }
    .v-switch-label {
        &.v-left {

        }
        &.v-right {

        }
    }
}
