.vb {
    .vb-dragger {
        visibility: hidden;
    }
    &:hover {
        .vb-dragger {
            visibility: visible;
        }
    }
}

.vb > .vb-dragger {
    z-index: 5;
    width: 12px;
    right: 0;
}

.vb > .vb-dragger > .vb-dragger-styler {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotate3d(0,0,0,0);
    transform: rotate3d(0,0,0,0);
    transition: $transition-base;
    background-color: rgba(33, 37, 41, .1);
    margin: 5px 5px 40px 0;
    //border-radius: 20px;
    height: calc(100% - 45px);
    display: block;
}

.vb.vb-scrolling-phantom > .vb-dragger > .vb-dragger-styler {
    background-color: rgba(33, 37, 41, .3);
}

.vb > .vb-dragger:hover > .vb-dragger-styler {
    background-color: rgba(33, 37, 41, .5);
    //margin: 0;
    //height: calc(100% - 10px);
}

.vb.vb-dragging > .vb-dragger > .vb-dragger-styler {
    background-color: rgba(33, 37, 41, .5);
    //margin: 0;
    //height: calc(100% - 10px);
}

.vb.vb-dragging-phantom > .vb-dragger > .vb-dragger-styler {
    background-color: rgba(33, 37, 41, .5);
}
