@import 'vue-plyr/dist/vue-plyr.css';

.plyr {
    .plyr__controls {
        .plyr__control[data-plyr="play"], .plyr__control[data-plyr="mute"], .plyr__control[data-plyr="settings"] {
            &:hover {
                //background-color: #fff;
                //color: $primary;
            }
        }
        input[type="range"] {
            //color: $primary;
        }
    }
}
