@import 'tippy.js/themes/light.css';
@import 'tippy.js/themes/light-border.css';
@import 'tippy.js/themes/google.css';
@import 'tippy.js/themes/translucent.css';


.tippy-popover {
    background-color: tomato;
    color: yellow;
}

.popover-theme {
    background-color: #fff;
    color: $dark;
    border: $border-width solid $border-color;
    padding: 1rem;
}

.popover {
    border: $border-width solid $border-color;
    border-radius: $border-radius-sm;

    .arrow {
        &:after {
            border-bottom-color: $border-color;
            border-top-color: $border-color;
        }

        &:before {
            border-bottom-color: $border-color;
            border-top-color: $border-color;
        }

    }
}
