@import 'vue-json-viewer/style.css';

.jv-container .jv-code {
    padding: 1rem !important;
    background-color: $gray-100;
}

.jv-container.jv-light {
    font-size: $font-size-base !important;
    // font-family: $font-family-base !important;
}
