@import "vue2-editor/dist/vue2-editor.css";

/* Import the Quill styles you want */
@import 'quill/dist/quill.core.css';
@import 'quill/dist/quill.bubble.css';
@import 'quill/dist/quill.snow.css';


.ql-toolbar {
    border-color: $input-border-color !important;
    border-top-left-radius: $input-border-radius;
    border-top-right-radius: $input-border-radius;
    button {
        //padding: $btn-padding-y $btn-padding-x !important;
        svg {
            width: 18px !important;
            height: 18px !important;
        }
        &.ql-active {
            //background-color: $light !important;
            //color: $dark !important;
            //border: 1px solid $input-border-color !important;
            //border-radius: $btn-border-radius !important;
            //svg {
            //    color: $dark !important;
            //}
        }
    }
    .ql-formats {
        margin-bottom: 0 !important;
    }
    padding: .25rem .5rem !important;
}
.ql-container {
    border-color: $input-border-color !important;
    border-bottom-left-radius: $input-border-radius;
    border-bottom-right-radius: $input-border-radius;
    font-family: $font-family-sans-serif !important;
    font-size: $font-size-base !important;
    line-height: $line-height-base !important;
}
.ql-editor {
    font-family: $font-family-sans-serif !important;
    font-size: $font-size-base !important;
    line-height: $line-height-base !important;
}
.quillWrapper {
    &.quillWrapper--textarea {
        .ql-editor {
            min-height: 110px;
        }
    }
    &.quillWrapper--description {
        .ql-editor {
            min-height: 200px;
        }
    }
}
