@import 'vue-js-modal/dist/styles.css';

.vm--modal {
    text-align: left;
}

.vm--overlay {
    transition: all .1s ease-out;
}

//@import '~vue/../../resources/sass/variables';
.v--modal {
    .title-bar {
        button {
            width: 12px;
            min-width: 12px;
            height: 12px;
            border-radius: 50%;
            display: inline-block;
            margin: 3px 0 0 0;
            padding: 0;
            position: absolute;

            &:hover {
                i {
                    display: block;
                }
            }

            i {
                display: none;
                font-size: 8px;
                position: absolute;
                top: 1px;
                left: 1px;
            }

            outline: none;
            left: 8px;

            &:nth-child(2) {
                left: 25px;
            }

            &.close {
                background: #ff5c5c;
                border: 1px solid #e33e41;

                &:hover {
                    background: #c14645;
                    border: 1px solid #b03537;
                }
            }

            &.minimize {
                background: #ffbd4c;
                border: 1px solid #e09e3e;

                &:hover {
                    background: #c08e38;
                    border: 1px solid #af7c33;
                }
            }
        }
    }
}

.v--modal-minimize {
    .row-box-split {
        display: none;
    }

    .row-box {
        display: none;
    }

    .v--modal {

    }
}

.window-header {
    background-color: #113049;
    z-index: 14100;
    display: inline-block;
    width: 100%;
    padding: 0px 5px;
    cursor: move;
    color: #fff;
    text-align: center;
    /*font-weight: bold;*/
}

.title-bar {
    background: linear-gradient(top, #ebebeb, #d5d5d5);
    color: #4d494d;
    font-size: 11pt;
    line-height: 20px;
    text-align: center;
    width: 100%;
    border-top: 1px solid #f3f1f3;
    //border-bottom: 1px solid #b1aeb1;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    user-select: none;
    cursor: default;
    padding-bottom: 3px;
    display: inline-block;
    padding-top: 3px;
}

/*.buttons {*/
/*padding-left: 8px;*/
/*!*padding-top: 3px;*!*/
/*float: left;*/
/*!*line-height: 0px;*!*/
/*}*/
