<template>
    <div class="container">
        <div class="row mb-3 rounded-sm-bottom shadow-sm" style="background-color: #fff;">
            <div class="col-12">
                <div class="pr--category--head">
                    <div class="d-flex align-items-start justify-content-start">
                        <div class="--image mr-3">
                            <b-skeleton class="mb-0" />
                        </div>
                        <div>
                            <b-skeleton width="280px" height="28px" class="h3 mb-2" />
                            <div class="--text">
                                <b-skeleton width="90%" height="18px" />
                                <b-skeleton width="70%" height="18px" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import { mapActions, mapState } from 'vuex';

export default {
    name: 'SkeletonCategoryDetails',
    components: {
    },
    props: {
    },
    data() {
        return {};
    },
    computed: mapState({
        //
    }),
    watch: {},
    mounted() {},
    methods: {
        //
    },
};
</script>

<style scoped lang="scss">

</style>
