<template>
    <b-sidebar
        :id="name"
        :title="title"
        shadow
        backdrop
        :visible="visible"
        :no-close-on-route-change="name === 'menu-search-filters'"
    >
        <template #default="{ hide }">
            <slot name="body" />
        </template>
    </b-sidebar>
</template>

<script>
import { mapState } from 'vuex';

export default {
    name: 'SidebarBasic',
    props: {
        name: {
            type: String,
            default: () => 'menu'
        },
        title: {
            type: String,
            default: () => 'MODAL'
        },
        visible: {
            type: Boolean,
            default: () => false
        },
    },
    data() {
        return {

        };
    },
    computed: mapState({

    }),
    created() {
    },
    methods: {

    },
};
</script>

<style scoped lang="scss">
</style>
