<template>
    <b-sidebar
        id="sidebar-mobile"
        :title="$t('basic.menu')"
        shadow
        backdrop
        class="pr--sidebar--mobile"
        @change="toggleBodyScrollbar"
    >
        <template #default="{ hide }">
            <div class="">
                <ul class="nav pr-nav flex-column">
                    <li class="nav-item">
                        <nuxt-link :to="i18nRoute().index()" class="nav-link" :class="[$route.path.endsWith(i18nRoute().index()) ? 'active' : '']">
                            {{ i18nTitle().feed() }}
                        </nuxt-link>
                    </li>
                    <li class="nav-item">
                        <nuxt-link v-if="$auth.loggedIn" :to="i18nRoute().my()" class="nav-link" :class="[$route.path.endsWith(i18nRoute().my()) ? 'active' : '']">
                            {{ i18nTitle().my() }}
                        </nuxt-link>
                    </li>
                </ul>
                <div v-if="$auth.loggedIn" class="title-uppercase pt-1 pb-1 pr-3 pl-3">
                    {{ $t('basic.new-record') }}
                </div>
                <ul v-if="$auth.loggedIn" class="nav pr-nav flex-column">
                    <li class="nav-item">
                        <nuxt-link :to="i18nRoute().personalNewArticle()" class="nav-link">
                            {{ $t('basic.article') }}
                        </nuxt-link>
                    </li>
                    <li class="nav-item">
                        <nuxt-link :to="i18nRoute().personalNewEvent()" class="nav-link">
                            {{ $t('basic.event') }}
                        </nuxt-link>
                    </li>
                </ul>
                <div class="title-uppercase pt-1 pb-1 pr-3 pl-3">
                    {{ $t('basic.categories') }}
                </div>
                <ul class="nav pr-nav flex-column">
                    <li v-for="category in data.categories" :key="category.id" class="nav-item">
                        <nuxt-link :to="i18nRoute().category(category)" class="nav-link">
                            <img :src="category.image" :alt="category.title" class="mr-1 pr--image--model __sm">
                            {{ category.title }}
                        </nuxt-link>
                    </li>
                </ul>
                <div class="title-uppercase pt-1 pb-1 pr-3 pl-3">
                    {{ $t('basic.groups') }}
                </div>
                <ul class="nav pr-nav flex-column">
                    <li v-for="group in data.groups" :key="group.id" class="nav-item">
                        <nuxt-link :to="i18nRoute().group(group)" class="nav-link">
                            <img :src="group.image" :alt="group.title" class="mr-1 pr--image--model __sm">
                            {{ group.title }}
                        </nuxt-link>
                    </li>
                </ul>
                <div class="title-uppercase pt-1 pb-1 pr-3 pl-3">
                    {{ $t('basic.other') }}
                </div>
                <ul class="nav pr-nav flex-column">
                    <li v-for="(page, key) in data.pages" :key="`page-${key}`" class="nav-item">
                        <nuxt-link :to="i18nRoute().page(page)" class="nav-link">
                            {{ i18nTitle().page(page) }}
                        </nuxt-link>
                    </li>
                </ul>
            </div>
        </template>
        <!--        <template #footer="{ hide }">-->
        <!--            <div class="d-flex align-items-center justify-content-center pb-3">-->
        <!--                hi-->
        <!--            </div>-->
        <!--        </template>-->
    </b-sidebar>
</template>

<script>

import { mapActions, mapState } from 'vuex';

export default {
    name: 'SidebarMobile',
    components: {
        //
    },
    data() {
        return {

        };
    },
    computed: mapState({
        config: state => state.app.data.config,
        data: state => state.app.data.data,
    }),
    mounted() {

    },
    methods: {
        toggleBodyScrollbar(visible) {
            this.sidebarActions().bodyOverflowHidden(visible);
        },
    }
};
</script>

<style scoped>

</style>
