<template>
    <BSidebar
        id="sidebar-notifications"
        :title="$t('basic.notifications')"
        shadow
        backdrop
        class="pr--sidebar--notifications"
        right
        @change="change"
    >
        <template #default="{ hide }">
            <div
                v-if="notifications.pending"
                class="pr--notification--list mb-3"
            >
                <BasePreloader :height="40" />
            </div>
            <div
                v-if="!notifications.pending && notifications.data.length !== 0"
                class="pr--notification--list mb-3"
            >
                <NotificationCardBasic
                    v-for="(notification, key) in notifications.data"
                    :key="key"
                    :notification="notification"
                />
            </div>
            <div
                v-if="!notifications.pending && notifications.data.length === 0"
                class="text-center"
            >
                {{ $t('basic.empty-list-notifications') }}
            </div>
        </template>
    </BSidebar>
</template>

<script>

import { mapActions, mapState } from 'vuex';
import NotificationCardBasic from "../../Notification/Card/NotificationCardBasic";
import BasePreloader from "../BasePreloader";
import {BSidebar} from "bootstrap-vue/src/components/sidebar";

export default {
    name: 'SidebarNotifications',
    components: {
        NotificationCardBasic,
        BasePreloader,
        BSidebar
    },
    data() {
        return {

        };
    },
    computed: mapState({
        notifications: (state) => state.user.notifications.list,
    }),
    mounted() {

    },
    methods: {
        ...mapActions('user/notifications/list', ['fetchNotifications']),
        ...mapActions('user/notifications/counters', ['clearNotificationsCounters']),
        change(visible) {
            const self = this;
            self.$root.sidebarActions().bodyOverflowHidden(visible);
            if (visible) {
                self.clearNotificationsCounters();
                self.fetchNotifications();
            }
        }
    }
};
</script>

<style scoped>

</style>
