<template>
    <b-sidebar
        id="sidebar-article-settings"
        :title="$t('modal.editor.settings.title')"
        right
        shadow
        sidebar-class="pr--sidebar--editor"
        :visible="sidebar.active === sidebar.names.article_settings"
        @change="sidebarChange"
        @hidden="hidden"
    >
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label class="text-muted ml-2 mb-0 form-label">{{ $t('fields.type') }} <i class="r">*</i></label>
                        <b-form-select
                            v-model="form.type"
                            :options="data.types"
                            value-field="name"
                            text-field="title"
                            :class="{'is-danger': errors.type !== undefined}"
                            @change="change"
                        >
                            <template #first>
                                <b-form-select-option :value="null" disabled>
                                    {{ $t('fields.type-select-disabled') }}
                                </b-form-select-option>
                            </template>
                        </b-form-select>
                        <FormError :error="errors.type" />
                    </div>
                </div>
                <div v-if="visible" class="col-12">
                    <FormSelectSearch
                        :field="{
                            title: $t('fields.category'),
                            key: 'category_id',
                            model: 'categories',
                            value: form.categoryObject,
                            values: search.options.categories,
                            disabled: false,
                            multiple: false,
                            id: form.categoryObject !== undefined && form.categoryObject !== null ? form.categoryObject.id : null,
                        }"
                        :required="true"
                        :errors="errors"
                        :on-change="changeCategories"
                        :on-values-change="changeCategoriesValues"
                    />
<!--                    <div class="form-group">-->
<!--                        <label class="text-muted ml-2 mb-0 form-label">{{ $t('fields.category') }} <i class="r">*</i></label>-->
<!--                        <b-form-select-->
<!--                            v-model="form.category_id"-->
<!--                            :options="data.categories"-->
<!--                            value-field="id"-->
<!--                            text-field="title"-->
<!--                            :class="{'is-danger': errors.category_id !== undefined}"-->
<!--                            @change="change"-->
<!--                        >-->
<!--                            <template #first>-->
<!--                                <b-form-select-option :value="null" disabled>-->
<!--                                    {{ $t('fields.category-select-disabled') }}-->
<!--                                </b-form-select-option>-->
<!--                            </template>-->
<!--                        </b-form-select>-->
<!--                        <FormError :error="errors.category_id" />-->
<!--                    </div>-->
                </div>
                <div v-if="visible" class="col-12">
                    <FormSelectSearch
                        :field="{
                            title: $t('fields.group'),
                            key: 'group_id',
                            model: 'groups',
                            value: form.groupObject,
                            values: search.options.groups,
                            disabled: false,
                            multiple: false,
                            user_id: $auth.user.id,
                            id: form.groupObject !== undefined && form.groupObject !== null ? form.groupObject.id : null,
                        }"
                        :required="true"
                        :errors="errors"
                        :on-change="changeGroups"
                        :on-values-change="changeGroupsValues"
                    />
<!--                    <div class="form-group">-->
<!--                        <label class="text-muted ml-2 mb-0 form-label">{{ $t('fields.group') }} <i class="r">*</i></label>-->
<!--                        <b-form-select-->
<!--                            v-model="form.group_id"-->
<!--                            :options="$auth.user.groups"-->
<!--                            value-field="id"-->
<!--                            text-field="title"-->
<!--                            :class="{'is-danger': errors.group_id !== undefined}"-->
<!--                            @change="change"-->
<!--                        >-->
<!--                            <template #first>-->
<!--                                <b-form-select-option :value="null" disabled>-->
<!--                                    {{ $t('fields.group-select-disabled') }}-->
<!--                                </b-form-select-option>-->
<!--                            </template>-->
<!--                        </b-form-select>-->
<!--                        <FormError :error="errors.group_id" />-->
<!--                    </div>-->
                </div>
                <div class="col-12">
                    <FormSelectTags
                        :field="{
                            title: $t('fields.tags'),
                            key: 'tags',
                            model: 'tags',
                            value: form.tagsArray,
                            values: search.options.tags,
                            disabled: false,
                            user_id: $auth.user.id,
                            limit: 2,
                        }"
                        :required="false"
                        :editable="true"
                        :errors="errors"
                        :on-change="changeTags"
                        :on-values-change="changeTagsValues"
                    />
<!--                    <div class="form-group">-->
<!--                        <label class="text-muted ml-2 mb-0 form-label">{{ $t('fields.tags') }}</label>-->
<!--                        <Multiselect-->
<!--                            class="pr&#45;&#45;multiselect&#45;&#45;tags"-->
<!--                            v-model="form.tagsArray"-->
<!--                            :options="data.tags"-->
<!--                            :placeholder="$t('fields.tags-placeholder')"-->
<!--                            tag-placeholder=""-->
<!--                            :limit="2"-->
<!--                            :show-labels="false"-->
<!--                            :allow-empty="true"-->
<!--                            :multiple="true"-->
<!--                            :searchable="true"-->
<!--                            track-by="id"-->
<!--                            label="title"-->
<!--                            :taggable="true"-->
<!--                            :loading="tagSearchLoading"-->
<!--                            :internal-search="false"-->
<!--                            :clear-on-select="false"-->
<!--                            :close-on-select="false"-->
<!--                            :show-no-results="true"-->
<!--                            open-direction="bottom"-->
<!--                            :limit-text="(count) => `и еще ${count}`"-->
<!--                            @select="change"-->
<!--                            @remove="change"-->
<!--                            @search-change="asyncFind"-->
<!--                        >-->
<!--                            <template #noResult>-->
<!--                                {{ $t('basic.search.search-empty-results') }}-->
<!--                            </template>-->
<!--                            <template #noOptions>-->
<!--                                {{ $t('basic.empty-list') }}-->
<!--                            </template>-->
<!--                            &lt;!&ndash;                            <template #selection>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                <span class="multiselect__single">Выбрано {{ form.tags.length }} тэгов</span>&ndash;&gt;-->
<!--                            &lt;!&ndash;                            </template>&ndash;&gt;-->
<!--                        </Multiselect>-->
<!--                        <FormError :error="errors.tags" />-->
<!--                    </div>-->
                </div>
                <div v-if="form.type === 'event'" class="col-12">
                    <div class="form-group">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="mr-1 w-50">
                                <label class="text-muted ml-2 mb-0 form-label">{{ $t('fields.event-from') }} <i class="r">*</i></label>
                                <date-picker
                                    v-model="form.start_at"
                                    type="date"
                                    :placeholder="$t('fields.date-event-from-placeholder')"
                                    :formatter="momentFormat"
                                    value-type="format"
                                    :disabled-date="disabledDateFrom"
                                    :class="{'is-danger': errors.start_at !== undefined}"
                                    @change="change"
                                />
                            </div>
                            <div class="w-50">
                                <label class="text-muted ml-2 mb-0 form-label">{{ $t('fields.event-to') }} </label>
                                <date-picker
                                    v-model="form.finish_at"
                                    type="date"
                                    :placeholder="$t('fields.date-event-to-placeholder')"
                                    :formatter="momentFormat"
                                    value-type="format"
                                    :disabled="form.start_at === null"
                                    :disabled-date="disabledDateTo"
                                    :class="{'is-danger': errors.finish_at !== undefined}"
                                    @change="change"
                                />
                            </div>
                        </div>
                        <FormError :error="errors.start_at" />
                        <FormError :error="errors.finish_at" />
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <b-form-checkbox
                            v-model="form.commented"
                            name="checkbox-commented"
                            @change="change"
                        >
                            {{ $t('fields.article-commented') }}
                        </b-form-checkbox>
                        <b-form-checkbox
                            v-model="form.access_all"
                            name="checkbox-access_all"
                            @change="change"
                        >
                            {{ $t('fields.article-access-all') }}
                        </b-form-checkbox>
                    </div>
                </div>
                <div class="col-12">
                    <div v-if="store.success" class="text-success mr-3">
                        <font-awesome-icon icon="check" class="mr-1" />
                        {{ $t('button.save-success') }}
                    </div>
                </div>
            </div>
        </div>
    </b-sidebar>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import moment from 'moment';
import commonForm from '../../../plugins/common/commonForm';
import FormSelectSearch from '../Form/FormSelectSearch';
import FormSelectTags from '../Form/FormSelectTags';

export default {
    name: 'SidebarEditorSettings',
    components: {
        FormSelectSearch,
        FormSelectTags,
    },
    props: {
        article: {
            type: [Object],
            default: () => null,
        },
    },
    data() {
        return {
            visible: false,
            tagSearchLoading: false,
            timer: null,
            momentFormat: {
                // Date to String
                stringify: (date) => {
                    return date ? moment(date).format('YYYY-MM-DD') : '';
                },
                // String to Date
                parse: (value) => {
                    return value ? moment(value, 'YYYY-MM-DD').toDate() : null;
                },
            },
        };
    },
    computed: mapState({
        config: state => state.data.data.config,
        app: state => state.app,
        data: state => state.app.data.data,
        store: state => state.user.articles.store,
        form: state => state.user.articles.store.form,
        errors: state => state.user.articles.store.errors,
        sidebar: state => state.app.sidebar,
        blocks: state => state.app.editor.data.blocks,
        search: state => state.search,
    }),
    watch: {},
    mounted() {
        //this.fetchTags();
        //
        //console.log(this.data);
    },
    methods: {
        ...mapActions('user/articles/store', ['fetchSave']),
        //...mapActions('data/tags', ['fetchTags']),
        hidden() {
            this.sidebarActions().close();
        },
        change() {
            const self = this;
            if (self.article !== null) {
                self.timer = commonForm.formTimeout(self.timer, () => {
                    self.fetchSave({
                        blocks: self.blocks,
                    });
                }, 2000);
            }
        },
        disabledDateFrom(date, currentValue) {
            return moment(date).isBefore(moment());
            //console.log(date, currentValue);
        },
        disabledDateTo(date, currentValue) {
            return moment(date).isBefore(moment(this.form.start_at).add('days', 1));
        },
        asyncFind() {
            // const self = this;
            // self.tagSearchLoading = true;
            // self.options = [];
            // setTimeout(function () {
            //     self.tagSearchLoading = false;
            //     self.options = [{ id: '1', title: 'google' }, { id: '2', title: 'yandex' }, { id: '3', title: 'google3' }, { id: '4', title: 'yandex4' }];
            // }, 2000);
        },
        changeTags(array) {
            const self = this;
            self.form.tagsArray = array;
        },
        changeTagsValues(values) {
            const self = this;
            self.search.options.tags = values;
        },
        changeGroups(object) {
            const self = this;
            self.form.groupObject = object;
            self.form.group_id = object !== null ? object.id : null;
        },
        changeGroupsValues(values) {
            const self = this;
            self.search.options.groups = values;
        },
        changeCategories(object) {
            const self = this;
            self.form.categoryObject = object;
            self.form.category_id = object !== null ? object.id : null;
        },
        changeCategoriesValues(values) {
            const self = this;
            self.search.options.categories = values;
        },
        sidebarChange(visible) {
            console.log('visible', visible);
            this.visible = visible;
            this.$forceUpdate();
        }
    },
};
</script>
