<template>
    <BSidebar
        id="sidebar-edit"
        :title="'Редактировать'"
        shadow
        backdrop
        class="pr--sidebar--panel"
        right
    >
        <template #default="{ hide }">
            <div class="col-12">
                <BTabs
                    nav-class="pr--tabs--line-border __bordered"
                    content-class="mt-3"
                >
                    <BTab
                        title="Данные"
                        active
                    >
                        <FormByFields
                            v-if="item !== null && fields !== null"
                            :model="model"
                            :pending="false"
                            :item="item"
                            :fields="fields"
                        />
                    </BTab>
                    <BTab title="Пароль">
                        <p>I'm the second tab</p>
                    </BTab>
                    <BTab
                        title="Изображение"
                        disabled
                    >
                        <p>I'm a disabled tab!</p>
                    </BTab>
                </BTabs>
            </div>
        </template>
        <template #footer="{ hide }">
            <div class="d-flex align-items-center p-3">
                <button
                    :class="[
                        'btn btn-primary mr-2',
                        pending ? 'is-loading' : '',
                    ]"
                    type="button"
                    @click="submitButton"
                >
                    Сохранить
                </button>
                <button
                    class="btn btn-light"
                    type="button"
                    @click="hide"
                >
                    Отменить
                </button>
            </div>
        </template>
    </BSidebar>
</template>

<script>

import { mapActions, mapState } from 'vuex';
import FormByFields from "../../Form/FormByFields";
import {BTabs, BTab} from "bootstrap-vue/src/components/tabs";
import {BSidebar} from "bootstrap-vue/src/components/sidebar";

export default {
    name: 'SidebarEdit',
    components: {
        FormByFields,
        BTabs,
        BTab,
        BSidebar
    },
    data() {
        return {
            //
        };
    },
    computed: mapState({
        model: (state) => state.app.panel.base.model,
        item: (state) => state.app.panel.base.item,
        fields: (state) => state.app.panel.base.fields,
        form: (state) => state.app.panel.base.form,
        pending: (state) => state.app.panel.base.pending,
    }),
    mounted() {
        //
    },
    methods: {
        ...mapActions('app/panel/base', ['fetchUpdate']),
        submitButton() {
            const self = this;
            self.fetchUpdate();
        },
        submit() {
            console.log('submit');
        }
    }
};
</script>

<style scoped>

</style>
