<template>
    <BSidebar
        id="sidebar-create"
        :title="'Создать'"
        shadow
        backdrop
        class="pr--sidebar--panel"
        right
        @change="change"
    >
        <template #default="{ hide }">
            <div class="col-12">
                <BTabs
                    nav-class="pr--tabs--line-border __bordered"
                    content-class="mt-3"
                >
                    <BTab
                        title="Данные"
                        active
                    >
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input
                                        id="exampleInputEmail1"
                                        type="email"
                                        class="form-control"
                                        aria-describedby="emailHelp"
                                    >
                                    <small
                                        id="emailHelp"
                                        class="form-text text-muted"
                                    >We'll never share your email with anyone else.</small>
                                </div>
                            </div>
                        </div>
                    </BTab>
                    <BTab title="Пароль">
                        <p>I'm the second tab</p>
                    </BTab>
                    <BTab
                        title="Изображение"
                        disabled
                    >
                        <p>I'm a disabled tab!</p>
                    </BTab>
                </BTabs>
            </div>


            <div
                v-for="(key, item) in [1, 2, 3, 4, 5, 6, 7, 8, 9]"
                :key="key"
                class="col-12"
            />
        </template>
        <template #footer="{ hide }">
            <div class="d-flex align-items-center p-3">
                <button
                    class="btn btn-primary mr-2"
                    type="button"
                    @click="hide"
                >
                    Сохранить
                </button>
                <button
                    class="btn btn-light"
                    type="button"
                    @click="hide"
                >
                    Отменить
                </button>
            </div>
        </template>
    </BSidebar>
</template>

<script>

import { mapActions, mapState } from 'vuex';
import {BTabs, BTab} from "bootstrap-vue/src/components/tabs";
import {BSidebar} from "bootstrap-vue/src/components/sidebar";

export default {
    name: 'SidebarCreate',
    components: {
        BTabs,
        BTab,
        BSidebar,
        //NotificationCardBasic,
    },
    data() {
        return {
            tabs: [
                {
                    index: 0,
                    data: {

                    },
                }
            ],
        };
    },
    computed: mapState({
        //config: state => state.app.data.config,
        //notifications: state => state.user.notifications.list,
        //articles: state => state.feed.articles,
    }),
    mounted() {

    },
    methods: {
        //...mapActions('user/notifications/list', ['fetchNotifications']),
        //...mapActions('user/notifications/counters', ['clearNotificationsCounters']),
        change(visible) {
            // const self = this;
            // self.sidebarActions().bodyOverflowHidden(visible);
            // if (visible) {
            //     self.clearNotificationsCounters();
            //     self.fetchNotifications();
            // }
        }
    }
};
</script>

<style scoped>

</style>
