<template>
    <BSidebar
        id="sidebar-settings"
        :title="$t('basic.settings')"
        shadow
        backdrop
        class="pr--sidebar--settings"
        right
    >
        <template #default="{ hide }">
            <div v-for="(group, key) in dev.actions" :key="key" class="mb-3">
                <div class="col-12">
                    <label :class="`text-muted ml-2 mb-0 form-label`">
                        {{ group.title }}
                    </label>
                    <hr class="mt-1">
                </div>
                <div class="col-12">
                    <button
                        v-for="(field, key) in group.fields"
                        :key="`field-${key}`"
                        type="button"
                        :class="`btn btn-${field.type} mr-1 ${action.pending && action.action === field.action ? 'is-loading' : ''}`"
                        @click="actionAction(field.action, field.callback)"
                    >
                        {{ field.title }}
                    </button>
                </div>
            </div>
            <div class="mb-3">
                <div class="col-12">
                    <label :class="`text-muted ml-2 mb-0 form-label`">
                        Режим разработчика
                    </label>
                    <hr class="mt-1">
                </div>
                <div class="col-12">
                    <button type="button" :class="`btn btn-${!mode.developer ? 'success' : 'danger'} mr-1`" @click="actionDeveloper(!mode.developer)">
                        {{ !mode.developer ? 'Включить' : 'Отключить' }}
                    </button>
                </div>
            </div>
        </template>
    </BSidebar>
</template>

<script>

import { mapActions, mapState } from 'vuex';
import { BSidebar } from 'bootstrap-vue/src/components/sidebar';

export default {
    name: 'SidebarSettings',
    components: {
        BSidebar
        //NotificationCardBasic,
    },
    data() {
        return {};
    },
    computed: mapState({
        dev: state => state.app.data.data.dev,
        action: state => state.app.dev.action,
        mode: state => state.app.mode,
        //notifications: state => state.user.notifications.list,
        //articles: state => state.feed.articles,
    }),
    mounted() {
        const self = this;
        self.setDeveloper(self.cookieActions().getAppModeDeveloper());
    },
    methods: {
        ...mapActions('app/dev/action', ['fetchAction']),
        ...mapActions('app/mode', ['setDeveloper']),
        //...mapActions('user/notifications/counters', ['clearNotificationsCounters']),
        actionAction(name, callback) {
            const self = this;
            self.fetchAction({
                action: name,
                callback,
            });
            // self.sidebarActions().bodyOverflowHidden(visible);
            // if (visible) {
            //     self.clearNotificationsCounters();
            //     self.fetchNotifications();
            // }
        },
        actionDeveloper(value) {
            const self = this;
            self.cookieActions().setAppModeDeveloper(value);
            self.setDeveloper(value);
            self.$forceUpdate();
            self.$toast.success(`Режим разработчика успешно ${!value ? 'отключен' : 'включен'}`);
            setTimeout(() => {
                window.location.reload();
            }, 500);
        }
    }
};
</script>
