<template>
    <div
        v-if="form[field.key] !== undefined"
        class="form-group"
    >
        <FormBaseLabel :field="field" />
        <BInputGroup :class="{'is-danger': errors[field.key] !== undefined}">
            <template #prepend>
                <span :class="`input-group-text ${form[field.key].filename !== null ? 'bg-success text-white' : ''}`" style="height: 35px;">
                    <font-awesome-icon :icon="field.icon" />
                </span>
            </template>
            <input
                v-if="file1 === null"
                :value="form[field.key].filename !== null ? form[field.key].filename : 'Изображение не выбрано'"
                type="text"
                class="form-control"
                :disabled="true"
            >
            <input
                v-if="file1 !== null"
                :value="file1.name"
                type="text"
                class="form-control"
                :disabled="true"
            >
            <template #append>
                <a
                    v-if="form[field.key].file !== null"
                    :href="form[field.key].file"
                    type="button"
                    class="btn btn-light"
                    target="_blank"
                    style="height: 35px;"
                >
                    <font-awesome-icon icon="eye" class="mr-0" style="margin-top: 4px;" />
                </a>
                <button type="button" class="btn btn-light" @click="uploadNew">
                    <font-awesome-icon icon="file-upload" class="mr-1" />
                    {{ form[field.key].filename !== null ? 'Выбрать другое изображение' : 'Выбрать изображение' }}
                </button>
                <button type="button" class="btn btn-danger btn-icon" @click="deleteFile">
                    <font-awesome-icon icon="times" />
                </button>
                <!--                -->
                <!--                <BDropdown text="Опции" variant="primary">-->
                <!--                    <BDropdownItem>Выбрать другой файл</BDropdownItem>-->
                <!--                </BDropdown>-->
            </template>
        </BInputGroup>
        <div class="d-none">
            <BFormFile
                ref="fileUploadInput"
                v-model="file1"
                :placeholder="$t('fields.file-placeholder')"
                :drop-placeholder="$t('fields.file-drop')"
                :browse-text="$t('fields.file-button')"
                :accept="field.accept"
                @change="upload($event)"
            />
        </div>
        <FormError :error="errors[field.key]" />
        <FormBaseHelp :field="field" />
    </div>
</template>

<script>
import {mapActions, mapState} from 'vuex';
import FormError from "../../Base/Form/FormError";
import formValue from "../../../plugins/common/formValue";
import FormBaseLabel from "../Base/FormBaseLabel";
import FormBaseHelp from "../Base/FormBaseHelp";
import { BFormFile } from "bootstrap-vue/src/components/form-file";
import { BInputGroup } from "bootstrap-vue/src/components/input-group";
import { BDropdown, BDropdownItem } from "bootstrap-vue/src/components/dropdown";

export default {
    name: 'FormFieldImage',
    components: {
        BFormFile,
        FormError,
        FormBaseLabel,
        FormBaseHelp,
        BInputGroup,
        BDropdown,
        BDropdownItem,
    },
    props: {
        role: {
            type: [String],
            required: true,
            default: () => 'default',
        },
        errors: {
            type: [Object],
            required: true,
            default: () => {},
        },
        field: {
            type: [Object],
            required: true,
            default: () => {},
        },
        item: {
            type: [Object],
            default: () => null,
        },
        onChange: {
            type: [Function],
            default: () => {},
        },
    },
    data() {
        return {
            file1: null,
        };
    },
    computed: mapState({
        formPanel: (state) => state.app.panel.base.form,
        formPanelPanel: (state) => state.app.panel.panel.base.form,
        formTable: (state) => state.app.table.base.form,
        formEditor: (state) => state.app.editor.articles.store.form,
        formRouteTable: (state) => state.app.table.base.formRoute,
        form() {
            if (this.role === 'panel') {
                return this.formPanel;
            }
            if (this.role === 'panel-panel') {
                return this.formPanelPanel;
            }
            if (this.role === 'table') {
                return this.formTable;
            }
            if (this.role === 'editor') {
                return this.formEditor;
            }
            return {};
        },
    }),
    created() {
        this.form[this.field.key] = formValue.imageField(this.field, this.item);
        //this.file1 = this.item[this.field.key].filename;
    },
    methods: {
        ...mapActions('app/panel/base', ['setFileable']),
        uploadNew() {
            this.$refs.fileUploadInput.$refs.input.click();
        },
        deleteFile() {
            this.form[this.field.key] = {
                blob: null,
                file: null,
                filename: null,
            };
            this.file1 = null;
            this.$forceUpdate();
        },
        upload(event) {
            const self = this;

            const { files } = event.target;
            if (files && files[0] !== undefined) {
                const blob = URL.createObjectURL(files[0]);
                self.form[self.field.key].blob = files[0];
                self.setFileable(true);
                console.log(self.form[self.field.key]);
                // console.log(files[0]);
                //
                // let urlUploadImage = self.$env.CONVERTER_API_URL + api.editor.upload;
                // urlUploadImage = urlUploadImage.replace(':uid', self.uid);
                // urlUploadImage = urlUploadImage.replace(':model', self.model);
                //
                // const query = new FormData();
                // query.append('file', files[0]);
                // self.setUrl(null);
                // self.setPending(true);
                // axiosPanel.post(urlUploadImage, query, function (result) {
                //     console.log(result.file.url);
                //     self.setUrl(result.file.url);
                //     self.setModePdf();
                //     self.setPending(false);
                // }, function (result) {
                //     self.setPending(false);
                //     console.log(result);
                // });
            }
        },
    }
};
</script>
