<template>
    <div>
        <FormFieldString
            v-if="field.type === 'string'"
            :errors="errors"
            :item="item"
            :field="field"
            :role="role"
            :on-change="onChange"
        />
        <FormFieldDate
            v-if="field.type === 'date'"
            :errors="errors"
            :item="item"
            :field="field"
            :role="role"
            :on-change="onChange"
        />
        <FormFieldTextarea
            v-if="field.type === 'textarea'"
            :errors="errors"
            :item="item"
            :field="field"
            :role="role"
            :on-change="onChange"
        />
        <FormFieldMarkdown
            v-if="field.type === 'markdown'"
            :errors="errors"
            :item="item"
            :field="field"
            :role="role"
            :model="model"
            :on-change="onChange"
        />
        <FormFieldSelect
            v-if="field.type === 'select'"
            :errors="errors"
            :item="item"
            :field="field"
            :role="role"
            :on-change="onChange"
        />
        <FormFieldMultiselect
            v-if="field.type === 'multiselect'"
            :errors="errors"
            :item="item"
            :field="field"
            :role="role"
            :on-change="onChange"
        />
        <FormFieldButton
            v-if="field.type === 'button'"
            :errors="errors"
            :item="item"
            :field="field"
            :role="role"
            :on-change="onChange"
        />
        <FormFieldSubmit
            v-if="field.type === 'submit'"
            :errors="errors"
            :item="item"
            :field="field"
            :role="role"
            :on-change="onChange"
        />
        <FormFieldText
            v-if="field.type === 'text'"
            :errors="errors"
            :item="item"
            :field="field"
            :role="role"
            :on-change="onChange"
        />
        <FormFieldFile
            v-if="field.type === 'file'"
            :errors="errors"
            :item="item"
            :field="field"
            :role="role"
            :on-change="onChange"
        />
        <FormFieldImage
            v-if="field.type === 'image'"
            :errors="errors"
            :item="item"
            :field="field"
            :role="role"
            :on-change="onChange"
        />
        <FormFieldSelectSearch
            v-if="field.type === 'select_search'"
            :errors="errors"
            :item="item"
            :field="field"
            :role="role"
            :on-change="onChange"
        />
        <FormFieldPhone
            v-if="field.type === 'phone'"
            :errors="errors"
            :item="item"
            :field="field"
            :role="role"
            :on-change="onChange"
        />
        <FormFieldValue
            v-if="field.type === 'value'"
            :errors="errors"
            :item="item"
            :field="field"
            :role="role"
            :on-change="onChange"
        />
        <FormFieldCheckbox
            v-if="field.type === 'checkbox'"
            :errors="errors"
            :item="item"
            :field="field"
            :role="role"
            :on-change="onChange"
        />
        <!--        <FormFieldList-->
        <!--            v-if="field.type === 'list'"-->
        <!--            :errors="errors"-->
        <!--            :item="item"-->
        <!--            :field="field"-->
        <!--            :role="role"-->
        <!--            :on-change="onChange"-->
        <!--        />-->
    </div>
</template>

<script>

import FormFieldValue from './FormFieldValue';
import FormFieldString from './FormFieldString';
import FormFieldTextarea from './FormFieldTextarea';
import FormFieldMarkdown from './FormFieldMarkdown';
import FormFieldDate from './FormFieldDate';
import FormFieldSelect from './FormFieldSelect';
import FormFieldCheckbox from './FormFieldCheckbox';
import FormFieldMultiselect from './FormFieldMultiselect';
import FormFieldSelectSearch from './FormFieldSelectSearch';
import FormFieldPhone from './FormFieldPhone';
import FormFieldButton from './FormFieldButton';
import FormFieldSubmit from './FormFieldSubmit';
import FormFieldFile from './FormFieldFile';
import FormFieldText from './FormFieldText';
import FormFieldImage from './FormFieldImage';

export default {
    name: 'FormFieldDefault',
    components: {
        FormFieldValue,
        FormFieldString,
        FormFieldTextarea,
        FormFieldMarkdown,
        FormFieldDate,
        FormFieldSelect,
        FormFieldCheckbox,
        FormFieldMultiselect,
        FormFieldSelectSearch,
        FormFieldPhone,
        FormFieldButton,
        FormFieldSubmit,
        FormFieldFile,
        FormFieldText,
        FormFieldImage,
    },
    props: {
        role: {
            type: [String],
            required: true,
            default: () => 'default',
        },
        model: {
            type: [String],
            required: true,
            default: () => 'default',
        },
        errors: {
            type: [Object],
            required: true,
            default: () => {},
        },
        field: {
            type: [Object],
            required: true,
            default: () => {},
        },
        item: {
            type: [Object],
            default: () => null,
        },
        onChange: {
            type: [Function],
            default: () => {},
        },
    },
    data() {
        return {
            types: [
                'string',
                'select',
                'multiselect',
                'textarea',
                'markdown',
                'date',
                'checkbox',
                'select_search',
                'phone',
                'button',
                'submit',
                'list',
                'text',
                'file',
                'image',
                'value',
            ]
        };
    },
};
</script>
