<template>
    <div
        v-if="form[field.key] !== undefined"
        class="form-group"
    >
        <div class="pr--checkbox d-flex align-items-center">
            <input
                :id="field.key"
                v-model="form[field.key]"
                type="checkbox"
                @change.prevent="onChange"
            >
            <label
                class="ml-2"
                :for="field.key"
            >
                {{ field.title }}
            </label>
        </div>
        <FormError :error="errors[field.key]" />
        <FormBaseHelp :field="field" />
    </div>
</template>

<script>
import { mapState } from 'vuex';
import FormError from "../../Base/Form/FormError";
import formValue from "../../../plugins/common/formValue";
import FormBaseHelp from "../Base/FormBaseHelp";

export default {
    name: 'FormFieldCheckbox',
    components: {
        FormError,
        FormBaseHelp,
    },
    props: {
        role: {
            type: [String],
            required: true,
            default: () => 'default',
        },
        errors: {
            type: [Object],
            required: true,
            default: () => {},
        },
        field: {
            type: [Object],
            required: true,
            default: () => {},
        },
        item: {
            type: [Object],
            default: () => null,
        },
        onChange: {
            type: [Function],
            default: () => {},
        },
    },
    data() {
        return {};
    },
    computed: mapState({
        formPanel: (state) => state.app.panel.base.form,
        formPanelPanel: (state) => state.app.panel.panel.base.form,
        formTable: (state) => state.app.table.base.form,
        formEditor: (state) => state.app.editor.articles.store.form,
        formRouteTable: (state) => state.app.table.base.formRoute,
        form() {
            if (this.role === 'panel') {
                return this.formPanel;
            }
            if (this.role === 'panel-panel') {
                return this.formPanelPanel;
            }
            if (this.role === 'table') {
                return this.formTable;
            }
            if (this.role === 'editor') {
                return this.formEditor;
            }
            return {};
        }
    }),
    created() {
        if (this.role === 'table') {
            this.form[this.field.key] = formValue.valueTable(this.field, this.formRouteTable);
        } else {
            this.form[this.field.key] = formValue.valueField(this.field, this.item);
        }
    }
};
</script>

<style scoped>

</style>
