<template>
    <div class="form-group">
        <FormBaseLabel :field="field" />
        <Multiselect
            ref="multiselect"
            v-model="form[field.key]"
            :name="`${field.key}`"
            :class="[
                'pr--multiselect',
                'pr--multiselect--search',
                errors[field.key] !== undefined ? 'is-danger' : '',
            ]"
            class=""
            :options="field.values"
            :disabled="field.disabled"
            :autocomplite="'off'"
            :internal-search="true"
            :preserve-search="true"
            :placeholder="$t('fields.select-empty')"
            :options-limit="300"
            :loading="isPending"
            :limit="10"
            :allow-empty="true"
            :multiple="field.multiple !== undefined ? field.multiple : false"
            :close-on-select="true"
            :searchable="true"
            track-by="id"
            label="title"
            :show-labels="true"
            select-label="Выбрать"
            selected-label="Выбрано"
            deselect-label="Убрать"
            :show-no-results="true"
            open-direction="bottom"
            @select="onInitialChange"
            @remove="onInitialChange"
            @search-change="asyncFind"
        >
            <!--            <template slot="tag" slot-scope="{ option, remove }"><span class="custom__tag"><span>{{ option.name }}</span><span class="custom__remove" @click="remove(option)">❌</span></span></template>-->
            <template #selection="{ values, search, isOpen }">
                <!--                <span v-if="values.length && !isOpen" class="multiselect__single">Выбрано {{ values.length }}</span>-->
                <span
                    v-if="values.length"
                    class="multiselect__selected-values"
                >{{ values.map(x => x.title).join(', ') }}</span>
                <!--                <span v-if="!values.length" class="multiselect__selected-values">{{ $t('fields.select-empty') }}</span>-->
            </template>
            <template #noResult>
                {{ $t('fields.select-no-results') }} 1
            </template>
            <template #noOptions>
                {{ $t('fields.select-empty') }}
            </template>
            <template #singleLabel="{ option }">
                <span>{{ option.title }}</span>
            </template>
            <!--                            <template #selection>-->
            <!--                                <span class="multiselect__single">Выбрано {{ form.tags.length }} тэгов</span>-->
            <!--                            </template>-->
        </Multiselect>
        <FormError :error="errors[field.key]" />
        <FormBaseHelp :field="field" />
    </div>
</template>

<script>
import { mapState } from 'vuex';
import FormError from "../../Base/Form/FormError";
import api from "../../../api";
import axios from '../../../plugins/axios';
import response from "../../../plugins/common/response";
import commonForm from "../../../plugins/common/commonForm";
import formValue from "../../../plugins/common/formValue";
import FormBaseLabel from "../Base/FormBaseLabel";
import FormBaseHelp from "../Base/FormBaseHelp";
//import Multiselect from './../../../plugins/custom/vue-multiselect.min';

export default {
    name: 'FormFieldMultiselect',
    components: {
        FormError,
        FormBaseLabel,
        FormBaseHelp,
        Multiselect: () => import('./../../../plugins/custom/vue-multiselect.min'),
    },
    props: {
        role: {
            type: [String],
            required: true,
            default: () => 'default',
        },
        errors: {
            type: [Object],
            required: true,
            default: () => {},
        },
        field: {
            type: [Object],
            required: true,
            default: () => {},
        },
        item: {
            type: [Object],
            default: () => null,
        },
        onChange: {
            type: [Function],
            default: () => {},
        },
    },
    data() {
        return {
            isPending: false,
            timer: null,
            model: 'releases',
            query: '*',
        };
    },
    computed: mapState({
        formPanel: (state) => state.app.panel.base.form,
        formPanelPanel: (state) => state.app.panel.panel.base.form,
        formTable: (state) => state.app.table.base.form,
        formEditor: (state) => state.app.editor.articles.store.form,
        formRouteTable: (state) => state.app.table.base.formRoute,
        form() {
            if (this.role === 'panel') {
                return this.formPanel;
            }
            if (this.role === 'panel-panel') {
                return this.formPanelPanel;
            }
            if (this.role === 'table') {
                return this.formTable;
            }
            if (this.role === 'editor') {
                return this.formEditor;
            }
            return {};
        }
    }),
    created() {
        if (this.role === 'table') {
            this.form[this.field.key] = formValue.searchSelectTable(this.field, this.formRouteTable);
        } else {
            this.form[this.field.key] = formValue.searchSelectField(this.field, this.item);
        }
    },
    methods: {
        onInitialChange() {
            const self = this;
            self.$forceUpdate();
            self.$nextTick(() => {
                self.onChange(self.field, self.item);
            });
        },
        asyncFind(query) {
            const self = this;
            if (query === '' && self.query === '*') {
                return;
            }
            self.query = query;
            if (self.query === '') {
                self.query = '*';
            }
            self.timer = commonForm.formTimeout(self.timer, () => {
                self.isPending = true;
                let url = api.panel.values;
                url = url.replace(':model', self.model);
                url += `?field=${self.field.key}&q=${query}`;
                axios.get(url)
                    .then((res) => {
                        self.isPending = false;
                        const result = response.success(res);
                        self.field.values = result.data;
                        self.$forceUpdate();
                    })
                    .catch((error) => {
                        self.isPending = false;
                    });
            }, 500);
        },
    }
};
</script>
