<template>
    <div>
        <button
            type="submit"
            :class="[
                'btn btn-primary mb-3',
                panel.pending || panelPanel.pending ? 'is-loading' : ''
            ]"
        >
            {{ field.title }}
        </button>
        <FormError :error="errors[field.key]" />
    </div>
</template>

<script>
import {mapActions, mapState} from 'vuex';
import FormError from "../../Base/Form/FormError";

export default {
    name: 'FormFieldSubmit',
    components: {
        FormError,
    },
    props: {
        role: {
            type: [String],
            required: true,
            default: () => 'default',
        },
        errors: {
            type: [Object],
            required: true,
            default: () => {},
        },
        field: {
            type: [Object],
            required: true,
            default: () => {},
        },
        item: {
            type: [Object],
            default: () => null,
        },
        onChange: {
            type: [Function],
            default: () => {},
        },
    },
    data() {
        return {};
    },
    computed: mapState({
        panel: (state) => state.app.panel.base,
        panelPanel: (state) => state.app.panel.panel.base,
        action: (state) => state.app.panel.action,
    }),
    created() {
        //
    },
    methods: {
        //
    }
};
</script>
