<template>
    <div>
        <div v-if="field.locale_en_only !== undefined && panel.locale === 'en'" class="form-group">
            <button
                type="button"
                :class="[
                    'btn btn-primary',
                    isLoading(action.pendingArray).action(item, field.action) ? 'is-loading' : ''
                ]"
                @click="submitAction(field.action)"
            >
                {{ field.title }}
            </button>
            <FormError :error="errors[field.key]" />
        </div>
        <div v-if="field.submit !== undefined && field.submit">
            <button
                type="submit"
                :class="[
                    'btn btn-primary',
                    isLoading(action.pendingArray).action(item, 'submit') ? 'is-loading' : ''
                ]"
                @click="submitAction('submit')"
            >
                {{ field.title }}
            </button>
            <FormError :error="errors[field.key]" />
        </div>
    </div>
</template>

<script>
import {mapActions, mapState} from 'vuex';
import FormError from "../../Base/Form/FormError";

export default {
    name: 'FormFieldButton',
    components: {
        FormError,
    },
    props: {
        role: {
            type: [String],
            required: true,
            default: () => 'default',
        },
        errors: {
            type: [Object],
            required: true,
            default: () => {},
        },
        field: {
            type: [Object],
            required: true,
            default: () => {},
        },
        item: {
            type: [Object],
            default: () => null,
        },
        onChange: {
            type: [Function],
            default: () => {},
        },
    },
    data() {
        return {};
    },
    computed: mapState({
        panel: (state) => state.app.panel.base,
        action: (state) => state.app.panel.action,
    }),
    watch: {
        'action.success'() {
            const self = this;
            if (self.field.action_config.reload && self.action.success && self.action.name === self.field.action) {
                //self.removeFormOnly();
                self.fetchEdit({
                    id: self.panel.item.id,
                    model: self.panel.model,
                });
            }
        }
    },
    created() {
        //
    },
    methods: {
        ...mapActions('app/panel/action', ['fetchAction']),
        ...mapActions('app/panel/base', ['fetchEdit', 'removeFormOnly']),
        submitAction(action) {
            console.log(action, this.panel.model, this.item.id);
            this.fetchAction({
                action,
                model: this.panel.model,
                id: this.item.id,
                locale: this.panel.locale,
            });
        }
    }
};
</script>

<style scoped>

</style>
