<template>
    <div
        v-if="form[field.key] !== undefined"
        class="form-group"
    >
        <div class="markdown-editor-wrap markdown-wrapper">
            <div class="markdown-editor-buttons">
                <div>
                    <FormBaseLabel :field="field" />
                </div>
                <div>
                    <div class="btn-group">
                        <button
                            type="button"
                            class="btn btn-light btn-sm icon markdown-add-bold"
                            @click="actionBold"
                            @focus="focused"
                        >
                            <font-awesome-icon icon="bold" />
                        </button>
                        <button
                            type="button"
                            class="btn btn-light btn-sm icon markdown-add-italic"
                            @click="actionItalic"
                            @focus="focused"
                        >
                            <font-awesome-icon icon="italic" />
                        </button>
                        <button
                            type="button"
                            class="btn btn-light btn-sm icon markdown-add-quote"
                            @click="actionQuote"
                            @focus="focused"
                        >
                            <font-awesome-icon icon="quote-right" />
                        </button>
                        <button
                            type="button"
                            class="btn btn-light btn-sm icon markdown-add-code"
                            @click="actionCode"
                            @focus="focused"
                        >
                            <font-awesome-icon icon="code" />
                        </button>
                        <button
                            type="button"
                            class="btn btn-light btn-sm icon markdown-add-link"
                            @click="actionLink"
                            @focus="focused"
                        >
                            <font-awesome-icon icon="link" />
                        </button>
                        <button
                            type="button"
                            class="btn btn-light btn-sm icon markdown-add-bullet-list"
                            @click="actionListOl"
                            @focus="focused"
                        >
                            <font-awesome-icon icon="list-ul" />
                        </button>
                        <button
                            type="button"
                            class="btn btn-light btn-sm icon markdown-add-numbered-list"
                            @click="actionListUl"
                            @focus="focused"
                        >
                            <font-awesome-icon icon="list-ol" />
                        </button>
                        <button
                            type="button"
                            class="btn btn-light btn-sm icon markdown-add-task-list"
                            @click="actionTask"
                            @focus="focused"
                        >
                            <font-awesome-icon icon="tasks" />
                        </button>
                        <button
                            type="button"
                            class="btn btn-light btn-sm icon markdown-add-table"
                            @click="actionTable"
                            @focus="focused"
                        >
                            <font-awesome-icon icon="table" />
                        </button>
                        <button
                            v-if="field.image"
                            type="button"
                            :class="`btn btn-light btn-sm icon markdown-add-table ${uploadPending ? 'is-loading' : ''}`"
                            @click="uploadNew"
                            @focus="focused"
                        >
                            <font-awesome-icon icon="file-image" />
                        </button>
                    </div>
                </div>
            </div>
            <b-form-textarea
                id="textarea"
                ref="textarea"
                v-model="form[field.key]"
                :class="{'is-danger': errors[field.key] !== undefined}"
                :placeholder="field.title"
                :required="field.required"
                :disabled="field.disabled"
                :rows="field.rows"
                @keyup.prevent="changed"
                @focusin="focused"
                @focusout="focusouted"
            />
            <div v-if="hasImage()">
                <FormBaseMarkdownImageHelper />
            </div>
            <div v-if="isFocused" class="markdown-container">
                <div class="markdown-window is-columns">
                    <MarkdownItVue class="pr--markdown markdown-preview" :content="form[field.key]" :options="options" />
                </div>
            </div>
            <div v-if="field.image" class="d-none">
                <BFormFile
                    ref="fileUploadInput"
                    v-model="file"
                    :placeholder="$t('fields.file-placeholder')"
                    :drop-placeholder="$t('fields.file-drop')"
                    :browse-text="$t('fields.file-button')"
                    :accept="field.accept"
                    @change="upload($event)"
                />
            </div>
            <!--            <div v-if="isFocused">-->
            <!--&lt;!&ndash;                <label class="text-muted ml-2 mb-0 form-label">&ndash;&gt;-->
            <!--&lt;!&ndash;                    Предпросмотр&ndash;&gt;-->
            <!--&lt;!&ndash;                </label>&ndash;&gt;-->
            <!--                -->
            <!--            </div>-->
        </div>
        <FormError :error="errors[field.key]" />
        <FormBaseHelp :field="field" />
    </div>
</template>

<script>
import {mapActions, mapState} from 'vuex';
import api from '../../../api';
import FormError from "../../Base/Form/FormError";
import MarkdownItVue from 'markdown-it-vue';
import formValue from "../../../plugins/common/formValue";
import FormBaseLabel from "../Base/FormBaseLabel";
import FormBaseHelp from "../Base/FormBaseHelp";
import markdownParse from "../../../plugins/common/markdownParse";
import { BFormFile } from "bootstrap-vue/src/components/form-file";
import axiosPanel from "../../../plugins/common/axiosPanel";
import FormBaseMarkdownImageHelper from "../Base/FormBaseMarkdownImageHelper";

export default {
    name: 'FormFieldMarkdown',
    components: {
        FormError,
        MarkdownItVue,
        FormBaseLabel,
        FormBaseHelp,
        BFormFile,
        FormBaseMarkdownImageHelper,
    },
    props: {
        role: {
            type: [String],
            required: true,
            default: () => 'default',
        },
        model: {
            type: [String],
            required: true,
            default: () => 'default',
        },
        errors: {
            type: [Object],
            required: true,
            default: () => {},
        },
        field: {
            type: [Object],
            required: true,
            default: () => {},
        },
        item: {
            type: [Object],
            default: () => null,
        },
        onChange: {
            type: [Function],
            default: () => {},
        },
    },
    data() {
        return {
            file: null,
            isFocused: false,
            uploadPending: false,
            options: {
                markdownIt: {
                    html: true,
                    linkify: true,
                    typographer: true,
                    breaks: true,
                },
                linkAttributes: {
                    attrs: {
                        target: '_blank',
                        rel: 'noopener'
                    }
                }
            }
        };
    },
    computed: mapState({
        formPanel: (state) => state.app.panel.base.form,
        formPanelPanel: (state) => state.app.panel.panel.base.form,
        formTable: (state) => state.app.table.base.form,
        formEditor: (state) => state.app.editor.articles.store.form,
        formRouteTable: (state) => state.app.table.base.formRoute,
        form() {
            if (this.role === 'panel') {
                return this.formPanel;
            }
            if (this.role === 'panel-panel') {
                return this.formPanelPanel;
            }
            if (this.role === 'table') {
                return this.formTable;
            }
            if (this.role === 'editor') {
                return this.formEditor;
            }
            return {};
        }
    }),
    created() {
        let value = null;
        if (this.role === 'table') {
            value = formValue.valueTable(this.field, this.formRouteTable);
        } else {
            value = formValue.valueField(this.field, this.item);
        }
        this.form[this.field.key] = value !== null ? value : '';
    },
    methods: {
        hasImage() {
            if (this.form[this.field.key] === null) {
                return false;
            }
            return this.form[this.field.key].includes('img');
        },
        //...mapActions('app/editor/articles/store', ['setUrl']),
        changed() {
            this.$forceUpdate();
            this.onChange();
        },
        focused() {
            this.isFocused = true;
        },
        focusouted() {
            this.isFocused = false;
        },
        uploadNew() {
            this.$refs.fileUploadInput.$refs.input.click();
        },
        upload(event) {
            const self = this;
            const { files } = event.target;
            if (files && files[0]) {
                console.log(files[0]);

                let urlUploadImage = self.$env.CONVERTER_API_URL + api.editor.upload;
                urlUploadImage = urlUploadImage.replace(':uid', (Math.random() + 1).toString(36).substring(7));
                urlUploadImage = urlUploadImage.replace(':model', self.model);

                const query = new FormData();
                query.append('file', files[0]);
                self.uploadPending = true;
                axiosPanel.post(urlUploadImage, query, function (result) {
                    console.log(result.file.url);
                    self.actionImage(result.file.url);
                    self.uploadPending = false;
                }, function (result) {
                    console.log(result);
                    self.uploadPending = false;
                });
            }
        },

        /**
         *
         * @returns {string}
         */
        selectionString() {
            return document.getSelection().toString();
        },

        /**
         *
         * @returns {{start: Node.selectionStart, end: Node.selectionEnd}}
         */
        prepareSelection() {
            return markdownParse.selections(this.$refs.textarea);
        },

        actionBold() {
            this.setValue('**' + this.selectionString() + '**');
        },
        actionItalic() {
            this.setValue('*' + this.selectionString() + '*');
        },
        actionQuote() {
            this.setValue('> ' + this.selectionString());
        },
        actionCode() {
            this.setValue('`' + this.selectionString() + '`');
        },
        actionLink() {
            this.setValue('[' + this.selectionString() + '](url)');
        },
        actionListOl() {
            this.setValue('* ' + this.selectionString());
        },
        actionListUl() {
            this.setValue('1. ' + this.selectionString());
        },
        actionTask() {
            this.setValue('* [ ] ' + this.selectionString());
        },
        actionTable() {
            this.setValue('| header | header |\n' +
                '| ------ | ------ |\n' +
                '| cell | cell |\n' +
                '| cell | cell | ');
        },
        actionImage(url) {
            this.setValue('<img src="' + url + '" width="100%" class="mb-3 mt-3" />');
        },

        /**
         *
         * @param {string} value
         */
        setValue(value) {
            const self = this;
            self.isFocused = true;
            const string = self.form[self.field.key];
            const prepare = self.prepareSelection();
            self.form[self.field.key] = string.slice(0, prepare.start) + value + string.slice(prepare.end);
            self.$refs.textarea.focus();
            const position = prepare.start + value.length;
            self.$forceUpdate();
            self.$nextTick(() => {
                self.$refs.textarea.selectionStart = self.$refs.textarea.selectionEnd = position;
            });
        },
    }
};
</script>
