<template>
    <div>
        <div v-if="field.styles !== undefined && field.styles.alert">
            <div
                :class="[`alert alert-${field.styles.variant}`]"
                role="alert"
            >
                {{ field.description }}
            </div>
        </div>
        <p v-if="field.styles === undefined">
            {{ field.description }}
        </p>
    </div>
</template>

<script>
import {mapActions, mapState} from 'vuex';

export default {
    name: 'FormFieldText',
    components: {
        //
    },
    props: {
        role: {
            type: [String],
            required: true,
            default: () => 'default',
        },
        errors: {
            type: [Object],
            required: true,
            default: () => {},
        },
        field: {
            type: [Object],
            required: true,
            default: () => {},
        },
        item: {
            type: [Object],
            default: () => null,
        },
        onChange: {
            type: [Function],
            default: () => {},
        },
    },
    data() {
        return {};
    },
    computed: mapState({
        //
    }),
    created() {
        //
    },
    methods: {
        //
    }
};
</script>
