<template>
    <div
        v-if="form[field.key] !== undefined"
        class="form-group"
    >
        <FormBaseLabel :field="field" />
        <BFormSelect
            v-model="form[field.key]"
            :options="field.values"
            value-field="id"
            text-field="title"
            :class="{'is-danger': errors[field.key] !== undefined}"
            :required="field.required"
            :disabled="field.disabled || (field.disabled_empty !== undefined && field.disabled_empty && field.values.length === 0)"
            :multiple="field.multiple"
            :select-size="1"
            @change="onInitialChange"
        >
            <template #first>
                <BFormSelectOption
                    :value="null"
                    :disabled="field.required"
                >
                    {{ $t('fields.select-empty') }}
                </BFormSelectOption>
            </template>
        </BFormSelect>
        <FormError :error="errors[field.key]" />
        <FormBaseHelp :field="field" />
    </div>
</template>

<script>
import { mapState } from 'vuex';
import FormError from "../../Base/Form/FormError";
import formValue from "../../../plugins/common/formValue";
import commonForm from "../../../plugins/common/commonForm";
import api from "../../../api";
import axios from "axios";
import response from "../../../plugins/common/response";
import FormBaseLabel from "../Base/FormBaseLabel";
import FormBaseHelp from "../Base/FormBaseHelp";
import {BFormSelect, BFormSelectOption} from "bootstrap-vue/src/components/form-select";

export default {
    name: 'FormFieldSelect',
    components: {
        FormError,
        FormBaseLabel,
        FormBaseHelp,
        BFormSelect,
        BFormSelectOption
    },
    props: {
        role: {
            type: [String],
            required: true,
            default: () => 'default',
        },
        errors: {
            type: [Object],
            required: true,
            default: () => {},
        },
        field: {
            type: [Object],
            required: true,
            default: () => {},
        },
        item: {
            type: [Object],
            default: () => null,
        },
        onChange: {
            type: [Function],
            default: () => {},
        },
    },
    data() {
        return {
            timer: null,
        };
    },
    computed: mapState({
        formPanel: (state) => state.app.panel.base.form,
        formPanelPanel: (state) => state.app.panel.panel.base.form,
        formTable: (state) => state.app.table.base.form,
        formEditor: (state) => state.app.editor.articles.store.form,
        formRouteTable: (state) => state.app.table.base.formRoute,
        form() {
            if (this.role === 'panel') {
                return this.formPanel;
            }
            if (this.role === 'panel-panel') {
                return this.formPanelPanel;
            }
            if (this.role === 'table') {
                return this.formTable;
            }
            if (this.role === 'editor') {
                return this.formEditor;
            }
            return {};
        }
    }),
    watch: {
        //
    },
    mounted() {
        //
    },
    created() {
        if (this.role === 'table') {
            this.form[this.field.key] = formValue.selectTable(this.field, this.formRouteTable);
        } else {
            this.form[this.field.key] = formValue.selectField(this.field, this.item);
        }
    },
    methods: {
        onInitialChange() {
            const self = this;
            self.$nextTick(() => {
                self.onChange(self.field, self.item);
            });
        },
    }
};
</script>
