<template>
    <div class="form-group">
        <FormBaseLabel :field="field" />
<!--        <AdvancedSelect-->
<!--            v-model="value"-->
<!--            :options="options"-->
<!--            :disabled="disabled"-->
<!--        />-->
        <Multiselect
            ref="multiselect"
            v-model="form[field.key]"
            :name="`${field.key}`"
            :class="[
                'pr--multiselect',
                errors[field.key] !== undefined ? 'is-danger' : '',
            ]"
            class=""
            :options="field.values"
            :placeholder="$t('fields.select-empty')"
            :limit="10"
            :allow-empty="true"
            :multiple="true"
            :searchable="false"
            :close-on-select="false"
            track-by="id"
            label="title"
            :show-labels="true"
            select-label="Выбрать"
            selected-label="Выбрано"
            deselect-label="Убрать"
            :show-no-results="false"
            @select="onInitialChange"
            @remove="onInitialChange"
        >
            <template #selection="{ values, search, isOpen }">
                <!--                <span v-if="values.length && !isOpen" class="multiselect__single">Выбрано {{ values.length }}</span>-->
                <span
                    v-if="values.length"
                    class="multiselect__selected-values"
                >{{ values.map(item => { return item['title'] }).join(', ') }}</span>
            </template>
            <template #noResult>
                {{ $t('fields.select-empty') }}
            </template>
            <template #noOptions>
                {{ $t('fields.select-empty') }}
            </template>
            <!--                            <template #selection>-->
            <!--                                <span class="multiselect__single">Выбрано {{ form.tags.length }} тэгов</span>-->
            <!--                            </template>-->
        </Multiselect>
        <FormError :error="errors[field.key]" />
        <FormBaseHelp :field="field" />
    </div>
</template>

<script>
import { mapState } from 'vuex';
import FormError from "../../Base/Form/FormError";
import formValue from "../../../plugins/common/formValue";
import FormBaseLabel from "../Base/FormBaseLabel";
import FormBaseHelp from "../Base/FormBaseHelp";
//import Multiselect from './../../../plugins/custom/vue-multiselect.min';
//import AdvancedSelect from '@myena/advanced-select';

export default {
    name: 'FormFieldMultiselect',
    components: {
        FormError,
        FormBaseLabel,
        FormBaseHelp,
        Multiselect: () => import('./../../../plugins/custom/vue-multiselect.min'),
        //AdvancedSelect,
    },
    props: {
        role: {
            type: [String],
            required: true,
            default: () => 'default',
        },
        errors: {
            type: [Object],
            required: true,
            default: () => {},
        },
        field: {
            type: [Object],
            required: true,
            default: () => {},
        },
        item: {
            type: [Object],
            default: () => null,
        },
        onChange: {
            type: [Function],
            default: () => {},
        },
    },
    data() {
        return {
            options: [
                { value: 1, text: 'One' },
                { value: 2, text: 'Two' },
            ],
            value: null,
            secondValue: '1',
            disabled: false,
        };
    },
    computed: mapState({
        formPanel: (state) => state.app.panel.base.form,
        formPanelPanel: (state) => state.app.panel.panel.base.form,
        formTable: (state) => state.app.table.base.form,
        formRouteTable: (state) => state.app.table.base.formRoute,
        form() {
            if (this.role === 'panel') {
                return this.formPanel;
            }
            if (this.role === 'panel-panel') {
                return this.formPanelPanel;
            }
            if (this.role === 'table') {
                return this.formTable;
            }
            return {};
        }
    }),
    created() {
        if (this.role === 'table') {
            this.form[this.field.key] = formValue.multiselectTable(this.field, this.formRouteTable);
        } else {
            this.form[this.field.key] = formValue.multiselectField(this.field, this.item);
        }
    },
    methods: {
        onInitialChange() {
            console.log('multiselect');
            //console.log(this.$refs);
            //console.log(this.$refs.multiselect);
            //console.log(this.$refs.multiselect.$el);
            this.$forceUpdate();
            //this.$emit('input', this.$refs.multiselect.$el);
            this.$nextTick(() => this.onChange());
        }
    }
};
</script>
