<template>
    <div>
        <FormFieldListAuthors
            v-if="field.key === 'authors_list'"
            :role="role"
            :field="field"
            :item="item"
        />
        <FormFieldListBooks
            v-if="field.key === 'books_list'"
            :role="role"
            :field="field"
            :item="item"
        />
    </div>
</template>

<script>

import FormFieldListAuthors from "./List/FormFieldListAuthors";
import FormFieldListBooks from "./List/FormFieldListBooks";

export default {
    name: 'FormFieldList',
    components: {
        FormFieldListAuthors,
        FormFieldListBooks,
    },
    props: {
        role: {
            type: [String],
            required: true,
            default: () => 'default',
        },
        field: {
            type: [Object],
            required: true,
            default: () => [],
        },
        item: {
            type: [Object],
            default: () => null,
        },
    },
};
</script>
