<template>
    <div v-if="form[field.key] !== undefined" class="form-group">
        <FormBaseLabel :field="field" />
        <DatePicker
            v-model="date"
            type="date"
            :placeholder="field.placeholder !== undefined ? field.placeholder : field.title"
            :required="field.required"
            :formatter="momentFormat"
            :disabled="field.disabled"
            value-type="format"
            :class="{'is-danger': errors[field.key] !== undefined}"
            @change="change"
            @clear="clear"
        />
        <FormError :error="errors[field.key]" />
        <FormBaseHelp :field="field" />
    </div>
</template>

<script>
import { mapState } from 'vuex';
import FormError from "../../Base/Form/FormError";
import DatePicker from 'vue2-datepicker';
import 'vue2-datepicker/locale/ru';
import moment from 'moment';
import formValue from "../../../plugins/common/formValue";
import FormBaseLabel from "../Base/FormBaseLabel";
import FormBaseHelp from "../Base/FormBaseHelp";

export default {
    name: 'FormFieldDate',
    components: {
        FormError,
        DatePicker,
        FormBaseLabel,
        FormBaseHelp,
    },
    props: {
        role: {
            type: [String],
            required: true,
            default: () => 'default',
        },
        errors: {
            type: [Object],
            required: true,
            default: () => {},
        },
        field: {
            type: [Object],
            required: true,
            default: () => {},
        },
        item: {
            type: [Object],
            default: () => null,
        },
        onChange: {
            type: [Function],
            default: () => {},
        },
    },
    data() {
        return {
            date: null,
            momentFormat: {
                // Date to String
                stringify: (date) => {
                    return date ? moment(date).format('DD.MM.YYYY') : '';
                },
                // String to Date
                parse: (value) => {
                    return value ? moment(value, 'DD.MM.YYYY').toDate() : null;
                },
            },
        };
    },
    computed: mapState({
        formPanel: (state) => state.app.panel.base.form,
        formPanelPanel: (state) => state.app.panel.panel.base.form,
        formTable: (state) => state.app.table.base.form,
        formEditor: (state) => state.app.editor.articles.store.form,
        formRouteTable: (state) => state.app.table.base.formRoute,
        form() {
            if (this.role === 'panel') {
                return this.formPanel;
            }
            if (this.role === 'panel-panel') {
                return this.formPanelPanel;
            }
            if (this.role === 'table') {
                return this.formTable;
            }
            if (this.role === 'editor') {
                return this.formEditor;
            }
            return {};
        }
    }),
    created() {
        if (this.role === 'table') {
            this.form[this.field.key] = formValue.valueTable(this.field, this.formRouteTable);
        } else {
            this.form[this.field.key] = formValue.valueField(this.field, this.item);
        }
        this.date = moment(this.form[this.field.key]).format('DD.MM.YYYY');
        this.form[this.field.key] = moment(this.form[this.field.key]).format('DD.MM.YYYY');
        console.log(this.field.key, this.form[this.field.key], this.date);
    },
    methods: {
        change() {
            if (this.date === null) {
                this.form[this.field.key] = '';
            } else {
                this.form[this.field.key] = this.date;
                //this.form[this.field.key] = moment(this.date).format('DD.MM.YYYY');
                console.log(this.field.key, this.form[this.field.key], this.date);
            }
            this.onChange();
        },
        clear() {
            this.form[this.field.key] = '';
            this.onChange();
        }
    }
};
</script>
