<template>
    <div>
<!--        <div class="pr&#45;&#45;editor&#45;&#45;form-prepend pr&#45;&#45;editor&#45;&#45;form-rubric">-->
<!--            <div class="form-group">-->
<!--                &lt;!&ndash;                <b-form-textarea&ndash;&gt;-->
<!--                &lt;!&ndash;                    v-model="articleStore.rubric"&ndash;&gt;-->
<!--                &lt;!&ndash;                    rows="1"&ndash;&gt;-->
<!--                &lt;!&ndash;                    max-rows="8"&ndash;&gt;-->
<!--                &lt;!&ndash;                    :placeholder="$t('fields.rubric-placeholder')"&ndash;&gt;-->
<!--                &lt;!&ndash;                    @focus="focus('rubric')"&ndash;&gt;-->
<!--                &lt;!&ndash;                />&ndash;&gt;-->
<!--                <input-->
<!--                    v-model="articleStore.rubric"-->
<!--                    type="text"-->
<!--                    class="form-control"-->
<!--                    :placeholder="$t('fields.rubric-placeholder')"-->
<!--                    @focus="focus('rubric')"-->
<!--                >-->
<!--                <FormError :error="errors.rubric" />-->
<!--                <EditorPrependSettings v-if="focusedId === 'rubric'" :id="'rubric'" :article="article" />-->
<!--            </div>-->
<!--        </div>-->
        <div class="pr--editor--form-prepend pr--editor--form-title">
            <div class="form-group">
                <b-form-textarea
                    ref="title"
                    v-model="articleStore.title"
                    rows="1"
                    max-rows="8"
                    :placeholder="$t('fields.title-placeholder')"
                    @focus="focus('header')"
                />
                <!--                <input v-model="articleStore.title" type="text" class="form-control" :placeholder="$t('fields.title-placeholder')" @focus="focus('header')" ref="title">-->
                <FormError :error="errors.title" />
                <EditorPrependSettings v-if="focusedId === 'header'" :id="'header'" :article="article" />
            </div>
        </div>
        <div class="pr--editor--form-prepend pr--editor--form-preview-description">
            <div class="form-group">
                <b-form-textarea
                    v-model="articleStore.preview_description"
                    rows="1"
                    max-rows="8"
                    :placeholder="$t('fields.preview_description-placeholder')"
                    @focus="focus('preview')"
                />
                <FormError :error="errors.preview_description" />
            </div>
        </div>
        <div class="pr--editor--form-image">
            <div class="d-flex align-items-center justify-content-between">
                <div class="form-group w-50 mr-3">
                    <div class="btn-group w-100" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-outline-light text-dark" @click="modalActions().openEditorUploadImage()">
                            <font-awesome-icon :icon="'file-upload'" class="mr-1" />
                            {{ $t('button.upload-main-image') }}
                        </button>
                        <button v-if="articleStore.image !== null" type="button" class="btn btn-outline-light text-danger btn-icon" @click="clearImage">
                            <font-awesome-icon :icon="'trash'" />
                        </button>
                    </div>
                </div>
                <div class="form-group w-50">
                    <div class="btn-group w-100" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-outline-light text-dark" @click="modalActions().openEditorUploadVideo()">
                            <font-awesome-icon :icon="'video'" class="mr-1" />
                            {{ $t('button.upload-main-video') }}
                        </button>
                        <button v-if="articleStore.video !== null" type="button" class="btn btn-outline-light text-danger btn-icon" @click="clearVideo">
                            <font-awesome-icon :icon="'trash'" />
                        </button>
                    </div>
                </div>
            </div>
            <div v-if="articleStore.image !== null" class="pr--editor--image __stretched" @click="focus('main-image')">
                <img :src="articleStore.image" :alt="''" :class="'w-100'">
                <button
                    v-tippy
                    type="button"
                    class="btn btn-outline-secondary btn-block --upload"
                    :content="$t('tooltip.change-image')"
                    @click="modalActions().openEditorUploadImage()"
                >
                    <font-awesome-icon :icon="'file-upload'" />
                </button>
                <button
                    v-tippy
                    type="button"
                    class="btn btn-outline-danger btn-block btn-icon --delete"
                    :content="$t('tooltip.delete-image')"
                    @click="deleteImage"
                >
                    <font-awesome-icon :icon="'trash'" />
                </button>
            </div>
            <div v-if="articleStore.video !== null" class="pr--editor--image" @click="focus('main-video')">
                <EditorVideo :id="'main-video'" :data="articleStore.video.data" />
            </div>
            <FormError :error="errors.image" />
        </div>

        <!--        <div class="pr&#45;&#45;editor&#45;&#45;form-image">-->
        <!--            <div v-if="articleStore.image !== null" class="pr&#45;&#45;editor&#45;&#45;image __stretched" @click="focus('main-image')">-->
        <!--                <img :src="articleStore.image" :alt="''" :class="'w-100'">-->
        <!--                <button-->
        <!--                    v-tippy-->
        <!--                    type="button"-->
        <!--                    class="btn btn-outline-secondary btn-block &#45;&#45;upload"-->
        <!--                    :content="$t('tooltip.change-image')"-->
        <!--                    @click="modalActions().openEditorUploadImage()"-->
        <!--                >-->
        <!--                    <font-awesome-icon :icon="'file-upload'" />-->
        <!--                </button>-->
        <!--                <button-->
        <!--                    v-tippy-->
        <!--                    type="button"-->
        <!--                    class="btn btn-outline-danger btn-block btn-icon &#45;&#45;delete"-->
        <!--                    :content="$t('tooltip.delete-image')"-->
        <!--                    @click="deleteImage"-->
        <!--                >-->
        <!--                    <font-awesome-icon :icon="'trash'" />-->
        <!--                </button>-->
        <!--            </div>-->
        <!--            <div v-if="articleStore.image === null" class="form-group">-->
        <!--                <button type="button" class="btn btn-outline-light text-dark btn-block" @click="modalActions().openEditorUploadImage()">-->
        <!--                    <font-awesome-icon :icon="'file-upload'" class="mr-1" />-->
        <!--                    {{ $t('button.upload-main-image') }}-->
        <!--                </button>-->
        <!--            </div>-->
        <!--            <FormError :error="errors.image" />-->
        <!--        </div>-->
    </div>
</template>

<script>

import { mapActions, mapState } from 'vuex';
import FormError from "../Base/Form/FormError";
import EditorPrependSettings from "./Prepend/EditorPrependSettings";
import EditorVideo from "./Block/EditorVideo";

export default {
    name: 'EditorPrepend',
    components: {
        FormError,
        EditorPrependSettings,
        EditorVideo,
    },
    props: {
        article: {
            type: [Object],
            default: () => null,
        },
    },
    data() {
        return {
            //
        };
    },
    computed: mapState({
        articleStore: (state) => state.app.editor.articles.store.form,
        articleStoreIsSetFormDefault: (state) => state.app.editor.articles.store.isSetFormDefault,
        errors: (state) => state.app.editor.articles.store.errors,
        focusedId: (state) => state.app.editor.base.focusedId,
    }),
    watch: {
        'articleStore.title'() {
            this.setUpdated();
        },
        'articleStore.preview_description'() {
            this.setUpdated();
        },
        'articleStore.category'() {
            this.setUpdated();
        },
        'articleStore.creator'() {
            this.setUpdated();
        },
        'articleStore.type'() {
            this.setUpdated();
        },
        'articleStore.udk'() {
            this.setUpdated();
        },
        'articleStore.rubric'() {
            this.setUpdated();
        },
        'articleStore.doi'() {
            this.setUpdated();
        },
        'articleStore.access_by'() {
            this.setUpdated();
        },
        'articleStore.keywords'() {
            this.setUpdated();
        },
        'articleStore.source_file'() {
            this.setUpdated();
        },
        'articleStore.status'() {
            this.setUpdated();
        },
        'articleStore.pages'() {
            console.log('articleStoreIsSetFormDefault', this.articleStoreIsSetFormDefault);
            console.log('articleStore.pages', this.articleStore.pages);
            if (this.articleStoreIsSetFormDefault) {
                return;
            }
            this.setChanged({
                pages: true,
            });
            this.setUpdated();
        }
    },
    mounted() {
        const self = this;
        setTimeout(() => {
            if (self.$refs.title !== undefined) {
                self.$nextTick(() => self.$refs.title.focus());
            }
        }, 100);
        console.log('articleStore.pages', this.articleStore.pages);
    },
    methods: {
        ...mapActions('app/editor/base', ['setFocused', 'setBlocks']),
        ...mapActions('app/editor/articles/store', ['setUpdated', 'setChanged', 'setImage', 'setVideo']),
        deleteImage() {
            const self = this;
            self.articleStore.image = null;
        },
        focus(value) {
            const self = this;
            self.setFocused({
                index: -1,
                id: value,
                isHeader: false,
            });
        },
        clearVideo() {
            this.setVideo(null);
        },
        clearImage() {
            this.setImage(null);
        }
    },
};
</script>
