<template>
    <div
        v-if="article !== null && article.books !== undefined && article.books.length"
        class="pr--editor--block"
    >
        <EditorCustomBooks :books="article.books" />
    </div>
</template>

<script>

import { mapActions, mapState } from 'vuex';
import EditorCustomBooks from "./Block/Custom/EditorCustomBooks";

export default {
    name: 'EditorCustomBottom',
    components: {
        EditorCustomBooks,
    },
    props: {
        article: {
            type: [Object],
            default: () => null,
        },
    },
};
</script>
