<template>
    <div :class="['pr--editor--preview-settings', show ? '__shown' : '']">
        <div class="d-flex align-items-center justify-content-between w-100 h-100">
            <div>
                <ButtonEditorBack />
                <ButtonEditorSave
                    v-if="article === null"
                    :article="article"
                />
                <ButtonEditorSaveResult
                    v-if="article !== null"
                    :article="article"
                />
                <ButtonEditorShow
                    v-if="article !== null"
                    :article="article"
                />
            </div>
<!--            <BDropdown-->
<!--                id="dropdown-user-menu-basic-preview"-->
<!--                variant="icon"-->
<!--                class="pr&#45;&#45;dropdown&#45;&#45;icon __sm-caret __split"-->
<!--                toggle-tag="div"-->
<!--            >-->
<!--                <template #button-content>-->
<!--                    <button-->
<!--                        v-tippy-->
<!--                        :class="`btn btn-icon btn-light btn-sm ml-1`"-->
<!--                        type="button"-->
<!--                        :content="'Zoom'"-->
<!--                    >-->
<!--                        <font-awesome-icon icon="search" class="mr-2" />-->
<!--                        <span>{{ editorPdf.zoom ? editorPdf.zoom : '-' }}</span>-->
<!--                    </button>-->
<!--                </template>-->
<!--                <BDropdownItem href="#">Action</BDropdownItem>-->
<!--                <BDropdownItem href="#">Another action</BDropdownItem>-->
<!--                <BDropdownItem href="#">Something else here...</BDropdownItem>-->
<!--            </BDropdown>-->


            <div>
                <!--                <ButtonEditorShow v-if="article !== null" :article="article" />-->
                <!--                <ButtonEditorPublish v-if="article !== null" :article="article" />-->
                <!--                <ButtonEditorDelete v-if="article !== null" :article="article" />-->

                <ButtonEditorLanguage />
                <ButtonEditorAuthors
                    v-if="article !== null"
                    :article="article"
                />
                <ButtonEditorLibrary
                    v-if="article !== null"
                    :article="article"
                />
                <ButtonEditorSettings
                    v-if="article !== null"
                    :article="article"
                />
                <ButtonEditorPreview :preview="preview" />
                <ButtonEditorPreviewSettings v-if="editor.preview" />
                <EditorSidebarSettings :article="article" />
            </div>
        </div>
        <div v-if="editor.preview && previewMode === 'pdf' && editorPdf.url !== null" :class="`pr--editor--preview-settings--pdf ${editorPdf.zoom !== 1 ? '__zoomed' : ''}`">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-light btn-sm" @click="setPageNumber(editorPdf.page - 1)">
                    <font-awesome-icon icon="chevron-left" />
                </button>
                <button type="button" class="btn btn-light btn-sm" disabled>
                    {{ editorPdf.page }} / {{ editorPdf.pages ? editorPdf.pages : '-' }}
                </button>
                <button type="button" class="btn btn-light btn-sm" @click="setPageNumber(editorPdf.page + 1)">
                    <font-awesome-icon icon="chevron-right" />
                </button>
            </div>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-light btn-sm" @click="setZoomValue(editorPdf.zoom - 1)">
                    <font-awesome-icon icon="search-minus" />
                </button>
                <button type="button" class="btn btn-light btn-sm" disabled>
                    {{ editorPdf.zoom ? editorPdf.zoom : '-' }}
                </button>
                <button type="button" class="btn btn-light btn-sm" @click="setZoomValue(editorPdf.zoom + 1)">
                    <font-awesome-icon icon="search-plus" />
                </button>
            </div>
            <div>
                <button type="button" class="btn btn-link link-dark mt-2" @click="modalActions().open('modal-editor-pdf-help')">
                    Помощь
                </button>
            </div>
        </div>
    </div>
</template>

<script>

import { mapActions, mapState } from 'vuex';
import EditorSidebarSettings from './Sidebar/EditorSidebarSettings';
import ButtonEditorBack from '../Base/Button/Editor/ButtonEditorBack';
import ButtonEditorSave from '../Base/Button/Editor/ButtonEditorSave';
import ButtonEditorSaveResult from '../Base/Button/Editor/ButtonEditorSaveResult';
import ButtonEditorShow from '../Base/Button/Editor/ButtonEditorShow';
import ButtonEditorPublish from '../Base/Button/Editor/ButtonEditorPublish';
import ButtonEditorDelete from '../Base/Button/Editor/ButtonEditorDelete';
import ButtonEditorSettings from '../Base/Button/Editor/ButtonEditorSettings';
import ButtonEditorLibrary from '../Base/Button/Editor/ButtonEditorLibrary';
import ButtonEditorAuthors from '../Base/Button/Editor/ButtonEditorAuthors';
import ButtonEditorPreview from '../Base/Button/Editor/ButtonEditorPreview';
import ButtonEditorLanguage from '../Base/Button/Editor/ButtonEditorLanguage';
import ButtonEditorPreviewSettings from '../Base/Button/Editor/ButtonEditorPreviewSettings';
import {BDropdown, BDropdownDivider, BDropdownGroup, BDropdownItem} from "bootstrap-vue/src/components/dropdown";

export default {
    name: 'EditorBar',
    components: {
        EditorSidebarSettings,
        ButtonEditorBack,
        ButtonEditorSave,
        ButtonEditorSaveResult,
        ButtonEditorShow,
        ButtonEditorPublish,
        ButtonEditorDelete,
        ButtonEditorSettings,
        ButtonEditorLibrary,
        ButtonEditorLanguage,
        ButtonEditorAuthors,
        ButtonEditorPreview,
        ButtonEditorPreviewSettings,
        BDropdown,
        BDropdownGroup,
        BDropdownItem,
        BDropdownDivider,
    },
    props: {
        article: {
            type: [Object],
            default: () => null,
        },
        scrollable: {
            type: [Boolean],
            default: () => false,
        },
        preview: {
            type: [Boolean],
            default: () => false,
        }
    },
    data() {
        return {
            show: false,
        };
    },
    computed: mapState({
        config: (state) => state.data.data.config,
        editor: (state) => state.app.editor.base,
        editorPdf: (state) => state.app.editor.pdf,
        editorIframe: (state) => state.app.editor.iframe,
        previewMode: (state) => state.app.editor.base.mode,
    }),
    watch: {},
    mounted() {
        window.addEventListener('scroll', this.updateScroll);
    },
    methods: {
        ...mapActions('app/editor/pdf', ['setPage', 'setPages', 'setZoom']),
        setPageNumber(page) {
            if (page > this.editorPdf.pages) {
                return;
            }
            if (page < 1) {
                return;
            }
            this.setPage(page);
        },
        setZoomValue(zoom) {
            this.setZoom(zoom);
        },
        updateScroll() {
            this.show = window.scrollY > 54;
        }
    },
};
</script>
