<template>
    <section>
        <div
            v-if="!preview"
            class=""
            style="padding-top: 54px;"
        >
            <div class="flex-xl-nowrap">
                <div :class="['pr--main--center bg-white']">
                    <EditorEditBar :article="article" :loaded="show.loaded" />
                    <EditorEdit v-if="show.loaded && !show.pending" :article="article" />
                    <BasePreloader
                        v-if="show.pending"
                        :class="'mt-5'"
                        :role="'table'"
                        :loading-text="true"
                        :height="500"
                        :text="`Идет загрузка статьи`"
                    />
                </div>
            </div>
        </div>
        <div
            v-if="preview"
            class="w-100"
            style="padding-top: 54px;"
        >
            <div class="flex-xl-nowrap">
                <Splitpanes class="default-theme">
                    <Pane :class="['pr--main--left __left']" style="background-color: #fff;">
                        <EditorEditBar :article="article" :preview="true" :loaded="show.loaded" />
                        <EditorEdit v-if="show.loaded && !show.pending" :article="article" />
                        <BasePreloader
                            v-if="show.pending"
                            :class="'mt-5'"
                            :role="'table'"
                            :loading-text="true"
                            :height="500"
                            :text="`Идет загрузка статьи`"
                        />
                    </Pane>
                    <Pane :class="['pr--main--left __right pb-3']" style="background-color: #fbfbfb;">
                        <EditorPreviewBar :article="article" :preview="true" :loaded="show.loaded" />
                        <div v-if="previewMode === 'pdf'">
                            <EditorPreviewPdf />
                        </div>
                        <div v-if="previewMode === 'word'" class="pt-3 pr--editor--preview--container">
                            <EditorPreviewWord />
                        </div>
                        <div v-if="previewMode === 'iframe'" class="pt-3 pr--editor--preview--container">
                            <EditorPreviewIframe />
                        </div>
                        <div v-if="previewMode === 'preview'" class="pt-3 pr--editor--preview--container" style="padding-bottom: 100vh;">
                            <EditorPreview
                                :article="article"
                                :blocks-initial="blocks"
                                :check-focused="true"
                                :prepend="[
                                    { type: 'header-h1', id: 'header', data: { text: articleStore.title } },
                                    { type: 'main-image', id: 'main-image', data: { file: { url: articleStore.image }, stretched: true, withBackground: false, caption: '' } },
                                ]"
                            />
                        </div>
                    </Pane>
                </Splitpanes>
            </div>
        </div>
    </section>
</template>

<script>

import { mapActions, mapState } from 'vuex';
import { Splitpanes, Pane } from 'splitpanes';
//import EditorPreview from './EditorPreview';
//import EditorPreviewPdf from './EditorPreviewPdf';
//import EditorPreviewIframe from './EditorPreviewIframe';
//import EditorBar from './EditorBar';
import BasePreloader from './../Base/BasePreloader';

export default {
    name: 'Editor',
    components: {
        EditorPreview: () => import('./EditorPreview'),
        EditorPreviewPdf: () => import('./EditorPreviewPdf'),
        EditorPreviewWord: () => import('./EditorPreviewWord'),
        EditorPreviewIframe: () => import('./EditorPreviewIframe'),
        EditorEdit: () => import('./EditorEdit'),
        EditorPreviewBar: () => import('./EditorPreviewBar'),
        EditorEditBar: () => import('./EditorEditBar'),
        Splitpanes,
        Pane,
        BasePreloader,
    },
    props: {
        article: {
            type: [Object],
            default: () => null,
        }
    },
    data() {
        return {
        };
    },
    computed: mapState({
        blocks: (state) => state.app.editor.base.data.blocks,
        version: (state) => state.app.editor.base.data.version,
        preview: (state) => state.app.editor.base.preview,
        focusedId: (state) => state.app.editor.base.focusedId,
        focusedIndex: (state) => state.app.editor.base.focusedIndex,
        previewMode: (state) => state.app.editor.base.mode,
        store: (state) => state.app.editor.articles.store,
        show: (state) => state.app.editor.articles.show,
        destroy: (state) => state.user.articles.destroy,
        articleStore: (state) => state.app.editor.articles.store.form,
    }),
    watch: {},
    mounted() {
        //
    },
    methods: {
        //
    },
};
</script>
