<template>
    <div class="pr--editor pr--editor--preview-iframe">
        <iframe
            v-if="editorIframe.url !== null"
            style="width:100%;"
            height="100%"
            frameborder="0"
            allowfullscreen=""
            :src="editorIframe.url"
            class="embed-tool__content youtube__iframe"
        />
        <div
            v-if="editorIframe.url === null"
            class="d-flex align-items-center justify-content-center flex-column h-100"
        >
            <div class="h4">
                Режим: Web-страница
            </div>
            <div class="mb-3">
                Добавьте ссылку для просмотра
            </div>
            <input
                v-model="url"
                type="text"
                class="form-control"
                placeholder="Ссылка"
                style="width: 400px;"
            >
        </div>
    </div>
</template>

<script>

import {mapActions, mapState} from 'vuex';

export default {
    name: 'EditorPreviewIframe',
    components: {

    },
    props: {},
    data() {
        return {
            url: null,
        };
    },
    computed: mapState({
        editorIframe: (state) => state.app.editor.iframe,
    }),
    watch: {
        'url'() {
            if (this.url !== null) {
                this.setWebUrl(this.url);
            }
        },
        'editorIframe.url'() {
            this.url = this.editorIframe.url;
        }
    },
    mounted() {
    },
    methods: {
        ...mapActions('app/editor/iframe', ['setWebUrl']),
        setUrlValue(value) {
            this.setWebUrl(value);
        },
    }
};
</script>
