<template>
    <div class="pr--editor pr--editor--pdf">
        <div v-if="editorWord.url !== null && !editorWord.pending">
            <iframe :src="`http://docs.google.com/gview?url=${editorWord.url}&embedded=true`"></iframe>
<!--            <VueDocPreview :value="editorWord.url" type="office" />-->
        </div>
        <div v-if="editorWord.url === null" class="pr--editor--pdf--empty">
            <div v-if="editorWord.pending" class="d-flex align-items-center justify-content-center h-100">
                <BasePreloader :role="'word'" />
            </div>
            <div v-if="!editorWord.pending" class="d-flex align-items-center justify-content-center h-100 flex-column">
                <div class="h4">
                    Режим: Word-файл
                </div>
                <div class="mb-3">
                    Загрузите файл для просмотра
                </div>
                <ButtonEditorUploadWord />
            </div>
        </div>
    </div>
</template>

<script>

import {mapActions, mapState} from 'vuex';
import pdfvuer from 'pdfvuer';
import BasePreloader from "../Base/BasePreloader";
import ButtonEditorUploadWord from "../Base/Button/Editor/ButtonEditorUploadWord";
import VueDocPreview from 'vue-doc-preview';

export default {
    name: 'EditorPreviewWord',
    components: {
        BasePreloader,
        ButtonEditorUploadWord,
        VueDocPreview,
    },
    props: {},
    data() {
        return {
            //
        };
    },
    computed: mapState({
        editorWord: (state) => state.app.editor.word,
    }),
    watch: {
        show: function (s) {
            if (s) {
                //this.getPdf();
            }
        },
        'editorWord.url'() {
            if (this.editorWord.url !== null) {
                //this.getPdf(this.editorWord.url);
            }
        }
    },
    mounted() {
        if (this.editorWord.url !== null) {
            //this.getPdf(this.editorWord.url);
        }
        //this.getPdf()
    },
    methods: {
        ...mapActions('app/editor/word', ['setPage', 'setPages']),
        // handlePdfLink: function (params) {
        //     const page = document.getElementById(String(params.pageNumber));
        //     page.scrollIntoView();
        // },
        // getPdf(url) {
        //     const self = this;
        //     self.pdfdata = pdfvuer.createLoadingTask(url);
        //     self.pdfdata.then((pdf) => {
        //         self.setPages(pdf.numPages);
        //         self.numPages = pdf.numPages;
        //     });
        // },
    }
};
</script>
