<template>
    <div :class="`pr--editor--preview--container ${editorPdf.zoom === 1 ? 'pt-3' : '__pdf-zoomed'}`">
        <div :class="`pr--editor pr--editor--pdf`" v-dragscroll="editorPdf.zoom !== 1">
            <div v-if="editorPdf.url !== null && !editorPdf.pending" class="pr--editor--pdf-preview">
                <EditorPreviewPdfPlugin
                    :resize="editorPdf.zoom === 1"
                    :scale="editorPdf.zoom"
                    :url="editorPdf.url"
                />
            </div>
            <div v-if="editorPdf.url === null" class="pr--editor--pdf--empty">
                <div v-if="editorPdf.pending" class="d-flex align-items-center justify-content-center h-100">
                    <BasePreloader :role="'pdf'" />
                </div>
                <div v-if="!editorPdf.pending" class="d-flex align-items-center justify-content-center h-100 flex-column">
                    <div class="h4">
                        Режим: Word-файл
                    </div>
                    <div class="mb-3">
                        Загрузите файл для просмотра
                    </div>
                    <ButtonEditorUploadPdf :accept="'.docx'" />
                </div>
            </div>
            <BaseModalPdfHelp />
        </div>
    </div>
</template>

<script>

import {mapActions, mapState} from 'vuex';
import BasePreloader from "../Base/BasePreloader";
import ButtonEditorUploadPdf from "../Base/Button/Editor/ButtonEditorUploadPdf";
import BaseModalPdfHelp from "../Base/Modal/Editor/BaseModalPdfHelp";
import EditorPreviewPdfPlugin from "./Preview/EditorPreviewPdfPlugin";
import { dragscroll } from 'vue-dragscroll';

export default {
    name: 'EditorPreviewWord',
    directives: {
        dragscroll
    },
    components: {
        EditorPreviewPdfPlugin,
        BasePreloader,
        ButtonEditorUploadPdf,
        BaseModalPdfHelp,
    },
    props: {},
    data() {
        return {
            //
        };
    },
    computed: mapState({
        editorPdf: (state) => state.app.editor.pdf,
    }),
    watch: {
        //
    },
    mounted() {
        //
    },
    methods: {
        //
    }
};
</script>
