<template>
    <div :class="['pr--editor--preview-settings', show ? '__shown' : '']">
        <div class="d-flex align-items-center justify-content-between w-100 h-100">
            <div>
                <ButtonEditorBack />
<!--                <ButtonEditorAuthors v-if="article !== null" :article="article" />-->
<!--                <ButtonEditorLibrary v-if="article !== null" :article="article" />-->
                <ButtonEditorSettings v-if="loaded" :article="article" />
                <ButtonEditorShow v-if="!preview && article !== null" :article="article" />
                <ButtonEditorSaveResult v-if="!preview" :article="article" />
            </div>
            <div>
                <ButtonEditorSave v-if="loaded && !preview && article === null" />
<!--                <ButtonEditorArticlesNextPrev v-if="!preview && article !== null" :article="article" />-->
<!--                <ButtonEditorAdd v-if="!preview && article !== null" :article="article" />-->
                <ButtonEditorLanguage v-if="!preview" />
                <ButtonEditorPreview v-if="!preview" :preview="preview" />
                <EditorSidebarSettings :article="article" />
            </div>
        </div>
    </div>
</template>

<script>

import { mapActions, mapState } from 'vuex';
import EditorSidebarSettings from './Sidebar/EditorSidebarSettings';
import ButtonEditorBack from '../Base/Button/Editor/ButtonEditorBack';
import ButtonEditorSave from '../Base/Button/Editor/ButtonEditorSave';
import ButtonEditorSaveResult from '../Base/Button/Editor/ButtonEditorSaveResult';
import ButtonEditorShow from '../Base/Button/Editor/ButtonEditorShow';
import ButtonEditorSettings from '../Base/Button/Editor/ButtonEditorSettings';
import ButtonEditorLibrary from '../Base/Button/Editor/ButtonEditorLibrary';
import ButtonEditorAuthors from '../Base/Button/Editor/ButtonEditorAuthors';
import ButtonEditorPreview from '../Base/Button/Editor/ButtonEditorPreview';
import ButtonEditorLanguage from '../Base/Button/Editor/ButtonEditorLanguage';
import ButtonEditorAdd from '../Base/Button/Editor/ButtonEditorAdd';
import ButtonEditorArticlesNextPrev from '../Base/Button/Editor/ButtonEditorArticlesNextPrev';

export default {
    name: 'EditorEditBar',
    components: {
        EditorSidebarSettings,
        ButtonEditorBack,
        ButtonEditorSave,
        ButtonEditorSaveResult,
        ButtonEditorShow,
        ButtonEditorSettings,
        ButtonEditorLibrary,
        ButtonEditorAuthors,
        ButtonEditorPreview,
        ButtonEditorLanguage,
        ButtonEditorAdd,
        ButtonEditorArticlesNextPrev,
    },
    props: {
        article: {
            type: [Object],
            default: () => null,
        },
        scrollable: {
            type: [Boolean],
            default: () => false,
        },
        preview: {
            type: [Boolean],
            default: () => false,
        },
        loaded: {
            type: [Boolean],
            default: () => false,
        }
    },
    data() {
        return {
            show: false,
        };
    },
    computed: mapState({
        config: (state) => state.data.data.config,
    }),
    watch: {},
    mounted() {
        window.addEventListener('scroll', this.updateScroll);
    },
    methods: {
        updateScroll() {
            this.show = window.scrollY > 54;
        }
    },
};
</script>
