<template>
    <div class="pr--editor">
        <div
            v-for="(block, key) in prepend"
            :id="`editor-active-${block.id}`"
            :key="`prepend-${key}`"
            :class="`pr--editor--block pr--editor--${block.type} ${checkFocused && focusedId === block.id ? 'active' : ''}`"
        >
            <EditorHeaderH1
                v-if="block.type === 'header-h1'"
                :data="block.data"
            />
            <EditorHeaderRubric
                v-if="block.type === 'rubric' && block.data.text !== null"
                :data="block.data"
            />
            <EditorParagraph
                v-if="block.type === 'preview'"
                :data="block.data"
            />
            <EditorImage
                v-if="block.type === 'main-image'"
                :data="block.data"
            />
        </div>
        <EditorCustomTop :article="article" />
        <div
            v-for="(block, key) in blocksActual"
            :id="`editor-active-${block.id}`"
            :key="key"
            :class="`pr--editor--block pr--editor--${block.type} ${focusedId === block.id ? 'active' : ''}`"
        >
            <EditorParagraph
                v-if="block.type === 'paragraph'"
                :data="block.data"
            />
            <EditorAlert
                v-if="block.type === 'alert'"
                :data="block.data"
            />
            <EditorHeader
                v-if="block.type === 'header'"
                :data="block.data"
                :tunes="block.tunes"
            />
            <EditorLinkTool
                v-if="block.type === 'linkTool'"
                :data="block.data"
            />
            <EditorDelimiter
                v-if="block.type === 'delimiter'"
                :data="block.data"
            />
            <EditorAsterisks
                v-if="block.type === 'asterisks'"
                :data="block.data"
            />
            <EditorImage
                v-if="block.type === 'image'"
                :data="block.data"
            />
            <EditorTable
                v-if="block.type === 'table'"
                :data="block.data"
            />
            <EditorList
                v-if="block.type === 'list'"
                :data="block.data"
            />
            <EditorQuote
                v-if="block.type === 'quote'"
                :data="block.data"
            />
            <EditorCode
                v-if="block.type === 'code'"
                :data="block.data"
            />
            <EditorAnyButton
                v-if="block.type === 'AnyButton'"
                :data="block.data"
            />
            <EditorWarning
                v-if="block.type === 'warning'"
                :data="block.data"
            />
            <EditorAttaches
                v-if="block.type === 'attaches'"
                :data="block.data"
            />
            <EditorAudio
                v-if="block.type === 'audio'"
                :id="block.id"
                :data="block.data"
            />
            <EditorVideo
                v-if="block.type === 'video'"
                :id="block.id"
                :data="block.data"
            />
            <EditorCarousel
                v-if="block.type === 'carousel'"
                :id="block.id"
                :data="block.data"
            />
            <EditorEmbed
                v-if="block.type === 'embed'"
                :id="block.id"
                :data="block.data"
            />
            <EditorPerson
                v-if="block.type === 'person'"
                :data="block.data"
            />
            <EditorIncut
                v-if="block.type === 'incut'"
                :data="block.data"
            />
        </div>
        <EditorCustomBottom :article="article" />
    </div>
</template>

<script>

import { mapActions, mapState } from 'vuex';

export default {
    name: 'EditorPreview',
    components: {
        EditorHeaderH1: () => import('./Block/EditorHeaderH1'),
        EditorHeaderRubric: () => import('./Block/EditorHeaderRubric'),
        EditorParagraph: () => import('./Block/EditorParagraph'),
        EditorAlert: () => import('./Block/EditorAlert'),
        EditorHeader: () => import('./Block/EditorHeader'),
        EditorLinkTool: () => import('./Block/EditorLinkTool'),
        EditorDelimiter: () => import('./Block/EditorDelimiter'),
        EditorAsterisks: () => import('./Block/EditorAsterisks'),
        EditorImage: () => import('./Block/EditorImage'),
        EditorTable: () => import('./Block/EditorTable'),
        EditorList: () => import('./Block/EditorList'),
        EditorQuote: () => import('./Block/EditorQuote'),
        EditorCode: () => import('./Block/EditorCode'),
        EditorAnyButton: () => import('./Block/EditorAnyButton'),
        EditorWarning: () => import('./Block/EditorWarning'),
        EditorAttaches: () => import('./Block/EditorAttaches'),
        EditorCarousel: () => import('./Block/EditorCarousel'),
        EditorEmbed: () => import('./Block/EditorEmbed'),
        EditorPerson: () => import('./Block/EditorPerson'),
        EditorIncut: () => import('./Block/EditorIncut'),
        EditorAudio: () => import('./Block/EditorAudio'),
        EditorVideo: () => import('./Block/EditorVideo'),
        EditorCustomTop: () => import('./EditorCustomTop'),
        EditorCustomBottom: () => import('./EditorCustomBottom'),
    },
    props: {
        prepend: {
            type: [Array],
            default: () => [],
        },
        blocksInitial: {
            type: [Array],
            default: () => [],
        },
        isPreview: {
            type: [Boolean],
            default: () => false,
        },
        article: {
            type: [Object],
            default: () => null,
        },
        checkFocused: {
            type: [Boolean],
            default: () => false,
        }
    },
    computed: mapState({
        config: (state) => state.app.data.data.config,
        blocks: (state) => state.app.editor.base.data.blocks,
        version: (state) => state.app.editor.base.data.version,
        preview: (state) => state.app.editor.base.preview,
        focusedId: (state) => state.app.editor.base.focusedId,
        focusedIndex: (state) => state.app.editor.base.focusedIndex,
        blocksActual() {
            if (this.article !== null && !this.isPreview) {
                return this.blocks;
            } else {
                return this.blocksInitial;
            }
        }
    }),
    watch: {
        'focusedId'() {
            const self = this;
            //console.log(self.focusedId);
            //console.log(`editor-active-${self.focusedId}`);
            //console.log(`#editor-active-${self.focusedId}`);
            if (self.checkFocused) {
                self.scrollEditorPreview().toHref(`#editor-active-${self.focusedId}`);
            }
        }
    },
    mounted() {
        console.log(this.checkFocused);
        this.clearPlayers();
    },
    methods: {
        ...mapActions('app/player', ['clearPlayers']),
    }
};
</script>
