<template>
    <div
        class="p-3 pb-3 mt-3"
        :class="[focusedMainHeader ? '__tb-disabled' : '']"
    >
        <EditorPrepend :article="article" />
        <client-only>
            <editor
                v-if="article !== null && fields !== null"
                ref="editor"
                :config="options"
                :initialized="onInitialized"
                :paste="onPaste"
            />
        </client-only>
        <div v-if="article === null && fields !== null" class="pr--editor--form-prepend">
            <div class="alert alert-light text-dark border-light shadow-sm" role="alert">
                <p class="mb-0">
                    Сохраните статью чтобы перейти к редактированию
                </p>
                <p v-if="preview && previewMode === 'pdf'" class="mt-3 mb-0">
                    Для более удобного редактирования по PDF файлу рекомендуется установить диапазон страниц в панели "Основная информация"
                </p>
            </div>
        </div>
    </div>
</template>

<script>

import { mapActions, mapState } from 'vuex';
import commonForm from '../../plugins/common/commonForm';
//import crpyto from '../../plugins/common/crpyto';
import api from './../../api';
import EditorPrepend from './EditorPrepend';
import editor from "../../plugins/common/editor";
//import { Editor } from 'vue-editor-js';

export default {
    name: 'EditorEdit',
    components: {
        EditorPrepend,
        //Editor,
    },
    props: {
        article: {
            type: [Object],
            default: () => null,
        },
    },
    data() {
        return {
            initialized: false,
            timer: null,
            timerEditor: null,
        };
    },
    computed: mapState({
        updated: (state) => state.app.editor.articles.store.updated,
        updatedForce: (state) => state.app.editor.articles.store.updatedForce,
        articleStore: (state) => state.app.editor.articles.store.form,
        model: (state) => state.app.editor.articles.store.model,
        uid: (state) => state.app.editor.articles.store.uid,
        fields: (state) => state.app.editor.articles.store.fields,
        blocks: (state) => state.app.editor.base.data.blocks,
        version: (state) => state.app.editor.base.data.version,
        preview: (state) => state.app.editor.base.preview,
        previewMode: (state) => state.app.editor.base.mode,
        updateBlocks: (state) => state.app.editor.base.updateBlocks,
        focusedId: (state) => state.app.editor.base.focusedId,
        focusedIndex: (state) => state.app.editor.base.focusedIndex,
        focusedMainHeader: (state) => state.app.editor.base.focusedMainHeader,
        options() {
            const self = this;
            if (this.article !== null) {
                //this.uid = this.article.id;
            }
            let urlUploadImage = process.env.API_URL + api.editor.upload;
            urlUploadImage = urlUploadImage.replace(':uid', this.uid);
            urlUploadImage = urlUploadImage.replace(':model', this.model);

            let urlFetchUrl = process.env.API_URL + api.editor.url;
            urlFetchUrl = urlFetchUrl.replace(':uid', this.uid);
            urlFetchUrl = urlFetchUrl.replace(':model', this.model);

            let urlSearchUrl = process.env.API_URL + api.editor.search;
            urlSearchUrl = urlSearchUrl.replace(':model', this.model);

            const headers = {
                //authorization: this.$auth.strategy.token.get(),
                //'X-Auth-Pass': crpyto.headerXAuthPath(),
            };
            return {
                data: {
                    blocks: this.blocks,
                    version: this.version,
                },
                readOnly: false,
                onPaste: (e) => {
                    self.onPaste(e);
                },
                onReady: () => {
                    this.onReadyEditor();
                },
                onChange: () => {
                    self.timerEditor = commonForm.formTimeout(self.timerEditor, () => {
                        self.changed();
                    }, 300);
                    // document.querySelectorAll('.ce-block').forEach(function (item) {
                    //     console.log(item);
                    // });
                },
                tools: {
                    image: {
                        //class: require('@editorjs/image'),
                        class: require('../../plugins/editorjs/image/dist/bundle.js'),
                        inlineToolbar: true,
                        config: {
                            endpoints: {
                                byFile: urlUploadImage, // Your backend file uploader endpoint
                                byUrl: urlFetchUrl, // Your endpoint that provides uploading by Url
                            },
                            additionalRequestHeaders: headers,
                            captionPlaceholder: self.$t('editor.basic.caption')
                        }
                    },
                    header: {
                        //class: require('@editorjs/header'),
                        //class: require('editorjs-header-with-anchor'),
                        class: require('../../plugins/editorjs/header/dist/bundle.js'),
                        config: {
                            placeholder: self.$t('editor.basic.title'),
                            levels: [2, 3, 4],
                            defaultLevel: 2,
                            allowAnchor: true,
                            anchorLength: 50,
                        },
                        tunes: ['anyTuneName'],
                    },
                    paragraph: {
                        class: require('../../plugins/editorjs/paragraph/dist/bundle.js'),
                        inlineToolbar: true,
                        config: {
                            placeholder: self.$t('editor.basic.your-text'),
                            defaultAlignment: 'justify',
                        },
                    },
                    carousel: {
                        //class: require('@vietlongn/editorjs-carousel'),
                        class: require('../../plugins/editorjs/carousel/dist/bundle.js'),
                        inlineToolbar: true,
                        config: {
                            endpoints: {
                                byFile: urlUploadImage,
                            },
                            additionalRequestHeaders: headers,
                            captionPlaceholder: self.$t('editor.basic.caption')
                        }
                    },
                    embed: {
                        class: require('@editorjs/embed'),
                        inlineToolbar: true,
                        config: {
                            services: {
                                youtube: true,
                                coub: true
                            }
                        }
                    },
                    attaches: {
                        class: require('@editorjs/attaches'),
                        inlineToolbar: true,
                        config: {
                            endpoint: urlUploadImage,
                            buttonText: self.$t('editor.basic.select-image-file'),
                            additionalRequestHeaders: headers,
                            errorMessage: self.$t('editor.basic.image-error'),
                        }
                    },
                    audio: {
                        //class: require('../../plugins/external/editorjs-audio/dist/bundle.js'),
                        class: require('../../plugins/editorjs/audio/dist/bundle.js'),
                        inlineToolbar: true,
                        config: {
                            endpoint: urlUploadImage,
                            buttonText: self.$t('editor.basic.select-image-file'),
                            additionalRequestHeaders: headers,
                            errorMessage: self.$t('editor.basic.image-error'),
                            onUpload: () => {
                                this.changed();
                                //console.log('onUpload');
                            }
                        }
                    },
                    video: {
                        //class: require('../../plugins/external/editorjs-video/dist/bundle.js'),
                        class: require('../../plugins/editorjs/video/dist/bundle.js'),
                        inlineToolbar: true,
                        config: {
                            endpoint: urlUploadImage,
                            buttonText: self.$t('editor.basic.select-image-file'),
                            additionalRequestHeaders: headers,
                            errorMessage: self.$t('editor.basic.image-error'),
                            onUpload: () => {
                                this.changed();
                                //console.log('onUpload');
                            }
                        }
                    },
                    alert: {
                        class: require('editorjs-alert'),
                        inlineToolbar: true,
                        shortcut: 'CMD+SHIFT+A',
                        config: {
                            defaultType: 'primary',
                            messagePlaceholder: self.$t('editor.basic.your-text'),
                        },
                    },
                    AnyButton: {
                        //class: require('editorjs-button'),
                        class: require('../../plugins/editorjs/button/dist/bundle.js'),
                        inlineToolbar: false,
                        config: {
                            css: {
                                btnColor: 'btn--editor',
                            }
                        }
                    },
                    warning: {
                        class: require('../../plugins/editorjs/warning/dist/bundle.js'),
                        inlineToolbar: true,
                        shortcut: 'CMD+SHIFT+W',
                        config: {
                            titlePlaceholder: self.$t('editor.basic.title'),
                            messagePlaceholder: self.$t('editor.basic.message'),
                        },
                    },
                    quote: {
                        class: require('@editorjs/quote'),
                        inlineToolbar: true,
                        shortcut: 'CMD+SHIFT+O',
                        config: {
                            quotePlaceholder: self.$t('editor.basic.quote-text'),
                            captionPlaceholder: self.$t('editor.basic.author'),
                        },
                    },
                    list: {
                        //class: require('@editorjs/list'),
                        class: require('@editorjs/nested-list'),
                        inlineToolbar: true,
                    },
                    marker: require('@editorjs/marker'),
                    underline: require('@editorjs/underline'),
                    code: require('@editorjs/code'),
                    //table: require('@editorjs/table'),
                    table: {
                        class: require('editorjs-table'),
                        inlineToolbar: true,
                        config: {
                            //contentEditable: true,
                        }
                    },
                    //table: require('../../../plugins/editor/table/plugin.js'),
                    delimiter: require('@editorjs/delimiter'),
                    asterisks: require('../../plugins/editorjs/asterisks/dist/bundle.js'),
                    person: {
                        class: require('../../plugins/editorjs/person/dist/bundle.js'),
                        //class: require('../../plugins/external/editorjs-person/dist/bundle.js'),
                        inlineToolbar: true,
                        config: {
                            endpoints: {
                                byFile: urlUploadImage, // Your backend file uploader endpoint
                                byUrl: urlFetchUrl, // Your endpoint that provides uploading by Url
                            },
                            additionalRequestHeaders: headers,
                            captionPlaceholder: self.$t('editor.basic.caption')
                        }
                    },
                    incut: {
                        class: require('../../plugins/editorjs/incut/dist/bundle.js'),
                        //class: require('../../plugins/external/editorjs-incut/dist/bundle.js'),
                        inlineToolbar: true
                    },
                    linkTool: {
                        class: require('@editorjs/link'),
                        config: {
                            endpoint: urlFetchUrl, // Your backend endpoint for url data fetching
                        }
                    },
                    // linkBookAutocomplete: {
                    //     class: require('../../plugins/editorjs/link-book-autocomplete/dist/bundle.js'),
                    //     config: {
                    //         endpoint: urlSearchUrl,
                    //         queryParam: 'q'
                    //     }
                    // },
                    inlineCode: {
                        class: require('@editorjs/inline-code'),
                        shortcut: 'CMD+SHIFT+M',
                    },
                    // subscript: {
                    //     class: require('../../plugins/editorjs/subscript/dist/bundle.js'),
                    // },
                    supscript: {
                        class: require('../../plugins/editorjs/supscript/dist/bundle.js'),
                    },
                    anyTuneName: {
                        class: require('editorjs-text-alignment-blocktune'),
                        config: {
                            default: 'left',
                            blocks: {
                                header: 'left',
                                list: 'left'
                            }
                        },
                    }
                },
                i18n: self.editorActions().i18n(),
            };
        }
    }),
    watch: {
        'updated'() {
            if (this.updated && this.article !== null && this.initialized) {
                this.changed();
            }
        },
        'updatedForce'() {
            if (this.updatedForce && this.article !== null && this.initialized) {
                this.changedForce();
            }
        },
        'updateBlocks'() {
            const self = this;
            if (self.updateBlocks) {
                console.log('updateBlocks');
                setTimeout(function () {
                    self.setUpdateBlocks(false);
                }, 500);
            }
        }
    },
    mounted() {
        console.log(this.articleStore);
        //console.log(this.articleStore.main_image);
    },
    methods: {
        ...mapActions('app/editor/base', ['setFocused', 'setBlocks', 'setUpdateBlocks']),
        ...mapActions('app/editor/articles/store', ['fetchSave', 'setChanged']),
        onInitialized(editor) {
            this.initialized = true;
            //console.log(this.$refs.editor);
            //console.log(this.$refs.editor._data);
            //console.log(this.$refs.editor._data.state);
            //console.log(editor);
            //const tooltip = document.querySelector('.ce-toolbox__button');
            //tooltip.addEventListener('mouseenter', event => event.stopImmediatePropagation(), true);
            //tooltip.addEventListener('mouseleave', event => event.stopImmediatePropagation(), true);
        },
        invokeSave() {
            const self = this;
            if (self.$refs.editor === undefined) {
                return;
            }
            if (self.$refs.editor._data.state === undefined) {
                return;
            }
            if (self.$refs.editor._data.state.editor.save === undefined) {
                return;
            }
            console.log(self.$refs.editor._data.state.editor.save);
            self.$refs.editor._data.state.editor.save().then((data) => {
                console.log(data);
                self.setBlocks(data.blocks);
                self.timer = commonForm.formTimeout(self.timer, () => {
                    self.fetchSave({
                        blocks: data.blocks,
                    });
                }, 2000);
            }).catch((err) => { console.log(err); });
        },
        changedForce() {
            const self = this;
            if (self.$refs.editor === undefined) {
                return;
            }
            self.$refs.editor._data.state.editor.save().then((data) => {
                self.setBlocks(data.blocks);
                self.fetchSave({
                    blocks: data.blocks,
                });
            }).catch((err) => { console.log(err); });
        },
        invokePreview() {
            const self = this;
            if (self.$refs.editor === undefined) {
                return;
            }
            self.$refs.editor._data.state.editor.save().then((data) => {
                self.setBlocks(data.blocks);
            }).catch((err) => { console.log(err); });
        },
        changed() {
            console.log('changed');
            const self = this;
            console.log(self.articleStore);
            if (self.articleStore.id !== null) {
                self.invokeSave();
            } else {
                self.invokePreview();
            }
        },
        onReadyEditor() {
            const self = this;
            editor.initMutationObserverFocusedBlock('.codex-editor__redactor', function () {
                document.querySelectorAll('.codex-editor__redactor .ce-block').forEach(function (item, key) {
                    const focused = editor.getFocused(item, key, self.focusedIndex, self.blocks);
                    if (focused !== null) {
                        self.setFocused(focused);
                    }
                });
            });
        },
        onPaste(evt) {
            console.log('on paste', evt.clipboardData.getData('text'));
        },
        beforeunloadFn(e) {
            console.log ('refresh or close');
            this.changedForce();
        }
    },
    created() {
        window.addEventListener('beforeunload', (e) => this.beforeunloadFn(e));
    },
    unmounted() {
        window.removeEventListener('beforeunload', (e) => this.beforeunloadFn(e));
    }
};
</script>
