<template>
    <div :class="`pr--editor--preview--container ${editorPdf.zoom === 1 ? 'pt-3' : '__pdf-zoomed'} ${!loaded ? 'overlay--is-loading' : ''}`">
        <div :class="`pr--editor pr--editor--pdf`">
            <!--        <div v-if="editorPdf.url !== null" class="pr&#45;&#45;editor&#45;&#45;pdf&#45;&#45;empty">-->
            <!--            <iframe-->
            <!--                height="100%"-->
            <!--                width="100%"-->
            <!--                :src="`${editorPdf.url}`"-->
            <!--                class="pdf-page-base"-->
            <!--            />-->
            <!--        </div>-->
            <!--        <div v-if="editorPdf.url !== null">-->
            <!--            <div ref="viewer" class="pr&#45;&#45;editor&#45;&#45;pdf&#45;&#45;empty" />-->
            <!--        </div>-->


            <div v-if="editorPdf.url !== null && !editorPdf.pending && !reloaded" class="pr--editor--pdf-preview">
                <pdf
                    v-for="i in numPages"
                    :id="`pdf-page-${i}`"
                    :key="i"
                    v-model:scale="scale"
                    :src="pdfdata"
                    :page="i"
                    style="width:100%;"
                    :annotation="false"
                    :resize="resize"
                    :class="`pdf-page-base pdf-page-${i} ${editorPdf.page !== i ? 'd-none' : ''}`"
                    @link-clicked="handlePdfLink"
                    @loaded="loadedPdf"
                    @progress="progressPdf"
                >
                    <template #loading>
                        Идет загрузка файла
                    </template>
                </pdf>
            </div>
            <div v-if="editorPdf.url === null" class="pr--editor--pdf--empty">
                <div v-if="editorPdf.pending" class="d-flex align-items-center justify-content-center h-100">
                    <BasePreloader :role="'pdf'" />
                </div>
                <div v-if="!editorPdf.pending" class="d-flex align-items-center justify-content-center h-100 flex-column">
                    <div class="h4">
                        Режим: Pdf-файл
                    </div>
                    <div class="mb-3">
                        Загрузите файл для просмотра
                    </div>
                    <ButtonEditorUploadPdf />
                </div>
            </div>
            <BaseModalPdfHelp />

            <!--        <pdf src="/report.pdf" :page="1">-->
            <!--            <template slot="loading">-->
            <!--                loading content here...-->
            <!--            </template>-->
            <!--        </pdf>-->
        </div>
    </div>
</template>

<script>

import {mapActions, mapState} from 'vuex';
import pdfvuer from 'pdfvuer';
import BasePreloader from "../Base/BasePreloader";
import ButtonEditorUploadPdf from "../Base/Button/Editor/ButtonEditorUploadPdf";
import WebViewer from '@pdftron/pdfjs-express';
import pdfParse from "../../plugins/common/pdfParse";
import BaseModalPdfHelp from "../Base/Modal/Editor/BaseModalPdfHelp";

export default {
    name: 'EditorPreviewPdf',
    components: {
        BasePreloader,
        ButtonEditorUploadPdf,
        BaseModalPdfHelp,
        pdf: pdfvuer,
    },
    props: {},
    data() {
        return {
            numPages: 0,
            pdfdata: undefined,
            scale: 'page-width',
            resize: true,
            loaded: false,
            reloaded: false,
        };
    },
    computed: mapState({
        editorPdf: (state) => state.app.editor.pdf,
    }),
    watch: {
        show: function (s) {
            if (s) {
                this.getPdf();
            }
        },
        'editorPdf.zoom'() {
            let needReloaded = false;
            if (this.editorPdf.zoom !== 1) {
                if (this.scale === 'page-width') {
                    needReloaded = true;
                }
                this.scale = this.editorPdf.zoom;
                this.resize = false;
            } else {
                this.scale = 'page-width';
                this.resize = true;
                needReloaded = true;
            }
            if (needReloaded) {
                this.reloaded = true;
            }
            console.log(this.scale, this.resize, this.reloaded);
        },
        'editorPdf.url'() {
            if (this.editorPdf.url !== null) {
                this.getPdf(this.editorPdf.url);
            }
        },
        'reloaded'() {
            const self = this;
            if (self.reloaded) {
                setTimeout(() => {
                    self.reloaded = false;
                }, 500);
            }
        }
    },
    mounted() {
        if (this.editorPdf.url !== null) {
            this.getPdf(this.editorPdf.url);
        }

        const nodes = [
            {
                "text": "Initial Cash to Borrower",
                "left": 68.4679,
                "top": 341.242
            },
            {
                "text": " is the Borrower requested cash withdrawal at closing",
                "left": 247.84,
                "top": 341.242
            },
            {
                "text": "Principal Limit",
                "left": 68.4679,
                "top": 375.703
            },
            {
                "text": " – This is essentially the loan amount of the reverse mortgage. It is the total amount of",
                "left": 178.919,
                "top": 375.703
            },
            {
                "text": "money  available  to  a  borrower  based  on  the  maximum  claim  amount,  interest  rate  and  age  of  the",
                "left": 68.4679,
                "top": 394.259
            },
            {
                "text": "youngest borrower.",
                "left": 68.4679,
                "top": 412.814
            },
            {
                "text": "Closing Costs",
                "left": 68.4679,
                "top": 447.275
            },
            {
                "text": "  are  estimates  of  the  closing  costs  for  the  reverse  mortgage  and  will  vary  based  upon",
                "left": 177.152,
                "top": 447.275
            },
            {
                "text": "location, loan amount, loan terms and conditions. Closing costs typically including the lender’s origination",
                "left": 68.4679,
                "top": 465.831
            },
            {
                "text": "charge,  appraisal,  credit  report,  flood  certification,  title  insurance,  settlement  and  notary  services,",
                "left": 68.4679,
                "top": 484.387
            },
            {
                "text": "counseling, government recording fees and transfer taxes and, for HECMs the initial mortgage insurance",
                "left": 68.4679,
                "top": 502.942
            },
            {
                "text": "premium  (2%  of  the  maximum  claim  amount). ",
                "left": 68.4679,
                "top": 521.498
            },
            {
                "text": "Other  costs  include  a  counseling  fee  payable  to  a  third-",
                "left": 404.239,
                "top": 521.498
            },
            {
                "text": "party housing counselor, typically $125.",
                "left": 68.4679,
                "top": 540.054
            }
        ];

        //const nods = pdfParse.prepareNodes(document.getElementById('template-pdf-copy'));
        //const arrayString = pdfParse.sortTexts(nods);
        //console.log(arrayString);
    },
    methods: {
        ...mapActions('app/editor/pdf', ['setPage', 'setPages']),
        handlePdfLink: function (params) {
            const page = document.getElementById(String(params.pageNumber));
            page.scrollIntoView();
        },
        getPdf(url) {
            const self = this;
            self.pdfdata = pdfvuer.createLoadingTask(url);

            self.pdfdata.then((pdf) => {
                self.setPages(pdf.numPages);
                self.numPages = pdf.numPages;
                self.$nextTick(() => {
                    //self.onCopyIframe();
                    for (let i = 0; i < self.numPages; i++) {
                        self.eventCopyOnPage(i + 1);
                    }
                });
                //self.pdfdata.drawScaled(2);
            });
            // WebViewer({
            //     path: 'http://converter.localhost/converter/js/@pdftron/public',
            //     initialDoc: url,
            // }, self.$refs.viewer).then((instance) => {
            //     console.log('loaded WebViewer');
            // });
        },
        eventCopyOnPage(page) {
            const self = this;
            //console.log('onCopy' + page);
            const source = document.querySelector(`.pdf-page-${page}`);
            //console.log('load');
            source.addEventListener('copy', (event) => {
                //console.log('copy');
                const selection = document.getSelection();

                const tpl = pdfParse.createNodeBySelection(selection, 'template-pdf-copy');

                const nodes = pdfParse.prepareNodes(tpl);
                const arrayString = pdfParse.sortTexts(nodes);

                //console.log(pdfParse.getLeftMin(nodes));
                //console.log(pdfParse.getLeftUsual(nodes));
                console.log(arrayString);
                if (arrayString.length) {
                    pdfParse.createNodeBySorted(arrayString, 'template-pdf-copy-after');
                    event.clipboardData.setData('text/plain', arrayString.join('\n'));
                } else {
                    const string = selection.toString();
                    let stringArray = [string];
                    stringArray = pdfParse.clearArrayCapitalize(stringArray);
                    pdfParse.createNodeBySorted(stringArray, 'template-pdf-copy-after');
                    console.log(stringArray);
                    event.clipboardData.setData('text/plain', stringArray.join('\n'));
                }
                event.preventDefault();
            });
        },
        onCopyIframe() {
            const source = document.querySelector(`.pdf-page-base`);
            source.addEventListener('load', (e) => {
                console.log('load');
                console.log(source);
                console.log(source.contentWindow);
                console.log(source.contentDocument);
                console.log(source.contentDocument.body);
                let ifr = source;
                let isMouseIn;
                ifr.addEventListener('mouseenter', () => {
                    isMouseIn = true;
                    console.log(isMouseIn);
                });
                ifr.addEventListener('mouseleave', () => {
                    isMouseIn = false;
                    console.log(isMouseIn);
                });
                window.document.addEventListener("visibilitychange", () => {
                    if (isMouseIn && document.hidden) {
                        console.log("Click Recorded By Visibility Change");
                    }
                });
                window.addEventListener("beforeunload", (event) => {
                    if (isMouseIn) {
                        console.log("Click Recorded By Before Unload");
                    }
                });
                //
                // source.contentDocument.body.addEventListener('copy', (event) => {
                //     const selection = document.getSelection();
                //     console.log(selection);
                // });
                // const selection = document.getSelection();
                // console.log(selection);
                // source.contentWindow.body.addEventListener('copy', (event) => {
                //     console.log('copy');
                // });
            });
        },
        loadedPdf() {
            this.loaded = true;
        },
        progressPdf(number) {
            console.log(number);
        }
    }
};
</script>
