<template>
    <div :class="['pr--editor--preview-settings', show ? '__shown' : '']">
        <div class="d-flex align-items-center justify-content-between w-100 h-100">
            <div>
                <!--                <ButtonEditorBack />-->
                <!--                <ButtonEditorSave-->
                <!--                    v-if="article === null"-->
                <!--                    :article="article"-->
                <!--                />-->
                <ButtonEditorShow v-if="article !== null" :article="article" />
                <ButtonEditorSaveResult :article="article" />
            </div>
            <div>
                <ButtonEditorSave v-if="loaded && preview && article === null" />
<!--                <ButtonEditorArticlesNextPrev v-if="article !== null" :article="article" />-->
<!--                <ButtonEditorAdd v-if="article !== null" :article="article" />-->
                <ButtonEditorLanguage />
                <ButtonEditorPreview :preview="preview" />
                <ButtonEditorPreviewSettings v-if="editor.preview" />
            </div>
        </div>
        <div v-if="editor.preview && previewMode === 'pdf' && editorPdf.url !== null" :class="`pr--editor--preview-settings--pdf ${editorPdf.zoom !== 1 ? '__zoomed' : ''}`">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-light btn-sm" @click="setPageNumber(editorPdf.page - 1)">
                    <font-awesome-icon icon="chevron-left" />
                </button>
                <button type="button" class="btn btn-light btn-sm" disabled>
                    {{ pdfPage }} / {{ pdfPages }}
                </button>
                <button type="button" class="btn btn-light btn-sm" @click="setPageNumber(editorPdf.page + 1)">
                    <font-awesome-icon icon="chevron-right" />
                </button>
            </div>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-light btn-sm" @click="setZoomValue(editorPdf.zoom - 1)">
                    <font-awesome-icon icon="search-minus" />
                </button>
                <button type="button" class="btn btn-light btn-sm" disabled>
                    {{ editorPdf.zoom ? editorPdf.zoom : '-' }}
                </button>
                <button type="button" class="btn btn-light btn-sm" @click="setZoomValue(editorPdf.zoom + 1)">
                    <font-awesome-icon icon="search-plus" />
                </button>
            </div>
            <div>
                <button type="button" class="btn btn-link link-dark mt-2" @click="modalActions().open('modal-editor-pdf-help')">
                    Помощь
                </button>
            </div>
<!--            <div>-->
<!--                <button type="button" class="btn btn-link link-dark mt-2" @click="modalActions().open('modal-editor-pdf-options')">-->
<!--                    Настройки-->
<!--                </button>-->
<!--            </div>-->
        </div>
    </div>
</template>

<script>

import { mapActions, mapState } from 'vuex';
import EditorSidebarSettings from './Sidebar/EditorSidebarSettings';
import ButtonEditorBack from '../Base/Button/Editor/ButtonEditorBack';
import ButtonEditorSave from '../Base/Button/Editor/ButtonEditorSave';
import ButtonEditorSaveResult from '../Base/Button/Editor/ButtonEditorSaveResult';
import ButtonEditorShow from '../Base/Button/Editor/ButtonEditorShow';
import ButtonEditorPublish from '../Base/Button/Editor/ButtonEditorPublish';
import ButtonEditorDelete from '../Base/Button/Editor/ButtonEditorDelete';
import ButtonEditorSettings from '../Base/Button/Editor/ButtonEditorSettings';
import ButtonEditorLibrary from '../Base/Button/Editor/ButtonEditorLibrary';
import ButtonEditorAuthors from '../Base/Button/Editor/ButtonEditorAuthors';
import ButtonEditorPreview from '../Base/Button/Editor/ButtonEditorPreview';
import ButtonEditorLanguage from '../Base/Button/Editor/ButtonEditorLanguage';
import ButtonEditorAdd from '../Base/Button/Editor/ButtonEditorAdd';
import ButtonEditorArticlesNextPrev from '../Base/Button/Editor/ButtonEditorArticlesNextPrev';
import ButtonEditorPreviewSettings from '../Base/Button/Editor/ButtonEditorPreviewSettings';
import {BDropdown, BDropdownDivider, BDropdownGroup, BDropdownItem} from "bootstrap-vue/src/components/dropdown";

export default {
    name: 'EditorPreviewBar',
    components: {
        EditorSidebarSettings,
        ButtonEditorBack,
        ButtonEditorSave,
        ButtonEditorSaveResult,
        ButtonEditorShow,
        ButtonEditorPublish,
        ButtonEditorDelete,
        ButtonEditorSettings,
        ButtonEditorLibrary,
        ButtonEditorLanguage,
        ButtonEditorAuthors,
        ButtonEditorPreview,
        ButtonEditorArticlesNextPrev,
        ButtonEditorAdd,
        ButtonEditorPreviewSettings,
        BDropdown,
        BDropdownGroup,
        BDropdownItem,
        BDropdownDivider,
    },
    props: {
        article: {
            type: [Object],
            default: () => null,
        },
        scrollable: {
            type: [Boolean],
            default: () => false,
        },
        preview: {
            type: [Boolean],
            default: () => false,
        },
        loaded: {
            type: [Boolean],
            default: () => false,
        }
    },
    data() {
        return {
            show: false,
        };
    },
    computed: mapState({
        config: (state) => state.data.data.config,
        editor: (state) => state.app.editor.base,
        editorPdf: (state) => state.app.editor.pdf,
        editorIframe: (state) => state.app.editor.iframe,
        previewMode: (state) => state.app.editor.base.mode,
        pdfPages() {
            if (this.editorPdf.showPages !== null) {
                return this.editorPdf.showPages.length;
            }
            return this.editorPdf.pages ? this.editorPdf.pages : '-';
        },
        pdfPage() {
            if (this.editorPdf.showPages !== null) {
                return this.editorPdf.showPages.indexOf(this.editorPdf.page) + 1;
            }
            return this.editorPdf.page;
        },
    }),
    watch: {},
    mounted() {
        window.addEventListener('scroll', this.updateScroll);
    },
    methods: {
        ...mapActions('app/editor/pdf', ['setPage', 'setPages', 'setZoom']),
        setPageNumber(page) {
            if (this.editorPdf.showPages !== null) {
                if (this.editorPdf.showPages.indexOf(page) === -1) {
                    return;
                }
            }
            if (page > this.editorPdf.pages) {
                return;
            }
            if (page < 1) {
                return;
            }
            this.setPage(page);
        },
        setZoomValue(zoom) {
            this.setZoom(zoom);
        },
        updateScroll() {
            this.show = window.scrollY > 54;
        }
    },
};
</script>
