<template>
    <div class="pr--editor--block pr--editor--block--top">
        <EditorCustomAuthors
            v-if="article !== null && article.authors !== undefined && article.authors.length"
            :authors="article.authors"
        />
        <EditorCustomKeywords
            v-if="article !== null && article.keywords_array !== undefined && article.keywords_array.length"
            :keywords="article.keywords_array"
        />
<!--        <EditorCustomUdk-->
<!--            v-if="article !== null"-->
<!--            :article="article"-->
<!--        />-->
        <hr>
    </div>
</template>

<script>

import { mapActions, mapState } from 'vuex';
import EditorCustomAuthors from "./Block/Custom/EditorCustomAuthors";
import EditorCustomUdk from "./Block/Custom/EditorCustomUdk";
import EditorCustomKeywords from "./Block/Custom/EditorCustomKeywords";

export default {
    name: 'EditorCustomTop',
    components: {
        EditorCustomAuthors,
        EditorCustomUdk,
        EditorCustomKeywords,
    },
    props: {
        article: {
            type: [Object],
            default: () => null,
        },
    },
};
</script>
