<template>
    <div>
        <FormPanelShowByFields
            v-if="!tabs.includes(tab.name)"
            :model="model"
            :pending="false"
            :item="item"
            :fields="tab.data"
            :tab="tab"
        />
    </div>
</template>

<script>

import FormPanelShowByFields from "../../../../Form/FormPanelShowByFields";

export default {
    name: 'PanelPanelShowTabDefault',
    components: {
        FormPanelShowByFields,
    },
    props: {
        pending: {
            type: [Boolean],
            required: true,
            default: () => false,
        },
        model: {
            type: [String],
            required: true,
            default: () => '',
        },
        item: {
            type: [Object],
            default: () => null,
        },
        tab: {
            type: [Object],
            required: true,
            default: () => {},
        },
    },
    data() {
        return {
            tabs: [
                'image',
                'editor_articles',
            ]
        };
    },
    mounted() {
        //
    },
    methods: {
        //
    }
};
</script>
