.pr--card--journal {
    //width: 150px;
    margin-bottom: 1rem;
    //margin-right: 1rem;
    //margin-left: 1rem;
    .badge {
        margin-top: .25rem;
        margin-bottom: .25rem;
    }
    h6 {
        margin-bottom: 0;
        //font-size: $font-size-md;
    }
    .--image {
        margin-bottom: .5rem;
    }
}
