<template>
    <form class="row" @submit.prevent="submit">
        <div class="col-12">
            <div class="form-group disabled">
                <label class="text-muted ml-2 mb-0 form-label">{{ $t('fields.title') }} <i class="r">*</i></label>
                <input
                    v-model="form.title"
                    type="text"
                    class="form-control"
                    :class="{'is-danger': update.errors.title !== undefined}"
                    :placeholder="$t('fields.title')"
                    name="title"
                    disabled
                >
                <FormError :error="update.errors.title" />
            </div>
        </div>
<!--        <div class="col-12">-->
<!--            <div class="form-group">-->
<!--                <label class="text-muted ml-2 mb-0 form-label">{{ $t('fields.description') }} <i class="r">*</i></label>-->
<!--                <b-form-textarea-->
<!--                    v-model="form.preview_description"-->
<!--                    :placeholder="$t('fields.description')"-->
<!--                    :class="{'is-danger': update.errors.preview_description !== undefined}"-->
<!--                    rows="3"-->
<!--                    required-->
<!--                />-->
<!--                <FormError :error="update.errors.preview_description" />-->
<!--            </div>-->
<!--        </div>-->
        <div class="col-12">
            <div class="form-group">
                <label class="text-muted ml-2 mb-0 form-label">{{ $t('fields.preview_description') }} <i class="r">*</i></label>
                <client-only>
                    <VueEditor v-model="form.preview_description" :editor-toolbar="customToolbar" class="quillWrapper--textarea" />
                </client-only>
                <FormError :error="update.errors.preview_description" />
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label class="text-muted ml-2 mb-0 form-label">{{ $t('fields.full_description') }}</label>
                <client-only>
                    <VueEditor v-model="form.description" :editor-toolbar="customToolbar" class="quillWrapper--description" />
                </client-only>
                <FormError :error="update.errors.description" />
            </div>
        </div>
        <div class="col-12 pr--form--basic--footer">
            <div v-if="update.success" class="text-success --success-message">
                <font-awesome-icon icon="check" class="mr-1" />
                {{ $t('button.save-success') }}
            </div>
            <button type="submit" :class="['btn btn-primary', update.pending ? 'is-loading' : '']">
                {{ $t('button.save') }}
            </button>
        </div>
    </form>
</template>

<script>
import { mapState, mapActions } from 'vuex';
//import { VueEditor } from "vue2-editor/dist/vue2-editor.core.js";

export default {
    name: 'UserGroupFormMain',
    components: {
        //VueEditor,
    },
    middleware: ['auth'],
    props: {
        group: {
            type: [Object],
            default: () => {},
        },
    },
    data() {
        return {
            title: null,
            preview_description: null,
            description: null,
            content: 'Музыкальное сообщество',
            customToolbar: [
                // https://github.com/davidroyer/vue2-editor/blob/master/src/helpers/fullToolbar.js
                ['bold', 'italic', 'underline', 'link'],
                // [{ color: ['#ccc', '#898'] }],
                //[{ list: 'ordered' }, { list: 'bullet' }],
                //['image', 'code-block']
            ]
        };
    },
    computed: mapState({
        data: state => state.app.data.data,
        update: state => state.user.groups.update,
        form: state => state.user.groups.update.form,
    }),
    watch: {
        'form.closeModal'() {
            const self = this;
            if (self.form.closeModal) {
                self.modalActions().close();
            }
        }
    },
    mounted() {
        const self = this;
        self.form.title = self.group.title;
        self.form.preview_description = self.group.preview_description;
        self.form.description = self.group.description;
    },
    methods: {
        ...mapActions('user/groups/update', ['fetchUpdate']),
        submit() {
            const self = this;
            const data = {
                id: self.group.id,
                title: self.form.title,
                preview_description: self.form.preview_description,
                description: self.form.description,
            };
            self.fetchUpdate(data);
        }
    }
};
</script>

<style scoped>

</style>
