<template>
    <div class="row">
        <div class="col-12">
            <table class="table table-borderless pr--table--user-group table-sm">
                <thead>
                    <tr>
                        <th class="td--user">
                            {{ $t('table.user-group.member') }}
                        </th>
                        <th class="td--author">
                            {{ $t('table.user-group.author') }}
                        </th>
                        <th class="td--delete">
                            {{ $t('table.user-group.remove') }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="member in group.members" :key="member.id">
                        <td class="td--user">
                            <LinkAuthor :user="member" />
                            <span class="text-muted">{{ member.id === group.owner.id ? `(${$t('basic.owner')})` : '' }}</span>
                        </td>
                        <td class="td--author">
                            <toggle-button
                                class="text-success"
                                :value="member.is_author === 1"
                                color="#82C7EB"
                                :sync="true"
                                :labels="{checked: $t('basic.yes'), unchecked: $t('basic.no')}"
                                :css-colors="true"
                                :disabled="member.id === group.owner.id"
                                @change="changeAuthor(member)"
                            />
                        </td>
                        <td class="td--delete">
                            <button
                                type="button"
                                :class="[
                                    'btn btn-sm text-danger btn-icon',
                                    member.id === group.owner.id ? 'disabled' : '',
                                ]"
                                @click="removeMember(member)"
                            >
                                <font-awesome-icon icon="trash" />
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import LinkAuthor from '../../../../Base/Link/LinkAuthor';

export default {
    name: 'UserGroupFormMembers',
    components: {
        LinkAuthor,
    },
    middleware: ['auth'],
    props: {
        group: {
            type: [Object],
            default: () => {},
        },
    },
    data() {
        return {
            member: {
                email: null,
                is_author: false,
            },
            title: null,
            description: null,
        };
    },
    computed: mapState({
        data: state => state.data,
        update: state => state.user.groups.update,
        form: state => state.user.groups.update.form,
    }),
    watch: {
        'form.closeModal'() {
            const self = this;
            if (self.form.closeModal) {
                self.modalActions().close();
            }
        }
    },
    mounted() {
        const self = this;
        self.form.title = self.group.title;
        self.form.description = self.group.description;
    },
    methods: {
        ...mapActions('user/groups/update', ['fetchUpdate']),
        submit() {
            const self = this;
            self.fetchUpdate({
                id: self.group.id,
                new_member: self.member,
            });
            self.member = {
                email: null,
                is_author: false,
            };
        },
        changeAuthor(member) {
            const self = this;
            const members = self.group.members;
            members.forEach(function (item, key) {
                if (item.id === member.id) {
                    members[key].is_author = !item.is_author ? 1 : 0;
                }
            });
            self.fetchUpdate({
                id: self.group.id,
                members,
            });
        },
        removeMember(member) {
            const self = this;
            if (member.id === self.group.owner.id) {
                return;
            }
            const members = self.group.members;
            members.forEach(function (item, key) {
                if (item.id === member.id) {
                    members[key].delete = 1;
                }
            });
            self.fetchUpdate({
                id: self.group.id,
                members,
            });
        }
    }
};
</script>

<style scoped>

</style>
