<template>
    <form class="row" @submit.prevent="submit">
        <div class="col-12">
            <div class="form-group">
                <label class="text-muted ml-2 mb-0 form-label">{{ $t('fields.email') }} <i class="r">*</i></label>
                <input
                    v-model="member.email"
                    type="email"
                    class="form-control"
                    :class="{'is-danger': update.errors.member !== undefined}"
                    :placeholder="$t('fields.email')"
                    required
                >
                <FormError :error="update.errors.member" />
                <span class="form-text text-muted">{{ $t('fields.group-members-add.email-placeholder') }}</span>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <b-form-checkbox
                    v-model="member.is_author"
                    value="1"
                >
                    {{ $t('fields.group-members-add.is-author') }}
                </b-form-checkbox>
                <span class="form-text text-muted">{{ $t('fields.group-members-add.is-author-placeholder') }}</span>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <b-form-checkbox
                    v-model="member.send"
                    value="1"
                >
                    {{ $t('fields.group-members-add.send') }}
                </b-form-checkbox>
                <span class="form-text text-muted">{{ $t('fields.group-members-add.send-placeholder') }}</span>
            </div>
        </div>
        <div class="col-12 pr--form--basic--footer">
            <button type="submit" :class="['btn btn-primary', update.pending ? 'is-loading' : '']">
                {{ $t('button.add') }}
            </button>
        </div>
    </form>
</template>

<script>
import { mapState, mapActions } from 'vuex';

export default {
    name: 'UserGroupFormMembersAdd',
    components: {
        //
    },
    middleware: ['auth'],
    props: {
        group: {
            type: [Object],
            default: () => {},
        },
    },
    data() {
        return {
            member: {
                email: null,
                is_author: false,
                send: false,
            },
        };
    },
    computed: mapState({
        data: state => state.data,
        update: state => state.user.groups.update,
        form: state => state.user.groups.update.form,
    }),
    watch: {
        'form.closeModal'() {
            const self = this;
            if (self.form.closeModal) {
                self.modalActions().close();
            }
        }
    },
    mounted() {
        const self = this;
    },
    methods: {
        ...mapActions('user/groups/update', ['fetchUpdate']),
        submit() {
            const self = this;
            self.fetchUpdate({
                id: self.group.id,
                new_member: self.member,
            });
            self.member = {
                email: null,
                is_author: false,
                send: false,
            };
        },
    }
};
</script>

<style scoped>

</style>
