.pr--article--card-search, .pr--journal--card-search {
    position: relative;
    .badge {
        margin-bottom: .25rem;
    }
    .--image {
        margin-right: 1rem;
        position: relative;
    }
    .--main {
        display: flex;
        align-items: flex-start;
    }
    h5 {
        margin-bottom: 0;
    }
    .--content {
        position: relative;
        //display: flex;
        //align-items: flex-end;
        //justify-content: space-between;
        //@include media-breakpoint-down(sm) {
        //    flex-direction: column;
        //    align-items: flex-start;
        //    //font-size: $font-size-sm;
        //}

    }
    &--container {
        .pr--article--card-search:first-child, .pr--journal--card-search:first-child {
            //margin-top: 1rem;
        }

        .pr--article--card-search:last-child, .pr--journal--card-search:last-child {
            //border-bottom: none;
        }
    }
    .--actions {
        position: absolute;
        top: 0;
        right: 0;
        .btn {
            border: none;
        }
        //width: 145px;
        //@include media-breakpoint-down(sm) {
        //    position: absolute;
        //    top: 0;
        //    right: 0;
        //    width: inherit;
        //}
    }
    .--udk-doi {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .--udk, .--doi {
        min-width: 150px;
        margin-right: 1rem;
    }
    .--annotation {
        position: absolute;
        bottom: 0;
        right: 0;
        //margin-bottom: .5rem;
    }
}
.pr--article--card-search {
    .--main {
        @include media-breakpoint-down(sm) {
            flex-direction: column;
            align-items: flex-start;
        }
    }
}
.pr--journal--card-search {
    .--actions {
        .btn {
            @include media-breakpoint-down(sm) {
                //padding: .75rem 1rem;
            }
        }
    }
}
.pr--card-search--container {
    .pr--article--card-search--container, .pr--journal--card-search--container {
        padding-bottom: .5rem;
        margin-top: .5rem;
        border-bottom: $border-width solid $border-color;
        &:last-child {
            //margin-bottom: 0;
            //border-bottom: none;
        }
    }
}
