<template>
    <div class="d-inline-flex align-items-center mr-3">
        <b-skeleton type="avatar" width="26px" height="26px" class="mr-2" style="margin-top: -1px;" />
        <b-skeleton width="80px" height="16px" class="mb-0" />
    </div>
</template>

<script>

export default {
    name: 'SkeletonLinkGroup',
    props: {
        group: {
            type: [Object],
            default: () => {
                return {
                    slug: '',
                    title: '',
                    image: '',
                };
            },
        },
    }
};
</script>
