<template>
    <div class="d-inline-flex align-items-center">
        <b-skeleton type="avatar" width="26px" height="26px" class="mr-2" style="margin-top: -1px;" />
        <b-skeleton width="80px" height="16px" class="mb-0" />
    </div>
</template>

<script>

export default {
    name: 'SkeletonLinkAuthor',
    props: {
        xs: {
            type: [Boolean],
            default: () => false,
        },
        user: {
            type: [Object],
            default: () => {
                return {
                    id: '',
                    slug: '',
                    first_name: '',
                    last_name: '',
                    image: '',
                };
            },
        }
    }
};
</script>
