<template>
    <div class="row mb-3 rounded-sm-bottom shadow-sm" style="background-color: #fff;">
        <div class="col-12">
            <div class="pr--group--head">
                <div class="d-flex align-items-start justify-content-start">
                    <div class="--image">
                        <img :src="category.image" :alt="category.title" class="mr-3">
                    </div>
                    <div class="w-100">
                        <h3>
                            {{ category.title }}
                        </h3>
                        <p class="--text">
                            {{ category.description }}
                        </p>
                        <div class="--counters">
                            <ButtonViews :value="category.counters.views" />
                            <ButtonSubscribers :value="category.counters.subscribers" />
                        </div>
                    </div>
                </div>
                <div class="--published">
                    <CategoryMenuBasic :category="category" />
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import { mapState } from 'vuex';
import ButtonViews from '../../../Base/Button/ButtonViews';
import ButtonSubscribers from '../../../Base/Button/ButtonSubscribers';
import CategoryMenuBasic from "../Menu/CategoryMenuBasic";

export default {
    name: 'CategoryBlockHead',
    components: {
        ButtonViews,
        ButtonSubscribers,
        CategoryMenuBasic,
    },
    props: {
        category: {
            type: [Object],
            default: () => {},
        }
    },
    data() {
        return {};
    },
    computed: mapState({
        app: state => state.app,
    }),
    watch: {},
    mounted() {},
    methods: {},
};
</script>

<style scoped lang="scss">

</style>
