<template>
    <BaseModal
        :title="'Подтвердите удаление'"
        :name="'modal-panel-confirm-delete'"
        :width="500"
    >
        <div class="row">
            <div class="col-12">
                <p
                    v-if="model !== null"
                    class="mb-0"
                >
                    Вы уверены что хотите удалить {{ $t(`project.delete.${model}`) }}?
                </p>
                <p
                    v-if="model === 'authors'"
                    class="mb-0"
                >
                    Автор будет отвязан от всех статей, к которым он привязан, и удален
                </p>
                <p
                    v-if="model === 'releases-books'"
                    class="mb-0"
                >
                    Книга будет отвязана от всех статей, к которым она привязана, и удалена
                </p>
            </div>
            <div class="col-12 mt-3 d-flex justify-content-end align-items-center">
                <button
                    type="button"
                    class="btn btn-light mr-1"
                    @click="modalActions().close()"
                >
                    {{ $t('button.cancel') }}
                </button>
                <button
                    v-if="fields !== null && !fields.config.soft_delete"
                    type="button"
                    :class="[
                        'btn btn-danger',
                        destroy.pending ? 'is-loading' : '',
                    ]"
                    @click="submitDelete"
                >
                    {{ $t('button.delete') }}
                </button>
                <button
                    v-if="fields !== null && fields.config.soft_delete"
                    type="button"
                    :class="[
                        'btn btn-outline-danger mr-1',
                        destroy.pending && destroy.force ? 'is-loading' : '',
                    ]"
                    @click="submitDeleteFull"
                >
                    {{ $t('button.delete-full') }}
                </button>
                <button
                    v-if="fields !== null && fields.config.soft_delete"
                    type="button"
                    :class="[
                        'btn btn-danger',
                        destroy.pending && !destroy.force ? 'is-loading' : '',
                    ]"
                    @click="submitDeleteSoft"
                >
                    {{ $t('button.delete-soft') }}
                </button>
            </div>
        </div>
    </BaseModal>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import BaseModal from './BaseModal';

export default {
    name: 'BaseModalPanelConfirmDelete',
    components: {
        BaseModal,
    },
    data() {
        return {};
    },
    computed: mapState({
        model: (state) => state.app.modal.model,
        item: (state) => state.app.modal.item,
        destroy: (state) => state.app.table.table.destroy,
        fields: (state) => state.app.table.table.base.fields,
    }),
    watch: {
        //
    },
    mounted() {
        //console.log(this.fields);
        //
    },
    methods: {
        ...mapActions('app/modal', ['setDeleted', 'setDeletedFull']),
        submitDelete() {
            const self = this;
            self.setDeleted();
        },
        submitDeleteSoft() {
            const self = this;
            self.setDeleted();
        },
        submitDeleteFull() {
            const self = this;
            self.setDeletedFull();
        },
    }
};
</script>
