<template>
    <form
        action=""
        class="row pt-3 pr-3 pl-3"
        @submit.prevent="submit"
    >
        <div class="col-12">
            <div class="upload-example">
                <div v-if="file !== null">
                    <Cropper
                        ref="cropper"
                        :class="`upload-example-cropper mb-3 ${isRounded ? '__rounded' : ''}`"
                        :src="image.src"
                        :debounce="!isSquare"
                        :stencil-props="isSquare ? {
                        aspectRatio: 1
                    } : {}"
                    />
                </div>
                <div class="dropzone-file">
                    <b-form-file
                        ref="uploadButton"
                        v-model="file"
                        :placeholder="$t('fields.file-placeholder')"
                        :drop-placeholder="$t('fields.file-drop')"
                        :browse-text="$t('fields.file-button')"
                        accept="image/*"
                        :file-name-formatter="fileNameTransformer"
                        @change="loadImage($event)"
                    />
                </div>
            </div>
        </div>
        <div
            v-if="upload.errors.image !== undefined"
            class="col-12 mt-4 d-flex justify-content-center align-items-center"
        >
            <div class="text-danger">
                {{ upload.errors.image }}
            </div>
        </div>
        <div class="col-12 mt-4 d-flex justify-content-end align-items-center">
            <div
                v-if="upload.success"
                class="text-success mr-3"
            >
                <font-awesome-icon
                    icon="check"
                    class="mr-1"
                />
                {{ $t('button.save-success') }}
            </div>
            <button
                type="button"
                class="btn btn-light mr-1"
                @click="modalActions().close()"
            >
                {{ $t('button.cancel') }}
            </button>
            <button
                v-if="file !== null"
                type="submit"
                :class="['btn btn-primary', upload.pending ? 'is-loading' : '']"
            >
                {{ $t('button.apply') }}
            </button>
        </div>
    </form>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import { Cropper } from 'vue-advanced-cropper';

export default {
    name: 'ModalUploadFormBasic',
    components: {
        Cropper,
    },
    props: {
        upload: {
            type: [Object],
            default: () => {},
        },
        onUpload: {
            type: [Function],
            default: () => {},
        },
        isSquare: {
            type: [Boolean],
            default: () => true,
        },
        isRounded: {
            type: [Boolean],
            default: () => true,
        }
    },
    data() {
        return {
            file: null,
            image: {
                src: null,
                type: null
            }
        };
    },
    computed: mapState({
        //
    }),
    watch: {
        //
    },
    mounted() {
        const self = this;
        self.file = null;
        self.image = {
            src: null,
            type: null
        };
        self.onShow();
    },
    methods: {
        crop() {
            const self = this;
            const { canvas } = self.$refs.cropper.getResult();
            canvas.toBlob((blob) => {
                // Do something with blob: upload to a server, download and etc.
            }, self.image.type);
        },
        reset() {
            this.image = {
                src: null,
                type: null
            };
        },
        loadImage(event) {
            const self = this;
            const { files } = event.target;
            if (files && files[0]) {
                if (self.image.src) {
                    URL.revokeObjectURL(self.image.src);
                }
                const blob = URL.createObjectURL(files[0]);
                const reader = new FileReader();
                reader.onload = (e) => {
                    self.image = {
                        src: blob,
                        type: getMimeType(e.target.result, files[0].type),
                    };
                };
                reader.readAsArrayBuffer(files[0]);
            }
        },
        submit() {
            const self = this;
            const { canvas } = self.$refs.cropper.getResult();
            if (canvas) {
                const form = new FormData();
                canvas.toBlob((blob) => {
                    console.log(blob);
                    form.append('image', blob);
                    //form.append('id', self.upload.model);
                    //form.append('model', self.upload.model);
                    self.onUpload(form);
                    // Perhaps you should add the setting appropriate file format here
                }, 'image/jpeg');
            }
        },
        onShow() {
            const self = this;
            setTimeout(function () {
                self.$refs.uploadButton.$refs.input.click();
            }, 300);
        },
        dropzoneClick() {
            const self = this;
            self.$refs.uploadButton.$refs.input.click();
        },
        fileNameTransformer(files) {
            return `Выбран файл: ${files[0].name}. Нажмите, чтобы изменить.`;
        }
    },
};

// This function is used to detect the actual image type,
function getMimeType(file, fallback = null) {
    const byteArray = (new Uint8Array(file)).subarray(0, 4);
    let header = '';
    for (let i = 0; i < byteArray.length; i++) {
        header += byteArray[i].toString(16);
    }
    switch (header) {
    case '89504e47':
        return 'image/png';
    case '47494638':
        return 'image/gif';
    case 'ffd8ffe0':
    case 'ffd8ffe1':
    case 'ffd8ffe2':
    case 'ffd8ffe3':
    case 'ffd8ffe8':
        return 'image/jpeg';
    default:
        return fallback;
    }
}
</script>

<style scoped>

</style>
