<template>
    <form action="" class="row pt-3" @submit.prevent="submit">
        <div class="col-12">
            <ButtonFileEditorUpload :on-upload="onUpload" :pending="pending" />
        </div>
        <div class="col-12">
            <div class="login-register-hr __sm">
                <span>или</span>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label class="text-muted ml-2 mb-0 form-label">Youtube</label>
                <input
                    v-model="youtube"
                    type="text"
                    class="form-control"
                    :placeholder="'https://www.youtube.com/watch?v=...'"
                    name="youtube"
                >
            </div>
        </div>
        <div class="col-12 d-flex justify-content-end align-items-center">
            <div v-if="upload.success" class="text-success mr-3">
                <font-awesome-icon icon="check" class="mr-1" />
                {{ $t('button.save-success') }}
            </div>
            <button type="button" class="btn btn-light mr-1" @click="modalActions().close()">
                {{ $t('button.cancel') }}
            </button>
            <button
                v-if="youtube !== null"
                type="submit"
                :class="['btn btn-primary', upload.pending ? 'is-loading' : '']"
            >
                {{ $t('button.apply') }}
            </button>
        </div>
    </form>
</template>
<script>
import { mapState, mapActions } from 'vuex';
import ButtonFileEditorUpload from '../../Base/Button/ButtonFileEditorUpload';

export default {
    name: 'ModalUploadVideoFormBasic',
    components: {
        ButtonFileEditorUpload,
    },
    props: {
        upload: {
            type: [Object],
            default: () => {},
        },
        onUpload: {
            type: [Function],
            default: () => {},
        },
        isSquare: {
            type: [Boolean],
            default: () => true,
        },
        pending: {
            type: [Boolean],
            default: () => false,
        }
    },
    data() {
        return {
            youtube: null,
        };
    },
    computed: mapState({
        //
    }),
    watch: {
        //
    },
    mounted() {
        const self = this;
        self.youtube = null;
    },
    methods: {
        submit() {
            const self = this;
            const form = new FormData();
            console.log(this.youtube);
            form.append('youtube', this.youtube);
            self.onUpload(form);
            console.log(form);
        }
    },
};
</script>
