<template>
    <BBreadcrumb class="pr--breadcrumb">
        <BBreadcrumbItem
            v-for="(route, key) in routes"
            :key="key"
            :to="route.to"
            :disabled="route.disabled"
            :active="route.active"
            :text="route.text"
        />
    </BBreadcrumb>
</template>

<script>

import { mapState } from 'vuex';
import {BBreadcrumb, BBreadcrumbItem} from "bootstrap-vue/src/components/breadcrumb";

export default {
    name: 'BaseBreadcrumbs',
    components: {
        BBreadcrumb,
        BBreadcrumbItem,
    },
    computed: mapState({
        pagination: (state) => state.app.table.base.pagination,
        routes() {
            let values = [];
            const index = {
                text: 'Главная',
                to: '/'
            };
            const name = this.$router.history.current.name;
            const locale = this.$router.history.current.query.locale || null;
            const total = this.pagination !== null ? this.pagination.total : null;
            const splitName = name.split('-');
            if (name === 'index' || name === 'index___ru') {
                index.active = true;
                values.push(index);
                return values;
            }
            if (splitName.includes('editor') && splitName.includes('articles')) {
                splitName.splice(splitName.indexOf('editor'), 1);
                splitName[splitName.indexOf('articles')] = 'editor-articles';
            }
            console.log(splitName);
            // if (name === 'editor-articles') {
            //     values.push(index);
            //     values.push({
            //         text: this.$t(`route.editor-articles`),
            //         active: true,
            //         to: '/editor-articles',
            //         disabled: true,
            //     });
            //     return values;
            // }
            values.push(index);
            let prev = '';
            splitName.forEach((item, key) => {
                const disabled = item === 'id';
                const active = splitName[key + 1] === undefined;
                let text = null;
                text = item === 'slug' ? this.$t(`route.${this.$route.params.slug}`) : null;
                if (text === null) {
                    text = item === 'id' ? this.$route.params.id : this.$t(`route.${item}`);
                }
                if (item === 'article_id') {
                    text = this.$route.params.article_id;
                }
                if (total !== null && key === 0 && splitName.length === 1) {
                    text += ` (всего - ${total})`;
                }
                let to = item === 'id' ? `${prev}/${this.$route.params.id}` : `${prev}/${item}`;
                let slug = item;
                if (slug === 'id') {
                    slug = this.$route.params.id;
                }
                if (locale !== null && splitName.length > 3) {
                    to += '?locale=' + locale;
                }
                values.push({
                    text,
                    active,
                    to,
                    disabled,
                });
                prev += `/${slug}`;
            });
            return values;
        }
    }),
    mounted() {
        //
    }
};
</script>
