<template>
    <b-dropdown id="dropdown-comment-menu-personal" variant="icon" class="pr--dropdown--icon __md" no-caret toggle-tag="div">
        <template #button-content>
            <button v-tippy class="btn btn-icon" type="button" :content="$t('tooltip.settings')">
                <font-awesome-icon icon="ellipsis-h" />
            </button>
        </template>
<!--        <b-dropdown-item>-->
<!--            Пожаловаться-->
<!--        </b-dropdown-item>-->
        <b-dropdown-item v-if="$auth.loggedIn" @click.prevent="modalActions().openCommentConfirmDelete(comment)">
            {{ $t('button.delete') }}
        </b-dropdown-item>
    </b-dropdown>
</template>

<script>

import { mapActions, mapState } from 'vuex';

export default {
    name: 'CommentMenuPersonal',
    components: {
    },
    props: {
        comment: {
            type: [Object],
            default: () => {},
        },
    },
    data() {
        return {};
    },
    watch: {},
    mounted() {},
    methods: {
        ...mapActions('user/comments/destroy', ['fetchDestroy']),
        destroy() {
            const self = this;
            self.fetchDestroy({
                id: self.comment.id,
            });
        }
    },
};
</script>
