<template>
    <b-dropdown
        id="dropdown-article-menu-user"
        variant="icon"
        class="pr--dropdown--icon __md"
        no-caret
        toggle-tag="div"
        :dropleft="!$device.isDesktop"
    >
        <template #button-content>
            <button v-tippy class="btn btn-icon" type="button" :content="$t('tooltip.settings')">
                <font-awesome-icon icon="ellipsis-h" />
            </button>
        </template>
        <b-dropdown-item v-if="!$device.isDesktop" @click="favoriteToggle">
            {{ isActive ? $t('tooltip.favorites.remove') : $t('tooltip.favorites.add') }}
        </b-dropdown-item>
        <b-dropdown-item @click="watch">
            {{ $auth.loggedIn && watches.articles.includes(article.id) ? $t('button.remove-from-watches') : $t('button.add-to-watches') }}
        </b-dropdown-item>
        <b-dropdown-item @click="report">
            {{ $t('button.report') }}
        </b-dropdown-item>
        <b-dropdown-item v-if="$auth.loggedIn && !article.is_draft && !article.is_declined" @click="destroy">
            {{ $t('button.unpublish') }}
        </b-dropdown-item>
        <b-dropdown-item v-if="$auth.loggedIn && $auth.user.is_moderator !== undefined && article.is_waiting" @click="publish">
            {{ $t('button.publish') }}
        </b-dropdown-item>
        <b-dropdown-item v-if="$auth.loggedIn && (article.is_draft || article.is_declined)" @click="publish">
            {{ $t('button.publish') }}
        </b-dropdown-item>
        <b-dropdown-item
            v-if="$auth.loggedIn && (article.is_draft || article.is_declined)"
            @click.prevent="modalActions().openArticleConfirmDelete(article)"
        >
            {{ $t('button.delete') }}
        </b-dropdown-item>
    </b-dropdown>
</template>

<script>

import { mapActions, mapState } from 'vuex';

export default {
    name: 'ArticleMenuUser',
    components: {
    },
    props: {
        article: {
            type: [Object],
            default: () => {},
        },
        actionDestroy: {
            type: [Function],
            default: () => {},
        },
        actionPublish: {
            type: [Function],
            default: () => {},
        }
    },
    data() {
        return {};
    },
    computed: mapState({
        watches: state => state.user.watches.array.data,
        favoritesArticles: state => state.user.favorites.array.data.articles,
        isActive() {
            return this.favoritesArticles.includes(this.article.id);
        },
    }),
    watch: {},
    mounted() {},
    methods: {
        ...mapActions('user/favorites/toggle', ['fetchToggle']),
        //...mapActions('user/articles/destroy', ['fetchDestroy']),
        //...mapActions('user/articles/publish', ['fetchPublish']),
        ...mapActions('user/watches/toggle', ['fetchWatchToggle']),
        ...mapActions('user/reports/toggle', ['fetchReportToggle']),
        watch() {
            const self = this;
            if (!self.$auth.loggedIn) {
                self.message().needLoginForWatches();
                return;
            }
            self.fetchToggle({
                id: self.article.id,
                type: 'article',
            });
        },
        destroy() {
            const self = this;
            self.actionDestroy(self.article.id);
        },
        publish() {
            const self = this;
            self.actionPublish(self.article.id);
        },
        report() {
            const self = this;
            if (!self.$auth.loggedIn) {
                self.message().needLoginForReports();
                return;
            }
            self.modalActions().openUserReportArticle(self.article);
        },
        favoriteToggle() {
            const self = this;
            if (!self.$auth.loggedIn) {
                self.message().needLoginForFavorites();
                return;
            }
            this.fetchToggle({
                type: 'article',
                id: self.article.id,
            });
        }
    },
};
</script>
