<template>
    <b-dropdown
        id="dropdown-article-menu-user"
        variant="icon"
        class="pr--dropdown--icon __md"
        no-caret
        toggle-tag="div"
        :dropleft="!$device.isDesktop"
    >
        <template #button-content>
            <button v-tippy class="btn btn-icon" type="button" :content="$t('tooltip.settings')">
                <font-awesome-icon icon="ellipsis-h" />
            </button>
        </template>
        <b-dropdown-item @click="destroy">
            Отменить проверку
        </b-dropdown-item>
    </b-dropdown>
</template>

<script>

import { mapActions, mapState } from 'vuex';

export default {
    name: 'ArticleMenuUserWaiting',
    components: {
    },
    props: {
        article: {
            type: [Object],
            default: () => {},
        },
        actionDestroy: {
            type: [Function],
            default: () => {},
        },
        actionPublish: {
            type: [Function],
            default: () => {},
        }
    },
    data() {
        return {};
    },
    computed: mapState({
        //
    }),
    watch: {},
    mounted() {},
    methods: {
        destroy() {
            const self = this;
            self.actionDestroy(self.article.id);
        },
    },
};
</script>
