<template>
    <section>
        <footer class="pr--footer">
            <div class="bg-dark d-none d-sm-block pr--footer__tabs">
                <div class="container-xl">
                    <v-footer-journal-nav />
                </div>
            </div>
            <div class="pr--footer__nav bg-darklighter">
                <div class="container-xl pt-3 pb-3 ">
                    <div class="row">
                        <div class="col-12 col-md-9">
                            <v-footer-nav />
                        </div>
                        <div class="col-12 col-md-3">
                            <v-footer-socials />
                        </div>
                    </div>
                </div>
                <div class="container-xl pb-3 d-block d-md-none">
                    <div class="row">
                        <div class="col-12">
                            <v-footer-nav-support />
                        </div>
                    </div>
                </div>
            </div>
            <div class="pr--footer__bottom bg-dark">
                <div class="container-xl">
                    <nav class="navbar">
                        <a class="navbar-brand" href="#">
                            <img src="/static/img/logo.svg" class="d-inline-block align-top" alt="Footer" height="26">
                        </a>
                        <v-footer-nav-support />

                        <span class="navbar-text small">
                            © Тестовая организация 2021
                        </span>
                    </nav>
                </div>
            </div>
        </footer>
        <v-modal-login />
        <v-modal-share />
    </section>
</template>

<script>

import { mapActions, mapState } from 'vuex';
import ModalAuthLogin from './Modal/Auth/ModalAuthLogin';
import ModalShare from './Modal/Share/ModalShare';
import FooterJournalNav from './Footer/FooterJournalNav';
import FooterNav from './Footer/FooterNav';
import FooterSocials from './Footer/FooterSocials';
import FooterNavSupport from './Footer/FooterNavSupport';

export default {
    name: 'Footer',
    components: {
        'v-modal-login': ModalAuthLogin,
        'v-footer-journal-nav': FooterJournalNav,
        'v-footer-nav': FooterNav,
        'v-footer-socials': FooterSocials,
        'v-footer-nav-support': FooterNavSupport,
        'v-modal-share': ModalShare,
    },

    data() {
        return {

        };
    },
    computed: mapState({
        config: state => state.data.data.config,
    }),
    mounted() {
        const self = this;
        if (self.$auth.loggedIn) {
            //self.fetchFavorites();
        }
    },
    methods: {
        ...mapActions('user/favoritesArray', ['fetchFavorites']),
    }
};
</script>

<style scoped>

</style>
