<template>
    <div class="row mb-3 rounded-sm-bottom shadow-sm" style="background-color: #fff;">
        <div class="col-12">
            <div class="pr--category--head">
                <div class="d-flex align-items-start justify-content-start">
                    <div class="--image">
                        <img :src="group.image" :alt="group.title" class="mr-3">
                    </div>
                    <div class="w-100">
                        <h3>
                            {{ group.title }}
                        </h3>
                        <div class="--text" v-html="group.preview_description" />
                        <div class="--counters">
                            <ButtonViews :value="group.counters.views" />
                            <ButtonComments :value="group.counters.comments" />
                            <ButtonSubscribers :value="group.counters.subscribers" />
                        </div>
                    </div>
                </div>
                <div class="--published">
                    <ButtonEditGroup v-if="$auth.loggedIn && group.owner.id === $auth.user.id" :item="group" />
                    <GroupMenuBasic :group="group" />
                </div>
            </div>
        </div>
        <div v-if="group.description !== null && !showDescription" :class="`col-12 ${!isLongDescription ? 'pb-3' : ''} pr--category--description`">
            <div class="--text" v-html="group.description_trim" />
        </div>
        <div v-if="group.description !== null && showDescription" :class="`col-12 ${!isLongDescription ? 'pb-3' : ''} pr--category--description`">
            <div class="--text" v-html="group.description" />
        </div>
        <div v-if="group.description !== null && isLongDescription" class="col-12 pb-1 d-flex align-items-center justify-content-start">
            <a role="button" class="btn btn-sm btn-link __focus-none pl-0 pr-0" @click="toggleDescription">
                {{ !showDescription ? 'Читать полностью' : 'Скрыть' }}
            </a>
        </div>
    </div>
</template>

<script>

import { mapState } from 'vuex';
import ButtonViews from '../../../Base/Button/ButtonViews';
import ButtonComments from '../../../Base/Button/ButtonComments';
import ButtonSubscribers from '../../../Base/Button/ButtonSubscribers';
import ButtonEditGroup from '../../../Base/Button/ButtonEditGroup';
import GroupMenuBasic from '../Menu/GroupMenuBasic';

export default {
    name: 'GroupBlockHead',
    components: {
        ButtonViews,
        ButtonComments,
        ButtonSubscribers,
        ButtonEditGroup,
        GroupMenuBasic,
    },
    props: {
        group: {
            type: [Object],
            default: () => {},
        }
    },
    data() {
        return {
            showDescription: false,
        };
    },
    computed: mapState({
        app: state => state.app,
        isLongDescription() {
            return this.group.description.length > this.group.description_trim.length;
        }
    }),
    watch: {},
    mounted() {},
    methods: {
        toggleDescription() {
            this.showDescription = !this.showDescription;
        }
    },
};
</script>

<style scoped lang="scss">

</style>
