
.table--by-fields {
    .is-id {
        width: 54px;
        text-align: center;
    }

    .is-image {
        width: 54px;
    }

    .is-status {
        width: 100px;
        text-align: center;
    }
    .is-banned {
        width: 70px;
        text-align: center;
    }
    .is-released {
        width: 70px;
        text-align: center;
    }
    .is-center {
        text-align: center;
    }
    .is-locked {
        width: 54px;
        text-align: center;
    }
    .is-url {
        width: 100px;
        text-align: center;
    }
    .is-priority {
        width: 100px;
        text-align: center;
    }
    .is-up-down {
        width: 54px;
        text-align: center;
    }
    .is-created_at {
        width: 160px;
        text-align: center;
    }
    .is-phone {
        width: 100px;
        text-align: center;
    }
    .is-state {
        //min-width: 86px;
        width: 86px;
        text-align: center;
    }

    .is-show {
        width: 94px;
        text-align: center;
    }
    .is-edit {
        width: 50px;
        text-align: center;
    }
    .is-history {
        width: 50px;
        text-align: center;
    }
    .is-editor {
        width: 100px;
        text-align: center;
    }
    .is-comments {
        width: 75px;
        text-align: center;
    }
    .__is-icon {
        width: 50px;
        text-align: center;
    }
    .is-action_reject {
        width: 50px;
        text-align: center;
    }
    .is-linkable {
        width: 38px;
        text-align: center;
    }

    .is-active {
        width: 82px;
        text-align: center;
    }
    .is-editor-edit {
        width: 50px;
        text-align: center;
        a {
            //height: 29px;
        }
    }
    .is-show {
        width: 50px;
        text-align: center;
        &.__locale {
            width: 110px;
        }
    }
    .is-avatar.__avatar-simple {
        width: 110px;
    }
    &.__with-edit-delete {
        th:nth-last-child(1),
        th:nth-last-child(2),
        td:nth-last-child(1),
        td:nth-last-child(2) {
            width: 50px;
            text-align: center;

            a {
                //height: 29px;
            }
        }
    }
}
.table--by-fields .is-tr {
    &.__is-opacity {
        transition: $transition-base;
        opacity: .7;
        &:hover {
            opacity: 1;
        }
    }
    &.__is-active {
        background-color: #d5e8ff;
    }
    &.__is-hover {
        background-color: #e9f2fd;
    }
}
.table.table--sorted {
    thead th {
        padding: .5rem .75rem;
    }
}
