.table--by-fields.table--releases {
    .is-year {
        text-align: center;
        width: 50px;
    }
    .is-number {
        text-align: center;
        width: 50px;
    }
    .is-articles {
        text-align: center;
        width: 100px;
    }
}
