.table--by-fields {
    &.table--users {
        .is-hobbies {
            text-align: center;
            width: 55px;
        }
        .is-ignores {
            text-align: center;
            width: 55px;
        }
        .is-member {
            text-align: center;
            width: 55px;
        }
        .is-groups {
            text-align: center;
            width: 73px;
        }
        .is-searches {
            text-align: center;
            width: 73px;
        }
        .is-members {
            text-align: center;
            width: 73px;
        }
        .is-socials {
            width: 90px;
            text-align: center;
        }
        .is-favourites {
            text-align: center;
            width: 76px;
        }
        .is-user_excludes {
            text-align: center;
            width: 129px;
        }
        .is-trips {
            text-align: center;
            width: 73px;
        }
        .is-roles {
            text-align: center;
            width: 130px;
        }
        .is-listings {
            text-align: center;
            width: 90px;
        }
        .is-reservations {
            text-align: center;
            width: 130px;
        }
        .is-last_login_at {
            text-align: center;
            width: 151px;
        }
    }
}
