<template>
    <vue-modal :title="'Подтвердите удаление'" :name="modal.names.comment.confirm_delete" :width="$device.isDesktop ? 500 : '100%'">
        <form class="row" @submit.prevent="submitDelete">
            <div class="col-12">
                <p>
                    Вы уверены что хотите удалить комментарий?
                </p>
                <p>
                    Текст комментария будет удален, сам комментарий будет помечен как "Удален".
                </p>
            </div>
            <div class="col-12 mt-3 d-flex justify-content-end align-items-center">
                <button type="button" class="btn btn-light mr-1" @click="modalActions().close()">
                    {{ $t('button.cancel') }}
                </button>
                <button type="submit" class="btn btn-danger">
                    {{ $t('button.delete') }}
                </button>
            </div>
        </form>
    </vue-modal>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import vueModal from '../ModalBasic';

export default {
    name: 'ModalCommentConfirmDelete',
    components: {
        'vue-modal': vueModal,
    },
    data() {
        return {
            comment: null,
        };
    },
    computed: mapState({
        modal: state => state.modal,
        modalItem: state => state.modal.item,
    }),
    watch: {
        'modalItem.comment'() {
            const self = this;
            if (self.modalItem.comment === undefined) {
                return;
            }
            self.comment = self.modalItem.comment;
        },
    },
    mounted() {
        //
    },
    methods: {
        ...mapActions('app.modal', ['setActive', 'setCurrent']),
        ...mapActions('user/comments/destroy', ['fetchDestroy']),
        submitDelete() {
            const self = this;
            self.fetchDestroy({
                id: self.comment.id,
            });
            self.modalActions().close();
        },
    }
};
</script>

<style scoped>

</style>
