<template>
    <div v-if="pdfdata !== undefined">
        <pdf
            v-for="i in numPages"
            v-if="isShowPage(i)"
            :id="`pdf-page-${i}`"
            :key="i"
            :scale="scale"
            :src="pdfdata"
            :page="i"
            style="width:100%;"
            :annotation="false"
            :resize="resize"
            :class="`pdf-page-base pdf-page-${i} ${editorPdf.page !== i ? 'd-none' : ''}`"
            @link-clicked="handlePdfLink"
        >
            <template #loading>
                <div class="d-flex align-items-center justify-content-center p-3">
                    Идет загрузка файла
                </div>
            </template>
        </pdf>
    </div>
</template>

<script>

import {mapActions, mapState} from 'vuex';
//import pdfvuer from '../../../plugins/custom/pdf-vuer';
import pdfvuer from 'pdfvuer';
import pdfParse from "../../../plugins/common/pdfParse";
import pdfParseOptions from "../../../plugins/common/pdfParseOptions";

export default {
    name: 'EditorPreviewPdfPlugin',
    components: {
        pdf: pdfvuer,
    },
    props: {
        resize: {
            type: [Boolean],
            default: () => true,
        },
        scale: {
            type: [Number, String],
            default: () => 'page-width',
        },
        url: {
            type: [String],
            default: () => null,
        },
    },
    data() {
        return {
            numPages: 0,
            pdfdata: undefined,
            scaleValue: 'page-width',
            reloaded: false,
        };
    },
    computed: mapState({
        editorPdf: (state) => state.app.editor.pdf,
    }),
    watch: {
        'scale'() {
            const self = this;
            console.log(self.scale);
            self.scaleValue = self.scale;
            self.reloaded = true;
            self.onLoadPageLayer(self.editorPdf.page, () => {
                self.updatePdfOptionHeight(self.editorPdf.page);
            });
        },
        'editorPdf.page'() {
            const self = this;
            self.$nextTick(() => {
                self.eventCopyOnPage(self.editorPdf.page, self.editorPdf.options);
                self.onLoadPageLayer(self.editorPdf.page, () => {
                    self.updatePdfOptionHeight(self.editorPdf.page);
                });
            });
        },
        'reloaded'() {
            const self = this;
            if (self.reloaded) {
                // self.pdfdata = undefined;
                // self.$nextTick(() => {
                //     self.getPdf(self.url);
                //     self.reloaded = false;
                // });
            }
        }
    },
    mounted() {
        console.log(this.url);
        if (this.url !== null) {
            this.getPdf(this.url);
        }
    },
    methods: {
        ...mapActions('app/editor/pdf', ['setPage', 'setPages', 'setShowPages']),
        isShowPage(page) {
            if (this.editorPdf.showPages === null) {
                return this.editorPdf.page === page;
            } else {
                return this.editorPdf.showPages.includes(page) && this.editorPdf.page === page;
            }
        },
        handlePdfLink: function (params) {
            const page = document.getElementById(`pdf-page-${String(params.pageNumber)}`);
            page.scrollIntoView();
        },
        getPdf(url) {
            const self = this;
            self.pdfdata = pdfvuer.createLoadingTask(url);
            self.pdfdata.then((pdf) => {
                self.setPages(pdf.numPages);
                self.numPages = pdf.numPages;
                console.log(pdf.numPages);
                self.$nextTick(() => {
                    self.eventCopyOnPage(self.editorPdf.page, self.editorPdf.options);
                    self.onLoadPageLayer(self.editorPdf.page, () => {
                        self.updatePdfOptionHeight(self.editorPdf.page);
                    });
                });
            });
        },
        eventCopyOnPage(page, options = {}) {
            const self = this;
            const source = document.querySelector(`.pdf-page-${page}`);
            source.addEventListener('copy', (event) => {
                const selection = document.getSelection();
                const tpl = pdfParse.createNodeBySelection(selection, 'template-pdf-copy');
                const nodes = pdfParse.prepareNodes(tpl);
                const arrayString = pdfParse.setOptions(options).sortTextsByTwoColumns(nodes);
                if (arrayString.length) {
                    pdfParse.createNodeBySorted(arrayString, 'template-pdf-copy-after');
                    event.clipboardData.setData('text/plain', arrayString.join('\n'));
                } else {
                    const string = selection.toString();
                    let stringArray = [string];
                    //stringArray = pdfParse.clearArrayCapitalize(stringArray);
                    pdfParse.createNodeBySorted(stringArray, 'template-pdf-copy-after');
                    console.log(stringArray);
                    event.clipboardData.setData('text/plain', stringArray.join('\n'));
                }
                event.preventDefault();
            });
        },
        updatePdfOptionHeight(page) {
            const self = this;
            const source = document.querySelector(`.pdf-page-${page} .page .textLayer`);
            const hOptimal = pdfParseOptions.getHeight(pdfParseOptions.prepareNodes(source));
            if (hOptimal !== null) {
                self.editorPdf.options.h_optimal = hOptimal;
            }
            console.log('h_optimal', self.editorPdf.options.h_optimal);
        },
        onLoadPageLayer(page, callback) {
            const interval = setInterval(() => {
                const count = document.querySelectorAll(`.pdf-page-${page} .page .textLayer span`).length;
                if (count !== 0) {
                    clearInterval(interval);
                    callback(page);
                }
            }, 100);
        }
    }
};
</script>
