<template>
    <LayoutEditor :model="model">
        <template #center>
            <Editor />
        </template>
    </LayoutEditor>
</template>

<script>
import LayoutEditor from "../../components/Layout/LayoutEditor";
import Editor from "../../components/Editor/Editor";
import {mapActions, mapState} from "vuex";
//import echoMixin from '../../mixins/echo';

export default {
    name: 'Releases',
    components: {
        LayoutEditor,
        Editor,
    },
    middleware: 'authenticate',
    //mixins: [echoMixin],
    data() {
        return {
            model: 'editor-articles'
        };
    },
    computed: mapState({
        //
    }),
    mounted() {
        const self = this;
        self.setPdfDefault();
        self.setData(null);
        self.setLoaded(false);
        self.setFormDefault({});
        this.fetchGetUid({
            id: this.$route.params.id,
            model: this.model,
            locale: this.$router.history.current.query.locale || 'ru',
        });
        this.fetchFieldsInitial({
            model: this.model,
            locale: this.$router.history.current.query.locale || 'ru',
            release_id: this.$route.params.id,
        });
        // this.$root.echo().connectRelease({
        //     id: this.$route.params.id,
        // });
        this.setModePreview();
        this.setBlocks([]);
        // this.echoLockedRelease().connect({
        //     id: this.$route.params.id,
        // });
        self.setLoaded(true);
    },
    methods: {
        ...mapActions('app/editor/base', ['setBlocks', 'setModePreview']),
        ...mapActions('app/editor/pdf', ['setPdfDefault']),
        ...mapActions('app/editor/articles/show', ['setData', 'setLoaded']),
        ...mapActions('app/editor/articles/store', ['fetchGetUid', 'setFormDefault', 'fetchFieldsInitial']),
    },
};
</script>
