.pr--card--article--simple {
    margin-bottom: 1rem;
    .badge {
        margin-bottom: .25rem;
    }
    h6 {
        margin-bottom: 0;
        font-size: $font-size-md;
    }
}
.pr--card--article {
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: $box-shadow-sm;
    background-color: #fff;
    .d-published-at {
        display: inline-block;
    }
    .--head-event {
        margin-bottom: .75rem;
    }
    .--head {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: .75rem;
        @include media-breakpoint-down(sm) {
            margin-bottom: 0;
        }
        .--category {
            a {
                margin-right: 1rem;
                @include media-breakpoint-down(sm) {
                    font-size: $font-size-sm;
                }
            }
            .d-published-at {
                @include media-breakpoint-down(sm) {
                    display: none;
                }
            }
            //margin-right: 1rem;
        }
        .--author {
            //margin-right: 1rem;
        }
        .--published {

        }
        .--left {
            //position: absolute;
            //top: 1rem;
            //left: 1rem;
        }
        .--center {
            //position: absolute;
           // top: 1rem;
            //left: 0;
            //right: 0;
            //margin-left: auto;
            //margin-right: auto;
        }
        .--right {
            //position: absolute;
            //top: 1rem;
            //right: 1rem;
        }
    }
    .--publish-date {
        display: none;
        text-align: right;
        @include media-breakpoint-down(sm) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            //margin-bottom: .75rem;
        }
    }
    .--footer {
        //height: 35px;
        display: flex;
        align-items: center;
        //justify-content: space-between;
        .--category {
            //position: absolute;
            //bottom: 1rem;
            //left: 1rem;
            a {
                @include media-breakpoint-down(sm) {
                    display: block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-size: $font-size-sm;
                    @media (max-width: 430px) {
                        width: 150px;
                    }
                    @media (max-width: 360px) {
                        width: 100px;
                    }
                }
            }
        }
        .--actions {
            position: absolute;
            bottom: .65rem;
            right: .65rem;
            display: inline-flex;
        }
        .--read {
            position: absolute;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            width: 160px;
        }
    }
    .--image {
        margin-bottom: 1rem;
        position: relative;
        width: calc(100% + 32px);
        margin-left: -16px;
        margin-right: -16px;
    }
    .--tags {
        position: absolute;
        bottom: 1rem;
        left: 1rem;
    }
    &.__waiting {
        //position: relative;
        //.--actions, .--read {
        //    position: relative;
        //    &:before {
        //        content: '';
        //        position: absolute;
        //        background-color: #fff;
        //        opacity: .5;
        //        width: 100%;
        //        height: 100%;
        //        display: block;
        //        z-index: 100;
        //        top: 0;
        //        left: 0;
        //    }
        //}
        //filter: grayscale(60%);
    }
    &.__disabled {
        .--title {
            position: relative;
            &:before {
                content: '';
                position: absolute;
                background-color: #fff;
                opacity: .5;
                width: calc(100% + 32px);
                height: 100%;
                display: block;
                z-index: 1;
                top: 0;
                left: -16px;
            }
        }
        .--disabled-text {
            z-index: 2;
            position: absolute;
            top: 0;
            left: -16px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: calc(100% + 32px);
            span {
                padding: .5rem 1rem;
                background-color: $danger;
                color: #fff;
                //border-radius: $border-radius-sm;
                box-shadow: $box-shadow-sm;
            }
        }
    }
    &.__skeleton {
        .--head {
            margin-bottom: .5rem;
        }
        .--title {
            margin-bottom: .5rem;
        }
    }
    .--ribbons {
        position: absolute;
        left: calc(-3rem - 2px);
        top: 1rem;
        .--ribbon {
            margin-bottom: .5rem;
            background-color: #fff;
            //border-radius: $border-radius;
            border-top-left-radius: $border-radius;
            border-bottom-left-radius: $border-radius;
            padding: .5rem 1rem;
            box-shadow: $box-shadow-sm;
            clip-path: inset(-5px 0px -5px -5px);
            &.__image {
                padding: .5rem .5rem;
                img {
                    width: 2rem;
                }
            }
        }
    }
}
.pr--card--article, .pr--comment {
    &.__progressed {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            background-color: #fff;
            opacity: .5;
            width: 100%;
            height: 100%;
            display: block;
            z-index: 100;
            top: 0;
            left: 0;
        }
        &:after {
            @include loader;
            @include center(16px);
            position: absolute;
            border-right-color: $dark;
            border-top-color: $dark;
            border-bottom-color: transparent;
            border-left-color: transparent;
        }
    }
}
