<template>
    <div>
        <nuxt-link
            v-if="link !== null"
            class="title-underline"
            :to="link"
            :title="$t('tooltip.link')"
        >
            <h4 class="mb-0">
                {{ title }}
            </h4>
            <div class="line" />
            <div class="__link">
                <font-awesome-icon icon="chevron-right" />
            </div>
        </nuxt-link>
        <div
            v-if="link === null && buttonText === null"
            class="title-underline"
        >
            <h4 class="mb-0">
                {{ title }}
            </h4>
            <div
                v-if="line"
                class="line"
            />
        </div>
        <div
            v-if="link === null && buttonText !== null"
            class="title-underline"
        >
            <h4 v-if="h === 4">
                {{ title }}
            </h4>
            <h5 v-if="h === 5">
                {{ title }}
            </h5>
            <div class="line" />
            <div class="__button">
                <button
                    role="button"
                    class="btn btn-primary btn-sm"
                    @click="buttonEvent"
                >
                    {{ buttonText }}
                </button>
            </div>
        </div>
    </div>
</template>

<script>

import { mapState } from 'vuex';

export default {
    name: 'TitleLine',
    components: {
    },
    props: {
        line: {
            type: [Boolean],
            default: true,
        },
        h: {
            type: [Number],
            default: 4,
        },
        link: {
            type: [String],
            default: null,
        },
        buttonText: {
            type: [String],
            default: null,
        },
        buttonEvent: {
            type: [Function],
            default: null,
        },
        title: {
            type: [String],
            default: null,
        }
    },
    data() {
        return {
        };
    },
    computed: mapState({
        //
    }),
    watch: {},
    mounted() {
    },
    methods: {
    },
};
</script>

<style scoped lang="scss">

</style>
