<template>
    <div :class="['pr--editor--preview-settings', show ? '__shown' : '']">
        <div class="d-flex align-items-center justify-content-between w-100 h-100">
            <div>
                <ButtonEditorBack v-if="article !== null" :article="article" />
                <ButtonEditorSave v-if="article === null" :article="article" />
                <ButtonEditorSaveResult v-if="article !== null" :article="article" />
            </div>
            <div>
                <ButtonEditorShow v-if="article !== null" :article="article" />
                <ButtonEditorPublish v-if="article !== null" :article="article" />
                <ButtonEditorDelete v-if="article !== null" :article="article" />
                <ButtonEditorSettings />
                <ButtonEditorPreview :preview="preview" />
                <SidebarEditorSettings :article="article" />
            </div>
        </div>
    </div>
</template>

<script>

import { mapActions, mapState } from 'vuex';
import SidebarEditorSettings from '../../../Base/Sidebar/SidebarEditorSettings';
import ButtonEditorBack from '../../../Base/Button/Editor/ButtonEditorBack';
import ButtonEditorSave from '../../../Base/Button/Editor/ButtonEditorSave';
import ButtonEditorSaveResult from '../../../Base/Button/Editor/ButtonEditorSaveResult';
import ButtonEditorShow from '../../../Base/Button/Editor/ButtonEditorShow';
import ButtonEditorPublish from '../../../Base/Button/Editor/ButtonEditorPublish';
import ButtonEditorDelete from '../../../Base/Button/Editor/ButtonEditorDelete';
import ButtonEditorSettings from '../../../Base/Button/Editor/ButtonEditorSettings';
import ButtonEditorPreview from '../../../Base/Button/Editor/ButtonEditorPreview';

export default {
    name: 'ArticleEditorBar',
    components: {
        SidebarEditorSettings,
        ButtonEditorBack,
        ButtonEditorSave,
        ButtonEditorSaveResult,
        ButtonEditorShow,
        ButtonEditorPublish,
        ButtonEditorDelete,
        ButtonEditorSettings,
        ButtonEditorPreview,
    },
    props: {
        article: {
            type: [Object],
            default: () => null,
        },
        scrollable: {
            type: [Boolean],
            default: () => false,
        },
        preview: {
            type: [Boolean],
            default: () => false,
        }
    },
    data() {
        return {
            show: false,
        };
    },
    computed: mapState({
        config: state => state.data.data.config,
    }),
    watch: {},
    mounted() {
        window.addEventListener('scroll', this.updateScroll);
    },
    methods: {
        updateScroll() {
            this.show = window.scrollY > 54;
        }
    },
};
</script>

<style scoped lang="scss">

</style>
