<template>
    <section>
        <div v-if="!preview" class="" style="padding-top: 54px;">
            <div class="flex-xl-nowrap">
                <div :class="['pr--main--center bg-white']">
                    <ArticleEditorBar :article="article" />
                    <EditorEdit :article="article" />
                </div>
            </div>
        </div>
        <div v-if="preview" class="w-100" style="padding-top: 54px;">
            <div class="flex-xl-nowrap">
                <splitpanes class="default-theme">
                    <pane :class="['pr--main--left __left']" style="background-color: #fff;">
                        <EditorEdit :article="article" />
                    </pane>
                    <pane :class="['pr--main--left __right pb-3']" style="background-color: #fbfbfb;">
                        <ArticleEditorBar :article="article" :preview="true" />
                        <div class="pt-3 pr--editor--preview--container" style="padding-bottom: 100vh;">
                            <EditorPreview
                                :article="article"
                                :blocks-initial="blocks"
                                :check-focused="true"
                                :prepend="[
                                    { type: 'header-h1', id: 'header', data: { text: articleStore.title } },
                                    { type: 'preview', id: 'preview', data: { text: articleStore.preview_description, alignment: 'left' } },
                                    { type: 'main-image', id: 'main-image', data: { file: { url: articleStore.image }, stretched: true, withBackground: false, caption: '' } },
                                    { type: 'main-video', id: 'main-video', data: articleStore.video !== null ? articleStore.video.data : { file: null, embed: null } },
                                ]"
                            />
                        </div>
                    </pane>
                </splitpanes>
            </div>
        </div>
    </section>
</template>

<script>

import { mapActions, mapState } from 'vuex';
import { Splitpanes, Pane } from 'splitpanes';
import EditorPreview from '../../../Editor/EditorPreview';
import EditorEdit from '../../../Editor/EditorEdit';
import SidebarEditorSettings from '../../../Base/Sidebar/SidebarEditorSettings';
import ArticleEditorBar from './ArticleEditorBar';

export default {
    name: 'ArticleEditor',
    components: {
        EditorPreview,
        EditorEdit,
        SidebarEditorSettings,
        Splitpanes,
        Pane,
        ArticleEditorBar,
    },
    props: {
        article: {
            type: [Object],
            default: () => null,
        }
    },
    data() {
        return {
        };
    },
    computed: mapState({
        config: state => state.data.data.config,
        blocks: state => state.app.editor.data.blocks,
        version: state => state.app.editor.data.version,
        preview: state => state.app.editor.preview,
        focusedId: state => state.app.editor.focusedId,
        focusedIndex: state => state.app.editor.focusedIndex,
        store: state => state.user.articles.store,
        destroy: state => state.user.articles.destroy,
        articleStore: state => state.user.articles.store.form,
    }),
    watch: {},
    mounted() {
        const self = this;
        if (!self.$device.isDesktop && self.preview) {
            self.setPreview(false);
        }
    },
    methods: {
        ...mapActions('app/editor', ['setFocused', 'setBlocks', 'setPreview']),
        ...mapActions('user/articles/store', ['fetchStore']),
        ...mapActions('user/articles/destroy', ['fetchDestroy']),
        submitSave() {
            const self = this;
            self.sidebarActions().close();
            //console.log(self.blocks);
            // self.fetchStore({
            //     blocks: self.blocks,
            // });
        },
        submitDelete() {
            const self = this;
            self.fetchDestroy({
                id: self.article.id,
            });
        },
        showPreview(value) {
            const self = this;
            self.setPreview(value);
        },
    },
};
</script>

<style scoped lang="scss">

</style>
