<template>
    <div class="d-inline">
        <div v-if="!sm" class="d-inline mr-3">
            <span v-if="article.start_at !== null">
                {{ momentDate().eventRage(article.start_at, article.finish_at) }}
            </span>
        </div>
        <div v-if="sm" class="ml-1">
            <small v-if="article.start_at !== null">
                {{ momentDate().eventRage(article.start_at, article.finish_at) }}
            </small>
        </div>
    </div>
</template>

<script>

export default {
    name: 'LinkEventAt',
    props: {
        article: {
            type: [Object],
            default: () => {
                return {
                    is_draft: '',
                    published_at: '',
                    created_at: '',
                };
            },
        },
        sm: {
            type: [Boolean],
            default: () => false,
        }
    }
};
</script>
