<template>
    <nuxt-link :to="i18nRoute().category(category)">
        <img :src="category.image" :alt="category.title" height="26" width="26" class="mr-1 pr--image--model __square border" style="margin-top: -1px;">
        {{ category.title }}
    </nuxt-link>
</template>

<script>

export default {
    name: 'LinkCategory',
    props: {
        category: {
            type: [Object],
            default: () => {
                return {
                    slug: '',
                    title: 'Рубрика',
                    image: '/img/default.png',
                };
            },
        }
    }
};
</script>
