<template>
    <nuxt-link
        :to="i18nRoute().searchTag(tag)"
        :class="`${warning !== null ? 'text-warning' : ''} ${danger !== null ? 'text-danger text-line-through' : ''}`"
        v-tippy="{ trigger: warning !== null || danger !== null ? 'mouseenter' : 'manual' }"
        :content="`${warning !== null ? warning : ''}${danger !== null ? danger : ''}`"
    >
        #{{ tag.title }}
    </nuxt-link>
</template>

<script>

export default {
    name: 'LinkTag',
    props: {
        xs: {
            type: [Boolean],
            default: () => false,
        },
        tag: {
            type: [Object],
            default: () => {
                return {
                    id: '',
                    title: '',
                };
            },
        },
        warning: {
            type: [String],
            default: () => null,
        },
        danger: {
            type: [String],
            default: () => null,
        }
    }
};
</script>
