<template>
    <div class="pr--g-recaptcha-icon">
        <span>
            This site is protected by reCAPTCHA and the Google
            <a href="https://policies.google.com/privacy">Privacy Policy</a> and
            <a href="https://policies.google.com/terms">Terms of Service</a> apply.
        </span>
        <!--        -->
        <!--        <iframe-->
        <!--            title="reCAPTCHA"-->
        <!--            :src="`https://www.recaptcha.net/recaptcha/api2/anchor?ar=1&amp;k=${key}&amp;co=aHR0cDovL2xvY2FsaG9zdDo4MA..&amp;hl=ru&amp;v=wxAi4AKLXL2kBAvXqI4XLSWS&amp;size=invisible&amp;cb=dr67osb550oc`"-->
        <!--            width="256"-->
        <!--            height="60"-->
        <!--            role="presentation"-->
        <!--            name="a-ajmv0p7jaoo2"-->
        <!--            frameborder="0"-->
        <!--            scrolling="no"-->
        <!--            sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"-->
        <!--        />-->
    </div>
</template>

<script>

export default {
    name: 'LinkRecaptcha',
    props: {
        xs: {
            type: [Boolean],
            default: () => false,
        },
    },
    data() {
        return {
            key: null,
        };
    },
    mounted() {
        const self = this;
        self.key = process.env.GOOGLE_RECAPTCHA_KEY;
        try {
            //self.$recaptcha.init();
        } catch (e) {
            console.log(e);
        }
    },
};
</script>
