<template>
    <nuxt-link
        :to="i18nRoute().usersArticles(user)"
        :class="[
            xs ? 'small' : '',
        ]"
    >
        <img :src="user.image" :alt="`${user.full_name}`" height="26" width="26" class="mr-1 rounded-circle border" style="margin-top: -1px;">
        {{ !isAuthor ? stringActions().limitCardGroup(user.full_name) : user.full_name }}
    </nuxt-link>
</template>

<script>

export default {
    name: 'LinkAuthor',
    props: {
        xs: {
            type: [Boolean],
            default: () => false,
        },
        user: {
            type: [Object],
            default: () => {
                return {
                    id: '',
                    slug: '',
                    full_name: 'Имя Фамилия',
                    first_name: 'Имя',
                    last_name: 'Фамилия',
                    image: '/img/user.png',
                };
            },
        },
        isAuthor: {
            type: [Boolean],
            default: () => false,
        }
    }
};
</script>
