<template>
    <nuxt-link :to="i18nRoute().group(group)" class="pr--link--group">
        <img :src="group.image" :alt="group.title" height="26" width="26" class="mr-1 rounded-circle border" style="margin-top: -1px;">
        {{ stringActions().limitCardGroup(group.title) }}
    </nuxt-link>
</template>

<script>

export default {
    name: 'LinkGroup',
    props: {
        group: {
            type: [Object],
            default: () => {
                return {
                    slug: '',
                    title: 'Страница',
                    image: '/img/default.png',
                };
            },
        },
    }
};
</script>
