<template>
    <div class="d-published-at">
        <small v-if="!article.is_draft && article.published_at !== null">
            {{ text }}{{ momentDate().latest(article.published_at) }}
        </small>
        <small v-if="!article.is_draft && article.published_at === null">
            {{ $t('basic.article-not-published') }}
        </small>
        <small v-if="article.is_draft && article.published_at === null">
            {{ momentDate().latest(article.created_at) }}
        </small>
        <small v-if="article.is_draft && article.published_at !== null">
            {{ momentDate().latest(article.published_at) }}
        </small>
    </div>
</template>

<script>

export default {
    name: 'LinkPublishedAt',
    props: {
        article: {
            type: [Object],
            default: () => {
                return {
                    is_draft: '',
                    published_at: '',
                    created_at: '',
                };
            },
        },
        text: {
            type: [String],
            default: () => null,
        }
    }
};
</script>
