<template>
    <nuxt-link
        v-tippy
        :to="i18nRoute().articleComments(article)"
        :class="[
            'btn btn--comments',
            disabled ? 'disabled' : '',
        ]"
        :content="$t('tooltip.comments')"
    >
        <font-awesome-icon :icon="['far', 'comment']" class="mr-1" />
        {{ value }}
    </nuxt-link>
</template>

<script>

export default {
    name: 'LinkComments',
    props: {
        value: {
            type: [Number],
            default: () => 0,
        },
        article: {
            type: [Object],
            default: () => {
                return {
                    id: 0,
                    slug: '0',
                };
            },
        },
        disabled: {
            type: [Boolean],
            default: () => false,
        }
    }
};
</script>
