<template>
    <vue-modal :title="$t('modal.group.invite.title')" :name="modal.names.group.invite" :width="$device.isDesktop ? 500 : '100%'" :scrollable="true" :head="false">
        <div>
            <div v-if="!invite.pending && invite.success" class="d-flex align-items-center justify-content-center mb-3">
                <div class="d-flex" style="width: 50px; height: 50px;">
                    <img src="~assets/sprite/svg/success.svg" width="50">
                </div>
            </div>
            <div v-if="invite.pending" class="d-flex align-items-center justify-content-center">
                <Preloader />
            </div>
            <div v-if="invite.success !== null && invite.success" class="text-center h5 mt-3 mb-0">
                {{ $t('modal.group.invite.success') }}
            </div>
            <div v-if="invite.success !== null && !invite.success" class="text-center h5 mt-3 mb-0">
                {{ $t('modal.group.invite.error') }}
            </div>
<!--            <p v-if="invite.success !== null && invite.success" class="text-center mb-0">-->
<!--                {{ $t('modal.group.invite.link-text') }}-->
<!--                <br>-->
<!--                <nuxt-link :to="i18nRoute().personalGroups()">-->
<!--                    {{ $t('basic.groups') }}-->
<!--                </nuxt-link>-->
<!--            </p>-->
        </div>
    </vue-modal>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import vueModal from '../ModalBasic';

export default {
    name: 'ModalGroupInvite',
    components: {
        'vue-modal': vueModal,
    },
    data() {
        return {

        };
    },
    computed: mapState({
        modal: state => state.modal,
        invite: state => state.groups.invite,
    }),
    watch: {},
    mounted() {
    },
    methods: {
        ...mapActions('app.modal', ['setActive', 'setCurrent']),
    }
};
</script>

<style scoped>

</style>
