<template>
    <div
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
        :class="`pr--notification--toast b-toast b-toast-solid b-toast-prepend b-toast-${notification.variant}`"
    >
        <div tabindex="0" class="toast">
            <header class="toast-header">
                <div>
                    <strong class="mr-2">
                        {{ notification.extend.title }}
                    </strong>
                    <div>
                        <small>{{ momentDate().latest(notification.created_at) }}</small>
                    </div>
                </div>
                <button
                    type="button"
                    aria-label="Close"
                    :class="[
                        'close ml-auto mb-1 btn text-dark',
                        isLoading(pendingArray).notification(notification.id) ? 'is-loading': ''
                    ]"
                    @click.prevent="destroy(notification)"
                >
                    ×
                </button>
            </header>
            <div class="toast-body">
                {{ notification.message }}
            </div>
        </div>
    </div>
<!--    <div class="pr&#45;&#45;notification&#45;&#45;item">-->
<!--        <div v-if="notification.extend.image !== undefined" class="&#45;&#45;image">-->
<!--            <img :src="notification.extend.image" alt="" width="50" height="50">-->
<!--        </div>-->
<!--        <div-->
<!--            :class="[-->
<!--                '&#45;&#45;content',-->
<!--            ]"-->
<!--        >-->
<!--            <div class="&#45;&#45;head">-->
<!--                <div class="&#45;&#45;title">-->
<!--                    {{ notification.extend.title }}-->
<!--                </div>-->
<!--                <div class="&#45;&#45;date">-->
<!--                    {{ momentDate().latest(notification.created_at) }}-->
<!--                </div>-->
<!--            </div>-->
<!--            <p class="&#45;&#45;text line-clamp-1" style="height: 21px;">-->
<!--                {{ notification.message }}-->
<!--            </p>-->
<!--        </div>-->
<!--        <div class="&#45;&#45;close">-->
<!--            <button-->
<!--                :class="[-->
<!--                    'btn btn-icon btn-sm text-dark',-->
<!--                    isLoading(pendingArray).notification(notification.id) ? 'is-loading': ''-->
<!--                ]"-->
<!--                type="button"-->
<!--                style="margin-top: -1px;"-->
<!--                @click.prevent="destroy(notification)"-->
<!--            >-->
<!--                <font-awesome-icon icon="times" />-->
<!--            </button>-->
<!--        </div>-->
<!--    </div>-->
</template>

<script>
import { mapActions, mapState } from 'vuex';

export default {
    name: 'NotificationCardBasic',
    components: {
        //
    },
    props: {
        notification: {
            type: [Object],
            default: () => {},
        }
    },
    data() {
        return {};
    },
    computed: mapState({
        config: state => state.data.data.config,
        app: state => state.app,
        pendingArray: state => state.user.notifications.destroy.pendingArray,
        clear: state => state.user.notifications.clear,
    }),
    watch: {},
    mounted() {},
    methods: {
        ...mapActions('user/notifications/destroy', ['fetchDestroy']),
        ...mapActions('user/notifications/clear', ['fetchClear']),
        destroy(notification) {
            const self = this;
            self.fetchDestroy({
                id: notification.id,
            });
        }
    },
};
</script>
