<template>
    <BodyMain>
        <template #center>
            <div class="d-flex align-items-start justify-content-center h-100" style="width: 100%;">
                <div class="pr--auth-container p-sm-5 shadow-sm" :class="[{'overlay--is-loading': yandex.reloaded}]" style="width: 500px;">
                    <div class="row">
                        <div class="col-12">
                            <div class="title-underline __center">
                                <h3>{{ $t('auth.yandex.callback') }}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="button" :class="`btn btn-yandex btn-block ${yandex.pending ? 'is-loading' : ''} text-white`" @click="loginYandex">
                                <font-awesome-icon :icon="['fab', 'yandex']" />
                                <span>{{ $t('button.auth-by-yandex') }}</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </BodyMain>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import auth from '../../../plugins/common/auth';
import BodyMain from '../../../components/Old/Body/BodyMain';
import AuthFormLogin from './../../../components/Auth/Form/AuthFormLogin';

export default {
    name: 'AuthLoginYandexCallback',
    components: {
        BodyMain,
    },
    data() {
        return {};
    },
    head() {
        const self = this;
        return self.i18nSeo().authYandexCallback();
    },
    computed: mapState({
        login: state => state._auth.login.form,
        yandex: state => state._auth.login.socialite.yandex,
    }),
    watch: {},
    mounted() {
        const self = this;
        const token = auth.yandexGetAccessToken();
        if (token !== null) {
            if (self.$auth.loggedIn) {
                self.connectSocial(token);
            } else {
                self.authLogin(token);
            }
        }
    },
    methods: {
        ...mapActions('_auth/login/socialite/yandex', ['fetchLoginYandex']),
        loginYandex() {
            auth.yandexRedirect();
        },
        authLogin(token) {
            const self = this;
            self.fetchLoginYandex({
                access_token: token,
            });
        },
        connectSocial(token) {
            const self = this;
            self.fetchLoginYandex({
                user_id: self.$auth.user.id,
                access_token: token,
            });
            self.$router.push({
                path: self.localePath('/personal/settings/accounts'),
            });
        }
    }
};
</script>
