<template>
    <div>
        <LayoutHeaderTop />
        <LayoutContainerBasic :center-type-class="centerTypeClass">
            <template #left>
                <LayoutSidebarLeft v-if="sidebar.left" />
                <LayoutSidebarLeftHidden v-if="!sidebar.left" />
            </template>
            <template #center>
                <div class="row">
                    <div class="col-12">
                        <BCollapse :visible="true">
                            <div class="d-flex align-items-center justify-content-between pr--breadcrumb-container">
                                <BaseBreadcrumbs />
                                <DefaultSearchButtons
                                    v-if="error.code === null"
                                    :model="model"
                                    :has-search="hasSearch"
                                    :has-create="hasCreate"
                                />
                                <slot name="buttons" />
                            </div>
                        </BCollapse>
                    </div>
                    <div
                        v-if="error.code === null && fields !== null && fields.config.search"
                        class="col-12"
                    >
                        <BCollapse :visible="search">
                            <div class="col-12 p-3 bg-white shadow-sm">
                                <slot name="search" />
                            </div>
                        </BCollapse>
                    </div>
                </div>
                <div class="row">
                    <div
                        v-if="error.code === null"
                        class="col-12"
                    >
                        <slot name="center" />
                    </div>
                    <div
                        v-if="error.code !== null"
                        class="col-12"
                    >
                        <div class="d-flex align-items-center justify-content-center flex-column pt-5 pb-5 bg-white shadow-sm mt-3">
                            <div>
                                <h2 class="h1">
                                    {{ error.code }}
                                </h2>
                            </div>
                            <div>
                                <p class="mb-0 h5 font-weight-normal">
                                    {{ error.message }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
            <template #right>
                <LayoutSidebarRight v-if="sidebar.right" />
                <LayoutSidebarRightHidden v-if="!sidebar.right" />
            </template>
        </LayoutContainerBasic>
    </div>
</template>

<script>

import { mapActions, mapState } from 'vuex';
import {BCollapse} from "bootstrap-vue/src/components/collapse";

export default {
    name: 'LayoutApp',
    components: {
        BCollapse,
        LayoutHeaderTop: () => import('./Header/LayoutHeaderTop'),
        LayoutSidebarLeft: () => import('./Sidebar/LayoutSidebarLeft'),
        LayoutSidebarLeftHidden: () => import('./Sidebar/LayoutSidebarLeftHidden'),
        LayoutSidebarRight: () => import('./Sidebar/LayoutSidebarRight'),
        LayoutSidebarRightHidden: () => import('./Sidebar/LayoutSidebarRightHidden'),
        LayoutContainerBasic: () => import('./Container/LayoutContainerBasic'),
        BaseBreadcrumbs: () => import('./../Base/Breadcrumbs/BaseBreadcrumbs'),
        DefaultSearchButtons: () => import('./../Default/DefaultSearchButtons'),
    },
    props: {
        model: {
            type: [String],
            required: true,
        },
        centerTypeClass: {
            type: [String],
            default: () => '',
        },
        hasSearch: {
            type: [Boolean],
            default: () => true,
        },
        hasCreate: {
            type: [Boolean],
            default: () => true,
        }
    },
    data() {
        return {};
    },
    computed: mapState({
        sidebar: (state) => state.app.sidebar,
        fields: (state) => state.app.table.base.fields,
        search: (state) => state.app.table.base.search,
        error: (state) => state.app.table.error,
    }),
    watch: {},
    mounted() {
        //
    },
    created() {
        // if (window.index.data !== undefined) {
        //     this.setIndexData(window.index.data);
        //     this.setUserData(window.index.user);
        // }
        // this.$root.echoLockedRelease().leave();
    },
    methods: {
        ...mapActions('app/data', ['setIndexData']),
        ...mapActions('user/data', ['setUserData']),
    },
};
</script>
