<template>
    <div>
        <LayoutHeaderTop />
        <section class="pr--auth-section">
            <div class="container-title">
                <div class="block">
                    <h1>
                        {{ title }}
                    </h1>
                    <h5>
                        {{ description }}
                    </h5>
                    <p>
                        {{ fullDescription }}
                    </p>
                </div>
            </div>
            <div class="container-fluid">
                <slot name="center" />
            </div>
        </section>
    </div>
</template>

<script>

import { mapState } from 'vuex';
import LayoutHeaderTop from './Header/LayoutHeaderTop';

export default {
    name: 'LayoutsAuth',
    components: {
        LayoutHeaderTop,
    },
    data() {
        return {
            title: '',
            description: '',
            fullDescription: '',
        };
    },
    computed: mapState({
        //
    }),
    watch: {},
    mounted() {
        this.title = process.env.APP_AUTH_TITLE;
        this.description = process.env.APP_AUTH_DESCRIPTION;
        this.fullDescription = process.env.APP_AUTH_FULL_DESCRIPTION;
    },
    methods: {},
};
</script>
