<template>
    <div>
        <LayoutHeaderTop />
        <slot name="center" />
        <BaseModalEditorUnlockRelease />
    </div>
</template>

<script>

import { mapActions, mapState } from 'vuex';
import BaseModalEditorUnlockRelease from "../Base/Modal/Editor/BaseModalEditorUnlockRelease";

export default {
    name: 'LayoutEditor',
    components: {
        BaseModalEditorUnlockRelease,
        LayoutHeaderTop: () => import('./Header/LayoutHeaderTop'),
    },
    props: {
        centerTypeClass: {
            type: [String],
            default: () => '',
        },
        hasSearch: {
            type: [Boolean],
            default: () => true,
        },
        hasCreate: {
            type: [Boolean],
            default: () => true,
        }
    },
    mounted() {
        // if (window.index.data !== undefined) {
        //     this.setIndexData(window.index.data);
        //     this.setUserData(window.index.user);
        // }
        this.setPreview(this.cookieActions().getAppEditorPreview());
        this.setMode(this.cookieActions().getAppEditorMode());
    },
    methods: {
        ...mapActions('app/editor/base', ['setPreview', 'setMode']),
        ...mapActions('app/data', ['setIndexData']),
        ...mapActions('user/data', ['setUserData']),
    },
};
</script>
