<template>
    <ul class="nav pr--journal--tabs __bordered __account">
        <li class="nav-item">
            <nuxt-link :to="i18nRoute().personalModerationWaiting()" class="nav-link" :class="[$route.path.endsWith(i18nRoute().personalModerationWaiting()) ? 'active' : '']">
                {{ $t('basic.on-moderation') }} ({{ $auth.user.counters.moderation.articles.waiting }})
            </nuxt-link>
        </li>
        <li class="nav-item">
            <nuxt-link :to="i18nRoute().personalModerationPublishes()" class="nav-link" :class="[$route.path.endsWith(i18nRoute().personalModerationPublishes()) ? 'active' : '']">
                {{ $t('basic.publishes') }} ({{ $auth.user.counters.moderation.articles.published }})
            </nuxt-link>
        </li>
    </ul>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import ArticleCardBasic from '../../../Article/Card/ArticleCardBasic';
import CommentCard from '../../../Comment/Card/CommentCard';

export default {
    name: 'PersonalBlockModerationTabs',
    components: {
        ArticleCardBasic,
        CommentCard
    },
    layout: 'default',
    data() {
        return {};
    },
    async fetch() {
        //
    },
    head() {
        const self = this;
        return {};
    },
    computed: mapState({
        config: state => state.data.data.config,
        app: state => state.app,
        favorites: state => state.user.favorites.array.data,
        watches: state => state.user.watches.array.data,
    }),
    watch: {},
    mounted() {
        //
    },
    methods: {
    },
};
</script>
