<template>
    <form
        :class="[
            `row form--${model}`,
            pending ? 'form-pending' : '',
        ]"
    >
        <div v-for="field in fields" :key="field.key" :class="`col-${field.col || 12} is-${field.key}`">
            <FormShowDefault
                :role="'panel'"
                :errors="errors"
                :field="field"
                :item="item"
                :model="model"
            />
        </div>
    </form>
</template>

<script>

import { mapState } from 'vuex';
import FormShowDefault from "./Show/FormShowDefault";

export default {
    name: 'FormPanelShowByFields',
    components: {
        FormShowDefault,
    },
    props: {
        pending: {
            type: [Boolean],
            required: true,
            default: () => false,
        },
        model: {
            type: [String],
            required: true,
            default: () => '',
        },
        item: {
            type: [Object],
            default: () => null,
        },
        fields: {
            type: [Array],
            required: true,
            default: () => [],
        },
    },
    data() {
        return {
        };
    },
    computed: mapState({
        errors: (state) => state.app.panel.base.errors,
    }),
    watch: {},
    mounted() {
    },
    methods: {
    },
};
</script>

<style scoped lang="scss">

</style>
