<template>
    <form
        :class="[
            `row form--${model}`,
            pending ? 'form-pending' : '',
        ]"
    >
        <div
            v-for="field in fields"
            v-if="field.type !== 'custom'"
            :key="field.key"
            :class="`col-${field.col_search || 2} is-${field.key}`"
        >
            <FormFieldDefault
                :role="'table'"
                :errors="errors"
                :field="field"
                :form="form"
                :model="model"
                :on-change="onChange"
            />
        </div>
    </form>
</template>

<script>

import { mapState, mapActions } from 'vuex';
import FormFieldDefault from "./Field/FormFieldDefault";
import commonForm from "../../plugins/common/commonForm";
import serialize from "../../plugins/common/serialize";

export default {
    name: 'FormSearchByFields',
    components: {
        FormFieldDefault,
    },
    props: {
        pending: {
            type: [Boolean],
            required: true,
            default: () => false,
        },
        model: {
            type: [String],
            required: true,
            default: () => '',
        },
        fields: {
            type: [Array],
            required: true,
            default: () => [],
        },
    },
    data() {
        return {
            timer: null,
        };
    },
    computed: mapState({
        errors: (state) => state.app.table.base.errors,
        form: (state) => state.app.table.base.form,
        request: (state) => state.app.table.base.request,
    }),
    mounted() {
        console.log(this.$router.history.current.query);
        //console.log(this.form);
    },
    methods: {
        ...mapActions('app/table/base', ['setRequest', 'fetchList']),
        onChange() {
            const self = this;
            self.timer = commonForm.formTimeout(self.timer, () => {
                self.setRequest(self.form);
                self.fetchList({
                    model: self.model,
                });
            }, 500);
        }
    },
};
</script>
