<template>
    <div>
        <form
            v-if="fields.find(x => x.type === 'submit') !== undefined"
            :class="[
                `row form--${model} form--tab-submit`,
                pending ? 'form-pending' : '',
            ]"
            @submit.prevent="submit"
        >
            <div v-for="field in fields" :key="field.key" :class="`col-${field.col || 12} is-${field.key}`">
                <FormFieldDefault
                    :role="role"
                    :model="model"
                    :errors="errors"
                    :field="field"
                    :item="item"
                    :on-change="onChange"
                />
            </div>
        </form>
        <form
            v-if="fields.find(x => x.type === 'submit') === undefined"
            :class="[
                `row form--${model}`,
                pending ? 'form-pending' : '',
            ]"
        >
            <div
                v-for="field in fields"
                :key="field.key"
                :class="`col-${field.col || 12} is-${field.key}`"
            >
                <FormFieldDefault
                    :role="role"
                    :model="model"
                    :errors="errors"
                    :field="field"
                    :item="item"
                    :on-change="onChange"
                />
            </div>
        </form>
    </div>
</template>

<script>

import {mapActions, mapState} from 'vuex';
import FormFieldDefault from "./Field/FormFieldDefault";

export default {
    name: 'FormPanelByFields',
    components: {
        FormFieldDefault,
    },
    props: {
        pending: {
            type: [Boolean],
            required: true,
            default: () => false,
        },
        role: {
            type: [String],
            default: () => 'panel',
        },
        model: {
            type: [String],
            required: true,
            default: () => '',
        },
        item: {
            type: [Object],
            default: () => null,
        },
        tab: {
            type: [Object],
            default: () => {},
        },
        fields: {
            type: [Array],
            required: true,
            default: () => [],
        },
    },
    data() {
        return {
        };
    },
    computed: mapState({
        form: (state) => state.app.panel.base.form,
        errors: (state) => state.app.panel.base.errors,
    }),
    watch: {},
    mounted() {
    },
    methods: {
        ...mapActions('app/panel/base', ['fetchReloadFields', 'fetchReloadEditFields', 'fetchUpdateSubmit']),
        onChange(field, item) {
            if (item === null && field !== undefined && field.create_reload_on_change !== undefined && field.create_reload_on_change) {
                this.fetchReloadFields();
            }
            if (item === null && field !== undefined && field.disable_on_select !== undefined && field.disable_on_select) {
                //
            }
            if (item !== null && field !== undefined && field.create_reload_on_change !== undefined && field.create_reload_on_change) {
                this.fetchReloadEditFields(item);
            }
        },
        submit() {
            const self = this;
            const form = {};
            this.fields.forEach((field) => {
                form[field.key] = self.form[field.key] || null;
            });
            form.tab = self.tab.name;
            this.fetchUpdateSubmit(form);
            console.log(this.fields);
            console.log(this.form);
            console.log('submit');
        }
    },
};
</script>

<style scoped lang="scss">

</style>
