<template>
    <form
        :class="[
            `row form--${model}`,
            pending ? 'form-pending' : '',
        ]"
    >
        <div v-for="field in fields" :key="field.key" :class="`col-${field.col || 12} is-${field.key}`">
            <FormFieldDefault
                :errors="errors"
                :field="field"
                :item="item"
                :role="role"
                :model="model"
            />
        </div>
    </form>
</template>

<script>

import { mapState } from 'vuex';
import FormFieldDefault from "./Field/FormFieldDefault";

export default {
    name: 'FormByFields',
    components: {
        FormFieldDefault,
    },
    props: {
        pending: {
            type: [Boolean],
            required: true,
            default: () => false,
        },
        model: {
            type: [String],
            required: true,
            default: () => '',
        },
        item: {
            type: [Object],
            default: () => null,
        },
        role: {
            type: [String],
            default: () => 'panel',
        },
        fields: {
            type: [Array],
            required: true,
            default: () => [],
        },
    },
    data() {
        return {};
    },
    computed: mapState({
        errorsPanel: (state) => state.app.panel.base.errors,
        errorsPanelPanel: (state) => state.app.panel.panel.base.errors,
        errorsEditor: (state) => state.app.editor.articles.store.errors,
        form: (state) => state.app.panel.base.form,
        errors() {
            if (this.role === 'panel') {
                return this.errorsPanel;
            }
            if (this.role === 'panel-panel') {
                return this.errorsPanelPanel;
            }
            if (this.role === 'editor') {
                return this.errorsEditor;
            }
            return {};
        }
    }),
    watch: {},
    mounted() {
    },
    methods: {
      //
    },
};
</script>
