<template>
    <div class="pr--chat--list-item __skeleton">
        <div class="--image">
            <b-skeleton type="avatar" height="50px" width="50px" class="mr-3" />
        </div>
        <div class="--content">
            <div class="--head">
                <div class="--title">
                    <b-skeleton width="100px" height="22px" class="mb-0" />
                </div>
                <div class="--date">
                    <b-skeleton width="70px" height="20px" class="mb-0" />
                </div>
            </div>
            <div class="--text line-clamp-1">
                <b-skeleton width="100%" height="20px" class="mt-1 mb-0" />
            </div>
        </div>
    </div>
</template>

<script>

export default {
    name: 'SkeletonChatListUser',
    components: {},
    props: {},
    data() {
        return {};
    },
    computed: {},
    watch: {},
    mounted() {},
    methods: {},
};
</script>
