@keyframes spinAround {
    from {  transform: rotate(0deg);  }
    to {  transform: rotate(359deg);  }
}

@mixin center($size) {
    left: 50%;
    margin-left: -($size / 2);
    margin-top: -($size / 2);
    position: absolute;
    top: 50%;
}
@mixin loader {
    animation: spinAround 500ms infinite linear;
    border: 2px solid #fff;
    border-radius: 100%;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: 1rem;
    position: relative;
    width: 1rem;
}

.btn {
    &.is-loading {
        position: relative;
        color: transparent !important;
        pointer-events: none;
        i:before {
            visibility: hidden;
        }
        &:after {
            @include loader;
            @include center(16px);
            position: absolute;
        }
        &.btn-link {
            &:after {
                border: 2px solid transparent;
                border-right-color: #fff;
                border-top-color: #fff;
            }
        }
        &.btn-outline-success {
            &:after {
                border: 2px solid transparent;
                border-right-color: $success;
                border-top-color: $success;
            }
        }
        &.text-black {
            &:after {
                border: 2px solid transparent;
                border-right-color: #2a2c36;
                border-top-color: #2a2c36;
            }
        }
        &.text-danger, &.text-dark--h-danger, &.btn-outline-danger {
            &:after {
                border: 2px solid transparent;
                border-right-color: $danger;
                border-top-color: $danger;
            }
        }
        &.text-success {
            &:after {
                border: 2px solid transparent;
                border-right-color: $success;
                border-top-color: $success;
            }
        }
        &.text-primary, &.btn-outline-primary {
            &:after {
                border: 2px solid transparent;
                border-right-color: $primary;
                border-top-color: $primary;
            }
        }
        &.text-dark {
            &:after {
                border: 2px solid transparent;
                border-right-color: $dark;
                border-top-color: $dark;
            }
        }
    }
}
.nav-link {
    span.is-loading {
        margin-right: 1.5rem;
        position: relative;
        pointer-events: none;
        &:after {
            @include loader;
            @include center(16px);
            position: absolute;
            border: 2px solid transparent;
            border-right-color: $dark;
            border-top-color: $dark;
            top: 8px;
            right: -1.5rem;
            left: inherit;
            //width: 10px;
            //height: 10px;
        }
    }
    &.active {
        span.is-loading {
            &:after {
                border-right-color: $primary;
                border-top-color: $primary;
            }
        }
    }
}


.pr--loader.is-loading {
    display: block;
    position: relative;
    color: transparent !important;
    pointer-events: none;
    height: 20px;
    width: 20px;
    i:before {
        visibility: hidden;
    }
    &:after {
        @include loader;
        @include center(16px);
        position: absolute;
        border-right-color: $dark;
        border-top-color: $dark;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
}
.overlay--is-loading {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        background-color: #fff;
        opacity: .5;
        width: 100%;
        height: 100%;
        display: block;
        z-index: 100;
        top: 0;
        left: 0;
    }
    &:after {
        @include loader;
        @include center(16px);
        position: absolute;
        border-right-color: $dark;
        border-top-color: $dark;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
}
.container--is-loading {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        background-color: #fff;
        opacity: 0;
        width: 100%;
        height: 100%;
        display: block;
        z-index: 100;
        top: 0;
        left: 0;
    }
    &:after {
        @include loader;
        @include center(16px);
        position: absolute;
        border-right-color: $dark;
        border-top-color: $dark;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    &.__textable {
        //margin-bottom: 20px;
    }
    .--text {
        position: absolute;
        top: calc(50% + 1rem);
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 20px;
        color: $dark;
        text-align: center;
    }
}
.image--is-loading {
    border-radius: 0;
    border: $border-width solid $border-color;
    //background-color: #eee;
}
