<template>
    <table
        :class="[
            `table table-hover b-table-fixed table--by-fields table--sorted ${fields.config.edit && fields.config.delete ? '__with-edit-delete' : ''} table--${model}`,
            pending ? 'table-pending' : '',
        ]"
    >
        <thead>
            <tr>
                <th class="is-id">
                    #
                </th>
                <th v-if="fields.config.released && !fields.config.simple" class="is-released">
                    <span v-tippy class="text-icon __hover-primary" :content="'Утвердить запись'">
                        <font-awesome-icon icon="check-double" />
                    </span>
                </th>
                <th v-if="fields.config.image && !fields.config.simple" class="is-image">
                    <!--                    <font-awesome-icon icon="ban" />-->
                </th>
                <th v-if="fields.config.linkable" class="is-linkable">
                    <!--                    -->
                </th>
                <th
                    v-for="field in fields.data"
                    :key="field.key"
                    :class="[
                        `is-${field.key}`,
                        field.styles !== undefined && field.styles.center !== undefined ? 'is-center' : '',
                        field.icon !== undefined ? '__is-icon' : '',
                        field.type === 'avatar' ? 'is-avatar' : '',
                        field.type === 'avatar' && field.simple !== undefined ? '__avatar-simple' : '',
                    ]"
                    :style="{
                        width: field.styles !== undefined && field.styles.width !== undefined ? `${field.styles.width}px` : '',
                    }"
                >
                    <span v-if="field.title !== undefined && field.icon === undefined">
                        {{ field.title }}
                    </span>
                    <span v-if="field.icon !== undefined && field.tooltip === undefined">
                        <font-awesome-icon :icon="field.icon" />
                    </span>
                    <span
                        v-if="field.icon !== undefined && field.title !== undefined"
                        v-tippy
                        class="text-icon __hover-primary"
                        :content="field.title"
                    >
                        <font-awesome-icon :icon="field.icon" />
                    </span>
                    <button
                        v-if="field.sorted !== undefined && field.sorted"
                        type="button"
                        class="btn btn-icon btn-sm"
                        style="margin-bottom: -18px;margin-top: -18px;"
                        @click="actionSort(field.key)"
                    >
                        <font-awesome-icon :icon="sort !== null ? (sort[field.key] !== undefined ? (sort[field.key] === 1 ? 'caret-up' : 'caret-down') : 'sort') : 'sort'" />
                    </button>
                </th>
                <th v-if="fields.config.editor_articles_preview" :class="`is-show ${fields.config.editor_articles_preview_locale ? '__locale' : ''}`">
                    <span v-if="fields.config.editor_articles_preview_locale">Просмотр</span>
                </th>
                <th v-if="fields.config.locale_preview" :class="`is-show __locale`">
                    <span>Просмотр</span>
                </th>
                <th v-if="fields.config.banned && !fields.config.simple" class="is-banned">
                    <span v-tippy class="text-icon __hover-primary" :content="'Блокировка'">
                        <font-awesome-icon icon="ban" />
                    </span>
                </th>
                <th v-if="fields.config.state && !fields.config.simple" class="is-state">
                    <span v-tippy class="text-icon __hover-primary" :content="'Состояние'">
                        <font-awesome-icon icon="ellipsis-h" />
                    </span>
                </th>
                <th v-if="fields.config.comments && !fields.config.simple" class="is-comments">
                    <span v-tippy class="text-icon __hover-primary" :content="'Комментарии'">
                        <font-awesome-icon icon="comments" />
                    </span>
                </th>
                <th v-if="fields.config.show && !fields.config.simple" class="is-show">
                    <span v-tippy class="text-icon __hover-primary" :content="'Просмотр'">
                        <font-awesome-icon icon="eye" />
                    </span>
                </th>
                <th v-if="fields.config.editor" class="is-editor">
                    Редактор
                </th>
                <th v-if="fields.config.history" class="is-history">
                    <span v-tippy class="text-icon __hover-primary" :content="'История изменений'">
                        <font-awesome-icon icon="history" />
                    </span>
                </th>
                <th v-if="fields.config.edit" class="is-edit">
                    <span v-tippy class="text-icon __hover-primary" :content="'Редактировать'">
                        <font-awesome-icon icon="pencil-alt" />
                    </span>
                </th>
                <th v-if="fields.config.delete" class="is-delete">
                    <span v-tippy class="text-icon __hover-primary" :content="'Удалить'">
                        <font-awesome-icon icon="trash" />
                    </span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr
                v-for="value in data"
                :key="value.id"
                :class="[
                    'is-tr',
                    value.is_active !== undefined && !value.is_active ? '__is-opacity' : '',
                    rowIsActive(value) ? '__is-active' : '',
                    rowIsHover(value) ? '__is-hover' : '',
                ]"
            >
                <td class="is-id">
                    {{ value.id }}
                </td>
                <td v-if="fields.config.released && !fields.config.simple" class="is-released">
                    <TableColumnBaseReleased :value="value" :action-release="actionRelease" :fields="fields" />
                </td>
                <td v-if="fields.config.image && !fields.config.simple" class="is-image">
                    <TableColumnImage :config="fields.config" :value="value" />
                </td>
                <td v-if="fields.config.linkable" class="is-linkable">
                    <TableColumnLinkable :config="fields.config" :value="value" />
                </td>
                <td
                    v-for="(field, key) in fields.data"
                    :key="field.key"
                    :class="[
                        `is-${field.key}`,
                        field.styles !== undefined && field.styles.center !== undefined ? 'is-center' : '',
                        field.type === 'avatar' ? 'is-avatar' : '',
                        field.icon !== undefined ? '__is-icon' : '',
                        field.type === 'avatar' && field.simple !== undefined ? '__avatar-simple' : '',
                    ]"
                    :style="{
                        width: field.styles !== undefined && field.styles.width !== undefined ? `${field.styles.width}px` : '',
                    }"
                >
                    <TableColumnDefault
                        :field="field"
                        :value="value"
                        :config="fields.config"
                        :key-table="key"
                        :action-after-edit="actionAfterEdit"
                    />
                </td>
                <td v-if="fields.config.editor_articles_preview" :class="`is-show ${fields.config.editor_articles_preview_locale ? '__locale' : ''}`">
                    <TableColumnConfigEditorArticlesPreview :fields="fields" :value="value" :model="model" />
                </td>
                <td v-if="fields.config.locale_preview" :class="`is-show __locale`">
                    <TableColumnConfigLocalePreview :fields="fields" :value="value" :model="model" />
                </td>
                <td v-if="fields.config.banned && !fields.config.simple" class="is-banned">
                    <TableColumnBaseBanned :value="value" :action-banned="actionBanned" :fields="fields" />
                </td>
                <td v-if="fields.config.state && !fields.config.simple" class="is-state">
                    <TableColumnStates :fields="fields" :value="value" />
                </td>
                <td v-if="fields.config.comments && !fields.config.simple" class="is-comments">
                    <TableColumnBaseComments :fields="fields" :value="value" :action-comments="actionComments" />
                </td>
                <td v-if="fields.config.show && !fields.config.simple" class="is-show">
                    <TableColumnBaseShow :fields="fields" :value="value" :action-show="actionShow" />
                </td>
                <td v-if="fields.config.editor" class="is-editor">
                    <TableColumnBaseEditor :fields="fields" :value="value" />
                </td>
                <td v-if="fields.config.history" class="is-history">
                    <TableColumnBaseHistory :fields="fields" :value="value" :action="actionHistory" />
                </td>
                <td v-if="fields.config.edit" class="is-edit">
                    <TableColumnBaseEdit :fields="fields" :value="value" :action-edit="actionEdit" />
                </td>
                <td v-if="fields.config.delete" class="is-delete">
                    <TableColumnBaseDelete :fields="fields" :value="value" :action-delete="actionDelete" />
                </td>
            </tr>
        </tbody>
    </table>
</template>

<script>

import { mapState, mapActions } from 'vuex';
import TableColumnImage from './Column/TableColumnImage';
import TableColumnLinkable from './Column/TableColumnLinkable';
import TableColumnStates from './Column/TableColumnStates';
import TableColumnDefault from './Column/TableColumnDefault';
import TableColumnConfigEditorArticlesPreview from './Column/Config/TableColumnConfigEditorArticlesPreview';
import TableColumnConfigLocalePreview from './Column/Config/TableColumnConfigLocalePreview';
import TableColumnBaseDelete from './Column/Base/TableColumnBaseDelete';
import TableColumnBaseEdit from './Column/Base/TableColumnBaseEdit';
import TableColumnBaseHistory from './Column/Base/TableColumnBaseHistory';
import TableColumnBaseEditor from './Column/Base/TableColumnBaseEditor';
import TableColumnBaseShow from './Column/Base/TableColumnBaseShow';
import TableColumnBaseComments from './Column/Base/TableColumnBaseComments';
import TableColumnBaseBanned from './Column/Base/TableColumnBaseBanned';
import TableColumnBaseReleased from './Column/Base/TableColumnBaseReleased';

export default {
    name: 'TableByFields',
    components: {
        TableColumnImage,
        TableColumnDefault,
        TableColumnConfigEditorArticlesPreview,
        TableColumnConfigLocalePreview,
        TableColumnStates,
        TableColumnBaseDelete,
        TableColumnBaseEdit,
        TableColumnBaseEditor,
        TableColumnBaseShow,
        TableColumnBaseComments,
        TableColumnBaseBanned,
        TableColumnBaseReleased,
        TableColumnLinkable,
        TableColumnBaseHistory,
    },
    props: {
        pending: {
            type: [Boolean],
            required: true,
            default: () => false,
        },
        model: {
            type: [String],
            required: true,
            default: () => '',
        },
        data: {
            type: [Array],
            required: true,
            default: () => [],
        },
        fields: {
            type: [Object],
            required: true,
            default: () => {},
        },
        actionEdit: {
            type: [Function],
            required: false,
            default: () => {},
        },
        actionShow: {
            type: [Function],
            required: false,
            default: () => {},
        },
        actionDestroy: {
            type: [Function],
            required: false,
            default: () => {},
        },
        actionSort: {
            type: [Function],
            required: false,
            default: () => {},
        },
        actionDelete: {
            type: [Function],
            required: false,
            default: () => {},
        },
        actionHistory: {
            type: [Function],
            required: false,
            default: () => {},
        },
        actionAfterDelete: {
            type: [Function],
            required: false,
            default: () => {},
        },
        actionAfterEdit: {
            type: [Function],
            required: false,
            default: () => {},
        },
        actionAfterCreate: {
            type: [Function],
            required: false,
            default: () => {},
        },
        actionComments: {
            type: [Function],
            required: false,
            default: () => {},
        },
    },
    data() {
        return {};
    },
    computed: mapState({
        modal: state => state.app.modal,
        destroy: state => state.app.table.destroy,
        destroyTable: state => state.app.table.table.destroy,
        banned: state => state.app.table.banned,
        release: state => state.app.table.release,
        sort: state => state.app.table.base.sort,
        panel: state => state.app.panel.base,
        panelPanel: state => state.app.panel.panel.base,
        editorStore: state => state.app.editor.articles.store,
    }),
    watch: {
        'modal.deleted'() {
            const self = this;
            if (self.modal.deleted) {
                self.actionDestroy({
                    model: self.model,
                    id: self.modal.item.id,
                });
            }
        },
        'modal.deletedFull'() {
            const self = this;
            if (self.modal.deletedFull) {
                self.actionDestroy({
                    model: self.model,
                    id: self.modal.item.id,
                    force: true,
                });
            }
        },
        'destroy.success'() {
            const self = this;
            if (self.destroy.success) {
                self.modalActions().close();
                self.actionAfterDelete();
            }
        },
        'destroyTable.success'() {
            const self = this;
            if (self.destroyTable.success) {
                self.modalActions().close();
                self.actionAfterDelete();
            }
        },
        'banned.success'() {
            const self = this;
            if (self.banned.success) {
                // @todo TableChangedEvent
                //self.actionAfterEdit();
            }
        },
        'release.success'() {
            const self = this;
            if (self.release.success) {
                // @todo TableChangedEvent
                //self.actionAfterEdit();
            }
        },
        'panelPanel.updated'() {
            const self = this;
            if (self.panelPanel.updated) {
                self.actionAfterEdit();
            }
        },
        'panelPanel.created'() {
            const self = this;
            if (self.panelPanel.created) {
                self.actionAfterCreate();
            }
        }
    },
    mounted() {
    },
    methods: {
        ...mapActions('app/table/base', ['fetchList']),
        //...mapActions('app/table/table/base', ['fetchList']),
        //...mapActions('app/panel/base', ['setRole', 'setLocale']),
        //...mapActions('app/table/destroy', ['fetchDestroy']),
        ...mapActions('app/table/banned', ['fetchBanned']),
        ...mapActions('app/table/release', ['fetchRelease']),
        ...mapActions('app/editor/articles/show', ['reloadItem']),
        actionBanned(item, value) {
            this.fetchBanned({
                model: this.model,
                id: item.id,
                value,
            });
        },
        actionRelease(item, value) {
            this.fetchRelease({
                model: this.model,
                id: item.id,
                value,
            });
        },
        rowIsActive(value) {
            if (this.panelPanel.opened && this.model === this.panelPanel.model) {
                if (this.panelPanel.item !== null && this.panelPanel.item.id !== null && value.id === this.panelPanel.item.id) {
                    return true;
                }
            }
            if (this.panel.opened && this.model === this.panel.model) {
                if (this.panel.item !== null && this.panel.item.id !== null && value.id === this.panel.item.id) {
                    return true;
                }
            }
        },
        rowIsHover(value) {
            if (this.modal.active !== null && this.model === this.modal.model) {
                if (this.modal.item !== null && this.modal.item.id !== null && value.id === this.modal.item.id) {
                    return true;
                }
            }
            return false;
        }
    },
};
</script>
