//@font-face {
//    font-family: 'GT Eesti Pro Text';
//    src: url('/fonts/GTEestiProText/GTEestiProText-ThinItalic.eot');
//    src: local('GT Eesti Pro Text Thin Italic'), local('GTEestiProText-ThinItalic'),
//        url('/fonts/GTEestiProText/GTEestiProText-ThinItalic.eot?#iefix') format('embedded-opentype'),
//        url('/fonts/GTEestiProText/GTEestiProText-ThinItalic.woff2') format('woff2'),
//        url('/fonts/GTEestiProText/GTEestiProText-ThinItalic.woff') format('woff'),
//        url('/fonts/GTEestiProText/GTEestiProText-ThinItalic.ttf') format('truetype');
//    font-weight: 100;
//    font-style: italic;
//}
//
//@font-face {
//    font-family: 'GT Eesti Pro Text';
//    src: url('/fonts/GTEestiProText/GTEestiProText-Medium.eot');
//    src: local('GT Eesti Pro Text Medium'), local('GTEestiProText-Medium'),
//        url('/fonts/GTEestiProText/GTEestiProText-Medium.eot?#iefix') format('embedded-opentype'),
//        url('/fonts/GTEestiProText/GTEestiProText-Medium.woff2') format('woff2'),
//        url('/fonts/GTEestiProText/GTEestiProText-Medium.woff') format('woff'),
//        url('/fonts/GTEestiProText/GTEestiProText-Medium.ttf') format('truetype');
//    font-weight: 500;
//    font-style: normal;
//}
//
//@font-face {
//    font-family: 'GT Eesti Pro Text';
//    src: url('/fonts/GTEestiProText/GTEestiProText-LightItalic.eot');
//    src: local('GT Eesti Pro Text Light Italic'), local('GTEestiProText-LightItalic'),
//        url('/fonts/GTEestiProText/GTEestiProText-LightItalic.eot?#iefix') format('embedded-opentype'),
//        url('/fonts/GTEestiProText/GTEestiProText-LightItalic.woff2') format('woff2'),
//        url('/fonts/GTEestiProText/GTEestiProText-LightItalic.woff') format('woff'),
//        url('/fonts/GTEestiProText/GTEestiProText-LightItalic.ttf') format('truetype');
//    font-weight: 300;
//    font-style: italic;
//}
//
////@font-face {
////    font-family: GTEestiProDisplay;
////    src: url('/fonts/GTEestiProText/GTEestiProDisplay-Bold.eot');
////    src: local('GT Eesti Pro Display Bold'), local('GTEestiProDisplay-Bold'),
////        url('/fonts/GTEestiProText/GTEestiProDisplay-Bold.eot?#iefix') format('embedded-opentype'),
////        url('/fonts/GTEestiProText/GTEestiProDisplay-Bold.woff2') format('woff2'),
////        url('/fonts/GTEestiProText/GTEestiProDisplay-Bold.woff') format('woff'),
////        url('/fonts/GTEestiProText/GTEestiProDisplay-Bold.ttf') format('truetype');
////    font-weight: bold;
////    font-style: normal;
////}
//
//@font-face {
//    font-family: 'GT Eesti Pro Text';
//    src: url('/fonts/GTEestiProText/GTEestiProText-Light.eot');
//    src: local('GT Eesti Pro Text Light'), local('GTEestiProText-Light'),
//        url('/fonts/GTEestiProText/GTEestiProText-Light.eot?#iefix') format('embedded-opentype'),
//        url('/fonts/GTEestiProText/GTEestiProText-Light.woff2') format('woff2'),
//        url('/fonts/GTEestiProText/GTEestiProText-Light.woff') format('woff'),
//        url('/fonts/GTEestiProText/GTEestiProText-Light.ttf') format('truetype');
//    font-weight: 300;
//    font-style: normal;
//}
//
//@font-face {
//    font-family: 'GT Eesti Pro Display';
//    src: url('/fonts/GTEestiProText/GTEestiProDisplay-MediumItalic.eot');
//    src: local('GT Eesti Pro Display Medium Italic'), local('GTEestiProDisplay-MediumItalic'),
//        url('/fonts/GTEestiProText/GTEestiProDisplay-MediumItalic.eot?#iefix') format('embedded-opentype'),
//        url('/fonts/GTEestiProText/GTEestiProDisplay-MediumItalic.woff2') format('woff2'),
//        url('/fonts/GTEestiProText/GTEestiProDisplay-MediumItalic.woff') format('woff'),
//        url('/fonts/GTEestiProText/GTEestiProDisplay-MediumItalic.ttf') format('truetype');
//    font-weight: 500;
//    font-style: italic;
//}
//
//@font-face {
//    font-family: 'GT Eesti Pro Text';
//    src: url('/fonts/GTEestiProText/GTEestiProText-RegularItalic.eot');
//    src: local('GT Eesti Pro Text Regular Italic'), local('GTEestiProText-RegularItalic'),
//        url('/fonts/GTEestiProText/GTEestiProText-RegularItalic.eot?#iefix') format('embedded-opentype'),
//        url('/fonts/GTEestiProText/GTEestiProText-RegularItalic.woff2') format('woff2'),
//        url('/fonts/GTEestiProText/GTEestiProText-RegularItalic.woff') format('woff'),
//        url('/fonts/GTEestiProText/GTEestiProText-RegularItalic.ttf') format('truetype');
//    font-weight: normal;
//    font-style: italic;
//}
//
//@font-face {
//    font-family: 'GT Eesti Pro Text Book';
//    src: url('/fonts/GTEestiProText/GTEestiProText-Book.eot');
//    src: local('GT Eesti Pro Text Book'), local('GTEestiProText-Book'),
//        url('/fonts/GTEestiProText/GTEestiProText-Book.eot?#iefix') format('embedded-opentype'),
//        url('/fonts/GTEestiProText/GTEestiProText-Book.woff2') format('woff2'),
//        url('/fonts/GTEestiProText/GTEestiProText-Book.woff') format('woff'),
//        url('/fonts/GTEestiProText/GTEestiProText-Book.ttf') format('truetype');
//    font-weight: normal;
//    font-style: normal;
//}
//
//@font-face {
//    font-family: 'GT Eesti Pro Text';
//    src: url('/fonts/GTEestiProText/GTEestiProText-BoldItalic.eot');
//    src: local('GT Eesti Pro Text Bold Italic'), local('GTEestiProText-BoldItalic'),
//        url('/fonts/GTEestiProText/GTEestiProText-BoldItalic.eot?#iefix') format('embedded-opentype'),
//        url('/fonts/GTEestiProText/GTEestiProText-BoldItalic.woff2') format('woff2'),
//        url('/fonts/GTEestiProText/GTEestiProText-BoldItalic.woff') format('woff'),
//        url('/fonts/GTEestiProText/GTEestiProText-BoldItalic.ttf') format('truetype');
//    font-weight: bold;
//    font-style: italic;
//}
//
//@font-face {
//    font-family: 'GT Eesti Pro Text';
//    src: url('/fonts/GTEestiProText/GTEestiProText-UltraLightItalic.eot');
//    src: local('GT Eesti Pro Text UltraLight Italic'), local('GTEestiProText-UltraLightItalic'),
//        url('/fonts/GTEestiProText/GTEestiProText-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
//        url('/fonts/GTEestiProText/GTEestiProText-UltraLightItalic.woff2') format('woff2'),
//        url('/fonts/GTEestiProText/GTEestiProText-UltraLightItalic.woff') format('woff'),
//        url('/fonts/GTEestiProText/GTEestiProText-UltraLightItalic.ttf') format('truetype');
//    font-weight: 200;
//    font-style: italic;
//}
//
////@font-face {
////    font-family: GTEestiProDisplay;
////    src: url('/fonts/GTEestiProText/GTEestiProDisplay-Thin.eot');
////    src: local('GT Eesti Pro Display Thin'), local('GTEestiProDisplay-Thin'),
////        url('/fonts/GTEestiProText/GTEestiProDisplay-Thin.eot?#iefix') format('embedded-opentype'),
////        url('/fonts/GTEestiProText/GTEestiProDisplay-Thin.woff2') format('woff2'),
////        url('/fonts/GTEestiProText/GTEestiProDisplay-Thin.woff') format('woff'),
////        url('/fonts/GTEestiProText/GTEestiProDisplay-Thin.ttf') format('truetype');
////    font-weight: 100;
////    font-style: normal;
////}
//
//@font-face {
//    font-family: 'GT Eesti Pro Text';
//    src: url('/fonts/GTEestiProText/GTEestiProText-Regular.eot');
//    src: local('GT Eesti Pro Text Regular'), local('GTEestiProText-Regular'),
//        url('/fonts/GTEestiProText/GTEestiProText-Regular.eot?#iefix') format('embedded-opentype'),
//        url('/fonts/GTEestiProText/GTEestiProText-Regular.woff2') format('woff2'),
//        url('/fonts/GTEestiProText/GTEestiProText-Regular.woff') format('woff'),
//        url('/fonts/GTEestiProText/GTEestiProText-Regular.ttf') format('truetype');
//    font-weight: normal;
//    font-style: normal;
//}
//
////@font-face {
////    font-family: GTEestiProDisplay;
////    src: url('/fonts/GTEestiProText/GTEestiProDisplay-Light.eot');
////    src: local('GT Eesti Pro Display Light'), local('GTEestiProDisplay-Light'),
////        url('/fonts/GTEestiProText/GTEestiProDisplay-Light.eot?#iefix') format('embedded-opentype'),
////        url('/fonts/GTEestiProText/GTEestiProDisplay-Light.woff2') format('woff2'),
////        url('/fonts/GTEestiProText/GTEestiProDisplay-Light.woff') format('woff'),
////        url('/fonts/GTEestiProText/GTEestiProDisplay-Light.ttf') format('truetype');
////    font-weight: 300;
////    font-style: normal;
////}
//
//@font-face {
//    font-family: 'GT Eesti Pro Display';
//    src: url('/fonts/GTEestiProText/GTEestiProDisplay-UltraBold.eot');
//    src: local('GT Eesti Pro Display UltraBold'), local('GTEestiProDisplay-UltraBold'),
//        url('/fonts/GTEestiProText/GTEestiProDisplay-UltraBold.eot?#iefix') format('embedded-opentype'),
//        url('/fonts/GTEestiProText/GTEestiProDisplay-UltraBold.woff2') format('woff2'),
//        url('/fonts/GTEestiProText/GTEestiProDisplay-UltraBold.woff') format('woff'),
//        url('/fonts/GTEestiProText/GTEestiProDisplay-UltraBold.ttf') format('truetype');
//    font-weight: 800;
//    font-style: normal;
//}
//
//@font-face {
//    font-family: 'GT Eesti Pro Display';
//    src: url('/fonts/GTEestiProText/GTEestiProDisplay-UltraBoldItalic.eot');
//    src: local('GT Eesti Pro Display UltraBold Italic'), local('GTEestiProDisplay-UltraBoldItalic'),
//        url('/fonts/GTEestiProText/GTEestiProDisplay-UltraBoldItalic.eot?#iefix') format('embedded-opentype'),
//        url('/fonts/GTEestiProText/GTEestiProDisplay-UltraBoldItalic.woff2') format('woff2'),
//        url('/fonts/GTEestiProText/GTEestiProDisplay-UltraBoldItalic.woff') format('woff'),
//        url('/fonts/GTEestiProText/GTEestiProDisplay-UltraBoldItalic.ttf') format('truetype');
//    font-weight: 800;
//    font-style: italic;
//}
//
////@font-face {
////    font-family: GTEestiProDisplay;
////    src: url('/fonts/GTEestiProText/GTEestiProDisplay-Medium.eot');
////    src: local('GT Eesti Pro Display Medium'), local('GTEestiProDisplay-Medium'),
////        url('/fonts/GTEestiProText/GTEestiProDisplay-Medium.eot?#iefix') format('embedded-opentype'),
////        url('/fonts/GTEestiProText/GTEestiProDisplay-Medium.woff2') format('woff2'),
////        url('/fonts/GTEestiProText/GTEestiProDisplay-Medium.woff') format('woff'),
////        url('/fonts/GTEestiProText/GTEestiProDisplay-Medium.ttf') format('truetype');
////    font-weight: 500;
////    font-style: normal;
////}
//
//@font-face {
//    font-family: 'GT Eesti Pro Display';
//    src: url('/fonts/GTEestiProText/GTEestiProDisplay-UltraLight.eot');
//    src: local('GT Eesti Pro Display UltraLight'), local('GTEestiProDisplay-UltraLight'),
//        url('/fonts/GTEestiProText/GTEestiProDisplay-UltraLight.eot?#iefix') format('embedded-opentype'),
//        url('/fonts/GTEestiProText/GTEestiProDisplay-UltraLight.woff2') format('woff2'),
//        url('/fonts/GTEestiProText/GTEestiProDisplay-UltraLight.woff') format('woff'),
//        url('/fonts/GTEestiProText/GTEestiProDisplay-UltraLight.ttf') format('truetype');
//    font-weight: 200;
//    font-style: normal;
//}
//
//@font-face {
//    font-family: 'GT Eesti Pro Display';
//    src: url('/fonts/GTEestiProText/GTEestiProDisplay-RegularItalic.eot');
//    src: local('GT Eesti Pro Display Regular Italic'), local('GTEestiProDisplay-RegularItalic'),
//        url('/fonts/GTEestiProText/GTEestiProDisplay-RegularItalic.eot?#iefix') format('embedded-opentype'),
//        url('/fonts/GTEestiProText/GTEestiProDisplay-RegularItalic.woff2') format('woff2'),
//        url('/fonts/GTEestiProText/GTEestiProDisplay-RegularItalic.woff') format('woff'),
//        url('/fonts/GTEestiProText/GTEestiProDisplay-RegularItalic.ttf') format('truetype');
//    font-weight: normal;
//    font-style: italic;
//}
//
//@font-face {
//    font-family: 'GT Eesti Pro Display';
//    src: url('/fonts/GTEestiProText/GTEestiProDisplay-LightItalic.eot');
//    src: local('GT Eesti Pro Display Light Italic'), local('GTEestiProDisplay-LightItalic'),
//        url('/fonts/GTEestiProText/GTEestiProDisplay-LightItalic.eot?#iefix') format('embedded-opentype'),
//        url('/fonts/GTEestiProText/GTEestiProDisplay-LightItalic.woff2') format('woff2'),
//        url('/fonts/GTEestiProText/GTEestiProDisplay-LightItalic.woff') format('woff'),
//        url('/fonts/GTEestiProText/GTEestiProDisplay-LightItalic.ttf') format('truetype');
//    font-weight: 300;
//    font-style: italic;
//}
//
//@font-face {
//    font-family: 'GT Eesti Pro Text';
//    src: url('/fonts/GTEestiProText/GTEestiProText-Bold.eot');
//    src: local('GT Eesti Pro Text Bold'), local('GTEestiProText-Bold'),
//        url('/fonts/GTEestiProText/GTEestiProText-Bold.eot?#iefix') format('embedded-opentype'),
//        url('/fonts/GTEestiProText/GTEestiProText-Bold.woff2') format('woff2'),
//        url('/fonts/GTEestiProText/GTEestiProText-Bold.woff') format('woff'),
//        url('/fonts/GTEestiProText/GTEestiProText-Bold.ttf') format('truetype');
//    font-weight: bold;
//    font-style: normal;
//}
//
//@font-face {
//    font-family: 'GT Eesti Pro Text';
//    src: url('/fonts/GTEestiProText/GTEestiProText-Thin.eot');
//    src: local('GT Eesti Pro Text Thin'), local('GTEestiProText-Thin'),
//        url('/fonts/GTEestiProText/GTEestiProText-Thin.eot?#iefix') format('embedded-opentype'),
//        url('/fonts/GTEestiProText/GTEestiProText-Thin.woff2') format('woff2'),
//        url('/fonts/GTEestiProText/GTEestiProText-Thin.woff') format('woff'),
//        url('/fonts/GTEestiProText/GTEestiProText-Thin.ttf') format('truetype');
//    font-weight: 100;
//    font-style: normal;
//}
//
//@font-face {
//    font-family: 'GT Eesti Pro Display';
//    src: url('/fonts/GTEestiProText/GTEestiProDisplay-UltraLightItalic.eot');
//    src: local('GT Eesti Pro Display UltraLight Italic'), local('GTEestiProDisplay-UltraLightItalic'),
//        url('/fonts/GTEestiProText/GTEestiProDisplay-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
//        url('/fonts/GTEestiProText/GTEestiProDisplay-UltraLightItalic.woff2') format('woff2'),
//        url('/fonts/GTEestiProText/GTEestiProDisplay-UltraLightItalic.woff') format('woff'),
//        url('/fonts/GTEestiProText/GTEestiProDisplay-UltraLightItalic.ttf') format('truetype');
//    font-weight: 200;
//    font-style: italic;
//}
//
//@font-face {
//    font-family: 'GT Eesti Pro Display';
//    src: url('/fonts/GTEestiProText/GTEestiProDisplay-BoldItalic.eot');
//    src: local('GT Eesti Pro Display Bold Italic'), local('GTEestiProDisplay-BoldItalic'),
//        url('/fonts/GTEestiProText/GTEestiProDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
//        url('/fonts/GTEestiProText/GTEestiProDisplay-BoldItalic.woff2') format('woff2'),
//        url('/fonts/GTEestiProText/GTEestiProDisplay-BoldItalic.woff') format('woff'),
//        url('/fonts/GTEestiProText/GTEestiProDisplay-BoldItalic.ttf') format('truetype');
//    font-weight: bold;
//    font-style: italic;
//}
//
//@font-face {
//    font-family: 'GT Eesti Pro Text';
//    src: url('/fonts/GTEestiProText/GTEestiProText-MediumItalic.eot');
//    src: local('GT Eesti Pro Text Medium Italic'), local('GTEestiProText-MediumItalic'),
//        url('/fonts/GTEestiProText/GTEestiProText-MediumItalic.eot?#iefix') format('embedded-opentype'),
//        url('/fonts/GTEestiProText/GTEestiProText-MediumItalic.woff2') format('woff2'),
//        url('/fonts/GTEestiProText/GTEestiProText-MediumItalic.woff') format('woff'),
//        url('/fonts/GTEestiProText/GTEestiProText-MediumItalic.ttf') format('truetype');
//    font-weight: 500;
//    font-style: italic;
//}
//
//@font-face {
//    font-family: 'GT Eesti Pro Text Book';
//    src: url('/fonts/GTEestiProText/GTEestiProText-BookItalic.eot');
//    src: local('GT Eesti Pro Text Book Italic'), local('GTEestiProText-BookItalic'),
//        url('/fonts/GTEestiProText/GTEestiProText-BookItalic.eot?#iefix') format('embedded-opentype'),
//        url('/fonts/GTEestiProText/GTEestiProText-BookItalic.woff2') format('woff2'),
//        url('/fonts/GTEestiProText/GTEestiProText-BookItalic.woff') format('woff'),
//        url('/fonts/GTEestiProText/GTEestiProText-BookItalic.ttf') format('truetype');
//    font-weight: normal;
//    font-style: italic;
//}
//
//@font-face {
//    font-family: 'GT Eesti Pro Text';
//    src: url('/fonts/GTEestiProText/GTEestiProText-UltraLight.eot');
//    src: local('GT Eesti Pro Text UltraLight'), local('GTEestiProText-UltraLight'),
//        url('/fonts/GTEestiProText/GTEestiProText-UltraLight.eot?#iefix') format('embedded-opentype'),
//        url('/fonts/GTEestiProText/GTEestiProText-UltraLight.woff2') format('woff2'),
//        url('/fonts/GTEestiProText/GTEestiProText-UltraLight.woff') format('woff'),
//        url('/fonts/GTEestiProText/GTEestiProText-UltraLight.ttf') format('truetype');
//    font-weight: 200;
//    font-style: normal;
//}
//
@font-face {
    font-family: GTEestiProDisplay;
    src: url('/fonts/GTEestiProText/GTEestiProDisplay-Regular.eot');
    src: local('GT Eesti Pro Display Regular'), local('GTEestiProDisplay-Regular'),
        url('/fonts/GTEestiProText/GTEestiProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/GTEestiProText/GTEestiProDisplay-Regular.woff2') format('woff2'),
        url('/fonts/GTEestiProText/GTEestiProDisplay-Regular.woff') format('woff'),
        url('/fonts/GTEestiProText/GTEestiProDisplay-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
//
//@font-face {
//    font-family: 'GT Eesti Pro Display';
//    src: url('/fonts/GTEestiProText/GTEestiProDisplay-ThinItalic.eot');
//    src: local('GT Eesti Pro Display Thin Italic'), local('GTEestiProDisplay-ThinItalic'),
//        url('/fonts/GTEestiProText/GTEestiProDisplay-ThinItalic.eot?#iefix') format('embedded-opentype'),
//        url('/fonts/GTEestiProText/GTEestiProDisplay-ThinItalic.woff2') format('woff2'),
//        url('/fonts/GTEestiProText/GTEestiProDisplay-ThinItalic.woff') format('woff'),
//        url('/fonts/GTEestiProText/GTEestiProDisplay-ThinItalic.ttf') format('truetype');
//    font-weight: 100;
//    font-style: italic;
//}
//
