<template>
    <div
        class="col-12 pr--card--article rounded-sm"
        :class="[
            loading ? '__progressed' : '',
        ]"
    >
        <div class="--head">
            <div class="--category">
                <LinkEventAt v-if="article.type === 'event'" :article="article" />
                <LinkGroup v-if="!article.group.is_author" :group="article.group" />
                <LinkAuthor :user="article.creator" />
                <LinkPublishedAt :article="article" />
            </div>
            <div class="--published">
<!--                <ButtonEditArticle v-if="$auth.loggedIn && article.creator.id === $auth.user.id" :item="article" />-->
                <ButtonFavorite v-if="$device.isDesktop" :item="article" :type="'article'" />
                <ArticleMenuBasic :article="article" />
            </div>
        </div>
        <div class="--publish-date">
            <LinkPublishedAt :article="article" :text="`${$t('basic.published')} `" />
        </div>
        <div class="--title">
            <h3>
                <nuxt-link :to="i18nRoute().article(article)" class="link-dark">
                    {{ article.title }}
                </nuxt-link>
            </h3>
            <p>
                <nuxt-link :to="i18nRoute().article(article)" class="link-dark __no-line">
                    {{ article.preview_description }}
                </nuxt-link>
            </p>
        </div>
        <div v-if="article.image !== null" class="--image">
            <nuxt-link
                :to="i18nRoute().article(article)"
                class="pr--image--preview"
                :style="{
                    backgroundImage: `url(${article.image})`
                }"
            />
        </div>
        <div class="--footer">
            <div class="--category">
                <LinkCategory :category="article.category" />
            </div>
            <div class="--actions">
                <ButtonViews :value="article.counters.views" />
                <LinkComments :value="article.counters.comments" :article="article" />
                <ButtonRating :value="article.counters.vote" :item="article" :type="'article'" />
            </div>
        </div>
    </div>
</template>

<script>

import { mapActions, mapState } from 'vuex';
import LinkAuthor from '../../../Base/Link/LinkAuthor';
import LinkCategory from '../../../Base/Link/LinkCategory';
import LinkPublishedAt from '../../../Base/Link/LinkPublishedAt';
import LinkGroup from '../../../Base/Link/LinkGroup';
import LinkComments from '../../../Base/Link/LinkComments';
import ButtonRating from '../../../Base/Button/ButtonRating';
import ButtonComments from '../../../Base/Button/ButtonComments';
import ButtonViews from '../../../Base/Button/ButtonViews';
import ButtonFavorite from '../../../Base/Button/ButtonFavorite';
import ButtonEditArticle from '../../../Base/Button/ButtonEditArticle';
import ArticleMenuBasic from '../Menu/ArticleMenuBasic';
import LinkEventAt from '../../../Base/Link/LinkEventAt';

export default {
    name: 'ArticleCardNotification',
    components: {
        LinkAuthor,
        LinkCategory,
        LinkGroup,
        LinkPublishedAt,
        ButtonRating,
        ButtonComments,
        ButtonViews,
        ButtonFavorite,
        LinkComments,
        ButtonEditArticle,
        ArticleMenuBasic,
        LinkEventAt,
    },
    props: {
        article: {
            type: [Object],
            default: () => {},
        },
        loading: {
            type: [Boolean],
            default: () => false,
        },
    },
    data() {
        return {};
    },
    watch: {},
    mounted() {},
    methods: {},
};
</script>

<style scoped lang="scss">

</style>
