<template>
    <div
        class="col-12 pr--card--article pr--rounded-sm"
        :class="[
            loading ? '__progressed' : '',
            !article.active.value ? '__disabled' : '',
        ]"
    >
        <ArticleCardBodyRibbon :article="article" />
        <div class="--head">
            <div class="--category">
                <LinkEventAt v-if="$device.isDesktop && article.type === 'event'" :article="article" />
                <LinkGroup v-if="!article.group.is_author" :group="article.group" />
                <LinkAuthor :user="article.creator" />
                <LinkPublishedAt :article="article" />
            </div>
            <div class="--published">
                <ButtonPrivateArticle v-if="article.is_private" />
                <ButtonEditArticle v-if="$auth.loggedIn && $auth.user.is_admin !== undefined && $auth.user.is_admin" :article="article" />
                <ButtonFavorite v-if="$device.isDesktop" :item="article" :type="'article'" />
                <ArticleMenuBasic :article="article" />
            </div>
        </div>
        <div class="--publish-date">
            <LinkEventAt v-if="!$device.isDesktop && article.type === 'event'" :article="article" :sm="true" />
            <div>
                <span v-if="article.visited" class="badge badge-visited badge-sm">Просмотрено</span>
            </div>
            <LinkPublishedAt :article="article" :text="`${$t('basic.published')} `" />
        </div>
        <div class="--title">
            <h3>
                <nuxt-link :to="i18nRoute().article(article)" class="link-dark">
                    {{ article.title }}
                </nuxt-link>
            </h3>
            <p>
                <nuxt-link :to="i18nRoute().article(article)" class="link-dark __no-line">
                    {{ article.preview_description }}
                </nuxt-link>
            </p>
            <div v-if="!article.active.value" class="--disabled-text">
                <span>{{ article.active.message }}</span>
            </div>
            <div v-if="article.image !== null" class="--image">
                <nuxt-link
                    :to="i18nRoute().article(article)"
                    class="pr--image--preview"
                    :style="{
                        backgroundImage: `url(${article.image})`
                    }"
                />
            </div>
        </div>
        <div v-if="article.media.video !== undefined" class="--media __video">
            <SkeletonEditorVideo v-if="!isMounted" />
            <EditorVideo :id="article.media.video.id" :data="article.media.video.data" />
        </div>
        <div class="--footer">
            <div class="--category">
                <LinkCategory :category="article.category" />
            </div>
            <div class="--actions">
                <ButtonArticleVisited :value="article.visited" />
                <ButtonViews :value="article.counters.views" :disabled="disabled" />
                <LinkComments :value="article.counters.comments" :article="article" :disabled="disabled" />
                <ButtonRating :value="article.counters.vote" :item="article" :type="'article'" />
            </div>
        </div>
    </div>
</template>

<script>

import { mapActions, mapState } from 'vuex';
import LinkAuthor from '../../../Base/Link/LinkAuthor';
import LinkCategory from '../../../Base/Link/LinkCategory';
import LinkPublishedAt from '../../../Base/Link/LinkPublishedAt';
import LinkGroup from '../../../Base/Link/LinkGroup';
import LinkComments from '../../../Base/Link/LinkComments';
import ButtonRating from '../../../Base/Button/ButtonRating';
import ButtonPrivateArticle from '../../../Base/Button/ButtonPrivateArticle';
import ButtonComments from '../../../Base/Button/ButtonComments';
import ButtonViews from '../../../Base/Button/ButtonViews';
import ButtonFavorite from '../../../Base/Button/ButtonFavorite';
import ButtonArticleVisited from '../../../Base/Button/ButtonArticleVisited';
import ButtonEditArticle from '../../../Base/Button/ButtonEditArticle';
import ArticleMenuBasic from '../Menu/ArticleMenuBasic';
import LinkEventAt from '../../../Base/Link/LinkEventAt';
import EditorVideo from '../../../Editor/Block/EditorVideo';
import SkeletonEditorVideo from '../../Skeleton/Editor/Block/SkeletonEditorVideo';
import ArticleCardBodyRibbon from './Body/ArticleCardBodyRibbon';

export default {
    name: 'ArticleCardBasic',
    components: {
        LinkAuthor,
        LinkCategory,
        LinkGroup,
        LinkPublishedAt,
        ButtonRating,
        ButtonPrivateArticle,
        ButtonComments,
        ButtonViews,
        ButtonFavorite,
        LinkComments,
        ButtonEditArticle,
        ArticleMenuBasic,
        LinkEventAt,
        ButtonArticleVisited,
        EditorVideo,
        SkeletonEditorVideo,
        ArticleCardBodyRibbon,
    },
    props: {
        article: {
            type: [Object],
            default: () => {},
        },
        loading: {
            type: [Boolean],
            default: () => false,
        },
        disabled: {
            type: [Boolean],
            default: () => false,
        },
    },
    data() {
        return {
            isMounted: false,
        };
    },
    watch: {},
    mounted() {
        this.isMounted = true;
    },
    methods: {},
};
</script>

<style scoped lang="scss">

</style>
