<template>
    <div class="col-12 pr--card--article rounded-sm">
        <div class="--head">
            <div class="--category">
                <LinkGroup v-if="!article.group.is_author" :group="article.group" />
                <LinkAuthor :user="article.creator" />
                <span v-if="!article.is_draft && article.published_at !== null">
                    <small>{{ momentDate().latest(article.published_at) }}</small>
                </span>
                <span v-if="!article.is_draft && article.published_at === null">
                    <small>{{ $t('basic.article-not-published') }}</small>
                </span>
                <span v-if="article.is_draft">
                    <small>{{ momentDate().latest(article.created_at) }}</small>
                </span>
            </div>
            <div class="--published">
                <ButtonPrivateArticle v-if="article.is_private" />
                <ButtonFavorite :item="article" :type="'article'" />
                <ArticleMenuBasic :article="article" />
            </div>
        </div>
        <div class="--title">
            <h3 v-if="article.title_highlight !== null">
                <nuxt-link :to="i18nRoute().article(article)" class="link-dark" v-html="article.title_highlight" />
            </h3>
            <h3 v-if="article.title_highlight === null">
                <nuxt-link :to="i18nRoute().article(article)" class="link-dark">
                    {{ article.title }}
                </nuxt-link>
            </h3>
            <div v-if="article.highlight_html !== null" class="mb-3" v-html="article.highlight_html" />
            <p v-if="article.highlight_html === null">
                <nuxt-link :to="i18nRoute().article(article)" class="link-dark __no-line">
                    {{ article.preview_description }}
                </nuxt-link>
            </p>
        </div>
        <div class="--footer">
            <div class="--category">
                <LinkCategory :category="article.category" />
            </div>
            <div class="--actions">
                <ButtonViews :value="article.counters.views" />
                <LinkComments :value="article.counters.comments" :article="article" />
                <ButtonRating :value="article.counters.vote" :item="article" :type="'article'" />
            </div>
        </div>
    </div>
</template>

<script>

import LinkAuthor from '../../../Base/Link/LinkAuthor';
import LinkCategory from '../../../Base/Link/LinkCategory';
import LinkGroup from '../../../Base/Link/LinkGroup';
import LinkComments from '../../../Base/Link/LinkComments';
import ButtonRating from '../../../Base/Button/ButtonRating';
import ButtonViews from '../../../Base/Button/ButtonViews';
import ButtonFavorite from '../../../Base/Button/ButtonFavorite';
import ButtonPrivateArticle from '../../../Base/Button/ButtonPrivateArticle';
import ArticleMenuBasic from '../Menu/ArticleMenuBasic';

export default {
    name: 'ArticleCardSearch',
    components: {
        LinkAuthor,
        LinkCategory,
        LinkGroup,
        ButtonRating,
        ButtonViews,
        ButtonFavorite,
        LinkComments,
        ArticleMenuBasic,
        ButtonPrivateArticle,
    },
    props: {
        article: {
            type: [Object],
            default: () => {},
        },
    },
    data() {
        return {};
    },
    computed: {},
    watch: {},
    mounted() {},
    methods: {},
};
</script>

<style scoped lang="scss">

</style>
