<template>
    <div
        class="col-12 pr--card--article rounded-sm"
        :class="[
            loading ? '__progressed' : '',
            isWaiting ? '__waiting' : '',
        ]"
    >
        <ArticleCardBodyRibbon :article="article" />
        <div class="--head">
            <div class="--category">
                <LinkEventAt v-if="article.type === 'event'" :article="article" />
                <LinkGroup v-if="!article.group.is_author" :group="article.group" />
                <LinkAuthor :user="article.creator" />
                <LinkPublishedAt :article="article" />
            </div>
            <div v-if="!isWaiting && group === null" class="--published">
                <ButtonArticleWaitingForPublish v-if="moderation && !article.is_released" :simple="true" />
                <ButtonPrivateArticle v-if="article.is_private" />
                <ButtonArticlePublished v-if="article.is_released" />
                <ButtonArticleDraft v-if="article.is_draft" />
                <ButtonArticleDeclined v-if="article.is_declined" />
                <ButtonEditArticle v-if="!moderation" :article="article" />
                <ButtonFavorite v-if="$device.isDesktop" :item="article" :type="'article'" />
                <ArticleMenuUser
                    v-if="!moderation"
                    :article="article"
                    :action-destroy="actionDestroy"
                    :action-publish="actionPublish"
                />
                <ArticleMenuModerator
                    v-if="moderation"
                    :article="article"
                    :action-destroy="actionDestroy"
                    :action-publish="actionPublish"
                />
            </div>
            <div v-if="isWaiting" class="--published">
                <ButtonArticleWaitingForPublish />
                <ArticleMenuUserWaiting
                    :article="article"
                    :action-destroy="actionDestroy"
                />
            </div>
            <div v-if="group !== null" class="--published">
                <ButtonArticleGroupMagnet :article="article" :group="group" />
            </div>
        </div>
        <ArticleCardBodyUserReleased :article="article" />
        <ArticleCardBodyUserPersonal v-if="!moderation" :article="article" />
        <ArticleCardBodyUserPrivate v-if="moderation" :article="article" />
        <div v-if="article.media.video !== undefined" class="--media __video">
            <SkeletonEditorVideo v-if="!isMounted" />
            <EditorVideo v-if="isMounted" :id="article.media.video.id" :data="article.media.video.data" />
        </div>
        <div class="--footer">
            <div class="--category">
                <LinkCategory :category="article.category" />
            </div>
            <div class="--actions">
                <ButtonViews :value="article.counters.views" />
                <LinkComments :value="article.counters.comments" :article="article" />
                <ButtonRating :value="article.counters.vote" :item="article" :type="'article'" />
            </div>
        </div>
    </div>
</template>

<script>

import { mapActions, mapState } from 'vuex';
import LinkAuthor from '../../../Base/Link/LinkAuthor';
import LinkCategory from '../../../Base/Link/LinkCategory';
import LinkPublishedAt from '../../../Base/Link/LinkPublishedAt';
import LinkGroup from '../../../Base/Link/LinkGroup';
import LinkComments from '../../../Base/Link/LinkComments';
import ButtonRating from '../../../Base/Button/ButtonRating';
import ButtonArticlePublished from '../../../Base/Button/ButtonArticlePublished';
import ButtonPrivateArticle from '../../../Base/Button/ButtonPrivateArticle';
import ButtonArticleGroupMagnet from '../../../Base/Button/ButtonArticleGroupMagnet';
import ButtonArticleDraft from '../../../Base/Button/ButtonArticleDraft';
import ButtonComments from '../../../Base/Button/ButtonComments';
import ButtonArticleDeclined from '../../../Base/Button/ButtonArticleDeclined';
import ButtonViews from '../../../Base/Button/ButtonViews';
import ButtonFavorite from '../../../Base/Button/ButtonFavorite';
import ButtonEditArticle from '../../../Base/Button/ButtonEditArticle';
import ButtonArticleWaitingForPublish from '../../../Base/Button/ButtonArticleWaitingForPublish';
import ArticleMenuUser from '../Menu/ArticleMenuUser';
import ArticleMenuModerator from '../Menu/ArticleMenuModerator';
import ArticleMenuUserWaiting from '../Menu/ArticleMenuUserWaiting';
import LinkEventAt from '../../../Base/Link/LinkEventAt';
import EditorVideo from '../../../Editor/Block/EditorVideo';
import SkeletonEditorVideo from '../../Skeleton/Editor/Block/SkeletonEditorVideo';
import ArticleCardBodyUserReleased from './Body/User/ArticleCardBodyUserReleased';
import ArticleCardBodyUserPersonal from './Body/User/ArticleCardBodyUserPersonal';
import ArticleCardBodyUserPrivate from './Body/User/ArticleCardBodyUserPrivate';
import ArticleCardBodyRibbon from './Body/ArticleCardBodyRibbon';

export default {
    name: 'ArticleCardUser',
    components: {
        LinkAuthor,
        LinkCategory,
        LinkGroup,
        LinkPublishedAt,
        ButtonRating,
        ButtonComments,
        EditorVideo,
        ButtonPrivateArticle,
        ButtonViews,
        ButtonFavorite,
        LinkComments,
        ButtonEditArticle,
        ArticleMenuUser,
        ArticleMenuModerator,
        LinkEventAt,
        ButtonArticlePublished,
        ButtonArticleDraft,
        ButtonArticleDeclined,
        ButtonArticleWaitingForPublish,
        ArticleCardBodyUserReleased,
        ArticleCardBodyUserPersonal,
        ArticleCardBodyUserPrivate,
        ButtonArticleGroupMagnet,
        SkeletonEditorVideo,
        ArticleCardBodyRibbon,
        ArticleMenuUserWaiting,
    },
    props: {
        article: {
            type: [Object],
            default: () => {},
        },
        group: {
            type: [Object],
            default: () => null,
        },
        loading: {
            type: [Boolean],
            default: () => false,
        },
        isWaiting: {
            type: [Boolean],
            default: () => false,
        },
        actionDestroy: {
            type: [Function],
            default: () => {},
        },
        actionPublish: {
            type: [Function],
            default: () => {},
        },
        moderation: {
            type: [Boolean],
            default: () => false,
        },
    },
    data() {
        return {
            isMounted: false,
        };
    },
    watch: {},
    mounted() {
        this.isMounted = true;
    },
    methods: {},
};
</script>
