<template>
    <div class="row mb-3">
        <div class="col-12 pr-0">
            <div class="d-flex align-items-center justify-content-between" style="height: 35px;">
                <div>
                    <h5 class="mb-0">
                        {{ $t('basic.subscriptions') }}
                    </h5>
                </div>
                <div />
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div v-if="hasActiveSubscriptions" class="col-12 rounded-sm bg-white shadow-sm pl-0 pr-0 pt-2 pb-2">
                    <ul class="nav">
                        <li v-for="item in user.subscriptions" :key="`${item.type}_${item.id}`">
                            <nuxt-link :to="urlToModel(item)" class="btn btn-link __focus-none">
                                <img :src="item.image" :alt="item.title" class="mr-1 pr--image--model __sm">
                                {{ item.title }}
                            </nuxt-link>
                        </li>
                    </ul>
                </div>
                <div
                    v-if="!hasActiveSubscriptions"
                    class="col-12 rounded-sm pl-0 pr-0 pt-2 pb-2"
                >
                    <div class="pl-3 pr-3">
                        Нет активных подписок
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import { mapActions, mapState } from 'vuex';

export default {
    name: 'UserBlockSubscriptions',
    components: {
        //
    },
    props: {
        user: {
            type: [Object],
            default: () => {},
        }
    },
    data() {
        return {};
    },
    computed: mapState({
        app: state => state.app,
        data: state => state.app.data.data,
        hasActiveSubscriptions() {
            return this.user.subscriptions.length !== 0;
        },
    }),
    watch: {},
    mounted() {
        //
    },
    methods: {
        urlToModel(item) {
            switch (item.type) {
            case 'group':
                return this.i18nRoute().group(item);
            case 'category':
                return this.i18nRoute().category(item);
            case 'user':
                return this.i18nRoute().usersArticles(item);
            }
            return '/';
        }
    },
};
</script>

<style scoped lang="scss">

</style>
