<template>
    <ul class="nav pr--journal--tabs __bordered __account">
        <li class="nav-item">
            <nuxt-link :to="i18nRoute().usersArticles(user)" class="nav-link" :class="[$route.path.endsWith(i18nRoute().usersArticles(user)) ? 'active' : '']">
                {{ $t('basic.publishes') }} ({{ user.counters.articles.published }})
            </nuxt-link>
        </li>
        <li class="nav-item">
            <nuxt-link :to="i18nRoute().usersComments(user)" class="nav-link" :class="[$route.path.endsWith(i18nRoute().usersComments(user)) ? 'active' : '']">
                {{ $t('basic.comments') }} ({{ user.counters.comments }})
            </nuxt-link>
        </li>
        <li class="nav-item">
            <nuxt-link :to="i18nRoute().usersDetails(user)" class="nav-link" :class="[$route.path.endsWith(i18nRoute().usersDetails(user)) ? 'active' : '']">
                {{ $t('basic.details') }}
            </nuxt-link>
        </li>
    </ul>
</template>

<script>

export default {
    name: 'UserBlockTabs',
    components: {},
    props: {
        user: {
            type: [Object],
            default: () => {},
        }
    },
    data() {
        return {};
    },
    watch: {},
    mounted() {
        //
    },
    methods: {
    },
};
</script>

<style scoped lang="scss">

</style>
