<template>
    <div class="row mb-3 rounded-sm-bottom shadow-sm" style="background-color: #fff;">
        <div class="col-12">
            <div class="pr--user--head">
                <div class="d-flex align-items-start justify-content-start">
                    <div class="--image">
                        <img :src="user.image" alt="Avatar" class="rounded-circle mr-3">
                    </div>
                    <div class="w-100">
                        <h3 class="mb-0">
                            {{ user.full_name }}
                        </h3>
                        <p class="--text mb-0 text-muted">
                            <span v-if="user.details.position !== null">
                                {{ user.details.position }}{{ user.details.work !== null ? ', ' : '' }}
                            </span>
                            <span v-if="user.details.work !== null">
                                {{ user.details.work }}
                            </span>
                        </p>
                        <p v-if="user.details.description !== null" class="--text">
                            {{ user.details.description }}
                        </p>
                        <p>
                            {{ $t('basic.user-in-project-at') }} {{ momentDate().year(user.registered_at) }}{{ $t('basic.year-dot') }}
                        </p>
                        <div>
                            <div class="d-flex align-items-center">
                                <ButtonSubscription :item="user" :type="'user'" />
                                <button
                                    type="button"
                                    :class="['btn btn-light ml-1 mr-1', store.pending ? 'is-loading' : '']"
                                    @click="storeChat"
                                >
                                    <font-awesome-icon :icon="['far', 'comment-dots']" class="mr-1" />
                                    {{ $t('button.write') }}
                                </button>
                            </div>
                        </div>
                        <div class="--counters">
                            <ButtonViews :value="user.counters.views" />
                            <ButtonComments :value="user.counters.comments" />
                            <ButtonSubscribers :value="user.counters.subscribers" />
                        </div>
                    </div>
                </div>
                <div class="--published">
                    <UserMenuBasic :user="user" />
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import { mapActions, mapState } from 'vuex';
import ButtonViews from '../../../Base/Button/ButtonViews';
import ButtonComments from '../../../Base/Button/ButtonComments';
import ButtonSubscription from '../../../Base/Button/ButtonSubscription';
import ButtonSubscribers from '../../../Base/Button/ButtonSubscribers';
import UserMenuBasic from '../Menu/UserMenuBasic';

export default {
    name: 'UserBlockHead',
    components: {
        ButtonViews,
        ButtonComments,
        ButtonSubscription,
        ButtonSubscribers,
        UserMenuBasic,
    },
    props: {
        user: {
            type: [Object],
            default: () => {},
        }
    },
    data() {
        return {};
    },
    computed: mapState({
        app: state => state.app,
        store: state => state.user.chats.store,
    }),
    watch: {},
    mounted() {},
    methods: {
        ...mapActions('user/chats/store', ['fetchStore']),
        storeChat() {
            const self = this;
            if (!self.$auth.loggedIn) {
                self.message().needLoginForChat();
                return;
            }
            self.fetchStore({
                user_id: self.user.id,
            });
        }
    },
};
</script>

<style scoped lang="scss">

</style>
