<template>
    <b-tabs content-class="pr--tab--user-content" nav-class="pr--nav--user-content">
        <b-tab active>
            <template #title>
                <h5 class="mb-0">
                    Основное
                </h5>
            </template>
            <div class="row">
                <div class="col-12">

                </div>
            </div>
        </b-tab>
        <b-tab>
            <template #title>
                <h5 class="mb-0">
                    Социальные сети
                </h5>
            </template>
            <div class="row">
                <div class="col-12">

                </div>
            </div>
        </b-tab>
        <b-tab>
            <template #title>
                <h5 class="mb-0">
                    Уведомления
                </h5>
            </template>
            <div class="row">
                <div class="col-12">

                </div>
            </div>
        </b-tab>
    </b-tabs>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import ArticleCardBasic from '../../Article/Card/ArticleCardBasic';
import CommentCard from '../../Comment/Card/CommentCard';

export default {
    name: 'UserBlockSettingsTabs',
    components: {
        ArticleCardBasic,
        CommentCard
    },
    layout: 'default',
    data() {
        return {
            categories: [
                { id: 2, title: 'Сельское хозяйство', image: '/img/default.png', slug: '/selskoe' },
                { id: 3, title: 'Современные технологии', image: '/img/default.png', slug: '/' },
                { id: 4, title: 'Технологии', image: '/img/default.png', slug: '/' },
                { id: 5, title: 'Личный опыт', image: '/img/default.png', slug: '/' },
                { id: 6, title: 'Имя Автора', image: '/img/default.png', slug: '/' },
                { id: 7, title: 'Имя Автора 2', image: '/img/default.png', slug: '/' },
            ],
        };
    },
    async fetch() {
        //
    },
    head() {
        const self = this;
        return {};
    },
    computed: mapState({
        config: state => state.data.data.config,
        app: state => state.app,
    }),
    watch: {},
    mounted() {
        //
    },
    methods: {
    },
};
</script>

<style scoped lang="scss">

</style>
