<template>
    <vue-modal
        :title="null"
        :name="modal.names.search"
        :width="'100%'"
        :height="'auto'"
        :head="false"
        :scrollable="true"
        :class-container="'pr--modal--search'"
        :transition="'vm-transition--modal-search'"
        @onShow="onShow"
        @onHide="onHide"
    >
        <div class="pr--modal--search-body pr--bg-gray">
            <div class="container container-xs pr--modal--search-body-container shadow-sm bg-white">
                <div class="row">
                    <div class="col-12">
                        <form class="mb-3" @submit.prevent="submit">
                            <div class="input-group">
                                <input
                                    ref="searchModalText"
                                    v-model="search.form.q"
                                    type="text"
                                    :placeholder="$t('fields.search-placeholder')"
                                    aria-label="Search"
                                    class="form-control"
                                    @keyup="submit"
                                >
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-outline-dark btn--search">
                                        <font-awesome-icon icon="search" />
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-12">
                        <div class="pr--modal--search-sort">
                            <div class="d-flex justify-content-start align-items-center">
                                <label class="text-muted mb-0 form-label font-base mr-3">{{ $t('fields.sort') }}:</label>
                                <div>
                                    <b-form-radio-group
                                        v-model="search.form.sort_by"
                                        :options="[
                                            { text: $t('fields.sort-by-date'), value: search.options.sort_by.date },
                                            { text: $t('fields.sort-by-relevant'), value: search.options.sort_by.relevant },
                                        ]"
                                        name="radios-btn-default"
                                        button-variant="light btn-sm"
                                        buttons
                                        @change="submit"
                                    />
                                </div>
                            </div>
                            <div>
                                <button type="button" class="btn btn-link btn-icon" @click="toSearch">
                                    <font-awesome-icon icon="sliders-h" class="mr-1" />
                                    {{ $t('basic.search-advanced') }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pr--modal--search-results">
            <div class="container container-xs">
                <div v-if="search.pending" class="row">
                    <SkeletonArticleCardSearch />
                </div>
                <div v-if="!search.pending" class="row">
                    <ArticleCardSearch v-for="article in search.data" :key="article.id" :article="article" />
                </div>
                <div v-if="search.loaded && !search.pending && !search.data.length && search.form.q !== ''" class="row">
                    <div class="col-12 text-center font-md mt-3 mb-3">
                        По запросу <b class="font-lg">"{{ search.form.q }}"</b> ничего не найдено
                    </div>
                </div>
                <div v-if="search.loaded && !search.pending && search.pagination !== null && search.pagination.total > search.pagination.limit" class="row">
                    <div class="col-12 pt-3 pb-3 mb-3 pl-0 pr-0">
                        <button type="button" class="btn btn-primary btn-block">
                            Показать все результаты ({{ search.pagination.total }})
                        </button>
                    </div>
                </div>
                <!--                <div class="row">-->
                <!--                    <div class="col-12 pt-3 pb-3 mb-3">-->
                <!--                        <Preloader class="w-100" />-->
                <!--                    </div>-->
                <!--                </div>-->
            </div>
        </div>
    </vue-modal>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import ArticleCardSearch from '../../Article/Card/ArticleCardSearch';
import commonForm from '../../../../plugins/common/commonForm';
import SkeletonArticleCardSearch from '../../Skeleton/Article/Card/SkeletonArticleCardSearch';
import vueModal from '../ModalBasic';

export default {
    name: 'ModalSearch',
    components: {
        'vue-modal': vueModal,
        ArticleCardSearch,
        SkeletonArticleCardSearch,
    },
    data() {
        return {
            timer: null,
        };
    },
    computed: mapState({
        modal: state => state.modal,
        search: state => state.search,
    }),
    watch: {
        'modal.active'() {
            const self = this;
            if (self.modal.active === 'search') {
                setTimeout(() => {
                    self.$nextTick(() => self.$refs.searchModalText.focus()); // just watch out with going too fast !!!
                }, 100);
            }
        }
    },
    mounted() {
        //
    },
    methods: {
        ...mapActions('app.modal', ['setActive', 'setCurrent']),
        ...mapActions('search', ['fetchSearchModal', 'fetchSearchRoute', 'setReloaded']),
        toSearch() {
            const self = this;
            self.modalActions().close();
            if (self.$router.history.current.path !== '/search') {
                self.setReloaded();
                self.fetchSearchRoute(self.search.form);
            }
        },
        submit(event) {
            const self = this;
            if ([17, 16, 18, 37, 38, 39, 40].includes(event.keyCode)) {
                return;
            }
            if (self.search.form.q.replace(/\s/g, '') === '') {
                return;
            }
            self.search.form.page = 1;
            self.timer = commonForm.formTimeout(self.timer, () => self.fetchSearchModal(self.search.form), 300);
        },
        onShow() {
            this.sidebarActions().bodyOverflowHidden(true);
        },
        onHide() {
            this.sidebarActions().bodyOverflowHidden(false);
        }
    }
};
</script>

<style scoped>

</style>
