<template>
    <div class="d-flex align-items-center justify-content-center">
        <button
            v-tippy
            type="button"
            :class="[
                'btn btn-light btn-icon btn-sm nowrap',
                field.counter === undefined ? '' : '',
            ]"
            :content="field.tooltip"
            style="width: 60px;"
            @click="openPanel"
        >
            <font-awesome-icon
                :icon="field.icon"
                class="mr-2"
            />
            <span v-if="field.counter !== undefined && field.counter">
                {{ value[field.key] }}
            </span>
        </button>
    </div>
</template>

<script>

import serialize from "../../../plugins/common/serialize";
import {mapActions, mapState} from "vuex";

export default {
    name: 'TableColumnTable',
    components: {
    },
    props: {
        field: {
            type: [Object],
            required: true,
            default: () => {},
        },
        value: {
            type: [Object],
            required: true,
            default: () => {},
        },
    },
    computed: mapState({
        table: (state) => state.app.table.base,
    }),
    watch: {

    },
    methods: {
        ...mapActions('app/table/table/base', ['fetchListInitial']),
        ...mapActions('app/panel/base', ['setRole', 'setLocale', 'setItem', 'setModel']),
        openPanel() {
            this.$root.$emit('bv::toggle::collapse', 'panel-table');
            this.setRole('table');
            this.setLocale('ru');
            this.setItem(this.value);
            this.setModel(this.table.model);
            const data = {
                model: this.field.model,
                locale: this.table.locale,
                request: {
                    limit: 100,
                    simple: 1,
                },
            };
            if (this.table.model === 'editor-articles') {
                data.request.article = this.value.id;
            }
            if (this.table.model === 'releases') {
                data.request.release = this.value.id;
            }
            this.fetchListInitial(data);
        }
    }
};
</script>
