<template>
    <div class="d-flex align-items-center justify-content-center">
        <button
            type="button"
            :class="[
                'btn btn-icon btn-xs btn-light mr-1',
                isLoading(action.pendingArray).actionPriority(item, field.action, 'up') ? 'is-loading' : ''
            ]"
            @click="priorityUp(field.action, item, keyTable)"
        >
            <font-awesome-icon icon="chevron-up" />
        </button>
        <button
            type="button"
            :class="[
                'btn btn-icon btn-xs btn-light',
                isLoading(action.pendingArray).actionPriority(item, field.action, 'down') ? 'is-loading' : ''
            ]"
            @click="priorityDown(field.action, item, keyTable)"
        >
            <font-awesome-icon icon="chevron-down" />
        </button>
<!--        <BFormSelect-->
<!--            v-model="priority"-->
<!--            size="sm"-->
<!--            :options="[{id: 1, title: 1}]"-->
<!--            value-field="id"-->
<!--            text-field="title"-->
<!--            class="ml-1"-->
<!--            style="width: 50px"-->
<!--        />-->
    </div>
</template>

<script>

import serialize from "../../../plugins/common/serialize";
import {mapActions, mapState} from "vuex";
import {BFormSelect} from "bootstrap-vue/src/components/form-select";

export default {
    name: 'TableColumnPriority',
    components: {
        BFormSelect,
    },
    props: {
        field: {
            type: [Object],
            required: true,
            default: () => {},
        },
        item: {
            type: [Object],
            required: true,
            default: () => {},
        },
        keyTable: {
            type: [Number],
            required: true,
            default: () => 0,
        },
    },
    data() {
        return {
            priority: 1,
        };
    },
    computed: mapState({
        editor: (state) => state.app.editor.articles.store,
        panel: (state) => state.app.panel.base,
        action: (state) => state.app.panel.action,
        table: (state) => state.app.table.base,
    }),
    watch: {
        'action.success'() {
            const self = this;
            if (!self.action.success) {
                return;
            }
            if (self.action.name !== self.field.action) {
                return;
            }
            if (self.action.item === null) {
                return;
            }
            if (self.action.item.id !== self.item.id) {
                return;
            }
            self.fetchList({
                model: self.field.model,
            });
            if (self.editor.form.id !== undefined && self.editor.form.id !== null) {
                self.reloadItem();
            }
            // if (self.panelPanel.opened) {
            //     self.panelPanelFetchReloadEditFields({
            //         id: self.panelPanel.item.id,
            //     });
            //     return;
            // }
            // if (self.editor.form.id !== undefined && self.editor.form.id !== null) {
            //     self.reloadFields();
            //     self.reloadItem();
            //     return;
            // }
            // self.panelFetchReloadEditFields({
            //     id: self.panel.item.id,
            // });
        }
    },
    mounted() {
        console.log(this.keyTable);
    },
    methods: {
        ...mapActions('app/editor/articles/show', ['reloadItem']),
        ...mapActions('app/panel/action', ['fetchAction']),
        ...mapActions('app/table/table/base', ['fetchList']),
        priorityAction(action, item, id, value) {
            const self = this;
            const data = {
                action: action,
                locale: 'ru',
                model: self.field.model_action,
                id: self.field.model_id,
                request: {
                    id,
                    value
                }
            };
            const valueText = value === 1 ? 'up' : 'down';
            data.pending = `${data.action}_${valueText}_${item.id}`;
            data.item = item;
            self.fetchAction(data);
        },
        priorityUp(action, item, currentKey) {
            const self = this;
            //const id = serialize.prioritySort(self.field.values, item, currentKey, 1);
            self.priorityAction(action, item, item.id, 1);
        },
        priorityDown(action, item, currentKey) {
            const self = this;
            //const id = serialize.prioritySort(self.field.values, item, currentKey, -1);
            self.priorityAction(action, item, item.id, -1);
        },
    }
};
</script>
