<template>
    <div class="d-flex align-items-center justify-content-center">
        <div class="btn-group" role="group">
            <button
                v-tippy
                type="button"
                class="btn btn-icon btn-sm btn-light"
                style="width: 60px;"
                :disabled="value.is_locked !== undefined && value.is_locked && value.locked.user_id !== $auth.user.id"
                content="Список статей"
                @click="panel('editor_articles')"
            >
                <font-awesome-icon
                    icon="file"
                    class="mr-2"
                />
                <span>{{ value[field.key] }}</span>
            </button>
            <nuxt-link
                :to="`/releases/${value.id}/articles/create`"
                v-tippy
                :class="[
                    'btn btn-icon btn-sm btn-light',
                    value.is_locked !== undefined && value.is_locked && value.locked.user_id !== $auth.user.id ? 'disabled' : '',
                ]"
                content="Добавить новую статью"
            >
                <font-awesome-icon icon="plus" />
            </nuxt-link>
        </div>
    </div>
</template>

<script>

import { Fancybox } from '@fancyapps/ui';
import {mapActions, mapState} from "vuex";

export default {
    name: 'TableColumnArticles',
    components: {
    },
    props: {
        value: {
            type: [Object],
            required: true,
            default: () => {},
        },
        field: {
            type: [Object],
            required: true,
            default: () => {},
        },
    },
    computed: mapState({
        table: (state) => state.app.table.base,
    }),
    methods: {
        ...mapActions('app/panel/base', ['fetchEdit', 'setRole']),
        panel(panel) {
            const self = this;
            this.$root.$emit('bv::toggle::collapse', 'panel-edit');
            self.setRole('edit');
            self.fetchEdit({
                id: self.value.id,
                model: self.table.model,
                panel,
            });
        }
    }
};
</script>
