<template>
    <div>
        <TableColumnStatus
            v-if="field.key === 'status'"
            :value="value"
            :field="field"
            :config="config"
        />
        <TableColumnActive
            v-if="field.key === 'active'"
            :value="value"
            :field="field"
        />
        <TableColumnAvatar
            v-if="field.key === 'avatar'"
            :avatar="value.avatar"
            :value="value"
            :field="field"
        />
        <TableColumnRelease
            v-if="field.key === 'release'"
            :item="value.release"
        />
        <TableColumnUser
            v-if="field.key === 'user'"
            :item="value"
        />
        <!--        <TableColumnRoles-->
        <!--            v-if="field.key === 'roles'"-->
        <!--            :item="value"-->
        <!--        />-->
        <TableColumnSocials
            v-if="field.key === 'socials'"
            :item="value"
        />
        <TableColumnLocked
            v-if="field.key === 'locked'"
            :value="value"
            :field="field"
        />
        <TableColumnCounter
            v-if="field.type === 'counter' && !fields.includes(field.key)"
            :value="value"
            :field="field"
        />
        <TableColumnSelect
            v-if="field.type === 'select' && !fields.includes(field.key)"
            :value="value"
            :field="field"
        />
        <TableColumnPriority
            v-if="field.type === 'priority' && !fields.includes(field.key)"
            :item="value"
            :key-table="keyTable"
            :field="field"
        />
        <TableColumnMultiselect
            v-if="field.type === 'multiselect' && !fields.includes(field.key)"
            :value="value"
            :field="field"
        />
        <TableColumnIcon
            v-if="field.type === 'icon' && !fields.includes(field.key)"
            :value="value"
            :field="field"
        />
        <TableColumnSelectSearch
            v-if="field.type === 'select_search' && !fields.includes(field.key)"
            :value="value"
            :field="field"
        />
        <TableColumnTable
            v-if="field.type === 'table' && !fields.includes(field.key)"
            :value="value"
            :field="field"
        />
        <TableColumnAvatar
            v-if="field.type === 'avatar' && !fields.includes(field.key)"
            :avatar="value[field.key]"
            :value="value"
            :field="field"
        />
        <TableColumnArticles
            v-if="field.key === 'articles'"
            :value="value"
            :field="field"
        />
        <TableColumnAction
            v-if="field.type === 'action' && !fields.includes(field.key)"
            :value="value"
            :field="field"
            :action-after-edit="actionAfterEdit"
        />
        <TableColumnString
            v-if="!fields.includes(field.key) && !types.includes(field.type)"
            :value="value"
            :field="field"
            :action-after-edit="actionAfterEdit"
        />
    </div>
</template>

<script>
import TableColumnStatus from './TableColumnStatus';
import TableColumnActive from './TableColumnActive';
import TableColumnUser from './TableColumnUser';
import TableColumnRoles from './TableColumnRoles';
import TableColumnAvatar from './TableColumnAvatar';
import TableColumnRelease from './TableColumnRelease';
import TableColumnTable from './TableColumnTable';
import TableColumnSocials from './TableColumnSocials';
import TableColumnSelect from './TableColumnSelect';
import TableColumnMultiselect from './TableColumnMultiselect';
import TableColumnAction from './TableColumnAction';
import TableColumnSelectSearch from './TableColumnSelectSearch';
import TableColumnIcon from './TableColumnIcon';
import TableColumnLocked from './TableColumnLocked';
import TableColumnArticles from './TableColumnArticles';
import TableColumnPriority from './TableColumnPriority';
import TableColumnCounter from './TableColumnCounter';
import TableColumnString from './TableColumnString';

export default {
    name: 'TableColumnDefault',
    components: {
        TableColumnStatus,
        TableColumnActive,
        TableColumnUser,
        TableColumnRoles,
        TableColumnAvatar,
        TableColumnRelease,
        TableColumnTable,
        TableColumnSocials,
        TableColumnSelect,
        TableColumnMultiselect,
        TableColumnAction,
        TableColumnSelectSearch,
        TableColumnIcon,
        TableColumnLocked,
        TableColumnArticles,
        TableColumnPriority,
        TableColumnCounter,
        TableColumnString,
    },
    props: {
        value: {
            type: [Object],
            required: true,
            default: () => {},
        },
        field: {
            type: [Object],
            required: true,
            default: () => {},
        },
        keyTable: {
            type: [Number],
            default: () => 0,
        },
        actionAfterEdit: {
            type: [Function],
            required: false,
            default: () => {},
        },
        config: {
            type: [Object],
            required: false,
            default: () => {},
        },
    },
    data() {
        return {
            fields: [
                'status',
                'avatar',
                //'roles',
                'socials',
                'user',
                'active',
                'release',
                'locked',
                'articles',
            ],
            types: [
                'select',
                'select_search',
                'icon',
                'avatar',
                'multiselect',
                'priority',
                'action',
                'table',
                'counter',
            ]
        };
    },
};
</script>
