<template>
    <div>
        <div v-if="field.styles !== undefined && field.styles.alert !== undefined">
            <div :class="`alert alert-${value[field.key] !== 0 ? field.styles.variant : 'default'} alert-sm rounded-0`" role="alert">
                <span>{{ value[field.key] }}</span>
            </div>
        </div>
        <div v-if="field.styles === undefined && field.table_limit === undefined">
            <span>{{ value[field.key] }}</span>
        </div>
        <div v-if="field.table_limit !== undefined">
            <span v-if="value[field.key].length > field.table_limit" :title="value[field.key]">
                {{ value[field.key].substring(0, field.table_limit) + '...' }}
            </span>
            <span v-if="value[field.key].length <= field.table_limit">
                {{ value[field.key] }}
            </span>
        </div>
    </div>
</template>

<script>

export default {
    name: 'TableColumnString',
    components: {
    },
    props: {
        value: {
            type: [Object],
            required: true,
            default: () => {},
        },
        field: {
            type: [Object],
            required: true,
            default: () => {},
        },
    },
};
</script>
