<template>
    <div>
        <button
            type="button"
            :class="[
                'btn btn-icon btn-sm btn-outline-danger',
                isLoading(action.pendingArray).action(value, field.action) ? 'is-loading' : ''
            ]"
            @click="submit"
        >
            <font-awesome-icon :icon="field.icon" />
        </button>
    </div>
</template>

<script>

import {mapActions, mapState} from "vuex";

export default {
    name: 'TableColumnAction',
    components: {
    },
    props: {
        value: {
            type: [Object],
            required: true,
            default: () => {},
        },
        field: {
            type: [Object],
            required: true,
            default: () => {},
        },
        actionAfterEdit: {
            type: [Function],
            required: false,
            default: () => {},
        },
    },
    computed: mapState({
        table: (state) => state.app.table.base,
        action: (state) => state.app.panel.action,
        editor: (state) => state.app.editor.articles.store,
        item: (state) => state.app.panel.base.item,
    }),
    watch: {
        'action.success'() {
            const self = this;
            if (self.action.success && self.action.name === self.field.action && self.value.id === self.action.item.id) {
                self.actionAfterEdit();
            }
        }
    },
    methods: {
        ...mapActions('app/panel/action', ['fetchAction']),
        submit() {
            const data = {
                action: this.field.action,
                model: this.field.model_action,
                id: this.field.model_id,
                item: this.value,
                pending: `${this.field.action}_${this.value.id}`,
                request: {
                    id: this.value.id,
                }
            };
            this.fetchAction(data);
        }
    }
};
</script>
