<template>
    <a
        v-if="value.link !== undefined"
        :href="value.link"
        target="_blank"
        :class="[
            `text-primary`,
        ]"
        v-tippy
        :content="'Перейти на страницу'"
    >
        <font-awesome-icon :icon="`link`" />
    </a>
</template>

<script>

export default {
    name: 'TableColumnLinkable',
    components: {
    },
    props: {
        value: {
            type: [Object],
            required: true,
            default: () => {},
        },
        config: {
            type: [Object],
            required: true,
            default: () => {},
        },
    },
};
</script>
