<template>
    <div v-if="value.status !== undefined">

        <span v-if="value.is_deleted !== undefined && !value.is_deleted" :class="`badge badge-${field.options.find((x) => x.id === value.status).variant}`">
            {{ field.values.find((x) => x.id === value.status).title }}
        </span>
        <span v-if="value.is_deleted === undefined" :class="`badge badge-${field.options.find((x) => x.id === value.status).variant}`">
            {{ field.values.find((x) => x.id === value.status).title }}
        </span>
        <div v-if="value.is_deleted !== undefined && value.is_deleted" class="d-flex align-items-center justify-content-center">
            <span :class="`badge badge-secondary`">
                Удалено
            </span>
            <button
                v-if="config.soft_delete_restore !== undefined && config.soft_delete_restore"
                type="button"
                :class="`btn btn-light btn-xs btn-icon ml-2 ${destroy.pending && destroy.restore && destroy.id === value.id ? 'is-loading' : ''}`"
                v-tippy
                :content="`Восстановить`"
                @click="restore"
            >
                <font-awesome-icon :icon="'undo'" />
            </button>
        </div>
    </div>
</template>

<script>

import {mapActions, mapState} from "vuex";

export default {
    name: 'TableColumnStatus',
    components: {
    },
    props: {
        value: {
            type: [Object],
            required: true,
            default: () => {},
        },
        field: {
            type: [Object],
            required: true,
            default: () => {},
        },
        config: {
            type: [Object],
            required: false,
            default: () => {},
        },
    },
    computed: mapState({
        table: (state) => state.app.table.base,
        destroy: (state) => state.app.table.destroy,
    }),
    methods: {
        ...mapActions('app/table/destroy', ['fetchRestore']),
        restore() {
            console.log(this.value);
            this.fetchRestore({
                id: this.value.id,
                model: this.table.model,
            });
        }
    }
};
</script>
