<template>
    <div
        v-if="value[field.key]"
        :class="[
            field.styles !== undefined && field.styles.variant !== undefined ? `text-${field.styles.variant}` : '',
        ]"
    >
        <font-awesome-icon :icon="`${field.icon}`" />
    </div>
</template>

<script>

export default {
    name: 'TableColumnIcon',
    components: {
    },
    props: {
        field: {
            type: [Object],
            required: true,
            default: () => {},
        },
        value: {
            type: [Object],
            required: true,
            default: () => {},
        },
    },
};
</script>
