<template>
    <div>
        <div v-if="avatar !== null">
            <div
                :class="[
                    `d-flex align-items-center justify-content-${field.simple === undefined || !field.simple ? 'start' : 'center'}`
                ]"
            >
                <div>
                    <div v-if="avatar.image === null" :class="`avatar ${field.simple === undefined || !field.simple ? 'mr-3' : ''}`">
                        <BaseImgNotFound width="36" height="36" text="" :rounded="true" />
                        <span v-if="avatar.is_online !== undefined" :class="`avatar-status badge-${avatar.is_online ? 'success' : 'danger'}`" />
                    </div>
                    <a
                        v-if="avatar.image !== null"
                        :id="`popover-target-avatar-${field.key}-${value.id}`"
                        :class="`avatar ${field.simple === undefined || !field.simple ? 'mr-3' : ''}`"
                        :href="avatar.image"
                        :data-caption="avatar.full_name"
                        :data-fancybox="`popover-target-avatar-${field.key}`"
                    >
                        <img  class="img-avatar" :src="avatar.image" width="30">
                        <span v-if="avatar.is_online !== undefined" :class="`avatar-status badge-${avatar.is_online ? 'success' : 'danger'}`" />
                    </a>
                    <BPopover
                        v-if="field.popover !== undefined && field.popover"
                        :target="`popover-target-avatar-${field.key}-${value.id}`"
                        triggers="hover"
                        placement="top"
                    >
                        <template #title>
                            {{ avatar.full_name }}
                        </template>
                        Email: {{ avatar.email }}
                    </BPopover>
                </div>
                <div v-if="field.simple === undefined || !field.simple" style="white-space: nowrap;">
                    {{ avatar.full_name }}
                    <br>
                    <small>{{ avatar.email || '-' }}</small>
                </div>
                <div v-if="field.panel !== undefined && field.panel_edit_disabled === undefined">
                    <button
                        type="button"
                        class="btn btn-light btn-xs btn-icon ml-2"
                        title="Изменить"
                        @click="panel(field.panel)"
                    >
                        <font-awesome-icon :icon="'pencil-alt'" />
                    </button>
                </div>
            </div>
        </div>
        <div v-if="avatar === null && field.panel !== undefined">
            <button
                type="button"
                class="btn btn-light btn-sm"
                @click="panel(field.panel)"
            >
                Назначить
            </button>
        </div>
    </div>
</template>

<script>

import { Fancybox } from '@fancyapps/ui';
import { mapActions, mapState } from 'vuex';
import { BPopover } from 'bootstrap-vue/src/components/popover';
import BaseImgNotFound from '../../Base/Img/BaseImgNotFound';

export default {
    name: 'TableColumnAvatar',
    components: {
        BPopover,
        BaseImgNotFound
    },
    props: {
        field: {
            type: [Object],
            required: true,
            default: () => {},
        },
        value: {
            type: [Object],
            required: true,
            default: () => {},
        },
        avatar: {
            type: [Object],
            default: () => null,
        },
    },
    computed: mapState({
        table: state => state.app.table.base,
    }),
    mounted() {
        Fancybox.bind('.avatar', {
            on: {
                ready: (fancybox) => {
                    //console.log(`fancybox #${fancybox.id} is ready!`);
                }
            }
        });
    },
    methods: {
        ...mapActions('app/panel/base', ['fetchEdit', 'setRole']),
        panel(panel) {
            const self = this;
            this.$root.$emit('bv::toggle::collapse', 'panel-edit');
            self.setRole('edit');
            self.fetchEdit({
                id: self.value.id,
                model: self.table.model,
                panel,
            });
        }
    }
};
</script>
