<template>
    <div v-if="value.active !== undefined">
        <span :class="`badge badge-${value.active === 1 ? 'success' : 'danger'}`">{{ field.values[value[field.key]] }}</span>
    </div>
</template>

<script>

export default {
    name: 'TableColumnActive',
    components: {
    },
    props: {
        field: {
            type: [Object],
            required: true,
            default: () => {},
        },
        value: {
            type: [Object],
            required: true,
            default: () => {},
        },
    },
};
</script>
