<template>
    <div>
        <div
            v-if="field.variant !== undefined"
            v-tippy
            :class="`alert alert-${value[field.key] !== 0 ? field.variant : 'default'} alert-sm rounded-0`"
            role="alert"
            :content="field.tooltip"
            :style="{
                width: `${field.width !== undefined ? `${field.width}px` : '50px'}`
            }"
        >
            <span>{{ value[field.key] }}</span>
        </div>
        <div
            v-if="field.variant === undefined"
            :class="`alert alert-${value[field.key] !== 0 ? field.variant : 'default'} alert-sm rounded-0`"
            role="alert"
            :style="{
                width: `${field.width !== undefined ? `${field.width}px` : '50px'}`
            }"
        >
            <span>{{ value[field.key] }}</span>
        </div>
    </div>
</template>

<script>

export default {
    name: 'TableColumnCounter',
    components: {
    },
    props: {
        field: {
            type: [Object],
            required: true,
            default: () => {},
        },
        value: {
            type: [Object],
            required: true,
            default: () => {},
        },
    },
};
</script>
