<template>
    <div>
        <div v-if="field.transformer_icon !== undefined">
            <span
                v-for="item in value[field.key]"
                :key="item.id"
            >
                <button
                    v-tippy
                    type="button"
                    class="btn btn-sm btn-icon"
                    :content="item.title"
                >
                    <font-awesome-icon :icon="`${item.icon}`" />
                </button>
            </span>
        </div>
        <div v-if="field.transformer_icon === undefined">
            {{ value[field.key].map(x => x.title).join(', ') }}
        </div>
    </div>
</template>

<script>

export default {
    name: 'TableColumnMultiselect',
    components: {
    },
    props: {
        value: {
            type: [Object],
            required: true,
            default: () => {},
        },
        field: {
            type: [Object],
            required: true,
            default: () => {},
        },
    },
};
</script>
