<template>
    <div
        v-if="value.locked !== undefined && value.locked !== null && value.locked.value"
        :class="[
            `text-${value.locked.variant}`,
        ]"
        style="position:relative;"
    >
        <font-awesome-icon
            v-if="value.locked.avatar === undefined"
            v-tippy
            :icon="`${field.icon}`"
            :content="value.locked.text"
            style="cursor: pointer;"
        />
        <div
            v-if="value.locked.avatar !== undefined"
            v-tippy
            :class="[
                `d-flex align-items-center justify-content-center`
            ]"
            :content="value.locked.text"
            style="cursor: pointer;"
        >
            <div>
                <div
                    class="avatar"
                    style="width: 20px;"
                >
                    <img
                        class="img-avatar"
                        :src="value.locked.avatar.image"
                        width="20"
                        style="width: 20px;height: 20px;"
                    >
                    <span :class="`avatar-status badge-${value.locked.avatar.is_online ? 'success' : 'danger'}`" />
                </div>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    name: 'TableColumnLocked',
    components: {
    },
    props: {
        field: {
            type: [Object],
            required: true,
            default: () => {},
        },
        value: {
            type: [Object],
            required: true,
            default: () => {},
        },
    },
};
</script>
