<template>
    <div>
        <div v-if="field.key_show !== undefined && value[field.key] !== null">
            {{ value[field.key][field.key_show] }}
        </div>
        <div v-if="field.stringable === undefined">
            {{ field.values[value[field.key]] }}
        </div>
        <div v-if="field.stringable !== undefined">
            <div v-if="field.styles !== undefined && field.styles.alert !== undefined">
                <div :class="`alert alert-${field.styles.variant[value[field.key]]} alert-sm rounded-0`" role="alert">
                    <span>{{ field.values.find((x) => x.id === value[field.key]).title }}</span>
                </div>
            </div>
            <div v-if="field.styles === undefined && field.table_limit === undefined">
                {{ field.values.find((x) => x.id === value[field.key]).title }}
            </div>
        </div>
    </div>
</template>

<script>

export default {
    name: 'TableColumnSelect',
    components: {
    },
    props: {
        value: {
            type: [Object],
            required: true,
            default: () => {},
        },
        field: {
            type: [Object],
            required: true,
            default: () => {},
        },
    },
};
</script>
