<template>
    <div v-if="state.only_true && value.states[state.key]">
        <button
            v-tippy
            type="button"
            :class="`btn btn-icon btn-sm ${state.active_variant !== undefined ? `text-${state.active_variant}` : ''}`"
            :content="state.title"
        >
            <font-awesome-icon :icon="state.icon" />
        </button>
    </div>
</template>

<script>

export default {
    name: 'TableColumnState',
    components: {
    },
    props: {
        state: {
            type: [Object],
            required: true,
            default: () => {},
        },
        value: {
            type: [Object],
            required: true,
            default: () => {},
        },
    },
};
</script>
