<template>
    <div class="d-flex align-items-center justify-content-start">
        <div>
            <a
                class="mr-3"
                :href="item.image"
                :data-caption="item.title"
                data-fancybox="avatar"
            >
                <img
                    class="img-avatar"
                    :src="item.image"
                    width="30"
                >
            </a>
        </div>
        <div>
            {{ item.title }}
            <br>
            <small>{{ item.year }} / {{ item.number !== null ? item.number : '-' }}</small>
        </div>
    </div>
</template>

<script>

import { Fancybox } from '@fancyapps/ui';

export default {
    name: 'TableColumnRelease',
    components: {
    },
    props: {
        item: {
            type: [Object],
            required: true,
            default: () => {},
        },
    },
    mounted() {
        Fancybox.bind('.avatar', {
            on: {
                ready: (fancybox) => {
                    //console.log(`fancybox #${fancybox.id} is ready!`);
                }
            }
        });
    }
};
</script>
