<template>
    <div class="d-flex align-items-center justify-content-center">
        <div
            v-for="(state, key) in fields.states"
            :key="key"
        >
            <TableColumnState
                :state="state"
                :value="value"
            />
        </div>
    </div>
</template>

<script>
import TableColumnState from "./TableColumnState";

export default {
    name: 'TableColumnStates',
    components: {
        TableColumnState,
    },
    props: {
        value: {
            type: [Object],
            required: true,
            default: () => {},
        },
        fields: {
            type: [Object],
            required: true,
            default: () => {},
        },
    },
};
</script>
