<template>
    <div class="d-flex align-items-start justify-content-end h-100 w-100">
        <div class="pr--auth-container p-sm-5 shadow-sm" style="width: 500px;">
            <div class="row">
                <div class="col-12">
                    <div class="title-underline">
                        <h3>{{ $t('auth.password.email.title') }}</h3>
                    </div>
                </div>
            </div>
            <AuthFormPasswordEmail />
        </div>
    </div>
</template>

<script>
import { mapState } from 'vuex';
import BodyMain from '../../../components/Old/Body/BodyMain';
import AuthFormPasswordEmail from './../../../components/Auth/Form/AuthFormPasswordEmail';

export default {
    name: 'AuthPasswordEmail',
    components: {
        AuthFormPasswordEmail,
    },
    layout: 'auth',
    middleware: 'guest',
    data() {
        return {};
    },
    head() {
        const self = this;
        return self.i18nSeo().authEmailPassword();
    },
    computed: mapState({
        config: state => state.data.data.config,
    }),
    watch: {},
    mounted() {
    },
    methods: {

    },
};
</script>

<style scoped lang="scss">

</style>
