<template>
    <div class="d-flex align-items-start justify-content-end h-100" style="width: 100%">
        <div class="pr--auth-container bg-white mt-5 mb-5 p-3 p-sm-5 shadow-sm" :class="[{'overlay--is-loading': verification.pending}]" style="width: 500px;">
            <div class="row">
                <div class="col-12">
                    <div class="title-underline __center">
                        <h3>{{ $t('auth.password.reset.title') }}</h3>
                        <!--                                <div class="line" />-->
                    </div>
                </div>
            </div>
            <PasswordReset />
        </div>
    </div>
</template>

<script>
import {mapActions, mapState} from 'vuex';
import BodyMain from '../../../components/Old/Body/BodyMain';
import PasswordReset from './../../../components/Auth/Form/AuthFormPasswordReset';

export default {
    name: 'AuthPasswordReset',
    components: {
        PasswordReset,
    },
    layout: 'auth',
    middleware: 'guest',
    head() {
        const self = this;
        return self.i18nSeo().authResetPassword();
    },
    data() {
        return {};
    },
    computed: mapState({
        config: state => state.data.data.config,
        verification: state => state.verifications.show,
    }),
    watch: {},
    mounted() {
    },
    methods: {

    },
};
</script>

<style scoped lang="scss">

</style>
