<template>
    <BSidebar
        id="panel-edit"
        shadow
        backdrop
        :class="[
            'pr--sidebar--panel-edit',
            'pr--sidebar--panel',
            panel.loading ? 'is-loading' : '',
        ]"
        right
        @change="change"
    >
        <template #header="{ hide }">
            <div class="d-flex align-items-center justify-content-between w-100">
                <PanelBaseHead
                    :hide="hide"
                    :title="panel.fields !== null && panel.fields.config.title !== undefined ? panel.fields.config.title : 'Редактировать'"
                    :locale="panel.fields !== null && panel.fields.config.locale !== undefined ? panel.fields.config.locale : null"
                />
                <PanelLanguagePicker
                    v-if="tableFields !== null && tableFields.config.translation && panel.fields !== null && panel.fields.config.translation"
                    :on-change="changeLocale"
                />
            </div>
        </template>
        <template #default="{ hide }">
            <div
                v-if="panel.role === 'edit'"
                class="col-12"
            >
                <BTabs
                    v-if="panel.item !== null && panel.fields !== null"
                    v-model="panel.tabActive.key"
                    nav-class="pr--tabs--line-border __bordered"
                    content-class="mt-3"
                    @activate-tab="tabChanged"
                >
                    <BTab
                        v-for="(tab, key) in panel.fields.tabs"
                        :key="tab.name"
                    >
                        <template #title>
                            <span :class="`tab-title is-loading-- ${tabHasError(tab) ? '__error-dot' : ''} ${tabHasSuccess(tab) ? '__success-dot' : ''}`">
                                {{ tabTitle(tab) }}
                            </span>
                        </template>
                        <PanelEditTabDefault
                            :model="panel.model"
                            :pending="false"
                            :item="panel.item"
                            :tab="tab"
                        />
                    </BTab>
                </BTabs>
            </div>
        </template>
        <template #footer="{ hide }">
            <div v-if="panel.item !== null && panel.fields !== null" class="d-flex align-items-center p-3">
                <button
                    v-if="panel.tabActive.submit"
                    :class="[
                        'btn btn-primary mr-2',
                        panel.pending ? 'is-loading' : '',
                    ]"
                    type="button"
                    @click="submitButton"
                >
                    Сохранить
                </button>
                <button class="btn btn-light" type="button" @click="hide">
                    Отменить
                </button>
            </div>
        </template>
    </BSidebar>
</template>

<script>

import { mapActions, mapState } from 'vuex';
import PanelEditTabDefault from "./Tab/PanelEditTabDefault";
import PanelLanguagePicker from "../PanelLanguagePicker";
import PanelBaseHead from "../PanelBaseHead";
import {BTabs, BTab} from "bootstrap-vue/src/components/tabs";
import {BSidebar} from "bootstrap-vue/src/components/sidebar";

export default {
    name: 'PanelEdit',
    components: {
        BTabs,
        BTab,
        PanelEditTabDefault,
        PanelLanguagePicker,
        PanelBaseHead,
        BSidebar
    },
    data() {
        return {
            //
        };
    },
    computed: mapState({
        panel: (state) => state.app.panel.base,
        tableFields: (state) => state.app.table.base.fields,
    }),
    watch: {
        'panel.updated'() {
            if (this.panel.updated) {
                this.$root.$emit('bv::toggle::collapse', 'panel-edit');
                // @todo TableChangedEvent
                // this.fetchList({
                //     model: this.panel.model,
                // });
            }
        }
    },
    mounted() {
        //
    },
    methods: {
        ...mapActions('app/panel/base', ['fetchUpdate', 'setOpened', 'setTabActiveIndex', 'fetchEdit', 'setLocale']),
        ...mapActions('app/table/base', ['fetchList']),
        submitButton() {
            const self = this;
            self.fetchUpdate();
        },
        submit() {
            console.log('submit');
        },
        change(value) {
            this.$root.sidebarActions().bodyOverflowHidden(value);
            this.setOpened(value);
        },
        tabTitle(tab) {
            if (tab.name === 'image') {
                return `${tab.title} (${this.panel.item.images.length})`;
            }
            if (tab.name === 'editor_articles') {
                return `${tab.title} (${this.panel.item.editor_articles.length})`;
            }
            return tab.title;
        },
        tabHasError(tab) {
            const keys = Object.keys(this.panel.errors);
            if (keys.length === 0) {
                return false;
            }
            const fields = tab.data.map((x) => x.key);
            let tabIncludeError = false;
            keys.forEach((key) => {
                if (fields.includes(key)) {
                    tabIncludeError = true;
                }
            });
            return tabIncludeError;
        },
        tabHasSuccess(tab) {
            if (this.panel.item.tabs === undefined) {
                return false;
            }
            const tabData = this.panel.item.tabs[tab.name];
            if (tabData === undefined) {
                return false;
            }
            if (tabData.filled === undefined) {
                return false;
            }
            return tabData.filled;
        },
        tabChanged(index, previous) {
            this.setTabActiveIndex(index);
        },
        changeLocale() {
            this.fetchEdit({
                id: this.panel.item.id,
                model: this.panel.model,
                panel: this.panel.panel,
            });
        }
    }
};
</script>
