<template>
    <nav class="navbar navbar-light pr--header__brand-nav">
        <div class="nav pr--header__nav-left">
            <ButtonHeadSidebarMobile />
            <nuxt-link class="pr--header__brand navbar-brand" :to="i18nRoute().index()" style="margin-top: .3359375rem;padding-top: 0;align-items: flex-end;">
                <img src="/static/img/logo.png" :class="`d-inline-block align-top ${$device.isDesktop ? '' : 'brand--sm'}`" alt="Артаград" :height="$device.isDesktop ? 24 : 18">
<!--                <span class="d-none d-md-block" style="height: 20px;">ocial Media System</span>-->
                <!--                <img class="d-inline-block align-top" alt="" height="26" src="~assets/sprite/svg/logo.svg">-->
            </nuxt-link>
        </div>
        <b-dropdown id="dropdown-header-brand" :text="$t('basic.new-record')" class="pr--header__create" variant="light">
            <b-dropdown-item v-if="!$auth.loggedIn" @click.prevent="modalActions().openLogin()">
                {{ $t('basic.article') }}
            </b-dropdown-item>
            <b-dropdown-item v-if="!$auth.loggedIn" @click.prevent="modalActions().openLogin()">
                {{ $t('basic.event') }}
            </b-dropdown-item>
            <b-dropdown-item v-if="$auth.loggedIn" :to="i18nRoute().userArticlesCreateArticle()">
                {{ $t('basic.article') }}
            </b-dropdown-item>
            <b-dropdown-item v-if="$auth.loggedIn" :to="i18nRoute().userArticlesCreateEvent()">
                {{ $t('basic.event') }}
            </b-dropdown-item>
        </b-dropdown>
        <div v-if="config.ENV !== 'production'" class="navbar-text small ml-auto pr-3 d-none d-lg-block">
            {{ config.ENV }} ({{ config.VERSION }})
        </div>
        <div class="nav pr--header__nav-right" style="flex: 1;">
            <div class="--actions">
                <div class="d-none d-md-block">
                    <ButtonHeadSearch />
                    <ButtonHeadMessages />
                    <ButtonHeadSettings />
                    <ButtonHeadNotifications />
                </div>
                <div class="d-block d-md-none">
                    <ButtonHeadSearch />
                    <ButtonHeadNotifications />
                </div>
            </div>
            <div class="--user">
                <div v-if="$auth.loggedIn">
                    <ButtonHeadPersonal />
                </div>
                <div v-if="!$auth.loggedIn" class="d-block d-md-none">
                    <b-dropdown variant="link" toggle-class="btn--drop-person">
                        <template #button-content>
                            <img :src="'/img/user.png'" class="d-inline-block align-top rounded-circle border" alt="Default avatar" height="36" width="36">
                        </template>
                        <b-dropdown-item :to="i18nRoute().authLogin()">
                            {{ $t('button.login') }}
                        </b-dropdown-item>
                        <b-dropdown-item :to="i18nRoute().authRegister()">
                            {{ $t('button.register') }}
                        </b-dropdown-item>
                    </b-dropdown>
                </div>
            </div>
            <div class="--auth">
                <nuxt-link v-if="!$auth.loggedIn" :to="i18nRoute().authRegister()" class="btn btn-link __focus-none">
                    {{ $t('button.register') }}
                </nuxt-link>
                <nuxt-link v-if="!$auth.loggedIn" :to="i18nRoute().authLogin()" class="btn btn-link __focus-none">
                    {{ $t('button.login') }}
                </nuxt-link>
                <nuxt-link v-if="$auth.loggedIn" :to="i18nRoute().personalArticles()" class="btn btn-link __focus-none">
                    {{ $t('button.lk') }}
                </nuxt-link>
                <nuxt-link v-if="$auth.loggedIn" :to="i18nRoute().authLogout()" class="btn btn-link __focus-none">
                    {{ $t('button.logout') }}
                </nuxt-link>
            </div>
        </div>
    </nav>
</template>

<script>

import { mapActions, mapState } from 'vuex';
import ButtonHeadSettings from '../../Base/Button/ButtonHeadSettings';
import ButtonHeadMessages from '../../Base/Button/ButtonHeadMessages';
import ButtonHeadNotifications from '../../Base/Button/ButtonHeadNotifications';
import ButtonHeadSearch from '../../Base/Button/ButtonHeadSearch';
import ButtonHeadSidebarMobile from '../../Base/Button/ButtonHeadSidebarMobile';
import ButtonHeadPersonal from '../../Base/Button/ButtonHeadPersonal';

export default {
    name: 'HeaderBrand',
    components: {
        ButtonHeadSettings,
        ButtonHeadMessages,
        ButtonHeadNotifications,
        ButtonHeadSearch,
        ButtonHeadSidebarMobile,
        ButtonHeadPersonal,
    },
    props: {},
    data() {
        return {
            settings: {
                background_style: 'default',
            }
        };
    },
    computed: mapState({
        config: state => state.app.data.data.config,
        search: state => state.search,
        counters: state => state.user.notifications.counters,
    }),
    mounted() {},
    methods: {
        ...mapActions('search', ['fetchSearchByAll']),
        submit() {
            const self = this;
            this.fetchSearchByAll({
                q: self.search.form.q_all,
            });
        },
    }
};
</script>

<style scoped>

</style>
