<template>
    <div class="row row-sm mt-3 mb-3">
        <div class="col-12 col-md-6 pr--header__nav">
            <ul class="nav pr--header__nav-left">
                <li class="nav-item">
                    <nuxt-link :to="i18nRoute().index()" class="nav-link">
                        {{ i18nTitle().index() }}
                    </nuxt-link>
                </li>
            </ul>
        </div>
        <div class="col-12 col-md-6 pr--header__nav">
            <div class="nav pr--header__nav-right">
                <div class="--auth">
                    <nuxt-link v-if="!$auth.loggedIn" :to="localePath('/auth/register')" class="btn btn-light">
                        {{ $t('button.register') }}
                    </nuxt-link>
                    <nuxt-link v-if="!$auth.loggedIn" :to="localePath('/auth/login')" class="btn btn-primary">
                        {{ $t('button.login') }}
                    </nuxt-link>

                    <nuxt-link v-if="$auth.loggedIn" :to="localePath('/personal/settings/account')" class="btn btn-primary">
                        {{ $t('button.lk') }}
                    </nuxt-link>
                    <v-button-logout />
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import { mapActions, mapState } from 'vuex';
import ButtonLogout from '../../Auth/Button/AuthButtonLogout';

export default {
    name: 'HeaderNavigation',
    components: {
        'v-button-logout': ButtonLogout,
    },
    data() {
        return {

        };
    },
    computed: mapState({
        config: state => state.data.data.config,
    }),
    mounted() {

    },
    methods: {
        logout() {
            const self = this;
            self.$auth.logout();
            self.$auth.setUserToken(false);
            self.$nextTick(() => self.authLogout());
            window.location.href = self.i18nRoute().index();
        }
    }
};
</script>

<style scoped>

</style>
