<template>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex align-items-center justify-content-center flex-column pt-5 pb-5 bg-white" style="height: 100vh;">
                    <div>
                        <h2 class="h1">
                            Технический режим
                        </h2>
                    </div>
                    <div>
                        <p class="mb-0 h5 font-weight-normal text-center">
                            Извините за неудобства
                            <br>
                            Наш веб-сайт в настоящее время проходит плановое техническое обслуживание
                        </p>
                        <p class="mt-3 text-center">
                            Спасибо за понимание
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import { mapActions, mapState } from 'vuex';

export default {
    name: 'BaseErrorMaintenanceMode',
    components: {},
    props: {},
    data() {
        return {};
    },
    computed: mapState({
        //
    }),
    watch: {},
    mounted() {},
    methods: {
        //
    },
};
</script>

<style scoped lang="scss">

</style>
