<template>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex align-items-center justify-content-center flex-column pt-5 pb-5 bg-white shadow-sm rounded-sm">
                    <div>
                        <h2 class="h1">
                            404
                        </h2>
                    </div>
                    <div>
                        <p class="mb-0 h5 font-weight-normal">
                            Страница не найдена
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import { mapActions, mapState } from 'vuex';

export default {
    name: 'BaseErrorNotFound',
    components: {},
    props: {},
    data() {
        return {};
    },
    computed: mapState({
        //
    }),
    watch: {},
    mounted() {},
    methods: {
        //
    },
};
</script>

<style scoped lang="scss">

</style>
