<template>
    <div>
        <nuxt-link
            v-if="!fields.config.editor_articles_preview_locale"
            :to="`/${model}/${value.id}/articles`"
            :class="[
                'btn btn-icon btn-sm btn-light',
            ]"
        >
            <font-awesome-icon icon="eye" />
        </nuxt-link>
        <nuxt-link
            v-if="fields.config.editor_articles_preview_locale"
            :to="`/${model}/${value.id}/articles?locale=ru`"
            :class="[
                'btn btn-icon btn-sm btn-light',
                !value.articles ? 'disabled' : '',
            ]"
        >
            <span class="icon-ru" />
        </nuxt-link>
        <nuxt-link
            v-if="fields.config.editor_articles_preview_locale"
            :to="`/${model}/${value.id}/articles?locale=en`"
            :class="[
                'btn btn-icon btn-sm btn-light',
                !value.articles ? 'disabled' : '',
            ]"
        >
            <span class="icon-en" />
        </nuxt-link>
    </div>
</template>

<script>

export default {
    name: 'TableColumnConfigEditorArticlesPreview',
    components: {
    },
    props: {
        fields: {
            type: [Object],
            required: true,
            default: () => {},
        },
        model: {
            type: [String],
            required: true,
            default: () => 'default',
        },
        value: {
            type: [Object],
            required: true,
            default: () => {},
        },
    },
};
</script>
