<template>
    <div>
        <nuxt-link
            :to="`/releases/${value.release.id}/articles/${value.id}?locale=ru`"
            :class="[
                'btn btn-icon btn-sm btn-light',
            ]"
        >
            <span class="icon-ru" />
        </nuxt-link>
        <nuxt-link
            :to="`/releases/${value.release.id}/articles/${value.id}?locale=en`"
            :class="[
                'btn btn-icon btn-sm btn-light',
            ]"
        >
            <span class="icon-en" />
        </nuxt-link>
    </div>
</template>

<script>

export default {
    name: 'TableColumnConfigLocalePreview',
    components: {
    },
    props: {
        fields: {
            type: [Object],
            required: true,
            default: () => {},
        },
        model: {
            type: [String],
            required: true,
            default: () => 'default',
        },
        value: {
            type: [Object],
            required: true,
            default: () => {},
        },
    },
};
</script>
