<template>
    <ul class="nav pr--journal--tabs __bordered __account">
        <li class="nav-item">
            <nuxt-link :to="i18nRoute().personalSettingsAccount()" class="nav-link" :class="[$route.path.endsWith(i18nRoute().personalSettingsAccount()) ? 'active' : '']">
                {{ i18nTitle().personalSettingsAccount() }}
            </nuxt-link>
        </li>
        <li class="nav-item">
            <nuxt-link
                :to="i18nRoute().personalSettingsPassword()"
                :class="[
                    'nav-link',
                    $auth.loggedIn && !$auth.user.is_has_password ? '__doted' : '',
                    $route.path.endsWith(i18nRoute().personalSettingsPassword()) ? 'active' : ''
                ]"
            >
                {{ i18nTitle().personalSettingsPassword() }}
            </nuxt-link>
        </li>
        <li class="nav-item">
            <nuxt-link :to="i18nRoute().personalSettingsNotifications()" class="nav-link" :class="[$route.path.endsWith(i18nRoute().personalSettingsNotifications()) ? 'active' : '']">
                {{ i18nTitle().personalSettingsNotifications() }}
            </nuxt-link>
        </li>
        <li class="nav-item">
            <nuxt-link :to="i18nRoute().personalSettingsAccounts()" class="nav-link" :class="[$route.path.endsWith(i18nRoute().personalSettingsAccounts()) ? 'active' : '']">
                {{ i18nTitle().personalSettingsAccounts() }}
            </nuxt-link>
        </li>
    </ul>
</template>
<script>

export default {
    name: 'PersonalSettingsTabs',
    components: {
    },
    data() {
        return {

        };
    },
    mounted() {

    },
    methods: {
    }
};
</script>

<style scoped>

</style>
