<template>
    <BSidebar
        id="panel-table"
        shadow
        :backdrop="panel.placement === 'right'"
        :class="[
            'pr--sidebar--panel-table',
            'pr--sidebar--panel',
            panel.loading ? 'is-loading' : '',
        ]"
        :right="panel.placement === 'right'"
        @change="change"
    >
        <template #header="{ hide }">
            <div :class="`d-flex align-items-center justify-content-between w-100 ${panel.placement === 'right' ? '' : 'flex-row-reverse'}`">
                <PanelBaseHead
                    :hide="hide"
                    :title="tableFields !== null && tableFields.config.title !== undefined ? tableFields.config.title : ''"
                    :locale="tableFields !== null && tableFields.config.locale !== undefined ? tableFields.config.locale : null"
                    :placement="panel.placement"
                />
                <div v-if="tableFields !== null && tableFields.config.create">
                    <button
                        v-if="['authors', 'releases-books'].includes(model)"
                        type="button"
                        class="btn btn-primary nowrap mr-1"
                        @click="actionSelect"
                    >
                        <font-awesome-icon icon="plus" />
                        Добавить из существующих
                    </button>
                    <button
                        type="button"
                        class="btn btn-primary nowrap"
                        @click="actionCreate"
                    >
                        <font-awesome-icon icon="plus" />
                        Создать
                    </button>
                    <button
                        v-if="['releases-books'].includes(model)"
                        type="button"
                        class="btn btn-primary nowrap"
                        @click="actionCreateMulti"
                    >
                        <font-awesome-icon icon="plus" />
                        Создать множественно
                    </button>
                </div>
                <!--                <PanelLanguagePicker v-if="tableFields !== null && tableFields.config.translation && fields !== null && fields.config.translation" :on-change="changeLocale" />-->
            </div>
        </template>
        <template #default="{ hide }">
            <div v-if="model !== null" class="col-12">
                <DefaultPanelTable :model="model" />
            </div>
        </template>
        <template #footer="{ hide }">
            <div :class="`d-flex align-items-center justify-content-start p-3 ${panel.placement === 'left' ? 'flex-row-reverse' : ''}`">
                <button class="btn btn-light" type="button" @click="hide">
                    Закрыть
                </button>
            </div>
        </template>
    </BSidebar>
</template>

<script>

import { mapActions, mapState } from 'vuex';
import PanelBaseHead from "../PanelBaseHead";
import DefaultPanelTable from "../../Default/DefaultPanelTable";
import {BSidebar} from "bootstrap-vue/src/components/sidebar";

export default {
    name: 'PanelTable',
    components: {
        PanelBaseHead,
        DefaultPanelTable,
        BSidebar,
    },
    data() {
        return {
            //
        };
    },
    computed: mapState({
        table: (state) => state.app.table.base,
        model: (state) => state.app.table.table.base.model,
        panel: (state) => state.app.panel.base,
        tableFields: (state) => state.app.table.table.base.fields,
        //editor: (state) => state.app.editor.articles.store,
        //panelMain: (state) => state.app.panel.base,
    }),
    mounted() {
        //
    },
    methods: {
        ...mapActions('app/panel/base', ['setOpened']),
        ...mapActions('app/panel/panel/base', ['fetchEdit', 'fetchFields', 'setRole', 'setPlacement']),
        change(value) {
            this.$root.sidebarActions().bodyOverflowHidden(value);
            this.setOpened(value);
            if (!value) {
                this.setPlacement('right');
            }
        },
        actionCreate() {
            const self = this;
            this.$root.$emit('bv::toggle::collapse', 'panel-panel-create');
            self.setRole('create');
            //self.setLocale('ru');
            self.fetchFields({
                model: this.model,
                locale: 'ru',
            });
        },
        actionCreateMulti() {
            const self = this;
            this.$root.$emit('bv::toggle::collapse', 'panel-panel-create');
            self.setRole('create');
            //self.setLocale('ru');
            self.fetchFields({
                model: this.model,
                locale: 'ru',
                panel: 'create-multi',
            });
        },
        actionSelect() {
            const self = this;
            this.$root.$emit('bv::toggle::collapse', 'panel-panel-edit');
            const data = {
                locale: 'ru',
            };
            data.id = self.panel.item.id;
            data.model = self.panel.model;
            if (self.model === 'authors') {
                data.panel = 'authors';
            }
            if (self.model === 'releases-books') {
                data.panel = 'books';
            }
            self.setRole('edit');
            self.fetchEdit(data);
        },
        changeLocale() {
            this.fetchEdit({
                id: this.panel.item.id,
                model: this.model,
            });
        },
    }
};
</script>
