<template>
    <div class="row mb-3 rounded-sm-bottom shadow-sm" style="background-color: #fff;">
        <div class="col-12">
            <div class="pr--group--head">
                <div class="d-flex align-items-start justify-content-start">
                    <div class="--edit-image">
                        <img :src="group.image" :alt="group.title">
                        <button v-tippy type="button" class="btn" :content="$t('tooltip.upload-avatar')" @click="modalActions().openUserGroupUploadImage(group)">
                            <font-awesome-icon :icon="'file-upload'" />
                        </button>
                    </div>
                    <div>
                        <h3>
                            {{ group.title }}
                        </h3>
                        <div class="--text" v-html="group.preview_description" />
                        <div class="--counters">
                            <ButtonViews :value="group.counters.views" />
                            <ButtonComments :value="group.counters.comments" />
                            <ButtonSubscribers :value="group.counters.subscribers" />
                        </div>
                    </div>
                </div>
                <div class="--published">
<!--                    <GroupMenuBasic :group="group" />-->
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import { mapState } from 'vuex';
import ButtonViews from '../../../../Base/Button/ButtonViews';
import ButtonComments from '../../../../Base/Button/ButtonComments';
import ButtonSubscribers from '../../../../Base/Button/ButtonSubscribers';
import ButtonEditGroup from '../../../../Base/Button/ButtonEditGroup';
import GroupMenuBasic from '../../../Group/Menu/GroupMenuBasic';

export default {
    name: 'UserGroupBlockHead',
    components: {
        ButtonViews,
        ButtonComments,
        ButtonSubscribers,
        ButtonEditGroup,
        GroupMenuBasic,
    },
    props: {
        group: {
            type: [Object],
            default: () => {},
        }
    },
    data() {
        return {};
    },
    computed: mapState({
        app: state => state.app,
    }),
    watch: {},
    mounted() {},
    methods: {},
};
</script>

<style scoped lang="scss">

</style>
