<template>
    <div class="row">
        <div class="col-12 pr--article--details">
            <div class="--head">
                <div class="--category">
                    <LinkEventAt v-if="$device.isDesktop && article.data.type === 'event'" :article="article.data" />
                    <LinkGroup v-if="!article.data.group.is_author" :group="article.data.group" />
                    <LinkAuthor :user="article.data.creator" :is-author="article.data.group.is_author" />
                </div>
                <div v-if="isWaiting" class="--published">
                    <ButtonArticleWaitingForPublish />
                    <ArticleMenuUserWaiting
                        :article="article.data"
                        :action-destroy="actionDestroy"
                    />
                </div>
                <div v-if="!isWaiting" class="--published">
                    <ButtonEditArticle v-if="$auth.loggedIn && (article.data.creator.id === $auth.user.id || ($auth.user.is_admin !== undefined && $auth.user.is_admin))" :article="article.data" />
                    <ButtonFavorite v-if="$device.isDesktop" :item="article.data" :type="'article'" />
                    <ArticleMenuBasic :article="article.data" />
                </div>
            </div>
            <div class="--publish-date">
                <LinkEventAt v-if="!$device.isDesktop && article.data.type === 'event'" :article="article.data" :sm="true" />
                <LinkPublishedAt :article="article.data" :text="`${$t('basic.published')} `" />
            </div>
            <div class="--text">
                <EditorPreview
                    :prepend="prepend.length ? prepend : [
                        { type: 'header-h1', id: 'header', data: { text: article.data.title } },
                        { type: 'preview', id: 'preview', data: { text: article.data.preview_description, alignment: 'left' } },
                    ]"
                    :blocks-initial="article.data.blocks"
                />
            </div>
            <div v-if="article.data.tags.length" class="--tags mt-0 mb-3">
                <ul v-if="!isPreview" class="list-none mb-0">
                    <li v-for="tag in article.data.tags" :key="`tag_${tag.id}`">
                        <LinkTag :tag="tag" />
                    </li>
                </ul>
                <ul v-if="isPreview" class="list-none mb-0">
                    <li v-for="tag in article.data.tags" :key="`tag_${tag.id}`">
                        <LinkTag
                            :tag="tag"
                            :warning="tags.review.includes(tag.id) ? 'Тэг находится на модерации, в статье отображаться не будет' : null"
                            :danger="tags.declined.includes(tag.id) ? 'Тэг был отклонен модератором, в статье отображаться не будет' : null"
                        />
                    </li>
                </ul>
            </div>
            <div class="--footer">
                <div class="--category">
                    <LinkCategory :category="article.data.category" />
                </div>
                <div class="--actions">
                    <div>
                        <ButtonArticleVisited :value="article.data.visited" />
                        <client-only>
                            <ButtonArticleShare :article="article.data" />
                        </client-only>
                        <ButtonViews :value="article.data.counters.views" />
                        <ButtonComments :value="article.data.counters.comments" />
                    </div>
                    <div>
                        <ButtonRating :value="article.data.counters.vote" :item="article.data" :type="'article'" />
                    </div>
                </div>
            </div>
            <div v-if="!isPreview && !isPrivate">
                <hr>
                <div v-if="article.data.can_commented" id="comments-section" class="--comments">
                    <h5>{{ $t('basic.comments') }} ({{ article.data.counters.comments }})</h5>
                    <CommentFormArticle :article="article.data" />
                    <div v-if="comments.loaded" class="row">
                        <div v-for="comment in comments.data" :key="`comment_${comment.id}`" class="col-12">
                            <CommentCard :comment="comment" :article="article.data" />
                        </div>
                        <div v-if="comments.pagination !== null && comments.pagination.has_more_pages" class="col-12">
                            <div class="pr--comment __more pt-3 mt-0">
                                <button
                                    type="button"
                                    class="btn btn-light btn-block text-dark"
                                    :class="[comments.pending ? 'is-loading' : '']"
                                    @click="paginate"
                                >
                                    Показать еще {{ comments.pagination.total - comments.data.length }} {{ $tc(`declensions.comments`, comments.pagination.total - comments.data.length) }}
                                </button>
                            </div>
                        </div>
                    </div>
                    <!--                    <div v-if="!comments.loaded && comments.pending" class="row">-->
                    <!--                        <div class="col-12">-->
                    <!--                            <SkeletonCommentCard />-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                </div>
                <div v-if="!article.data.can_commented" class="mt-3 text-center text-muted">
                    Комментарии отключены
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import LinkAuthor from '../../../Base/Link/LinkAuthor';
import LinkCategory from '../../../Base/Link/LinkCategory';
import LinkPublishedAt from '../../../Base/Link/LinkPublishedAt';
import LinkGroup from '../../../Base/Link/LinkGroup';
import ButtonFavorite from '../../../Base/Button/ButtonFavorite';
import ButtonRating from '../../../Base/Button/ButtonRating';
import ButtonComments from '../../../Base/Button/ButtonComments';
import ButtonViews from '../../../Base/Button/ButtonViews';
import ButtonArticleVisited from '../../../Base/Button/ButtonArticleVisited';
import ButtonArticleShare from '../../../Base/Button/ButtonArticleShare';
import CommentCard from '../../Comment/Card/CommentCard';
import EditorPreview from '../../../Editor/EditorPreview';
import ArticleMenuBasic from '../Menu/ArticleMenuBasic';
import SkeletonCommentCard from '../../Skeleton/Comment/Card/SkeletonCommentCard';
import CommentFormArticle from '../../Comment/Form/CommentFormArticle';
import LinkEventAt from '../../../Base/Link/LinkEventAt';
import LinkTag from '../../../Base/Link/LinkTag';
import ButtonEditArticle from '../../../Base/Button/ButtonEditArticle';
import ArticleMenuUserWaiting from '../Menu/ArticleMenuUserWaiting';
import ButtonArticleWaitingForPublish from '../../../Base/Button/ButtonArticleWaitingForPublish';
import BodyMain from '../../Body/BodyMain';

export default {
    name: 'ArticleDetailsBase',
    components: {
        BodyMain,
        LinkAuthor,
        LinkCategory,
        LinkPublishedAt,
        LinkGroup,
        ButtonRating,
        ButtonComments,
        ButtonViews,
        ButtonArticleVisited,
        CommentCard,
        EditorPreview,
        ArticleMenuBasic,
        SkeletonCommentCard,
        CommentFormArticle,
        LinkEventAt,
        ButtonEditArticle,
        LinkTag,
        ButtonArticleShare,
        ButtonFavorite,
        ArticleMenuUserWaiting,
        ButtonArticleWaitingForPublish,
    },
    props: {
        article: {
            type: [Object],
            default: () => {},
        },
        comments: {
            type: [Object],
            default: () => {},
        },
        isPreview: {
            type: [Boolean],
            default: () => false,
        },
        isPrivate: {
            type: [Boolean],
            default: () => false,
        },
        isWaiting: {
            type: [Boolean],
            default: () => false,
        },
        actionDestroy: {
            type: [Function],
            default: () => {},
        }
    },
    data() {
        return {
            text: '',
            articleSend: {
                pending: false,
                errors: {}
            },
            prepend: [],
        };
    },

    computed: mapState({
        config: state => state.data.data.config,
        appComments: state => state.app.comments,
        articleCounters: state => state.article.counters,
        articleComments: state => state.article.comments,
        tags: state => state.user.tags.array.data,
    }),
    watch: {
        'comments.data'() {
            const self = this;
            if (self.$route.hash && self.$route.hash === '#comments') {
                setTimeout(function () {
                    self.scrollArticle().toHref('#comments-section', {});
                }, 100);
            }
        },
        'articleCounters.data'() {
            if (this.articleCounters.data.id !== undefined && this.articleCounters.data.id === this.article.data.id) {
                this.article.data.counters.comments = this.articleCounters.data.counters.comments;
            }
        },
    },
    mounted() {
        const self = this;
        self.prepend = [
            { type: 'header-h1', id: 'header', data: { text: self.article.data.title } },
            { type: 'preview', id: 'preview', data: { text: self.article.data.preview_description, alignment: 'left' } },
        ];
        self.initMainImage();
        self.initMainVideo();
    },
    methods: {
        ...mapActions('article/comments', ['fetchComments']),
        paginate() {
            const self = this;
            self.fetchComments({
                id: self.article.data.id,
                page: self.articleComments.pagination.page + 1,
            });
        },
        initMainVideo() {
            const self = this;
            if (self.article.data.video !== null) {
                self.prepend.push({
                    type: 'main-video',
                    id: 'main-video',
                    data: self.article.data.video !== null
                        ? self.article.data.video.data
                        : {
                            file: null,
                            embed: null,
                        }
                });
            }
        },
        initMainImage() {
            const self = this;
            if (self.article.data.image !== null) {
                self.prepend.push({
                    type: 'main-image',
                    id: 'main-image',
                    data: {
                        file: {
                            url: self.article.data.image
                        },
                        stretched: true,
                        withBackground: false,
                        caption: ''
                    }
                });
            }
        }
    },
};
</script>
