<template>
    <span>
        {{ date }}
    </span>
</template>

<script>

import moment from 'moment';
import localization from 'moment/locale/ru';

export default {
    name: 'DateString',
    props: {
        format: {
            type: [String],
            default: () => 'DD.MM.YYYY',
        },
        value: {
            type: [String],
            default: () => '',
        },
    },
    computed: {
        // eslint-disable-next-line vue/return-in-computed-property
        'date'() {
            const self = this;
            const date = moment(self.value);
            if (self.format === 'latest') {
                if (date.isSame(moment(), 'hour')) {
                    return date.locale('ru', localization).fromNow();
                }
                if (date.isSame(moment(), 'day')) {
                    return date.locale('ru', localization).fromNow();
                    //return `сегодня в ${date.format('HH:mm')}`;
                }
                if (date.isSame(moment(), 'year')) {
                    return date.format('DD.MM HH:mm');
                }
            }
            return date.format(self.format);
        },
    },
};
</script>
