<template>
    <div
        class="col-12 pr--card--subscriber rounded-sm"
        :class="[
            '',
        ]"
    >
        <div class="--body">
            <div class="--left">
                <div class="--image">
                    <img :src="user.image" :alt="user.title">
                </div>
                <div>
                    <nuxt-link :to="i18nRoute().usersArticles(user)" class="link-dark mb-0">
                        {{ user.title }}
                    </nuxt-link>
                </div>
            </div>
            <div class="--right">
                <ButtonSubscription :item="user" :type="'user'" :sm="true" />
            </div>
        </div>
    </div>
</template>

<script>

import ButtonSubscription from '../../../Base/Button/ButtonSubscription';

export default {
    name: 'UserCardSubscriber',
    components: {
        ButtonSubscription,
    },
    props: {
        user: {
            type: [Object],
            default: () => {},
        },
    },
    data() {
        return {};
    },
    watch: {},
    mounted() {},
    methods: {},
};
</script>
