<template>
    <BSidebar
        id="panel-panel-show"
        :title="'Просмотр'"
        shadow
        backdrop
        :class="[
            'pr--sidebar--panel-panel',
            'pr--sidebar--panel-panel-show',
            'pr--sidebar--panel',
            panel.loading ? 'is-loading' : '',
        ]"
        right
        @change="change"
    >
        <template #header="{ hide }">
            <div class="d-flex align-items-center justify-content-between w-100">
                <PanelBaseHead
                    :hide="hide"
                    :title="panel.fields !== null && panel.fields.config.title !== undefined ? panel.fields.config.title : 'Просмотр'"
                    :locale="panel.fields !== null && panel.fields.config.locale !== undefined ? panel.fields.config.locale : null"
                />
                <PanelLanguagePicker
                    v-if="tableFields !== null && tableFields.config.translation"
                    :on-change="changeLocale"
                />
            </div>
        </template>
        <template #default="{ hide }">
            <div
                v-if="panel.role === 'show'"
                class="col-12"
            >
                <BTabs
                    v-if="panel.item !== null && panel.fields !== null"
                    nav-class="pr--tabs--line-border __bordered"
                    content-class="mt-3"
                >
                    <BTab
                        v-for="(tab, key) in panel.fields.tabs"
                        :key="tab.name"
                        :active="key === 0"
                    >
                        <template #title>
                            <span class="is-loading--">{{ tabTitle(tab) }}</span>
                        </template>
                        <PanelPanelShowTabDefault
                            :model="panel.model"
                            :pending="false"
                            :item="panel.item"
                            :tab="tab"
                            :role="'show'"
                        />
                    </BTab>
                </BTabs>
            </div>
        </template>
        <template #footer="{ hide }">
            <div v-if="panel.item !== null && panel.fields !== null" class="d-flex align-items-center p-3">
                <button class="btn btn-light" type="button" @click="hide">
                    Закрыть
                </button>
            </div>
        </template>
    </BSidebar>
</template>

<script>

import { mapActions, mapState } from 'vuex';
import PanelPanelShowTabDefault from "./Tab/PanelPanelShowTabDefault";
import PanelLanguagePicker from "../../PanelLanguagePicker";
import PanelBaseHead from "../../PanelBaseHead";
import {BTabs, BTab} from "bootstrap-vue/src/components/tabs";
import {BSidebar} from "bootstrap-vue/src/components/sidebar";

export default {
    name: 'PanelPanelShow',
    components: {
        PanelPanelShowTabDefault,
        PanelLanguagePicker,
        PanelBaseHead,
        BTabs,
        BTab,
        BSidebar,
    },
    data() {
        return {
            //
        };
    },
    computed: mapState({
        panel: (state) => state.app.panel.panel.base,
        tableFields: (state) => state.app.table.base.fields,
    }),
    mounted() {
        //
    },
    methods: {
        ...mapActions('app/panel/panel/base', ['fetchUpdate', 'setOpened', 'setLocale', 'fetchShow']),
        ...mapActions('app/table/base', ['fetchList']),
        change(value) {
            this.$root.sidebarActions().bodyOverflowHidden(value);
            this.setOpened(value);
        },
        tabTitle(tab) {
            if (tab.name === 'image') {
                return `${tab.title} (${this.panel.item.images.length})`;
            }
            if (tab.name === 'editor_articles') {
                return `${tab.title} (${this.panel.item.editor_articles.length})`;
            }
            return tab.title;
        },
        changeLocale() {
            this.fetchShow({
                id: this.panel.item.id,
                model: this.panel.model,
            });
        }
    }
};
</script>
