<template>
    <div class="col-12 pr--card--article __skeleton pr--rounded-sm">
        <div class="--head">
            <div class="--category">
                <LinkGroup />
                <LinkAuthor />
            </div>
        </div>
        <div class="--title">
            <b-skeleton width="280px" height="28px" class="mb-2 h3" />
            <div>
                <b-skeleton width="90%" height="18px" class="mb-1" />
                <b-skeleton width="70%" height="18px" class="mb-0" />
            </div>
        </div>
        <div class="--footer">
            <div class="--category">
                <LinkCategory />
            </div>
        </div>
    </div>
</template>

<script>

import LinkAuthor from '../../Base/Link/SkeletonLinkAuthor';
import LinkCategory from '../../Base/Link/SkeletonLinkCategory';
import LinkGroup from '../../Base/Link/SkeletonLinkGroup';

export default {
    name: 'SkeletonArticleCardBasic',
    components: {
        LinkAuthor,
        LinkCategory,
        LinkGroup,
    },
    props: {},
    data() {
        return {};
    },
    computed: {},
    watch: {},
    mounted() {},
    methods: {},
};
</script>
