<template>
    <div />
</template>

<script>
import { mapState, mapActions } from 'vuex';

export default {
    name: 'TheCookieCommon',
    data() {
        return {};
    },
    computed: mapState({
        cookie: state => state.app.cookie,
    }),
    watch: {},
    created() {},
    mounted() {
        const self = this;
        if (self.cookie.needSave) {
            self.cookieActions().set(self.cookie.data);
            self.setNeedSave(false);
        }
    },
    methods: {
        ...mapActions('app/cookie', ['setNeedSave']),
    },
};
</script>
