<template>
    <div />
</template>

<script>
import { mapState, mapActions } from 'vuex';

export default {
    name: 'TheEchoCommon',
    data() {
        return {};
    },
    computed: mapState({
        connected: state => state.user.echo.connected,
        needConnection: state => state.user.echo.needConnection,
        chat: state => state.user.echo.chat,
    }),
    watch: {
        'connected'() {
            //const self = this;
            //console.log(self.connected);
        },
        'needConnection'() {
            const self = this;
            if (self.needConnection && self.$auth.loggedIn) {
                self.echo().connect();
            }
        },
        'chat.needConnection'() {
            const self = this;
            if (self.chat.needConnection && self.$auth.loggedIn) {
                self.chat.items.forEach(function (chat) {
                    self.echo().listenChat(chat);
                });
            }
        },
        'chat.needDisconnect'() {
            const self = this;
            if (self.chat.needDisconnect && self.$auth.loggedIn) {
                self.chat.items.forEach(function (chat) {
                    self.echo().leaveChat(chat);
                });
            }
        }
    },
    created() {},
    mounted() {
        const self = this;
        if (self.needConnection && self.$auth.loggedIn) {
            self.echo().connect();
        }
        if (self.needDisconnect && self.$auth.loggedIn) {
            self.chat.items.forEach(function (chat) {
                self.echo().leaveChat(chat);
            });
        }
    },
    methods: {
        ...mapActions('user/echo', ['setConnected', 'setNeedConnection']),
    },
};
</script>

<style scoped lang="scss">
</style>
