<template>
    <div>
        <ModalPanelUploadImage />
        <ModalPanelPanelUploadImage />
        <BaseModalConfirmDelete />
        <BaseModalPanelConfirmDelete />
        <ModalEditorUploadImage />
        <ModalEditorUploadVideo />
    </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import ModalPanelUploadImage from "../Base/Modal/Panel/ModalPanelUploadImage";
import ModalPanelPanelUploadImage from "../Base/Modal/Panel/Panel/ModalPanelPanelUploadImage";
import ModalEditorUploadImage from "../Base/Modal/Editor/ModalEditorUploadImage";
import ModalEditorUploadVideo from "../Base/Modal/Editor/ModalEditorUploadVideo";
import BaseModalConfirmDelete from "../Base/Modal/BaseModalConfirmDelete";
import BaseModalPanelConfirmDelete from "../Base/Modal/BaseModalPanelConfirmDelete";

export default {
    name: 'TheModalCommon',
    components: {
        ModalPanelUploadImage,
        ModalPanelPanelUploadImage,
        BaseModalConfirmDelete,
        BaseModalPanelConfirmDelete,
        ModalEditorUploadImage,
        ModalEditorUploadVideo,
    },
    data() {
        return {};
    },
    computed: mapState({
        modal: (state) => state.app.modal,
    }),
    watch: {
        'modal.current'() {
            const self = this;
            const current = self.modal.current;
            const active = self.modal.active;
            if (active !== null) {
                self.$modal.hide(active);
            }
            if (current !== null) {
                self.$modal.show(current);
            }
            self.setActive(current);

            if (current === 'search') {
                self.toggleBodyScrollbar(false);
            }
            if (current === null) {
                self.toggleBodyScrollbar(true);
            }
        }
    },
    created() {},
    mounted() {
        //this.setCurrent(this.modal.names.order.success);
    },
    methods: {
        ...mapActions('app/modal', ['setActive', 'setCurrent']),
        toggleBodyScrollbar(visible) {
            const body = document.getElementsByTagName('body')[0];
            if (!visible) {
                body.classList.add('overflow-hidden');
            } else {
                body.classList.remove('overflow-hidden');
            }
        },
    },
};
</script>
