<template>
    <div />
</template>

<script>
import { mapState, mapActions } from 'vuex';

export default {
    name: 'TheMessageCommon',
    components: {
        //
    },
    data() {
        return {};
    },
    computed: mapState({
        messageStore: (state) => state.app.message,
    }),
    watch: {
        'messageStore.success'() {
            const self = this;
            if (self.messageStore.success !== null) {
                self.$toast.success(self.messageStore.success);
                setTimeout(function () {
                    self.setSuccess(null);
                }, 1000);
            }
        },
        'messageStore.error'() {
            if (this.messageStore.error !== null) {
                this.$toast.error(this.messageStore.error);
            }
        }
    },
    created() {},
    mounted() {

        //this.setCurrent(this.modal.names.order.success);
    },
    methods: {
        ...mapActions('app/message', ['setSuccess']),
    },
};
</script>
