<template>
    <div>
        <PanelTable />
        <PanelEdit />
        <PanelCreate />
        <PanelShow />
        <PanelPanelEdit />
        <PanelPanelCreate />
        <PanelPanelShow />
        <PanelComments />
        <PanelHistory />
    </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import PanelEdit from '../Panel/Edit/PanelEdit';
import PanelPanelEdit from '../Panel/Panel/PanelPanelEdit';
import PanelCreate from '../Panel/Create/PanelCreate';
import PanelPanelCreate from '../Panel/Panel/PanelPanelCreate';
import PanelPanelShow from '../Panel/Panel/Show/PanelPanelShow';
import PanelShow from '../Panel/Show/PanelShow';
import PanelComments from '../Panel/Comments/PanelComments';
import PanelHistory from '../Panel/History/PanelHistory';
import PanelTable from '../Panel/Table/PanelTable';

export default {
    name: 'ThePanelCommon',
    components: {
        PanelEdit,
        PanelPanelEdit,
        PanelPanelCreate,
        PanelPanelShow,
        PanelCreate,
        PanelShow,
        PanelTable,
        PanelComments,
        PanelHistory,
    },
    data() {
        return {};
    },
    computed: mapState({
        sidebar: (state) => state.app.sidebar,
    }),
    watch: {
        'sidebar.current'() {
            const self = this;
            const current = self.sidebar.current;
            const active = self.sidebar.active;
        }
    },
    created() {},
    mounted() {
        //this.setCurrent(this.modal.names.order.success);
    },
    methods: {
        //...mapActions('app.modal', ['setActive', 'setCurrent']),
    },
};
</script>
