<template>
    <div>
        <!--        -->
    </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';

export default {
    name: 'TheRedirectCommon',
    components: {
        //
    },
    data() {
        return {};
    },
    computed: mapState({
        redirect: (state) => state.app.redirect,
    }),
    watch: {
        'redirect.route'() {
            const self = this;
            if (self.redirect.route !== null) {
                self.$router.push(self.redirect.route);
                self.$nextTick(() => self.setRoute(null));
            }
        }
    },
    created() {},
    mounted() {},
    methods: {
        ...mapActions('app/redirect', ['setRoute']),
    },
};
</script>
