<template>
    <button
        type="button"
        aria-label="Scroll to top of page"
        :class="[
            'pr--scroll-up',
            show ? '__show' : '',
            !sidebar.right ? '__r-hidden' : '',
        ]"
        @click="scrollBase().toHref('#__layout')"
    >
        <div>
            <font-awesome-icon icon="angle-up" />
            <span>Наверх</span>
        </div>
    </button>
</template>

<script>
import { mapState, mapActions } from 'vuex';

export default {
    name: 'TheScrollUpCommon',
    data() {
        return {
            show: false,
        };
    },
    computed: mapState({
        sidebar: state => state.app.sidebar,
    }),
    watch: {},
    created() {},
    mounted() {
        window.addEventListener('scroll', this.updateScroll);
    },
    methods: {
        updateScroll() {
            this.show = window.scrollY > 1200;
        }
    },
};
</script>

<style scoped lang="scss">
</style>
