<template>
    <div>
        <SidebarNotifications />
        <SidebarMobile />
        <SidebarSettings />
    </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import SidebarNotifications from '../Base/Sidebar/SidebarNotifications';
import SidebarMobile from '../Base/Sidebar/SidebarMobile';
import SidebarSettings from '../Base/Sidebar/SidebarSettings';

export default {
    name: 'TheSidebarCommon',
    components: {
        SidebarNotifications,
        SidebarMobile,
        SidebarSettings,
    },
    data() {
        return {};
    },
    computed: mapState({
        sidebar: state => state.app.sidebar,
    }),
    watch: {
        'sidebar.current'() {
            const self = this;
            const current = self.sidebar.current;
            const active = self.sidebar.active;
        }
    },
    created() {},
    mounted() {
        //this.setCurrent(this.modal.names.order.success);
    },
    methods: {
        //...mapActions('app.modal', ['setActive', 'setCurrent']),
    },
};
</script>

<style scoped lang="scss">
</style>
