<template>
    <div />
</template>

<script>
import { mapState, mapActions } from 'vuex';

export default {
    name: 'TheUserCommon',
    data() {
        return {};
    },
    computed: mapState({
        dataLoaded: state => state.user.data.loaded,
    }),
    watch: {},
    created() {},
    mounted() {
        const self = this;
        if (self.$auth.loggedIn && !self.dataLoaded) {
            self.fetchData();
        }
        if (self.$auth.loggedIn && self.$auth.user.need_change_password) {
            //self.modalActions().openNeedChangePassword();
        }
    },
    methods: {
        ...mapActions('user/data', ['fetchData']),
        //
    },
};
</script>

<style scoped lang="scss">
</style>
