<template>
    <BSidebar
        id="panel-show"
        :title="'Просмотр'"
        shadow
        backdrop
        :class="[
            'pr--sidebar--panel',
            loading ? 'is-loading' : '',
        ]"
        right
        @change="change"
    >
        <template #header="{ hide }">
            <div class="d-flex align-items-center justify-content-between w-100">
                <PanelBaseHead
                    :hide="hide"
                    :title="fields !== null && fields.config.title !== undefined ? fields.config.title : 'Просмотр'"
                    :locale="fields !== null && fields.config.locale !== undefined ? fields.config.locale : null"
                />
                <PanelLanguagePicker
                    v-if="tableFields !== null && tableFields.config.translation"
                    :on-change="changeLocale"
                />
            </div>
        </template>
        <template #default="{ hide }">
            <div
                v-if="role === 'show'"
                class="col-12"
            >
                <BTabs
                    v-if="item !== null && fields !== null"
                    nav-class="pr--tabs--line-border __bordered"
                    content-class="mt-3"
                >
                    <BTab
                        v-for="(tab, key) in fields.tabs"
                        :key="tab.name"
                        :active="key === 0"
                    >
                        <template #title>
                            <span class="is-loading--">{{ tabTitle(tab) }}</span>
                        </template>
                        <PanelShowTabDefault
                            :model="model"
                            :pending="false"
                            :item="item"
                            :tab="tab"
                            :role="'show'"
                        />
                    </BTab>
                </BTabs>
            </div>
        </template>
        <template #footer="{ hide }">
            <div
                v-if="item !== null && fields !== null"
                class="d-flex align-items-center p-3"
            >
                <button
                    class="btn btn-light"
                    type="button"
                    @click="hide"
                >
                    Закрыть
                </button>
            </div>
        </template>
    </BSidebar>
</template>

<script>

import { mapActions, mapState } from 'vuex';
import PanelShowTabDefault from "./Tab/PanelShowTabDefault";
import PanelLanguagePicker from "../PanelLanguagePicker";
import PanelBaseHead from "../PanelBaseHead";
import {BTabs, BTab} from "bootstrap-vue/src/components/tabs";
import {BSidebar} from "bootstrap-vue/src/components/sidebar";

export default {
    name: 'PanelShow',
    components: {
        BTabs,
        BTab,
        PanelShowTabDefault,
        PanelLanguagePicker,
        PanelBaseHead,
        BSidebar,
    },
    data() {
        return {
            //
        };
    },
    computed: mapState({
        model: (state) => state.app.panel.base.model,
        item: (state) => state.app.panel.base.item,
        fields: (state) => state.app.panel.base.fields,
        form: (state) => state.app.panel.base.form,
        role: (state) => state.app.panel.base.role,
        pending: (state) => state.app.panel.base.pending,
        loading: (state) => state.app.panel.base.loading,
        opened: (state) => state.app.panel.base.opened,
        tableFields: (state) => state.app.table.base.fields,
    }),
    mounted() {
        //
    },
    methods: {
        ...mapActions('app/panel/base', ['fetchUpdate', 'setOpened', 'setLocale', 'fetchShow']),
        ...mapActions('app/table/base', ['fetchList']),
        change(value) {
            this.$root.sidebarActions().bodyOverflowHidden(value);
            this.setOpened(value);
        },
        tabTitle(tab) {
            if (tab.name === 'image') {
                return `${tab.title} (${this.item.images.length})`;
            }
            if (tab.name === 'editor_articles') {
                return `${tab.title} (${this.item.editor_articles.length})`;
            }
            if (tab.countable !== undefined) {
                return `${tab.title} (${tab.data.length})`;
            }
            return tab.title;
        },
        changeLocale() {
            this.fetchShow({
                id: this.item.id,
                model: this.model,
            });
        }
    }
};
</script>

<style scoped>

</style>
