<template>
    <div>
        <div v-if="field.key_show !== undefined && value[field.key] !== null">
            {{ value[field.key][field.key_show] }}
        </div>
        <div>
            {{ field.values[value[field.key]] }}
        </div>
    </div>
</template>

<script>

export default {
    name: 'TableColumnSelect',
    components: {
    },
    props: {
        value: {
            type: [Object],
            required: true,
            default: () => {},
        },
        field: {
            type: [Object],
            required: true,
            default: () => {},
        },
    },
};
</script>
