<template>
    <div v-if="value.status !== undefined">
        <span :class="`badge badge-${value.status.variant}`">{{ value.status.title }}</span>
    </div>
</template>

<script>

export default {
    name: 'TableColumnStatus',
    components: {
    },
    props: {
        value: {
            type: [Object],
            required: true,
            default: () => {},
        },
        field: {
            type: [Object],
            required: true,
            default: () => {},
        },
    },
};
</script>

<style scoped lang="scss">

</style>
