<template>
    <div class="d-flex align-items-center justify-content-start">
        <div>
            <a v-if="value.image !== null" :class="['link-fancybox', config.image_rounded ? 'avatar' : '']" :href="value.image" data-fancybox="avatar">
                <img class="img-avatar" :src="value.image" width="30">
            </a>
<!--            <BaseImgNotFound v-if="value.image === null" width="30" height="30" />-->
        </div>
    </div>
</template>

<script>

import { Fancybox } from '@fancyapps/ui';
import BaseImgNotFound from '../../Img/BaseImgNotFound';

export default {
    name: 'TableColumnImage',
    components: {
        BaseImgNotFound,
    },
    props: {
        value: {
            type: [Object],
            required: true,
            default: () => {},
        },
        config: {
            type: [Object],
            required: true,
            default: () => {},
        },
    },
    mounted() {
        Fancybox.bind('.link-fancybox', {
            on: {
                ready: (fancybox) => {
                    //console.log(`fancybox #${fancybox.id} is ready!`);
                }
            }
        });
    }
};
</script>
