<template>
    <div>
        <TableColumnStatus
            v-if="field.key === 'status'"
            :value="value"
            :field="field"
        />
        <TableColumnActive
            v-if="field.key === 'active'"
            :value="value"
            :field="field"
        />
        <TableColumnAvatar
            v-if="field.key === 'avatar'"
            :item="value"
        />
        <TableColumnUser
            v-if="field.key === 'user'"
            :item="value"
        />
        <TableColumnRoles
            v-if="field.key === 'roles'"
            :item="value"
        />
        <TableColumnSocials
            v-if="field.key === 'socials'"
            :item="value"
        />
        <TableColumnSelect
            v-if="field.type === 'select' && !fields.includes(field.key)"
            :value="value"
            :field="field"
        />
        <div v-if="!fields.includes(field.key) && !types.includes(field.type)">
            {{ value[field.key] }}
        </div>
    </div>
</template>

<script>

import TableColumnStatus from "./TableColumnStatus";
import TableColumnActive from "./TableColumnActive";
import TableColumnUser from "./TableColumnUser";
import TableColumnRoles from "./TableColumnRoles";
import TableColumnAvatar from "./TableColumnAvatar";
import TableColumnSocials from "./TableColumnSocials";
import TableColumnSelect from "./TableColumnSelect";

export default {
    name: 'TableColumnDefault',
    components: {
        TableColumnStatus,
        TableColumnActive,
        TableColumnUser,
        TableColumnRoles,
        TableColumnAvatar,
        TableColumnSocials,
        TableColumnSelect,
    },
    props: {
        value: {
            type: [Object],
            required: true,
            default: () => {},
        },
        field: {
            type: [Object],
            required: true,
            default: () => {},
        },
    },
    data() {
        return {
            fields: [
                'status',
                'avatar',
                'roles',
                'socials',
                'user',
                'active',
            ],
            types: [
                'select',
            ]
        };
    },
};
</script>
