<template>
    <div
        class="d-flex align-items-center justify-content-start"
        style="width: 200px"
    >
        <div>
            <a
                class="avatar mr-3"
                :href="item.avatar.image"
                :data-caption="item.avatar.first_name"
                data-fancybox="avatar"
            >
                <img
                    class="img-avatar"
                    :src="item.avatar.image"
                    width="30"
                >
                <span :class="`avatar-status badge-${item.avatar.is_online ? 'success' : 'danger'}`" />
            </a>
        </div>
        <div>
            <span v-if="item.avatar.full_name !== undefined">
                {{ item.avatar.full_name }}
            </span>
            <span v-if="item.avatar.full_name === undefined">
                {{ item.avatar.first_name }} {{ item.avatar.last_name }}
            </span>
            <br>
            <small>{{ item.avatar.email }}</small>
        </div>
    </div>
</template>

<script>

import { Fancybox } from '@fancyapps/ui';

export default {
    name: 'TableColumnAvatar',
    components: {
    },
    props: {
        item: {
            type: [Object],
            required: true,
            default: () => {},
        },
    },
    mounted() {
        Fancybox.bind('.avatar', {
            on: {
                ready: (fancybox) => {
                    //console.log(`fancybox #${fancybox.id} is ready!`);
                }
            }
        });
    }
};
</script>

<style scoped lang="scss">

</style>
