<template>
    <div
        class="d-flex align-items-center justify-content-start"
        style="width: 200px"
    >
        <div>
            <a class="avatar mr-3">
                <img
                    class="img-avatar"
                    :src="item.user.image"
                    width="30"
                >
                <span class="avatar-status badge-danger" />
            </a>
        </div>
        <div>
            {{ item.user.first_name }} {{ item.user.last_name }}
            <br>
            <small>{{ item.user.email }}</small>
        </div>
    </div>
</template>

<script>

export default {
    name: 'TableColumnUser',
    components: {
    },
    props: {
        item: {
            type: [Object],
            required: true,
            default: () => {},
        },
    },
};
</script>

<style scoped lang="scss">

</style>
