<template>
    <div>
        <button
            v-for="(role, key) in item.roles"
            :key="key"
            v-tippy
            type="button"
            class="btn btn-sm btn-icon text-default"
            :content="role.title"
        >
            <font-awesome-icon :icon="role.icon" />
        </button>
    </div>
</template>

<script>

export default {
    name: 'TableColumnRoles',
    components: {
    },
    props: {
        item: {
            type: [Object],
            required: true,
            default: () => {},
        },
    },
};
</script>

<style scoped lang="scss">

</style>
