<template>
    <div>
        <button
            v-for="(social, key) in item.socials"
            :key="key"
            v-tippy
            type="button"
            class="btn btn-sm btn-icon text-default"
            :content="social.title"
        >
            <font-awesome-icon :icon="['fab', social.icon]" />
        </button>
    </div>
</template>

<script>

export default {
    name: 'TableColumnSocials',
    components: {
    },
    props: {
        item: {
            type: [Object],
            required: true,
            default: () => {},
        },
    },
};
</script>

<style scoped lang="scss">

</style>
