<template>
    <div
        class="d-flex align-items-center justify-content-start"
        style="width: 200px"
    >
        <div>
            <a class="avatar mr-3" :href="item.avatar.image" :data-caption="item.avatar.first_name" data-fancybox="avatar">
                <img class="img-avatar" :src="item.avatar.image" :width="imageWidth" alt="Image">
                <span :class="`avatar-status badge-${item.avatar.is_online ? 'success' : 'danger'}`" />
            </a>
        </div>
        <div>
            <span v-if="item.avatar.full_name !== undefined">
                {{ item.avatar.full_name }}
            </span>
            <span v-if="item.avatar.full_name === undefined">
                {{ item.avatar.first_name }} {{ item.avatar.last_name }}
            </span>
            <br v-if="hasEmail">
            <small v-if="hasEmail">{{ item.avatar.email }}</small>
        </div>
    </div>
</template>

<script>

import { Fancybox } from '@fancyapps/ui';

export default {
    name: 'BaseComponentsAvatar',
    components: {
    },
    props: {
        item: {
            type: [Object],
            required: true,
            default: () => {},
        },
        hasEmail: {
            type: [Boolean],
            required: false,
            default: () => false,
        },
        imageWidth: {
            type: [Number],
            required: false,
            default: () => 20,
        }
    },
    mounted() {
        Fancybox.bind('.avatar', {
            on: {
                ready: (fancybox) => {
                    //console.log(`fancybox #${fancybox.id} is ready!`);
                }
            }
        });
    }
};
</script>

<style scoped lang="scss">

</style>
