.alert.alert-sm {
    margin: 0;
    padding: 3px;
    span {
        font-size: $font-size-sm;
    }
}
.alert.alert-default {
    background-color: #eee;
    border-color: #e6e3e3;
    color: #797979;
}
