.pr--auth-form-container {
    //bg-white mt-5 mb-5 p-3 p-sm-5
    background-color: #fff;
    //margin-top: 3rem;
    //margin-bottom: 3rem;
    padding: 1rem;
    @include media-breakpoint-down(sm) {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 3rem;
        height: 100%;
    }
}
.pr--auth-container {

}
.pr--auth-section {
    background-color: #fbfbfb;
    .container-title {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        position: absolute;
        width: 100%;
        .block {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 500px;
            height: 500px;
        }
    }
}

.login-register-hr {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    span {
        background-color: #fff;
        z-index: 11;
        display: inline-block;
        position: relative;
        padding: 0 1rem;
    }
    padding: .75rem;
    &:after {
        content: " ";
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 2px;
        background: #9f9f9f;
        z-index: 1;
    }
    &.__sm {
        text-transform: none;
        &:after {
            height: 1px;
            background: $border-color;
        }
    }
}
.pr--auth-container {
    //bg-white mt-5 mb-5 p-3 p-sm-5
    background-color: #fff;
    //margin-top: 3rem;
    //margin-bottom: 3rem;
    padding: 1rem;
    //height: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include media-breakpoint-down(sm) {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 3rem;
        height: 100%;
    }
}
