.avatar {
    position: relative;
    display: inline-block;
    width: 36px;
    .img-avatar {
        border-radius: 50em;
        width: 36px;
        height: 36px;
    }
    .avatar-status {
        position: absolute;
        right: 0;
        bottom: 0;
        display: block;
        width: 10px;
        height: 10px;
        border: 1px solid #fff;
        border-radius: 50em;
    }
}
