.badge {
    font-size: $font-size-base * .85714;
    font-weight: normal;
    border-radius: 0;
    &.badge-keyword {
        padding: .5rem;
        font-size: $font-size-base;
        font-weight: normal;
    }
    &.badge-secondary {
        background-color: $gray-300;
        color: $dark;
    }
    &.badge-tag {
        padding: .35rem .75rem;
        font-size: $font-size-base;
        font-weight: normal;
        background-color: lighten($primary, 20%);
        color: #fff;
        border-radius: $border-radius-sm;
        box-shadow: $box-shadow-sm;
        //line-height: 1.5;
    }
    &.badge-warning {
        color: $white;
    }
}
.badge {
    &.badge-type {
        font-weight: normal;
        background-color: $secondary;
        color: $white;
        margin-bottom: -1px;
    }
}
.badge {
    .badge-tag {

    }
}
