.pr--breadcrumb {
    background-color: $white;
    border-radius: 0;
    margin-bottom: 0;
    flex: 1;
    //box-shadow: $box-shadow-sm;

    @include media-breakpoint-down(sm) {
        padding-left: 0;
        padding-right: 0;
    }
    .breadcrumb-item {

        white-space: nowrap;
        overflow: hidden;
        max-width: 40%;
        text-overflow: ellipsis;
        @include media-breakpoint-down(sm) {
            padding-left: .5rem;
            max-width: 140px;
            &:first-child {
                padding-left: 0;
                margin-left: 15px;
            }
        }
        a.disabled {
            color: $text-muted;
            pointer-events: none;
            cursor: default;
            &:hover {
                text-decoration: none;
            }
        }
    }
    &.__count-1 {
        .breadcrumb-item {
            max-width: 75%;
        }
    }
    //@include media-breakpoint-down(sm) {
    //    .breadcrumb-item:first-child {
    //        margin-left: 1rem;
    //    }
    //}
}
.pr--breadcrumb-container {
    background-color: $white;
    box-shadow: $box-shadow-sm;
}
