.btn {
    .svg-inline--fa {
        margin-right: .25rem;
    }
}
.input-group-append {
    .btn {
        z-index: 1;
        .svg-inline--fa {
            margin-right: 0;
        }
    }
}
.btn.btn-sm.btn-icon {
    .svg-inline--fa {
        font-size: 14px;
        //margin: 0 1px -2px 1px;
    }
}

.btn.btn-icon {
    .svg-inline--fa {
        margin: 0;
        margin-bottom: -1px;
        //vertical-align: middle;
    }
    &.btn-sm {
        .svg-inline--fa {
            //vertical-align: initial;
        }
    }
    &:focus {
        box-shadow: none;
    }
    &.__dot {
        position: relative;
        &:after {
            content: "";
            position: absolute;
            width: 6px;
            height: 6px;
            background-color: $danger;
            border-radius: 100%;
            bottom: .5rem;
            right: .5rem;
        }
    }
}
.btn.__focus-none {
    &:focus {
        box-shadow: none;
        text-decoration: none;
    }
    &.btn-link:hover {
        text-decoration: underline;
    }
}
.btn.text-dark {
    &.hover-primary:hover {
        color: $primary !important;
    }
}

.btn.__hover-primary {
    &:hover {
        color: $primary !important;
    }
    &:disabled:hover {
        color: inherit !important;
    }
}
.btn.__hover-danger {
    &:hover {
        color: $danger !important;
    }
    &:disabled:hover {
        color: inherit !important;
    }
}
.btn.__hover-success {
    &:hover {
        color: $success !important;
    }
    &:disabled:hover {
        color: inherit !important;
    }
}

.btn-facebook, .bg-facebook {
    background-color: #3b5998;
}
.btn-twitter, .bg-twitter {
    background-color: #55acee;
}
.btn-vk, .bg-vk {
    background-color: #4c75a3;
}
.btn-yandex, .bg-yandex {
    background-color: #FC3F1D;
}
.btn-whatsapp, .bg-whatsapp {
    background-color: #25d366;
}
.btn-telegram, .bg-telegram {
    background-color: #0088cc;
}
.btn-google, .bg-google {
    background-color: #4285F4;
}
.text-facebook-icon .svg-inline--fa {
    color: #3b5998;
}
.text-twitter-icon .svg-inline--fa {
    color: #55acee;
}
.text-vk-icon .svg-inline--fa {
    color: #4c75a3;
}
.text-whatsapp-icon .svg-inline--fa {
    color: #25d366;
}
.text-telegram-icon .svg-inline--fa {
    color: #0088cc;
}
.text-google-icon .svg-inline--fa {
    color: #4285F4;
}
.text-yandex-icon .svg-inline--fa {
    color: #FC3F1D;
}



.btn-sm-block {
    @include media-breakpoint-down(sm) {
        width: 100%;
    }
}
.btn--comments {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    color: $gray-600;
    &:hover {
        color: $primary;
    }
}
.btn--views {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    color: $gray-600;
    &:hover {
        color: $primary;
    }
}
.btn--share {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    color: $gray-600;
    &:hover {
        color: $primary;
    }
    .svg-inline--fa {
        font-size: 16px !important;
        max-width: 16px !important;
    }
}
.btn--drop-person {
    padding: 0;
    color: $dark;
    &:after {
        vertical-align: text-bottom !important;
        margin-left: .5rem;
    }
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.btn.btn-xs {
    padding: 0.1rem 0.4rem;
    .svg-inline--fa {
        font-size: 12px;
        max-width: 12px;
    }
}
