.pr--card {
    border: none;
    border-radius: 0;
    box-shadow: $box-shadow-sm;
    .header-title {
        text-transform: uppercase;
        letter-spacing: .02em;
        font-size: $font-size-md;
        margin-top: 0;
    }
}


.pr--card--annotation {
    border: none;
    .card-body {
        padding: 0;
    }
}
.pr--journal--numbers--card {
    border: none;
    .card-header {
        background-color: #fff;
    }
    .btn {
        border: $border-width solid $border-color;
        margin-bottom: .5rem;
    }
}
.pr--card--journal, .pr--card--release, .pr--card--release-number {
    position: relative;
    margin-bottom: 1rem;
    .--favorite {
        position: absolute;
        top: 0;
        right: 0;
        .btn {
            border: none;
            @include media-breakpoint-down(sm) {
                //padding: .75rem 1rem;
                .svg-inline--fa {
                    //font-size: $font-size-lg !important;
                }
            }
        }
    }
    .--image {
        position: relative;
        margin-bottom: .5rem;
    }
    .--access {
        position: absolute;
        bottom: 0;
        right: 0;
        .btn {
            border: none;
            @include media-breakpoint-down(sm) {
                padding: .75rem 1rem;
            }
        }
    }
    .--read {
        position: absolute;
        bottom: 0;
        right: 0;
        .btn {
            border: none;
            @include media-breakpoint-down(sm) {
                padding: .75rem 1rem;
            }
        }
    }
    h6 {
        margin-bottom: 0;
    }
}
.pr--card--release-number, .pr--card--release {
    .--image {
        width: 100%;
        min-height: 170px;
    }
}


.pr--article--list {
    //padding-bottom: 3rem;
    .pr--article--card-search:last-child {
        border-bottom: none;
    }
    &.__hr {
        .pr--article--card-search {
            padding-bottom: .5rem;
            border-bottom: $border-width solid $border-color;
            margin-bottom: .5rem;
        }
    }
}

.pr--card--order {
    border: $border-width solid $light;
    border-radius: $border-radius;
    .card-header {
        background-color: $light;
        border-bottom: none;
        &.success {
            background-color: lighten($success, 40%);
        }
        &.danger {
            background-color: lighten($danger, 40%);
        }
        &.warning {
            background-color: lighten($warning, 40%);
        }
        &.primary {
            background-color: lighten($primary, 40%);
        }
    }
}
.pr--card--article--simple {

}
