.pr--comment--container {

}
.pr--comment {
    margin-top: 1rem;
    margin-bottom: 1rem;
    &.__deleted {
        & > .--message {
            opacity: .5;
        }
    }
    &.__read-only {
        margin-top: 0;
    }
    .media {
        display: flex;
        align-items: center;
    }
    .--rating {

    }
    .--message {
        margin-top: .75rem;
        //margin-bottom: .75rem;
        p {
            margin-bottom: 0;
        }
    }
    .--children {
        .pr--comment {
            padding-left: 20px;
            margin-left: 20px;
            border-left: 1px solid $border-color;
            margin-bottom: 0;
            padding-top: 1rem;
            margin-top: 0;
        }
        .row > div:first-child {
            .pr--comment {
                padding-top: 0;
                margin-top: 1rem;
            }
        }
    }
    .--reply {
        .pr--comment {
            padding-left: 20px;
            margin-left: 20px;
            border-left: 1px solid $border-color;
            margin-bottom: 0;
            padding-top: 0;
            margin-top: 1rem;
        }
    }
    & > .media {
        .btn-comment-report {
            color: $text-muted;
            opacity: 0;
            transition: $transition-base;
        }
        &:hover {
            .btn-comment-report {
                opacity: 1;
                &:hover {
                    color: $danger;
                }
            }
        }
    }
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.line-clamp-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

//.fade {
//    position: relative;
//    height: 3.6em; /* exactly three lines */
//}
//.fade:after {
//    content: "";
//    text-align: right;
//    position: absolute;
//    bottom: 0;
//    right: 0;
//    width: 70%;
//    height: 1.2em;
//    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
//}

.last-line {
    height: 3.6em; /* exactly three lines */
    text-overflow: -o-ellipsis-lastline;
}

.ftellipsis {
    height: 3.6em;
}

.overflow {
    --max-lines: 3;
    position: relative;
    max-height: $line-height-base * 2;
    overflow: hidden;
    padding-right: 1rem;
}
.overflow::before {
    position: absolute;
    content: "...";
    bottom: 0;
    right: 0;
}
.overflow::after {
    content: "";
    position: absolute;
    right: 0;
    width: 1rem;
    height: 1rem;
    background: white;
}
