.dropdown-toggle {
    &:after {
        vertical-align: 0.155em;
        margin-left: .5rem;
    }
}

.pr--dropdown--icon {
    &.__md {
        .dropdown-toggle {
            padding: 0 .5rem;
            &:after {
                display: none;
            }
            .svg-inline--fa {
                font-size: 18px;
                vertical-align: middle;
                max-width: 18px;
                margin: 0;
            }
        }
        div.dropdown-toggle {
            .btn {
                padding: 0 .5rem;
                &:hover {
                    color: lighten($dark, 20%);
                }
            }
            padding: 0;
            border: none;
        }
    }
    &.__sm-caret {
        .dropdown-toggle {
            padding: 0 .5rem;
            &:after {
                margin-bottom: 8px;
                margin-left: 0;
            }
            .svg-inline--fa {
                font-size: 14px;
                vertical-align: middle;
                max-width: 16px;
            }
        }
        div.dropdown-toggle {
            .btn {
                padding: .375rem .75rem;
                margin-bottom: 2px;
                //height: 35px;
                vertical-align: text-bottom;
                &:hover {
                    color: lighten($dark, 20%);
                }
            }
            padding: 0;
            border: none;
        }
        &.__split {
            div.dropdown-toggle {
                .btn {
                    margin-bottom: -1px;
                    padding: 0.275rem 0.75rem;
                    padding-right: 2rem;
                    vertical-align: text-bottom;
                    &:hover {
                        color: lighten($dark, 20%);
                    }
                }
                &:after {
                    margin-left: -1.25rem;
                    margin-bottom: 6px;
                }
                padding: 0;
                border: none;
            }
        }
    }
    &.__sm {
        .dropdown-toggle {
            padding: 0 .5rem;
            &:after {
                display: none;
            }
            .svg-inline--fa {
                font-size: 14px;
                vertical-align: middle;
                max-width: 16px;
            }
        }
        div.dropdown-toggle {
            .btn {
                padding: .375rem .75rem;
                margin-bottom: 2px;
                //height: 35px;
                vertical-align: text-bottom;
                &:hover {
                    color: lighten($dark, 20%);
                }
            }
            padding: 0;
            border: none;
        }
    }
    &.__share {
        .b-dropdown-text {
            padding: 0;
            list-style: none;
            .btn {
                padding: .25rem 1.5rem .25rem 1rem;
                white-space: nowrap;
                border-radius: 0;
                text-align: left;
                &:hover {
                    color: #16181b;
                    text-decoration: none;
                    background-color: #e9ecef;
                }
                .svg-inline--fa {
                    width: 20px;
                }
            }
        }
    }
    &.__header {
        .dropdown-menu {
            //border: none;
            box-shadow: $box-shadow-sm;
            margin-top: 1rem;
            border: 1px solid $border-color;
        }
        div.dropdown-toggle {
            padding: 0;
            border: none;
        }
    }
}
.pr--dropdown--head {
    padding: 0;
    margin-bottom: -.5rem;
    h6 {
        padding: .25rem 1rem .5rem;
        margin-bottom: 0;
    }
    .--content {
        width: 240px;
    }
    .close {
        position: absolute;
        top: .5rem;
        right: .75rem;
    }
    .--d-head {
        border-bottom: 1px solid $border-color;
    }
}
.pr--dropdown--settings-style {
    .--content {
        width: 240px;
        padding: .5rem 1rem 1rem 1rem;
        .btn-group {
            width: 100%;
        }
    }
    .--font {
        .--title {
            text-transform: uppercase;
            font-weight: initial;
            font-size: 12px;
            padding-bottom: .5rem;
        }
        .btn-group {
            .btn {
                padding-top: 0;
                padding-bottom: 0;
                color: $dark;
                &.active {
                    //background-color: $primary;
                    //border-color: $primary;
                    //border-bottom-color: $primary;
                    color: $primary;
                }
            }
            .btn:nth-child(1) {
                font-size: 10px;
            }
            .btn:nth-child(2) {
                font-size: 16px;
            }
            .btn:nth-child(3) {
                font-size: 24px;
            }
        }
    }
    .--background {
        .--title {
            text-transform: uppercase;
            font-weight: initial;
            font-size: 12px;
            padding: 1rem 0 .5rem 0;
        }
    }
}
.b-dropdown-text {
    font-weight: inherit;
}
.pr--dropdown--messages {
    padding: 0;
    margin-bottom: -.5rem;
    h6 {
        padding: .25rem 1rem .5rem;
        margin-bottom: 0;
    }
    .--content {
        .--item:first-child {
            //border-top: 1px solid $border-color;
        }
    }
}
.b-dropdown {
    li {
        .dropdown-header {
            padding: 0rem 1.5rem;
        }
    }
}

.input-group-append, .input-group-prepend {
    .dropdown.btn-group > .btn {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        &.btn-light {
            padding-left: 1rem;
            padding-right: 1rem;
            border: 1px solid $input-border-color;
        }
    }
    .btn.btn-light {
        border: 1px solid $input-border-color;
    }
}
.input-group-prepend {
    .input-group-text.bg-success {
        border-left-color: $success;
        border-top-color: $success;
        border-bottom-color: $success;
    }
}
