.dropzone {
    background: $primary;
    color: #fff;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    border: 1px dashed #fff;
    transition: $transition-base;
    &:hover {
        background: lighten($primary, 5%);
    }
}
.dropzone-file {
    label, button {
        display: flex;
        align-items: center;
        justify-content: center;
        background: $primary;
        color: #fff;
        width: 100%;
        height: 50px;
        line-height: 50px;
        text-align: center;
        cursor: pointer;
        border: 1px dashed #fff;
        transition: $transition-base;
        &:hover {
            background: lighten($primary, 5%);
        }
        &:after {
            display: none;
        }
    }
}

.pr--file-editor-upload {
    button {
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
        //padding: 2rem;
        //border-radius: $border-radius-sm;
        //font-size: $font-size-md;
        //background: #fff;
        //box-shadow: $box-shadow-sm;
        //text-align: center;
    }
    .b-form-file {
        display: none;
    }
}
