
$font-size-xs: $font-size-base * .6 !default;

.font-base {
    font-size: $font-size-base;
}
.font-xs {
    font-size: $font-size-xs;
}
.font-sm {
    font-size: $font-size-sm;
}
.font-lg {
    font-size: $font-size-base * 1.25;
}
.font-md {
    font-size: $font-size-md;
}
