.form-control.is-danger {
    border-color: $danger;
}
.custom-select.is-danger {
    border-color: $danger;
}
.form-label {
    font-size: $font-size-sm;
}
.small, small {
    font-size: $font-size-sm;
}

i.r {
    font-style: normal;
    color: $danger;
}

.form-group.is-disabled {
    position: relative;
    &:after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        background-color: #fff;
        opacity: .5;
        left: 0;
    }
}
.form-text {
    display: block;
    margin-top: .25rem;
}
.form-group {
    position: relative;
    .form-group--settings {
        position: absolute;
        top: 0;
        right: -2.5rem;
        .ce-toolbar__settings-btn {
            opacity: .6;
            &:hover {
                opacity: 1;
            }
        }
    }
}
