$pr-header-height: 54px;

.pr--header {
    height: $pr-header-height;
    position: fixed;
    width: 100%;
    z-index: 3;
    background-color: #fff;
    &__brand {

    }
    .navbar-brand {
        //
    }
    &__brand-nav {
        padding: .5rem 0;
        box-shadow: $box-shadow-sm;
        //height: 52px;
        //position: fixed;
        //width: 100%;
        form {
            @include media-breakpoint-down(sm) {
                display: none;
            }
        }
        .mobile-menu-button {
            display: none;
            @include media-breakpoint-down(sm) {
                display: block;
            }
        }
    }
    &__brand-search {

    }
    &__nav {
        @include media-breakpoint-down(xs) {
            display: none;
        }
    }
    &__nav-left, &__nav-right {
        //margin-top: 8px;
        //margin-bottom: 8px;
        .nav-link {
            color: $gray-900;
        }
        .nav-item a:hover {
            color: $primary;
        }
    }
    &__nav-left {
        @include media-breakpoint-down(sm) {
            justify-content: center;
        }
    }
    &__nav-right {
        justify-content: flex-end;
        align-items: center;
        .hr-vertical-left:last-child {
            padding-right: 0;
        }
        .--phone {
            padding-right: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            .d-icon {
                min-width: 116px;
            }
        }
        .--auth {
            //border-left: 1px solid $gray-300;
            //padding-left: 1rem;
            //padding-right: 1rem;
            .btn:first-child {
                border-right: 1px solid $gray-300;
                //margin-right: .5rem;
            }
        }
        .--basket {
            border-left: 1px solid $gray-300;
            padding-left: 1rem;
            padding-right: 0;
            .btn {
                width: 124px;
            }
        }
        //@include media-breakpoint-down(sm) {
        //    justify-content: center;
        //    flex-direction: column;
        //    align-items: stretch;
        //    justify-items: center;
        //    & > div {
        //        padding: .5rem;
        //    }
        //    .--auth, .--basket {
        //        border: none;
        //        padding-right: 1rem;
        //        .btn {
        //            width: 100%;
        //            margin-bottom: .25rem;
        //        }
        //    }
        //    .--phone {
        //        padding-right: 1rem;
        //    }
        //}
    }
    &__mobile-button {
        margin-left: 1rem;
    }
    &__brand {
        margin-left: 1rem;
        display: flex;
        align-items: center;
    }
    &__create {
        margin-left: 2rem;
        @include media-breakpoint-down(sm) {
            display: none;
        }
    }
    &__actions {
        //margin-left: 1rem;
        //margin-right: 1rem;
        @include media-breakpoint-down(sm) {
            //display: none;
        }
    }
    &__user {
        //margin-left: 1rem;
        //margin-right: 1rem;
    }
    &__nav-right {
        margin-right: 1rem;
        .--user {
            margin-left: 1rem;
        }
        .--auth {
            @include media-breakpoint-down(sm) {
                display: none;
            }
        }
    }
}
.pr--header-padding {
    padding-top: $pr-header-height;
}
