.table-commit-history {
    width: 100%;
    font-family: "Menlo", "DejaVu Sans Mono", "Liberation Mono", "Consolas", "Ubuntu Mono", "Courier New", "andale mono", "lucida console", monospace;
    border: 0;
    border-collapse: separate;
    margin: 0;
    padding: 0;
    table-layout: fixed;
    border-radius: 0 0 4px 4px;
    font-size: 12px;
    tr {
        td {
            display: block;
            margin: 0;
            padding: 0 1.25rem;
            border: 0;
            position: relative;
        }
        td.line_content.old::before {
            content: '-';
            position: absolute;
            left: 0.5em;
        }
        td.line_content.new::before {
            content: '+';
            position: absolute;
            left: 0.5em;
        }
        .code.white .line_holder .line_content.old::before {
            color: #ae979a;
        }
        .code.white .line_holder .line_content.new::before {
            color: #9bb0a1;
        }
    }
    .line_content.old {
        background-color: #fbe9eb;
    }
    .line_content.new {
        background-color: #ecfdf0;
    }
}
