span.icon-en {
    background-image: url(/svg/flags/en.svg);
    width: 22px;
    height: 22px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    margin: auto;
}
span.icon-ru {
    background-image: url(/svg/flags/ru.svg);
    width: 22px;
    height: 22px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    margin: auto;
}
