.input-group.is-danger {
    .input-group-prepend .input-group-text {
        border-left-color: $danger;
        border-top-color: $danger;
        border-bottom-color: $danger;
    }
    .form-control {
        border-top-color: $danger;
        border-bottom-color: $danger;
    }
    .input-group-append {
        button {
            border-top-color: $danger;
            border-bottom-color: $danger;
            &:last-child {
                border-right-color: $danger;
            }
        }
    }
}
