.list-none {
    list-style: none;
    //display: flex;
    //align-items: center;
    //justify-content: flex-start;
    padding: 0;

    li {
        display: inline-block;
        margin: 0;
    }

    &.__line li a {
        color: $gray-900;
        text-decoration: underline;

        &:hover {
            color: $primary;
        }
    }
}
