$header-height: 54px;

.pr--main {
    &--left {
        background-color: #fff;
        order: 0;
        @media (min-width: 768px) {
            //border-right: 1px solid $border-color;
            box-shadow: $box-shadow-sm;
            @supports (position: sticky) {
                position: sticky;
                top: 54px;
                z-index: 1;
                height: calc(100vh - #{$header-height});
                overflow-y: auto;
            }
        }
        .pr--nav-left--container .--section-menu {
            a.router-link-active {
                color: $gray-700;
                background-color: $gray-200;
                &:hover {
                    background-color: $gray-200;
                }
            }
        }
        &.hidden {
            width: 44px;
            overflow: hidden;
            position: fixed;
            left: 0;
        }
        .nav.--block {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
        .nav.--block > li {
            width: 100%;
            .svg-inline--fa:first-child {
                width: 18px;
            }
            .svg-inline--fa:last-child {
                width: 18px;
                margin-right: 0;
            }
            & > a:hover {
                text-decoration: none;
                background-color: transparent;
            }
            .collapse {
                margin-top: 4px;
                ul {
                    list-style: none;
                    padding: 0;
                    li {
                        a {
                            padding-left: 2.5rem;
                        }
                    }
                }
            }
            a, .btn {
                display: block;
                border-radius: 0;
                padding: .25rem 1.5rem;
                text-align: left;
                color: $gray-700;
                width: 100%;
                &:focus {
                    box-shadow: none;
                }
                img {
                    margin-right: .5rem;
                }
                &:hover {
                    color: $dark;
                    background-color: $gray-100;
                }
                &.active {
                    //color: $gray-700;
                    //background-color: $primary;
                    color: $dark;
                    background-color: $gray-200;
                    position: relative;
                    &:after {
                        content: "";
                        position: absolute;
                        width: 6px;
                        height: 6px;
                        background-color: $white;
                        border-radius: 100%;
                        bottom: 12px;
                        left: .65rem;
                    }
                }
                &.collapse--has-arrow {
                    ul li {
                        .svg-inline--fa:first-child {
                            width: 18px;
                        }
                    }
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .fa-chevron-left {
                        font-size: 10px;
                        transition: $transition-base;
                    }
                    &.not-collapsed {
                        .fa-chevron-left {
                            transform: rotate(-90deg);
                        }
                    }
                }
            }
        }
        .nav.--block > .active > a, .nav.--block > .active:hover > a {
            background-color: $gray-200;
        }
        &.hidden {
            .nav.--block > li a {
                padding: .25rem .5rem;
                text-align: center;
                img {
                    margin-right: 0;
                }
            }
        }
        //li a {
        //    display: block;
        //    padding: .25rem 1.5rem;
        //    font-size: 90%;
        //    color: rgba(0,0,0,.65);
        //}
    }
    &--center {
        min-height: calc(100vh - #{$header-height});
        //order: 1;
        //top: 4rem;
        //padding-top: 1rem;
        .container {
            @include media-breakpoint-down(sm) {
                max-width: 100%;
            }
            @include media-breakpoint-down(md) {
                max-width: 960px;
            }
            @include media-breakpoint-down(xl) {
                max-width: 760px;
            }
        }
    }
    &--right {
        background-color: #fff;
        order: 2;
        //padding-top: 1rem;
        //padding-bottom: 1rem;
        &.hidden {
            width: 44px;
            overflow: hidden;
            position: fixed;
            right: 0;
        }
        .nav.--block {
            padding-bottom: 1rem;
        }
        &.hidden {
            .nav.--block > li .pr--popover--icon {
                padding: .25rem .5rem;
                text-align: center;
                border-radius: 0;
                border: 1px solid transparent;
                width: 44px;
                cursor: pointer;
                img {
                    margin-right: 0;
                }
                &:hover {
                    background-color: $gray-200;
                }
            }
        }
        @supports (position: sticky) {
            position: sticky;
            top: 54px;
            height: calc(100vh - #{$header-height});
            overflow-y: auto;
            //border-left: 1px solid $border-color;
            box-shadow: $box-shadow-sm;
        }
    }
}
.pr--main--left, .pr--main--right {
    .btn--menu-switcher {
        border-radius: 0;
    }
    &:not(.hidden) {
        .btn--menu-switcher--container {
            display: flex;
            align-items: center;
            width: 100%;
        }
        .btn--menu-switcher {
            border-radius: 0;
        }
    }
    &.hidden {
        .btn--menu-switcher--container {
            position: absolute;
            display: flex;
            align-items: center;
            right: 0;
            width: 100%;
            bottom: 0;
        }
        .btn--menu-switcher {

        }
    }
}
.pr--main--center {
    &.__r-hidden {
        padding-right: 59px;
    }
    &.__l-hidden {
        padding-left: 59px;
    }
}
.pr--main {
    &--left {
        display: none;
        @include media-breakpoint-up(md) {
            display: block;
        }
    }
    &--center {
        @include media-breakpoint-down(sm) {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }
    &--right {
        display: none;
        @include media-breakpoint-up(md) {
            display: block;
        }
    }
}
.container--is-loading {
    position: relative;

    &.__table {
        height: calc(100vh - #{$header-height} - 45px - 3.5rem);
    }
}
