.pr--markdown {
    ul {
        margin-top: -1rem;
        padding-left: 1rem;
        margin-bottom: 0;
    }
    img {
        cursor: pointer;
        transition: $transition-base;
        &:hover {
            opacity: .8;
        }
    }
}

.markdown-container {
    width: 100%;
    margin-top: 5px;
    position: relative;

    .markdown-preview {
        padding: 0.5rem 0.75rem;

        pre {
            margin: 0;
        }

        p:last-child {
            margin-bottom: 0;
        }

        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.15);
    }

    .markdown-columns-toggler {
        margin-bottom: 5px;
        position: absolute;
        top: -5px;
        right: 32px;
    }
    .markdown-toggler {
        margin-bottom: 5px;
        position: absolute;
        top: -5px;
        right: 0;
    }
    .markdown-window.is-columns {
        position: fixed;
        top: 0;
        margin-right: 1rem;
        background-color: #fff;
        overflow: auto;
        height: 100%;
        //font-size: 16px;
        width: 680px;
        right: 100%;
        box-shadow: $box-shadow-sm;
        .markdown-preview {
            border: none;
            padding: 1rem;
        }
        //&:after {
        //    content: '';
        //    display: block;
        //    width: 40px;
        //    height: 40px;
        //    transform: rotate(90deg);
        //    background-color: #fff;
        //    position: absolute;
        //    right: -40px;
        //}
    }
}

.markdown-editor-buttons {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    .btn-group {
        margin-bottom: .25rem;
    }
    svg {
        cursor: pointer;
        display: inline-block;
        width: 16px;
        margin-right: 10px;
    }
    &.with-columns {
        //margin-right: 64px;
    }
    .btn-light {
        width: 30px;
        &:focus {
            outline: none;
            box-shadow: none;
        }
    }
    .btn-light.active {
        background-color: $primary;
        color: #fff;
    }
}

.is-row-group {
    .markdown-toggler {
        margin-right: 15px;
    }
}
