.vm--container {
    z-index: 1050;
}
.vm-transition--modal-search-enter-active,
.vm-transition--modal-search-leave-active {
    transition: all 100ms;
    //transition: $transition-base;
}
.vm-transition--modal-search-enter,
.vm-transition--modal-search-leave-active {
    opacity: 0;
    //transform: translateY(-20px);
}
