.pr-nav {
    margin-top: 8px;
    margin-bottom: 8px;

    .nav-link {
        color: $gray-900;
        //font-weight: bold;
        &:first-child {
        }
    }
    //
    //&.__right {
    //    justify-content: flex-end;
    //    align-items: center;
    //    .hr-vertical-left:last-child {
    //        padding-right: 0;
    //    }
    //    @include media-breakpoint-down(sm) {
    //        justify-content: center;
    //        flex-direction: column;
    //        align-items: stretch;
    //        justify-items: center;
    //        & > div {
    //            padding: .5rem;
    //        }
    //        .hr-vertical-left {
    //            border: none;
    //            .btn {
    //                width: 100%;
    //                margin-bottom: .25rem;
    //            }
    //        }
    //        .hr-vertical-left:last-child {
    //            padding-right: 1rem;
    //        }
    //    }
    //}
    //
    //&.__left {
    //    @include media-breakpoint-down(sm) {
    //        justify-content: center;
    //    }
    //}
}
//
//.pr--navbar {
//    padding: .5rem 0;
//}
//
//.nav-item a:hover {
//    color: $primary;
//}

.pr--footer-nav-block {
    .nav-link {
        &:hover {
            color: #fff;
            background-color: lighten($dark, 20%);
        }
    }
}

//.banner {
//    input[name="search"] {
//        min-width: 526px;
//        @include media-breakpoint-down(sm) {
//            min-width: 300px;
//        }
//    }
//}


.mobile-menu-button {
    cursor: pointer;
    display: flex;
    width: 38px;
    height: 38px;
    padding: 0;

    svg {
        margin-top: -1px;
        transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &.not-collapsed svg {
        transform: rotate(90deg);
    }

    path {
        transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    path:nth-child(1) {
        transform-origin: 36% 40%;
    }

    path:nth-child(2) {
        stroke-dasharray: 29 299;
    }

    path:nth-child(3) {
        transform-origin: 35% 63%;
    }

    path:nth-child(4) {
        stroke-dasharray: 29 299;
    }

    path:nth-child(5) {
        transform-origin: 61% 52%;
    }

    path:nth-child(6) {
        transform-origin: 62% 52%;
    }

    &.not-collapsed path:nth-child(1) {
        transform: translateX(9px) translateY(1px) rotate(45deg);
    }

    &.not-collapsed path:nth-child(2) {
        stroke-dasharray: 225 299;
        stroke-dashoffset: -72px;
    }

    &.not-collapsed path:nth-child(3) {
        transform: translateX(9px) translateY(1px) rotate(-45deg);
    }

    &.not-collapsed path:nth-child(4) {
        stroke-dasharray: 225 299;
        stroke-dashoffset: -72px;
    }

    &.not-collapsed path:nth-child(5) {
        transform: translateX(9px) translateY(1px) rotate(-45deg);
    }

    &.not-collapsed path:nth-child(6) {
        transform: translateX(9px) translateY(1px) rotate(45deg);
    }
}
.nav.--fx-bottom {
    //position: absolute;
    //bottom: 1rem;
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-bottom: 1rem;
    li {
        width: 100%;
    }
}
.pr--nav-left--container, .pr--nav-right--container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    //padding-bottom: 1rem;
    .nav {
        .router-link-active.router-link-exact-active {
            background-color: $gray-200;
            //color: #fff !important;
            &:hover {
                background-color: $gray-200;
            }
        }
    }
}
.pr--nav--user-content {
    border-bottom: none;
    .nav-link {
        border: none;
        font-size: $h5-font-size;
        background-color: transparent !important;
        &.active {
            color: #212529 !important;
        }
    }
}
.pr--nav-left--container {
    .--header {
        //height: 100px;
        padding: 1rem 0;
        text-align: center;
        background: #fbfbfb;
        display: flex;
        flex-direction: column;
        align-items: center;
        //border-bottom: 1px solid $border-color;
        img {
            width: 60px;
            margin: .5rem 1rem;
            border-radius: 50em;
        }
    }
    .--name {
        width: 190px;
        text-align: center;
        margin: 0 5px;
    }
}
