.pr--notification--list {
    display: flex;
    flex-direction: column;
    padding-left: .5rem;
    padding-right: .5rem;
}
.pr--notification--item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
    .--content {
        width: 100%;
    }
    .--head {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .--title {
        font-size: $font-size-md;
        font-weight: 500;
    }
    .--text {
        margin-bottom: 0;
    }
    .--date {

    }
    .--image img {
        border-radius: 100%;
        margin-right: 1rem;
    }
}
.pr--notification--toast {
    max-width: 100%;
    .toast {
        max-width: 100%;
        .close {
            &:focus {
                box-shadow: none;
                outline: none;
            }
        }
    }
    .toast-header {
        line-height: 1;
        padding: .5rem .75rem;
    }
}
