.pr--pagination {
    .page-link {
        border: none;
    }
    .page-item:not(.active) {
        .page-link {
            background-color: transparent !important;
        }
    }
    &.__button {
        .pagination {
            margin-bottom: 0;
            .page-item {
                display: none;
                &:last-child {
                    display: block;
                }
                .page-link {
                    border-radius: .25rem;
                }
            }
        }
    }
}
