.pr--popover--share {
    margin-bottom: 0;
    border-radius: $border-radius;
    .arrow, .popover-header {
        display: none;
    }
}
.pr--popover--float {
    .arrow {
        display: none;
    }
    .popover-header {
        background-color: #fff;
        border-bottom: none;
    }
}

.color-samples {
    display: flex;
    justify-content: space-between;
    .color-sample {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 12px;
        cursor: pointer;
    }

    .color-sample-dot {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        box-shadow: $box-shadow-sm;
        margin-bottom: 7px;
        background: #fff;

        &:hover {
            border: solid 2px $border-color;
        }
    }

    .color-sample-view {
        width: 36px;
        height: 36px;
        border-radius: 50%;
    }

    .color-sample-active {
        border: solid 2px $border-color;
        box-sizing: border-box;
    }
    .color-sample-view {
        &.__bg-default {
            background: #D5E0EC url(/img/pattern.png);
            //background-attachment: fixed;
            background-size: 118%;
            background-position: center;
        }

        &.__bg-white {
            background: rgb(255, 255, 255);
        }

        &.__bg-dark {
            background: rgb(48, 48, 48);
        }

        &.__bg-sepia {
            background: rgb(240, 218, 181);
        }
    }
}
.popover .arrow:after, .popover .arrow:before {
    border-bottom-color: transparent;
    border-top-color: transparent;
}
.pr--popover--comment {
    .popover-body {
        font-size: $font-size-base;
    }
}
.pr--popover--group {
    .popover-header {
        display: none;
    }
    .popover-body {
        font-size: $font-size-base;
    }
}
.pr--popover--category {
    .popover-body {
        font-size: $font-size-base;
    }
}
