.pr--rating {
    &__value {
        min-width: 20px;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    button:disabled {
        pointer-events: none;
    }
}
