.pr--image-row {
    & > div:first-child img {
        //margin-left: 0 !important;
    }
    & > div:last-child img {
        //margin-right: 0 !important;
    }
}
.pr--image-row {
    & > div {
        position: relative;
    }
    .--container {
        position: relative;
        margin: .5rem;
        box-shadow: $box-shadow-sm;
        border-radius: $border-radius-sm;
        .btn {
            border-radius: 0;
            opacity: 0;
            transition: $transition-base;
            &.btn-outline-primary {
                background-color: $gray-100;
                color: $primary;
                border: 1px solid $gray-100;
                &:hover {
                    background-color: $primary;
                    color: $white;
                    border: 1px solid $primary;
                }
            }
            &.btn-outline-danger {
                background-color: $gray-100;
                color: $danger;
                border: 1px solid $gray-100;
                &:hover {
                    background-color: $danger;
                    color: $white;
                    border: 1px solid $danger;
                }
            }
        }
        .btn.__active {
            opacity: 1;
        }
        &:hover {
            .btn.--left-top, .btn.--right-top {
                opacity: 1;
            }
        }
        .--left-top {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            &:hover {
                opacity: 1;
            }
        }
        .--right-top {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 2;
            &:hover {
                opacity: 1;
            }
        }
        .--center-bottom {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;
            opacity: 0;
            background-color: $gray-100;
            color: $dark;
            border: 1px solid $gray-100;
            &:hover {
                background-color: $gray-100;
                color: $dark;
                border: 1px solid $gray-100;
                opacity: .5;
            }
        }
    }
}
.img-default {
    width: 142px;
    height: 142px;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
