//.b-sidebar-header {
//    button {
//        //margin-right: .41rem;
//        //margin-top: 3px;
//    }
//}
.pr--sidebar--mobile {
    .b-sidebar {
        width: 400px;
    }
    .b-sidebar-header {
        strong {
            text-align: left;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            margin: 12px 1rem;
        }

        button {
            margin-top: 9px;
            margin-bottom: 9px;
            margin-right: 6px;
        }
    }

    .nav {
        .nav-item {
            text-align: left;

            &:hover {
                a {
                    color: $primary;
                }
            }

            &.active {
                a {
                    font-weight: bold;
                }
            }

            .nav-link {
                font-size: $font-size-lg;
            }
        }
    }
}

.pr--sidebar--editor {
    margin-top: 54px;
    width: 500px;
    background-color: #fff !important;
    height: calc(100vh - 54px);
    .b-sidebar-header {
        font-size: $font-size-lg;
        height: 58px;
        .close {
            //margin-right: 1rem !important;
        }
    }
}

.pr--sidebar--notifications, .pr--sidebar--settings {
    background-color: #fff !important;
    .b-sidebar-header {
        font-size: $font-size-lg;
        height: 58px;
        .close {
            //margin-right: 1rem !important;
        }
    }
    .b-sidebar {
        width: 400px;
    }
}

.pr--sidebar--panel {
    background-color: #fff !important;
    .b-sidebar-header {
        //flex-direction: row-reverse;
        font-size: $font-size-lg;
        min-height: 52px;
        .close {
            //margin-right: 1rem !important;
        }
    }
    .b-sidebar {
        width: 40%;
        transition: $transition-base;
        background-color: #fff !important;
    }
    .b-sidebar-body {
        background-color: $white;
        padding: 1rem .5rem;
    }
    .b-sidebar-footer {
        border-top: 1px solid $border-color;
    }
    .b-sidebar-header {
        border-bottom: 1px solid $border-color;
    }
    &.is-loading {
        .b-sidebar-body {
            position: relative;
            &:after {
                @include loader;
                @include center(16px);
                position: absolute;
                border-right-color: $dark;
                border-top-color: $dark;
                border-bottom-color: transparent;
                border-left-color: transparent;
            }
        }
    }
}



.pr--sidebar--search {
    //margin-top: 54px;
    width: 100%;
    //transform: translate(-50%,0%) !important;
    transform: translateY(0%) !important;
    //left: 50% !important;
    //z-index: 1 !important;
    &.slide:not(.show) {
        //transform: translate(-50%,-100%) !important;
        transform: translateY(-100%) !important;
    }
    height: initial;
    &.__results {
        height: 100%;
    }
    //background-color: transparent !important;
    .pr--sidebar--search-body {
        //background-color: $light;
    }
    input {
        border: none;
        border-bottom: 1px solid $border-color;
        border-radius: 0;
        background-color: transparent;
        font-size: $font-size-lg;
        &:focus {
            outline: none;
            box-shadow: none;
            border-bottom: 1px solid $primary;
            background-color: transparent;
        }
    }
    button {
        //font-size: $font-size-lg;
        .collapse--has-arrow {

        }
    }
    .input-group-append {
        button {
            border: none;
            border-bottom: 1px solid $border-color;
            border-radius: 0;
            background-color: transparent;
            &:hover {
                color: $primary;
            }
        }
    }
}
.b-sidebar-outer {
    //z-index: 1 !important;
}
.b-sidebar-backdrop.fade {
    height: 100% !important;
    //transition: $transition-fade;
}


.pr--search-row {
    input {
        border: none;
        border-bottom: 1px solid $border-color;
        border-radius: 0;
        background-color: transparent;
        &:focus {
            outline: none;
            box-shadow: none;
            border-bottom: 1px solid $primary;
            background-color: transparent;
        }
    }
    .input-group-append {
        button {
            border: none;
            border-bottom: 1px solid $border-color;
            border-radius: 0;
            background-color: transparent;
            &:hover {
                color: $primary;
            }
        }
    }
}
.pr--input-group--line {
    input {
        color: $dark;
        border: none;
        border-bottom: 1px solid $border-color;
        border-radius: 0;
        background-color: transparent;
        &:focus {
            outline: none;
            box-shadow: none;
            border-bottom: 1px solid $primary;
            background-color: transparent;
        }
    }
    .input-group-append {
        button {
            border: none;
            border-bottom: 1px solid $border-color;
            border-radius: 0;
            background-color: transparent;
            &:hover {
                color: $primary;
            }
        }
    }
}
