.table th, .table td {
    vertical-align: middle;
}
.table-hover tbody tr:hover {
    //color: #212529;
    background-color: #fbfbfb;
}
.table thead th {
    border-bottom: inherit;
}
.table-pending {
    position: relative;
    &:after {
        @include loader;
        @include center(16px);
        position: absolute;
        border-right-color: $dark;
        border-top-color: $dark;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    &:before {
        content: '';
        position: absolute;
        background-color: #fff;
        opacity: .5;
        width: 100%;
        height: 100%;
        display: block;
        z-index: 100;
        top: 0;
        left: 0;
    }
}
