.pr--tabs--line-border {
    border: none;
    .nav-tabs {
        border: none;
    }
    &.__bordered {
        border-bottom: 1px solid #dee2e6;
        margin-bottom: 1px;
        .nav-link {
            //border-bottom: 1px solid $border-color;
            //margin-bottom: 1px;
        }
    }
    &.__account {
        //margin-left: 1rem;
        width: 100%;
        @include media-breakpoint-down(sm) {
            flex-direction: column;
            margin-right: 1rem;
        }
    }
    .nav-link {
        border: none;
        color: $gray-900;
        position: relative;
        &:hover {
            color: $gray-600;
        }
        &.active {
            color: $primary;
            border-bottom: 2px solid $primary;
            margin-bottom: 0;
        }
        &.disabled {
            color: $text-muted;
        }
    }
    &.__line-less {
        .nav-tabs {
            padding: .5rem 1.5rem;
            //border-bottom: $border-width solid $border-color;
            .nav-item {
                margin-right: 1rem;
            }
        }
        .nav-link {
            padding: 0;
            &.active {
                border-bottom: none;
            }
        }
        .tab-pane {
            padding: .5rem 1.5rem;
        }
    }
}

.pr--tabs--line {
    border: none;
    .nav-tabs {
        border: none;
    }
    .nav-link {
        border: none;
        color: $gray-900;
        &.active {
            color: $primary;
            border-bottom: 2px solid $primary;
        }
    }
}

.pr--tabs--line-less {
    border: none;
    .nav-tabs {
        border: none;
    }
    .nav-link {
        border: none;
        color: $gray-900;
        &.active {
            color: $primary;
            border-bottom: 2px solid $primary;
        }
    }
    .nav-tabs {
        padding: .5rem 1.5rem;
        //border-bottom: $border-width solid $border-color;
        .nav-item {
            margin-right: 1rem;
        }
    }
    .nav-link {
        padding: 0;
        &.active {
            border-bottom: none;
        }
    }
    .tab-pane {
        padding: .5rem 1.5rem;
    }
}
.pr--tabs--bolder {
    border: none;
    .nav-tabs {
        border: none;
    }
    .nav-link {
        border: none;
        color: $primary;
        &.active {
            color: $gray-900;
            font-weight: bold;
        }
    }
    .nav-tabs {
        padding: .5rem 1.5rem;
        //border-bottom: $border-width solid $border-color;
        .nav-item {
            margin-right: 1rem;
        }
    }
    .nav-link {
        padding: 0;
        &.active {
            border-bottom: none;
        }
    }
    .tab-pane {
        padding: .5rem 1.5rem;
    }
}


.pr--library--journals {

}
.pr--library--articles {
    &--section {
        .year {
            text-align: center;
            font-size: $font-size-lg;
            position: relative;
            &:after {
                content: '';
                display: block;
                position: absolute;
                width: 40%;
                height: 1px;
                top: 11px;
                left: 0;
                background-color: $border-color;
            }
            &:before {
                content: '';
                display: block;
                position: absolute;
                width: 40%;
                height: 1px;
                top: 11px;
                right: 0;
                background-color: $border-color;
            }
        }
    }
}

.pr--journal--main--content {
    position: relative;
    .--access-buttons {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        @include media-breakpoint-down(sm) {
            margin-top: 1rem;
            position: relative;
            width: 100%;
            bottom: inherit;
            right: inherit;
            .btn {
                width: 100%;
                margin-bottom: .5rem;
            }
        }
    }
    .--markdown {
        padding-bottom: 3rem;
        @include media-breakpoint-down(sm) {
            padding-bottom: 0;
            text-align: justify;
        }
    }
    .--editorial {
        margin-bottom: .5rem;
        @include media-breakpoint-down(sm) {
            text-align: justify;
        }
    }
}

.pr--article--tabs {
    //border: none;
    //.nav-tabs {
    //    border: none;
    //}
    .nav-link {
        //border: none;
        color: $gray-900;
        &.active {
            //border-bottom: 2px solid $primary;
            color: $primary;
        }
    }
}

.pr--tabs--pills {

}
.pr--radio-height-center {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    label:before, label:after {
        top: 9px;
    }
}

.pr--library--journals {
    &--item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 1rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.tab-content.pr--tab--user-content {
    .pr--comment {
        background-color: #fff;
        padding: 1rem;
        box-shadow: $box-shadow-sm;
        border-radius: $border-radius-sm;
        margin-top: 0;
    }
}
.tabs {
    width: 100%;
}




.pr--tabs--subscribers-content {
    .tab-pane {
        padding-top: 0;
        padding-bottom: 0;
    }
}
.pr--tabs--subscribers-nav {
    margin-left: 1rem;
    .nav {
        background-color: #fbfbfb;
        padding: 0;
        .nav-link {
            color: $dark;
            background-color: #fbfbfb;
            border-radius: 0;
            margin-left: 1px;
            padding: .5rem 3rem .5rem 1rem;
            border-left: 1px solid $border-color;
            &:hover {
                color: $primary;
            }
            &.active {
                color: $primary;
                border-left: 2px solid $primary;
                margin-left: 0;
            }
        }
    }
}
.pr--tabs--personal-details {
    @include media-breakpoint-down(sm) {
        flex-flow: wrap-reverse;
        .pr--tabs--subscribers-nav {
            margin-bottom: 1rem;
            width: calc(100% - 1rem);
        }
    }
}
.tab-title {
    &.__error-dot {
        position: relative;
        &:after {
            content: "";
            position: absolute;
            width: 6px;
            height: 6px;
            background-color: $danger;
            border-radius: 100%;
            bottom: calc(50% - 3px);
            right: -.75rem;
        }
    }
    &.__success-dot {
        position: relative;
        &:after {
            content: "";
            position: absolute;
            width: 6px;
            height: 6px;
            background-color: $success;
            border-radius: 100%;
            bottom: calc(50% - 3px);
            right: -.75rem;
        }
    }
}


.pr--tabs--pills-side {
    @include media-breakpoint-down(sm) {
        flex-flow: wrap-reverse;
        .pr--tabs--nav {
            margin-bottom: 1rem;
            width: calc(100% - 1rem);
        }
    }
    .pr--tabs--nav {
        .nav {
            background-color: #fbfbfb;
            padding: 0;
        }
    }
    &.__end {
        .pr--tabs--nav {
            margin-left: 1rem;
            .nav .nav-link {
                color: $dark;
                background-color: #fbfbfb;
                border-radius: 0;
                margin-left: 1px;
                padding: .5rem 3rem .5rem 1rem;
                border-left: 1px solid $border-color;
                &:hover {
                    color: $primary;
                }
                &.active {
                    color: $primary;
                    border-left: 2px solid $primary;
                    margin-left: 0;
                }
            }
        }
    }
    &.__start {
        .pr--tabs--nav {
            margin-right: 1rem;
            .nav .nav-link {
                color: $dark;
                background-color: #fbfbfb;
                border-radius: 0;
                margin-right: 1px;
                padding: .5rem 3rem .5rem 1rem;
                border-right: 1px solid $border-color;
                &:hover {
                    color: $primary;
                }
                &.active {
                    color: $primary;
                    border-right: 2px solid $primary;
                    margin-right: 0;
                }
            }
        }
    }
    .pr--tabs--content {
        background-color: #fff;
        box-shadow: $box-shadow-sm;
        border-radius: $border-radius-sm;
        padding: 1rem;
        .tab-pane {
            padding: 0;
        }
    }
}

