
.title-underline {
    margin-bottom: 1rem;
    position: relative;
    display: block;
    color: $dark;

    .line {
        width: 65px;
        height: 2px;
        background: $primary;
        transition: $transition-base;
    }

    .__link {
        position: absolute;
        top: 0;
        right: 0;
        transition: $transition-base;
    }
    .__button {
        position: absolute;
        top: 0;
        right: 0;
    }
    &.__center {
        text-align: center;

    }

    &:is(a) {
        &:hover {
            text-decoration: none;
            color: lighten($dark, 20%);
            .line {
                width: 105px;
            }
            .__link {
                //transform: scale(1.25);
            }
        }
    }
}

.hr-vertical-left {
    border-left: 1px solid $gray-300;
    padding-left: 1rem;
    padding-right: 1rem;
    @include media-breakpoint-down(sm) {
        border-left: none;
    }
}

@include media-breakpoint-down(sm) {
    .border-left {
        border-left: none !important;
    }
    .border-right {
        border-right: none !important;
    }
}

.mt-05 {
    margin-top: 2px;
}
.mt-01 {
    margin-top: 1px;
}

.title-uppercase {
    text-transform: uppercase;
    font-weight: initial;
    font-size: 12px;
}
