.toasted-styled {
    font-weight: normal !important;
    font-size: $font-size-base !important;
    line-height: $line-height-base !important;
}
.toasted .primary.success, .toasted.toasted-primary.success {
    background-color: $success !important;
}
//.toasted .primary.success, .toasted.toasted-primary.success {
//    background-color: #fff !important;
//    color: $success !important;
//}
.toasted .primary.danger, .toasted.toasted-primary.danger {
    background-color: $danger !important;
}
.toasted .primary.error, .toasted.toasted-primary.error {
    background-color: $danger !important;
}
