<template>
    <BSidebar
        id="panel-panel-create"
        :title="'Создать'"
        shadow
        :backdrop="panel.placement === 'right'"
        :class="[
            'pr--sidebar--panel-panel',
            'pr--sidebar--panel-panel-create',
            'pr--sidebar--panel',
            panel.loading ? 'is-loading' : '',
        ]"
        :right="panel.placement === 'right'"
        @change="change"
    >
        <template #header="{ hide }">
            <div :class="`d-flex align-items-center justify-content-between w-100 ${panel.placement === 'left' ? 'flex-row-reverse' : ''}`">
                <PanelBaseHead
                    :hide="hide"
                    :title="panel.fields !== null && panel.fields.config.title !== undefined ? panel.fields.config.title : 'Создать'"
                    :locale="panel.fields !== null && panel.fields.config.locale !== undefined ? panel.fields.config.locale : null"
                    :placement="panel.placement"
                />
            </div>
        </template>
        <template #default="{ hide }">
            <div
                v-if="panel.role === 'create'"
                class="col-12"
            >
                <BTabs
                    v-if="panel.fields !== null"
                    nav-class="pr--tabs--line-border __bordered"
                    content-class="mt-3"
                >
                    <BTab
                        v-for="(tab, key) in panel.fields.tabs"
                        :key="tab.name"
                        :title="tab.title"
                        :active="key === 0"
                    >
                        <PanelPanelEditTabDefault
                            :model="panel.model"
                            :pending="false"
                            :item="panel.item"
                            :tab="tab"
                        />
                    </BTab>
                </BTabs>
            </div>
        </template>
        <template #footer="{ hide }">
            <div v-if="panel.fields !== null" :class="`d-flex align-items-center justify-content-start p-3 ${panel.placement === 'left' ? 'flex-row-reverse' : ''}`">
                <button
                    :class="[
                        'btn btn-primary mr-2',
                        panel.pending ? 'is-loading' : '',
                    ]"
                    type="button"
                    @click="submitButton"
                >
                    {{ $t('button.save') }}
                </button>
                <button class="btn btn-light" type="button" @click="hide">
                    Отменить
                </button>
            </div>
        </template>
    </BSidebar>
</template>

<script>

import { mapActions, mapState } from 'vuex';
import PanelPanelEditTabDefault from "./../Panel/Tab/PanelPanelEditTabDefault";
import PanelBaseHead from "../PanelBaseHead";
import {BTabs, BTab} from "bootstrap-vue/src/components/tabs";
import {BSidebar} from "bootstrap-vue/src/components/sidebar";

export default {
    name: 'PanelPanelCreate',
    components: {
        BTabs,
        BTab,
        PanelPanelEditTabDefault,
        PanelBaseHead,
        BSidebar,
    },
    data() {
        return {};
    },
    computed: mapState({
        panelMain: (state) => state.app.panel.base,
        panel: (state) => state.app.panel.panel.base,
        tableTable: (state) => state.app.table.table.base,
        //editor: (state) => state.app.editor.articles.store,
    }),
    watch: {
        'panel.created'() {
            if (this.panel.created) {
                this.$root.$emit('bv::toggle::collapse', 'panel-panel-create');
                if (this.tableTable.model !== null) {
                    // this.fetchList({
                    //     model: this.model,
                    // });
                    // if (this.editor.form.id !== undefined && this.editor.form.id !== null) {
                    //     this.reloadItem();
                    // }
                } else {
                    this.fetchReloadItem();
                }
            }
        }
    },
    mounted() {
        //
    },
    methods: {
        ...mapActions('app/panel/panel/base', ['fetchStore', 'fetchFields', 'setLocale', 'setOpened']),
        ...mapActions('app/panel/base', ['fetchReloadItem']),
        ...mapActions('app/table/table/base', ['fetchList']),
        ...mapActions('app/editor/articles/show', ['reloadItem']),
        change(value) {
            this.$root.sidebarActions().bodyOverflowHidden(value);
            this.setOpened(value);
        },
        submitButton() {
            const self = this;
            // const data = {};
            // if (self.editor.form.id !== null) {
            //     data.release_article_id = self.editor.form.id;
            // }
            const data = {
                item_model: self.panelMain.model,
                item_id: self.panelMain.item.id,
            };
            self.fetchStore(data);
        },
    }
};
</script>
