<template>
    <BSidebar
        id="panel-panel-edit"
        shadow
        :backdrop="panel.placement === 'right'"
        :class="[
            'pr--sidebar--panel-panel',
            'pr--sidebar--panel-panel-edit',
            'pr--sidebar--panel',
            panel.loading ? 'is-loading' : '',
        ]"
        :right="panel.placement === 'right'"
        @change="change"
    >
        <template #header="{ hide }">
            <div :class="`d-flex align-items-center justify-content-between w-100 ${panel.placement === 'left' ? 'flex-row-reverse' : ''}`">
                <PanelBaseHead
                    :hide="hide"
                    :title="panel.fields !== null && panel.fields.config.title !== undefined ? panel.fields.config.title : 'Редактировать'"
                    :locale="panel.fields !== null && panel.fields.config.locale !== undefined ? panel.fields.config.locale : null"
                    :placement="panel.placement"
                />
                <PanelPanelLanguagePicker
                    v-if="panel.fields !== null && panel.fields.config.translation"
                    :on-change="changeLocale"
                />
            </div>
        </template>
        <template #default="{ hide }">
            <div
                v-if="panel.role === 'edit'"
                class="col-12"
            >
                <BTabs
                    v-if="panel.item !== null && panel.fields !== null"
                    v-model="panel.tabActive.key"
                    nav-class="pr--tabs--line-border __bordered"
                    content-class="mt-3"
                    @activate-tab="tabChanged"
                >
                    <BTab
                        v-for="(tab, key) in panel.fields.tabs"
                        :key="tab.name"
                    >
                        <template #title>
                            <span class="is-loading--">{{ tabTitle(tab) }}</span>
                        </template>
                        <PanelPanelEditTabDefault
                            :model="panel.model"
                            :pending="false"
                            :item="panel.item"
                            :tab="tab"
                        />
                    </BTab>
                </BTabs>
            </div>
        </template>
        <template #footer="{ hide }">
            <div v-if="panel.item !== null && panel.fields !== null" :class="`d-flex align-items-center justify-content-start p-3 ${panel.placement === 'left' ? 'flex-row-reverse' : ''}`">
                <button
                    v-if="panel.tabActive.submit"
                    :class="[
                        'btn btn-primary mr-2',
                        panel.pending ? 'is-loading' : '',
                    ]"
                    type="button"
                    @click="submitButton"
                >
                    Сохранить
                </button>
                <button class="btn btn-light" type="button" @click="hide">
                    Отменить
                </button>
            </div>
        </template>
    </BSidebar>
</template>

<script>

import { mapActions, mapState } from 'vuex';
import PanelPanelEditTabDefault from "./Tab/PanelPanelEditTabDefault";
import PanelPanelLanguagePicker from "../PanelPanelLanguagePicker";
import PanelBaseHead from "../PanelBaseHead";
import {BTabs, BTab} from "bootstrap-vue/src/components/tabs";
import {BSidebar} from "bootstrap-vue/src/components/sidebar";

export default {
    name: 'PanelPanelEdit',
    components: {
        BTabs,
        BTab,
        PanelPanelEditTabDefault,
        PanelPanelLanguagePicker,
        PanelBaseHead,
        BSidebar,
    },
    data() {
        return {
            //
        };
    },
    computed: mapState({
        //editor: (state) => state.app.editor.articles.store,
        panelMain: (state) => state.app.panel.base,
        panel: (state) => state.app.panel.panel.base,
        tableTable: (state) => state.app.table.table.base,
    }),
    watch: {
        'panel.updated'() {
            if (this.panel.updated) {
                this.$root.$emit('bv::toggle::collapse', 'panel-panel-edit');
                if (this.tableTable.model !== null && this.panelMain.role === 'table') {
                    //
                } else {
                    this.fetchReloadItem();
                }
            }
        }
    },
    mounted() {
        //
    },
    methods: {
        ...mapActions('app/panel/panel/base', ['fetchUpdate', 'setOpened', 'setTabActiveIndex', 'fetchEdit', 'setLocale']),
        ...mapActions('app/panel/base', ['fetchReloadItem']),
        //...mapActions('app/table/base', ['fetchList']),
        ...mapActions('app/table/table/base', ['fetchList']),
        ...mapActions('app/editor/articles/show', ['reloadItem']),
        submitButton() {
            const self = this;
            self.fetchUpdate();
        },
        change(value) {
            this.$root.sidebarActions().bodyOverflowHidden(value);
            this.setOpened(value);
        },
        tabTitle(tab) {
            if (tab.name === 'image') {
                return `${tab.title} (${this.panel.item.images.length})`;
            }
            if (tab.name === 'editor_articles') {
                return `${tab.title} (${this.panel.item.editor_articles.length})`;
            }
            return tab.title;
        },
        tabChanged(index, previous) {
            this.setTabActiveIndex(index);
        },
        changeLocale() {
            this.fetchEdit({
                id: this.panel.item.id,
                model: this.panel.model,
            });
        }
    }
};
</script>
