<template>
    <ModalBasic :title="$t('auth.login.title')" :name="modal.names.login" :width="356">
        <AuthFormLogin />
        <div class="row">
            <div class="col-12">
                <div class="login-register-hr">
                    <span>
                        {{ $t('auth.login.texts.or_register') }}
                    </span>
                </div>
                <nuxt-link :to="i18nRoute().authRegister()" class="btn btn-outline-primary btn-block">
                    {{ i18nTitle().authRegister() }}
                </nuxt-link>
            </div>
        </div>
    </ModalBasic>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import ModalBasic from '../ModalBasic';
import AuthFormLogin from '../../../Auth/Form/AuthFormLogin';

export default {
    name: 'ModalAuthLogin',
    components: {
        ModalBasic,
        AuthFormLogin,
    },
    data() {
        return {

        };
    },
    computed: mapState({
        modal: 'modal',
    }),
    mounted() {

    },
    methods: {
        ...mapActions('app.modal', ['setActive', 'setCurrent']),
    }
};
</script>

<style scoped>

</style>
