<template>
    <div>
        <TheModalCommon />
        <TheSidebarCommon />
        <ThePanelCommon />
        <TheMessageCommon />
        <TheEchoCommon />
        <TheUserCommon />
        <TheRedirectCommon />
    </div>
</template>

<script>
import TheModalCommon from './Common/TheModalCommon';
import TheSidebarCommon from './Common/TheSidebarCommon';
import ThePanelCommon from './Common/ThePanelCommon';
import TheMessageCommon from './Common/TheMessageCommon';
import TheEchoCommon from './Common/TheEchoCommon';
import TheUserCommon from './Common/TheUserCommon';
import TheRedirectCommon from './Common/TheRedirectCommon';

export default {
    name: 'TheCommon',
    components: {
        TheModalCommon,
        TheSidebarCommon,
        ThePanelCommon,
        TheMessageCommon,
        TheEchoCommon,
        TheUserCommon,
        TheRedirectCommon,
    },
};
</script>
