<template>
    <div :class="`body ${panelOpened ? '__panel-opened' : ''} ${panelPanelOpened ? '__panel-panel-opened' : ''}`">
        <slot name="main" />
        <TheCommon />
    </div>
</template>

<script>
import { mapState } from 'vuex';
import TheCommon from './TheCommon';

export default {
    name: 'TheMain',
    components: {
        TheCommon,
    },
    computed: mapState({
        panelOpened: (state) => state.app.panel.base.opened,
        panelPanelOpened: (state) => state.app.panel.panel.base.opened,
    }),
    mounted() {
        const cookieApp = this.$root.cookieMiddleware(this).initial();
        this.$store.commit('app/sidebar/left', cookieApp.sidebar.left);
        this.$store.commit('app/sidebar/right', cookieApp.sidebar.right);
    }
};
</script>
