// --- Skeleton ---

$b-skeleton-background-color: rgba(0, 0, 0, 0.12) !default;
$b-skeleton-loading-cursor: default !default;
$b-skeleton-animation-duration: 1.75s !default;
$b-skeleton-text-spacing: map-get($spacers, 1) !default;
$b-skeleton-btn-width: 75px !default;

@import "~bootstrap-vue/src/components/skeleton";

// --- Sidebar ---

$b-sidebar-width: 100% !default;
$b-sidebar-transition-duration: 0.3s !default;
$b-sidebar-zindex: calc(#{$zindex-fixed} + 5) !default;
$b-sidebar-header-font-size: 1.5rem !default;
$b-sidebar-header-padding-y: $navbar-padding-y !default;
$b-sidebar-header-padding-x: $navbar-padding-x !default;


// --- Toasts ---

//// Toaster defaults
//$b-toaster-zindex: 1100 !default;
//$b-toaster-offset-top: 0.5rem !default;
//$b-toaster-offset-bottom: $b-toaster-offset-top !default;
//$b-toaster-offset-left: $b-toaster-offset-top !default;
//$b-toaster-offset-right: $b-toaster-offset-top !default;
//
//// Default toast opacity
//// Value from 0 to 1, or 0% to 100%
//// Bootstrap default is 0.85 (extracted from the `$toast-background-color` value)
//// Bootstrap does not have this as a variable, so we add it in.
//$b-toast-background-opacity: alpha($toast-background-color) !default;
//
//// Toast variant levels wrt theme color value
//$b-toast-bg-level: $alert-bg-level !default;
//$b-toast-border-level: $alert-border-level !default;
//$b-toast-color-level: $alert-color-level !default;
//
//@import "~bootstrap-vue/src/components/toast/index";

.b-toaster {
    &.b-toaster-top-right,
    &.b-toaster-top-left,
    &.b-toaster-bottom-right,
    &.b-toaster-bottom-left {
        .b-toast {
            .toast {
                height: inherit;
                border-color: $border-color;
                &:after {
                    display: none;
                }
            }
            &.b-toaster-enter-active,
            &.b-toaster-leave-active,
            &.b-toaster-move {
                transition: transform 0.175s;
                height: inherit;
                &:after {
                    display: none;
                }
            }

            &.b-toaster-enter {
                height: inherit;
                &:after {
                    display: none;
                }
            }

            &.b-toaster-enter-to,
            &.b-toaster-enter-active {
                .toast.fade {
                    // Delay the appearance of the toast until
                    // the move transition has completed
                    transition-delay: 0.175s;
                }
            }

            &.b-toaster-enter-to {
                height: inherit;
                &:after {
                    display: none;
                }
            }

            &.b-toaster-leave-active {
                position: absolute;
                transition-delay: 0.175s;

                .toast.fade {
                    transition-delay: 0s;
                    height: inherit;
                    &:after {
                        display: none;
                    }
                }
            }

            &.b-toaster-leave-to {
            }
        }
    }
}
