// Then import Bootstrap an BootstrapVue SCSS files (order is important)
@import './bootstrap';
@import './bootstrap-vue';
@import './icons';
@import './fontface';
//@import '~bootstrap-vue/src/index.scss';
//@import "~vue-toasted/dist/vue-toasted.min.css";
//@import './plugins/toasted';
@import './../plugins/vue-js-modal';
@import './../plugins/vue-tippy';
@import './../plugins/awesome-checkbox';
@import './../plugins/vue2-datepicker';
@import './../plugins/vue2-editor';
@import './../plugins/vue-multiselect';
@import './../plugins/vue-js-toggle-button';
@import './../plugins/vue-advanced-cropper';
@import './../plugins/fancybox';
@import './../plugins/splitpanes';
@import './../plugins/vue-plyr';
@import './../plugins/color-mode';
@import './../plugins/vuebar';
@import './../plugins/vue-json-viewer';
//@import './../plugins/flickity';
@import './../states/loader';
@import './../states/disabled';

@import './../components/index';
@import './../pages/index';

.pr--journal--information-text {
    p {
        //text-align: justify;
        //margin-bottom: 0;
    }
}

.vm--container {
    //display: none;
}

.btn .svg-inline--fa {
    max-width: 16px;
}
.d-icon .svg-inline--fa {
    max-width: 14px;
}
.pr--journal--fresh-page {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    //div:first-child {
    //    width: 80%;
    //    max-width: 600px;
    //}
}
.pr--release--head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include media-breakpoint-down(sm) {
        display: block;
    }
    .--actions {
        @include media-breakpoint-down(sm) {
            margin-top: .5rem;
            .btn {
                width: 100%;
                margin-bottom: .5rem;
            }
        }
    }
}
@include media-breakpoint-down(sm) {
    .pr--journal--fresh-page {
        flex-direction: column;
        & > div {
            width: 100%;
        }
        .btn {
            margin-top: 1rem;
            width: 100%;
        }
        .btn:last-child {
            margin-bottom: 1rem;
        }
    }
}

.custom-radio {
    label {
        cursor: pointer;
        &:hover {
            color: lighten($dark, 20%);
        }
    }
}
.pr--min-height {
    min-height: 700px;
    @include media-breakpoint-down(sm) {
        min-height: inherit;
    }
}
body.overflow-hidden {
    overflow: hidden;
    .pr--modal--search {
        overflow: hidden;
    }
}
