<template>
    <div v-if="text !== null" class="pr--markdown" v-html="markdown().render(text)" />
</template>

<script>

import { Fancybox } from '@fancyapps/ui';

export default {
    name: 'BaseMarkdown',
    components: {},
    props: {
        text: {
            type: [String],
            default: () => null,
        }
    },
    data() {
        return {};
    },
    mounted() {
        Fancybox.bind('.pr--markdown img', {
            on: {
                ready: (fancybox) => {
                    //console.log(`fancybox #${fancybox.id} is ready!`);
                }
            }
        });
    }
};
</script>
