<template>
    <BaseModal
        :name="'panel-upload-image'"
        :width="500"
        :head="false"
        :scrollable="true"
    >
        <ModalUploadFormBasic
            :upload="upload"
            :on-upload="onUpload"
            :is-square="panel.fields !== null && panel.tabActive.config !== undefined && panel.tabActive.config.square"
            :is-rounded="panel.fields !== null && panel.tabActive.config !== undefined && panel.tabActive.config.rounded"
        />
    </BaseModal>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import ModalUploadFormBasic from '../ModalUploadFormBasic';
import BaseModal from './../../Modal/BaseModal';

export default {
    name: 'ModalPanelUploadImage',
    components: {
        BaseModal,
        ModalUploadFormBasic,
    },
    data() {
        return {
            //
        };
    },
    computed: mapState({
        upload: (state) => state.app.panel.upload.image,
        //table: (state) => state.app.table.base,
        panel: (state) => state.app.panel.base,
    }),
    watch: {
        'upload.closeModal'() {
            const self = this;
            if (self.upload.closeModal) {
                self.modalActions().close();
            }
        }
    },
    mounted() {
        //
    },
    methods: {
        ...mapActions('app/panel/upload/image', ['fetchUploadAndUpdate']),
        onUpload(formData) {
            const self = this;
            formData.append('type', self.panel.tabActive.image);
            self.fetchUploadAndUpdate(formData);
        },
    },
};
</script>
