<template>
    <vue-modal :title="$t('modal.feed.setting.title')" :name="modal.names.settings.main_articles" :width="$device.isDesktop ? 800 : '100%'" :scrollable="true">
        <MainFormSettingsArticles />
    </vue-modal>
</template>

<script>
import { mapState } from 'vuex';
import MainFormSettingsArticles from '../../Main/Form/MainFormSettingsArticles';
import vueModal from '../ModalBasic';

export default {
    name: 'ModalSettingsMainArticles',
    components: {
        'vue-modal': vueModal,
        MainFormSettingsArticles
    },
    data() {
        return {};
    },
    computed: mapState({
        modal: state => state.modal,
    }),
    watch: {
        //
    },
    mounted() {
        //
    },
    methods: {
        //
    }
};
</script>

<style scoped>

</style>
