<template>
    <div
        class="col-12 pr--card--group pr--rounded-sm"
        :class="[
            loading ? '__progressed' : '',
        ]"
    >
        <div class="--head">
            <div class="--actions">
                <nuxt-link
                    v-if="$auth.loggedIn && group.owner.id === $auth.user.id && !group.is_author"
                    v-tippy
                    :to="i18nRoute().personalGroupArticles(group)"
                    type="button"
                    class="btn btn-link btn-sm btn-icon text-dark __hover-primary mr-1"
                    :content="`Публикации`"
                >
                    <font-awesome-icon :icon="'list'" />
                </nuxt-link>
                <ButtonEditGroup v-if="$auth.loggedIn && group.owner.id === $auth.user.id" :item="group" />
                <GroupMenuUser v-if="!group.is_author" :group="group" />
            </div>
        </div>
        <div class="--body">
            <div class="--image">
                <img :src="group.image" :alt="group.title">
            </div>
            <div>
                <h3>
                    <nuxt-link v-if="!group.is_author" :to="i18nRoute().group(group)" class="link-dark">
                        {{ group.title }}
                    </nuxt-link>
                    <span v-if="group.is_author">
                        {{ group.title }}
                    </span>
                </h3>
                <div class="--text" v-html="group.preview_description" />
                <p v-if="!group.is_author" class="--members">
                    {{ $t('basic.members-count') }}: {{ group.members.length }}
                    <br>
                    {{ $t('basic.articles-count') }}: {{ group.articles }}
                </p>
            </div>
        </div>
        <div v-if="!group.is_author" class="--footer">
            <div class="--actions">
                <ButtonViews :value="group.counters.views" />
                <ButtonComments :value="group.counters.comments" />
                <ButtonSubscribers :value="group.counters.subscribers" />
            </div>
        </div>
    </div>
</template>

<script>

import GroupMenuUser from '../Menu/GroupMenuUser';
import ButtonEditGroup from '../../../Base/Button/ButtonEditGroup';
import ButtonViews from '../../../Base/Button/ButtonViews';
import ButtonComments from '../../../Base/Button/ButtonComments';
import ButtonSubscribers from '../../../Base/Button/ButtonSubscribers';
import ButtonGroupAnchor from '../../../Base/Button/ButtonGroupAnchor';

export default {
    name: 'GroupCardBasic',
    components: {
        GroupMenuUser,
        ButtonEditGroup,
        ButtonSubscribers,
        ButtonGroupAnchor,
        ButtonComments,
        ButtonViews,
    },
    props: {
        group: {
            type: [Object],
            default: () => {},
        },
        loading: {
            type: [Boolean],
            default: () => false,
        },
    },
    data() {
        return {};
    },
    watch: {},
    mounted() {},
    methods: {},
};
</script>

<style scoped lang="scss">

</style>
