<template>
    <div
        class="col-12 pr--card--subscriber rounded-sm"
        :class="[
            '',
        ]"
    >
        <div class="--body">
            <div class="--left">
                <div class="--image">
                    <img :src="group.image" :alt="group.title">
                </div>
                <div>
                    <nuxt-link :to="i18nRoute().group(group)" class="link-dark mb-0">
                        {{ group.title }}
                    </nuxt-link>
                </div>
            </div>
            <div class="--right">
                <ButtonSubscription :item="group" :type="'group'" :sm="true" />
            </div>
        </div>
    </div>
</template>

<script>

import ButtonSubscription from '../../../Base/Button/ButtonSubscription';

export default {
    name: 'GroupCardSubscription',
    components: {
        ButtonSubscription,
    },
    props: {
        group: {
            type: [Object],
            default: () => {},
        },
    },
    data() {
        return {};
    },
    watch: {},
    mounted() {},
    methods: {},
};
</script>
