@mixin cdx-gradient-bg($color) {
    @if $enable-gradients {
        background: $color linear-gradient(180deg, mix($body-bg, $color, 15%), $color) repeat-x;
    } @else {
        background-color: $color !important;
    }
}
@mixin cdx-alert-variant($background, $border, $color) {
    color: $color !important;
    @include cdx-gradient-bg($background);
    border: 1px solid $border !important;

    hr {
        border-top-color: darken($border, 5%);
    }

    .alert-link {
        color: darken($color, 10%) !important;
    }
}

@each $color, $value in $theme-colors {
    .cdx-alert-#{$color} {
        @include cdx-alert-variant(theme-color-level($color, $alert-bg-level), theme-color-level($color, $alert-border-level), theme-color-level($color, $alert-color-level));
    }
}
