.cdx-button.cdx-attaches__button {
    font-size: $font-size-base !important;
    svg {
        margin-top: 2px;
    }
}
.cdx-block {
    padding: 0 !important;
}
.cdx-attaches {
    //margin-top: 1rem;
    margin-bottom: 1rem;
}
