.codex-editor .carousel-caption {
    left: 5px;
    width: calc(100% - 10px);
    bottom: 6px;
    padding: $input-padding-y $input-padding-x;
    border-radius: $input-border-radius;
    font-family: $input-font-family;
    font-weight: $input-font-weight;
    line-height: $input-line-height;
    color: $input-color;
    background-color: $input-bg;
    background-clip: padding-box;
    border: $input-border-width solid $input-border-color;
    @include form-control-focus($ignore-warning: true);
}
.cdxcarousel-block {
    margin-bottom: 1rem;
}
.codex-editor .carousel-item.carousel-item--empty {
    //border: 1px solid $border-color;
    //border-radius: 3px;
}
.cdx-attaches.cdx-attaches--with-file {
    box-shadow: $box-shadow-sm;
    border-radius: $border-radius-sm;
    display: flex;
    align-items: center;
    padding: 1rem;
    position: relative;
    .cdx-attaches__file-icon {
        margin-right: 1rem;
    }
    .cdx-attaches__download-button {
        position: absolute;
        right: 2rem;
    }
    .cdx-attaches__title {
        &:focus-visible {
            outline: none;
        }
    }
}
.link-tool__content.link-tool__content--rendered {
    box-shadow: $box-shadow-sm;
    border-radius: $border-radius-sm;
    padding: 1rem;
    border: none;
}
