.ce-delimiter {
    line-height: inherit !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    margin: 1rem 0 !important;
    height: 1px;
    &:before {
        content: "" !important;
        line-height: inherit !important;
        width: 100% !important;
        height: 1px !important;
        background-color: $border-color;
        margin-bottom: .85rem;
    }
}
