.embed-tool {
    margin-bottom: 1rem;
    .embed-tool__caption {
        text-align: center;
        margin-top: 1rem !important;
    }
    .cdx-input {
        padding: 0 !important;
        margin-bottom: 0 !important;
        box-shadow: none !important;
        border: none !important;
    }
    .embed-tool__caption[contentEditable="true"][data-placeholder]:empty::before {
        display: inline-table;
    }
}
