@mixin editor-icon() {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: 100%;
    position: absolute;
    top: .25rem;
    left: -1.5rem;
    margin-top: 0;
}

.ce-paragraph:after {
    //background-image: url(~assets/sprite/svg/editor/paragraph.svg);
    //@include editor-icon();
}
.ce-header:after {
    //background-image: url(~assets/sprite/svg/editor/heading.svg);
    //@include editor-icon();
}
