.image-tool {
    padding: 0 !important;
    margin-bottom: 1rem !important;
    .cdx-button {
        font-size: $font-size-base !important;
        svg {
            margin-top: -4px;
        }
    }
    .cdx-input {
        padding: 0 !important;
        margin-bottom: 0 !important;
        box-shadow: none !important;
        border: none !important;
        text-align: center;
    }
    &.image-tool--withBackground {
        padding: 1rem !important;
        background-color: #fbfbfb;
    }
    .image-tool__image {
        background: none !important;
        padding: 0 !important;
        margin-bottom: 0 !important;
        border-radius: 0 !important;
        .image-tool__image-picture {
            max-width: 50% !important;
        }
    }
    .image-tool__caption {
        margin-top: 1rem !important;
        margin-left: 1rem !important;
        margin-right: 1rem !important;
        &:before {
            width: 100% !important;
        }
        &.cdx-input {
            width: calc(100% - 2rem) !important;
        }
    }
    .image-tool__source {
        font-size: $font-size-sm;
        //margin-top: 1rem !important;
        margin-left: 1rem !important;
        margin-right: 1rem !important;
        &:before {
            width: 100% !important;
        }
        &.cdx-input {
            width: calc(100% - 2rem) !important;
        }
    }
    &.image-tool--stretched {
        .image-tool__image-picture {
            max-width: 100% !important;
        }
    }
}
.image-tool--withBackground .image-tool__image {
    padding: 1rem;
    background: #fbfbfb;
}
.ce-block.ce-block--stretched .ce-block__content {
    position: relative;
    max-width: 650px;
    margin: 0 auto;
    transition: background-color .15s ease;
}
.image-tool .image-tool__image {
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-tool-person {
    .image-tool__image-picture {
        width: 140px !important;
        height: 140px;
        border-radius: 100%;
        box-shadow: $box-shadow-sm;
        border: 1px solid $border-color;
    }
    .image-tool__caption {
        margin-top: 0 !important;
        &.__head {
            margin-top: 1rem !important;
            font-size: $font-size-md;
            font-weight: bold;
        }
    }
}
