.ce-incut {
    padding: 3rem 0 !important;
    background-color: #fbfbfb;
    margin-bottom: 1rem !important;
    .cdx-input {
        padding: 0 !important;
        margin-bottom: 0 !important;
        box-shadow: none !important;
        border: none !important;
    }
    .ce-incut__text {
        text-align: center;
        font-size: $h2-font-size;
        font-weight: 500;
    }
}
