@import './alert';
@import './delimiter';
@import './button';
@import './attaches';
@import './image';
@import './carousel';
@import './table';
@import './list';
@import './quote';
@import './warning';
@import './header';
@import './paragraph';
@import './embed';
@import './link-tool';
@import './icons';
@import './incut';
@import './audio';
@import './video';
@import './asterisks';
@import './toolbar';
@import './rubric';

.codex-editor__redactor {
    margin-right: 0 !important;
}
.ce-toolbar__content {
    .fa-microphone {
        font-size: 18px;
    }
}
.pr--editor--form-title {
    position: relative;
    max-width: 650px;
    margin: 0 auto;
    -webkit-transition: background-color .15s ease;
    transition: background-color .15s ease;
    //margin-bottom: 1rem;
    margin-bottom: 0;
    .form-group {
        margin-bottom: 0;
    }
    input {
        padding: 0;
        font-size: $h1-font-size;
        border: none;
        color: $black;
        font-weight: 500;
        &:focus {
            outline: none;
            box-shadow: none;
            color: $black;
        }
    }
    textarea {
        font-size: $h1-font-size;
    }
}
.pr--editor--form-prepend {
    position: relative;
    max-width: 650px;
    margin: 0 auto;
    -webkit-transition: background-color .15s ease;
    transition: background-color .15s ease;
    margin-bottom: 1rem;
    input {
        padding: 0;
        font-size: $font-size-base;
        border: none;
        color: $black;
        &:focus {
          outline: none;
          box-shadow: none;
          color: $black;
        }
    }
    textarea {
        padding: 0;
        resize: none;
        font-size: $font-size-base;
        border: none;
        color: $black;
        overflow: hidden !important;
        &:focus {
          outline: none;
          box-shadow: none;
          color: $black;
        }
    }
}
.pr--editor--form-title {
    textarea {
        font-size: $h1-font-size;
        color: rgba(0,0,0,.8);
        font-weight: 500;
        line-height: 1.2;
        &:focus {
            outline: none;
            box-shadow: none;
            color: rgba(0,0,0,.8);
        }
    }
}
.pr--editor--form-image {
    position: relative;
    max-width: 650px;
    margin: 0 auto;
    -webkit-transition: background-color .15s ease;
    transition: background-color .15s ease;
    //margin-bottom: 1rem;
    margin-bottom: 0;
    .b-form-file {
        margin-bottom: 0;
    }
    .b-form-file {
        padding: 0;
        font-size: $font-size-base;
        border: none;
        color: $black;
        &:focus {
            outline: none;
            box-shadow: none;
            color: $black;
        }
    }
    .pr--editor--image {
        position: relative;
        .btn {
            //display: none;
            position: absolute;
            border: none;
            opacity: 0;
            transition: $transition-base;
            border-radius: 0;
        }
        .btn.--upload {
            bottom: 0;
            left: 0;
            width: 100%;
            height: 50px;
            background-color: #ccc;
        }
        .btn.--delete {
            width: 50px;
            height: 50px;
            top: 0;
            right: 0;
            left: inherit;
            text-align: center;
            background-color: $danger;
            margin-top: 0;
            color: #fff;
        }
        &:hover {
            .btn {
                opacity: .5;
            }
        }
    }
}



.codex-editor__redactor {
    position: relative;
    &:after {
        content: "Добавить элемент";
        display: block;
        //background-color: #ccc;
        text-align: center;
        padding: 1rem;
        //opacity: .4;
        line-height: .4;
        max-width: 650px;
        margin: 0 auto;
        //margin-top: -2.75rem;
        border: 1px solid $border-color;
        border-radius: $border-radius-sm;
        color: #707684;
    }
    .ce-block:last-child:not(.ce-block--focused):not(:first-child) .ce-block__content {
        //position: relative;
        //&:after {
        //    content: 'Добавить элемент';
        //    display: block;
        //    //background-color: $light;
        //    background-color: #ccc;
        //    width: calc(100% + 1rem);
        //    height: calc(100% + 1rem);
        //    position: absolute;
        //    top: -.5rem;
        //    bottom: -.5rem;
        //    padding: 1rem;
        //    opacity: .4;
        //    line-height: .4;
        //}
    }
}
.codex-editor {
    //.ce-inline-toolbar {
    //    position: relative;
    //    &:after {
    //        content: 'Добавить элемент';
    //        display: block;
    //        //background-color: $light;
    //        background-color: #ccc;
    //        width: calc(100% + 1rem);
    //        height: calc(100% + 1rem);
    //        position: absolute;
    //        top: -.5rem;
    //        bottom: -.5rem;
    //        padding: 1rem;
    //        opacity: .4;
    //        line-height: .4;
    //    }
    //}
}
.cdx-notify__cross {
    right: 16px;
}
.ce-conversion-tool {
    .ce-conversion-tool__icon {
        border: none;
        background: transparent;
        width: 12px;
    }
}
