.link-tool__content.link-tool__content--rendered {
    //box-shadow: $box-shadow-sm !important;
    //border: none !important;
    //border-radius: $border-radius-sm !important;
}
.link-tool {
    margin-bottom: 1rem;
}
.link-tool {
    .link-tool__content {
        display: block;
        padding: 1rem;
        border-radius: $border-radius-sm;
        box-shadow: $box-shadow-sm;
        color: initial !important;
        text-decoration: none !important;
        background: #fff;
        will-change: filter;
        animation: link-in 450ms 1 cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    .link-tool__image {
        border-radius: $border-radius-sm;
        margin: 0 0 0 1rem;
        display: block !important;
    }
    .link-tool__title {
        font-size: $h5-font-size;
        font-weight: $font-weight-bold;
        line-height: $line-height-base;
        margin-bottom: 0;
    }
    .link-tool__description {
        font-size: $font-size-base;
        line-height: $line-height-base;
        margin: 0 0 1rem;
    }
    .link-tool__anchor {
        color: $gray-600;
        font-size: $font-size-sm;
    }
}
