.cdx-list {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1rem !important;
    margin-bottom: 1rem !important;
    .cdx-list__item {
        padding: 0;
        line-height: $line-height-base;
    }
}
.cdx-nested-list {
    //margin-top: -.5rem !important;
    margin-bottom: 1rem !important;
    padding-left: 1rem !important;
    &.cdx-nested-list--unordered > .cdx-nested-list__item::before {
        font-size: 1.5rem;
    }
}
