.pr--quote, .cdx-quote {
    border-left: 3px solid #00CC8F;
    color: $dark;
    font-size: $font-size-md;
    font-style: italic;
    line-height: $line-height-base;
    margin: 1rem 0 !important;
    padding: 1rem 2rem !important;
    position: relative;
    transition: 0.2s border ease-in-out;
    z-index: 0;
    width: 100%;
    .svg-inline--fa {
        position: absolute;
        top: calc(50% - 8px);
        left: -10px;
        color: #00CC8F;
    }
    &:after {
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        background-size: 16px;
        background-repeat: no-repeat;
        background-position: 100%;
        position: absolute;
        margin-top: 0;
        background-image: url('/svg/editor/quote.svg');
        top: calc(50% - 8px);
        left: -10px;
    }
    &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: -4px;
        height: 2rem;
        background-color: #fff;
        width: 5px;
        margin-top: -1rem;
    }
    cite, .cdx-quote__caption {
        display: block;
        font-size: $font-size-base;
        line-height: $line-height-base;
        margin-top: 1rem;
    }
    .cdx-input {
        padding: 0 !important;
        margin-bottom: 0 !important;
        box-shadow: none !important;
        border: none !important;
    }
    .cdx-quote__text {
        margin-bottom: 1rem !important;
        min-height: inherit;
    }
    .cdx-quote__caption {
        margin-top: 0;
    }
}
