.codex-editor--toolbox-opened .ce-block:first-child .ce-paragraph[data-placeholder]:empty::before, .codex-editor--empty .ce-block:first-child .ce-paragraph[data-placeholder]:empty:focus::before {
    opacity: 1 !important;
    content: 'Нажмите + для выбора инструмента';
}
.codex-editor.codex-editor--toolbox-opened {
    @include media-breakpoint-down(sm) {
        .ce-toolbar__actions {
            display: none;
        }
    }
}
.ce-toolbar {
    @include media-breakpoint-down(sm) {
        display: none;
        &.ce-toolbar--opened {
            display: block;
        }
    }
}
.ce-toolbar__content .ce-toolbox {
    width: calc(280px + 2rem);
    flex-flow: wrap;
    transform: inherit;
    //height: 100px;
    overflow: auto;
    //width: 150px;
    background-color: #fff;
    box-shadow: $box-shadow;
    border-radius: $border-radius-sm;
    padding: .5rem 1rem;
    .ce-toolbox__button {
        width: 140px;
        justify-content: flex-start;
        &:after {
            display: block;
            margin-left: 1rem;
        }
        svg {
            max-width: 18px;
        }
    }
    @include media-breakpoint-down(sm) {
        background-color: transparent;
        border: none;
        box-shadow: none;
        display: none;
        padding: 0 1rem;
        &.ce-toolbox--opened {
            display: block;

        }
    }
    .ce-toolbox__button[data-tool="paragraph"]:after {
        content: 'Параграф';
    }
    .ce-toolbox__button[data-tool="header"]:after {
        content: 'Заголовок';
    }
    .ce-toolbox__button[data-tool="image"]:after {
        content: 'Изображение';
    }
    .ce-toolbox__button[data-tool="carousel"]:after {
        content: 'Галерея';
    }
    .ce-toolbox__button[data-tool="attaches"]:after {
        content: 'Файл';
    }
    .ce-toolbox__button[data-tool="audio"]:after {
        content: 'Аудио-файл';
    }
    .ce-toolbox__button[data-tool="video"]:after {
        content: 'Видео-файл';
    }
    .ce-toolbox__button[data-tool="person"]:after {
        content: 'Персона';
    }
    .ce-toolbox__button[data-tool="incut"]:after {
        content: 'Врезка';
    }
    .ce-toolbox__button[data-tool="list"]:after {
        content: 'Список';
    }
    .ce-toolbox__button[data-tool="warning"]:after {
        content: 'Примечание';
    }
    .ce-toolbox__button[data-tool="alert"]:after {
        content: 'Предупреждение';
    }
    .ce-toolbox__button[data-tool="AnyButton"]:after {
        content: 'Кнопка';
    }
    .ce-toolbox__button[data-tool="checklist"]:after {
        content: 'Чек-лист';
    }
    .ce-toolbox__button[data-tool="quote"]:after {
        content: 'Цитата';
    }
    .ce-toolbox__button[data-tool="code"]:after {
        content: 'Код';
    }
    .ce-toolbox__button[data-tool="delimiter"]:after {
        content: 'Разделитель';
    }
    .ce-toolbox__button[data-tool="asterisks"]:after {
        content: 'Разделитель';
    }
    .ce-toolbox__button[data-tool="html"]:after {
        content: 'HTML-фрагмент';
    }
    .ce-toolbox__button[data-tool="table"]:after {
        content: 'Таблица';
    }
    .ce-toolbox__button[data-tool="linkTool"]:after {
        content: 'Ссылка';
    }
}
