.cdx-video {
    margin-bottom: 1rem;
    .cdx-video__input:empty {
        &:before {
            display: none;
        }
    }
    &.cdx-loader {
        border: none;
    }
}
.cdx-video--with-file .cdx-video__file {
    display: flex;
    padding: 13px 20px;
    border: 1px solid #e6e9eb;
    border-radius: 3px;
    background: #fff;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1rem;
    .cdx-video__input-holder {
        //display: none;
    }
    .cdx-video__input {
        //display: none;
    }
}
.cdx-video--with-url {
    .cdx-video__button {
        //display: none;
    }
    .cdx-video__iframe {
        margin-top: .5rem;
    }
    .cdx-video__iframe--content {
        width: 100%;
        height: 320px;
        border: none;
    }
}
.cdx-video__size {
    color: #7b7e89;
}
.cdx-video__size::after {
    content: attr(data-size);
    margin-left: 0.2em;
}
.cdx-video__input {
    display: block;
    margin-top: 1rem;
    border-radius: $border-radius-sm;
    box-shadow: $box-shadow-sm;
    color: initial !important;
    text-decoration: none !important;
    background: #fff;
    will-change: filter;
    animation: link-in 450ms 1 cubic-bezier(0.215, 0.61, 0.355, 1);
    &[contentEditable="true"][data-placeholder]::before {
        position: absolute !important;
        content: attr(data-placeholder);
        color: $input-placeholder-color;
        font-weight: normal;
        display: none;
    }
    &[contentEditable="true"][data-placeholder]:empty::before {
        display: block;
    }
    &[contentEditable="true"][data-placeholder]:empty:focus::before {
        display: none;
    }
}
.cdx-video__file-info {
    flex-grow: 8;
    max-width: calc(100% - 80px);
}
.cdx-video__download-button {
    display: flex;
    align-items: center;
}
.cdx-video__download-button svg {
    fill: #7b7e89;
}
.cdx-video__file-icon {
    margin-right: 20px;
    position: relative;
}
.cdx-video__file-icon::before {
    position: absolute;
    bottom: 7px;
    left: 8.5px;
    font-size: 8px;
    font-weight: 900;
    text-transform: uppercase;
    background: #fff;
    line-height: 150%;
    content: attr(data-extension);
}
.cdx-video__file-icon svg {
    fill: currentColor;
}
.cdx-video__size {
    color: #7b7e89;
}
.cdx-video__size::after:not(:empty) {
    content: attr(data-size);
    margin-left: 0.2em;
}
.cdx-video__title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    outline: none;
    max-width: 90%;
}
.cdx-video--loading__title, .cdx-video--loading__file-icon, .cdx-video--loading__size, .cdx-video--loading__download-button, .cdx-video--loading__button {
    opacity: 0;
    font-size: 0;
}
.cdx-video__button {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cdx-video__button svg {
    height: 14px;
    margin-top: 0;
    margin-right: 8px;
}
.cdx-video__button:hover {
    color: #393f52;
}
