.cdx-warning {
    margin-bottom: 1rem;
}
.cdx-warning {
    border-radius: $border-radius-sm;
    padding: 1rem !important;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid $border-color;
    border-left-width: .25rem;
    border-left-color: $warning;
    .cdx-warning__title {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .--icon {
            margin-right: .5rem;
        }
    }
    .cdx-warning__message {

    }
    &::before {
        background: none !important;
    }
    .cdx-input {
        padding: 0 !important;
        margin-bottom: 0 !important;
        box-shadow: none !important;
        border: none !important;
    }
}
