<template>
    <BSidebar
        id="panel-create"
        :title="'Создать'"
        shadow
        backdrop
        :class="[
            'pr--sidebar--panel',
            panel.loading ? 'is-loading' : '',
        ]"
        right
        @change="change"
    >
        <template #header="{ hide }">
            <div class="d-flex align-items-center justify-content-between w-100">
                <PanelBaseHead
                    :hide="hide"
                    :title="panel.fields !== null && panel.fields.config.title !== undefined ? panel.fields.config.title : 'Создать'"
                    :locale="panel.fields !== null && panel.fields.config.locale !== undefined ? panel.fields.config.locale : null"
                />
                <!--                <PanelLanguagePicker v-if="tableFields !== null && tableFields.config.translation" :on-change="changeLocale" />-->
            </div>
        </template>
        <template #default="{ hide }">
            <div
                v-if="panel.role === 'create'"
                class="col-12"
            >
                <BTabs
                    v-if="panel.fields !== null"
                    nav-class="pr--tabs--line-border __bordered"
                    content-class="mt-3"
                >
                    <BTab
                        v-for="(tab, key) in panel.fields.tabs"
                        :key="tab.name"
                        :title="tab.title"
                        :active="key === 0"
                    >
                        <PanelEditTabDefault
                            :model="panel.model"
                            :pending="false"
                            :item="panel.item"
                            :tab="tab"
                        />
                    </BTab>
                </BTabs>
            </div>
        </template>
        <template #footer="{ hide }">
            <div v-if="panel.fields !== null" class="d-flex align-items-center p-3">
                <button
                    :class="[
                        'btn btn-primary mr-2',
                        panel.pending ? 'is-loading' : '',
                    ]"
                    type="button"
                    @click="submitButton"
                >
                    {{ $t('button.save') }}
                </button>
                <button class="btn btn-light" type="button" @click="hide">
                    Отменить
                </button>
            </div>
        </template>
    </BSidebar>
</template>

<script>

import { mapActions, mapState } from 'vuex';
import PanelEditTabDefault from "./../Edit/Tab/PanelEditTabDefault";
import PanelBaseHead from "../PanelBaseHead";
import {BTabs, BTab} from "bootstrap-vue/src/components/tabs";
import {BSidebar} from "bootstrap-vue/src/components/sidebar";

export default {
    name: 'PanelCreate',
    components: {
        PanelEditTabDefault,
        PanelBaseHead,
        BTabs,
        BTab,
        BSidebar,
    },
    data() {
        return {};
    },
    computed: mapState({
        panel: (state) => state.app.panel.base,
        tableFields: (state) => state.app.table.base.fields,
    }),
    watch: {
        'panel.created'() {
            if (this.panel.created) {
                this.$root.$emit('bv::toggle::collapse', 'panel-create');
                // @todo TableChangedEvent
                // this.fetchList({
                //     model: this.panel.model,
                // });
            }
        },
        'panel.createdId'() {
            if (this.panel.createdId !== null) {
                this.$root.$emit('bv::toggle::collapse', 'panel-edit');
                this.setRole('edit');
                this.fetchEdit({
                    id: this.panel.createdId,
                    model: this.panel.model,
                    locale: this.panel.locale
                });
            }
        }
    },
    mounted() {
        //
    },
    methods: {
        ...mapActions('app/panel/base', ['fetchStore', 'fetchFields', 'fetchEdit', 'setLocale', 'setOpened', 'setRole']),
        ...mapActions('app/table/base', ['fetchList']),
        submitButton() {
            const self = this;
            self.fetchStore({});
        },
        changeLocale() {
            this.fetchFields({
                model: this.panel.model,
            });
        },
        change(value) {
            this.$root.sidebarActions().bodyOverflowHidden(value);
            this.setOpened(value);
        },
    }
};
</script>
