<template>
    <div class="pr--footer-socials">
        <a
            v-for="(social, key) in journal.socials"
            v-if="social.link !== null"
            :key="key"
            :href="social.link"
            class="social"
            target="_blank"
        >
            <img v-if="social.name === 'instagram'" src="~assets/sprite/svg/socials/instagram-3.svg">
            <img v-if="social.name === 'facebook'" src="~assets/sprite/svg/socials/facebook.svg">
            <img v-if="social.name === 'twitter'" src="~assets/sprite/svg/socials/twitter.svg">
            <img v-if="social.name === 'linkedin'" src="~assets/sprite/svg/socials/linkedin.svg">
            <img v-if="social.name === 'youtube'" src="~assets/sprite/svg/socials/youtube.svg">
            <img v-if="social.name === 'vk'" src="~assets/sprite/svg/socials/vk.svg">
            <img v-if="social.name === 'ok'" src="~assets/sprite/svg/socials/odnoklassniki.svg">
        </a>
    </div>
</template>

<script>

import { mapState } from 'vuex';

export default {
    name: 'FooterSocials',
    components: {
    },

    data() {
        return {

        };
    },
    computed: mapState({
        config: state => state.data.data.config,
        journal: state => state.journal.data,
    }),
    mounted() {

    },
    methods: {
    }
};
</script>

<style scoped>

</style>
