<template>
    <ul class="navbar-nav mr-auto flex-row pr--footer-nav-link d-none d-md-flex">
        <li class="nav-item mr-3">
            <nuxt-link :to="i18nRoute().pageEditorialPolicy()" class="nav-link small">
                {{ $t('route.editorial-policy') }}
            </nuxt-link>
        </li>
        <li class="nav-item mr-3">
            <nuxt-link :to="i18nRoute().pagePrivacyPolicy()" class="nav-link small">
                {{ $t('route.privacy-policy') }}
            </nuxt-link>
        </li>
        <li class="nav-item mr-3">
            <nuxt-link :to="i18nRoute().pagePublicationRules()" class="nav-link small">
                {{ $t('route.publication-rules') }}
            </nuxt-link>
        </li>
        <li class="nav-item mr-3">
            <nuxt-link :to="i18nRoute().pageDelivery()" class="nav-link small">
                {{ $t('route.delivery') }}
            </nuxt-link>
        </li>
        <li class="nav-item mr-3">
            <nuxt-link :to="i18nRoute().pageCookiesPolicy()" class="nav-link small">
                {{ $t('route.cookies-policy') }}
            </nuxt-link>
        </li>
    </ul>
</template>

<script>

import { mapState } from 'vuex';

export default {
    name: 'FooterNavSupport',
    components: {
    },

    data() {
        return {

        };
    },
    computed: mapState({
    }),
    mounted() {

    },
    methods: {
    }
};
</script>

<style scoped>

</style>
