<template>
    <ul class="nav justify-content-center pr--footer-nav-block">
        <li class="nav-item">
            <nuxt-link :to="i18nRoute().journal(journal)" class="nav-link">
                {{ i18nTitle().journal() }}
            </nuxt-link>
        </li>
        <li class="nav-item">
            <nuxt-link :to="i18nRoute().journalFresh(journal)" class="nav-link">
                {{ i18nTitle().journalFresh() }}
            </nuxt-link>
        </li>
        <li class="nav-item">
            <nuxt-link :to="i18nRoute().journalNumbers(journal)" class="nav-link">
                {{ i18nTitle().journalNumbers() }}
            </nuxt-link>
        </li>
        <li class="nav-item">
            <nuxt-link :to="i18nRoute().journalSearchOpenAccess(journal)" class="nav-link">
                {{ i18nTitle().journalOpenAccess() }}
            </nuxt-link>
        </li>
        <li v-if="journal.information_first_tab_name !== null" class="nav-item">
            <nuxt-link
                :to="i18nRoute().informationSlug(journal, journal.information_first_tab_name)"
                class="nav-link"
            >
                {{ i18nTitle().information() }}
            </nuxt-link>
        </li>
    </ul>
</template>

<script>

import { mapActions, mapState } from 'vuex';

export default {
    name: 'FooterJournalNav',
    components: {
    },

    data() {
        return {

        };
    },
    computed: mapState({
        config: state => state.data.data.config,
        search: state => state.search,
        journal: state => state.journal.data,
    }),
    mounted() {

    },
    methods: {
        ...mapActions('search', ['fetchSearchOpenAccess']),
        searchOpenArticles() {
            const self = this;
            self.fetchSearchOpenAccess({
                journal: self.journal
            });
        },
    }
};
</script>

<style scoped>

</style>
