<template>
    <nav class="nav pr--footer-nav-link">
        <nuxt-link :to="i18nRoute().index()" class="nav-link">
            {{ i18nTitle().index() }}
        </nuxt-link>
        <nuxt-link v-if="dataJournals.length > 1" :to="i18nRoute().journals()" class="nav-link">
            {{ i18nTitle().journals() }}
        </nuxt-link>
        <nuxt-link :to="i18nRoute().contacts()" class="nav-link">
            {{ i18nTitle().contacts() }}
        </nuxt-link>
        <nuxt-link :to="i18nRoute().about()" class="nav-link">
            {{ i18nTitle().about() }}
        </nuxt-link>
        <nuxt-link :to="i18nRoute().requisites()" class="nav-link">
            {{ i18nTitle().requisites() }}
        </nuxt-link>
        <nuxt-link :to="i18nRoute().sitemap()" class="nav-link">
            {{ i18nTitle().sitemap() }}
        </nuxt-link>
    </nav>
</template>

<script>

import { mapState } from 'vuex';

export default {
    name: 'FooterNav',
    components: {
    },

    data() {
        return {

        };
    },
    computed: mapState({
        config: state => state.data.data.config,
        dataJournals: state => state.data.data.journals,
    }),
    mounted() {

    },
    methods: {
    }
};
</script>

<style scoped>

</style>
