<template>
    <div class="d-flex align-items-start justify-content-end h-100 w-100">
        <div class="pr--auth-container p-sm-5 shadow-sm" :class="[{'overlay--is-loading': login.reloaded}]" style="width: 500px;">
            <div class="row">
                <div class="col-12">
                    <div class="title-underline">
                        <h3>{{ $t('auth.login.title') }}</h3>
                    </div>
                </div>
            </div>
            <AuthFormLogin />
        </div>
    </div>
</template>

<script>
import { mapState } from 'vuex';
import BodyMain from '../../components/Old/Body/BodyMain';
import AuthFormLogin from './../../components/Auth/Form/AuthFormLogin';

export default {
    name: 'AuthLogin',
    components: {
        BodyMain,
        AuthFormLogin,
    },
    layout: 'auth',
    middleware: 'guest',
    data() {
        return {};
    },
    head() {
        const self = this;
        return self.i18nSeo().authLogin();
    },
    computed: mapState({
        config: state => state.data.data.config,
        login: state => state._auth.login.form,
    }),
    watch: {},
    mounted() {
        //console.log(this);
        //this.$mixinMessage.messageNeedLoginForSearches(this);
        //console.log(this.$mScroll.scrollToArticle(1));
    },
    methods: {

    },
};
</script>
