<template>
    <div />
</template>

<script>
export default {
    name: 'Logout',
    middleware: 'auth',
    mounted() {
        this.logout();
    },
    methods: {
        async logout() {
            const self = this;
            try {
                await self.$auth.logout();
                await self.$auth.setUserToken(false);
                await self.$router.push('/');
            } catch (error) {
                //
            } finally {
                //
            }
        },
    },
};
</script>
