<template>
    <div class="d-flex align-items-start justify-content-end h-100" style="width: 100%">
        <div class="pr--auth-container p-sm-5 shadow-sm" :class="[{'overlay--is-loading': register.reloaded}]" style="width: 500px;">
            <div class="row">
                <div class="col-12">
                    <div class="title-underline">
                        <h3>{{ $t('auth.register.title') }}</h3>
                        <!--                                <div class="line" />-->
                    </div>
                </div>
            </div>
            <AuthFormRegister />
        </div>
    </div>
</template>

<script>
import { mapState } from 'vuex';
import AuthFormRegister from './../../components/Auth/Form/AuthFormRegister';

export default {
    name: 'AuthRegister',
    components: {
        AuthFormRegister,
    },
    layout: 'auth',
    middleware: 'guest',
    data() {
        return {};
    },
    head() {
        const self = this;
        return self.i18nSeo().authRegister();
    },
    computed: mapState({
        config: state => state.data.data.config,
        register: state => state._auth.register.form,
    }),
    watch: {},
    mounted() {
        const self = this;
        self.modalActions().closeIfOpen();
    },
    methods: {

    },
};
</script>

<style scoped lang="scss">

</style>
