<template>
    <LayoutsApp
        :has-create="false"
        :has-search="false"
        :model="'index'"
    >
        <template #center>
            <div class="row mt-3">
                <div class="col-12">
                    <BTabs
                        pills
                        card
                        vertical
                        start
                        :class="'pr--tabs--pills-side __start'"
                        :nav-wrapper-class="'pr--tabs--nav'"
                        :content-class="'pr--tabs--content'"
                    >
                        <BTab title="Система" active>
                            ...
                        </BTab>
                        <BTab title="Broadcasting">
                            <div v-for="(item, key) in system.data.broadcasting" :key="key">
                                {{ item.title }}
                                <div v-for="(value, key1) in item.data" :key="key1" :class="`${item.data[key1 + 1] !== undefined ? 'mb-3' : ''}`">
                                    <font-awesome-icon :icon="`circle`" :class="`text-${value.active ? 'success' : 'danger'} mr-1`" />
                                    <b>{{ value.title }}</b>
                                    <div class="text-muted" v-html="value.description" />
                                </div>
                            </div>
                        </BTab>
                        <BTab title="Каналы">
                            <div v-if="system.data.channels !== undefined && !system.data.channels.length">
                                Нет активных каналов
                            </div>
                            <div v-if="system.data.channels !== undefined && system.data.channels.length" v-for="(item, key) in system.data.channels" :key="key">
                                {{ item.name }} - {{ item.count }}
                            </div>
                        </BTab>
                        <BTab title="Очереди">
                            <div v-for="(item, key) in system.data.queues" :key="key">
                                <font-awesome-icon :icon="`circle`" :class="`text-${item.active ? 'success' : 'danger'} mr-1`" />
                                Очередь: {{ item.name }}
                            </div>
                        </BTab>
                    </BTabs>
                </div>
            </div>
        </template>
    </LayoutsApp>
</template>

<script>

import { mapActions, mapState } from 'vuex';
import LayoutsApp from "../../components/Layout/LayoutApp";
import {BTabs, BTab} from "bootstrap-vue/src/components/tabs";

export default {
    name: 'Index',
    components: {
        LayoutsApp,
        BTabs,
        BTab,
    },
    middleware: 'authenticate',
    data() {
        return {
            //
        };
    },
    computed: mapState({
        system: (state) => state.app.dev.system,
    }),
    watch: {},
    mounted() {
        this.$i18n.locale = 'ru';
        this.fetchSystem();
    },
    methods: {
        ...mapActions('app/dev/system', ['fetchSystem']),
    },
};
</script>
