<template>
    <table class="table table-borderless pr--article--info-table mb-2">
        <tbody>
            <tr>
                <td>
                    <b-skeleton width="100%" height="18px" class="mb-0" />
                </td>
                <td>
                    <b-skeleton width="100%" height="18px" class="mb-0" />
                </td>
            </tr>
        </tbody>
    </table>
</template>

<script>

export default {
    name: 'SkeletonEventTableBasic',
    components: {
        //
    },
    props: {},
    data() {
        return {};
    },
    computed: {},
    watch: {},
    mounted() {},
    methods: {},
};
</script>
