<template>
    <div class="pr--article--info-events d-block d-md-none">
        <div class="--event">
            <b-skeleton width="100%" height="18px" class="mb-2" />
            <b-skeleton width="100%" height="18px" class="mb-2" />
        </div>
    </div>
</template>

<script>

export default {
    name: 'SkeletonEventTableMobile',
    components: {
        //
    },
    props: {},
    data() {
        return {};
    },
    computed: {},
    watch: {},
    mounted() {},
    methods: {},
};
</script>
