<template>
    <div
        :class="[
            'container--is-loading',
            loadingText ? '__textable' : '',
            `__${role}`,
        ]"
        :style="height !== null ? {
            height: `${height}px`,
        } : {}"
    >
        <span
            v-if="loadingText"
            class="--text"
        >{{ text }}</span>
    </div>
</template>

<script>

export default {
    name: 'BasePreloader',
    props: {
        text: {
            type: [String],
            default: () => 'Идет загрузка'
        },
        loadingText: {
            type: [Boolean],
            default: () => false
        },
        role: {
            type: [String],
            default: () => 'default'
        },
        height: {
            type: [Number],
            default: () => null
        }
    }
};
</script>
