<template>
    <div v-if="!hidden" class="cookie-box">
        <div class="__description">
            Продолжая использовать наш сайт, вы даете согласие на обработку файлов cookie, которые обеспечивают правильную работу сайта.
        </div>
        <div>
            <button type="button" class="btn btn-primary" @click="accept">
                Подтверждаю
            </button>
        </div>
    </div>
</template>
<script>
export default {
    name: 'CookieBar',
    data() {
        return {
            hidden: true,
        };
    },
    mounted() {
        const self = this;
        const value = self.cookieActions().getAccepts();
        if (value !== 1) {
            self.hidden = false;
        }
    },
    methods: {
        accept() {
            const self = this;
            self.cookieActions().setAccepts();
            self.hidden = true;
        }
    }
};
</script>
