<template>
    <div :class="['is-loading', loadingText ? '__textable' : '']">
        <span v-if="loadingText" class="--text">{{ text }}</span>
    </div>
</template>
<script>
export default {
    name: 'Preloader',
    props: {
        text: {
            type: [String],
            default: () => 'Идет загрузка...'
        },
        loadingText: {
            type: [Boolean],
            default: () => false
        }
    }
};
</script>
