<template>
    <b-sidebar id="mobile-menu" title="Меню" shadow backdrop class="pr--sidebar--mobile">
        <template #default="{ hide }">
            <div class="">
                <ul class="nav pr-nav flex-column">
                    <li class="nav-item">
                        <nuxt-link :to="i18nRoute().index()" class="nav-link">
                            {{ i18nTitle().index() }}
                        </nuxt-link>
                    </li>
                    <li class="nav-item">
                        <nuxt-link :to="i18nRoute().journals()" class="nav-link">
                            {{ i18nTitle().journals() }}
                        </nuxt-link>
                    </li>
                    <li class="nav-item">
                        <nuxt-link :to="i18nRoute().about()" class="nav-link">
                            {{ i18nTitle().about() }}
                        </nuxt-link>
                    </li>
                    <li class="nav-item">
                        <nuxt-link :to="i18nRoute().contacts()" class="nav-link">
                            {{ i18nTitle().contacts() }}
                        </nuxt-link>
                    </li>
                </ul>
                <hr>
                <ul class="nav pr-nav flex-column">
                    <li class="nav-item">
                        <nuxt-link :to="i18nRoute().journal(journal)" class="nav-link" :class="[$route.path.endsWith(i18nRoute().journal(journal)) ? 'active' : '']">
                            {{ i18nTitle().journal() }}
                        </nuxt-link>
                    </li>
                    <li v-if="journal.release_last !== undefined" class="nav-item">
                        <nuxt-link :to="i18nRoute().journalFresh(journal)" class="nav-link" :class="[$route.path.endsWith(i18nRoute().journalFresh(journal)) ? 'active' : '']">
                            {{ i18nTitle().journalFresh() }}
                        </nuxt-link>
                    </li>
                    <li class="nav-item">
                        <nuxt-link :to="i18nRoute().journalNumbers(journal)" class="nav-link" :class="[$route.path.endsWith(i18nRoute().journalNumbers(journal)) ? 'active' : '']">
                            {{ i18nTitle().journalNumbers() }}
                        </nuxt-link>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" role="button" :class="[$route.path.endsWith(i18nRoute().search()) ? 'active' : '']" @click="searchOpenArticles">
                            {{ i18nTitle().journalOpenAccess() }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <nuxt-link :to="i18nRoute().journalInformation(journal)" class="nav-link" :class="[$route.path.endsWith(i18nRoute().journalInformation(journal)) ? 'active' : '']">
                            {{ i18nTitle().information() }}
                        </nuxt-link>
                    </li>
                </ul>
                <hr v-if="$auth.loggedIn">
                <ul v-if="$auth.loggedIn" class="nav pr-nav flex-column">
                    <li class="nav-item" :class="[$route.path.endsWith(i18nRoute().personalSettingsAccount()) ? 'active' : '']">
                        <nuxt-link :to="i18nRoute().personalSettingsAccount()" class="nav-link">
                            {{ i18nTitle().personalSettingsAccount() }}
                        </nuxt-link>
                    </li>
                    <li class="nav-item" :class="[$route.path.endsWith(i18nRoute().personalOrders()) ? 'active' : '']">
                        <nuxt-link :to="i18nRoute().personalOrders()" class="nav-link">
                            {{ i18nTitle().personalOrders() }}
                        </nuxt-link>
                    </li>
                    <li class="nav-item" :class="[$route.path.endsWith(i18nRoute().personalJournals()) ? 'active' : '']">
                        <nuxt-link :to="i18nRoute().personalJournals()" class="nav-link">
                            {{ i18nTitle().personalJournals() }}
                        </nuxt-link>
                    </li>
                    <li class="nav-item" :class="[$route.path.endsWith(i18nRoute().personalFavorites()) ? 'active' : '']">
                        <nuxt-link :to="i18nRoute().personalFavorites()" class="nav-link">
                            {{ i18nTitle().personalFavorites() }}
                        </nuxt-link>
                    </li>
                    <li class="nav-item" :class="[$route.path.endsWith(i18nRoute().personalSearches()) ? 'active' : '']">
                        <nuxt-link :to="i18nRoute().personalSearches()" class="nav-link">
                            {{ i18nTitle().personalSearches() }}
                        </nuxt-link>
                    </li>
                </ul>
                <hr v-if="$route.path.startsWith(i18nRoute().contacts())">
                <ul v-if="$route.path.startsWith(i18nRoute().contacts())" class="nav pr-nav flex-column">
                    <li class="nav-item" :class="[$route.path.endsWith(i18nRoute().contacts()) ? 'active' : '']">
                        <nuxt-link :to="i18nRoute().contacts()" class="nav-link">
                            {{ $t('route.contacts') }}
                        </nuxt-link>
                    </li>
                    <li class="nav-item" :class="[$route.path.endsWith('/contacts/map') ? 'active' : '']">
                        <nuxt-link :to="localePath('/contacts/map')" class="nav-link">
                            Карта
                        </nuxt-link>
                    </li>
                    <li class="nav-item" :class="[$route.path.endsWith('/contacts/address') ? 'active' : '']">
                        <nuxt-link :to="localePath('/contacts/address')" class="nav-link">
                            Адрес
                        </nuxt-link>
                    </li>
                </ul>
                <hr v-if="$route.path.startsWith(i18nRoute().about()) || $route.path.startsWith('/help')">
                <ul v-if="$route.path.startsWith(i18nRoute().about()) || $route.path.startsWith('/help')" class="nav pr-nav flex-column">
                    <li class="nav-item" :class="[$route.path.endsWith('/about') ? 'active' : '']">
                        <nuxt-link :to="localePath('/about')" class="nav-link">
                            {{ $t('route.about') }}
                        </nuxt-link>
                    </li>
                    <li class="nav-item" :class="[$route.path.endsWith('/help') ? 'active' : '']">
                        <nuxt-link :to="localePath('/help')" class="nav-link">
                            {{ $t('route.help') }}
                        </nuxt-link>
                    </li>
                </ul>
            </div>
        </template>
        <template #footer="{ hide }">
            <div class="d-flex align-items-center justify-content-center pb-3">
                <v-localization-switcher />
            </div>
        </template>
    </b-sidebar>
</template>

<script>

import { mapActions, mapState } from 'vuex';
import LocalizationSwitcher from '../Base/Localization/Switcher';

export default {
    name: 'SidebarMobile',
    components: {
        'v-localization-switcher': LocalizationSwitcher,
    },
    data() {
        return {

        };
    },
    computed: mapState({
        config: state => state.data.data.config,
        search: state => state.search,
        user: state => state.user.data,
        userBasket: state => state.user.basket,
        basket: state => state.basket.data,
        journal: state => state.journal.data,
    }),
    mounted() {

    },
    methods: {
        ...mapActions('search', ['fetchSearchOpenAccess']),
        searchOpenArticles() {
            const self = this;
            self.fetchSearchOpenAccess({
                journal: { id: self.journal.id, slug: self.journal.slug, title: self.journal.title },
            });
        },
    }
};
</script>

<style scoped>

</style>
