<template>
    <div :class="`d-flex align-items-center justify-content-start ${placement === 'left' ? 'flex-row-reverse' : ''}`">
        <button
            type="button"
            aria-label="Close"
            :class="`close text-dark ${placement === 'left' ? 'ml-3 mr-0' : 'mr-1'}`"
            @click="hide"
        >
            <svg
                viewBox="0 0 16 16"
                width="1em"
                height="1em"
                focusable="false"
                role="img"
                aria-label="x"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                class="bi-x b-icon bi"
            ><g><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" /></g></svg>
        </button>
        <strong v-if="titleEnabled" style="margin-top: 6px; margin-bottom: 2px;">
            {{ title }}
        </strong>
        <div v-if="locale !== null" :class="`${placement === 'left' ? 'mr-2' : 'ml-2'}`" style="margin-top: 4px; margin-bottom: 4px;">
            <span :class="`icon-${locale}`" />
        </div>
        <div v-if="fieldsPanelLoading || fieldsPanelPanelLoading" class="pr--loader is-loading ml-3" />
    </div>
</template>

<script>

import { mapActions, mapState } from 'vuex';

export default {
    name: 'PanelBaseHead',
    components: {
        //
    },
    props: {
        title: {
            type: [String],
            default: () => ''
        },
        titleEnabled: {
            type: [Boolean],
            default: () => true
        },
        locale: {
            type: [String],
            default: () => null
        },
        placement: {
            type: [String],
            default: () => 'right'
        },
        hide: {
            type: [Function],
            default: () => {}
        }
    },
    data() {
        return {};
    },
    computed: mapState({
        fieldsPanelLoading: (state) => state.app.panel.base.fieldsLoading,
        fieldsPanelPanelLoading: (state) => state.app.panel.panel.base.fieldsLoading,
    }),
    mounted() {
        //
    },
    methods: {
        //
    }
};
</script>

<style scoped>

</style>
