<template>
    <div class="d-flex align-items-center justify-content-end">
        <small
            v-if="baseLocale === 'en' && hasInfo"
            class="mr-3"
            style="flex: none;"
        >
            Английский язык на основе Русского
        </small>
        <BFormSelect
            :value="baseLocale"
            :options="[
                { id: 'ru', title: 'Русский'},
                { id: 'en', title: 'Английский'},
            ]"
            value-field="id"
            text-field="title"
            :select-size="1"
            @change="changeLocale()"
        />
    </div>
</template>

<script>

import { mapActions, mapState } from 'vuex';
import {BFormSelect} from "bootstrap-vue/src/components/form-select";

export default {
    name: 'PanelLanguagePicker',
    components: {
        BFormSelect
    },
    props: {
        locale: {
            type: [String],
            default: () => null,
        },
        hasInfo: {
            type: [Boolean],
            default: () => true,
        },
        onChange: {
            type: [Function],
            default: () => {}
        }
    },
    data() {
        return {
            //language: 'ru',
        };
    },
    computed: mapState({
        baseLocale: (state) => state.app.panel.base.locale,
    }),
    mounted() {
        if (this.locale !== null) {
            this.setLocale(this.locale);
        }
    },
    methods: {
        ...mapActions('app/panel/base', ['setLocale']),
        ...mapActions('app/table/base', ['fetchList']),
        changeLocale() {
            if (this.baseLocale === 'ru') {
                this.setLocale('en');
            } else {
                this.setLocale('ru');
            }
            this.onChange();
        }
    }
};
</script>

<style scoped>

</style>
