<template>
    <div :class="`img-default ${height < 50 ? 'font-xs' : ''} ${rounded ? 'rounded-circle' : ''}`" :style="{ height: `${height}px`, width: `${width}px` }">
        {{ text }}
    </div>
</template>

<script>

import { mapState } from 'vuex';

export default {
    name: 'BaseImgNotFound',
    components: {
    },
    props: {
        width: {
            type: [Number],
            default: () => {
                return 142;
            }
        },
        height: {
            type: [Number],
            default: () => {
                return 142;
            }
        },
        text: {
            type: [String],
            default: () => {
                return 'Not found';
            }
        },
        rounded: {
            type: [Boolean],
            default: () => {
                return false;
            }
        }
    },
    data() {
        return {};
    },
    computed: mapState({}),
    watch: {},
    mounted() {
    },
    methods: {
    },
};
</script>
