<template>
    <div>
        <button
            type="button"
            class="btn btn-primary btn-icon"
            @click="clickPdf"
        >
            <font-awesome-icon icon="file-pdf" class="mr-1" />
            Загрузить PDF
        </button>
        <button
            type="button"
            class="btn btn-primary"
            @click="clickWord"
        >
            <font-awesome-icon icon="file-word" class="mr-1" />
            Загрузить Word
        </button>
        <div class="d-none">
            <b-form-file
                ref="uploadPdfRef"
                v-model="file"
                :placeholder="$t('fields.file-placeholder')"
                :drop-placeholder="$t('fields.file-drop')"
                :browse-text="$t('fields.file-button')"
                :accept="'.pdf'"
                @change="loadImage($event)"
            />
            <b-form-file
                ref="uploadWordRef"
                v-model="file"
                :placeholder="$t('fields.file-placeholder')"
                :drop-placeholder="$t('fields.file-drop')"
                :browse-text="$t('fields.file-button')"
                :accept="'.docx'"
                @change="loadImage($event)"
            />
        </div>
        <!--        <div id="file-drag-drop">-->
        <!--            <h2>Drag And Drop</h2>-->
        <!--            <hr/>-->
        <!--            <form id="drop-form" @drop="handleFileDrop( $event )">-->
        <!--                <span class="drop-files">Drop the files here!</span>-->
        <!--            </form>-->

        <!--            <div v-for="(file, key) in files"-->
        <!--                 v-bind:key="'file-'+key"-->
        <!--                 class="file-listing">-->
        <!--                <img class="preview" v-bind:id="'drag-and-drop-preview-'+parseInt( key )"/>-->
        <!--                {{ file.name }}-->
        <!--                <div class="remove-container">-->
        <!--                    <a class="remove" v-on:click="removeFile( key )">Remove</a>-->
        <!--                </div>-->
        <!--            </div>-->

        <!--            <progress max="100" :value.prop="uploadPercentage"></progress>-->

        <!--            <a class="submit-button" v-on:click="submitFiles()" v-show="files.length > 0">Submit</a>-->
        <!--        </div>-->
    </div>
</template>

<script>

import {mapActions, mapState} from 'vuex';
import api from "../../../../api";
import axiosPanel from "../../../../plugins/common/axiosPanel";

export default {
    name: 'ButtonEditorUploadPdf',
    components: {},
    data() {
        return {
            file: null,
            dragAndDropCapable: false,
            files: [],
            uploadPercentage: 0
        };
    },
    computed: mapState({
        uid: (state) => state.app.editor.articles.store.uid,
        model: (state) => state.app.editor.articles.store.model,
        articleStore: (state) => state.app.editor.articles.store,
    }),
    watch: {},
    mounted() {
        /*
				Determine if drag and drop functionality is capable in the browser
			*/
        this.dragAndDropCapable = this.determineDragAndDropCapable();

        /*
            If drag and drop capable, then we continue to bind events to our elements.
        */
        if (this.dragAndDropCapable) {
            this.bindEvents();
        }
    },
    methods: {
        ...mapActions('app/editor/articles/store', ['setFormMerge']),
        ...mapActions('app/editor/base', ['setModePdf']),
        ...mapActions('app/editor/pdf', ['setUrl', 'setPending', 'setShowPages']),
        loadImage(event) {
            const self = this;

            const {files} = event.target;
            if (files && files[0]) {
                const blob = URL.createObjectURL(files[0]);
                console.log(files[0]);

                let urlUploadImage = self.$env.CONVERTER_API_URL + api.editor.upload;
                urlUploadImage = urlUploadImage.replace(':uid', self.uid);
                urlUploadImage = urlUploadImage.replace(':model', self.model);

                const query = new FormData();
                query.append('file', files[0]);
                self.setUrl(null);
                self.setPending(true);
                axiosPanel.post(urlUploadImage, query, function (result) {
                    console.log(result.file.url);
                    self.setFormMerge({
                        pages: null,
                    });
                    self.setUrl(result.file.url);
                    self.setModePdf();
                    self.setPending(false);
                    self.setShowPages(null);
                }, function (result) {
                    self.setPending(false);
                    console.log(result);
                });

            }
        },
        clickPdf() {
            this.$refs.uploadPdfRef.$refs.input.click();
        },
        clickWord() {
            this.$refs.uploadWordRef.$refs.input.click();
        },


        bindEvents() {
            // ['drag', 'dragstart', 'dragend', 'dragover', 'dragenter', 'dragleave', 'drop'].forEach(function (evt) {
            //     document.getElementById('drop-form').addEventListener(evt, function (e) {
            //         e.preventDefault();
            //         e.stopPropagation();
            //     }.bind(this), false);
            // }.bind(this));
        },
        handleFileDrop(event) {
            for (let i = 0; i < event.dataTransfer.files.length; i++) {
                this.files.push(event.dataTransfer.files[i]);
            }
            this.getImagePreviews();
        },
        determineDragAndDropCapable() {
            const div = document.createElement('div');
            return (('draggable' in div)
                    || ('ondragstart' in div && 'ondrop' in div))
                && 'FormData' in window
                && 'FileReader' in window;
        },
        getImagePreviews() {
            for (let i = 0; i < this.files.length; i++) {
                if (/\.(jpe?g|png|gif)$/i.test(this.files[i].name)) {
                    let reader = new FileReader();
                    reader.addEventListener("load", function () {
                        document.getElementById('drag-and-drop-preview-' + parseInt(i)).src = reader.result;
                    }.bind(this), false);
                    reader.readAsDataURL(this.files[i]);
                } else {
                    this.$nextTick(function () {
                        document.getElementById('drag-and-drop-preview-' + parseInt(i)).src = '/images/file.png';
                    });
                }
            }
        },
        removeFile(key) {
            this.files.splice(key, 1);
            this.getImagePreviews();
        },
        submitFiles() {
            let formData = new FormData();
            for (let i = 0; i < this.files.length; i++) {
                let file = this.files[i];
                formData.append('files[' + i + ']', file);
            }
            axios.post('/file-drag-drop', formData, {
                headers: {
                    'Content-Type': 'multipart/form-data'
                },
                onUploadProgress: function (progressEvent) {
                    this.uploadPercentage = parseInt(Math.round((progressEvent.loaded / progressEvent.total) * 100));
                }.bind(this)
            }
            ).then(function () {
                console.log('SUCCESS!!');
            }).catch(function () {
                console.log('FAILURE!!');
            });
        }
    },
};
</script>
