<template>
    <div class="d-inline">
        <button
            v-if="store.pending || store.success"
            type="button"
            :class="['btn btn-link text-muted mr-1']"
        >
            <font-awesome-icon
                :icon="store.success ? 'check' : 'sync-alt'"
                class="mr-1"
            />
            {{ store.success ? $t('article.save.success') : $t('article.save.processing') }}
        </button>
        <button
            v-if="store.failed"
            type="button"
            :class="['btn btn-link text-danger mr-1']"
        >
            <font-awesome-icon
                icon="exclamation-circle"
                class="mr-1"
            />
            {{ $t('article.save.error') }}
        </button>
    </div>
</template>

<script>

import { mapActions, mapState } from 'vuex';

export default {
    name: 'ButtonEditorSaveResult',
    components: {
    },
    props: {
        article: {
            type: [Object],
            default: () => null,
        },
    },
    data() {
        return {
        };
    },
    computed: mapState({
        store: (state) => state.app.editor.articles.store,
    }),
    watch: {},
    mounted() {
    },
    methods: {
        //
    },
};
</script>

<style scoped lang="scss">

</style>
