<template>
    <button
        v-if="!article.is_released"
        type="button"
        :class="[
            'btn btn-outline-success mr-1', publish.pending ? 'is-loading' : '',
        ]"
        aria-label="Publish"
        @click.prevent="submitPublish"
    >
        <font-awesome-icon
            icon="globe"
            :class="'mr-1'"
        />
        {{ $t('button.publish') }}
    </button>
</template>

<script>

import { mapActions, mapState } from 'vuex';

export default {
    name: 'ButtonEditorPublish',
    components: {
    },
    props: {
        article: {
            type: [Object],
            default: () => {},
        },
    },
    data() {
        return {
        };
    },
    computed: mapState({
        publish: (state) => state.app.editor.articles.publish,
    }),
    watch: {},
    mounted() {
    },
    methods: {
        ...mapActions('app/editor/articles/publish', ['fetchPublish']),
        submitPublish() {
            const self = this;
            self.fetchPublish({
                id: self.article.id,
            });
        }
    },
};
</script>

<style scoped lang="scss">

</style>
