<template>
    <nuxt-link
        :to="'/editor-articles'"
        :class="[
            'btn btn-light mr-1',
        ]"
    >
        <font-awesome-icon
            icon="chevron-left"
            :class="'mr-1'"
        />
        К списку
        <!--        {{ article.is_draft ? $t('article.back.drafts') : $t('article.back.publishes') }}-->
    </nuxt-link>
</template>

<script>

export default {
    name: 'ButtonEditorBack',
    props: {
        article: {
            type: [Object],
            default: () => {},
        },
    },
};
</script>
