<template>
    <button
        type="button"
        :class="['btn btn-primary mr-1', store.pending ? 'is-loading' : '']"
        aria-label="Save"
        @click.prevent="submitSave"
    >
        <font-awesome-icon
            icon="save"
            class="mr-1"
        />
        {{ article !== null && article.is_draft ? $t('button.save') : $t('button.save') }}
    </button>
</template>

<script>

import { mapActions, mapState } from 'vuex';

export default {
    name: 'ButtonEditorSave',
    components: {
    },
    props: {
        article: {
            type: [Object],
            default: () => null,
        },
    },
    data() {
        return {
        };
    },
    computed: mapState({
        blocks: (state) => state.app.editor.base.data.blocks,
        store: (state) => state.app.editor.articles.store,
    }),
    watch: {},
    mounted() {
    },
    methods: {
        ...mapActions('app/editor/articles/store', ['fetchStore']),
        submitSave() {
            const self = this;
            self.$root.sidebarActions().close();
            self.fetchStore({
                blocks: self.blocks,
            });
        },
    },
};
</script>
