<template>
    <button
        v-tippy
        type="button"
        class="btn btn-icon mr-1"
        :content="'Авторы'"
        @click="openPanel"
    >
        <font-awesome-icon
            icon="users"
            style="margin-top: 4px;"
        />
    </button>
</template>

<script>

import {mapActions, mapState} from 'vuex';

export default {
    name: 'ButtonEditorAuthors',
    components: {
        // v-b-toggle.sidebar-article-authors
    },
    props: {
        article: {
            type: [Object],
            default: () => {},
        },
    },
    data() {
        return {
        };
    },
    computed: mapState({
        editor: (state) => state.app.editor.articles.store,
    }),
    watch: {},
    mounted() {
    },
    methods: {
        ...mapActions('app/panel/base', ['setRole', 'setLocale', 'setItem', 'setModel', 'setPlacement']),
        ...mapActions('app/panel/panel/base', {
            panePanelSetPlacement: 'setPlacement',
        }),
        ...mapActions('app/table/table/base', ['fetchListInitial']),
        openPanel() {
            this.setRole('table');
            this.setPlacement('left');
            this.panePanelSetPlacement('left');
            this.setLocale('ru');
            this.setItem(this.article);
            this.setModel('editor-articles');
            this.$root.$emit('bv::toggle::collapse', 'panel-table');
            this.fetchListInitial({
                model: 'authors',
                locale: this.editor.locale,
                request: {
                    article: this.article.id,
                    limit: 100,
                    simple: 1,
                },
            });
        }
    },
};
</script>
