<template>
    <button
        type="button"
        :class="[
            'btn btn-danger mr-1', isLoading(destroy.pendingArray).basic(article.id) ? 'is-loading' : '',
        ]"
        aria-label="Delete"
        @click.prevent="modalActions().openArticleConfirmDelete(article)"
    >
        <font-awesome-icon
            icon="trash"
            :class="'mr-1'"
        />
        {{ $t('button.delete') }}
    </button>
</template>

<script>

import { mapState } from 'vuex';

export default {
    name: 'ButtonEditorDelete',
    components: {
    },
    props: {
        article: {
            type: [Object],
            default: () => {},
        },
    },
    data() {
        return {
        };
    },
    computed: mapState({
        destroy: (state) => state.app.editor.articles.destroy,
    }),
    watch: {},
    mounted() {
    },
    methods: {
    },
};
</script>

<style scoped lang="scss">

</style>
