<template>
    <div>
        <button type="button" class="btn btn-primary" @click="click">
            Загрузить
        </button>
        <div class="d-none">
            <b-form-file
                ref="uploadWordRef"
                v-model="file"
                :placeholder="$t('fields.file-placeholder')"
                :drop-placeholder="$t('fields.file-drop')"
                :browse-text="$t('fields.file-button')"
                accept=".docx"
                @change="loadImage($event)"
            />
        </div>
    </div>
</template>

<script>

import {mapActions, mapState} from 'vuex';
import api from "../../../../api";
import axiosPanel from "../../../../plugins/common/axiosPanel";

export default {
    name: 'ButtonEditorUploadWord',
    components: {},
    data() {
        return {
            file: null,
        };
    },
    computed: mapState({
        uid: (state) => state.app.editor.articles.store.uid,
        model: (state) => state.app.editor.articles.store.model,
    }),
    watch: {},
    mounted() {
        //
    },
    methods: {
        ...mapActions('app/editor/articles/store', ['setFormMerge']),
        ...mapActions('app/editor/base', ['setModePdf']),
        ...mapActions('app/editor/word', ['setUrl', 'setPending']),
        loadImage(event) {
            const self = this;

            const {files} = event.target;
            if (files && files[0]) {
                const blob = URL.createObjectURL(files[0]);
                console.log(files[0]);

                let urlUploadImage = self.$env.CONVERTER_API_URL + api.editor.upload;
                urlUploadImage = urlUploadImage.replace(':uid', self.uid);
                urlUploadImage = urlUploadImage.replace(':model', self.model);

                const query = new FormData();
                query.append('file', files[0]);
                self.setUrl(null);
                self.setPending(true);
                axiosPanel.post(urlUploadImage, query, function (result) {
                    console.log(result.file.url);
                    self.setFormMerge({
                        pages: null,
                    });
                    self.setUrl(result.file.url);
                    self.setModePdf();
                    self.setPending(false);
                }, function (result) {
                    self.setPending(false);
                    console.log(result);
                });
            }
        },
        click() {
            this.$refs.uploadWordRef.$refs.input.click();
        },
    },
};
</script>
