<template>
    <nuxt-link
        v-tippy
        :to="`/releases/${article.release.id}/articles/create`"
        class="btn btn-icon mr-1"
        :content="`Добавить новую статью`"
    >
        <span>
            <font-awesome-icon icon="plus" style="margin-top: 4px;" />
        </span>
    </nuxt-link>
</template>

<script>

import {mapActions, mapState} from 'vuex';

export default {
    name: 'ButtonEditorAdd',
    components: {
        // v-b-toggle.sidebar-article-settings
    },
    props: {
        article: {
            type: [Object],
            default: () => {},
        },
    },
    data() {
        return {
        };
    },
    computed: mapState({
        //
    }),
    watch: {},
    mounted() {
    },
    methods: {
        //
    },
};
</script>
