<template>
    <BDropdownGroup header="Пред-просмотр статьи">
        <BDropdownItem
            :active="editor.mode === 'preview'"
            @click="setModePreviewCurrent"
        >
            <span class="d-flex align-items-center justify-content-start">
                <span>{{ editor.mode !== 'preview' ? 'Включить' : 'Включено' }}</span>
            </span>
        </BDropdownItem>
    </BDropdownGroup>
</template>

<script>

import { mapActions, mapState } from 'vuex';
import api from "../../../../api";
import axiosPanel from "../../../../plugins/common/axiosPanel";
import {BDropdownGroup, BDropdownItem} from "bootstrap-vue/src/components/dropdown";

export default {
    name: 'ButtonEditorPreviewGroupPreview',
    components: {
        BDropdownGroup,
        BDropdownItem,
    },
    props: {
        article: {
            type: [Object],
            default: () => null,
        },
    },
    data() {
        return {
            url: null,
            file: null,
        };
    },
    computed: mapState({
        editor: (state) => state.app.editor.base,
    }),
    watch: {},
    mounted() {
    },
    methods: {
        ...mapActions('app/editor/base', ['setModePreview']),
        ...mapActions('app/editor/iframe', ['setWebUrl']),
        setModePreviewCurrent() {
            this.setModePreview();
            this.$root.cookieActions().setAppEditorMode('preview');
        },
    },
};
</script>
