<template>
    <BDropdownGroup :header="`Web страница ${editorIframe.url !== null ? '(установлена)' : ''}`">
        <BDropdownItem
            :active="editor.mode === 'iframe'"
            @click="setModeIframeCurrent"
        >
            <span class="d-flex align-items-center justify-content-start">
                <span>{{ editor.mode !== 'iframe' ? 'Включить' : 'Включено' }}</span>
            </span>
        </BDropdownItem>
        <BDropdownItem @click="iframeClear">
            <span class="d-flex align-items-center justify-content-start">
                <span>Загрузить новую страницу</span>
            </span>
        </BDropdownItem>
    </BDropdownGroup>
</template>

<script>

import { mapActions, mapState } from 'vuex';
import api from "../../../../api";
import axiosPanel from "../../../../plugins/common/axiosPanel";
import {BDropdownGroup, BDropdownItem} from "bootstrap-vue/src/components/dropdown";

export default {
    name: 'ButtonEditorPreviewGroupWeb',
    components: {
        BDropdownGroup,
        BDropdownItem
    },
    props: {
        article: {
            type: [Object],
            default: () => null,
        },
    },
    data() {
        return {
            url: null,
            file: null,
        };
    },
    computed: mapState({
        editor: (state) => state.app.editor.base,
        editorIframe: (state) => state.app.editor.iframe,
    }),
    watch: {},
    mounted() {
    },
    methods: {
        ...mapActions('app/editor/base', ['setModeIframe']),
        ...mapActions('app/editor/iframe', ['setWebUrl']),
        setModeIframeCurrent() {
            this.setModeIframe();
            this.$root.cookieActions().setAppEditorMode('iframe');
        },
        iframeClear() {
            this.setWebUrl(null);
        },
    },
};
</script>
