<template>
    <div class="pr--editor--preview-modes d-inline-block">
<!--        <button-->
<!--            v-tippy-->
<!--            :class="`btn btn-icon btn-sm ml-1 ${editor.mode === 'preview' ? 'text-primary' : ''}`"-->
<!--            type="button"-->
<!--            :content="'Включить просмотр статьи'"-->
<!--            @click="setModePreviewCurrent"-->
<!--        >-->
<!--            <font-awesome-icon icon="eye" />-->
<!--        </button>-->
        <BDropdown
            id="dropdown-user-menu-basic-preview"
            variant="icon"
            class="pr--dropdown--icon __sm-caret"
            toggle-tag="div"
        >
            <template #button-content>
                <button
                    v-tippy
                    :class="`btn btn-icon btn-sm ml-1`"
                    type="button"
                    :content="'Настройки для Пред-просмотра'"
                >
                    <font-awesome-icon icon="cogs" />
                </button>
            </template>
            <ButtonEditorPreviewGroupPreview :article="article" />
            <BDropdownDivider />
            <BDropdownGroup :header="`PDF/Word файл ${editorPdf.url !== null ? '(установлен)' : ''}`">
                <BDropdownItem
                    :active="editor.mode === 'pdf'"
                    @click="setModePdfCurrent"
                >
                    <span class="d-flex align-items-center justify-content-start">
                        <span>{{ editor.mode !== 'pdf' ? 'Включить' : 'Включено' }}</span>
                    </span>
                </BDropdownItem>
                <BDropdownItem @click="uploadFilePdfClick">
                    <span class="d-flex align-items-center justify-content-start">
                        <span>Загрузить PDF файл</span>
                    </span>
                </BDropdownItem>
                <BDropdownItem @click="uploadFileWordClick">
                    <span class="d-flex align-items-center justify-content-start">
                        <span>Загрузить Word файл</span>
                    </span>
                </BDropdownItem>
                <BDropdownItem
                    :disabled="editor.mode !== 'pdf' || editorPdf.url === null"
                    @click="pdfClear"
                >
                    <span class="d-flex align-items-center justify-content-start">
                        <span>Очистить</span>
                    </span>
                </BDropdownItem>
                <BDropdownItem
                    :disabled="editor.mode !== 'pdf' || editorPdf.url === null"
                    @click="modalActions().open('modal-editor-pdf-options')"
                >
                    <span class="d-flex align-items-center justify-content-start">
                        <span>Настройки копирования</span>
                    </span>
                </BDropdownItem>
            </BDropdownGroup>
            <BDropdownDivider />
            <ButtonEditorPreviewGroupWeb :article="article" />
<!--            <BDropdownDivider />-->
<!--            <BDropdownGroup :header="`Word файл ${editorWord.url !== null ? '(установлен)' : ''}`">-->
<!--                <BDropdownItem-->
<!--                    :active="editor.mode === 'word'"-->
<!--                    @click="setModeWordCurrent"-->
<!--                >-->
<!--                    <span class="d-flex align-items-center justify-content-start">-->
<!--                        <span>{{ editor.mode !== 'word' ? 'Включить' : 'Включено' }}</span>-->
<!--                    </span>-->
<!--                </BDropdownItem>-->
<!--                <BDropdownItem @click="uploadFileWordClick">-->
<!--                    <span class="d-flex align-items-center justify-content-start">-->
<!--                        <span>Загрузить новый файл</span>-->
<!--                    </span>-->
<!--                </BDropdownItem>-->
<!--                <BDropdownItem-->
<!--                    :disabled="editor.mode !== 'word' || editorWord.url === null"-->
<!--                    @click="pdfClear"-->
<!--                >-->
<!--                    <span class="d-flex align-items-center justify-content-start">-->
<!--                        <span>Очистить</span>-->
<!--                    </span>-->
<!--                </BDropdownItem>-->
<!--            </BDropdownGroup>-->
        </BDropdown>
        <div class="d-none">
            <b-form-file
                ref="uploadPdf"
                v-model="file"
                :placeholder="$t('fields.file-placeholder')"
                :drop-placeholder="$t('fields.file-drop')"
                :browse-text="$t('fields.file-button')"
                accept=".pdf"
                @change="loadImage($event)"
            />
            <b-form-file
                ref="uploadWord"
                v-model="file"
                :placeholder="$t('fields.file-placeholder')"
                :drop-placeholder="$t('fields.file-drop')"
                :browse-text="$t('fields.file-button')"
                accept=".docx"
                @change="loadImage($event)"
            />
        </div>
        <BaseModalPdfOptions />
    </div>
</template>

<script>

import { mapActions, mapState } from 'vuex';
import api from "../../../../api";
import axiosPanel from "../../../../plugins/common/axiosPanel";
import ButtonEditorPreviewGroupWeb from "./ButtonEditorPreviewGroupWeb";
import ButtonEditorPreviewGroupPreview from "./ButtonEditorPreviewGroupPreview";
import {BDropdown, BDropdownGroup, BDropdownItem, BDropdownDivider} from "bootstrap-vue/src/components/dropdown";
import BaseModalPdfOptions from "../../Modal/Editor/BaseModalPdfOptions";

export default {
    name: 'ButtonEditorPreviewSettings',
    components: {
        ButtonEditorPreviewGroupWeb,
        ButtonEditorPreviewGroupPreview,
        BDropdown,
        BDropdownGroup,
        BDropdownItem,
        BDropdownDivider,
        BaseModalPdfOptions,
    },
    props: {
        article: {
            type: [Object],
            default: () => null,
        },
    },
    data() {
        return {
            url: null,
            file: null,
        };
    },
    computed: mapState({
        editor: (state) => state.app.editor.base,
        editorPdf: (state) => state.app.editor.pdf,
        editorWord: (state) => state.app.editor.word,
        uid: (state) => state.app.editor.articles.store.uid,
        model: (state) => state.app.editor.articles.store.model,
        articleStore: (state) => state.app.editor.articles.store,
    }),
    watch: {},
    mounted() {
    },
    methods: {
        ...mapActions('app/editor/base', ['setModeIframe', 'setModePdf', 'setModePreview', 'setModeWord']),
        ...mapActions('app/editor/pdf', ['setUrl', 'setPending', 'setShowPages']),
        ...mapActions('app/editor/iframe', ['setWebUrl']),
        ...mapActions('app/editor/articles/store', ['setFormMerge']),
        setModePdfCurrent() {
            this.setModePdf();
            this.$root.cookieActions().setAppEditorMode('pdf');
        },
        setModeWordCurrent() {
            this.setModeWord();
            this.$root.cookieActions().setAppEditorMode('word');
        },
        setModePreviewCurrent() {
            this.setModePreview();
            this.$root.cookieActions().setAppEditorMode('preview');
        },
        pdfClear() {
            this.setUrl(null);
            // this.setFormMerge({
            //     pages: null,
            //     source_file: null,
            // });
        },
        uploadFilePdfClick() {
            const self = this;
            self.$refs.uploadPdf.$refs.input.click();
        },
        uploadFileWordClick() {
            const self = this;
            self.$refs.uploadWord.$refs.input.click();
        },
        loadImage(event) {
            const self = this;

            const { files } = event.target;
            if (files && files[0]) {
                const blob = URL.createObjectURL(files[0]);
                console.log(files[0]);

                let urlUploadImage = self.$env.CONVERTER_API_URL + api.editor.upload;
                urlUploadImage = urlUploadImage.replace(':uid', self.uid);
                urlUploadImage = urlUploadImage.replace(':model', self.model);

                const query = new FormData();
                query.append('file', files[0]);
                self.setUrl(null);
                self.setPending(true);
                axiosPanel.post(urlUploadImage, query, function (result) {
                    console.log(result.file.url);
                    if (self.articleStore.form.source_file !== null) {
                        self.setFormMerge({
                            pages: null,
                        });
                    }
                    self.setUrl(result.file.url);
                    self.setPending(false);
                    self.setShowPages(null);
                }, function (result) {
                    self.setPending(false);
                    console.log(result);
                });

            }
        }
    },
};
</script>
