<template>
    <nuxt-link
        :to="`/editor-articles/${article.id}?locale=${editor.locale}`"
        :class="[
            'btn btn-link mr-1 link-dark',
        ]"
    >
        <font-awesome-icon
            icon="eye"
            :class="'mr-1'"
        />
        Просмотр
    </nuxt-link>
</template>

<script>

import { mapState } from 'vuex';

export default {
    name: 'ButtonEditorShow',
    components: {
    },
    props: {
        article: {
            type: [Object],
            default: () => {},
        },
    },
    data() {
        return {
        };
    },
    computed: mapState({
        editor: (state) => state.app.editor.articles.store,
    }),
    watch: {},
    mounted() {
    },
    methods: {
    },
};
</script>
