<template>
    <div class="btn-group" role="group" aria-label="Basic example">
        <button
            v-tippy
            type="button"
            class="btn btn-light"
            :content="'К предыдущей статье'"
            @click="setPrevArticle"
        >
            <font-awesome-icon icon="chevron-left" />
        </button>
        <button type="button" class="btn btn-light" disabled>
            {{ article.articles_position }} / {{ article.articles.length }}
        </button>
        <button
            v-tippy
            type="button"
            class="btn btn-light"
            :content="'К следующей статье'"
            @click="setNextArticle"
        >
            <font-awesome-icon icon="chevron-right" />
        </button>
    </div>
</template>

<script>

import { mapActions, mapState } from 'vuex';

export default {
    name: 'ButtonEditorArticlesNextPrev',
    components: {
    },
    props: {
        article: {
            type: [Object],
            default: () => {},
        },
    },
    data() {
        return {
            changePageAfterUpdate: false,
            changePageArticle: null,
        };
    },
    computed: mapState({
        articleStore: (state) => state.app.editor.articles.store,
    }),
    watch: {
        'articleStore.success'() {
            if (this.articleStore.success && this.changePageAfterUpdate && this.changePageArticle !== null) {
                this.changePage(this.changePageArticle);
            }
        }
    },
    mounted() {
        //
    },
    methods: {
        ...mapActions('app/editor/articles/show', ['fetchData', 'setLoaded']),
        ...mapActions('app/editor/articles/store', ['fetchGetUid', 'fetchFields', 'setUpdatedForce']),
        setNextArticle() {
            const articles = this.article.articles;
            const key = articles.findIndex((x) => x.id === this.article.id);
            if (this.article.articles[key + 1] !== undefined) {
                const next = this.article.articles[key + 1];
                this.changePageAfterUpdate = true;
                this.changePageArticle = next;
                this.setUpdatedForce();
            }
        },
        setPrevArticle() {
            const articles = this.article.articles;
            const key = articles.findIndex((x) => x.id === this.article.id);
            if (this.article.articles[key - 1] !== undefined) {
                const prev = this.article.articles[key - 1];
                this.changePageAfterUpdate = true;
                this.changePageArticle = prev;
                this.setUpdatedForce();
            }
        },
        changePage(article) {
            this.changePageAfterUpdate = false;
            this.changePageArticle = null;
            this.$router.push(`/releases/${this.article.release.id}/articles/${article.id}/edit`);
            this.setLoaded(false);
            this.fetchData({
                model: 'releases',
                id: this.article.release.id,
                article_id: article.id,
                locale: this.$router.history.current.query.locale || 'ru',
            });
            this.fetchGetUid({
                id: this.article.release.id,
                model: 'releases',
                locale: this.$router.history.current.query.locale || 'ru',
            });
            this.fetchFields({
                model: 'releases',
                article_id: article.id,
                locale: this.$router.history.current.query.locale || 'ru',
            });
        }
    },
};
</script>
