<template>
    <button
        v-tippy
        type="button"
        class="btn btn-icon"
        :content="preview ? $t('tooltip.editor.preview-close') : $t('tooltip.editor.preview-open')"
        aria-label="Preview"
        @click="showPreview(!preview)"
    >
        <font-awesome-icon
            :icon="preview ? 'eye-slash' : 'eye'"
            style="margin-top: 4px;"
        />
    </button>
</template>

<script>

import { mapActions, mapState } from 'vuex';

export default {
    name: 'ButtonEditorPreview',
    components: {
    },
    props: {
        article: {
            type: [Object],
            default: () => {},
        },
        preview: {
            type: [Boolean],
            default: () => false,
        }
    },
    data() {
        return {
        };
    },
    computed: mapState({

    }),
    watch: {},
    mounted() {
    },
    methods: {
        ...mapActions('app/editor/base', ['setPreview']),
        showPreview(value) {
            const self = this;
            self.setPreview(value);
            self.$root.cookieActions().setAppEditorPreview(value);
        },
    },
};
</script>

<style scoped lang="scss">

</style>
