<template>
    <button
        v-b-toggle.sidebar-article-settings
        v-tippy
        type="button"
        class="btn btn-icon mr-1"
        :content="$t('tooltip.editor.settings')"
        aria-label="Settings"
    >
        <span v-if="article !== null">
            <font-awesome-icon icon="cog" style="margin-top: 4px;" />
        </span>
        <span v-if="article === null">
            <font-awesome-icon icon="cog" class="mr-1" />
            Основная информация
        </span>
    </button>
</template>

<script>

import {mapActions, mapState} from 'vuex';

export default {
    name: 'ButtonEditorSettings',
    components: {
        // v-b-toggle.sidebar-article-settings
    },
    props: {
        article: {
            type: [Object],
            default: () => {},
        },
    },
    data() {
        return {
        };
    },
    computed: mapState({
        editor: (state) => state.app.editor.articles.store,
    }),
    watch: {},
    mounted() {
    },
    methods: {
        ...mapActions('app/panel/base', ['setRole', 'setLocale', 'fetchEdit']),
        openPanel() {
            this.$root.$emit('bv::toggle::collapse', 'panel-edit');
            this.setRole('edit');
            this.setLocale(this.editor.locale);
            this.fetchEdit({
                model: 'editor-articles',
                id: this.editor.form.id,
                locale: this.editor.locale,
            });
        }
    },
};
</script>
