<template>
    <button
        v-tippy
        type="button"
        class="btn btn-icon"
        :content="'Текущий язык статьи'"
    >
        <span :class="`icon-${locale}`" />
    </button>

<!--    <BDropdown-->
<!--        id="dropdown-user-menu-basic"-->
<!--        variant="icon"-->
<!--        class="pr&#45;&#45;dropdown&#45;&#45;icon __md"-->
<!--        no-caret-->
<!--        toggle-tag="div"-->
<!--    >-->
<!--        <template #button-content>-->
<!--            <span :class="`icon-${locale} mr-3`" />-->
<!--        </template>-->
<!--        <BDropdownItem @click="setLocale('ru')">-->
<!--            <span class="d-flex align-items-center justify-content-start">-->
<!--                <span class="mr-2">-->
<!--                    <span :class="`icon-ru`" />-->
<!--                </span>-->
<!--                <span>Русский</span>-->
<!--            </span>-->
<!--        </BDropdownItem>-->
<!--        <BDropdownItem @click="setLocale('en')">-->
<!--            <span class="d-flex align-items-center justify-content-start">-->
<!--                <span class="mr-2">-->
<!--                    <span :class="`icon-en`" />-->
<!--                </span>-->
<!--                <span>English</span>-->
<!--            </span>-->
<!--        </BDropdownItem>-->
<!--    </BDropdown>-->
<!--    -->
<!--    <button-->
<!--        v-tippy-->
<!--        type="button"-->
<!--        class="btn btn-icon mr-1"-->
<!--        :content="'Текущий язык'"-->
<!--    >-->
<!--        <span :class="`icon-${locale}`" style="margin-top: 4px;" />-->
<!--    </button>-->
</template>

<script>

import { mapState } from 'vuex';
import {BDropdown, BDropdownItem} from "bootstrap-vue/src/components/dropdown";

export default {
    name: 'ButtonEditorLanguage',
    components: {
        BDropdown,
        BDropdownItem,
    },
    props: {
        article: {
            type: [Object],
            default: () => {},
        },
    },
    data() {
        return {
        };
    },
    computed: mapState({
        locale: (state) => state.app.editor.articles.store.locale
    }),
    watch: {},
    mounted() {
        console.log();
    },
    methods: {
        setLocale(locale) {
            window.location.href = this.$router.history.current.path + '?locale=' + locale;
        }
    },
};
</script>
