<template>
    <div class="form-group--settings">
        <span class="ce-toolbar__settings-btn" @click="setOpened(!opened)">
            <svg class="icon icon--dots" width="8px" height="8px">
                <circle cx="6.5" cy="1.5" r="1.5" />
                <circle cx="6.5" cy="6.5" r="1.5" />
                <circle cx="1.5" cy="1.5" r="1.5" />
                <circle cx="1.5" cy="6.5" r="1.5" />
            </svg>
        </span>
        <div v-if="opened" class="ce-settings ce-settings--opened">
            <div class="ce-settings__plugin-zone">
                <div class="cdx-settings-wrapper">
                    <button type="button" class="btn btn-light m-1" @click="setNormalizeById">
                        Нормализовать
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import { mapActions, mapState } from 'vuex';

export default {
    name: 'EditorPrependSettings',
    components: {
        //
    },
    props: {
        article: {
            type: [Object],
            default: () => null,
        },
        id: {
            type: [String],
            default: () => null,
        },
    },
    data() {
        return {
            opened: false,
        };
    },
    computed: mapState({
        articleStore: (state) => state.app.editor.articles.store.form,
    }),
    watch: {
        //
    },
    mounted() {

    },
    methods: {
        setOpened(opened) {
            this.opened = opened;
        },
        setNormalizeById() {
            if (this.id === 'rubric') {
                this.articleStore.rubric = this.rubricCapitalize(this.articleStore.rubric);
            }
            if (this.id === 'header') {
                this.articleStore.title = this.headerCapitalize(this.articleStore.title);
            }
            this.setOpened(false);
        },
        rubricCapitalize(value) {
            return value.toUpperCase();
        },
        headerCapitalize(value) {
            return value.charAt(0).toUpperCase() + value.slice(1).toLowerCase();
        },
        // clearCapitalize(value) {
        //     return value.split(' ').map((string) => this.capitalizeFirstLetter(string)).join(' ');
        // },
        // // 10,875,535 operations/sec
        // capitalizeFirstLetter(string) {
        //     const value = string.toLowerCase();
        //     let char = value.charAt(0);
        //     if (['«', '"'].includes(char)) {
        //
        //     }
        //     return char.toUpperCase() + value.slice(1);
        // }
    }
};
</script>
