<template>
    <div class="col-12 mt-3 text-center">
        <button v-if="facebookEnabled" type="button" :class="`btn btn-facebook btn-block ${facebook.pending ? 'is-loading' : ''} text-white`" @click="loginFacebook">
            <font-awesome-icon :icon="['fab', 'facebook-f']" />
            <span>{{ $t('button.auth-by-facebook') }}</span>
        </button>
        <button v-if="googleEnabled" type="button" :class="`btn btn-google btn-block ${google.pending ? 'is-loading' : ''} text-white`" @click="loginGoogle">
            <font-awesome-icon :icon="['fab', 'google']" />
            <span>{{ $t('button.auth-by-google') }}</span>
        </button>
        <button v-if="vkontakteEnabled" type="button" :class="`btn btn-vk btn-block ${vk.pending ? 'is-loading' : ''} text-white`" @click="loginVk">
            <font-awesome-icon :icon="['fab', 'vk']" />
            <span>{{ $t('button.auth-by-vk') }}</span>
        </button>
        <button v-if="yandexEnabled" type="button" :class="`btn btn-yandex btn-block ${yandex.pending ? 'is-loading' : ''} text-white`" @click="loginYandex">
            <font-awesome-icon :icon="['fab', 'yandex']" />
            <span>{{ $t('button.auth-by-yandex') }}</span>
        </button>
        <button v-if="mockEnabled" type="button" :class="`btn btn-vk btn-block ${mock.pending ? 'is-loading' : ''} text-white`" @click="loginMock">
            <font-awesome-icon :icon="['fab', 'vk']" />
            <span>Войти через Mock</span>
        </button>
        <button v-if="mockSecondEnabled" type="button" :class="`btn btn-vk btn-block ${mockSecond.pending ? 'is-loading' : ''} text-white`" @click="loginMockSecond">
            <font-awesome-icon :icon="['fab', 'vk']" />
            <span>Войти через Mock Second</span>
        </button>
    </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import auth from '../../../plugins/common/auth';

export default {
    name: 'AuthBlockSocialAuth',
    components: {
    },
    data() {
        return {
            yandexEnabled: false,
            googleEnabled: false,
            facebookEnabled: false,
            vkontakteEnabled: false,
            mockEnabled: false,
            mockSecondEnabled: false,
        };
    },
    computed: mapState({
        mock: state => state._auth.login.socialite.mock,
        mockSecond: state => state._auth.login.socialite.mockSecond,
        google: state => state._auth.login.socialite.google,
        facebook: state => state._auth.login.socialite.facebook,
        vk: state => state._auth.login.socialite.vk,
        yandex: state => state._auth.login.socialite.yandex,
    }),
    created() {
        this.yandexEnabled = process.env.YANDEX_AUTH_ENABLED === 'true';
        this.googleEnabled = process.env.GOOGLE_AUTH_ENABLED === 'true';
        this.facebookEnabled = process.env.FACEBOOK_AUTH_ENABLED === 'true';
        this.vkontakteEnabled = process.env.VKONTAKTE_AUTH_ENABLED === 'true';
        this.mockEnabled = process.env.APP_ENV === 'local';
        this.mockSecondEnabled = process.env.APP_ENV === 'local';
    },
    methods: {
        ...mapActions('_auth/login/socialite/mock', ['fetchLoginMock']),
        ...mapActions('_auth/login/socialite/mockSecond', ['fetchLoginMockSecond']),
        ...mapActions('_auth/login/socialite/google', ['fetchLoginGoogle']),
        ...mapActions('_auth/login/socialite/yandex', ['fetchLoginYandex']),
        ...mapActions('_auth/login/socialite/facebook', ['fetchLoginFacebook']),
        ...mapActions('_auth/login/socialite/vk', ['fetchLoginVk']),
        loginMock() {
            this.fetchLoginMock({
                access_token: 'token',
                id: '11',
                email: 'test@yandex.ru',
                name: 'Test',
                avatar: 'https://image.artagrad.ru/img/default/default.png',
            });
        },
        loginMockSecond() {
            this.fetchLoginMockSecond({
                access_token: 'token',
                id: '12313123123123123123',
                email: 'test-mock@yandex.ru',
                name: 'Second Mock',
                avatar: 'https://image.artagrad.ru/img/default/default.png',
            });
        },
        loginFacebook() {
            auth.facebookRedirect();
            //this.$auth.loginWith('facebook');
            // this.fetchLoginFacebook({
            //     access_token: 'token',
            // });
        },
        loginVk() {
            auth.vkRedirect();
        },
        loginYandex() {
            auth.yandexRedirect();
        },
        loginGoogle() {
            auth.googleRedirect();
        }
    }
};
</script>
