<template>
    <div class="mt-3">
        <div
            v-for="(book, key) in field.values"
            :key="book.id"
            class="mt-3"
        >
            <div class="mb-3">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center justify-content-start">
                        <div
                            v-if="role !== 'edit'"
                            class="d-flex align-items-center flex-column mr-3"
                        >
                            <button
                                type="button"
                                :class="[
                                    'btn btn-icon btn-sm btn-light',
                                    isLoading(action.pendingArray).actionPriority(book, 'books-priority', 'up') ? 'is-loading' : ''
                                ]"
                                :disabled="key === 0"
                                @click="priorityUp(book, key)"
                            >
                                <font-awesome-icon icon="chevron-up" />
                            </button>
                            <button
                                type="button"
                                :class="[
                                    'btn btn-icon btn-sm btn-light',
                                    isLoading(action.pendingArray).actionPriority(book, 'books-priority', 'down') ? 'is-loading' : ''
                                ]"
                                :disabled="field.values[key + 1] === undefined"
                                @click="priorityDown(book, key)"
                            >
                                <font-awesome-icon icon="chevron-down" />
                            </button>
                        </div>
                        <div>
                            {{ book.name }}
                        </div>
                    </div>
                    <div v-if="role !== 'edit'">
                        <nuxt-link
                            :to="`/releases-books?id=${book.id}`"
                            type="button"
                            class="btn btn-icon btn-sm btn-primary"
                        >
                            <font-awesome-icon icon="pencil-alt" />
                        </nuxt-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import {mapActions, mapState} from 'vuex';
import serialize from "../../../../plugins/common/serialize";

export default {
    name: 'FormFieldListBooks',
    components: {
        //
    },
    props: {
        role: {
            type: [String],
            required: true,
            default: () => 'default',
        },
        field: {
            type: [Object],
            required: true,
            default: () => [],
        },
        item: {
            type: [Object],
            default: () => null,
        },
    },
    computed: mapState({
        editor: (state) => state.app.editor.articles.store,
        panel: (state) => state.app.panel.base,
        panelPanel: (state) => state.app.panel.panel.base,
        action: (state) => state.app.panel.action,
    }),
    watch: {
        'action.success'() {
            const self = this;
            if (!self.action.success) {
                return;
            }
            if (self.action.name !== 'books-priority') {
                return;
            }
            if (self.panelPanel.opened) {
                self.panelPanelFetchReloadEditFields({
                    id: self.panelPanel.item.id,
                });
                return;
            }
            if (self.editor.form.id !== undefined && self.editor.form.id !== null) {
                self.reloadFields();
                self.reloadItem();
                return;
            }
            self.panelFetchReloadEditFields({
                id: self.panel.item.id,
            });
        }
    },
    methods: {
        ...mapActions('app/panel/action', ['fetchAction']),
        ...mapActions('app/editor/articles/store', ['reloadFields']),
        ...mapActions('app/editor/articles/show', ['reloadItem']),
        ...mapActions('app/panel/base', {
            panelFetchReloadEditFields: 'fetchReloadEditFields',
        }),
        ...mapActions('app/panel/panel/base', {
            panelPanelFetchReloadEditFields: 'fetchReloadEditFields',
        }),
        priorityAction(item, id, value) {
            const self = this;
            const data = {
                action: 'books-priority',
                model: 'editor-articles',
                locale: 'ru',
                request: {
                    id,
                }
            };
            data.pending = `${data.action}_${value}_${item.id}`;
            if (self.panelPanel.opened) {
                data.id = self.panelPanel.item.id;
                self.fetchAction(data);
                return;
            }
            if (self.editor.form.id !== undefined && self.editor.form.id !== null) {
                data.id = self.editor.form.id;
                self.fetchAction(data);
                return;
            }
            data.id = self.panel.item.id;
            self.fetchAction(data);
        },
        priorityUp(value, currentKey) {
            const self = this;
            const id = serialize.prioritySort(self.field.values, value, currentKey, 1);
            self.priorityAction(value, id, 'up');
        },
        priorityDown(value, currentKey) {
            const self = this;
            const id = serialize.prioritySort(self.field.values, value, currentKey, -1);
            self.priorityAction(value, id, 'down');
        },
    }
};
</script>
