<template>
    <div class="container">
        <div class="row mb-3 rounded-sm-bottom shadow-sm" style="background-color: #fff;">
            <div class="col-12">
                <div class="pr--group--head">
                    <div class="d-flex align-items-start justify-content-start">
                        <div class="--image mr-3">
                            <b-skeleton class="mb-0" />
                        </div>
                        <div>
                            <b-skeleton width="280px" height="38px" class="h3 mb-2" />
                            <div class="--text">
                                <b-skeleton width="90%" height="18px" />
                                <b-skeleton width="70%" height="18px" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--        <div class="row">-->
<!--            <div class="col-12 mb-2 pr&#45;&#45;group&#45;&#45;published-subscription">-->
<!--                <div class="d-flex align-items-center justify-content-between">-->
<!--                    <div>-->
<!--                        <h4 class="mb-0">-->
<!--                            {{ $t('basic.publishes') }}-->
<!--                        </h4>-->
<!--                    </div>-->
<!--                    <div>-->
<!--                        <ButtonSubscription :item="{id: 0}" :type="'group'" />-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-12">-->
<!--                <div class="row">-->
<!--                    <SkeletonArticleCardBasic />-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</template>

<script>

import { mapActions, mapState } from 'vuex';
import SkeletonArticleCardBasic from '../../Article/Card/SkeletonArticleCardBasic';
import ButtonSubscription from '../../../../Base/Button/ButtonSubscription';

export default {
    name: 'SkeletonGroupDetails',
    components: {
        ButtonSubscription,
        SkeletonArticleCardBasic,
    },
    props: {
    },
    data() {
        return {};
    },
    computed: mapState({
        //
    }),
    watch: {},
    mounted() {},
    methods: {
        //
    },
};
</script>

<style scoped lang="scss">

</style>
