<template>
    <section>
        <div class="container-fluid pr--header-padding">
            <div class="row flex-xl-nowrap">
                <div :class="['pr--main--left', sidebar.left ? 'col-xl-2 pr-0 pl-0' : 'hidden']">
                    <slot name="left" />
                </div>
                <main
                    :class="[
                        'pr--main--center __bg-white',
                        centerClass(),
                        centerTypeClass,
                    ]"
                >
                    <slot name="center" />
                </main>
                <div :class="['pr--main--right', sidebar.right ? 'col-xl-2 pr-0 pl-0' : 'hidden']">
                    <slot name="right" />
                </div>
            </div>
        </div>
    </section>
</template>

<script>

import { mapActions, mapState } from 'vuex';

export default {
    name: 'LayoutContainerEditor',
    components: {},
    props: {
        centerTypeClass: {
            type: [String],
            default: () => '',
        }
    },
    data() {
        return {};
    },
    computed: mapState({
        sidebar: (state) => state.app.sidebar,
    }),
    watch: {},
    mounted() {},
    created() {
        if (document.querySelector('.pr--main--center') !== null) {
            window.addEventListener('resize', this.resizeMainCenterEvent);
        }
    },
    unmounted() {
        window.removeEventListener('resize', this.resizeMainCenterEvent);
    },
    methods: {
        ...mapActions('app/sidebar', ['setRight', 'setLeft']),
        centerClass() {
            const self = this;
            if (self.sidebar.left && self.sidebar.right) {
                return 'col-xl-8';
            }
            if (self.sidebar.left && !self.sidebar.right) {
                return 'col-xl-10 __r-hidden';
            }
            if (!self.sidebar.left && self.sidebar.right) {
                return 'col-xl-10 __l-hidden';
            }
            if (!self.sidebar.left && !self.sidebar.right) {
                return 'col-xl-12 __r-hidden __l-hidden';
            }
        },
        resizeMainCenterEvent(e) {
            const self = this;
            const main = document.querySelector('.pr--main--center');
            if (main !== undefined) {
                if (main.offsetWidth <= 800) {
                    if (self.sidebar.left) {
                        self.setLeft(false);
                    }
                    if (self.sidebar.right) {
                        self.setRight(false);
                    }
                } else {
                    if (self.sidebar.left) {
                        //self.setLeft(true);
                    }
                    if (self.sidebar.right) {
                        //self.setRight(true);
                    }
                }
            }
        }
    },
};
</script>
