<template>
    <div
        :class="[
            'row pr--chat--row-top',
            closed ? '__closed' : '',
        ]"
    >
        <div class="col-12">
            <div class="row">
                <div
                    :class="[
                        'col-12 col-lg-4 p-2 border-bottom --left',
                        closed ? 'd-none d-lg-block' : '',
                    ]"
                >
                    <form class="w-100" @submit.prevent="searchChat">
                        <div class="input-group pr--input-group--line ">
                            <input
                                type="text"
                                :placeholder="$t('fields.search')"
                                aria-label="Search"
                                class="form-control"
                                @keyup.prevent="searchChat"
                                v-model="q"
                            >
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-outline-primary">
                                    <font-awesome-icon icon="search" class="__md" />
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div
                    :class="[
                        'col-12 col-lg-8 p-2 border-bottom --right',
                        closed ? '' : 'd-none d-lg-block',
                    ]"
                >
                    <div v-if="chat !== null" class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center justify-content-start">
                            <nuxt-link
                                :to="i18nRoute().userChats()"
                                :class="['btn btn-icon text-dark mr-3']"
                            >
                                <font-awesome-icon icon="chevron-left" />
                            </nuxt-link>
                            <div class="d-flex align-items-center justify-content-start">
                                <div>
                                    <img :src="chat.user.image" alt="Chat User" class="rounded-circle mr-3" width="40" height="40">
                                </div>
                                <div>
                                    <div class="font-md" style="font-weight: 500;line-height: 1.2;">
                                        <nuxt-link :to="i18nRoute().usersArticles(chat.user)" class="link-dark">
                                            {{ chat.user.full_name }}
                                        </nuxt-link>
                                    </div>
                                    <p class="mb-0 text-muted">
                                        {{ chat.last_online_at !== null ? momentDate().latest(chat.last_online_at) : 'Не в сети' }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div>
<!--                            <nuxt-link :to="i18nRoute().userChats()" class="btn btn-icon" type="button">-->
<!--                                <font-awesome-icon icon="times" />-->
<!--                            </nuxt-link>-->
                            <b-dropdown
                                id="dropdown-chat-block-top"
                                variant="icon"
                                class="pr--dropdown--icon __md"
                                no-caret
                                toggle-tag="div"
                                right
                            >
                                <template #button-content>
                                    <button v-tippy class="btn btn-icon" type="button" :content="$t('tooltip.settings')">
                                        <font-awesome-icon icon="ellipsis-h" />
                                    </button>
                                </template>
                                <b-dropdown-item v-if="chat !== null" @click="lock">
                                    {{ chat.is_locked && chat.is_self_locked ? $t('button.unlock-message') : $t('button.lock-message') }}
                                </b-dropdown-item>
                            </b-dropdown>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import commonForm from "../../../../plugins/common/commonForm";

export default {
    name: 'ChatBlockTop',
    components: {
    },
    props: {
        chat: {
            type: [Object],
            default: () => null
        },
        closed: {
            type: [Boolean],
            default: () => false,
        }
    },
    data() {
        return {
            timer: null,
            q: '',
        };
    },
    computed: mapState({
        config: state => state.data.data.config,
        app: state => state.app,
        chats: state => state.user.chats,
    }),
    watch: {},
    mounted() {
        //
    },
    methods: {
        ...mapActions('user/chats', ['fetchChats']),
        ...mapActions('user/chats/lock/toggle', ['fetchLockToggle']),
        searchChat() {
            const self = this;
            self.timer = commonForm.formTimeout(self.timer, () => self.fetchChats({
                q: self.q,
            }), 300);
        },
        lock() {
            const self = this;
            if (!self.$auth.loggedIn) {
                self.message().needLoginForUsersLock();
                return;
            }
            self.fetchLockToggle({
                id: self.chat.id,
            });
        },
    },
};
</script>
