<template>
    <div
        :class="[
            'row pr--chat--row-body',
            closed ? '__closed' : '',
            appChat.heightClass !== null ? appChat.heightClass : '',
        ]"
    >
        <div class="col-12">
            <div class="row h-100">
                <div
                    :class="[
                        'col-12 col-lg-4 pr--chat--list --left',
                        closed ? 'd-none d-lg-block' : '',
                    ]"
                >
                    <div v-if="!chats.pending" class="pr--chat--list-items">
                        <nuxt-link
                            v-for="chatItem in chats.data"
                            :key="chatItem.id"
                            :to="i18nRoute().userChat(chatItem)"
                            :class="[
                                '--item',
                                chat !== null && chat.id === chatItem.id ? 'active' : '',
                            ]"
                            aria-current="true"
                            @click.prevent="setActiveChat(chatItem)"
                        >
                            <ChatListUser :chat="chatItem" />
                        </nuxt-link>
                    </div>
                    <div v-if="chats.pending" class="pr--chat--list-items">
                        <div class="--item">
                            <SkeletonChatListUser />
                        </div>
                        <div class="--item">
                            <SkeletonChatListUser />
                        </div>
                        <div class="--item">
                            <SkeletonChatListUser />
                        </div>
                    </div>
                    <div v-if="!chats.pending && chats.data.length === 0" class="pr--chat--list-items">
                        <div class="mt-3 text-center">
                            {{ $t('basic.empty-list') }}
                        </div>
                    </div>
                </div>
                <div
                    :class="[
                        'col-12 col-lg-8 pr--chat--messages --right',
                        messages.pending ? '__loading' : '',
                        closed ? '' : 'd-none d-lg-block',
                    ]"
                >
                    <div v-if="chat !== null && chat.is_locked" class="alert alert-warning w-100" role="alert">
                        <p class="mb-0 text-center">
                            {{ chat.is_self_locked ? $t('basic.chat.locked-self') : $t('basic.chat.locked-user') }}
                        </p>
                    </div>
                    <ChatListMessage
                        v-for="(message, key) in messages.data"
                        :key="key"
                        :item="message"
                        :day="messageDay(messages.data, message, key)"
                        :imageless="messageImageless(messages.data, message, key)"
                        :is-main-author="messageIsMainAuthor(messages.data, message, key)"
                    />
                    <div v-if="messages.pagination !== null && messages.pagination.has_more_pages" class="text-center mb-4 w-100">
                        <button
                            type="button"
                            class=""
                            :class="[
                                'btn btn-light btn-block',
                                messages.pending ? 'is-loading' : '',
                            ]"
                            @click="pageHandler"
                        >
                            {{ $t('basic.load-more') }}
                        </button>
                    </div>
                    <!--                    <div v-if="messages.pagination !== null && messages.pagination.has_more_pages">-->
                    <!--                        <infinite-loading direction="top" @infinite="infiniteHandler" force-use-infinite-wrapper=".pr&#45;&#45;chat&#45;&#45;messages.&#45;&#45;right" />-->
                    <!--                    </div>-->

                    <!--                    <div class="pr&#45;&#45;chat&#45;&#45;list-message">-->
                    <!--                        <Preloader :loading-text="false" />-->
                    <!--                    </div>-->
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import InfiniteLoading from 'vue-infinite-loading';
import ChatListUser from '../ChatListUser';
import ChatListMessage from '../ChatListMessage';
import SkeletonChatListUser from '../../Skeleton/Chat/SkeletonChatListUser';

export default {
    name: 'ChatBlockBody',
    components: {
        ChatListUser,
        ChatListMessage,
        SkeletonChatListUser,
        InfiniteLoading,
    },
    layout: 'default',
    props: {
        chats: {
            type: [Object],
            default: () => {
                return {
                    pending: false,
                    data: [],
                };
            }
        },
        messages: {
            type: [Object],
            default: () => {
                return {
                    pending: false,
                    data: [],
                    pagination: null,
                };
            }
        },
        chat: {
            type: [Object],
            default: () => null,
        },
        closed: {
            type: [Boolean],
            default: () => false,
        }
    },
    data() {
        return {
            messagesIsLoaded: false,
        };
    },
    computed: mapState({
        config: state => state.data.data.config,
        app: state => state.app,
        appChat: state => state.app.chat,
    }),
    watch: {
        'messages'() {
            const self = this;
            //console.log(this.messages.data.length);
            self.$nextTick(() => self.scrollChat().toHref(`#message-${self.messages.data.length - 1}`));
            self.messagesIsLoaded = true;
        }
    },
    mounted() {
        const self = this;
        self.$nextTick(() => self.scrollChat().toHref(`#message-${self.messages.data.length - 1}`));
        self.messagesIsLoaded = true;
        //document.querySelector('.pr--chat--messages.--right').addEventListener('scroll', this.updateScroll);
    },
    methods: {
        ...mapActions('app/chat', ['setActive']),
        ...mapActions('user/chats/messages', ['fetchData']),
        updateScroll() {
            const self = this;
            //console.log(document.querySelector('.pr--chat--messages.--right').offsetHeight);
            const scroll = document.querySelector('.pr--chat--messages.--right').scrollTop * -1;
            const scrollHeight = document.querySelector('.pr--chat--messages.--right').offsetHeight;
            let height = 0;
            document.querySelectorAll('.pr--chat--list-message').forEach(function (item) {
                height += item.offsetHeight;
                //height -= 16;
            });
            const scrollResult = scroll + scrollHeight;
            console.log(height, scrollHeight, scrollResult, scroll);
            if (self.messages.pagination !== null && self.messages.pagination.has_more_pages && scrollResult > height && !self.messages.pending) {
                self.pageHandler();
            }
        },
        setActiveChat(chat) {
            const self = this;
            self.setActive(chat);
        },
        async infiniteHandler($state) {
            const self = this;
            await self.pageHandler();
            $state.loaded();
            //console.log('infiniteHandler');
        },
        async pageHandler() {
            const self = this;
            await self.fetchData({
                id: self.chat.id,
                page: self.messages.pagination.page + 1,
            });
        },
        messageDay(messages, message, key) {
            return messages[key + 1] === undefined ? message.day : (messages[key + 1].day !== message.day ? message.day : null);
        },
        messageImageless(messages, message, key) {
            return messages[key + 1] === undefined ? false : messages[key + 1].user_id === message.user_id && this.momentDate().inHour(messages[key + 1].send_at, message.send_at);
        },
        messageIsMainAuthor(messages, message, key) {
            return messages[key - 1] === undefined ? false : messages[key - 1].user_id === message.user_id && this.momentDate().inHour(messages[key - 1].send_at, message.send_at)
        }
    },
};
</script>
