<template>
    <div
        :class="[
            'row pr--chat--row-footer',
            closed ? '__closed' : '',
            appChat.heightClass !== null ? appChat.heightClass : '',
        ]"
    >
        <div class="col-12 bg-white">
            <div class="row h-100">
                <div
                    :class="[
                        'col-12 col-lg-4 p-2 border-top --left',
                        closed ? 'd-none d-lg-block' : '',
                    ]"
                />
                <div
                    :class="[
                        'col-12 col-lg-8 p-2 border-top --right',
                        closed ? '' : 'd-none d-lg-block',
                    ]"
                    style="display: flex;align-items: center;justify-content: center;"
                >
                    <form class="w-100" @submit.prevent="submit">
                        <div v-if="chat !== null && !chat.is_locked" class="input-group pr--input-group--line">
                            <b-form-textarea
                                v-model="text"
                                rows="1"
                                max-rows="5"
                                class="pr--input-message"
                                :placeholder="$t('fields.message')"
                                @keydown.enter="keydownEnter"
                                @keydown.shift="keydownShift"
                                @keyup="keyup"
                            />
                            <div class="input-group-append">
                                <b-dropdown
                                    id="dropdown-1"
                                    variant="icon"
                                    class="pr--dropdown--icon __sm"
                                    no-caret
                                    toggle-tag="div"
                                    dropup
                                    right
                                    menu-class="pr--dropdown--emoji-menu"
                                >
                                    <template #button-content>
                                        <button class="btn btn-icon" type="button">
                                            <font-awesome-icon :icon="['far', 'smile']" />
                                        </button>
                                    </template>
                                    <b-dropdown-text tag="div" text-class="pr--emoji-container">
                                        <div v-for="(group, key) in emoji" :key="key">
                                            <span v-for="(item, eKey) in group" :key="eKey" class="pr--emoji-item" @click.prevent="selectEmoji(item)">
                                                {{ item }}
                                            </span>
                                            <hr>
                                        </div>
                                    </b-dropdown-text>
                                </b-dropdown>
                                <button
                                    type="submit"
                                    :class="[
                                        'btn btn-icon btn-outline-primary',
                                        store.pending ? 'is-loading' : ''
                                    ]"
                                >
                                    <font-awesome-icon :icon="'paper-plane'" class="__md" />
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import moment from 'moment';
import emojiData from '../../../../plugins/common/emoji';
import commonForm from '../../../../plugins/common/commonForm';

export default {
    name: 'ChatBlockFooter',
    components: {
    },
    props: {
        chat: {
            type: [Object],
            default: () => null,
        },
        closed: {
            type: [Boolean],
            default: () => false,
        }
    },
    data() {
        return {
            text: '',
            emoji: emojiData,
            shiftEnabled: false,
            timer: null,
            height: null,
        };
    },
    computed: mapState({
        config: state => state.data.data.config,
        app: state => state.app,
        store: state => state.user.chats.messages.store,
        appChat: state => state.app.chat,
    }),
    watch: {
        'store.success'() {
            const self = this;
            if (self.store.success) {
                self.text = '';
            }
        }
    },
    mounted() {
        const self = this;
        self.keyup();
        //
    },
    methods: {
        ...mapActions('user/chats/messages/store', ['fetchStore']),
        ...mapActions('app/chat', ['setHeightClass']),
        submit() {
            const self = this;
            if (self.text === '') {
                return;
            }
            if (self.chat === null) {
                return;
            }
            self.fetchStore({
                id: self.chat.id,
                title: `${self.$auth.user.last_name} ${self.$auth.user.name}`,
                message: self.text,
                date: moment().toISOString(),
            });
        },
        keydownShift(event) {
            const self = this;
            if (event.shiftKey && !self.shiftEnabled) {
                self.shiftEnabled = true;
                self.timer = commonForm.formTimeout(self.timer, function () {
                    self.shiftEnabled = false;
                });
            }
        },
        keydownEnter(event) {
            const self = this;
            if ([13].includes(event.keyCode) && !self.shiftEnabled) {
                self.submit();
                event.preventDefault();
                return false;
            }
        },
        keyup() {
            const self = this;
            if (process.client && document.querySelector('.pr--input-message') !== null) {
                self.height = document.querySelector('.pr--input-message').offsetHeight;
                const heightClass = self.nameClassByHeight();
                console.log(self.height, heightClass, self.appChat.heightClass);
                if (self.appChat.heightClass !== heightClass) {
                    self.setHeightClass(heightClass);
                }
            }
        },
        selectEmoji(code) {
            const self = this;
            self.text = self.text + code;
        },
        nameClassByHeight() {
            const self = this;
            if (self.height === null) {
                return '__line-1';
            }
            if (self.height >= 119) {
                return '__line-5';
            }
            if (self.height >= 98) {
                return '__line-4';
            }
            if (self.height >= 77) {
                return '__line-3';
            }
            if (self.height >= 56) {
                return '__line-2';
            }
            return '__line-1';
        }
    },
};
</script>
