<template>
    <div>
        <div :id="`popover-comment-${comment.id}`" class="pr--popover--icon">
            <img :src="comment.user.image" alt="Comment user" class="pr--image--model __sm">
        </div>
        <b-popover
            :target="`popover-comment-${comment.id}`"
            placement="left"
            triggers="hover focus"
            :show="comment.id === 0"
            no-fade
            custom-class="pr--popover--comment"
        >
            <template #title>
                <nuxt-link :to="i18nRoute().usersArticles(comment.user)" class="link-dark">
                    {{ comment.user.full_name }}
                </nuxt-link>
            </template>
            <div>
                <p class="mb-1">
                    {{ comment.text }}
                </p>
                <nuxt-link :to="i18nRoute().article(comment.model)" class="mb-0">
                    {{ comment.model.title }}
                </nuxt-link>
            </div>
        </b-popover>
    </div>
</template>

<script>

import { mapState } from 'vuex';

export default {
    name: 'CommentCardAvatar',
    components: {},
    props: {
        comment: {
            type: [Object],
            default: () => {},
        }
    },
    data() {
        return {};
    },
    computed: mapState({
        app: state => state.app,
    }),
    watch: {},
    mounted() {},
    methods: {},
};
</script>

<style scoped lang="scss">

</style>
