<template>
    <div class="pr--comment">
        <div class="media">
            <img src="/static/img/user.png" class="mr-3 rounded-circle border" height="40" width="40">
            <div class="media-body">
                <h5 class="mt-0 mb-0">
                    Иванов Иван
                </h5>
                <small>5 часов назад</small>
            </div>
            <div class="--rating">
                <ButtonRating />
            </div>
        </div>
        <div class="--message">
            <div class="module line-clamp">
                <p>
                    Call me Ishmael. Some years ago – never mind how long precisely – having
                    little or no money in my purse, and nothing particular to interest me on
                    shore, I thought I would sail about a little and see the watery part of the
                    world. It is a way I have of driving off the spleen, and regulating the
                    circulation. Whenever I find myself growing grim about the mouth; whenever it
                    is a damp, drizzly November in my soul; whenever I find myself involuntarily
                    pausing before coffin warehouses, and bringing up the rear of every funeral I
                    meet; and especially whenever my hypos get such an upper hand of me, that it
                    requires a strong moral principle to prevent me from deliberately stepping
                    into the street, and methodically knocking people's hats off – then, I account
                    it high time to get to sea as soon as I can.
                </p>
            </div>
        </div>
        <div>
            <a href="/" class="small">
                Читать полностью
            </a>
        </div>
        <div>
            <a href="/">
                Ответить
            </a>
        </div>
        <div class="--children">
            <div class="row">
                <div class="col-12">
                    <div class="pr--comment">
                        <div class="media">
                            <img src="/static/img/user.png" class="mr-3 rounded-circle border" height="40" width="40">
                            <div class="media-body">
                                <h5 class="mt-0 mb-0">
                                    Иванов Иван
                                </h5>
                                <small>5 часов назад</small>
                            </div>
                            <div class="--rating">
                                <ButtonRating />
                            </div>
                        </div>
                        <div class="--message">
                            <p>
                                Will you do the same for me? It's time to face the music I'm no longer your muse. Heard it's beautiful, be the judge and my girls gonna take a vote. I can feel a phoenix inside of me. Heaven is jealous of our love, angels are crying from up above. Yeah, you take me to utopia.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="pr--comment">
                        <div class="media">
                            <img src="/static/img/user.png" class="mr-3 rounded-circle border" height="40" width="40">
                            <div class="media-body">
                                <h5 class="mt-0 mb-0">
                                    Иванов Иван
                                </h5>
                                <small>5 часов назад</small>
                            </div>
                            <div class="--rating">
                                <ButtonRating />
                            </div>
                        </div>
                        <div class="--message">
                            <p>
                                Will you do the same for me? It's time to face the music I'm no longer your muse. Heard it's beautiful, be the judge and my girls gonna take a vote. I can feel a phoenix inside of me. Heaven is jealous of our love, angels are crying from up above. Yeah, you take me to utopia.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="--reply">
            <form class="row">
                <div class="col-12">
                    <div class="pr--comment">
                        <div class="--form">
                            <div class="form-group">
                                <b-form-textarea
                                    v-model="text"
                                    :placeholder="$t('fields.message')"
                                    :class="{'is-danger': articleSend.errors.message !== undefined}"
                                    rows="3"
                                />
                                <FormError :error="articleSend.errors.message" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-right">
                    <button type="submit" class="btn btn-primary btn-sm" :class="['btn btn-primary', articleSend.pending ? 'is-loading' : '']">
                        {{ $t('button.send') }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>

import LinkAuthor from '../../../Base/Link/LinkAuthor';
import ButtonRating from '../../../Base/Button/ButtonRating';

export default {
    name: 'CommentCardExample',
    components: {
        LinkAuthor,
        ButtonRating
    },
    data() {
        return {
            text: '',
            articleSend: {
                pending: false,
                errors: {}
            },
        };
    },
    computed: {},
    watch: {},
    mounted() {},
    methods: {},
};
</script>
