<template>
    <div class="mb-3">
        <div class="mb-1">
            <LinkAuthor :user="comment.user" />
        </div>
        <div :class="[textIsLonger && !visible ? 'line-clamp' : '']" :data-length="comment.text.length">
            <p class="mb-1">
                {{ comment.text }}
            </p>
        </div>
        <div v-if="canShowShowMore">
            <a href="#" class="small" @click.prevent="setVisible(!visible)">
                {{ !visible ? $t('button.read-more') : $t('button.hide') }}
            </a>
        </div>
        <nuxt-link :to="i18nRoute().article(comment.model)" class="mb-0 link-ellipsis" :title="comment.model.title">
            {{ comment.model.title }}
        </nuxt-link>
    </div>
</template>

<script>

import LinkAuthor from '../../../Base/Link/LinkAuthor';
import {mapState} from "vuex";

export default {
    name: 'CommentCardMention',
    components: {
        LinkAuthor
    },
    props: {
        comment: {
            type: [Object],
            default: () => {}
        },
        isPersonal: {
            type: [Boolean],
            default: () => {
                return false;
            }
        },
        isUser: {
            type: [Boolean],
            default: () => {
                return false;
            }
        }
    },
    data() {
        return {
            visible: false,
        };
    },
    computed: mapState({
        textIsLonger() {
            const self = this;
            return self.comment.text.length > 240;
        },
        canShowShowMore() {
            if (this.isUser || this.isPersonal || this.comment.is_deleted) {
                return false;
            }
            if (!this.textIsLonger) {
                return false;
            }
            return true;
        }
    }),
    watch: {},
    mounted() {},
    methods: {
        setVisible(value) {
            const self = this;
            self.visible = value;
        },
    },
};
</script>
