<template>
    <div
        :class="[
            'pr--comment',
            comment.is_deleted ? '__deleted' : '',
            loading ? '__progressed' : '',
            readOnly ? '__read-only' : '',
        ]"
    >
        <div class="media">
            <img :src="comment.image" :alt="comment.author" class="mr-3 rounded-circle border" height="40" width="40">
            <div class="media-body">
                <h5 class="mt-0 mb-0">
                    <nuxt-link :to="i18nRoute().usersArticles(comment.user)" class="link-dark">
                        {{ comment.author }}
                    </nuxt-link>
                </h5>
                <small>
                    {{ momentDate().latest(comment.created_at) }}
<!--                    <DateString :value="comment.created_at" :format="'latest'" />-->
                </small>
            </div>
            <div class="--rating d-flex align-items-center">
                <ButtonCommentReport v-if="!isPersonal && !readOnly" :comment="comment" />
                <CommentMenuPersonal v-if="isPersonal" :comment="comment" />
                <ButtonRating v-if="!readOnly" :value="comment.votes" :item="comment" :type="'comment'" />
            </div>
        </div>
        <div v-if="!comment.is_deleted" class="--message">
            <div :class="[textIsLonger && !visible ? 'line-clamp' : '']">
                <p>{{ comment.text }}</p>
            </div>
        </div>
        <div v-if="comment.is_deleted" class="--message">
            <div>
                <p>{{ $t('basic.comment-deleted') }}</p>
            </div>
        </div>
        <div v-if="canShowShowMore && !readOnly">
            <a href="#" class="small" @click.prevent="setVisible(!visible)">
                {{ !visible ? $t('button.read-more') : $t('button.hide') }}
            </a>
        </div>
        <div v-if="canShowReply && !readOnly">
            <a href="#" @click.prevent="setReply(!isReply(comment), comment)">
                {{ !isReply(comment) ? $t('button.reply') : $t('button.hide') }}
            </a>
        </div>
        <div v-if="comment.article !== undefined">
            <nuxt-link :to="i18nRoute().article(comment.article)">
                {{ comment.article.title }}
            </nuxt-link>
        </div>
        <div v-if="comment.children.data !== undefined && comment.children.data.length !== 0 && !readOnly" class="--children">
            <div class="row">
                <div v-for="children in comment.children.data" :key="`comment_children_${children.id}`" class="col-12">
                    <CommentCard :comment="children" />
                </div>
            </div>
            <div v-if="comment.children.pagination.has_more_pages" class="row">
                <div class="col-12">
                    <div class="pr--comment __more pt-3 mt-0">
                        <button
                            type="button"
                            class="btn btn-light btn-block text-dark"
                            :class="[articleComments.pendingChildren && articleComments.parentId === comment.id ? 'is-loading' : '']"
                            aria-label="Show more"
                            @click="paginateArticleChildren(comment)"
                        >
                            Показать еще {{ comment.children.pagination.total - comment.children.data.length }} {{ $tc(`declensions.comments`, comment.children.pagination.total - comment.children.data.length) }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="isReplyParent(comment) && comment.parent_id === null" class="--reply">
            <form class="row" @submit.prevent="submit">
                <div class="col-12">
                    <div class="pr--comment">
                        <div class="--form">
                            <div class="form-group">
                                <b-form-textarea
                                    ref="replyTextarea"
                                    v-model="comments.replyText"
                                    :placeholder="$t('fields.comment')"
                                    :class="{'is-danger': store.errors.message !== undefined}"
                                    rows="3"
                                />
                                <FormError :error="store.errors.message" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-right">
                    <button type="button" :class="['btn btn-light btn-sm']" aria-label="Cancel" @click.prevent="hideReply()">
                        {{ $t('button.cancel') }}
                    </button>
                    <button type="submit" :class="['btn btn-primary btn-sm', store.pending ? 'is-loading' : '']" aria-label="Send">
                        {{ $t('button.send') }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>

import { mapActions, mapState } from 'vuex';
import LinkAuthor from '../../../Base/Link/LinkAuthor';
import ButtonRating from '../../../Base/Button/ButtonRating';
import DateString from '../../../Base/Date/DateString';
import CommentMenuPersonal from '../Menu/CommentMenuPersonal';
import ButtonCommentReport from '../../../Base/Button/ButtonCommentReport';

export default {
    name: 'CommentCard',
    components: {
        LinkAuthor,
        ButtonRating,
        DateString,
        CommentMenuPersonal,
        ButtonCommentReport,
    },
    props: {
        article: {
            type: [Object],
            default: () => {
                return {};
            }
        },
        comment: {
            type: [Object],
            default: () => {
                return {};
            }
        },
        isPersonal: {
            type: [Boolean],
            default: () => {
                return false;
            }
        },
        loading: {
            type: [Boolean],
            default: () => {
                return false;
            }
        },
        isUser: {
            type: [Boolean],
            default: () => {
                return false;
            }
        },
        readOnly: {
            type: [Boolean],
            default: () => {
                return false;
            }
        }
    },
    data() {
        return {
            visible: false,
            reply: false,
            articleSend: {
                pending: false,
                errors: {}
            },
        };
    },
    computed: mapState({
        comments: state => state.app.comments,
        articleComments: state => state.article.comments,
        store: state => state.article.comments.store,
        textIsLonger() {
            const self = this;
            return self.comment.text.length > 240;
        },
        canShowReply() {
            if (this.isUser || this.isPersonal || this.comment.is_deleted) {
                return false;
            }
            return true;
        },
        canShowShowMore() {
            if (this.comment.is_deleted) {
                return false;
            }
            if (!this.textIsLonger) {
                return false;
            }
            return true;
        }
    }),
    watch: {},
    mounted() {},
    methods: {
        ...mapActions('app/comments', ['setReplyHide', 'setReplyShow']),
        ...mapActions('article/comments/store', ['fetchCommentStore']),
        ...mapActions('article/comments', ['fetchChildrenComments']),
        setVisible(value) {
            const self = this;
            self.visible = value;
        },
        isReply(comment) {
            const self = this;
            return self.comments.reply && self.comments.replyId === comment.id;
        },
        isReplyParent(comment) {
            const self = this;
            return self.comments.reply && self.comments.replyParentId === comment.id;
        },
        setReply(value, comment) {
            const self = this;
            if (value) {
                self.setReplyShow({
                    id: comment.id,
                    parent_id: comment.parent_id,
                });
                setTimeout(() => {
                    if (comment.parent_id !== null) {
                        self.$nextTick(() => self.$parent.$refs.replyTextarea.focus());
                        self.$nextTick(() => { self.comments.replyText = `${comment.author}, `; });
                    } else {
                        self.$nextTick(() => self.$refs.replyTextarea.focus());
                        self.$nextTick(() => { self.comments.replyText = `${comment.author}, `; });
                    }
                }, 100);
            } else {
                self.hideReply();
            }
        },
        hideReply() {
            const self = this;
            self.setReplyHide({});
            self.comments.replyText = '';
        },
        submit() {
            const self = this;
            if (!this.$auth.loggedIn) {
                this.message().needLoginForRateComment();
                return;
            }
            if (self.comments.replyText === '') {
                return;
            }
            self.fetchCommentStore({
                id: self.article.id,
                text: self.comments.replyText,
                reply_id: self.comments.replyId,
                parent_id: self.comments.replyParentId,
            });
            self.hideReply();
        },
        paginateArticleChildren(parent) {
            const self = this;
            self.fetchChildrenComments({
                id: self.article.id,
                parent_id: parent.id,
                page: parent.children.pagination.page + 1,
            });
        }
    },
};
</script>
