<template>
    <div v-if="article.is_released" class="--title">
        <h3>
            <nuxt-link :to="i18nRoute().article(article)" class="link-dark">
                {{ article.title }}
            </nuxt-link>
        </h3>
        <p>
            <nuxt-link :to="i18nRoute().article(article)" class="link-dark __no-line">
                {{ article.preview_description }}
            </nuxt-link>
        </p>
        <div v-if="article.image !== null" class="--image">
            <nuxt-link
                :to="i18nRoute().article(article)"
                class="pr--image--preview"
                :style="{
                    backgroundImage: `url(${article.image})`
                }"
            />
        </div>
    </div>
</template>

<script>

export default {
    name: 'ArticleCardBodyUserReleased',
    components: {
    },
    props: {
        article: {
            type: [Object],
            default: () => {},
        },
    },
    data() {
        return {};
    },
    watch: {},
    mounted() {},
    methods: {},
};
</script>
