<template>
    <form class="row" @submit.prevent="submit">
        <div v-if="verification.data === null && verification.error" class="col-12 text-center">
            <span class="text-danger">
                Ссылка не действительна, повторите попытку снова
            </span>
        </div>
        <div v-if="!verification.error" class="col-12">
            <div class="form-group">
                <label class="text-muted ml-2 mb-0 form-label">{{ $t('fields.email') }} <i class="r">*</i></label>
                <input
                    v-model="email"
                    type="text"
                    class="form-control"
                    :class="{'is-danger': passwordReset.errors.email !== undefined}"
                    :placeholder="$t('fields.email')"
                    name="phone"
                    autocomplete="username"
                    :disabled="email !== null"
                    required
                >
                <FormError :error="passwordReset.errors.email" />
            </div>
        </div>
        <div v-if="!verification.error" class="col-12">
            <div class="form-group">
                <label class="text-muted ml-2 mb-0 form-label">{{ $t('fields.password') }} <i class="r">*</i></label>
                <input
                    v-model="password"
                    type="password"
                    class="form-control"
                    :class="{'is-danger': passwordReset.errors.password !== undefined}"
                    :placeholder="$t('fields.password')"
                    name="password"
                    required
                >
                <small class="form-text text-muted">{{ $t('auth.register.field_texts.password') }}</small>
                <FormError :error="passwordReset.errors.password" />
            </div>
        </div>
        <div v-if="!verification.error" class="col-12">
            <div class="form-group">
                <label class="text-muted ml-2 mb-0 form-label">{{ $t('fields.password_confirmation') }} <i class="r">*</i></label>
                <input
                    v-model="password_confirmation"
                    type="password"
                    class="form-control"
                    :class="{'is-danger': passwordReset.errors.password_confirmation !== undefined}"
                    :placeholder="$t('fields.password_confirmation')"
                    name="password_confirmation"
                    required
                >
                <FormError :error="passwordReset.errors.password_confirmation" />
            </div>
        </div>
        <div v-if="!verification.error" class="col-12 text-right">
            <button type="submit" class="btn btn-primary" :class="['btn btn-primary', passwordReset.pending ? 'is-loading' : '']">
                {{ $t('button.change_password') }}
            </button>
        </div>
    </form>
</template>

<script>
import { mapState, mapActions } from 'vuex';

export default {
    name: 'AuthFormPasswordReset',
    components: {
    },
    data() {
        return {
            token: null,
            email: null,
            password: null,
            password_confirmation: null,
        };
    },
    computed: mapState({
        passwordReset: state => state._auth.password.reset.form,
        verification: state => state.verifications.show,
    }),
    mounted() {
        const self = this;
        self.token = self.$route.query.token;
        self.email = self.$route.query.email;
        self.fetchShow({
            token: self.token,
            email: self.email,
        });
    },
    methods: {
        ...mapActions('verifications/show', ['fetchShow']),
        ...mapActions('_auth/password/reset/form', ['fetchReset']),
        submit() {
            const self = this;
            self.fetchReset({
                token: self.token,
                email: self.email,
                password: self.password,
                password_confirmation: self.password_confirmation,
            });
        }
    }
};
</script>

<style scoped>

</style>
