<template>
    <form class="row" @submit.prevent="submit">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label class="text-muted ml-2 mb-0 form-label">{{ $t('fields.first_name') }} <i class="r">*</i></label>
                        <input
                            v-model="first_name"
                            type="text"
                            class="form-control"
                            :class="{'is-danger': register.errors.first_name !== undefined}"
                            :placeholder="$t('fields.first_name')"
                            name="first_name"
                            required
                        >
                        <FormError :error="register.errors.first_name" />
                        <FormError :error="register.errors.recaptcha_token" />
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label class="text-muted ml-2 mb-0 form-label">{{ $t('fields.last_name') }} <i class="r">*</i></label>
                        <input
                            v-model="last_name"
                            type="text"
                            class="form-control"
                            :class="{'is-danger': register.errors.last_name !== undefined}"
                            :placeholder="$t('fields.last_name')"
                            name="last_name"
                            required
                        >
                        <FormError :error="register.errors.last_name" />
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label class="text-muted ml-2 mb-0 form-label">{{ $t('fields.second_name') }}</label>
                        <input
                            v-model="second_name"
                            type="text"
                            class="form-control"
                            :class="{'is-danger': register.errors.second_name !== undefined}"
                            :placeholder="$t('fields.second_name')"
                            name="second_name"
                        >
                        <FormError :error="register.errors.second_name" />
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label class="text-muted ml-2 mb-0 form-label">{{ $t('fields.email') }} <i class="r">*</i></label>
                        <input
                            v-model="email"
                            type="text"
                            class="form-control"
                            :class="{'is-danger': register.errors.email !== undefined}"
                            :placeholder="$t('fields.email')"
                            name="email"
                            autocomplete="username"
                            required
                        >
                        <FormError :error="register.errors.email" />
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label class="text-muted ml-2 mb-0 form-label">{{ $t('fields.password') }} <i class="r">*</i></label>
                        <input
                            v-model="password"
                            type="password"
                            class="form-control"
                            :class="{'is-danger': register.errors.password !== undefined}"
                            :placeholder="$t('fields.password')"
                            name="password"
                            autocomplete="current-password"
                            required
                        >
                        <small class="form-text text-muted">{{ $t('auth.register.field_texts.password') }}</small>
                        <FormError :error="register.errors.password" />
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label class="text-muted ml-2 mb-0 form-label">{{ $t('fields.password_confirmation') }} <i class="r">*</i></label>
                        <input
                            v-model="password_confirmation"
                            type="password"
                            class="form-control"
                            :class="{'is-danger': register.errors.password_confirmation !== undefined}"
                            :placeholder="$t('fields.password_confirmation')"
                            name="password_confirmation"
                            autocomplete="current-password"
                            required
                        >
                        <FormError :error="register.errors.password_confirmation" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="checkbox d-flex align-items-center">
                <input id="checkbox2" type="checkbox" checked>
                <label class="ml-2" for="checkbox2" style="cursor: pointer">
                    <span v-html="$t('auth.register.links.mail')" />
                </label>
            </div>
        </div>
        <div class="col-12 mt-3 text-center">
            <button type="submit" class="btn btn-primary" :class="['btn btn-primary btn-block', register.pending ? 'is-loading' : '']">
                {{ $t('auth.register.buttons.register') }}
            </button>
        </div>
        <div class="col-12 mt-3 small">
            <span v-html="$t('auth.register.links.policy')" />
        </div>
<!--        <AuthBlockSocialAuth />-->
        <div class="col-12 mt-3 small">
            <LinkRecaptcha />
        </div>
    </form>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import AuthBlockSocialAuth from '../Block/AuthBlockSocialAuth';
import LinkRecaptcha from '../../Base/Link/LinkRecaptcha';

export default {
    name: 'AuthModalRegister',
    components: {
        AuthBlockSocialAuth,
        LinkRecaptcha,
    },
    data() {
        return {
            first_name: null,
            last_name: null,
            second_name: null,
            email: null,
            phone: null,
            country: null,
            organization: null,
            orcid_id: null,
            password: null,
            password_confirmation: null,
            selected: null,
            options: [
                { value: null, text: 'Страна' },
                { value: 1, text: 'Россия' },
                { value: 2, text: 'Ураина' },
            ]
        };
    },
    computed: mapState({
        modal: 'modal',
        register: state => state._auth.register.form,
    }),
    mounted() {
        const self = this;
        try {
            self.$recaptcha.init();
        } catch (e) {
            console.log(e);
        }
    },
    methods: {
        ...mapActions('app.modal', ['setActive', 'setCurrent']),
        ...mapActions('_auth/register/form', ['fetchRegister']),
        cancel() {
            this.setActive(null);
            this.$modal.hide(this.modal.names.login);
        },
        async submit() {
            const self = this;
            const token = await self.$recaptcha.execute('register');
            self.fetchRegister({
                first_name: self.first_name,
                last_name: self.last_name,
                second_name: self.second_name,
                email: self.email,
                phone: self.phone,
                password: self.password,
                password_confirmation: self.password_confirmation,
                recaptcha_token: token,
            });
        },
        openLogin() {
            this.setActive(this.modal.names.login);
            this.$modal.hide(this.modal.names.register);
            this.$modal.show(this.modal.names.login);
        }
    }
};
</script>

<style scoped>

</style>
