<template>
    <form class="row" @submit.prevent="submit">
        <div class="col-12">
            <div class="form-group">
                <label class="text-muted ml-2 mb-0 form-label">{{ $t('fields.email') }}</label>
                <input
                    v-model="email"
                    type="text"
                    class="form-control"
                    :class="{'is-danger': login.errors.email !== undefined}"
                    :placeholder="$t('fields.email')"
                    name="phone"
                    autocomplete="username"
                    required
                >
                <FormError :error="login.errors.email" />
                <FormError :error="login.errors.recaptcha_token" />
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label class="text-muted ml-2 mb-0 form-label">{{ $t('fields.password') }}</label>
                <input
                    v-model="password"
                    type="password"
                    class="form-control"
                    :class="{'is-danger': login.errors.password}"
                    :placeholder="$t('fields.password')"
                    name="password"
                    autocomplete="current-password"
                    required
                >
                <FormError :error="login.errors.password" />
            </div>
        </div>
        <div class="col-12">
            <div class="d-flex align-items-center justify-content-between">
                <div class="checkbox d-flex align-items-center">
                    <input id="checkbox1" type="checkbox" checked>
                    <label class="ml-2" for="checkbox1" style="cursor: pointer">
                        {{ $t('fields.remember_me') }}
                    </label>
                </div>
                <nuxt-link :to="i18nRoute().authPasswordEmail()">
                    {{ $t('fields.forget_password') }}
                </nuxt-link>
            </div>
        </div>
        <div class="col-12 mt-3 text-center">
            <button type="submit" :class="['btn btn-primary btn-block', login.pending ? 'is-loading' : '']">
                {{ $t('auth.login.buttons.login') }}
            </button>
        </div>
        <div class="col-12 mt-3 small">
            <span v-html="$t('auth.login.links.agreement')" />
        </div>
<!--        <AuthBlockSocialAuth />-->
        <div class="col-12 mt-3 small">
            <LinkRecaptcha />
        </div>
    </form>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import AuthBlockSocialAuth from '../Block/AuthBlockSocialAuth';
import LinkRecaptcha from '../../Base/Link/LinkRecaptcha';

export default {
    name: 'AuthFormLogin',
    components: {
        AuthBlockSocialAuth,
        LinkRecaptcha,
    },
    data() {
        return {
            email: null,
            password: null,
        };
    },
    computed: mapState({
        login: state => state._auth.login.form,
    }),
    mounted() {
        //
    },
    methods: {
        ...mapActions('app/modal', ['setActive', 'setCurrent']),
        ...mapActions('_auth/login/form', ['fetchLogin', 'setPending']),
        cancel() {
            this.setActive(null);
            this.$modal.hide(this.modal.names.login);
        },
        async submit(e) {
            const self = this;
            self.setPending(true);
            const token = await self.$recaptcha.execute('login');
            self.fetchLogin({
                email: self.email,
                password: self.password,
                recaptcha_token: token,
            });
        }
    }
};
</script>
