<template>
    <form class="row" @submit.prevent="submit">
        <div class="col-12 text-muted mb-1">
            {{ $t('auth.password.email.description') }}
        </div>
        <div class="col-12">
            <div class="form-group">
                <label class="text-muted ml-2 mb-0 form-label">{{ $t('fields.email') }} <i class="r">*</i></label>
                <input
                    v-model="passwordEmail.form.email"
                    type="text"
                    class="form-control"
                    :class="{'is-danger': passwordEmail.errors.email !== undefined}"
                    :placeholder="$t('fields.email')"
                    name="phone"
                    autocomplete="username"
                    required
                >
                <FormError :error="passwordEmail.errors.email" />
                <FormError :error="passwordEmail.errors.recaptcha_token" />
            </div>
        </div>
        <div class="col-12 text-right">
            <nuxt-link :to="i18nRoute().authLogin()" class="btn btn-light">
                {{ $t('button.back') }}
            </nuxt-link>
            <button type="submit" class="btn btn-primary" :class="['btn btn-primary', passwordEmail.pending ? 'is-loading' : '']">
                {{ $t('button.send') }}
            </button>
        </div>
        <div class="col-12 mt-3 small">
            <LinkRecaptcha />
        </div>
    </form>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import LinkRecaptcha from '../../Base/Link/LinkRecaptcha';

export default {
    name: 'AuthFormPasswordEmail',
    components: {
        LinkRecaptcha,
    },
    data() {
        return {
        };
    },
    computed: mapState({
        passwordEmail: state => state._auth.password.email.form,
    }),
    mounted() {
    },
    methods: {
        ...mapActions('_auth/password/email/form', ['fetchEmail']),
        async submit() {
            const self = this;
            const token = await self.$recaptcha.execute('reset_email');
            self.fetchEmail({
                email: self.passwordEmail.form.email,
                recaptcha_token: token,
            });
        }
    }
};
</script>

<style scoped>

</style>
