<template>
    <div>
        <div class="row">
            <div class="col-12">
                <table
                    :class="[
                        `table table-hover b-table-fixed table--by-fields __with-edit-delete table--${model}--editor_articles`,
                        pending || priority.pending ? 'table-pending' : '',
                    ]"
                >
                    <thead>
                        <tr>
                            <th class="is-id">
                                #
                            </th>
                            <th class="is-up-down" />
                            <th class="is-title">
                                Заголовок
                            </th>
                            <th class="is-show">
                                <span class="icon-ru" />
                            </th>
                            <th class="is-show">
                                <span class="icon-en" />
                            </th>
                            <th class="is-delete">
                                <font-awesome-icon icon="trash" />
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            v-for="(article, key) in item.editor_articles"
                            :key="article.id"
                        >
                            <td class="is-id" :data-id="article.id">
                                {{ key + 1 }}
                            </td>
                            <td class="is-up-down">
                                <div class="d-flex align-items-center justify-content-center">
                                    <button
                                        type="button"
                                        :class="[
                                            'btn btn-icon btn-xs btn-light mr-1',
                                        ]"
                                        :disabled="key === 0"
                                        @click="priorityUp(article)"
                                    >
                                        <font-awesome-icon icon="chevron-up" />
                                    </button>
                                    <button
                                        type="button"
                                        :class="[
                                            'btn btn-icon btn-xs btn-light',
                                        ]"
                                        :disabled="item.editor_articles[key + 1] === undefined"
                                        @click="priorityDown(article)"
                                    >
                                        <font-awesome-icon icon="chevron-down" />
                                    </button>
                                </div>
                            </td>
                            <td class="is-title">
                                RU: {{ article.translations.ru.name || '-' }}
                                <br>
                                EN: {{ article.translations.en.name || '-' }}
                            </td>
                            <td class="is-show" style="width: 100px;">
                                <nuxt-link
                                    v-if="article.translations.ru.name !== null"
                                    v-tippy
                                    :content="'Открыть в редакторе'"
                                    :to="`/${model}/${item.id}/articles/${article.id}/edit?locale=ru`"
                                    type="button"
                                    :class="[
                                        'btn btn-icon btn-sm btn-light mr-1',
                                        article.translations.ru.name !== null ? 'btn-light' : 'btn-danger disabled'
                                    ]"
                                >
                                    <font-awesome-icon icon="tools" />
                                </nuxt-link>
                                <button
                                    v-tippy
                                    :content="'Быстрое редактирование'"
                                    type="button"
                                    :class="[
                                        'btn btn-icon btn-sm btn-primary',
                                    ]"
                                    @click="actionEdit(article, 'ru')"
                                >
                                    <font-awesome-icon icon="pencil-alt" />
                                </button>
                            </td>
                            <td class="is-show" style="width: 100px;">
                                <nuxt-link
                                    v-tippy
                                    :content="'Открыть в редакторе'"
                                    :to="`/${model}/${item.id}/articles/${article.id}/edit?locale=en`"
                                    type="button"
                                    :class="[
                                        'btn btn-icon btn-sm mr-1',
                                        article.translations.en.name !== null ? 'btn-light' : 'btn-danger disabled'
                                    ]"
                                >
                                    <font-awesome-icon icon="tools" />
                                </nuxt-link>
                                <button
                                    v-tippy
                                    :content="'Быстрое редактирование'"
                                    type="button"
                                    :class="[
                                        'btn btn-icon btn-sm btn-primary',
                                    ]"
                                    @click="actionEdit(article, 'en')"
                                >
                                    <font-awesome-icon icon="pencil-alt" />
                                </button>
                            </td>
                            <td class="is-delete">
                                <button
                                    type="button"
                                    :class="[
                                        'btn btn-icon btn-sm btn-danger',
                                        isLoading(destroy.pendingArray).article(article) ? 'is-loading' : '',
                                    ]"
                                    @click="deleteArticle(article)"
                                >
                                    <font-awesome-icon icon="trash" />
                                </button>
                            </td>
                        </tr>
                        <!--                        <tr>-->
                        <!--                            <td colspan="3">-->
                        <!--                                <button-->
                        <!--                                    type="button"-->
                        <!--                                    :class="[-->
                        <!--                                        'btn btn-primary',-->
                        <!--                                    ]"-->
                        <!--                                    @click="actionCreate"-->
                        <!--                                >-->
                        <!--                                    Добавить-->
                        <!--                                </button>-->
                        <!--                                &lt;!&ndash;                            <nuxt-link&ndash;&gt;-->
                        <!--                                &lt;!&ndash;                                :to="`/${model}/${item.id}/articles/create`"&ndash;&gt;-->
                        <!--                                &lt;!&ndash;                                :class="[&ndash;&gt;-->
                        <!--                                &lt;!&ndash;                                    'btn btn-primary',&ndash;&gt;-->
                        <!--                                &lt;!&ndash;                                ]"&ndash;&gt;-->
                        <!--                                &lt;!&ndash;                            >&ndash;&gt;-->
                        <!--                                &lt;!&ndash;                                Добавить&ndash;&gt;-->
                        <!--                                &lt;!&ndash;                            </nuxt-link>&ndash;&gt;-->
                        <!--                            </td>-->
                        <!--                            <td class="is-show" />-->
                        <!--                            <td class="is-edit" />-->
                        <!--                            <td class="is-delete" />-->
                        <!--                        </tr>-->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>

import {mapActions, mapState} from "vuex";

export default {
    name: 'PanelEditTabEditorArticles',
    components: {
        //
    },
    props: {
        pending: {
            type: [Boolean],
            required: true,
            default: () => false,
        },
        model: {
            type: [String],
            required: true,
            default: () => '',
        },
        item: {
            type: [Object],
            required: true,
            default: () => {},
        },
        fields: {
            type: [Array],
            required: true,
            default: () => [],
        },
    },
    data() {
        return {};
    },
    computed: mapState({
        priority: (state) => state.app.editor.articles.priority,
        destroy: (state) => state.app.editor.articles.destroy,
    }),
    mounted() {
        //
    },
    methods: {
        ...mapActions('app/editor/articles/priority', ['fetchPriority']),
        ...mapActions('app/editor/articles/destroy', ['fetchDestroy']),
        ...mapActions('app/panel/panel/base', ['setRole', 'fetchEdit', 'fetchFields', 'setPlacement']),
        priorityUp(article) {
            this.fetchPriority({
                article_id: article.id,
                value: 1,
                model: this.model,
                id: this.item.id,
            });
        },
        priorityDown(article) {
            this.fetchPriority({
                article_id: article.id,
                value: -1,
                model: this.model,
                id: this.item.id,
            });
        },
        deleteArticle(article) {
            this.fetchDestroy({
                model: this.model,
                id: this.item.id,
                article_id: article.id,
            });
        },
        actionCreate() {
            const self = this;
            this.$root.$emit('bv::toggle::collapse', 'panel-panel-create');
            self.setRole('create');
            self.setPlacement('right');
            self.fetchFields({
                model: 'editor-articles',
                release_id: this.item.id,
            });
        },
        actionEdit(item, locale) {
            const self = this;
            this.$root.$emit('bv::toggle::collapse', 'panel-panel-edit');
            self.setRole('edit');
            self.setPlacement('right');
            self.fetchEdit({
                id: item.id,
                model: 'editor-articles',
                locale,
            });
        }
    }
};
</script>

<style scoped>

</style>
