<template>
    <div class="form-group">
        <div class="markdown-editor-wrap markdown-wrapper">
            <div class="markdown-editor-buttons">
                <div>
                    <label class="text-muted ml-2 mb-0 form-label">
                        Текст
                    </label>
                </div>
                <div>
                    <div class="btn-group">
                        <button
                            type="button"
                            class="btn btn-light btn-sm icon markdown-add-bold"
                            @click="actionBold"
                            @focus="focused"
                        >
                            <font-awesome-icon icon="bold" />
                        </button>
                        <button
                            type="button"
                            class="btn btn-light btn-sm icon markdown-add-italic"
                            @click="actionItalic"
                            @focus="focused"
                        >
                            <font-awesome-icon icon="italic" />
                        </button>
                        <button
                            type="button"
                            class="btn btn-light btn-sm icon markdown-add-quote"
                            @click="actionQuote"
                            @focus="focused"
                        >
                            <font-awesome-icon icon="quote-right" />
                        </button>
                        <button
                            type="button"
                            class="btn btn-light btn-sm icon markdown-add-code"
                            @click="actionCode"
                            @focus="focused"
                        >
                            <font-awesome-icon icon="code" />
                        </button>
                        <button
                            type="button"
                            class="btn btn-light btn-sm icon markdown-add-link"
                            @click="actionLink"
                            @focus="focused"
                        >
                            <font-awesome-icon icon="link" />
                        </button>
                        <button
                            type="button"
                            class="btn btn-light btn-sm icon markdown-add-bullet-list"
                            @click="actionListOl"
                            @focus="focused"
                        >
                            <font-awesome-icon icon="list-ul" />
                        </button>
                        <button
                            type="button"
                            class="btn btn-light btn-sm icon markdown-add-numbered-list"
                            @click="actionListUl"
                            @focus="focused"
                        >
                            <font-awesome-icon icon="list-ol" />
                        </button>
                        <button
                            type="button"
                            class="btn btn-light btn-sm icon markdown-add-task-list"
                            @click="actionTask"
                            @focus="focused"
                        >
                            <font-awesome-icon icon="tasks" />
                        </button>
                        <button
                            type="button"
                            class="btn btn-light btn-sm icon markdown-add-table"
                            @click="actionTable"
                            @focus="focused"
                        >
                            <font-awesome-icon icon="table" />
                        </button>
                        <button
                            v-if="tab.image"
                            type="button"
                            :class="`btn btn-light btn-sm icon markdown-add-table ${uploadPending ? 'is-loading' : ''}`"
                            @click="uploadNew"
                            @focus="focused"
                        >
                            <font-awesome-icon icon="file-image" />
                        </button>
                    </div>
                </div>
            </div>
            <b-form-textarea
                id="textarea"
                ref="textarea"
                v-model="form[tab.key]"
                :class="{'is-danger': errors[tab.key] !== undefined}"
                :placeholder="tab.title"
                :disabled="tab.disabled"
                :rows="tab.rows"
                @keyup.prevent="changed"
                @focusin="focused"
                @focusout="focusouted"
            />
            <div v-if="hasImage()">
                <FormBaseMarkdownImageHelper />
            </div>
            <div v-if="isFocused" class="markdown-container">
                <div class="markdown-window is-columns">
                    <MarkdownItVue class="pr--markdown markdown-preview" :content="form[tab.key]" :options="options" />
                </div>
            </div>
            <div v-if="tab.image" class="d-none">
                <BFormFile
                    ref="fileUploadInput"
                    v-model="file"
                    :placeholder="$t('fields.file-placeholder')"
                    :drop-placeholder="$t('fields.file-drop')"
                    :browse-text="$t('fields.file-button')"
                    :accept="tab.accept"
                    @change="upload($event)"
                />
            </div>
        </div>
        <div class="mt-3">
            <label class="text-muted ml-2 mb-0 form-label">
                Предпросмотр
            </label>
            <div class="markdown-container">
                <div class="markdown-window is-columns-none">
                    <markdown-it-vue
                        class="pr--markdown markdown-preview"
                        :content="form[tab.key]"
                        :options="options"
                    />
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import MarkdownItVue from 'markdown-it-vue';
import markdownParse from "../../../../plugins/common/markdownParse";
import api from "../../../../api";
import axiosPanel from "../../../../plugins/common/axiosPanel";
import FormBaseMarkdownImageHelper from "../../../Form/Base/FormBaseMarkdownImageHelper";
import {mapState} from "vuex";

export default {
    name: 'PanelTabMarkdown',
    components: {
        MarkdownItVue,
        FormBaseMarkdownImageHelper,
    },
    props: {
        pending: {
            type: [Boolean],
            required: true,
            default: () => false,
        },
        model: {
            type: [String],
            required: true,
            default: () => '',
        },
        item: {
            type: [Object],
            required: true,
            default: () => {},
        },
        tab: {
            type: [Object],
            required: true,
            default: () => {},
        },
        fields: {
            type: [Array],
            required: true,
            default: () => [],
        },
    },
    data() {
        return {
            file: null,
            isFocused: false,
            uploadPending: false,
            options: {
                markdownIt: {
                    html: true,
                    linkify: true,
                    typographer: true,
                    breaks: true,
                },
                linkAttributes: {
                    attrs: {
                        target: '_blank',
                        rel: 'noopener'
                    }
                }
            }
        };
    },
    computed: mapState({
        form: (state) => state.app.panel.base.form,
        errors: (state) => state.app.panel.base.errors,
    }),
    created() {
        this.form[this.tab.key] = this.item.markdown !== null ? this.item.markdown : '';
    },
    methods: {
        hasImage() {
            if (this.form[this.tab.key] === null) {
                return false;
            }
            return this.form[this.tab.key].includes('img');
        },
        //...mapActions('app/editor/articles/store', ['setUrl']),
        changed() {
            this.$forceUpdate();
            //this.onChange();
        },
        focused() {
            this.isFocused = true;
        },
        focusouted() {
            this.isFocused = false;
        },
        uploadNew() {
            this.$refs.fileUploadInput.$refs.input.click();
        },
        upload(event) {
            const self = this;
            const { files } = event.target;
            if (files && files[0]) {
                console.log(files[0]);

                let urlUploadImage = self.$env.CONVERTER_API_URL + api.editor.upload;
                urlUploadImage = urlUploadImage.replace(':uid', (Math.random() + 1).toString(36).substring(7));
                urlUploadImage = urlUploadImage.replace(':model', self.model);

                const query = new FormData();
                query.append('file', files[0]);
                self.uploadPending = true;
                axiosPanel.post(urlUploadImage, query, function (result) {
                    console.log(result.file.url);
                    self.actionImage(result.file.url);
                    self.uploadPending = false;
                }, function (result) {
                    console.log(result);
                    self.uploadPending = false;
                });
            }
        },

        /**
         *
         * @returns {string}
         */
        selectionString() {
            return document.getSelection().toString();
        },

        /**
         *
         * @returns {{start: Node.selectionStart, end: Node.selectionEnd}}
         */
        prepareSelection() {
            return markdownParse.selections(this.$refs.textarea);
        },

        actionBold() {
            this.setValue('**' + this.selectionString() + '**');
        },
        actionItalic() {
            this.setValue('*' + this.selectionString() + '*');
        },
        actionQuote() {
            this.setValue('> ' + this.selectionString());
        },
        actionCode() {
            this.setValue('`' + this.selectionString() + '`');
        },
        actionLink() {
            this.setValue('[' + this.selectionString() + '](url)');
        },
        actionListOl() {
            this.setValue('* ' + this.selectionString());
        },
        actionListUl() {
            this.setValue('1. ' + this.selectionString());
        },
        actionTask() {
            this.setValue('* [ ] ' + this.selectionString());
        },
        actionTable() {
            this.setValue('| header | header |\n' +
                '| ------ | ------ |\n' +
                '| cell | cell |\n' +
                '| cell | cell | ');
        },
        actionImage(url) {
            this.setValue('<img src="' + url + '" width="100%" class="mb-3 mt-3" />');
        },

        /**
         *
         * @param {string} value
         */
        setValue(value) {
            const self = this;
            self.isFocused = true;
            const string = self.form[this.tab.key];
            const prepare = self.prepareSelection();
            self.form[this.tab.key] = string.slice(0, prepare.start) + value + string.slice(prepare.end);
            self.$refs.textarea.focus();
            const position = prepare.start + value.length;
            self.$forceUpdate();
            self.$nextTick(() => {
                self.$refs.textarea.selectionStart = self.$refs.textarea.selectionEnd = position;
            });
        },
    }
};
</script>

<style scoped>

</style>
