<template>
    <div class="row">
        <div class="col-12">
            <JsonViewer :value="tab.debug" />
        </div>
    </div>
</template>

<script>

import JsonViewer from 'vue-json-viewer';
import { mapActions, mapState } from 'vuex';

export default {
    name: 'PanelEditTabDebug',
    components: {
        JsonViewer,
    },
    props: {
        pending: {
            type: [Boolean],
            required: true,
            default: () => false,
        },
        model: {
            type: [String],
            required: true,
            default: () => '',
        },
        item: {
            type: [Object],
            required: true,
            default: () => {},
        },
        tab: {
            type: [Object],
            required: true,
            default: () => {},
        },
        fields: {
            type: [Array],
            required: true,
            default: () => [],
        },
    },
    data() {
        return {};
    },
    computed: mapState({
        form: state => state.app.panel.base.form,
        errors: state => state.app.panel.base.errors,
    }),
    created() {
        //
    },
    methods: {
        ...mapActions('app/panel/action', ['fetchAction']),
        changed() {
            this.$forceUpdate();
        },
    }
};
</script>
