<template>
    <div>
        <div class="dropzone-file">
            <button type="button" class="btn btn-block btn-primary" @click="upload()">
                Загрузить новое изображение
            </button>
        </div>
        <div class="row mt-3 pr--image-row">
            <div v-for="(image, key) in item[tab.transform]" :key="key" :class="`pr--image-col col-${tab.config.single ? 12 : 3}`">
                <div class="--container">
                    <img v-if="image.src !== null" :src="image.src" alt="" width="100%" :class="`${tab.config.rounded ? 'rounded-circle' : ''}`">
                    <BaseImgNotFound v-if="image.src === null" />
                    <button
                        type="button"
                        :class="[
                            'btn btn-icon btn-sm --left-top',
                            image.is_main ? 'btn-primary __active' : 'btn-outline-primary',
                            isLoading(main.pendingArray).basic(image.id) ? 'is-loading' : '',
                        ]"
                        @click="imageMain(image)"
                    >
                        <font-awesome-icon icon="check" />
                    </button>
                    <button
                        type="button"
                        :class="[
                            'btn btn-outline-danger btn-icon btn-sm --right-top',
                            isLoading(destroy.pendingArray).basic(image.id) ? 'is-loading' : '',
                        ]"
                        @click="imageDestroy(image)"
                    >
                        <font-awesome-icon icon="trash" />
                    </button>
                    <a
                        role="button"
                        :class="[
                            'btn btn-icon btn-sm --center-bottom',
                        ]"
                        :href="image.src"
                        data-fancybox="images"
                    >
                        <font-awesome-icon icon="eye" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import { mapActions, mapState } from 'vuex';
import { Fancybox } from '@fancyapps/ui';
import BaseImgNotFound from '../../../Base/Img/BaseImgNotFound';

export default {
    name: 'PanelEditTabImage',
    components: {
        BaseImgNotFound
    },
    props: {
        pending: {
            type: [Boolean],
            required: true,
            default: () => false,
        },
        model: {
            type: [String],
            required: true,
            default: () => '',
        },
        item: {
            type: [Object],
            required: true,
            default: () => {},
        },
        tab: {
            type: [Object],
            required: true,
            default: () => {},
        },
        fields: {
            type: [Array],
            required: true,
            default: () => [],
        },
    },
    data() {
        return {
            //
        };
    },
    computed: mapState({
        destroy: (state) => state.app.panel.image.destroy,
        main: (state) => state.app.panel.image.main,
        panel: (state) => state.app.panel.base,
    }),
    mounted() {
        Fancybox.bind('.pr--image-col .--center-bottom', {
            on: {
                ready: (fancybox) => {
                    //console.log(`fancybox #${fancybox.id} is ready!`);
                }
            }
        });
    },
    methods: {
        ...mapActions('app/panel/image/destroy', ['fetchDestroy']),
        ...mapActions('app/panel/image/main', ['fetchMain']),
        upload() {
            this.modalActions().openPanelUploadImage(this.model, this.item);
        },
        imageDestroy(image) {
            this.fetchDestroy({
                item: this.item,
                model: this.model,
                id: image.id,
            });
        },
        imageMain(image) {
            this.fetchMain({
                item: this.item,
                model: this.model,
                id: image.id,
            });
        }
    }
};
</script>

<style scoped>

</style>
