<template>
    <div class="row">
        <div class="col-12">
            <button type="button" :class="`btn btn-primary`" @click="submit">
                Сгенерировать токен
            </button>
        </div>
        <div v-if="actionData !== null" class="col-12 mt-3">
            {{ actionData.token }}
        </div>
    </div>
</template>

<script>

import { mapActions, mapState } from 'vuex';

export default {
    name: 'PanelEditTabToken',
    components: {
        //
    },
    props: {
        pending: {
            type: [Boolean],
            required: true,
            default: () => false,
        },
        model: {
            type: [String],
            required: true,
            default: () => '',
        },
        item: {
            type: [Object],
            required: true,
            default: () => {},
        },
        tab: {
            type: [Object],
            required: true,
            default: () => {},
        },
        fields: {
            type: [Array],
            required: true,
            default: () => [],
        },
    },
    data() {
        return {};
    },
    computed: mapState({
        form: state => state.app.panel.base.form,
        errors: state => state.app.panel.base.errors,
        actionData: state => state.app.panel.action.data,
    }),
    created() {
        //
    },
    methods: {
        ...mapActions('app/panel/action', ['fetchAction']),
        changed() {
            this.$forceUpdate();
        },
        submit() {
            this.fetchAction({
                model: this.model,
                id: this.item.id,
                action: 'token',
            });
        }
    }
};
</script>
