<template>
    <div>
        <PanelEditTabImage
            v-if="tab.type === 'image'"
            :model="model"
            :pending="false"
            :item="item"
            :tab="tab"
            :fields="tab.data"
        />
        <!--        <PanelEditTabMarkdown-->
        <!--            v-if="tab.name === 'markdown'"-->
        <!--            :model="model"-->
        <!--            :pending="false"-->
        <!--            :item="item"-->
        <!--            :fields="tab.data"-->
        <!--            :tab="tab"-->
        <!--        />-->
        <PanelEditTabEditorArticles
            v-if="tab.type === 'editor_articles'"
            :model="model"
            :pending="false"
            :item="item"
            :fields="tab.data"
        />
        <PanelEditTabToken
            v-if="tab.type === 'tokens'"
            :model="model"
            :pending="false"
            :item="item"
            :fields="tab.data"
            :tab="tab"
        />
        <PanelEditTabDebug
            v-if="tab.type === 'debug'"
            :model="model"
            :pending="false"
            :item="item"
            :fields="tab.data"
            :tab="tab"
        />
        <FormPanelByFields
            v-if="!types.includes(tab.type)"
            :model="model"
            :pending="false"
            :item="item"
            :fields="tab.data"
            :tab="tab"
        />
    </div>
</template>

<script>

import FormPanelByFields from '../../../Form/FormPanelByFields';
import PanelEditTabImage from './PanelEditTabImage';
//import PanelEditTabMarkdown from './PanelEditTabMarkdown';
import PanelEditTabEditorArticles from './PanelEditTabEditorArticles';
import PanelEditTabToken from './PanelEditTabToken';
import PanelEditTabDebug from './PanelEditTabDebug';

export default {
    name: 'PanelEditTabDefault',
    components: {
        FormPanelByFields,
        PanelEditTabImage,
        //PanelEditTabMarkdown,
        PanelEditTabEditorArticles,
        PanelEditTabToken,
        PanelEditTabDebug,
    },
    props: {
        pending: {
            type: [Boolean],
            required: true,
            default: () => false,
        },
        model: {
            type: [String],
            required: true,
            default: () => '',
        },
        item: {
            type: [Object],
            default: () => null,
        },
        tab: {
            type: [Object],
            required: true,
            default: () => {},
        },
    },
    data() {
        return {
            types: [
                'image',
                //'markdown',
                'editor_articles',
                'tokens',
                'debug',
            ]
        };
    },
    mounted() {
        //
    },
    methods: {
        //
    }
};
</script>

<style scoped>

</style>
