<template>
    <vue-modal :title="null" :name="modal.names.share" :width="$device.isDesktop ? 300 : '100%'" :head="false">
        <div v-if="item !== null" class="mt-4">
            <ShareNetwork
                network="facebook"
                :url="item.url"
                :title="item.title"
                :media="item.media"
                class="btn btn-block text-white btn-facebook"
            >
                <font-awesome-icon :icon="['fab', 'facebook-f']" />
                <span>{{ $t('button.share-facebook') }}</span>
            </ShareNetwork>
            <ShareNetwork
                network="twitter"
                :url="item.url"
                :title="item.title"
                :media="item.media"
                class="btn btn-block text-white btn-twitter"
            >
                <font-awesome-icon :icon="['fab', 'twitter']" />
                <span>{{ $t('button.share-twitter') }}</span>
            </ShareNetwork>
            <ShareNetwork
                network="vk"
                :url="item.url"
                :title="item.title"
                :media="item.media"
                class="btn btn-block text-white btn-vk"
            >
                <font-awesome-icon :icon="['fab', 'vk']" />
                <span>{{ $t('button.share-vk') }}</span>
            </ShareNetwork>
            <ShareNetwork
                network="whatsapp"
                :url="item.url"
                :title="item.title"
                :media="item.media"
                class="btn btn-block text-white btn-whatsapp"
            >
                <font-awesome-icon :icon="['fab', 'whatsapp']" />
                <span>{{ $t('button.share-whatsapp') }}</span>
            </ShareNetwork>
            <ShareNetwork
                network="telegram"
                :url="item.url"
                :title="item.title"
                :media="item.media"
                class="btn btn-block text-white btn-telegram"
            >
                <font-awesome-icon :icon="['fab', 'telegram-plane']" />
                <span>{{ $t('button.share-telegram') }}</span>
            </ShareNetwork>
        </div>
    </vue-modal>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import vueModal from '../ModalBasic';

export default {
    name: 'ModalShare',
    components: {
        'vue-modal': vueModal,
    },
    data() {
        return {
            item: null,
        };
    },
    computed: mapState({
        modal: state => state.modal,
        modalItem: state => state.modal.item,
    }),
    watch: {
        'modalItem.journal'() {
            const self = this;
            if (self.modalItem.journal === undefined) {
                return;
            }
            self.item = {
                url: self.i18nUrl().journal(self.modalItem.journal),
                title: self.modalItem.journal.title,
                media: self.modalItem.journal.image,
            };
        },
        'modalItem.release'() {
            const self = this;
            if (self.modalItem.release === undefined) {
                return;
            }
            self.item = {
                url: self.i18nUrl().release(self.modalItem.release),
                title: `${self.modalItem.release.title} ${self.modalItem.release.number}`,
                media: self.modalItem.release.image,
            };
        },
        'modalItem.article'() {
            const self = this;
            if (self.modalItem.article === undefined) {
                return;
            }
            self.item = {
                url: self.i18nUrl().article(self.modalItem.article),
                title: self.modalItem.article.title,
            };
        },
    },
    mounted() {

    },
    methods: {
        ...mapActions('app.modal', ['setActive', 'setCurrent']),
    }
};
</script>

<style scoped>

</style>
