<template>
    <div>
        <img :src="group.image" :alt="group.title" height="26" width="26" class="mr-1 rounded-circle border" style="margin-top: -1px;">
        {{ group.title }}
    </div>
</template>

<script>

export default {
    name: 'LinkItemGroup',
    props: {
        group: {
            type: [Object],
            default: () => {
                return {
                    slug: '',
                    title: 'Страница',
                    image: '/img/default.png',
                };
            },
        },
    }
};
</script>
