<template>
    <div class="form-group">
        <label :class="`text-muted ml-2 mb-0 form-label`">
            {{ field.title }} <i v-if="required" class="r">*</i>
        </label>
        <Multiselect
            ref="multiselect"
            v-model="value"
            :name="`tags`"
            :class="[`pr--multiselect--tags`, value !== null && value.length ? '__tagged' : '']"
            :options="values"
            :disabled="field.disabled"
            :placeholder="$t('fields.tags-placeholder')"
            :limit="field.limit"
            :autocomplite="'off'"
            :allow-empty="true"
            :multiple="true"
            :searchable="true"
            track-by="id"
            label="title"
            :taggable="true"
            :tag-placeholder="`Добавить новый тэг`"
            :loading="loading"
            :internal-search="true"
            :preserve-search="true"
            :clear-on-select="true"
            :close-on-select="false"
            :show-labels="true"
            select-label="Выбрать"
            selected-label="Выбрано"
            deselect-label="Убрать"
            :show-no-results="true"
            open-direction="bottom"
            :limit-text="(count) => `и еще ${count}`"
            @select="onInitialChange"
            @remove="onInitialChange"
            @open="opened"
            @search-change="asyncFind"
            @tag="addTag"
        >
            <template #noResult>
                {{ $t('basic.search.search-empty-results') }}
            </template>
            <template #noOptions>
                {{ $t('basic.empty-list') }}
            </template>
            <template #tag="{ option, search, remove }">
                <span
                    :class="`multiselect__tag ${editable && tags.review.includes(option.id) ? '__review' : ''} ${editable && tags.declined.includes(option.id) ? '__declined' : ''}`"
                    v-tippy="{ trigger: editable && (tags.review.includes(option.id) || tags.declined.includes(option.id)) ? 'mouseenter' : 'manual' }"
                    :content="`${editable && tags.review.includes(option.id) ? 'Тэг находится на модерации' : ''} ${editable && tags.declined.includes(option.id) ? 'Тэг был отклонен' : ''}`"
                >
                    <span v-text="option.title" />
                    <i aria-hidden="true" tabindex="1" class="multiselect__tag-icon" @keypress.enter.prevent="remove(option)" @mousedown.prevent="remove(option)" />
                </span>
            </template>
            <!--                            <template #selection>-->
            <!--                                <span class="multiselect__single">Выбрано {{ form.tags.length }} тэгов</span>-->
            <!--                            </template>-->
        </Multiselect>
        <FormError :error="errors[field.key]" />
        <small v-if="field.help !== undefined" class="form-text text-muted">
            {{ field.help }}
        </small>
    </div>
</template>

<script>
import { mapState } from 'vuex';
import FormError from '../../Base/Form/FormError';
import api from '../../../api';
import response from '../../../plugins/common/response';
import commonForm from '../../../plugins/common/commonForm';
import { sortBy } from 'lodash';

export default {
    name: 'FormSelectTags',
    components: {
        FormError,
        Multiselect: () => import('./../../../plugins/custom/vue-multiselect.min'),
    },
    props: {
        field: {
            type: [Object],
            required: true,
            default: () => {
                return {
                    title: '',
                    key: '',
                    model: '',
                    value: null,
                    user_id: null,
                    values: [],
                    disabled: false,
                    multiple: false,
                    id: null,
                    limit: 2,
                };
            },
        },
        errors: {
            type: [Object],
            required: true,
            default: () => {},
        },
        required: {
            type: [Boolean],
            default: () => false,
        },
        onChange: {
            type: [Function],
            default: () => {},
        },
        onValuesChange: {
            type: [Function],
            default: () => {},
        },
        editable: {
            type: [Boolean],
            default: () => false,
        }
    },
    data() {
        return {
            value: null,
            values: [],
            loading: false,
            timer: null,
            query: '',
            prevQuery: '',
        };
    },
    computed: mapState({
        tags: state => state.user.tags.array.data,
        store: state => state.user.tags.store,
    }),
    watch: {
        'store.success'() {
            const self = this;
            if (self.store.success) {
                self.fetchValues('', undefined, self.field.user_id, function () {
                    self.value.push(self.store.select);
                    self.onInitialChange();
                });
            }
        }
    },
    created() {
        const self = this;
        self.fetchValues('', undefined, self.field.user_id);
        // if (this.role === 'table') {
        //     this.form[this.field.key] = formValue.searchSelectTable(this.field, this.formRouteTable);
        // } else {
        //     this.form[this.field.key] = formValue.searchSelectField(this.field, this.item);
        // }
    },
    mounted() {
        const self = this;
        self.value = self.field.value;
        self.values = self.field.values;
        self.sortSelected();
        // if (self.field.id !== null) {
        //     self.fetchValues('', self.field.id, self.field.user_id);
        // }
    },
    methods: {
        onInitialChange() {
            const self = this;
            self.$nextTick(() => {
                self.query = '';
                self.onChange(self.value);
                console.log('onChanges', self.value);
                //self.fetchValues('', null, self.field.user_id);
                self.sortSelected();
            });
        },
        sortSelected() {
            const self = this;
            self.values = sortBy(self.values, (a) => {
                return a.title;
            });
            if (self.value === null) {
                return;
            }
            self.values = sortBy(self.values, (a) => {
                return self.value.includes(a) ? -1 : 0;
            });
        },
        opened() {
            const self = this;
            if (!self.field.values.length) {
                //self.asyncFind(' ');
            }
        },
        asyncFind(query) {
            const self = this;
            //console.log('query: ' + query, 'self.query: ' + self.query, 'self.prevQuery: ' + self.prevQuery);
            if (query === '' && self.query === '' && self.prevQuery === '') {
                return;
            }
            // if (query === '' && self.query !== '') {
            //     return;
            // }
            self.query = query;
            self.prevQuery = self.query;
            self.timer = commonForm.formTimeout(self.timer, () => {
                self.fetchValues(query, self.field.id, self.field.user_id);
            }, 500);
        },
        fetchValues(query, id, userId, callback) {
            const self = this;
            self.loading = true;
            let url = api.search.select;
            url += `?model=${self.field.model}&q=${query}`;
            if (id !== undefined && id !== null) {
                url += `&id=${id}`;
            }
            if (userId !== undefined && userId !== null) {
                url += `&user_id=${userId}`;
            }
            self.$axios.get(url)
                .then((res) => {
                    self.loading = false;
                    const result = response.success(res);
                    self.onValuesChange(result.data);
                    self.values = result.data;
                    if (id !== undefined && id !== null) {
                        const item = result.data.find(j => j.id === id);
                        if (item !== undefined) {
                            self.value = item;
                        }
                    }
                    self.$forceUpdate();
                    if (callback !== undefined) {
                        callback();
                    }
                })
                .catch((error) => {
                    self.loading = false;
                });
        },
        addTag(searchQuery, id) {
            const self = this;
            if (!self.editable) {
                return;
            }
            self.store.form.title = searchQuery;
            self.modalActions().openUserTagCreate();
        }
    }
};
</script>
