<template>
    <client-only>
        <toggle-button
            v-model="model"
            :value="defaultValue"
            color="#82C7EB"
            :sync="true"
            :labels="{checked: $t('basic.yes'), unchecked: $t('basic.no')}"
            :css-colors="true"
            @change="change"
        />
    </client-only>
</template>
<script>
export default {
    name: 'FormCheckboxToggle',
    props: {
        model: {
            type: [Boolean],
            default: null,
        },
        defaultValue: {
            type: [Boolean],
            default: false,
        },
        change: {
            type: [Function],
            default: null,
        }
    }
};
</script>
