<template>
    <div class="form-group">
        <label :class="`text-muted ml-2 mb-0 form-label`">
            {{ field.title }} <i v-if="required" class="r">*</i>
        </label>
        <Multiselect
            ref="multiselect"
            v-model="value"
            :name="`${field.key}`"
            :class="[
                'pr--multiselect',
                'pr--multiselect--search',
                errors[field.key] !== undefined ? 'is-danger' : '',
            ]"
            class=""
            :options="field.values"
            :disabled="field.disabled"
            :autocomplite="'off'"
            :internal-search="true"
            :preserve-search="true"
            :placeholder="$t('fields.select-empty')"
            :options-limit="300"
            :loading="loading"
            :limit="10"
            :allow-empty="true"
            :multiple="field.multiple !== undefined ? field.multiple : false"
            :close-on-select="true"
            :searchable="true"
            track-by="id"
            label="title"
            :show-labels="true"
            select-label="Выбрать"
            selected-label="Выбрано"
            deselect-label="Убрать"
            :show-no-results="true"
            open-direction="bottom"
            @select="onInitialChange"
            @remove="onInitialChange"
            @open="opened"
            @search-change="asyncFind"
        >
            <!--            <template slot="tag" slot-scope="{ option, remove }"><span class="custom__tag"><span>{{ option.name }}</span><span class="custom__remove" @click="remove(option)">❌</span></span></template>-->
            <template #selection="{ values, search, isOpen }">
                <!--                <span v-if="values.length && !isOpen" class="multiselect__single">Выбрано {{ values.length }}</span>-->
                <span
                    v-if="values.length"
                    class="multiselect__selected-values"
                >{{ values.map(x => x.title).join(', ') }}</span>
                <!--                <span v-if="!values.length" class="multiselect__selected-values">{{ $t('fields.select-empty') }}</span>-->
            </template>
            <template #noResult>
                {{ $t('fields.select-no-results') }}
            </template>
            <template #noOptions>
                {{ $t('fields.select-empty') }}
            </template>
            <template #singleLabel="{ option }">
                <span>{{ option.title }}</span>
            </template>
            <!--            <template #option="{ option, search }">-->
            <!--                <span>{{ search }}</span>-->
            <!--            </template>-->
            <!--                            <template #selection>-->
            <!--                                <span class="multiselect__single">Выбрано {{ form.tags.length }} тэгов</span>-->
            <!--                            </template>-->
        </Multiselect>
        <FormError :error="errors[field.key]" />
        <small v-if="field.help !== undefined" class="form-text text-muted">
            {{ field.help }}
        </small>
    </div>
</template>

<script>
import { mapState } from 'vuex';
import FormError from '../../Base/Form/FormError';
import api from '../../../api';
import response from '../../../plugins/common/response';
import commonForm from '../../../plugins/common/commonForm';

export default {
    name: 'FormSelectSearch',
    components: {
        FormError,
        Multiselect: () => import('./../../../plugins/custom/vue-multiselect.min'),
    },
    props: {
        field: {
            type: [Object],
            required: true,
            default: () => {
                return {
                    title: '',
                    key: '',
                    model: '',
                    value: null,
                    user_id: null,
                    values: [],
                    disabled: false,
                    multiple: false,
                    id: null,
                };
            },
        },
        errors: {
            type: [Object],
            required: true,
            default: () => {},
        },
        required: {
            type: [Boolean],
            default: () => false,
        },
        onChange: {
            type: [Function],
            default: () => {},
        },
        onValuesChange: {
            type: [Function],
            default: () => {},
        },
    },
    data() {
        return {
            value: null,
            loading: false,
            timer: null,
            query: '*',
        };
    },
    computed: mapState({
        // formPanel: (state) => state.app.panel.base.form,
        // formPanelPanel: (state) => state.app.panel.panel.base.form,
        // formTable: (state) => state.app.table.base.form,
        // formEditor: (state) => state.app.editor.articles.store.form,
        // formRouteTable: (state) => state.app.table.base.formRoute,
        // form() {
        //     if (this.role === 'panel') {
        //         return this.formPanel;
        //     }
        //     if (this.role === 'panel-panel') {
        //         return this.formPanelPanel;
        //     }
        //     if (this.role === 'table') {
        //         return this.formTable;
        //     }
        //     if (this.role === 'editor') {
        //         return this.formEditor;
        //     }
        //     return {};
        // }
    }),
    created() {
        // if (this.role === 'table') {
        //     this.form[this.field.key] = formValue.searchSelectTable(this.field, this.formRouteTable);
        // } else {
        //     this.form[this.field.key] = formValue.searchSelectField(this.field, this.item);
        // }
    },
    mounted() {
        const self = this;
        self.value = self.field.value;
        if (self.field.id !== null) {
            self.fetchValues('', self.field.id, self.field.user_id);
        }
    },
    methods: {
        onInitialChange() {
            const self = this;
            //self.$forceUpdate();
            self.$nextTick(() => {
                //self.query = '*';
                self.onChange(self.value);
                if (self.value !== null) {
                    self.fetchValues('', self.value.id, self.field.user_id);
                } else {
                    self.fetchValues('', null, self.field.user_id);
                }
            });
        },
        opened() {
            const self = this;
            if (!self.field.values.length) {
                //self.asyncFind(' ');
            }
        },
        asyncFind(query) {
            const self = this;
            if (query === '' && self.query === '*') {
                return;
            }
            if (query === '' && self.query !== '*') {
                return;
            }
            self.query = query;
            if (self.query === '') {
                self.query = '*';
            }
            self.timer = commonForm.formTimeout(self.timer, () => {
                self.fetchValues(query, self.field.id, self.field.user_id);
            }, 500);
        },
        fetchValues(query, id, userId) {
            const self = this;
            self.loading = true;
            let url = api.search.select;
            url += `?model=${self.field.model}&q=${query}`;
            if (id !== undefined && id !== null) {
                url += `&id=${id}`;
            }
            if (userId !== undefined && userId !== null) {
                url += `&user_id=${userId}`;
            }
            self.$axios.get(url)
                .then((res) => {
                    self.loading = false;
                    const result = response.success(res);
                    self.onValuesChange(result.data);
                    if (id !== undefined && id !== null) {
                        const item = result.data.find(j => j.id === id);
                        if (item !== undefined) {
                            self.value = item;
                        }
                    }
                    self.$forceUpdate();
                })
                .catch((error) => {
                    self.loading = false;
                });
        }
    }
};
</script>
