<template>
    <div
        v-if="error !== undefined && error !== null"
        class="form-text text-danger"
        :class="{ 'small' : small }"
    >
        {{ error }}
    </div>
</template>
<script>
export default {
    name: 'FormError',
    props: {
        error: {
            type: [String],
            default: null,
        },
        small: {
            type: [Boolean],
            default: true,
        },
    }
};
</script>
