<template>
    <b-dropdown
        id="dropdown-group-menu-user"
        variant="icon"
        class="pr--dropdown--icon __md"
        no-caret
        toggle-tag="div"
        :dropleft="!$device.isDesktop"
    >
        <template #button-content>
            <button v-tippy class="btn btn-icon" type="button" :content="$t('tooltip.settings')">
                <font-awesome-icon icon="ellipsis-h" />
            </button>
        </template>
        <b-dropdown-item @click="report">
            {{ $t('button.report') }}
        </b-dropdown-item>
        <b-dropdown-item v-if="$auth.loggedIn && group.owner.id !== $auth.user.id" @click="quit">
            {{ $t('button.quit') }}
        </b-dropdown-item>
        <b-dropdown-item v-if="$auth.loggedIn && group.owner.id === $auth.user.id" @click="destroy">
            {{ $t('button.delete') }}
        </b-dropdown-item>
    </b-dropdown>
</template>

<script>

import { mapActions, mapState } from 'vuex';

export default {
    name: 'GroupMenuUser',
    components: {
    },
    props: {
        group: {
            type: [Object],
            default: () => {},
        },
    },
    data() {
        return {};
    },
    watch: {},
    mounted() {},
    methods: {
        ...mapActions('user/groups/destroy', ['fetchDestroy']),
        ...mapActions('user/groups/quit', ['fetchQuit']),
        destroy() {
            const self = this;
            self.fetchDestroy({
                id: self.group.id,
            });
        },
        quit() {
            const self = this;
            self.fetchQuit({
                id: self.group.id,
            });
        },
        report() {
            const self = this;
            if (!self.$auth.loggedIn) {
                self.message().needLoginForReports();
                return;
            }
            self.modalActions().openUserReportGroup(self.group);
        }
    },
};
</script>
