<template>
    <BaseModal
        :title="'Время сессии на редактирование истекает'"
        :name="'modal-editor-unlock-release'"
        :width="500"
    >
        <div class="row">
            <div class="col-12">
                <p>
                    Если хотите продолжить редактирование, нажмите "Продолжить", иначе вас перенаправит на страницу выпусков.
                </p>
                <p v-if="currentTime !== null" class="text-center mb-0">
                    {{ $root.momentDate().secondsToMinutes(currentTime) }}
                </p>
            </div>
            <div class="col-12 mt-3 d-flex justify-content-end align-items-center">
                <nuxt-link
                    :to="'/releases'"
                    type="button"
                    class="btn btn-light mr-1"
                >
                    Перейти к выпускам
                </nuxt-link>
                <button
                    type="button"
                    class="btn btn-primary"
                    @click="actionContinue"
                >
                    Продолжить
                </button>
            </div>
        </div>
    </BaseModal>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import BaseModal from './../BaseModal';

export default {
    name: 'BaseModalEditorUnlockRelease',
    components: {
        BaseModal,
    },
    data() {
        return {
            currentTime: null,
            timer: null,
        };
    },
    computed: mapState({
        config: (state) => state.app.data,
        modal: (state) => state.app.modal,
        action: (state) => state.app.panel.action,
        articleStore: (state) => state.app.editor.articles.store,
    }),
    watch: {
        currentTime(time) {
            if (time === 0) {
                this.stopTimer();
            }
        },
        'modal.current'() {
            if (this.modal.current === 'modal-editor-unlock-release') {
                this.currentTime = this.config.data.editor.unlock_minutes * 60;
                this.startTimer();
            }
        },
    },
    mounted() {
        //
    },
    unmounted() {
        this.stopTimer();
    },
    methods: {
        ...mapActions('app/panel/action', ['fetchAction']),
        actionContinue() {
            this.modalActions().close();
            this.fetchAction({
                action: 'continue-locked',
                model: this.articleStore.model,
                id: this.articleStore.modelId,
            });
            // this.$root.echo().connectRelease({
            //     id: this.$route.params.id,
            // });
            // this.$root.modalActions().close();
        },
        actionToReleases() {
            this.$router.push('/releases');
        },
        startTimer() {
            this.timer = setInterval(() => {
                this.currentTime--;
            }, 1000);
        },
        stopTimer() {
            clearTimeout(this.timer);
        },
    }
};
</script>
