<template>
    <BaseModal
        :title="'Параметры копирования из PDF'"
        :name="'modal-editor-pdf-options'"
        :width="500"
    >
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <BFormCheckbox
                        v-model="options.use_h_optimal"
                        :value="true"
                    >
                        Использовать умное определение высоты между строк
                    </BFormCheckbox>
                    <FormBaseHelp :field="{help: 'Предлагаемое оптимально значение: ' + options.h_optimal}" />
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <FormBaseLabel :field="{title: 'Высота между строками'}" />
                    <input
                        v-model="options.h"
                        class="form-control"
                        :disabled="options.use_h_optimal"
                        :placeholder="'Высота между строками'"
                    >
                    <FormBaseHelp :field="{help: 'Влияет на определение следующих строк в одном параграфе, чтобы вывести их в редакторе в одну строку'}" />
                </div>
            </div>
            <div class="col-12 mt-3 d-flex justify-content-end align-items-center">
                <button
                    type="button"
                    class="btn btn-light mr-1"
                    @click="modalActions().close()"
                >
                    {{ $t('button.close') }}
                </button>
            </div>
        </div>
    </BaseModal>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import BaseModal from './../BaseModal';
import FormBaseLabel from "../../../Form/Base/FormBaseLabel";
import FormBaseHelp from "../../../Form/Base/FormBaseHelp";
import {BFormCheckbox} from 'bootstrap-vue/src/components/form-checkbox';

export default {
    name: 'BaseModalPdfOptions',
    components: {
        BaseModal,
        FormBaseLabel,
        FormBaseHelp,
        BFormCheckbox,
    },
    data() {
        return {};
    },
    computed: mapState({
        options: (state) => state.app.editor.pdf.options,
    }),
    watch: {
        'options.use_h_optimal'() {
            if (this.options.use_h_optimal) {
                this.options.h = this.options.h_optimal;
            }
        },
        'options.h_optimal'() {
            if (this.options.use_h_optimal) {
                this.options.h = this.options.h_optimal;
            }
        }
    },
    mounted() {
        //
    },
    methods: {
        //
    }
};
</script>
