<template>
    <BaseModal
        :title="'Помощь по копированию из PDF'"
        :name="'modal-editor-pdf-help'"
        :width="500"
    >
        <div class="row">
            <div class="col-12">
                <p class="mb-0">
                    1. Чтобы определялись абзацы, то рекомендуется копировать больше 3х строк и колонки копировать по отдельности. Так же увеличение страницы (zoom) должно быть 1.
                </p>
                <p class="mb-0">
                    2. В конце строк удаляются символы переноса, такие как "-", если символ переноса совпадает с символом в слове, например "Во-вторых", то необходимо будет править в редакторе.
                </p>
            </div>
            <div class="col-12 mt-3 d-flex justify-content-end align-items-center">
                <button
                    type="button"
                    class="btn btn-light mr-1"
                    @click="modalActions().close()"
                >
                    {{ $t('button.close') }}
                </button>
            </div>
        </div>
    </BaseModal>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import BaseModal from './../BaseModal';

export default {
    name: 'BaseModalPdfHelp',
    components: {
        BaseModal,
    },
    data() {
        return {};
    },
    computed: mapState({
        //
    }),
    watch: {
        //
    },
    mounted() {
        //
    },
    methods: {
        //
    }
};
</script>
