<template>
    <BaseModal
        :name="'editor-upload-video'"
        :width="600"
        :head="false"
        :scrollable="true"
    >
        <ModalUploadVideoFormBasic :upload="upload" :on-upload="onUpload" :pending="upload.pending" />
    </BaseModal>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import ModalUploadVideoFormBasic from '../ModalUploadVideoFormBasic';
import BaseModal from './../../Modal/BaseModal';

export default {
    name: 'ModalEditorUploadVideo',
    components: {
        BaseModal,
        ModalUploadVideoFormBasic,
    },
    data() {
        return {
            //
        };
    },
    computed: mapState({
        modal: (state) => state.modal,
        upload: (state) => state.app.editor.articles.upload.video,
        uid: (state) => state.app.editor.articles.store.uid,
        model: (state) => state.app.editor.articles.store.model,
    }),
    watch: {
        'upload.closeModal'() {
            const self = this;
            if (self.upload.closeModal) {
                self.modalActions().close();
            }
        }
    },
    mounted() {
        //
    },
    methods: {
        ...mapActions('app/editor/articles/upload/video', ['fetchUploadTemplate']),
        onUpload(formData) {
            const self = this;
            formData.append('uid', self.uid);
            formData.append('model', self.model);
            self.fetchUploadTemplate(formData);
        },
    },
};
</script>
