<template>
    <BaseModal
        :name="'editor-upload-image'"
        :width="500"
        :head="false"
        :scrollable="true"
    >
        <ModalUploadFormBasic
            :upload="upload"
            :on-upload="onUpload"
            :is-square="false"
            :is-rounded="false"
        />
    </BaseModal>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import ModalUploadFormBasic from '../ModalUploadFormBasic';
import BaseModal from './../../Modal/BaseModal';

export default {
    name: 'ModalEditorUploadImage',
    components: {
        BaseModal,
        ModalUploadFormBasic,
    },
    data() {
        return {
            //
        };
    },
    computed: mapState({
        modal: (state) => state.modal,
        upload: (state) => state.app.editor.articles.upload.image,
        uid: (state) => state.app.editor.articles.store.uid,
        model: (state) => state.app.editor.articles.store.model,
    }),
    watch: {
        'upload.closeModal'() {
            const self = this;
            if (self.upload.closeModal) {
                self.modalActions().close();
            }
        }
    },
    mounted() {
        //
    },
    methods: {
        ...mapActions('app/editor/articles/upload/image', ['fetchUploadTemplate']),
        onUpload(formData) {
            const self = this;
            formData.append('uid', self.uid);
            formData.append('model', self.model);
            self.fetchUploadTemplate(formData);
        },
    },
};
</script>

<style scoped>

</style>
