<template>
    <vue-modal :name="modal.names.user.group_upload_image" :width="$device.isDesktop ? 500 : '100%'" :head="false" :scrollable="true">
        <ModalUploadFormBasic :upload="upload" :on-upload="onUpload" />
    </vue-modal>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import ModalUploadFormBasic from '../../ModalUploadFormBasic';
import vueModal from '../../ModalBasic';

export default {
    name: 'ModalUserGroupUploadImage',
    components: {
        'vue-modal': vueModal,
        ModalUploadFormBasic,
    },
    data() {
        return {
            group: null,
        };
    },
    computed: mapState({
        modal: state => state.modal,
        modalItem: state => state.modal.item,
        upload: state => state.user.groups.upload.image,
    }),
    watch: {
        'upload.closeModal'() {
            const self = this;
            if (self.upload.closeModal) {
                self.modalActions().close();
            }
        },
        'modalItem.group'() {
            const self = this;
            if (self.modalItem.group === undefined) {
                return;
            }
            self.group = self.modalItem.group;
        },
    },
    mounted() {
        //
    },
    methods: {
        ...mapActions('user/groups/upload/image', ['fetchUploadAndUpdate']),
        onUpload(formData) {
            const self = this;
            formData.append('id', self.group.id);
            self.fetchUploadAndUpdate(formData);
        },
    },
};
</script>

<style scoped>

</style>
