<template>
    <div class="h-100">
        <nav class="h-100">
            <div class="h-100 pr--nav-right--container">
                <!--                <div>-->
                <!--                    <div style="padding: .5rem .5rem;text-align: center;">-->
                <!--                        <font-awesome-icon :icon="['far', 'comment-dots']" class="__md" />-->
                <!--                    </div>-->
                <!--                </div>-->
            </div>
        </nav>
        <!--        <ButtonMenuRightSwitcher :arrow="'left'" />-->
    </div>
</template>

<script>

//import ButtonMenuRightSwitcher from '../../Base/Button/ButtonMenuRightSwitcher';

export default {
    name: 'LayoutSidebarRightHidden',
    components: {
        //ButtonMenuRightSwitcher,
    },
};
</script>
