<template>
    <div class="h-100">
        <nav class="h-100">
            <div class="h-100 pr--nav-left--container">
                <div class="p-3" style="overflow: hidden;">
                    <div class="mb-3">
                        <h5 class="text-center" />
                    </div>
                </div>
                <div>
                    <ButtonMenuRightSwitcher :arrow="'right'" />
                </div>
            </div>
        </nav>
    </div>
</template>

<script>

import ButtonMenuRightSwitcher from '../../Base/Button/ButtonMenuRightSwitcher';

export default {
    name: 'LayoutSidebarRight',
    components: {
        ButtonMenuRightSwitcher,
    },
};
</script>
