<template>
    <div class="h-100">
        <nav class="h-100">
            <div class="h-100 pr--nav-left--container">
                <div>
                    <div v-for="item in sidebar" :key="`${item.section}`">
                        <ul v-if="item.fields !== undefined" class="nav --block pt-0">
                            <li v-for="(field, key) in item.fields" :key="`section-${key}`">
                                <nuxt-link
                                    :id="`popover-${field.icon}`"
                                    :to="field.url"
                                    class="btn btn-icon"
                                    style="padding: .5rem .5rem;text-align: center;"
                                >
                                    <font-awesome-icon :icon="field.icon" class="__md" />
                                </nuxt-link>
                                <BPopover
                                    :target="`popover-${field.icon}`"
                                    placement="right"
                                    triggers="hover focus"
                                    no-fade
                                    custom-class="pr--popover--category"
                                >
                                    <div>
                                        <p class="mb-0">
                                            {{ field.title }}
                                        </p>
                                    </div>
                                </BPopover>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <ButtonMenuSwitcher :arrow="'right'" />
    </div>
</template>

<script>

import { mapActions, mapState } from 'vuex';
import ButtonMenuSwitcher from '../../Base/Button/ButtonMenuSwitcher';
import {BPopover} from 'bootstrap-vue/src/components/popover';

export default {
    name: 'LayoutSidebarLeftHidden',
    components: {
        ButtonMenuSwitcher,
        BPopover,
    },
    computed: mapState({
        sidebar: (store) => store.app.data.data.sidebar,
    }),
};
</script>
