<template>
    <div v-bar="{ preventParentScroll: true, scrollThrottle: 10, scrollingPhantomDelay: 10, draggingPhantomDelay: 10 }" class="h-100">
        <nav class="h-100">
            <div class="h-100 pr--nav-left--container">
                <div>
                    <div v-if="$auth.loggedIn" class="--header">
                        <div>
                            <img :src="$auth.user.image" class="img-avatar" alt="Avatar">
                        </div>
                        <div>
                            <strong>{{ $auth.user.last_name }} {{ $auth.user.first_name }} </strong>
                            <div class="text-muted">
                                <small>{{ $auth.user.roles.map((item) => item.title).join(' / ') }}</small>
                            </div>
                        </div>
                    </div>
                    <div v-for="item in sidebar" :key="`${item.section}`" :class="`--section-${item.section}`">
                        <div v-if="item.title !== null" class="title-uppercase pt-1 pb-1 pr-4 pl-4">
                            {{ item.title }}
                        </div>
                        <ul v-if="item.fields !== undefined" class="nav --block">
                            <li v-for="(field, key) in item.fields" :key="`section-${key}`">
                                <nuxt-link v-if="field.type === 'link'" :to="field.url" :class="`btn ${$route.path.endsWith(field.url) ? 'active' : ''}`">
                                    <font-awesome-icon :icon="field.icon" />
                                    {{ field.title }}
                                </nuxt-link>
                                <button v-if="field.type === 'button' && field.children !== undefined && field.children.length !== 0" v-b-toggle="`collapse-sidebar-${key}`" type="button" class="btn collapse--has-arrow">
                                    <span>
                                        <font-awesome-icon :icon="field.icon" />
                                        {{ field.title }}
                                    </span>
                                    <font-awesome-icon :icon="`chevron-left`" />
                                </button>
                                <button v-if="field.type === 'button-query' && field.children !== undefined && field.children.length !== 0" v-b-toggle="`collapse-sidebar-${key}-query`" type="button" class="btn collapse--has-arrow">
                                    <span>
                                        <font-awesome-icon :icon="field.icon" />
                                        {{ field.title }}
                                    </span>
                                    <font-awesome-icon :icon="`chevron-left`" />
                                </button>
                                <b-collapse
                                    v-if="field.type === 'button-query' && field.children !== undefined && field.children.length !== 0"
                                    :id="`collapse-sidebar-${key}-query`"
                                    :visible="endsWithAny(field.children.map(x => x.url), $route.fullPath) || $route.path.endsWith(field.url)"
                                >
                                    <ul>
                                        <li v-for="(children, keyC) in field.children" :key="`section-children-${keyC}`">
                                            <nuxt-link v-if="children.type === 'link'" :to="children.url" :class="`btn ${$route.fullPath.endsWith(children.url) || ($route.path.endsWith(field.url) && field.url === children.url) ? 'active' : ''}`">
                                                <font-awesome-icon :icon="children.icon" />
                                                {{ children.title }}
                                            </nuxt-link>
                                        </li>
                                    </ul>
                                </b-collapse>
                                <b-collapse
                                    v-if="field.type === 'button' && field.children !== undefined && field.children.length !== 0"
                                    :id="`collapse-sidebar-${key}`"
                                    :visible="endsWithAny(field.children.map(x => x.url), $route.path)"
                                >
                                    <ul>
                                        <li v-for="(children, keyC) in field.children" :key="`section-children-${keyC}`">
                                            <nuxt-link v-if="children.type === 'link'" :to="children.url" :class="`btn ${$route.path.endsWith(children.url) ? 'active' : ''}`">
                                                <font-awesome-icon :icon="children.icon" />
                                                {{ children.title }}
                                            </nuxt-link>
                                        </li>
                                    </ul>
                                </b-collapse>
                            </li>
                        </ul>
                    </div>
                </div>
                <div>
                    <ButtonMenuSwitcher :arrow="'left'" />
                </div>
            </div>
        </nav>
    </div>
</template>

<script>

import { mapState, mapActions } from 'vuex';
import ButtonMenuSwitcher from '../../Base/Button/ButtonMenuSwitcher';
import commonForm from '../../../plugins/common/commonForm';

export default {
    name: 'LayoutSidebarLeft',
    components: {
        ButtonMenuSwitcher
    },
    computed: mapState({
        sidebar: store => store.app.data.data.sidebar,
        //user: (store) => store.user.base.data,
    }),
    mounted() {
        console.log(this.$route.path);
    },
    methods: {
        ...mapActions('app/table/base', ['setRequest', 'fetchList']),
        endsWithAny(suffixes, string) {
            for (const suffix of suffixes) {
                if (string.endsWith(suffix)) { return true; }
            }
            return false;
        },
        clickSub(model, query) {
            const self = this;
            self.timer = commonForm.formTimeout(self.timer, () => {
                self.setRequest(query);
                self.fetchList({
                    model,
                });
            }, 500);
        }
    }
};
</script>
