<template>
    <div
        :id="`message-${item.id}`"
        :class="[
            'pr--chat--list-message',
            item.user_id === $auth.user.id ? '__right' : '',
            day !== null ? '__day' : '',
            imageless ? '__imageless' : '',
            isMainAuthor ? '__is-main-author' : '',
        ]"
        :data-day="day !== null ? day : ''"
    >
        <div class="--image">
            <img :src="item.image" alt="Avatar">
        </div>
        <div class="--content">
            <div class="--head">
                <div class="--title">
                    {{ item.title }}
                </div>
                <div class="--date">
                    <div class="d-flex align-items-center justify-content-start">
                        <div>
                            {{ momentDate().time(item.send_at) }}
                        </div>
                        <div v-if="false" class="mr-1">
                            <Preloader :loading-text="false" />
                        </div>
                    </div>
                </div>
            </div>
            <p class="--text" v-html="markdown().render(item.text)" />
            <span class="--time">
                {{ momentDate().time(item.send_at) }}
            </span>
        </div>
    </div>
</template>

<script>

export default {
    name: 'ChatListMessage',
    components: {},
    props: {
        item: {
            type: [Object],
            default: () => {},
        },
        day: {
            type: [String],
            default: () => null,
        },
        imageless: {
            type: [Boolean],
            default: () => false,
        },
        isMainAuthor: {
            type: [Boolean],
            default: () => true,
        }
    },
    data() {
        return {};
    },
    computed: {
    },
    watch: {},
    mounted() {},
    methods: {},
};
</script>
