<template>
    <div class="pr--chat--list-item ">
        <div class="--image">
            <img :src="chat.image" alt="Avatar" width="50" height="50">
        </div>
        <div
            :class="[
                '--content',
                chat.read_at === null ? '__dot' : ''
            ]"
        >
            <div class="--head">
                <div class="--title">
                    {{ chat.title }}
                </div>
                <div class="--date">
                    {{ momentDate().latest(chat.last_message_at) }}
                </div>
            </div>
            <p v-if="chat.last_message !== null && !chat.is_locked" class="--text line-clamp-1" style="height: 21px;">
                {{ $auth.user.id !== chat.last_message_user_id ? chat.last_message : `${$t('basic.you')}: ${chat.last_message}` }}
            </p>
            <p v-if="chat.is_locked" class="--text line-clamp-1" style="height: 21px;">
                {{ chat.is_self_locked ? $t('basic.chat.locked-self') : $t('basic.chat.locked-user') }}
            </p>
        </div>
    </div>
</template>

<script>
export default {
    name: 'ChatListUser',
    components: {
        //
    },
    props: {
        chat: {
            type: [Object],
            default: () => {},
        }
    },
    data() {
        return {};
    },
    computed: {
    },
    watch: {},
    mounted() {},
    methods: {},
};
</script>
