<template>
    <div class="container">
        <div class="row mb-3 rounded-sm-bottom shadow-sm bg-white">
            <div class="col-12 pt-3 pb-3">
                <h1>
                    {{ page.title }}
                </h1>
                <div v-if="page.description !== undefined">
                    <Markdown :text="page.description" />
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import { mapActions, mapState } from 'vuex';
import Markdown from '../../../Base/Markdown/BaseMarkdown';

export default {
    name: 'PageDetails',
    components: {
        Markdown,
    },
    props: {
        page: {
            type: [Object],
            default: () => {},
        },
    },
    data() {
        return {};
    },
    computed: mapState({
        //
    }),
    watch: {},
    mounted() {
        //
    },
    methods: {
        //
    },
};
</script>

<style scoped lang="scss">

</style>
