<template>
    <LayoutsAuth>
        <template #center>
            <Nuxt />
        </template>
    </LayoutsAuth>
</template>

<script>

import LayoutsAuth from "../components/Layout/LayoutAuth";

export default {
    name: 'Auth',
    components: {
        LayoutsAuth,
    },
    mounted() {},
    methods: {}
};
</script>
