<template>
    <TheMain>
        <template #main>
            <LayoutHeaderTop v-if="!config.DEVELOPMENT_MODE" />
            <Nuxt v-if="!config.DEVELOPMENT_MODE" />
            <BaseErrorMaintenanceMode v-if="config.DEVELOPMENT_MODE" />
        </template>
    </TheMain>
</template>

<script>
import { mapState } from 'vuex';
import BaseErrorMaintenanceMode from '../components/Base/Error/BaseErrorMaintenanceMode';
import TheHeader from '../components/Old/TheHeader';
import TheMain from './../components/TheMain';
import LayoutHeaderTop from "../components/Layout/Header/LayoutHeaderTop";

export default {
    name: 'LayoutDefault',
    components: {
        LayoutHeaderTop,
        TheMain,
        BaseErrorMaintenanceMode,
    },
    computed: mapState({
        config: state => state.app.data.data.config,
    }),
    mounted() {},
    methods: {},
};
</script>
<style lang="scss" scoped>

</style>
