<template>
    <div class="pt-5 pb-5">
        <BaseErrorNotFound />
    </div>
</template>

<script>

import { mapActions } from 'vuex';
import BodyMain from '../components/Old/Body/BodyMain';
import BaseErrorNotFound from '../components/Base/Error/BaseErrorNotFound';

export default {
    name: 'Error',
    components: {
        BodyMain,
        BaseErrorNotFound
    },
    middleware: ['journal'],
    props: ['error'], // you can set a custom layout for the error page
    mounted() {
        //
    },
    methods: {
        //
    }
};
</script>
