<template>
    <main>
        <div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
            <Preloader />
        </div>
        <Nuxt />
    </main>
</template>

<script>
export default {
    name: 'LayoutRedirect',
    components: {},
    methods: {},
};
</script>
