<template>
    <div>
        <div
            v-for="(author, key) in field.values"
            :key="author.id"
            class="mt-3"
        >
            <div class="mb-3">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center justify-content-start">
                        <TableColumnAvatar
                            :field="field"
                            :value="author"
                            :avatar="author.avatar"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import {mapActions, mapState} from 'vuex';
import TableColumnAvatar from "../../../Table/Column/TableColumnAvatar";

export default {
    name: 'FormShowListAuthors',
    components: {
        TableColumnAvatar
    },
    props: {
        role: {
            type: [String],
            required: true,
            default: () => 'default',
        },
        field: {
            type: [Object],
            required: true,
            default: () => [],
        },
        item: {
            type: [Object],
            default: () => null,
        },
    },
};
</script>
