<template>
    <div>
        <div
            v-for="(book, key) in field.values"
            :key="book.id"
            class="mt-3"
        >
            <div class="mb-3">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center justify-content-start">
                        <div>
                            {{ book.name }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import {mapActions, mapState} from 'vuex';

export default {
    name: 'FormShowListBooks',
    components: {
        //
    },
    props: {
        role: {
            type: [String],
            required: true,
            default: () => 'default',
        },
        field: {
            type: [Object],
            required: true,
            default: () => [],
        },
        item: {
            type: [Object],
            default: () => null,
        },
    },
};
</script>
