<template>
    <b-dropdown
        id="dropdown-personal-menu-basic"
        variant="icon"
        class="pr--dropdown--icon __md"
        no-caret
        toggle-tag="div"
        :dropleft="!$device.isDesktop"
    >
        <template #button-content>
            <button v-tippy class="btn btn-icon" type="button" :content="$t('tooltip.settings')">
                <font-awesome-icon icon="ellipsis-h" />
            </button>
        </template>
        <b-dropdown-item @click.prevent="modalActions().openUserConfirmDelete($auth.user)">
            {{ $t('button.delete-account') }}
        </b-dropdown-item>
    </b-dropdown>
</template>

<script>

import { mapActions, mapState } from 'vuex';

export default {
    name: 'PersonalMenuBasic',
    components: {
    },
    props: {
        //
    },
    data() {
        return {};
    },
    watch: {},
    mounted() {},
    methods: {
        //
    },
};
</script>
