<template>
    <form class="row" @submit.prevent="submit">
        <div class="col-12">
            <div class="form-group input-group input-group-textarea-full">
                <b-form-textarea
                    v-model="text"
                    :placeholder="$t('fields.comment')"
                    :class="{'is-danger': store.errors.message !== undefined}"
                    rows="3"
                />
                <div class="input-group-append" style="margin-left: -2.75rem;z-index: 3;">
                    <b-dropdown
                        id="dropdown-1"
                        variant="icon"
                        class="pr--dropdown--icon __sm"
                        no-caret
                        toggle-tag="div"
                        dropup
                        right
                        menu-class="pr--dropdown--emoji-menu"
                    >
                        <template #button-content>
                            <button class="btn btn-icon" type="button">
                                <font-awesome-icon :icon="['far', 'smile']" />
                            </button>
                        </template>
                        <b-dropdown-text tag="div" text-class="pr--emoji-container">
                            <div v-for="(group, key) in emoji" :key="key">
                                <span v-for="(item, eKey) in group" :key="eKey" class="pr--emoji-item" @click.prevent="selectEmoji(item)">
                                    {{ item }}
                                </span>
                                <hr>
                            </div>
                        </b-dropdown-text>
                    </b-dropdown>
                </div>
            </div>
            <FormError :error="store.errors.message" />
        </div>
        <div class="col-12 text-right">
            <button type="submit" :class="['btn btn-primary', store.pending ? 'is-loading' : '']">
                {{ $t('button.send') }}
            </button>
        </div>
    </form>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import emojiData from '../../../plugins/common/emoji';

export default {
    name: 'CommentFormArticle',
    components: {
    },
    props: {
        article: {
            type: [Object],
            default: () => {
                return {};
            }
        },
    },
    data() {
        return {
            text: '',
            emoji: emojiData,
        };
    },
    computed: mapState({
        comments: state => state.app.comments,
        store: state => state.article.comments.store,
    }),
    watch: {
    },
    mounted() {
    },
    methods: {
        ...mapActions('article/comments/store', ['fetchCommentStore']),
        submit() {
            const self = this;
            if (!this.$auth.loggedIn) {
                this.message().needLoginForComment();
                return;
            }
            if (self.text === '') {
                return;
            }
            self.fetchCommentStore({
                id: self.article.id,
                text: self.text,
                reply_id: self.comments.replyId,
                parent_id: self.comments.replyParentId,
            });
            self.text = '';
        },
        selectEmoji(code) {
            const self = this;
            self.text = self.text + code;
        },
    },
};
</script>
