/**
 * Plugin styles
 */
.ce-header {
  padding: 1em 0;
  margin: 0;
  margin-bottom: -0.9em;
  line-height: 1.5em;
  outline: none;
}

.ce-header p,
.ce-header div{
  padding: 0 !important;
  margin: 0 !important;
}

/**
 * Styles for Plugin icon in Toolbar
 */
.ce-header__icon {}

.ce-header[contentEditable=true][data-placeholder]::before {
  position: absolute;
  content: attr(data-placeholder);
  color: #707684;
  font-weight: normal;
  display: none;
  cursor: text;
}

.ce-header[contentEditable=true][data-placeholder]:empty::before {
  display: block;
}

.ce-header[contentEditable=true][data-placeholder]:empty:focus::before {
  display: none;
}

.ce-header[contentEditable=true][data-anchor]::after {
    display: inline-block;
    content: attr(data-anchor);
    color: #868896;
    position: absolute;
    left: 0;
    /*max-width: 6rem;*/
    word-wrap: break-word;
    font-size: 0.75rem;
    top: -22px;
}

.ce-header[contentEditable=true][data-anchor]:empty::after {
    display: block;
}

.ce-header[contentEditable=true][data-anchor]:empty:focus::after {
    display: none;
}

.cdx-settings-wrapper {
    /*border-bottom: 1px solid #e7e9f1;*/
    /*padding-bottom: 3px;*/
}

.cdx-settings-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 5px 8px 0 8px;
}
.cdx-settings-item input {
    margin-right: 5px;
}

.cdx-settings-item svg{
    width: 1rem;
    height: 1rem;

    margin-left: 0.5rem;
    margin-right: 1rem;
}

.cdx-settings-input{
    width: 4rem;
    border: 0;
    outline: none;
}
