<template>
    <div>
        <div class="btn" style="padding: .25rem .5rem;">
            <b-skeleton type="avatar" width="24px" height="24px" class="pr--image--model __sm" />
        </div>
    </div>
</template>

<script>
export default {
    name: 'SkeletonCommentCardAvatar',
    components: {
    },
    props: {},
    data() {
        return {
        };
    },
    computed: {},
    watch: {},
    mounted() {},
    methods: {},
};
</script>
