<template>
    <div class="mb-3">
        <div class="mb-1 d-flex align-items-center">
            <b-skeleton type="avatar" width="26px" height="26px" class="mr-1" />
            <b-skeleton width="80px" height="16px" class="mb-0" />
        </div>
        <div class="mb-1">
            <b-skeleton width="90%" height="14px" />
            <b-skeleton width="70%" height="14px" class="mb-0" />
        </div>
    </div>
</template>

<script>
export default {
    name: 'SkeletonCommentMention',
    components: {
    },
    props: {},
    data() {
        return {
        };
    },
    computed: {},
    watch: {},
    mounted() {},
    methods: {},
};
</script>
