<template>
    <div class="pr--comment __skeleton">
        <div class="media">
            <b-skeleton type="avatar" width="40px" height="40px" class="mr-3" />
            <div class="media-body">
                <b-skeleton width="280px" height="20px" class="h5 mb-2" />
                <b-skeleton width="100px" height="16px" class="mb-0" />
            </div>
        </div>
        <div class="--message">
            <div>
                <div>
                    <b-skeleton width="90%" height="16px" />
                    <b-skeleton width="70%" height="16px" class="mb-0" />
                </div>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    name: 'SkeletonCommentCard',
    components: {
        //
    },
    props: {},
    data() {
        return {
        };
    },
    computed: {},
    watch: {},
    mounted() {},
    methods: {},
};
</script>
