<template>
    <LayoutsApp
        :has-create="false"
        :has-search="false"
        :model="'index'"
    >
        <template #center>
            <div v-if="!statistic.pending" class="row mt-3">
                <div v-for="(statisticValue, key) of statistic.data" :key="key" class="col-6">
                    <div class="brand-card">
                        <div :class="`brand-card-header bg-${statisticValue.variant}`">
                            <font-awesome-icon :icon="statisticValue.icon" />
                            &#160
                            {{ statisticValue.title }}
                            <div :class="`${statistic.pending ? 'is-loading' : ''}`" />
                        </div>
                        <div class="brand-card-body">
                            <div v-for="(block, keyV) of statisticValue.data" :key="keyV">
                                <div class="text-value">{{ block.value }}</div>
                                <div class="text-uppercase text-muted small">{{ block.title }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </LayoutsApp>
</template>

<script>

import { mapActions, mapState } from 'vuex';
import LayoutsApp from "../components/Layout/LayoutApp";

export default {
    name: 'Index',
    components: {
        LayoutsApp,
    },
    middleware: 'authenticate',
    data() {
        return {};
    },
    head() {
        const self = this;
        return self.i18nSeo().index();
    },
    computed: mapState({
        statistic: (state) => state.app.statistic.base,
    }),
    watch: {},
    mounted() {
        this.$i18n.locale = 'ru';
        this.fetchStatistic();
    },
    methods: {
        ...mapActions('app/statistic/base', ['fetchStatistic']),
        //
    },
};
</script>
