<template>
    <form class="row" @submit.prevent="submit">
        <div class="col-12">
            <div class="form-group">
                <label>{{ $t('basic.types') }}:</label>
                <div class="row">
                    <div class="col-12">
                        <b-form-checkbox
                            v-model="form.types"
                            value="all"
                            @change="setTypes('all')"
                        >
                            {{ $t('basic.all') }}
                        </b-form-checkbox>
                    </div>
                    <div class="col-12">
                        <b-form-checkbox
                            v-model="form.types"
                            value="article"
                            @change="setTypes('article')"
                        >
                            {{ $t('basic.article') }}
                        </b-form-checkbox>
                    </div>
                    <div class="col-12">
                        <b-form-checkbox
                            v-model="form.types"
                            value="event"
                            @change="setTypes('event')"
                        >
                            {{ $t('basic.event') }}
                        </b-form-checkbox>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label>{{ $t('basic.categories') }}:</label>
                <div class="row">
                    <div class="col-12 mb-1">
                        <b-form-checkbox
                            v-model="form.categories"
                            value="all"
                            @change="setCategories('all')"
                        >
                            {{ $t('basic.all') }}
                        </b-form-checkbox>
                    </div>
                    <div v-for="(category, key) in data.categories" v-if="key < showCountCategories" :key="category.id" :class="`${$device.isDesktop ? 'col-4' : 'col-12'} mb-1`">
                        <b-form-checkbox
                            v-model="form.categories"
                            :value="category.id"
                            @change="setCategories(category.id)"
                        >
                            <LinkItemCategory :category="category" />
                        </b-form-checkbox>
                    </div>
                    <div v-if="data.categories.length > showCountCategories" class="col-12 mt-1">
                        <button type="button" class="btn btn-block btn-light" @click="showMoreCategories">
                            Показать еще
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label>{{ $t('basic.groups') }}:</label>
                <div class="row">
                    <div class="col-12 mb-1">
                        <b-form-checkbox
                            v-model="form.groups"
                            value="all"
                            @change="setGroups('all')"
                        >
                            {{ $t('basic.all') }}
                        </b-form-checkbox>
                    </div>
                    <div v-for="(group, key) in data.groups" v-if="key < showCountGroups" :key="group.id" :class="`${$device.isDesktop ? 'col-4' : 'col-12'} mb-1`">
                        <b-form-checkbox
                            v-model="form.groups"
                            :value="group.id"
                            @change="setGroups(group.id)"
                        >
                            <LinkItemGroup :group="group" />
                        </b-form-checkbox>
                    </div>
                    <div v-if="data.groups.length > showCountGroups" class="col-12 mt-1">
                        <button type="button" class="btn btn-block btn-light" @click="showMoreGroups">
                            Загрузить еще
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mt-3 d-flex justify-content-end align-items-center">
            <button type="button" class="btn btn-light mr-1" @click="modalActions().close()">
                {{ $t('button.cancel') }}
            </button>
            <button type="submit" class="btn btn-primary">
                {{ $t('button.apply') }}
            </button>
        </div>
    </form>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import LinkItemCategory from '../../../Base/Link/Item/LinkItemCategory';
import LinkItemGroup from '../../../Base/Link/Item/LinkItemGroup';

export default {
    name: 'MainFormSettingsArticles',
    components: {
        LinkItemCategory,
        LinkItemGroup,
    },
    data() {
        return {
            showCountCategories: 12,
            showCountGroups: 12,
            showCount: 12,
        };
    },
    computed: mapState({
        modal: state => state.modal,
        login: state => state._auth.login.form,
        data: state => state.app.data.data,
        form: state => state.feed.articles.form,
    }),
    mounted() {
        //
    },
    methods: {
        ...mapActions('feed/articles', ['fetchArticlesInitial']),
        ...mapActions('_auth/login/form', ['fetchLogin']),
        showMoreCategories() {
            const self = this;
            self.showCountCategories += self.showCount;
        },
        showMoreGroups() {
            const self = this;
            self.showCountCategories += self.showCount;
        },
        setCategories(value) {
            const self = this;
            if (value === 'all') {
                self.form.categories = ['all'];
            } else {
                const allIndex = self.form.categories.indexOf('all');
                if (allIndex !== -1) {
                    self.form.categories.splice(allIndex, 1);
                }
            }
        },
        setGroups(value) {
            const self = this;
            if (value === 'all') {
                self.form.groups = ['all'];
            } else {
                const allIndex = self.form.groups.indexOf('all');
                if (allIndex !== -1) {
                    self.form.groups.splice(allIndex, 1);
                }
            }
        },
        setTypes(value) {
            const self = this;
            if (value === 'all') {
                self.form.types = ['all'];
            } else {
                const allIndex = self.form.types.indexOf('all');
                if (allIndex !== -1) {
                    self.form.types.splice(allIndex, 1);
                }
            }
        },
        submit() {
            const self = this;
            self.modalActions().close();
            self.fetchArticlesInitial({
                categories: self.form.categories,
                groups: self.form.groups,
                types: self.form.types,
            });
            self.cookieActions().setAppFeedForm(self.form);
        }
    }
};
</script>
