.pr--card--group--simple {
    margin-bottom: 1rem;
    .badge {
        margin-bottom: .25rem;
    }
    h6 {
        margin-bottom: 0;
        font-size: $font-size-md;
    }
}
.pr--card--group {
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: $box-shadow-sm;
    background-color: #fff;
    .d-published-at {
        display: inline-block;
    }
    .--text {
        p {
            margin-bottom: 0;
        }
    }
    .--head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        //margin-bottom: .75rem;
        @include media-breakpoint-down(sm) {
            margin-bottom: 0;
        }
        .--category {
            a {
                margin-right: 1rem;
            }
            .d-published-at {
                @include media-breakpoint-down(sm) {
                    display: none;
                }
            }
            //margin-right: 1rem;
        }
        .--author {
            //margin-right: 1rem;
        }
        .--published {

        }
        .--left {
            //position: absolute;
            //top: 1rem;
            //left: 1rem;
        }
        .--center {
            //position: absolute;
           // top: 1rem;
            //left: 0;
            //right: 0;
            //margin-left: auto;
            //margin-right: auto;
        }
        .--right {
            //position: absolute;
            //top: 1rem;
            //right: 1rem;
        }
    }
    .--publish-date {
        display: none;
        @include media-breakpoint-down(sm) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: .75rem;
        }
    }
    .--body {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        h3 {
            .b-skeleton {
                margin-bottom: 0;
                height: 28px;
            }
            @include media-breakpoint-down(sm) {
                font-size: $h4-font-size;
                margin-bottom: 0;
                .b-skeleton {
                    margin-bottom: .5rem;
                    height: 24px;
                }
            }
        }
        .--members, .--text {
            @include media-breakpoint-down(sm) {
                font-size: $font-size-sm;
            }
        }
    }
    .--footer {
        //height: 35px;
        display: flex;
        align-items: center;
        //justify-content: space-between;
        .--category {
            //position: absolute;
            //bottom: 1rem;
            //left: 1rem;
        }
        .--actions {
            position: absolute;
            bottom: .65rem;
            right: .65rem;
            display: inline-flex;
        }
        .--read {
            position: absolute;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            width: 160px;
        }
    }
    .--head {
        display: flex;
        align-items: center;
        .--actions {
            position: absolute;
            top: .65rem;
            right: .65rem;
            display: inline-flex;
        }
    }
    .--image {
        width: 100px;
        height: 100px;
        margin-right: 1rem;
        @include media-breakpoint-down(sm) {
            width: 50px;
            height: 50px;
        }
        img, .b-skeleton {
            width: 100px;
            height: 100px;
            @include media-breakpoint-down(sm) {
                width: 50px;
                height: 50px;
            }
        }
        //margin-bottom: 1rem;
        //position: relative;
        //width: calc(100% + 32px);
        //margin-left: -16px;
        //margin-right: -16px;
    }
    .--tags {
        position: absolute;
        bottom: 1rem;
        left: 1rem;
    }
    &.__progressed {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            background-color: #fff;
            opacity: .5;
            width: 100%;
            height: 100%;
            display: block;
            z-index: 100;
            top: 0;
            left: 0;
        }
        &:after {
            @include loader;
            @include center(16px);
            position: absolute;
            border-right-color: $dark;
            border-top-color: $dark;
            border-bottom-color: transparent;
            border-left-color: transparent;
        }
    }
    &.__waiting {
        //position: relative;
        //.--actions, .--read {
        //    position: relative;
        //    &:before {
        //        content: '';
        //        position: absolute;
        //        background-color: #fff;
        //        opacity: .5;
        //        width: 100%;
        //        height: 100%;
        //        display: block;
        //        z-index: 100;
        //        top: 0;
        //        left: 0;
        //    }
        //}
        //filter: grayscale(60%);

    }
}

.pr--card--subscriber {
    padding: 0;
    border-bottom: 1px solid $border-color;
    .--body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .--left {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-top: .5rem;
            margin-bottom: .5rem;
            .--image {
                margin-right: 1rem;
                width: 30px;
                height: 30px;
                img {
                    width: 30px;
                    height: 30px;
                    border-radius: 100%;
                }
            }
        }
    }
}
.pr--card--subscriber-list {
    .pr--card--subscriber:last-child {
        border-bottom: none;
    }
}
