//@import '~tippy.js/dist/tippy.css';

#vue-editor-js {
    .tippy-box[data-animation=fade][data-state=hidden] {
        opacity: 0;
    }

    [data-tippy-root] {
        max-width: calc(100vw - 10px);
    }

    .tippy-box {
        position: relative;
        background-color: #333;
        color: #fff;
        border-radius: 4px;
        font-size: 14px;
        line-height: 1.4;
        white-space: normal;
        outline: 0;
        transition-property: transform, visibility, opacity;
    }

    .tippy-box[data-placement^=top] > .tippy-arrow {
        bottom: 0;
    }

    .tippy-box[data-placement^=top] > .tippy-arrow:before {
        bottom: -7px;
        left: 0;
        border-width: 8px 8px 0;
        border-top-color: initial;
        transform-origin: center top;
    }

    .tippy-box[data-placement^=bottom] > .tippy-arrow {
        top: 0;
    }

    .tippy-box[data-placement^=bottom] > .tippy-arrow:before {
        top: -7px;
        left: 0;
        border-width: 0 8px 8px;
        border-bottom-color: initial;
        transform-origin: center bottom;
    }

    .tippy-box[data-placement^=left] > .tippy-arrow {
        right: 0;
    }

    .tippy-box[data-placement^=left] > .tippy-arrow:before {
        border-width: 8px 0 8px 8px;
        border-left-color: initial;
        right: -7px;
        transform-origin: center;
    }

    .tippy-box[data-placement^=right] > .tippy-arrow {
        left: 0;
    }

    .tippy-box[data-placement^=right] > .tippy-arrow:before {
        left: -7px;
        border-width: 8px 8px 8px 0;
        border-right-color: initial;
        transform-origin: center;
    }

    .tippy-box[data-inertia][data-state=visible] {
        transition-timing-function: cubic-bezier(.54, 1.5, .38, 1.11);
    }

    .tippy-arrow {
        width: 16px;
        height: 16px;
        color: #333;
    }

    .tippy-arrow:before {
        content: "";
        position: absolute;
        border-color: transparent;
        border-style: solid;
    }

    .tippy-content {
        position: relative;
        padding: 5px 9px;
        z-index: 1;
        text-align: center;
    }
}

.cdx-tooltip {
    text-decoration: underline;
    cursor: pointer;
}

.tooltip-tool__input {
    border: 0;
    border-radius: 0 0 4px 4px;
    border-top: 1px solid rgba(201, 201, 204, .48);
}

.tooltip-tool__span {
    padding: 3px;
    border-radius: 6px;
}

.tooltip-tool__underline {
    text-decoration: underline;
}

.tooltip-color::before {
    background-color: transparent;
}

.tooltip-color::after {
    background-color: transparent;
}

.tooltip-text-color {
    color: transparent;
}

.cdx-tooltip {
    display: inline-block;
}
