<template>
    <BodyMain>
        <template #center>
            <div class="d-flex align-items-start justify-content-center h-100" style="width: 100%;">
                <div class="pr--auth-container p-sm-5 shadow-sm" :class="[{'overlay--is-loading': facebook.reloaded}]" style="width: 500px;">
                    <div class="row">
                        <div class="col-12">
                            <div class="title-underline __center">
                                <h3>{{ $t('auth.facebook.callback') }}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="button" :class="`btn btn-facebook btn-block ${facebook.pending ? 'is-loading' : ''} text-white`" @click="loginFacebook">
                                <font-awesome-icon :icon="['fab', 'facebook']" />
                                <span>{{ $t('button.auth-by-facebook') }}</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </BodyMain>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import auth from '../../../plugins/common/auth';
import BodyMain from '../../../components/Old/Body/BodyMain';

export default {
    name: 'AuthFacebookVkCallback',
    components: {
        BodyMain,
    },
    data() {
        return {};
    },
    head() {
        const self = this;
        return self.i18nSeo().authFacebookCallback();
    },
    computed: mapState({
        login: state => state._auth.login.form,
        facebook: state => state._auth.login.socialite.facebook,
    }),
    watch: {},
    mounted() {
        const self = this;
        const token = auth.facebookGetAccessToken();
        if (token !== null) {
            if (self.$auth.loggedIn) {
                self.connectSocial(token);
            } else {
                self.authLogin(token);
            }
        }
        const code = self.$route.query.code || null;
        if (code !== null) {
            if (self.$auth.loggedIn) {
                self.connectSocialCode(code);
            } else {
                self.authLoginCode(code);
            }
        }
    },
    methods: {
        ...mapActions('_auth/login/socialite/facebook', ['fetchLoginFacebook']),
        loginFacebook() {
            auth.facebookRedirect();
        },
        authLogin(token) {
            const self = this;
            self.fetchLoginFacebook({
                access_token: token,
            });
        },
        connectSocial(token) {
            const self = this;
            self.fetchLoginFacebook({
                user_id: self.$auth.user.id,
                access_token: token,
            });
        },
        authLoginCode(code) {
            const self = this;
            self.fetchLoginFacebook({
                code,
            });
        },
        connectSocialCode(code) {
            const self = this;
            self.fetchLoginFacebook({
                user_id: self.$auth.user.id,
                code,
            });
            self.$router.push({
                path: self.localePath('/personal/settings/accounts'),
            });
        }
    }
};
</script>
