<template>
    <BPaginationNav
        v-model="page"
        class="pr--pagination"
        :link-gen="linkGen"
        :number-of-pages="pages"
        use-router
        :limit="7"
        align="end"
        first-text="В начало"
        last-text="В конец"
        first-number
        last-number
        :next-text="!short ? $t('button.pagination-next') : '›'"
        :prev-text="!short ? $t('button.pagination-previous') : '‹'"
        :hide-goto-end-buttons="true"
        @change="change"
    />
</template>

<script>

import { mapState } from 'vuex';
import serialize from '../../../plugins/common/serialize';
import {BPaginationNav} from "bootstrap-vue/src/components/pagination-nav";

export default {
    name: 'BasePagination',
    components: {
        BPaginationNav
    },
    props: {
        pagination: {
            type: [Object],
            default: null,
        },
        change: {
            type: [Function],
            default: null,
        },
        short: {
            type: [Boolean],
            default: false,
        },
        parameters: {
            type: [Object],
            default: () => null,
        }
    },
    data() {
        return {
            pages: 10,
            page: 1,
        };
    },
    computed: mapState({
        config: (state) => state.data.data.config,
    }),
    watch: {
        pagination() {
            const self = this;
            if (self.pagination !== null) {
                self.page = self.pagination.page;
            }
        }
    },
    mounted() {
        const self = this;
        if (self.pagination !== null) {
            self.page = self.pagination.page;
            self.pages = self.pagination.total / self.pagination.limit;
            if (self.pages < 1) {
                self.pages = 1;
            }
            self.pages = Math.ceil(self.pages);
            console.log(self.pages);
        }
    },
    methods: {
        linkGen(pageNum) {
            const self = this;
            if (self.parameters !== null) {
                const params = Object.assign({}, self.parameters);
                if (params.page !== undefined) {
                    delete params.page;
                }
                let string = serialize.query(params);
                string += `&page=${pageNum}`;
                // if (params.page === undefined && pageNum !== 1) {
                //     params.page = pageNum;
                // }
                // if (params.page === undefined && pageNum === 1) {
                //     delete params.page;
                // }
                return `?${string}`;
            }
            return pageNum === 1 ? '?' : `?page=${pageNum}`;
        }
    },
};
</script>
