<template>
    <div
        v-if="pagination !== null && pagination.total > pagination.limit"
        class="row"
    >
        <div class="col-12 mt-1 mb-1">
            <hr>
            <v-base-pagination
                :pagination="pagination"
                :change="change"
            />
            <hr>
        </div>
    </div>
</template>

<script>
import { mapState } from 'vuex';
import Pagination from '../../../components/Base/Pagination/BasePagination';

export default {
    name: 'PaginationRow',
    components: {
        'v-base-pagination': Pagination,
    },
    props: {
        pagination: {
            type: [Object],
            default: () => null,
        },
        change: {
            type: [Function],
            default: null,
        },
    },
    data() {
        return {};
    },
    computed: mapState({}),
    watch: {},
    mounted() {},
    methods: {},
};
</script>
<style lang="scss" scoped>

</style>
