<template>
    <vue-modal :name="modal.names.article.upload_image" :width="$device.isDesktop ? 600 : '100%'" :head="false" :scrollable="true">
        <ModalUploadFormBasic :upload="upload" :on-upload="onUpload" :is-square="false" />
    </vue-modal>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import ModalUploadFormBasic from '../ModalUploadFormBasic';
import vueModal from '../ModalBasic';

export default {
    name: 'ModalArticleUploadImage',
    components: {
        'vue-modal': vueModal,
        ModalUploadFormBasic,
    },
    data() {
        return {
            //
        };
    },
    computed: mapState({
        modal: state => state.modal,
        upload: state => state.user.articles.upload.image,
        uid: state => state.user.articles.store.uid,
    }),
    watch: {
        'upload.closeModal'() {
            const self = this;
            if (self.upload.closeModal) {
                self.modalActions().close();
            }
        }
    },
    mounted() {
        //
    },
    methods: {
        ...mapActions('user/articles/upload/image', ['fetchUploadTemplate']),
        onUpload(formData) {
            const self = this;
            formData.append('uid', self.uid);
            self.fetchUploadTemplate(formData);
        },
    },
};
</script>

<style scoped>

</style>
