<template>
    <vue-modal :title="'Подтвердите удаление'" :name="modal.names.article.confirm_delete" :width="$device.isDesktop ? 500 : '100%'">
        <form class="row" @submit.prevent="submitDelete">
            <div class="col-12">
                <p>
                    Вы уверены что хотите удалить статью?
                </p>
                <p v-if="article !== null && !article.is_draft">
                    Если статья была опубликована, то она сначала будет снята с публикации и перенесена в черновики.
                </p>
            </div>
            <div class="col-12 mt-3 d-flex justify-content-end align-items-center">
                <button type="button" class="btn btn-light mr-1" @click="modalActions().close()">
                    {{ $t('button.cancel') }}
                </button>
                <button type="submit" class="btn btn-danger">
                    {{ $t('button.delete') }}
                </button>
            </div>
        </form>
    </vue-modal>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import vueModal from '../ModalBasic';

export default {
    name: 'ModalArticleConfirmDelete',
    components: {
        'vue-modal': vueModal,
    },
    data() {
        return {
            article: null,
        };
    },
    computed: mapState({
        modal: state => state.modal,
        modalItem: state => state.modal.item,
    }),
    watch: {
        'modalItem.article'() {
            const self = this;
            if (self.modalItem.article === undefined) {
                return;
            }
            self.article = self.modalItem.article;
        },
    },
    mounted() {
        //
    },
    methods: {
        ...mapActions('app.modal', ['setActive', 'setCurrent']),
        ...mapActions('user/articles/destroy', ['fetchDestroy']),
        submitDelete() {
            const self = this;
            self.fetchDestroy({
                id: self.article.id,
            });
            self.modalActions().close();
        },
    }
};
</script>

<style scoped>

</style>
