<template>
    <div>
        <button
            type="button"
            :class="[
                `btn btn-icon btn-sm btn-${value.comments.count !== 0 ? 'warning text-white' : 'light'}`,
            ]"
            @click="actionComments(value)"
        >
            <font-awesome-icon icon="comments" />
            <span>{{ value.comments.count }}</span>
        </button>
    </div>
</template>

<script>

export default {
    name: 'TableColumnBaseComments',
    components: {
    },
    props: {
        value: {
            type: [Object],
            required: true,
            default: () => {},
        },
        fields: {
            type: [Object],
            required: true,
            default: () => {},
        },
        actionComments: {
            type: [Function],
            required: false,
            default: () => {},
        },
    },
};
</script>
