<template>
    <div>
        <ToggleButton
            class="text-success"
            color="#82C7EB"
            :value="released"
            :sync="true"
            :labels="false"
            :css-colors="true"
            :width="40"
            @change="change"
        />
    </div>
</template>

<script>

import { ToggleButton } from 'vue-js-toggle-button';

export default {
    name: 'TableColumnBaseReleased',
    components: {
        ToggleButton,
    },
    props: {
        value: {
            type: [Object],
            required: true,
            default: () => {},
        },
        fields: {
            type: [Object],
            required: true,
            default: () => {},
        },
        actionRelease: {
            type: [Function],
            required: false,
            default: () => {},
        },
    },
    watch: {
        'value.is_released'() {
            this.released = this.value.is_released;
        }
    },
    data() {
        return {
            released: false,
        };
    },
    mounted() {
        this.released = this.value.is_released;
    },
    methods: {
        change(item) {
            const self = this;
            self.released = item.value;
            self.$nextTick(() => {
                self.actionRelease(self.value, !self.released);
            })
        }
    }
};
</script>
