<template>
    <div>
        <button
            type="button"
            :class="[
                'btn btn-icon btn-sm btn-danger',
            ]"
            :disabled="fields.config.delete_disabled || (value.is_locked !== undefined && value.is_locked && value.locked.user_id !== $auth.user.id)"
            @click="actionDelete(value)"
        >
            <font-awesome-icon icon="trash" />
        </button>
    </div>
</template>

<script>

export default {
    name: 'TableColumnBaseDelete',
    components: {
    },
    props: {
        value: {
            type: [Object],
            required: true,
            default: () => {},
        },
        fields: {
            type: [Object],
            required: true,
            default: () => {},
        },
        actionDelete: {
            type: [Function],
            required: false,
            default: () => {},
        },
    },
};
</script>
