<template>
    <div>
        <nuxt-link
            :to="`/${$router.history.current.name}/${value.id}`"
            :class="[
                'btn btn-icon btn-sm btn-light',
            ]"
            @click="actionEditorShow(value)"
        >
            <font-awesome-icon icon="eye" />
        </nuxt-link>
        <nuxt-link
            :to="`/${$router.history.current.name}/${value.id}/edit`"
            :class="[
                'btn btn-icon btn-sm btn-primary',
            ]"
            @click="actionEditorEdit(value)"
        >
            <font-awesome-icon icon="hammer" />
        </nuxt-link>
    </div>
</template>

<script>

export default {
    name: 'TableColumnBaseEditor',
    components: {
    },
    props: {
        value: {
            type: [Object],
            required: true,
            default: () => {},
        },
        fields: {
            type: [Object],
            required: true,
            default: () => {},
        },
        actionEditorEdit: {
            type: [Function],
            required: false,
            default: () => {},
        },
        actionEditorShow: {
            type: [Function],
            required: false,
            default: () => {},
        },
    },
};
</script>
