<template>
    <div>
        <button
            type="button"
            :class="[
                'btn btn-icon btn-sm btn-primary',
            ]"
            :disabled="fields.config.edit_disabled || (value.is_locked !== undefined && value.is_locked && value.locked.user_id !== $auth.user.id)"
            @click="actionEdit(value)"
        >
            <font-awesome-icon icon="pencil-alt" />
        </button>
    </div>
</template>

<script>

export default {
    name: 'TableColumnBaseEdit',
    components: {
    },
    props: {
        value: {
            type: [Object],
            required: true,
            default: () => {},
        },
        fields: {
            type: [Object],
            required: true,
            default: () => {},
        },
        actionEdit: {
            type: [Function],
            required: false,
            default: () => {},
        },
    },
};
</script>
