<template>
    <div>
        <ToggleButton
            class="text-danger"
            color="#dc3545"
            :value="banned"
            :sync="true"
            :labels="false"
            :css-colors="true"
            :width="40"
            @change="change"
        />
    </div>
</template>

<script>

import { ToggleButton } from 'vue-js-toggle-button';

export default {
    name: 'TableColumnBaseBanned',
    components: {
        ToggleButton,
    },
    props: {
        value: {
            type: [Object],
            required: true,
            default: () => {},
        },
        fields: {
            type: [Object],
            required: true,
            default: () => {},
        },
        actionBanned: {
            type: [Function],
            required: false,
            default: () => {},
        },
    },
    watch: {
        'value.banned'() {
            this.banned = this.value.banned;
        }
    },
    data() {
        return {
            banned: false,
        };
    },
    mounted() {
        this.banned = this.value.banned;
    },
    methods: {
        change(item) {
            const self = this;
            self.banned = item.value;
            console.log(self.banned);
            self.$nextTick(() => {
                self.actionBanned(self.value, !self.banned);
            })
        }
    }
};
</script>
