<template>
    <div>
        <button
            type="button"
            :class="[
                `btn btn-icon btn-sm ${value.history_count !== 0 ? 'btn-warning text-white' : 'btn-light'}`,
            ]"
            @click="action(value)"
        >
            <font-awesome-icon icon="history" />
        </button>
    </div>
</template>

<script>

export default {
    name: 'TableColumnBaseHistory',
    components: {
    },
    props: {
        value: {
            type: [Object],
            required: true,
            default: () => {},
        },
        fields: {
            type: [Object],
            required: true,
            default: () => {},
        },
        action: {
            type: [Function],
            required: false,
            default: () => {},
        },
    },
};
</script>
