<template>
    <div>
        <button
            type="button"
            :class="[
                'btn btn-icon btn-sm btn-light',
            ]"
            @click="actionShow(value)"
        >
            <font-awesome-icon icon="eye" />
        </button>
    </div>
</template>

<script>

export default {
    name: 'TableColumnBaseShow',
    components: {
    },
    props: {
        value: {
            type: [Object],
            required: true,
            default: () => {},
        },
        fields: {
            type: [Object],
            required: true,
            default: () => {},
        },
        actionShow: {
            type: [Function],
            required: false,
            default: () => {},
        },
    },
};
</script>
