<template>
    <div ref="alert">
        <div class="alert rounded-sm border-input alert-dismissible fade show mt-3" role="alert">
            <p class="mb-0">
                Вспомогательные классы:
            </p>
            <p class="mb-0">
                <code>mt-3</code> - отступ сверху
            </p>
            <p class="mb-0">
                <code>mb-3</code> - отступ снизу
            </p>
            <p class="mb-0">
                Значение <code>width</code> может быть в процентом (%) или в пиксельном (px) значении.
            </p>
            <p class="mb-0 mt-3">
                Для положения изображения по центру необходимо обернуть тэг <code>img</code> в <code>div</code> с классами <code>d-flex align-items-center justify-content-center</code>, например:
                <br>
                <code>
                    {{ htmlImage }}
                </code>
            </p>
            <p class="mb-0 mt-3">
                Для положения текста по центру необходимо обернуть в <code>div</code> с классами <code>text-center</code>, например:
                <br>
                <code>
                    {{ htmlCenter }}
                </code>
            </p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" @click="close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</template>

<script>

export default {
    name: 'FormBaseMarkdownImageHelper',
    props: {
        //
    },
    data() {
        return {
            htmlImage: '<div class="d-flex align-items-center justify-content-center"><img src="ваше изображение" /></div>',
            htmlCenter: '<div class="text-center">ваш текст</div>',
        };
    },
    methods: {
        close() {
            this.$refs.alert.innerHTML = '';
        }
    }
};
</script>
