<template>
    <small v-if="field.help !== undefined" class="form-text text-muted">
        {{ field.help }}
    </small>
</template>

<script>

export default {
    name: 'FormBaseHelp',
    props: {
        field: {
            type: [Object],
            required: true,
            default: () => {},
        },
        role: {
            type: [String],
            default: () => 'edit',
        },
    },
};
</script>
