<template>
    <label :class="`text-muted ml-${role === 'edit' ? 2 : 0} mb-0 form-label`">
        {{ field.title }}
        <i v-if="field.required" class="r">*</i>
        <span v-if="field.question">
            <font-awesome-icon
                v-tippy
                icon="question-circle"
                :content="field.question"
            />
        </span>
    </label>
</template>

<script>

export default {
    name: 'FormBaseLabel',
    props: {
        field: {
            type: [Object],
            required: true,
            default: () => {},
        },
        role: {
            type: [String],
            default: () => 'edit',
        },
    },
};
</script>
