<template>
    <div class="mb-1">
        <span class="mr-1">
            <b>{{ $t('editor.article.keywords') }}:</b>
        </span>
        <span>
            {{ keywords.join(', ') }}
        </span>
<!--        -->
<!--        <div class="font-sm mr-1 text-nowrap d-inline-block">-->
<!--            <b>Ключевые слова:</b>-->
<!--        </div>-->
<!--        <div class="font-sm d-inline-block">-->
<!--            <ul class="list-none mb-0">-->
<!--                <li v-for="(keyword, key) in keywords" :key="key">-->
<!--                    <router-link :to="'/'" class="link-dark">{{ keyword }}</router-link><span v-if="key + 1 !== keywords.length">,&#160;</span>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
    </div>
</template>

<script>
export default {
    name: 'EditorCustomKeywords',
    components: {
    },
    props: {
        keywords: {
            type: [Array],
            default: () => []
        }
    }
};
</script>
