<template>
    <div class="mb-3 mt-3">
        <div :class="`${!bigger ? '' : 'h5 mb-0'}`">
            {{ $t('editor.article.library') }}
        </div>
        <hr :class="`${!bigger ? 'mb-2 mt-1' : 'mb-2 mt-2'}`">
        <div
            v-for="(book, key) in books"
            :id="`book-${key + 1}`"
            :key="book.id"
            :class="`${!bigger ? 'font-sm' : ''}`"
        >
            <div>{{ key + 1 }}. <span v-html="book.fields.join(', ')" /></div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'EditorCustomBooks',
    components: {
    },
    props: {
        books: {
            type: [Array],
            default: () => []
        },
        bigger: {
            type: [Boolean],
            default: () => false,
        }
    },
};
</script>
