<template>
    <div class="mb-1 d-flex align-items-center align-items-start">
        <div v-if="article.udk !== null" class="font-sm mr-3">
            {{ $t('editor.article.udk') }}: {{ article.udk }}
        </div>
        <div v-if="article.doi !== null" class="font-sm">
            {{ $t('editor.article.doi') }}: <a :href="`https://doi.org/${article.doi}`" target="_blank">{{ article.doi }}</a>
        </div>
    </div>
</template>

<script>
export default {
    name: 'EditorCustomUdk',
    components: {
    },
    props: {
        article: {
            type: [Object],
            default: () => {}
        }
    }
};
</script>
