<template>
    <div class="mb-1">
        <ul class="list-none mb-0">
            <li v-for="(author, key) in authors" :key="key">
                <span class="mr-1">
                    <b>{{ author.full_name }}</b>
                </span>
                <span>
                    {{ author.fields.join(', ') }}
                </span>
                <span v-if="key + 1 !== authors.length">,&#160;</span>
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    name: 'EditorCustomAuthors',
    components: {
    },
    props: {
        authors: {
            type: [Array],
            default: () => []
        }
    }
};
</script>
