<template>
    <div class="pr--editor--video-file">
        <div class="--player">
            <b-skeleton width="100%" height="360px" class="mb-0 rounded-0" />
        </div>
    </div>
</template>

<script>

export default {
    name: 'SkeletonEditorVideo',
    components: {
        //
    },
    props: {},
    data() {
        return {};
    },
    computed: {},
    watch: {},
    mounted() {},
    methods: {},
};
</script>
