.body.__panel-opened {

}
.body.__panel-panel-opened {
    .pr--sidebar--panel-edit {
        .b-sidebar {
            width: calc(40% + 5rem);
        }
    }
    .pr--sidebar--panel-create {
        .b-sidebar {
            width: calc(40% + 5rem);
        }
    }
}
.pr--sidebar--panel-table {
    .b-sidebar {
        width: 50%;
    }
}
