<template>
    <div class="container">
        <div class="row mb-3 rounded-sm-bottom shadow-sm" style="background-color: #fff;">
            <div class="col-12 pt-3 pb-3">
                <b-skeleton width="280px" height="38px" class="h1 mb-3" />
                <div class="--text">
                    <b-skeleton width="90%" height="18px" />
                    <b-skeleton width="70%" height="18px" />
                    <b-skeleton width="50%" height="18px" />
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import { mapActions, mapState } from 'vuex';

export default {
    name: 'SkeletonPageDetails',
    components: {
    },
    props: {
    },
    data() {
        return {};
    },
    computed: mapState({
        //
    }),
    watch: {},
    mounted() {},
    methods: {
        //
    },
};
</script>

<style scoped lang="scss">

</style>
