<template>
    <LayoutsApp :model="model">
        <template #search>
            <DefaultSearch :model="model" />
        </template>
        <template #center>
            <DefaultTable :model="model" />
        </template>
    </LayoutsApp>
</template>

<script>
import LayoutsApp from "../../components/Layout/LayoutApp";
import DefaultTable from "../../components/Default/DefaultTable";
import DefaultSearch from "../../components/Default/DefaultSearch";

export default {
    name: 'Tags',
    components: {
        LayoutsApp,
        DefaultTable,
        DefaultSearch,
    },
    middleware: 'authenticate',
    data() {
        return {
            model: 'tags'
        };
    },
    mounted() {
        this.$i18n.locale = 'ru';
    },
    methods: {
        //
    }
};
</script>
