.pr--article--details {
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: $box-shadow-sm;
    background-color: #fff;
    border-radius: $border-radius-sm;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    .--head {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        //margin-bottom: .75rem;
        .--category {
            a {
                margin-right: 1rem;
            }
        }
    }
    .d-published-at {
        display: inline-block;
    }
    .--published {
        display: flex;
        align-items: center;
        //text-align: right;
    }
    .--publish-date {
        text-align: right;
    }
    .--footer {
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .--actions {
            //position: absolute;
            //bottom: 1rem;
            //right: 1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            div {
                display: flex;
            }
        }
        @include media-breakpoint-down(sm) {
            height: inherit;
            flex-direction: column;
            align-items: flex-start;
            .--actions {
                width: 100%;
                & > div button:first-child {
                    margin-left: -.6rem;
                }
                //display: block;
            }
        }
        .--category {
            //position: absolute;
            //bottom: 1rem;
            //left: 1rem;
        }

        .--read {
            position: absolute;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            width: 160px;
        }
    }
    .--image {
        margin-bottom: 1rem;
        position: relative;
    }
    .--tags {
        //position: absolute;
        //bottom: 1rem;
        //left: 1rem;
        margin-top: 0;
        margin-bottom: 1rem;
        ul li {
            margin-right: .5rem;
        }
    }
    .--text {
        position: relative;
        p {
            //margin-bottom: 0;
        }
        &.__is-draft {
            position: relative;
            &:after {
                content: '';
                position: absolute;
                top: -.5rem;
                right: -2rem;
                width: .5rem;
                height: calc(100% + 1rem);
                background-color: $danger;
                opacity: .2;
                border-top: 2px solid #fbfbfb;
                border-bottom: 2px solid #fbfbfb;
            }
        }
        &.__is-active {
            position: relative;
            &:after {
                content: '';
                position: absolute;
                top: -.5rem;
                right: -2rem;
                width: .5rem;
                height: calc(100% + 1rem);
                background-color: $success;
                opacity: .2;
                border-top: 2px solid #fbfbfb;
                border-bottom: 2px solid #fbfbfb;
            }
        }
        .status-draft {
            position: absolute;
            right: -11rem;
            top: 0;
            width: 8rem;
        }
    }
}




.pr--article--text {
    font-size: $font-size-base * 1.15;
    margin-bottom: 1rem;
    p {
        text-align: justify;
        margin-bottom: 0;
        text-indent: 1.5rem;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    h3 {
        text-indent: 1.5rem;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    p:first-child {
        text-indent: 0;
    }
    ul {
        padding: 0 1.5rem !important;
        @include media-breakpoint-down(sm) {
            padding: 0 0 0 1.5rem !important;
        }
    }
    article {
        margin-bottom: 0 !important;
    }
}
div.--article-html-content {
    h3 {
        text-indent: 20px;
    }
    ul {
        padding: 0 70px !important;
        @media (max-width: 540px) {
            padding: 0 10px 0 30px !important;
        }
    }
}


.pr--blog-article--text {
    margin-bottom: 1rem;
    p {
        text-align: justify;
        //margin-bottom: 0;
        //text-indent: 1.5rem;
    }
    p:first-child {
        text-indent: 0;
    }
}
.pr--article--authors-table {
    margin-bottom: 0;
    tbody {
        display:table-row;
        tr td {
            padding: .25rem .5rem;
        }
        tr td:first-child {
            white-space: nowrap;
        }
        tr:last-child td {
            //padding-bottom: .5rem;
        }
    }
}
.pr--article--info-table {
    //margin-bottom: 0;
    tbody {
        //display:table-row;
        tr {
            border-bottom: 1px solid $white;
            &:last-child {
                border-bottom: none;
            }
        }
        tr td {
            padding: .5rem .75rem;
        }
        tr td:first-child {
            white-space: nowrap;
            font-weight: bold;
            width: 120px;
        }
        tr:last-child td {
            //padding-bottom: .75rem;
        }
    }
}
.pr--article--info-events {
    //padding: .5rem .75rem;
    .--event {
        //display: flex;
        //align-items: flex-start;
        //justify-content: flex-start;
        span {
            margin-right: .5rem;
        }
        a {
            font-weight: bold;
        }
    }
}
.pr--article--info-head {
    padding: .5rem .75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include media-breakpoint-down(sm) {
        padding: .5rem 0;
    }
}
.pr--article--details-authors {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media-breakpoint-down(sm) {
        flex-direction: column;
        align-items: flex-start;
        .collapse--has-arrow {
            margin-bottom: .25rem;
        }
    }
}
.pr--article--details-keywords {
    ul li span {
        margin-bottom: .25rem;
        margin-right: .25rem;
    }
}
