.ce-toolbar__settings-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    color: #707684;
    cursor: pointer;
    background: #eff2f5;
    user-select: none;
}
.ce-settings {
    position: absolute;
    background-color: #fff;
    border: 1px solid #eaeaea;
    box-shadow: 0 3px 15px -3px rgb(13 20 33 / 13%);
    border-radius: 4px;
    z-index: 2;
}
.ce-settings {
    right: -1px;
    top: 30px;
    min-width: 114px;
    box-sizing: content-box;
}
.ce-settings--opened {
    display: block;
    -webkit-animation-duration: .1s;
    animation-duration: .1s;
    -webkit-animation-name: panelShowing;
    animation-name: panelShowing;
}
.ce-settings__plugin-zone:not(:empty) {
    padding: 3px 3px 0;
}
