<template>
    <div class="row mb-3 rounded-sm shadow-sm" style="background-color: #fff;">
        <div class="col-12">
            <div class="pr--lk--head">
                <div class="d-flex align-items-start justify-content-start">
                    <div class="--personal-image">
                        <img :src="$auth.user.image" alt="Avatar" class="rounded-circle">
                        <button v-tippy type="button" class="btn" :content="$t('tooltip.upload-avatar')" @click="modalActions().openUserUploadAvatar()">
                            <font-awesome-icon :icon="'file-upload'" class="mr-1" />
                        </button>
                    </div>
                    <div class="w-100">
                        <h3 class="mb-0">
                            {{ $auth.user.full_name }}
                        </h3>
                        <p class="--text mb-0 text-muted">
                            <span v-if="$auth.user.details.position !== null">
                                {{ $auth.user.details.position }}{{ $auth.user.details.work !== null ? ', ' : '' }}
                            </span>
                            <span v-if="$auth.user.details.work !== null">
                                {{ $auth.user.details.work }}
                            </span>
                        </p>
                        <p v-if="$auth.user.details.description !== null" class="--text">
                            {{ $auth.user.details.description }}
                        </p>
                        <div class="--counters">
                            <ButtonViews :value="$auth.user.counters.views" />
                            <ButtonComments :value="$auth.user.counters.comments" />
                            <ButtonSubscribers :value="$auth.user.counters.subscribers" />
                        </div>
                    </div>
                </div>
                <div class="--published">
                    <PersonalMenuBasic />
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import { mapState } from 'vuex';
import ButtonViews from '../../../Base/Button/ButtonViews';
import ButtonComments from '../../../Base/Button/ButtonComments';
import ButtonSubscribers from '../../../Base/Button/ButtonSubscribers';
import PersonalMenuBasic from '../Menu/PersonalMenuBasic';

export default {
    name: 'PersonalBlockHead',
    components: {
        ButtonViews,
        ButtonComments,
        ButtonSubscribers,
        PersonalMenuBasic,
    },
    data() {
        return {};
    },
    computed: mapState({
        app: state => state.app,
    }),
    watch: {},
    mounted() {},
    methods: {},
};
</script>

<style scoped lang="scss">

</style>
