<template>
    <div class="row mb-3">
        <div class="col-12 pr-0">
            <div class="d-flex align-items-center justify-content-between" style="height: 35px;">
                <div>
                    <h5 class="mb-0">
                        {{ $t('basic.subscriptions') }}
                    </h5>
                </div>
                <div />
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div v-if="!subscriptions.pending && hasActiveSubscriptions" class="col-12 rounded-sm bg-white shadow-sm pl-0 pr-0 pt-2 pb-2">
                    <ul class="nav">
                        <li v-for="category in subscriptions.data.categories" :key="`category_${category.id}`">
                            <nuxt-link :to="i18nRoute().category(category)" class="btn btn-link __focus-none">
                                <img :src="category.image" :alt="category.title" class="mr-1 pr--image--model __sm">
                                {{ category.title }}
                            </nuxt-link>
                        </li>
                        <li v-for="group in subscriptions.data.groups" :key="`group_${group.id}`">
                            <nuxt-link :to="i18nRoute().group(group)" class="btn btn-link __focus-none">
                                <img :src="group.image" :alt="group.title" class="mr-1 pr--image--model __sm">
                                {{ group.title }}
                            </nuxt-link>
                        </li>
                        <li v-for="user in subscriptions.data.users" :key="`user_${user.id}`">
                            <nuxt-link :to="i18nRoute().usersArticles(user)" class="btn btn-link __focus-none">
                                <img :src="user.image" :alt="user.title" class="mr-1 pr--image--model __sm">
                                {{ user.title }}
                            </nuxt-link>
                        </li>
                    </ul>
                </div>
                <div
                    v-if="!hasActiveSubscriptions"
                    class="col-12 rounded-sm pl-0 pr-0 pt-2 pb-2"
                >
                    <div class="pl-3 pr-3">
                        У вас нет активных подписок
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import { mapActions, mapState } from 'vuex';
import ButtonViews from '../../../Base/Button/ButtonViews';
import ButtonComments from '../../../Base/Button/ButtonComments';
import SkeletonLinkGroup from "../../Skeleton/Base/Link/SkeletonLinkGroup";

export default {
    name: 'PersonalBlockSubscriptions',
    components: {
        SkeletonLinkGroup,
    },
    data() {
        return {};
    },
    computed: mapState({
        app: state => state.app,
        data: state => state.app.data.data,
        subscriptions: state => state.user.subscriptions.list,
        hasActiveSubscriptions() {
            return this.subscriptions.data.categories.length !== 0 || this.subscriptions.data.users.length !== 0 || this.subscriptions.data.groups.length !== 0;
        }
    }),
    watch: {},
    mounted() {
        this.fetchData();
    },
    methods: {
        ...mapActions('user/subscriptions/list', ['fetchData']),
    },
};
</script>

<style scoped lang="scss">

</style>
