<template>
    <ul class="nav pr--journal--tabs __bordered __account">
        <li class="nav-item">
            <nuxt-link :to="i18nRoute().personalGroups()" class="nav-link" :class="[$route.path.endsWith(i18nRoute().personalGroups()) ? 'active' : '']">
                {{ $t('basic.groups') }} ({{ $auth.user.groups.length }})
            </nuxt-link>
        </li>
    </ul>
</template>

<script>
import { mapActions, mapState } from 'vuex';

export default {
    name: 'PersonalBlockGroupTabs',
    components: {
    },
    layout: 'default',
    data() {
        return {};
    },
    async fetch() {
        //
    },
    head() {
        const self = this;
        return {};
    },
    computed: mapState({
        config: state => state.data.data.config,
        app: state => state.app,
    }),
    watch: {},
    mounted() {
        //
    },
    methods: {
    },
};
</script>

<style scoped lang="scss">

</style>
