<template>
    <ul class="nav pr--journal--tabs __bordered __account">
        <li class="nav-item">
            <nuxt-link :to="i18nRoute().personalTags()" class="nav-link" :class="[$route.path.endsWith(i18nRoute().personalTags()) ? 'active' : '']">
                {{ $t('basic.tags') }}
            </nuxt-link>
        </li>
    </ul>
</template>

<script>
import { mapActions, mapState } from 'vuex';

export default {
    name: 'PersonalBlockTagTabs',
    components: {
    },
    layout: 'default',
    data() {
        return {};
    },
    async fetch() {
        //
    },
    head() {
        const self = this;
        return {};
    },
    computed: mapState({
        config: state => state.data.data.config,
    }),
    watch: {},
    mounted() {
        //
    },
    methods: {
    },
};
</script>
