<template>
    <ul class="nav pr--journal--tabs __bordered __account">
        <li class="nav-item">
            <nuxt-link :to="i18nRoute().personalArticles()" class="nav-link" :class="[$route.path.endsWith(i18nRoute().personalArticles()) ? 'active' : '']">
                {{ $t('basic.publishes') }} ({{ $auth.user.counters.articles.published }})
            </nuxt-link>
        </li>
        <li class="nav-item">
            <nuxt-link :to="i18nRoute().personalDrafts()" class="nav-link" :class="[$route.path.endsWith(i18nRoute().personalDrafts()) ? 'active' : '']">
                {{ $t('basic.drafts') }} ({{ $auth.user.counters.articles.drafts }})
            </nuxt-link>
        </li>
        <li class="nav-item">
            <nuxt-link :to="i18nRoute().personalComments()" class="nav-link" :class="[$route.path.endsWith(i18nRoute().personalComments()) ? 'active' : '']">
                {{ $t('basic.comments') }} ({{ $auth.user.counters.comments }})
            </nuxt-link>
        </li>
<!--        <li class="nav-item">-->
<!--            <nuxt-link :to="i18nRoute().personalComments()" class="nav-link" :class="[$route.path.endsWith(i18nRoute().personalComments()) ? 'active' : '']">-->
<!--                Сообщества ({{ $auth.user.counters.comments }})-->
<!--            </nuxt-link>-->
<!--        </li>-->
        <li class="nav-item">
            <nuxt-link :to="i18nRoute().personalWatches()" class="nav-link" :class="[$route.path.endsWith(i18nRoute().personalWatches()) ? 'active' : '']">
                {{ $t('basic.read-later') }} ({{ watches.articles.length }})
            </nuxt-link>
        </li>
        <li class="nav-item">
            <nuxt-link :to="i18nRoute().personalFavorites()" class="nav-link" :class="[$route.path.endsWith(i18nRoute().personalFavorites()) ? 'active' : '']">
                {{ $t('basic.favorites') }} ({{ favorites.articles.length }})
            </nuxt-link>
        </li>
        <li class="nav-item">
            <nuxt-link :to="i18nRoute().personalDetails()" class="nav-link" :class="[$route.path.endsWith(i18nRoute().personalDetails()) ? 'active' : '']">
                {{ $t('basic.details') }}
            </nuxt-link>
        </li>
    </ul>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import ArticleCardBasic from '../../Article/Card/ArticleCardBasic';
import CommentCard from '../../Comment/Card/CommentCard';

export default {
    name: 'PersonalBlockTabs',
    components: {
        ArticleCardBasic,
        CommentCard
    },
    layout: 'default',
    data() {
        return {
            categories: [
                { id: 2, title: 'Сельское хозяйство', image: '/img/default.png', slug: '/selskoe' },
                { id: 3, title: 'Современные технологии', image: '/img/default.png', slug: '/' },
                { id: 4, title: 'Технологии', image: '/img/default.png', slug: '/' },
                { id: 5, title: 'Личный опыт', image: '/img/default.png', slug: '/' },
                { id: 6, title: 'Имя Автора', image: '/img/default.png', slug: '/' },
                { id: 7, title: 'Имя Автора 2', image: '/img/default.png', slug: '/' },
            ],
        };
    },
    async fetch() {
        //
    },
    head() {
        const self = this;
        return {};
    },
    computed: mapState({
        config: state => state.data.data.config,
        app: state => state.app,
        favorites: state => state.user.favorites.array.data,
        watches: state => state.user.watches.array.data,
    }),
    watch: {},
    mounted() {
        //
    },
    methods: {
    },
};
</script>

<style scoped lang="scss">

</style>
