<template>
    <BSidebar
        id="panel-history"
        :title="'История изменений'"
        shadow
        backdrop
        :class="[
            'pr--sidebar--panel',
            history.loading ? 'is-loading' : '',
        ]"
        right
        @change="change"
    >
        <template #header="{ hide }">
            <div class="d-flex align-items-center justify-content-between w-100">
                <PanelBaseHead
                    :hide="hide"
                    :title="'История изменений'"
                    :locale="null"
                />
            </div>
        </template>
        <template #default="{ hide }">
            <div class="col-12">
                <div v-if="history.data.history !== undefined && history.data.history.length" v-for="(value, key) in history.data.history" :key="key" class="alert" style="border: 1px solid #eee;padding: 0.5rem;">
                    <div class="d-flex align-items-center justify-content-between" style="margin: 0 .5rem .25rem .5rem;">
                        <div>
                            <small v-if="value.user !== null">
                                {{ value.user.avatar.full_name }}
                            </small>
                        </div>
                        <div>
                            <small>{{ value.created_at }}</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <table class="table table-commit-history">
                                <tbody>
                                    <tr v-for="(oldValue, oKey) in value.properties.old" :key="`old-${oKey}`">
                                        <td class="line_content old">
                                            {{ oKey }}: {{ oldValue }}
                                        </td>
                                    </tr>
                                    <tr v-for="(newValue, nKey) in value.properties.attributes" :key="`new-${nKey}`">
                                        <td class="line_content new">
                                            {{ nKey }}: {{ newValue }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div v-if="history.data.history !== undefined && history.data.history.length === 0">
                    Список пуст
                </div>
            </div>
        </template>
        <template #footer="{ hide }">
            <div class="d-flex align-items-center p-3">
                <button class="btn btn-light" type="button" @click="hide">
                    Закрыть
                </button>
            </div>
        </template>
    </BSidebar>
</template>

<script>

import { mapActions, mapState } from 'vuex';
import { BSidebar } from 'bootstrap-vue/src/components/sidebar';
import PanelBaseHead from '../PanelBaseHead';
import BaseComponentsAvatar from '../../Base/Components/BaseComponentsAvatar';

export default {
    name: 'PanelHistory',
    components: {
        PanelBaseHead,
        BSidebar,
        BaseComponentsAvatar,
    },
    data() {
        return {
            comment: '',
        };
    },
    computed: mapState({
        history: state => state.app.panel.history,
        opened: state => state.app.panel.base.opened,
    }),
    watch: {},
    mounted() {
        console.log(this.history);
    },
    methods: {
        ...mapActions('app/panel/base', ['fetchUpdate', 'setOpened', 'setLocale']),
        change(value) {
            this.$root.sidebarActions().bodyOverflowHidden(value);
            this.setOpened(value);
        },
    }
};
</script>
