<template>
    <div class="container">
        <CategoryBlockHead :category="category" />
        <div class="row">
            <div class="col-12 mb-2 pr--group--published-subscription">
                <div class="d-flex align-items-center justify-content-between">
                    <div>
                        <h4 class="mb-0">
                            {{ $t('basic.publishes') }} {{ !articles.pending ? `(${articles.pagination.total})` : '' }}
                        </h4>
                    </div>
                    <div>
                        <ButtonSubscription :item="category" :type="'category'" />
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div v-if="!articles.pending" class="row">
                    <ArticleCardBasic v-for="article in articles.data" :key="article.id" :article="article" />
                </div>
                <div v-if="articles.pending" class="row">
                    <SkeletonArticleCardBasic />
                </div>
                <div v-if="!articles.pending && !articles.data.length" class="row">
                    <div class="col-12 text-center">
                        Список пуст
                    </div>
                </div>
                <PaginationRow v-if="!articles.pending" :pagination="articles.pagination" :change="actionPage" />
            </div>
        </div>
    </div>
</template>

<script>

import { mapActions, mapState } from 'vuex';
import ArticleCardBasic from '../../Article/Card/ArticleCardBasic';
import CategoryBlockHead from '../Block/CategoryBlockHead';
import SkeletonArticleCardBasic from '../../Skeleton/Article/Card/SkeletonArticleCardBasic';
import ButtonSubscription from '../../../Base/Button/ButtonSubscription';
import PaginationRow from '../../../Base/Pagination/PaginationRow';

export default {
    name: 'CategoryDetails',
    components: {
        SkeletonArticleCardBasic,
        ArticleCardBasic,
        CategoryBlockHead,
        ButtonSubscription,
        PaginationRow,
    },
    props: {
        category: {
            type: [Object],
            default: () => {},
        },
        articles: {
            type: [Object],
            default: () => {},
        },
    },
    data() {
        return {};
    },
    computed: mapState({
        //
    }),
    watch: {},
    mounted() {},
    methods: {
        ...mapActions('categories/articles', ['fetchCategoryArticles']),
        actionPage() {
            const self = this;
            const page = self.$router.history.current.query.page || 1;
            self.fetchCategoryArticles({
                id: self.category.id,
                page,
            });
        }
    },
};
</script>
