<template>
    <BaseModal
        :name="'panel-panel-upload-image'"
        :width="500"
        :head="false"
        :scrollable="true"
    >
        <ModalUploadFormBasic
            :upload="upload"
            :on-upload="onUpload"
            :is-square="table.fields !== null && table.fields.config.image_square"
        />
    </BaseModal>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import ModalUploadFormBasic from '../../ModalUploadFormBasic';
import BaseModal from './../../../Modal/BaseModal';

export default {
    name: 'ModalPanelPanelUploadImage',
    components: {
        BaseModal,
        ModalUploadFormBasic,
    },
    data() {
        return {
            //
        };
    },
    computed: mapState({
        upload: (state) => state.app.panel.panel.upload.image,
        table: (state) => state.app.table.table.base,
    }),
    watch: {
        'upload.closeModal'() {
            const self = this;
            if (self.upload.closeModal) {
                self.modalActions().close();
            }
        }
    },
    mounted() {
        //
    },
    methods: {
        ...mapActions('app/panel/panel/upload/image', ['fetchUploadAndUpdate']),
        onUpload(formData) {
            const self = this;
            self.fetchUploadAndUpdate(formData);
        },
    },
};
</script>
