<template>
    <button v-if="$auth.loggedIn" role="button" class="btn btn-light" @click="logout">
        {{ $t('button.logout') }}
    </button>
</template>

<script>

import { mapState } from 'vuex';

export default {
    name: 'AuthButtonLogout',
    components: {
    },
    props: {

    },
    data() {
        return {
        };
    },
    computed: mapState({

    }),
    watch: {},
    mounted() {
    },
    methods: {
        logout() {
            const self = this;
            self.$auth.logout();
            self.$auth.setUserToken(false);
            self.$router.push('/');
            self.$nextTick(function () {
                self.authLogout();
            });
        }
    },
};
</script>

<style scoped lang="scss">

</style>
