<template>
    <div class="pr--dropdown--head pr--dropdown--settings-style">
        <div class="--d-head">
            <h6>Настройки</h6>
            <button
                type="button"
                class="close"
                aria-label="Close"
                @click="close()"
            >
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="--content">
            <div class="--font">
                <div class="--title">
                    Шрифт
                </div>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" :class="['btn btn-outline-light text-dark', app.fontSize === 'sm' ? 'active' : '']" @click="settingSetFontSize('sm')">
                        А
                    </button>
                    <button type="button" :class="['btn btn-outline-light text-dark', app.fontSize === 'md' ? 'active' : '']" @click="settingSetFontSize('md')">
                        А
                    </button>
                    <button type="button" :class="['btn btn-outline-light text-dark', app.fontSize === 'xl' ? 'active' : '']" @click="settingSetFontSize('xl')">
                        А
                    </button>
                </div>
            </div>
            <div class="--background">
                <div class="--title">
                    Оформление
                </div>
                <div class="color-samples">
                    <div class="color-sample">
                        <div class="color-sample-dot" :class="{'color-sample-active': feed.theme === 'pattern'}" @click="settingSetBackgroundStyle('pattern')">
                            <div class="color-sample-view greyborder __bg-default" />
                        </div>
                        <span>{{ $t('basic.theme-pattern') }}</span>
                    </div>
                    <div class="color-sample">
                        <div class="color-sample-dot" :class="{'color-sample-active': feed.theme === 'sepia'}" @click="settingSetBackgroundStyle('sepia')">
                            <div class="color-sample-view greyborder __bg-sepia" />
                        </div>
                        <span>{{ $t('basic.theme-sepia') }}</span>
                    </div>
                    <div class="color-sample">
                        <div class="color-sample-dot" :class="{'color-sample-active': feed.theme === 'dark'}" @click="settingSetBackgroundStyle('dark')">
                            <div class="color-sample-view greyborder __bg-dark" />
                        </div>
                        <span>{{ $t('basic.theme-dark') }}</span>
                    </div>
                    <div class="color-sample">
                        <div class="color-sample-dot" :class="{'color-sample-active': feed.theme === 'white'}" @click="settingSetBackgroundStyle('white')">
                            <div class="color-sample-view greyborder __bg-white" />
                        </div>
                        <span>{{ $t('basic.theme-white') }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import { mapActions, mapState } from 'vuex';

export default {
    name: 'DropdownSettingsStyle',
    props: {
        title: {
            type: [String],
            default: () => null,
        }
    },
    data() {
        return {};
    },
    computed: mapState({
        app: state => state.app,
        feed: state => state.app.sidebar.feed,
    }),
    methods: {
        ...mapActions('app', ['setFontSize', 'setBackgroundStyle']),
        ...mapActions('app/sidebar', ['setFeedTheme']),
        settingSetBackgroundStyle(val) {
            this.setFeedTheme(val);
            this.cookieActions().setAppFeedTheme(val);
        },
        settingSetFontSize(val) {
            this.setFontSize(val);
        },
        close() {
            const self = this;
            self.$refs.dropdown_head_settings.hide();
        }
    }
};
</script>
