<template>
    <div class="pr--dropdown--head pr--dropdown--messages">
        <h6>{{ $t('basic.messages') }}</h6>
        <!--        <div class="&#45;&#45;content">-->
        <!--            <Preloader />-->
        <!--        </div>-->
        <div v-if="!$auth.loggedIn" class="--content __empty">
            <div class="text-center mt-4 mb-3">
                <h6>Пока нет диалогов</h6>
                <p>Начать общение можно с помощью кнопки «Написать» в профиле пользователя</p>
            </div>
        </div>
        <div v-if="$auth.loggedIn && $auth.user.chats.length === 0" class="--content __empty">
            <div class="text-center mt-4 mb-3">
                <h6>Пока нет диалогов</h6>
                <p>Начать общение можно с помощью кнопки «Написать» в профиле пользователя</p>
            </div>
        </div>
        <div v-if="$auth.loggedIn && $auth.user.chats.length !== 0" class="--content" style="width: 360px;">
            <div class="pr--chat--list-items font-sm">
                <nuxt-link
                    v-for="chat in $auth.user.chats"
                    :key="chat.id"
                    :to="i18nRoute().userChat(chat)"
                    class="--item"
                    aria-current="true"
                >
                    <ChatListUser :chat="chat" />
                </nuxt-link>
            </div>
            <nuxt-link :to="i18nRoute().userChats()" class="btn btn-block btn-link __focus-none">
                {{ $t('button.go-to-chats') }}
            </nuxt-link>
        </div>
    </div>
</template>

<script>

import ChatListUser from '../../Old/Chat/ChatListUser';

export default {
    name: 'DropdownMessages',
    components: {
        ChatListUser
    },
    props: {
        title: {
            type: [String],
            default: () => null,
        }
    },
    data() {
        return {
        };
    },
    methods: {
    }
};
</script>
