<template>
    <BodyMainCommon :center-type-class="centerTypeClass">
        <template #left>
            <BodyMainLeft v-if="sidebar.left" />
            <BodyMainLeftHidden v-if="!sidebar.left" />
        </template>
        <template #center>
            <slot name="center" />
        </template>
        <template #right>
            <BodyMainRight v-if="sidebar.right" />
            <BodyMainRightHidden v-if="!sidebar.right" />
        </template>
    </BodyMainCommon>
</template>

<script>

import { mapState } from 'vuex';

export default {
    name: 'BodyMain',
    components: {
        BodyMainLeft: () => import('./Main/BodyMainLeft'),
        BodyMainLeftHidden: () => import('./Main/BodyMainLeftHidden'),
        BodyMainRight: () => import('./Main/BodyMainRight'),
        BodyMainRightHidden: () => import('./Main/BodyMainRightHidden'),
        BodyMainCommon: () => import('./BodyMainCommon'),
    },
    props: {
        centerTypeClass: {
            type: [String],
            default: () => '',
        }
    },
    data() {
        return {};
    },
    computed: mapState({
        sidebar: state => state.app.sidebar,
    }),
    watch: {},
    mounted() {},
    methods: {},
};
</script>

<style scoped lang="scss">

</style>
