<template>
    <section>
        <div class="pr-bg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <slot name="content" />
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>

export default {
    name: 'BodyAuth',
    components: {
        //
    },
    data() {
        return {};
    },
    computed: {},
    watch: {},
    mounted() {},
    methods: {},
};
</script>

<style scoped lang="scss">

</style>
