<template>
    <BodyMain>
        <template #center>
            <div class="container">
                <PersonalBlockHead />
<!--                <PersonalBlockSubscriptions />-->
                <div class="row">
                    <div class="col-12 pl-0 pr-0">
                        <PersonalBlockModerationTabs />
                    </div>
                    <div class="col-12 mt-3">
                        <slot name="content" />
                    </div>
                </div>
            </div>
        </template>
    </BodyMain>
</template>

<script>

import { mapState } from 'vuex';
import PersonalBlockModerationTabs from '../Personal/Block/Moderation/PersonalBlockModerationTabs';
import PersonalBlockHead from '../Personal/Block/PersonalBlockHead';
import PersonalBlockSubscriptions from '../Personal/Block/PersonalBlockSubscriptions';
import BodyMain from './BodyMain';

export default {
    name: 'BodyPersonalModeration',
    components: {
        BodyMain,
        PersonalBlockModerationTabs,
        PersonalBlockHead,
        PersonalBlockSubscriptions,
    },
    data() {
        return {
            categories: [
                { id: 2, title: 'Сельское хозяйство', image: '/img/default.png', slug: '/selskoe' },
                { id: 3, title: 'Современные технологии', image: '/img/default.png', slug: '/' },
                { id: 4, title: 'Технологии', image: '/img/default.png', slug: '/' },
                { id: 5, title: 'Личный опыт', image: '/img/default.png', slug: '/' },
                { id: 6, title: 'Имя Автора', image: '/img/default.png', slug: '/' },
                { id: 7, title: 'Имя Автора 2', image: '/img/default.png', slug: '/' },
            ],
        };
    },
    computed: mapState({
        app: state => state.app,
        data: state => state.app.data.data,
    }),
    watch: {},
    mounted() {},
    methods: {},
};
</script>

<style scoped lang="scss">

</style>
