<template>
    <BodyMain>
        <template #center>
            <div class="container">
                <PersonalBlockHead />
                <div class="row">
                    <div class="col-12 pl-0 pr-0">
                        <PersonalBlockGroupTabs />
                    </div>
                    <div class="col-12 mt-3">
                        <slot name="content" />
                    </div>
                </div>
            </div>
        </template>
    </BodyMain>
</template>

<script>

import { mapState } from 'vuex';
import PersonalBlockGroupTabs from '../Personal/Block/PersonalBlockGroupTabs';
import PersonalBlockHead from '../Personal/Block/PersonalBlockHead';
import BodyMain from './BodyMain';

export default {
    name: 'BodyPersonalGroups',
    components: {
        BodyMain,
        PersonalBlockGroupTabs,
        PersonalBlockHead,
    },
    data() {
        return {
            //
        };
    },
    computed: mapState({
        app: state => state.app,
        data: state => state.app.data.data,
    }),
    watch: {},
    mounted() {},
    methods: {},
};
</script>

<style scoped lang="scss">

</style>
