<template>
    <BodyMain :center-type-class="'__is-chat'">
        <template #center>
            <slot name="content" />
        </template>
    </BodyMain>
</template>

<script>

import { mapState } from 'vuex';
import BodyMain from './BodyMain';

export default {
    name: 'BodyChat',
    components: {
        BodyMain,
    },
    data() {
        return {
        };
    },
    computed: mapState({
        app: state => state.app,
    }),
    watch: {},
    mounted() {},
    methods: {},
};
</script>

<style scoped lang="scss">

</style>
