<template>
    <section>
        <div class="container-fluid" style="padding-top: 54px;">
            <div class="row flex-xl-nowrap">
                <div :class="['pr--main--left col-xl-6']">
                    <slot name="left" />
                </div>
                <main :class="['pr--main--center bg-white col-xl-6']" role="main">
                    <slot name="center" />
                </main>
            </div>
        </div>
    </section>
</template>

<script>

import { mapState } from 'vuex';

export default {
    name: 'BodyEditor',
    components: {},
    data() {
        return {};
    },
    computed: mapState({
        app: state => state.app,
    }),
    watch: {},
    mounted() {},
    methods: {},
};
</script>

<style scoped lang="scss">

</style>
