<template>
    <BodyMain>
        <template #center>
            <div class="container">
                <PersonalBlockHead />
                <div class="row rounded-sm shadow-sm bg-white mb-3">
                    <div class="col-12 p-3">
                        <PersonalSettingsTabs />
                    </div>
                    <div class="col-12 pb-3">
                        <slot name="content" />
                    </div>
                </div>
            </div>
        </template>
    </BodyMain>
</template>

<script>

import { mapState } from 'vuex';
import PersonalSettingsTabs from '../Personal/Account/Settings/PersonalSettingsTabs';
import PersonalBlockHead from '../Personal/Block/PersonalBlockHead';
import BodyMain from './BodyMain';

export default {
    name: 'BodyPersonalSettings',
    components: {
        BodyMain,
        PersonalSettingsTabs,
        PersonalBlockHead,
    },
    data() {
        return {};
    },
    computed: mapState({
        app: state => state.app,
    }),
    watch: {},
    mounted() {},
    methods: {},
};
</script>

<style scoped lang="scss">

</style>
