<template>
    <BodyMain>
        <template #center>
            <div class="container">
                <UserGroupBlockHead :group="group" />
                <div class="row">
                    <div class="col-12 pl-0 pr-0">
                        <GroupSettingsArticlesTabs :group="group" />
                    </div>
                    <div class="col-12 mt-3">
                        <slot name="content" />
                    </div>
                </div>
            </div>
        </template>
    </BodyMain>
</template>

<script>

import { mapState } from 'vuex';
import GroupSettingsArticlesTabs from '../Group/Settings/GroupSettingsArticlesTabs';
import UserGroupBlockHead from '../User/Group/Block/UserGroupBlockHead';
import BodyMain from './BodyMain';

export default {
    name: 'BodyGroupArticles',
    components: {
        BodyMain,
        GroupSettingsArticlesTabs,
        UserGroupBlockHead,
    },
    props: {
        group: {
            type: [Object],
            default: () => {},
        }
    },
    data() {
        return {
        };
    },
    computed: mapState({
        app: state => state.app,
        data: state => state.app.data.data,
    }),
    watch: {},
    mounted() {},
    methods: {},
};
</script>

<style scoped lang="scss">

</style>
