<template>
    <BodyMain>
        <template #center>
            <div class="container">
                <UserBlockHead :user="user" />
<!--                <UserBlockSubscriptions :user="user" />-->
                <div class="row">
                    <div class="col-12 pl-0 pr-0">
                        <UserBlockTabs :user="user" />
                    </div>
                    <div class="col-12 mt-3">
                        <slot name="content" />
                    </div>
                </div>
            </div>
        </template>
    </BodyMain>
</template>

<script>

import { mapState } from 'vuex';
import UserBlockTabs from '../User/Block/UserBlockTabs';
import UserBlockHead from '../User/Block/UserBlockHead';
import UserBlockSubscriptions from '../User/Block/UserBlockSubscriptions';
import BodyMain from './BodyMain';

export default {
    name: 'BodyUser',
    components: {
        BodyMain,
        UserBlockTabs,
        UserBlockHead,
        UserBlockSubscriptions,
    },
    props: {
        user: {
            type: [Object],
            default: () => {},
        }
    },
    data() {
        return {};
    },
    computed: mapState({
        app: state => state.app,
        data: state => state.app.data.data,
    }),
    watch: {},
    mounted() {},
    methods: {},
};
</script>

<style scoped lang="scss">

</style>
