<template>
    <BodyMain>
        <template #center>
            <div class="container">
                <UserGroupBlockHead :group="group" />
                <div class="row rounded-sm shadow-sm bg-white mb-3">
                    <div class="col-12 p-3">
                        <GroupSettingsTabs :group="group" />
                    </div>
                    <div class="col-12 pb-3">
                        <slot name="content" />
                    </div>
                </div>
            </div>
        </template>
    </BodyMain>
</template>

<script>

import { mapState } from 'vuex';
import GroupSettingsTabs from '../Group/Settings/GroupSettingsTabs';
import UserGroupBlockHead from '../User/Group/Block/UserGroupBlockHead';
import BodyMain from './BodyMain';

export default {
    name: 'BodyGroupSettings',
    components: {
        BodyMain,
        GroupSettingsTabs,
        UserGroupBlockHead,
    },
    props: {
        group: {
            type: [Object],
            default: () => {},
        }
    },
    data() {
        return {
        };
    },
    computed: mapState({
        app: state => state.app,
        data: state => state.app.data.data,
    }),
    watch: {},
    mounted() {},
    methods: {},
};
</script>

<style scoped lang="scss">

</style>
