<template>
    <header class="pr--header">
        <nav class="navbar navbar-light pr--header__brand-nav">
            <div class="nav pr--header__nav-left">
                <nuxt-link :to="i18nRoute().index()" class="pr--header__brand navbar-brand">
                    <img
                        :src="config.LOGO"
                        class="d-inline-block align-top mr-2 rounded-circle"
                        alt="Social Media System"
                        height="24"
                        width="24"
                    >
                    <span style="margin-bottom: -2px;">
                        {{ config.NAME }}
                    </span>
                </nuxt-link>
            </div>
            <div v-if="$auth.loggedIn" class="nav pr--header__nav-right">
                <div class="--actions">
                    <div class="d-none d-md-block">
                        <button
                            v-if="mode.developer"
                            v-tippy
                            type="button"
                            class="btn btn-icon text-info"
                            content="Режим разработчика"
                        >
                            <font-awesome-icon icon="user-ninja" />
                        </button>
                        <ButtonHeadSettings />
                        <ButtonHeadNotifications />
                    </div>
                    <div class="d-block d-md-none">
                        <ButtonHeadSettings />
                        <ButtonHeadNotifications />
                    </div>
                </div>
                <div class="--user">
                    <div>
                        <ButtonHeadPersonal />
                    </div>
                </div>
            </div>
        </nav>
    </header>
</template>

<script>

import { mapActions, mapState } from 'vuex';
import ButtonHeadNotifications from "../../Base/Button/ButtonHeadNotifications";
import ButtonHeadSettings from "../../Base/Button/ButtonHeadSettings";
import ButtonHeadPersonal from "../../Base/Button/ButtonHeadPersonal";
import {BDropdown, BDropdownItem} from "bootstrap-vue/src/components/dropdown";

export default {
    name: 'LayoutHeaderTop',
    components: {
        ButtonHeadNotifications,
        ButtonHeadSettings,
        ButtonHeadPersonal,
        BDropdown,
        BDropdownItem,
    },
    props: {},
    data() {
        return {
            //
        };
    },
    computed: mapState({
        config: (state) => state.app.data.data.config,
        mode: state => state.app.mode,
    }),
    mounted() {
        const self = this;
        self.cookieActions().getAppModeDeveloper();
    },
    updated() {
        const self = this;
        self.cookieActions().getAppModeDeveloper();
    },
    methods: {
        //
    }
};
</script>
