<template>
    <div
        class="col-12 pr--card--subscriber __skeleton rounded-sm"
        :class="[
            '',
        ]"
    >
        <div class="--body">
            <div class="--left">
                <div class="--image">
                    <b-skeleton width="100%" height="100%" type="avatar" class="mb-0" />
                </div>
                <div>
                    <b-skeleton width="280px" height="16px" class="mb-0" />
                </div>
            </div>
            <div class="--right" />
        </div>
    </div>
</template>

<script>

export default {
    name: 'SkeletonGroupCardSubscription',
    components: {
        //
    },
    props: {
        group: {
            type: [Object],
            default: () => {},
        },
    },
    data() {
        return {};
    },
    watch: {},
    mounted() {},
    methods: {},
};
</script>
