<template>
    <div class="col-12 pr--card--group __skeleton pr--rounded-sm">
        <div class="--body">
            <div class="--image">
                <b-skeleton />
            </div>
            <div>
                <b-skeleton width="280px" height="28px" class="h3 mb-2" />
                <div>
                    <b-skeleton width="90%" height="18px" />
                    <b-skeleton width="70%" height="18px" />
                </div>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    name: 'SkeletonGroupCardBasic',
    components: {
        //
    },
    props: {},
    data() {
        return {};
    },
    computed: {},
    watch: {},
    mounted() {},
    methods: {},
};
</script>
