/* tc- project's prefix*/

.tc-table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    table-layout: fixed;

    &__wrap {
        border: 1px solid #DBDBE2;
        border-radius: 3px;
        position: relative;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
    }
    &__center {
        text-align: center;
    }
    &__left {
        text-align: left;
    }
    &__right {
        text-align: right;
    }

    &__cell {
        border: 1px solid #DBDBE2;
        padding: 0;
        vertical-align: top;
        position: relative;

        &--menu {
            &__button {
                position: absolute;
                top: -24px;
                right: -1px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 18px;
                height: 18px;
                color: #707684;
                cursor: pointer;
                background: #eff2f5;
                user-select: none;

                &:hover {
                    color: #1d202b;
                }
            }

            &__content {
                .ce-settings {
                    top: 0;
                    min-width: inherit;

                    .ce-settings__plugin-zone {
                        padding: 3px;
                    }

                    .cdx-settings-button {
                        margin: 0;
                    }
                }
            }
        }
    }

    &__area {
        padding: 10px;
        height: 100%;
    }

    &__inp {
        outline: none;
        flex-grow: 100;
        min-height: 1.5em;
        height: 100%;
        overflow: hidden;
    }

    &__highlight:focus-within {
        background-color: rgba(173, 164, 176, 0.1);
    }

    tbody tr:first-child td {
        border-top: none;
    }

    tbody tr:last-child td {
        border-bottom: none;
    }

    tbody tr td:last-child {
        border-right: none;
    }

    tbody tr td:first-child {
        border-left: none;
    }
}

.table-selector {
    display: flex;
    flex-direction: column;

    .hidden-element {
        display: none;
    }
}

.table-row {
    display: flex;
    flex-direction: row;
}

.table-cell-container {
    width: 30px;
    height: 30px;
}

.table-cell {
    width: 25px;
    height: 25px;
    background: rgba(246, 246, 246);
    border: 1px solid rgba(228, 228, 228);
    cursor: pointer;
}

[data-hoveredClass="1,1"] #row_1_cell_1 #cell_1,
[data-hoveredClass="1,2"] #row_1_cell_1 #cell_1,
[data-hoveredClass="1,2"] #row_1_cell_2 #cell_2,
[data-hoveredClass="1,3"] #row_1_cell_1 #cell_1,
[data-hoveredClass="1,3"] #row_1_cell_2 #cell_2,
[data-hoveredClass="1,3"] #row_1_cell_3 #cell_3,
[data-hoveredClass="1,4"] #row_1_cell_1 #cell_1,
[data-hoveredClass="1,4"] #row_1_cell_2 #cell_2,
[data-hoveredClass="1,4"] #row_1_cell_3 #cell_3,
[data-hoveredClass="1,4"] #row_1_cell_4 #cell_4,
[data-hoveredClass="1,5"] #row_1_cell_1 #cell_1,
[data-hoveredClass="1,5"] #row_1_cell_2 #cell_2,
[data-hoveredClass="1,5"] #row_1_cell_3 #cell_3,
[data-hoveredClass="1,5"] #row_1_cell_4 #cell_4,
[data-hoveredClass="1,5"] #row_1_cell_5 #cell_5,
[data-hoveredClass="1,6"] #row_1_cell_1 #cell_1,
[data-hoveredClass="1,6"] #row_1_cell_2 #cell_2,
[data-hoveredClass="1,6"] #row_1_cell_3 #cell_3,
[data-hoveredClass="1,6"] #row_1_cell_4 #cell_4,
[data-hoveredClass="1,6"] #row_1_cell_5 #cell_5,
[data-hoveredClass="1,6"] #row_1_cell_6 #cell_6,
[data-hoveredClass="2,1"] #row_1_cell_1 #cell_1,
[data-hoveredClass="2,1"] #row_2_cell_1 #cell_1,
[data-hoveredClass="2,2"] #row_1_cell_1 #cell_1,
[data-hoveredClass="2,2"] #row_1_cell_2 #cell_2,
[data-hoveredClass="2,2"] #row_2_cell_1 #cell_1,
[data-hoveredClass="2,2"] #row_2_cell_2 #cell_2,
[data-hoveredClass="2,3"] #row_1_cell_1 #cell_1,
[data-hoveredClass="2,3"] #row_1_cell_2 #cell_2,
[data-hoveredClass="2,3"] #row_1_cell_3 #cell_3,
[data-hoveredClass="2,3"] #row_2_cell_1 #cell_1,
[data-hoveredClass="2,3"] #row_2_cell_2 #cell_2,
[data-hoveredClass="2,3"] #row_2_cell_3 #cell_3,
[data-hoveredClass="2,4"] #row_1_cell_1 #cell_1,
[data-hoveredClass="2,4"] #row_1_cell_2 #cell_2,
[data-hoveredClass="2,4"] #row_1_cell_3 #cell_3,
[data-hoveredClass="2,4"] #row_1_cell_4 #cell_4,
[data-hoveredClass="2,4"] #row_2_cell_1 #cell_1,
[data-hoveredClass="2,4"] #row_2_cell_2 #cell_2,
[data-hoveredClass="2,4"] #row_2_cell_3 #cell_3,
[data-hoveredClass="2,4"] #row_2_cell_4 #cell_4,
[data-hoveredClass="2,5"] #row_1_cell_1 #cell_1,
[data-hoveredClass="2,5"] #row_1_cell_2 #cell_2,
[data-hoveredClass="2,5"] #row_1_cell_3 #cell_3,
[data-hoveredClass="2,5"] #row_1_cell_4 #cell_4,
[data-hoveredClass="2,5"] #row_1_cell_5 #cell_5,
[data-hoveredClass="2,5"] #row_2_cell_1 #cell_1,
[data-hoveredClass="2,5"] #row_2_cell_2 #cell_2,
[data-hoveredClass="2,5"] #row_2_cell_3 #cell_3,
[data-hoveredClass="2,5"] #row_2_cell_4 #cell_4,
[data-hoveredClass="2,5"] #row_2_cell_5 #cell_5,
[data-hoveredClass="2,6"] #row_1_cell_1 #cell_1,
[data-hoveredClass="2,6"] #row_1_cell_2 #cell_2,
[data-hoveredClass="2,6"] #row_1_cell_3 #cell_3,
[data-hoveredClass="2,6"] #row_1_cell_4 #cell_4,
[data-hoveredClass="2,6"] #row_1_cell_5 #cell_5,
[data-hoveredClass="2,6"] #row_1_cell_6 #cell_6,
[data-hoveredClass="2,6"] #row_2_cell_1 #cell_1,
[data-hoveredClass="2,6"] #row_2_cell_2 #cell_2,
[data-hoveredClass="2,6"] #row_2_cell_3 #cell_3,
[data-hoveredClass="2,6"] #row_2_cell_4 #cell_4,
[data-hoveredClass="2,6"] #row_2_cell_5 #cell_5,
[data-hoveredClass="2,6"] #row_2_cell_6 #cell_6,
[data-hoveredClass="3,1"] #row_1_cell_1 #cell_1,
[data-hoveredClass="3,1"] #row_2_cell_1 #cell_1,
[data-hoveredClass="3,1"] #row_3_cell_1 #cell_1,
[data-hoveredClass="3,2"] #row_1_cell_1 #cell_1,
[data-hoveredClass="3,2"] #row_1_cell_2 #cell_2,
[data-hoveredClass="3,2"] #row_2_cell_1 #cell_1,
[data-hoveredClass="3,2"] #row_2_cell_2 #cell_2,
[data-hoveredClass="3,2"] #row_3_cell_1 #cell_1,
[data-hoveredClass="3,2"] #row_3_cell_2 #cell_2,
[data-hoveredClass="3,3"] #row_1_cell_1 #cell_1,
[data-hoveredClass="3,3"] #row_1_cell_2 #cell_2,
[data-hoveredClass="3,3"] #row_1_cell_3 #cell_3,
[data-hoveredClass="3,3"] #row_2_cell_1 #cell_1,
[data-hoveredClass="3,3"] #row_2_cell_2 #cell_2,
[data-hoveredClass="3,3"] #row_2_cell_3 #cell_3,
[data-hoveredClass="3,3"] #row_3_cell_1 #cell_1,
[data-hoveredClass="3,3"] #row_3_cell_2 #cell_2,
[data-hoveredClass="3,3"] #row_3_cell_3 #cell_3,
[data-hoveredClass="3,4"] #row_1_cell_1 #cell_1,
[data-hoveredClass="3,4"] #row_1_cell_2 #cell_2,
[data-hoveredClass="3,4"] #row_1_cell_3 #cell_3,
[data-hoveredClass="3,4"] #row_1_cell_4 #cell_4,
[data-hoveredClass="3,4"] #row_2_cell_1 #cell_1,
[data-hoveredClass="3,4"] #row_2_cell_2 #cell_2,
[data-hoveredClass="3,4"] #row_2_cell_3 #cell_3,
[data-hoveredClass="3,4"] #row_2_cell_4 #cell_4,
[data-hoveredClass="3,4"] #row_3_cell_1 #cell_1,
[data-hoveredClass="3,4"] #row_3_cell_2 #cell_2,
[data-hoveredClass="3,4"] #row_3_cell_3 #cell_3,
[data-hoveredClass="3,4"] #row_3_cell_4 #cell_4,
[data-hoveredClass="3,5"] #row_1_cell_1 #cell_1,
[data-hoveredClass="3,5"] #row_1_cell_2 #cell_2,
[data-hoveredClass="3,5"] #row_1_cell_3 #cell_3,
[data-hoveredClass="3,5"] #row_1_cell_4 #cell_4,
[data-hoveredClass="3,5"] #row_1_cell_5 #cell_5,
[data-hoveredClass="3,5"] #row_2_cell_1 #cell_1,
[data-hoveredClass="3,5"] #row_2_cell_2 #cell_2,
[data-hoveredClass="3,5"] #row_2_cell_3 #cell_3,
[data-hoveredClass="3,5"] #row_2_cell_4 #cell_4,
[data-hoveredClass="3,5"] #row_2_cell_5 #cell_5,
[data-hoveredClass="3,5"] #row_3_cell_1 #cell_1,
[data-hoveredClass="3,5"] #row_3_cell_2 #cell_2,
[data-hoveredClass="3,5"] #row_3_cell_3 #cell_3,
[data-hoveredClass="3,5"] #row_3_cell_4 #cell_4,
[data-hoveredClass="3,5"] #row_3_cell_5 #cell_5,
[data-hoveredClass="3,6"] #row_1_cell_1 #cell_1,
[data-hoveredClass="3,6"] #row_1_cell_2 #cell_2,
[data-hoveredClass="3,6"] #row_1_cell_3 #cell_3,
[data-hoveredClass="3,6"] #row_1_cell_4 #cell_4,
[data-hoveredClass="3,6"] #row_1_cell_5 #cell_5,
[data-hoveredClass="3,6"] #row_1_cell_6 #cell_6,
[data-hoveredClass="3,6"] #row_2_cell_1 #cell_1,
[data-hoveredClass="3,6"] #row_2_cell_2 #cell_2,
[data-hoveredClass="3,6"] #row_2_cell_3 #cell_3,
[data-hoveredClass="3,6"] #row_2_cell_4 #cell_4,
[data-hoveredClass="3,6"] #row_2_cell_5 #cell_5,
[data-hoveredClass="3,6"] #row_2_cell_6 #cell_6,
[data-hoveredClass="3,6"] #row_3_cell_1 #cell_1,
[data-hoveredClass="3,6"] #row_3_cell_2 #cell_2,
[data-hoveredClass="3,6"] #row_3_cell_3 #cell_3,
[data-hoveredClass="3,6"] #row_3_cell_4 #cell_4,
[data-hoveredClass="3,6"] #row_3_cell_5 #cell_5,
[data-hoveredClass="3,6"] #row_3_cell_6 #cell_6,
[data-hoveredClass="4,1"] #row_1_cell_1 #cell_1,
[data-hoveredClass="4,1"] #row_2_cell_1 #cell_1,
[data-hoveredClass="4,1"] #row_3_cell_1 #cell_1,
[data-hoveredClass="4,1"] #row_4_cell_1 #cell_1,
[data-hoveredClass="4,2"] #row_1_cell_1 #cell_1,
[data-hoveredClass="4,2"] #row_1_cell_2 #cell_2,
[data-hoveredClass="4,2"] #row_2_cell_1 #cell_1,
[data-hoveredClass="4,2"] #row_2_cell_2 #cell_2,
[data-hoveredClass="4,2"] #row_3_cell_1 #cell_1,
[data-hoveredClass="4,2"] #row_3_cell_2 #cell_2,
[data-hoveredClass="4,2"] #row_4_cell_1 #cell_1,
[data-hoveredClass="4,2"] #row_4_cell_2 #cell_2,
[data-hoveredClass="4,3"] #row_1_cell_1 #cell_1,
[data-hoveredClass="4,3"] #row_1_cell_2 #cell_2,
[data-hoveredClass="4,3"] #row_1_cell_3 #cell_3,
[data-hoveredClass="4,3"] #row_2_cell_1 #cell_1,
[data-hoveredClass="4,3"] #row_2_cell_2 #cell_2,
[data-hoveredClass="4,3"] #row_2_cell_3 #cell_3,
[data-hoveredClass="4,3"] #row_3_cell_1 #cell_1,
[data-hoveredClass="4,3"] #row_3_cell_2 #cell_2,
[data-hoveredClass="4,3"] #row_3_cell_3 #cell_3,
[data-hoveredClass="4,3"] #row_4_cell_1 #cell_1,
[data-hoveredClass="4,3"] #row_4_cell_2 #cell_2,
[data-hoveredClass="4,3"] #row_4_cell_3 #cell_3,
[data-hoveredClass="4,4"] #row_1_cell_1 #cell_1,
[data-hoveredClass="4,4"] #row_1_cell_2 #cell_2,
[data-hoveredClass="4,4"] #row_1_cell_3 #cell_3,
[data-hoveredClass="4,4"] #row_1_cell_4 #cell_4,
[data-hoveredClass="4,4"] #row_2_cell_1 #cell_1,
[data-hoveredClass="4,4"] #row_2_cell_2 #cell_2,
[data-hoveredClass="4,4"] #row_2_cell_3 #cell_3,
[data-hoveredClass="4,4"] #row_2_cell_4 #cell_4,
[data-hoveredClass="4,4"] #row_3_cell_1 #cell_1,
[data-hoveredClass="4,4"] #row_3_cell_2 #cell_2,
[data-hoveredClass="4,4"] #row_3_cell_3 #cell_3,
[data-hoveredClass="4,4"] #row_3_cell_4 #cell_4,
[data-hoveredClass="4,4"] #row_4_cell_1 #cell_1,
[data-hoveredClass="4,4"] #row_4_cell_2 #cell_2,
[data-hoveredClass="4,4"] #row_4_cell_3 #cell_3,
[data-hoveredClass="4,4"] #row_4_cell_4 #cell_4,
[data-hoveredClass="4,5"] #row_1_cell_1 #cell_1,
[data-hoveredClass="4,5"] #row_1_cell_2 #cell_2,
[data-hoveredClass="4,5"] #row_1_cell_3 #cell_3,
[data-hoveredClass="4,5"] #row_1_cell_4 #cell_4,
[data-hoveredClass="4,5"] #row_1_cell_5 #cell_5,
[data-hoveredClass="4,5"] #row_2_cell_1 #cell_1,
[data-hoveredClass="4,5"] #row_2_cell_2 #cell_2,
[data-hoveredClass="4,5"] #row_2_cell_3 #cell_3,
[data-hoveredClass="4,5"] #row_2_cell_4 #cell_4,
[data-hoveredClass="4,5"] #row_2_cell_5 #cell_5,
[data-hoveredClass="4,5"] #row_3_cell_1 #cell_1,
[data-hoveredClass="4,5"] #row_3_cell_2 #cell_2,
[data-hoveredClass="4,5"] #row_3_cell_3 #cell_3,
[data-hoveredClass="4,5"] #row_3_cell_4 #cell_4,
[data-hoveredClass="4,5"] #row_3_cell_5 #cell_5,
[data-hoveredClass="4,5"] #row_4_cell_1 #cell_1,
[data-hoveredClass="4,5"] #row_4_cell_2 #cell_2,
[data-hoveredClass="4,5"] #row_4_cell_3 #cell_3,
[data-hoveredClass="4,5"] #row_4_cell_4 #cell_4,
[data-hoveredClass="4,5"] #row_4_cell_5 #cell_5,
[data-hoveredClass="4,6"] #row_1_cell_1 #cell_1,
[data-hoveredClass="4,6"] #row_1_cell_2 #cell_2,
[data-hoveredClass="4,6"] #row_1_cell_3 #cell_3,
[data-hoveredClass="4,6"] #row_1_cell_4 #cell_4,
[data-hoveredClass="4,6"] #row_1_cell_5 #cell_5,
[data-hoveredClass="4,6"] #row_1_cell_6 #cell_6,
[data-hoveredClass="4,6"] #row_2_cell_1 #cell_1,
[data-hoveredClass="4,6"] #row_2_cell_2 #cell_2,
[data-hoveredClass="4,6"] #row_2_cell_3 #cell_3,
[data-hoveredClass="4,6"] #row_2_cell_4 #cell_4,
[data-hoveredClass="4,6"] #row_2_cell_5 #cell_5,
[data-hoveredClass="4,6"] #row_2_cell_6 #cell_6,
[data-hoveredClass="4,6"] #row_3_cell_1 #cell_1,
[data-hoveredClass="4,6"] #row_3_cell_2 #cell_2,
[data-hoveredClass="4,6"] #row_3_cell_3 #cell_3,
[data-hoveredClass="4,6"] #row_3_cell_4 #cell_4,
[data-hoveredClass="4,6"] #row_3_cell_5 #cell_5,
[data-hoveredClass="4,6"] #row_3_cell_6 #cell_6,
[data-hoveredClass="4,6"] #row_4_cell_1 #cell_1,
[data-hoveredClass="4,6"] #row_4_cell_2 #cell_2,
[data-hoveredClass="4,6"] #row_4_cell_3 #cell_3,
[data-hoveredClass="4,6"] #row_4_cell_4 #cell_4,
[data-hoveredClass="4,6"] #row_4_cell_5 #cell_5,
[data-hoveredClass="4,6"] #row_4_cell_6 #cell_6,
[data-hoveredClass="5,1"] #row_1_cell_1 #cell_1,
[data-hoveredClass="5,1"] #row_2_cell_1 #cell_1,
[data-hoveredClass="5,1"] #row_3_cell_1 #cell_1,
[data-hoveredClass="5,1"] #row_4_cell_1 #cell_1,
[data-hoveredClass="5,1"] #row_5_cell_1 #cell_1,
[data-hoveredClass="5,2"] #row_1_cell_1 #cell_1,
[data-hoveredClass="5,2"] #row_1_cell_2 #cell_2,
[data-hoveredClass="5,2"] #row_2_cell_1 #cell_1,
[data-hoveredClass="5,2"] #row_2_cell_2 #cell_2,
[data-hoveredClass="5,2"] #row_3_cell_1 #cell_1,
[data-hoveredClass="5,2"] #row_3_cell_2 #cell_2,
[data-hoveredClass="5,2"] #row_4_cell_1 #cell_1,
[data-hoveredClass="5,2"] #row_4_cell_2 #cell_2,
[data-hoveredClass="5,2"] #row_5_cell_1 #cell_1,
[data-hoveredClass="5,2"] #row_5_cell_2 #cell_2,
[data-hoveredClass="5,3"] #row_1_cell_1 #cell_1,
[data-hoveredClass="5,3"] #row_1_cell_2 #cell_2,
[data-hoveredClass="5,3"] #row_1_cell_3 #cell_3,
[data-hoveredClass="5,3"] #row_2_cell_1 #cell_1,
[data-hoveredClass="5,3"] #row_2_cell_2 #cell_2,
[data-hoveredClass="5,3"] #row_2_cell_3 #cell_3,
[data-hoveredClass="5,3"] #row_3_cell_1 #cell_1,
[data-hoveredClass="5,3"] #row_3_cell_2 #cell_2,
[data-hoveredClass="5,3"] #row_3_cell_3 #cell_3,
[data-hoveredClass="5,3"] #row_4_cell_1 #cell_1,
[data-hoveredClass="5,3"] #row_4_cell_2 #cell_2,
[data-hoveredClass="5,3"] #row_4_cell_3 #cell_3,
[data-hoveredClass="5,3"] #row_5_cell_1 #cell_1,
[data-hoveredClass="5,3"] #row_5_cell_2 #cell_2,
[data-hoveredClass="5,3"] #row_5_cell_3 #cell_3,
[data-hoveredClass="5,4"] #row_1_cell_1 #cell_1,
[data-hoveredClass="5,4"] #row_1_cell_2 #cell_2,
[data-hoveredClass="5,4"] #row_1_cell_3 #cell_3,
[data-hoveredClass="5,4"] #row_1_cell_4 #cell_4,
[data-hoveredClass="5,4"] #row_2_cell_1 #cell_1,
[data-hoveredClass="5,4"] #row_2_cell_2 #cell_2,
[data-hoveredClass="5,4"] #row_2_cell_3 #cell_3,
[data-hoveredClass="5,4"] #row_2_cell_4 #cell_4,
[data-hoveredClass="5,4"] #row_3_cell_1 #cell_1,
[data-hoveredClass="5,4"] #row_3_cell_2 #cell_2,
[data-hoveredClass="5,4"] #row_3_cell_3 #cell_3,
[data-hoveredClass="5,4"] #row_3_cell_4 #cell_4,
[data-hoveredClass="5,4"] #row_4_cell_1 #cell_1,
[data-hoveredClass="5,4"] #row_4_cell_2 #cell_2,
[data-hoveredClass="5,4"] #row_4_cell_3 #cell_3,
[data-hoveredClass="5,4"] #row_4_cell_4 #cell_4,
[data-hoveredClass="5,4"] #row_5_cell_1 #cell_1,
[data-hoveredClass="5,4"] #row_5_cell_2 #cell_2,
[data-hoveredClass="5,4"] #row_5_cell_3 #cell_3,
[data-hoveredClass="5,4"] #row_5_cell_4 #cell_4,
[data-hoveredClass="5,5"] #row_1_cell_1 #cell_1,
[data-hoveredClass="5,5"] #row_1_cell_2 #cell_2,
[data-hoveredClass="5,5"] #row_1_cell_3 #cell_3,
[data-hoveredClass="5,5"] #row_1_cell_4 #cell_4,
[data-hoveredClass="5,5"] #row_1_cell_5 #cell_5,
[data-hoveredClass="5,5"] #row_2_cell_1 #cell_1,
[data-hoveredClass="5,5"] #row_2_cell_2 #cell_2,
[data-hoveredClass="5,5"] #row_2_cell_3 #cell_3,
[data-hoveredClass="5,5"] #row_2_cell_4 #cell_4,
[data-hoveredClass="5,5"] #row_2_cell_5 #cell_5,
[data-hoveredClass="5,5"] #row_3_cell_1 #cell_1,
[data-hoveredClass="5,5"] #row_3_cell_2 #cell_2,
[data-hoveredClass="5,5"] #row_3_cell_3 #cell_3,
[data-hoveredClass="5,5"] #row_3_cell_4 #cell_4,
[data-hoveredClass="5,5"] #row_3_cell_5 #cell_5,
[data-hoveredClass="5,5"] #row_4_cell_1 #cell_1,
[data-hoveredClass="5,5"] #row_4_cell_2 #cell_2,
[data-hoveredClass="5,5"] #row_4_cell_3 #cell_3,
[data-hoveredClass="5,5"] #row_4_cell_4 #cell_4,
[data-hoveredClass="5,5"] #row_4_cell_5 #cell_5,
[data-hoveredClass="5,5"] #row_5_cell_1 #cell_1,
[data-hoveredClass="5,5"] #row_5_cell_2 #cell_2,
[data-hoveredClass="5,5"] #row_5_cell_3 #cell_3,
[data-hoveredClass="5,5"] #row_5_cell_4 #cell_4,
[data-hoveredClass="5,5"] #row_5_cell_5 #cell_5,
[data-hoveredClass="5,6"] #row_1_cell_1 #cell_1,
[data-hoveredClass="5,6"] #row_1_cell_2 #cell_2,
[data-hoveredClass="5,6"] #row_1_cell_3 #cell_3,
[data-hoveredClass="5,6"] #row_1_cell_4 #cell_4,
[data-hoveredClass="5,6"] #row_1_cell_5 #cell_5,
[data-hoveredClass="5,6"] #row_1_cell_6 #cell_6,
[data-hoveredClass="5,6"] #row_2_cell_1 #cell_1,
[data-hoveredClass="5,6"] #row_2_cell_2 #cell_2,
[data-hoveredClass="5,6"] #row_2_cell_3 #cell_3,
[data-hoveredClass="5,6"] #row_2_cell_4 #cell_4,
[data-hoveredClass="5,6"] #row_2_cell_5 #cell_5,
[data-hoveredClass="5,6"] #row_2_cell_6 #cell_6,
[data-hoveredClass="5,6"] #row_3_cell_1 #cell_1,
[data-hoveredClass="5,6"] #row_3_cell_2 #cell_2,
[data-hoveredClass="5,6"] #row_3_cell_3 #cell_3,
[data-hoveredClass="5,6"] #row_3_cell_4 #cell_4,
[data-hoveredClass="5,6"] #row_3_cell_5 #cell_5,
[data-hoveredClass="5,6"] #row_3_cell_6 #cell_6,
[data-hoveredClass="5,6"] #row_4_cell_1 #cell_1,
[data-hoveredClass="5,6"] #row_4_cell_2 #cell_2,
[data-hoveredClass="5,6"] #row_4_cell_3 #cell_3,
[data-hoveredClass="5,6"] #row_4_cell_4 #cell_4,
[data-hoveredClass="5,6"] #row_4_cell_5 #cell_5,
[data-hoveredClass="5,6"] #row_4_cell_6 #cell_6,
[data-hoveredClass="5,6"] #row_5_cell_1 #cell_1,
[data-hoveredClass="5,6"] #row_5_cell_2 #cell_2,
[data-hoveredClass="5,6"] #row_5_cell_3 #cell_3,
[data-hoveredClass="5,6"] #row_5_cell_4 #cell_4,
[data-hoveredClass="5,6"] #row_5_cell_5 #cell_5,
[data-hoveredClass="5,6"] #row_5_cell_6 #cell_6,
[data-hoveredClass="6,1"] #row_1_cell_1 #cell_1,
[data-hoveredClass="6,1"] #row_2_cell_1 #cell_1,
[data-hoveredClass="6,1"] #row_3_cell_1 #cell_1,
[data-hoveredClass="6,1"] #row_4_cell_1 #cell_1,
[data-hoveredClass="6,1"] #row_5_cell_1 #cell_1,
[data-hoveredClass="6,1"] #row_6_cell_1 #cell_1,
[data-hoveredClass="6,2"] #row_1_cell_1 #cell_1,
[data-hoveredClass="6,2"] #row_1_cell_2 #cell_2,
[data-hoveredClass="6,2"] #row_2_cell_1 #cell_1,
[data-hoveredClass="6,2"] #row_2_cell_2 #cell_2,
[data-hoveredClass="6,2"] #row_3_cell_1 #cell_1,
[data-hoveredClass="6,2"] #row_3_cell_2 #cell_2,
[data-hoveredClass="6,2"] #row_4_cell_1 #cell_1,
[data-hoveredClass="6,2"] #row_4_cell_2 #cell_2,
[data-hoveredClass="6,2"] #row_5_cell_1 #cell_1,
[data-hoveredClass="6,2"] #row_5_cell_2 #cell_2,
[data-hoveredClass="6,2"] #row_6_cell_1 #cell_1,
[data-hoveredClass="6,2"] #row_6_cell_2 #cell_2,
[data-hoveredClass="6,3"] #row_1_cell_1 #cell_1,
[data-hoveredClass="6,3"] #row_1_cell_2 #cell_2,
[data-hoveredClass="6,3"] #row_1_cell_3 #cell_3,
[data-hoveredClass="6,3"] #row_2_cell_1 #cell_1,
[data-hoveredClass="6,3"] #row_2_cell_2 #cell_2,
[data-hoveredClass="6,3"] #row_2_cell_3 #cell_3,
[data-hoveredClass="6,3"] #row_3_cell_1 #cell_1,
[data-hoveredClass="6,3"] #row_3_cell_2 #cell_2,
[data-hoveredClass="6,3"] #row_3_cell_3 #cell_3,
[data-hoveredClass="6,3"] #row_4_cell_1 #cell_1,
[data-hoveredClass="6,3"] #row_4_cell_2 #cell_2,
[data-hoveredClass="6,3"] #row_4_cell_3 #cell_3,
[data-hoveredClass="6,3"] #row_5_cell_1 #cell_1,
[data-hoveredClass="6,3"] #row_5_cell_2 #cell_2,
[data-hoveredClass="6,3"] #row_5_cell_3 #cell_3,
[data-hoveredClass="6,3"] #row_6_cell_1 #cell_1,
[data-hoveredClass="6,3"] #row_6_cell_2 #cell_2,
[data-hoveredClass="6,3"] #row_6_cell_3 #cell_3,
[data-hoveredClass="6,4"] #row_1_cell_1 #cell_1,
[data-hoveredClass="6,4"] #row_1_cell_2 #cell_2,
[data-hoveredClass="6,4"] #row_1_cell_3 #cell_3,
[data-hoveredClass="6,4"] #row_1_cell_4 #cell_4,
[data-hoveredClass="6,4"] #row_2_cell_1 #cell_1,
[data-hoveredClass="6,4"] #row_2_cell_2 #cell_2,
[data-hoveredClass="6,4"] #row_2_cell_3 #cell_3,
[data-hoveredClass="6,4"] #row_2_cell_4 #cell_4,
[data-hoveredClass="6,4"] #row_3_cell_1 #cell_1,
[data-hoveredClass="6,4"] #row_3_cell_2 #cell_2,
[data-hoveredClass="6,4"] #row_3_cell_3 #cell_3,
[data-hoveredClass="6,4"] #row_3_cell_4 #cell_4,
[data-hoveredClass="6,4"] #row_4_cell_1 #cell_1,
[data-hoveredClass="6,4"] #row_4_cell_2 #cell_2,
[data-hoveredClass="6,4"] #row_4_cell_3 #cell_3,
[data-hoveredClass="6,4"] #row_4_cell_4 #cell_4,
[data-hoveredClass="6,4"] #row_5_cell_1 #cell_1,
[data-hoveredClass="6,4"] #row_5_cell_2 #cell_2,
[data-hoveredClass="6,4"] #row_5_cell_3 #cell_3,
[data-hoveredClass="6,4"] #row_5_cell_4 #cell_4,
[data-hoveredClass="6,4"] #row_6_cell_1 #cell_1,
[data-hoveredClass="6,4"] #row_6_cell_2 #cell_2,
[data-hoveredClass="6,4"] #row_6_cell_3 #cell_3,
[data-hoveredClass="6,4"] #row_6_cell_4 #cell_4,
[data-hoveredClass="6,5"] #row_1_cell_1 #cell_1,
[data-hoveredClass="6,5"] #row_1_cell_2 #cell_2,
[data-hoveredClass="6,5"] #row_1_cell_3 #cell_3,
[data-hoveredClass="6,5"] #row_1_cell_4 #cell_4,
[data-hoveredClass="6,5"] #row_1_cell_5 #cell_5,
[data-hoveredClass="6,5"] #row_2_cell_1 #cell_1,
[data-hoveredClass="6,5"] #row_2_cell_2 #cell_2,
[data-hoveredClass="6,5"] #row_2_cell_3 #cell_3,
[data-hoveredClass="6,5"] #row_2_cell_4 #cell_4,
[data-hoveredClass="6,5"] #row_2_cell_5 #cell_5,
[data-hoveredClass="6,5"] #row_3_cell_1 #cell_1,
[data-hoveredClass="6,5"] #row_3_cell_2 #cell_2,
[data-hoveredClass="6,5"] #row_3_cell_3 #cell_3,
[data-hoveredClass="6,5"] #row_3_cell_4 #cell_4,
[data-hoveredClass="6,5"] #row_3_cell_5 #cell_5,
[data-hoveredClass="6,5"] #row_4_cell_1 #cell_1,
[data-hoveredClass="6,5"] #row_4_cell_2 #cell_2,
[data-hoveredClass="6,5"] #row_4_cell_3 #cell_3,
[data-hoveredClass="6,5"] #row_4_cell_4 #cell_4,
[data-hoveredClass="6,5"] #row_4_cell_5 #cell_5,
[data-hoveredClass="6,5"] #row_5_cell_1 #cell_1,
[data-hoveredClass="6,5"] #row_5_cell_2 #cell_2,
[data-hoveredClass="6,5"] #row_5_cell_3 #cell_3,
[data-hoveredClass="6,5"] #row_5_cell_4 #cell_4,
[data-hoveredClass="6,5"] #row_5_cell_5 #cell_5,
[data-hoveredClass="6,5"] #row_6_cell_1 #cell_1,
[data-hoveredClass="6,5"] #row_6_cell_2 #cell_2,
[data-hoveredClass="6,5"] #row_6_cell_3 #cell_3,
[data-hoveredClass="6,5"] #row_6_cell_4 #cell_4,
[data-hoveredClass="6,5"] #row_6_cell_5 #cell_5,
[data-hoveredClass="6,6"] #row_1_cell_1 #cell_1,
[data-hoveredClass="6,6"] #row_1_cell_2 #cell_2,
[data-hoveredClass="6,6"] #row_1_cell_3 #cell_3,
[data-hoveredClass="6,6"] #row_1_cell_4 #cell_4,
[data-hoveredClass="6,6"] #row_1_cell_5 #cell_5,
[data-hoveredClass="6,6"] #row_1_cell_6 #cell_6,
[data-hoveredClass="6,6"] #row_2_cell_1 #cell_1,
[data-hoveredClass="6,6"] #row_2_cell_2 #cell_2,
[data-hoveredClass="6,6"] #row_2_cell_3 #cell_3,
[data-hoveredClass="6,6"] #row_2_cell_4 #cell_4,
[data-hoveredClass="6,6"] #row_2_cell_5 #cell_5,
[data-hoveredClass="6,6"] #row_2_cell_6 #cell_6,
[data-hoveredClass="6,6"] #row_3_cell_1 #cell_1,
[data-hoveredClass="6,6"] #row_3_cell_2 #cell_2,
[data-hoveredClass="6,6"] #row_3_cell_3 #cell_3,
[data-hoveredClass="6,6"] #row_3_cell_4 #cell_4,
[data-hoveredClass="6,6"] #row_3_cell_5 #cell_5,
[data-hoveredClass="6,6"] #row_3_cell_6 #cell_6,
[data-hoveredClass="6,6"] #row_4_cell_1 #cell_1,
[data-hoveredClass="6,6"] #row_4_cell_2 #cell_2,
[data-hoveredClass="6,6"] #row_4_cell_3 #cell_3,
[data-hoveredClass="6,6"] #row_4_cell_4 #cell_4,
[data-hoveredClass="6,6"] #row_4_cell_5 #cell_5,
[data-hoveredClass="6,6"] #row_4_cell_6 #cell_6,
[data-hoveredClass="6,6"] #row_5_cell_1 #cell_1,
[data-hoveredClass="6,6"] #row_5_cell_2 #cell_2,
[data-hoveredClass="6,6"] #row_5_cell_3 #cell_3,
[data-hoveredClass="6,6"] #row_5_cell_4 #cell_4,
[data-hoveredClass="6,6"] #row_5_cell_5 #cell_5,
[data-hoveredClass="6,6"] #row_5_cell_6 #cell_6,
[data-hoveredClass="6,6"] #row_6_cell_1 #cell_1,
[data-hoveredClass="6,6"] #row_6_cell_2 #cell_2,
[data-hoveredClass="6,6"] #row_6_cell_3 #cell_3,
[data-hoveredClass="6,6"] #row_6_cell_4 #cell_4,
[data-hoveredClass="6,6"] #row_6_cell_5 #cell_5,
[data-hoveredClass="6,6"] #row_6_cell_6 #cell_6 {
    background: #d5e4f9;
    border: 1px solid #c0cffd;
}
