<template>
    <vue-modal :title="$t('modal.user.tag.create.title')" :name="modal.names.user.tag.create" :width="$device.isDesktop ? 500 : '100%'">
        <form class="row" @submit.prevent="submit">
            <div class="col-12">
                <div class="form-group">
                    <label class="text-muted ml-2 mb-0 form-label">{{ $t('fields.title') }}</label>
                    <input
                        v-model="store.form.title"
                        type="text"
                        class="form-control"
                        :class="{'is-danger': store.errors.title !== undefined}"
                        :placeholder="$t('fields.first_name')"
                        name="title"
                    >
                    <FormError :error="store.errors.title" />
                </div>
            </div>
            <div class="col-12">
                <p>
                    Введённый вами хештег будет отправлен на модерацию и в случае одобрения автоматически появится в статье
                </p>
            </div>
            <div class="col-12 mt-3 d-flex justify-content-end align-items-center">
                <button type="button" class="btn btn-light mr-1" @click="modalActions().close()">
                    {{ $t('button.cancel') }}
                </button>
                <button
                    type="submit"
                    class="btn btn-primary"
                    :class="['btn btn-primary', store.pending ? 'is-loading' : '']"
                >
                    {{ $t('button.add') }}
                </button>
            </div>
        </form>
    </vue-modal>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import vueModal from '../../ModalBasic';

export default {
    name: 'ModalUserTagCreate',
    components: {
        'vue-modal': vueModal,
    },
    data() {
        return {
            title: null,
        };
    },
    computed: mapState({
        modal: state => state.modal,
        modalItem: state => state.modal.item,
        store: state => state.user.tags.store,
    }),
    watch: {
        'store.success'() {
            const self = this;
            if (self.store.success) {
                self.modalActions().close();
            }
        },
    },
    mounted() {
        //
    },
    methods: {
        ...mapActions('user/tags/store', ['fetchStore']),
        submit() {
            const self = this;
            self.fetchStore({
                title: self.title,
            });
        },
    }
};
</script>
