<template>
    <BSidebar
        id="sidebar-article-settings"
        :title="$t('modal.editor.settings.title')"
        shadow
        sidebar-class="pr--sidebar--editor"
        :visible="sidebar.active === sidebar.names.article_settings"
        :no-close-on-route-change="true"
        @hidden="hidden"
    >
        <template #header="{ hide }">
            <div :class="`d-flex align-items-center justify-content-between w-100 ${placement === 'left' ? 'flex-row-reverse' : ''}`">
                <PanelBaseHead
                    :hide="hide"
                    :title="store.fields !== null && store.fields.config.title !== undefined ? store.fields.config.title : 'Редактировать'"
                    :locale="store.fields !== null && store.fields.config.locale !== undefined ? store.fields.config.locale : null"
                    :placement="placement"
                />
                <PanelLanguagePicker
                    v-if="store.fields !== null && store.fields.config.translation"
                    :on-change="changeLocale"
                    :locale="store.locale"
                    :has-info="false"
                />
            </div>
        </template>
        <template #default="{ hide }">
            <div v-if="store.model !== null && store.fields !== null && store.fields.tabs !== undefined" class="col-12">
                <FormByFields
                    :model="store.model"
                    :pending="false"
                    :item="article"
                    :fields="store.fields.tabs.find(x => x.name === 'main').data"
                    :role="'editor'"
                />
                <div class="row">
                    <div class="col-12">
                        <div v-if="store.success" class="text-success mr-3">
                            <font-awesome-icon icon="check" class="mr-1" />
                            {{ $t('button.save-success') }}
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </BSidebar>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import commonForm from "../../../plugins/common/commonForm";
import FormByFields from "../../Form/FormByFields";
import {BSidebar} from "bootstrap-vue/src/components/sidebar";
import PanelBaseHead from "../../Panel/PanelBaseHead";
import PanelLanguagePicker from "../../Panel/PanelLanguagePicker";

export default {
    name: 'EditorSidebarSettings',
    components: {
        FormByFields,
        BSidebar,
        PanelBaseHead,
        PanelLanguagePicker,
    },
    props: {
        article: {
            type: [Object],
            default: () => null,
        },
    },
    data() {
        return {
            placement: 'left',
        };
    },
    computed: mapState({
        config: (state) => state.data.data.config,
        app: (state) => state.app,
        data: (state) => state.app.data.data.editor,
        store: (state) => state.app.editor.articles.store,
        form: (state) => state.app.editor.articles.store.form,
        errors: (state) => state.app.editor.articles.store.errors,
        sidebar: (state) => state.app.sidebar,
        blocks: (state) => state.app.editor.base.data.blocks,
    }),
    watch: {},
    mounted() {
        //
    },
    methods: {
        ...mapActions('app/editor/articles/show', ['fetchData']),
        ...mapActions('app/editor/articles/store', ['fetchSave', 'fetchFields', 'setLocale']),
        //...mapActions('data/tags', ['fetchTags']),
        hidden() {
            this.sidebarActions().close();
        },
        changeLocale() {
            const locale = this.store.locale === 'ru' ? 'en' : 'ru';
            this.setLocale(locale);
            this.fetchData({
                model: this.store.model,
                id: this.store.modelId,
                article_id: this.store.form.id,
                locale: locale,
            });
            this.fetchFields({
                model: this.store.model,
                article_id: this.store.form.id,
                locale: this.store.locale,
            });
            this.$router.push({
                query: {
                    locale: this.store.locale,
                }
            });
        }
    },
};
</script>
