<template>
    <span>
        <font-awesome-icon v-if="!active" :icon="['far', 'heart']" />
        <font-awesome-icon v-if="active" :icon="['fas', 'heart']" />
        {{ hasText ? (active ? 'В избранном' : 'В избранное') : '' }}
    </span>
</template>

<script>

import { mapState } from 'vuex';

export default {
    name: 'IconFavorite',
    components: {
    },
    props: {
        active: {
            item: Boolean,
            default: false
        },
        hasText: {
            item: Boolean,
            default: false
        },
    },
    data() {
        return {
        };
    },
    computed: mapState({

    }),
    watch: {},
    mounted() {
    },
    methods: {
    },
};
</script>

<style scoped lang="scss">

</style>
