<template>
    <v-body>
        <template #center>
            <div class="d-flex align-items-center justify-content-center" style="width: 100%; min-height: 600px;">
                <div class="bg-white mt-5 mb-5 p-3 p-sm-5 shadow-sm d-flex justify-content-center" style="width: 500px;">
                    <div class="d-flex align-items-center justify-content-center">
                        <Preloader />
                    </div>
                </div>
            </div>
        </template>
    </v-body>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import BodyMain from '../../../components/Old/Body/BodyMain';

export default {
    name: 'AuthVerifySuccess',
    components: {
        'v-body': BodyMain,
    },
    data() {
        return {};
    },
    computed: mapState({
        config: state => state.data.data.config,
        verification: state => state.verifications.show,
    }),
    watch: {},
    mounted() {
        const self = this;
        self.fetchSuccess({
            email: self.$route.query.email,
            token: self.$route.query.token,
        });
    },
    methods: {
        ...mapActions('_auth/verify/success', ['fetchSuccess']),
    },
};
</script>

<style scoped lang="scss">

</style>
