<template>
    <LayoutEditor :model="model">
        <template #center>
            <Editor v-if="loaded" :article="article.data" />
        </template>
    </LayoutEditor>
</template>

<script>
import LayoutEditor from "../../../components/Layout/LayoutEditor";
import Editor from "../../../components/Editor/Editor";
import {mapActions, mapState} from "vuex";
//import echoMixin from '../../../mixins/echo';
//import sidebarMixin from '../../../mixins/sidebar';

export default {
    name: 'Releases',
    components: {
        LayoutEditor,
        Editor,
    },
    //mixins: [echoMixin, sidebarMixin],
    data() {
        return {
            model: 'editor-articles'
        };
    },
    computed: mapState({
        loaded: (state) => state.app.editor.articles.show.loaded,
        article: (state) => state.app.editor.articles.show,
        store: (state) => state.app.editor.articles.store,
    }),
    mounted() {
        const self = this;
        self.setPdfDefault();
        self.setLoaded(false);
        self.setData(null);
        self.setFormDefault({});
        self.fetchData({
            model: self.model,
            id: self.$route.params.id,
            //article_id: self.$route.params.article_id,
            locale: self.$router.history.current.query.locale || 'ru',
        });
        this.setModel({
            model: this.model,
            id: this.$route.params.id,
        });
        this.fetchGetUid({
            id: this.$route.params.id,
            model: this.model,
            locale: this.$router.history.current.query.locale || 'ru',
        });
        this.fetchFields({
            model: this.model,
            article_id: this.$route.params.id,
            locale: this.$router.history.current.query.locale || 'ru',
        });
        // this.echoLockedRelease().connect({
        //     id: this.$route.params.id,
        // });
        // this.echo().connectRelease({
        //     id: this.$route.params.id,
        // });
        this.sidebarActions().closeAll();
        this.$i18n.locale = this.$router.history.current.query.locale || 'ru';
        //this.$root.modalActions().openEditorModalUnlockRelease();
    },
    methods: {
        ...mapActions('app/editor/base', ['setBlocks']),
        ...mapActions('app/editor/pdf', ['setPdfDefault']),
        ...mapActions('app/editor/articles/show', ['fetchData', 'setLoaded', 'setData']),
        ...mapActions('app/editor/articles/store', ['setModel', 'fetchGetUid', 'fetchFields', 'setFormDefault']),
        //
    },
};
</script>
