<template>
    <LayoutApp
        :model="model"
        :has-search="false"
        :has-create="false"
    >
        <template #buttons>
            <div v-if="!article.pending" class="mr-3">
                <div class="d-flex align-items-center justify-content-end">
                    <router-link
                        :to="`/${model}/${$route.params.id}/edit?locale=${locale}`"
                        type="button"
                        :class="['btn btn-primary nowrap']"
                    >
                        <font-awesome-icon icon="pencil-alt" />
                        Редактировать
                    </router-link>
                </div>
            </div>
        </template>
        <template #search />
        <template #center>
            <div class="row mt-3">
                <div class="col-12">
                    <div class="container">
                        <div class="row">
                            <div v-if="!article.pending" class="col-12 pr--article--details">
                                <div :class="`--text ${article.data.is_draft ? '__is-draft' : '__is-active'}`">
                                    <EditorPreview
                                        :article="article.data"
                                        :prepend="[
                                            { type: 'header-h1', id: 'header', data: { text: article.data.title } },
                                            { type: 'preview', id: 'preview', data: { text: article.data.preview_description } },
                                            { type: 'main-image', id: 'main-image', data: { file: { url: article.data.image }, stretched: true, withBackground: false, caption: '' } },
                                        ]"
                                        :blocks-initial="article.data.blocks"
                                        :is-preview="true"
                                        :check-focused="false"
                                    />
                                    <div v-if="article.data.is_draft" class="status-draft">
                                        <b>Черновик</b>
                                        <br>
                                        <small>Не будет отображаться в выпуске, для публикации у статьи должен быть Статус "Активно"</small>
                                    </div>
                                </div>
                            </div>
                            <div v-if="article.pending" class="col-12 pr--article--details text-center">
                                <BasePreloader />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </LayoutApp>
</template>

<script>
import LayoutApp from "../../../components/Layout/LayoutApp";
import {mapActions, mapState} from "vuex";
import EditorPreview from "../../../components/Editor/EditorPreview";
import BasePreloader from "../../../components/Base/BasePreloader";

export default {
    name: 'Releases',
    components: {
        LayoutApp,
        EditorPreview,
        BasePreloader,
    },
    data() {
        return {
            model: 'editor-articles',
            locale: 'ru',
        };
    },
    computed: mapState({
        article: (state) => state.app.editor.articles.show,
    }),
    mounted() {
        const self = this;
        self.locale = this.$router.history.current.query.locale || 'ru';
        self.fetchData({
            model: self.model,
            id: self.$route.params.id,
            locale: self.locale,
            //article_id: this.$route.params.article_id,
        });
        // self.$root.echo().connectReleaseWatch({
        //     id: self.$route.params.id,
        // });
        setTimeout(function () {
            //self.$root.echo().disconnect();
        }, 2000);
        this.$i18n.locale = self.locale;
    },
    methods: {
        ...mapActions('app/editor/articles/show', ['fetchData']),
        //
    },
};
</script>
