.image-tool-author {
    --bg-color: #cdd1e0;
    --front-color: #388ae5;
    --border-color: #e8e8eb;
    /** * Tunes * ---------------- */
}
.image-tool-author .image-tool-author__image {
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 10px;
}
.image-tool-author .image-tool-author__image .image-tool-author__image-picture {
    max-width: 100%;
    vertical-align: bottom;
    display: block;
}
.image-tool-author .image-tool-author__image .image-tool-author__image-preloader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    margin: auto;
    position: relative;
    background-color: var(--bg-color);
    background-position: center center;
}
.image-tool-author .image-tool-author__image .image-tool-author__image-preloader::after {
    content: "";
    position: absolute;
    z-index: 3;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid var(--bg-color);
    border-top-color: var(--front-color);
    left: 50%;
    top: 50%;
    margin-top: -30px;
    margin-left: -30px;
    animation: image-preloader-spin 2s infinite linear;
    box-sizing: border-box;
}
.image-tool-author .image-tool-author__caption .image-tool-author__caption[contentEditable="true"][data-placeholder]::before {
    position: absolute !important;
    content: attr(data-placeholder);
    color: #707684;
    font-weight: normal;
    display: none;
}
.image-tool-author .image-tool-author__caption .image-tool-author__caption[contentEditable="true"][data-placeholder]:empty::before {
    display: block;
}
.image-tool-author .image-tool-author__caption .image-tool-author__caption[contentEditable="true"][data-placeholder]:empty:focus::before {
    display: none;
}
.image-tool-author .image-tool-author--empty .image-tool-author--empty__image {
    display: none;
}
.image-tool-author .image-tool-author--empty .image-tool-author--empty__caption, .image-tool-author .image-tool-author--loading .image-tool-author--empty__caption {
    display: none;
}
.image-tool-author .image-tool-author--empty .image-tool-author--loading__caption, .image-tool-author .image-tool-author--loading .image-tool-author--loading__caption {
    display: none;
}
.image-tool-author .image-tool-author--filled .cdx-button {
    display: none;
}
.image-tool-author .image-tool-author--filled .image-tool-author--filled__image .image-tool-author--filled__image-preloader {
    display: none;
}
.image-tool-author .image-tool-author--loading .image-tool-author--loading__image {
    min-height: 200px;
    display: flex;
    border: 1px solid var(--border-color);
    background-color: #fff;
}
.image-tool-author .image-tool-author--loading .image-tool-author--loading__image .image-tool-author--loading__image-picture {
    display: none;
}
.image-tool-author .image-tool-author--loading .cdx-button {
    display: none;
}
.image-tool-author .image-tool-author--withBorder .image-tool-author--withBorder__image {
    border: 1px solid var(--border-color);
}
.image-tool-author .image-tool-author--withBackground .image-tool-author--withBackground__image {
    padding: 15px;
    background: var(--bg-color);
}
.image-tool-author .image-tool-author--withBackground .image-tool-author--withBackground__image .image-tool-author--withBackground__image-picture {
    max-width: 60%;
    margin: 0 auto;
}
.image-tool-author .image-tool-author--stretched .image-tool-author--stretched__image .image-tool-author--stretched__image-picture {
    width: 100%;
}
@keyframes image-preloader-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

