<template>
    <div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label :class="`text-muted ml-2 mb-0 form-label`">
                        Ваш комментарий
                    </label>
                    <b-form-textarea
                        v-model="comment"
                        :placeholder="`Комментарий`"
                        :rows="4"
                    />
                </div>
            </div>
            <div class="col-12">
                <button type="submit" :class="['btn btn-primary', false ? 'is-loading' : '']">
                    {{ $t('button.send') }}
                </button>
            </div>
            <div class="col-12">
                <div class="--comments">
                    <div v-for="comment in data" :key="`comment_${comment.id}`">
                        <CommentCard :comment="comment" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import FormPanelShowByFields from "../../../Form/FormPanelShowByFields";
import PanelShowTabImage from "./PanelShowTabImage";
import CommentCard from "../../../Base/Comment/Card/CommentCard";
import FormBaseLabel from "../../../Form/Base/FormBaseLabel";
import FormError from "../../../Base/Form/FormError";
import FormBaseHelp from "../../../Form/Base/FormBaseHelp";

export default {
    name: 'PanelShowTabComments',
    components: {
        FormError,
        FormBaseLabel,
        FormBaseHelp,
        FormPanelShowByFields,
        PanelShowTabImage,
        CommentCard,
    },
    props: {
        pending: {
            type: [Boolean],
            required: true,
            default: () => false,
        },
        model: {
            type: [String],
            required: true,
            default: () => '',
        },
        item: {
            type: [Object],
            required: true,
            default: () => {},
        },
        data: {
            type: [Array],
            required: true,
            default: () => [],
        },
    },
    data() {
        return {
            comment: '',
        };
    },
    mounted() {
        //
    },
    methods: {
        //
    }
};
</script>
