<template>
    <div>
        <div class="row mt-3 pr--image-row">
            <div v-for="(image, key) in item[tab.transform]" :key="key" :class="`pr--image-col col-${tab.config.single ? 12 : 3}`">
                <div class="--container">
                    <img v-if="image.src !== null" :src="image.src" alt="" width="100%" :class="`${tab.config.rounded ? 'rounded-circle' : ''}`">
                    <BaseImgNotFound v-if="image.src === null" />
                    <a
                        role="button"
                        :class="[
                            'btn btn-icon btn-sm --center-bottom',
                        ]"
                        :href="image.src"
                        data-fancybox="images"
                    >
                        <font-awesome-icon icon="eye" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import { mapActions, mapState } from 'vuex';
import { Fancybox } from '@fancyapps/ui';
import BaseImgNotFound from '../../../Base/Img/BaseImgNotFound';

export default {
    name: 'PanelShowTabImage',
    components: {
        BaseImgNotFound
    },
    props: {
        pending: {
            type: [Boolean],
            required: true,
            default: () => false,
        },
        model: {
            type: [String],
            required: true,
            default: () => '',
        },
        item: {
            type: [Object],
            required: true,
            default: () => {},
        },
        fields: {
            type: [Array],
            required: true,
            default: () => [],
        },
        tab: {
            type: [Object],
            required: true,
            default: () => {},
        },
    },
    data() {
        return {
            //
        };
    },
    computed: mapState({
        panel: state => state.app.panel.base,
    }),
    mounted() {
        Fancybox.bind('.pr--image-col .--center-bottom', {
            on: {
                ready: (fancybox) => {
                    //console.log(`fancybox #${fancybox.id} is ready!`);
                }
            }
        });
    },
    methods: {}
};
</script>

<style scoped>

</style>
