<template>
    <div>
        <div class="row">
            <div class="col-12">
                <table
                    :class="[
                        `table table-hover b-table-fixed table--by-fields table--${model}--editor_articles`,
                        pending ? 'table-pending' : '',
                    ]"
                >
                    <thead>
                        <tr>
                            <th class="is-id">
                                #
                            </th>
                            <th class="is-title">
                                Заголовок
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            v-for="(article, key) in item.editor_articles"
                            :key="article.id"
                        >
                            <td class="is-id">
                                {{ key + 1 }}
                            </td>
                            <td class="is-title">
                                RU: {{ article.translations.ru.name || '-' }}
                                <br>
                                EN: {{ article.translations.en.name || '-' }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>

import FormPanelShowByFields from "../../../Form/FormPanelShowByFields";
import PanelShowTabImage from "./PanelShowTabImage";

export default {
    name: 'PanelShowTabEditorArticles',
    components: {
        FormPanelShowByFields,
        PanelShowTabImage,
    },
    props: {
        pending: {
            type: [Boolean],
            required: true,
            default: () => false,
        },
        model: {
            type: [String],
            required: true,
            default: () => '',
        },
        item: {
            type: [Object],
            required: true,
            default: () => {},
        },
        fields: {
            type: [Array],
            required: true,
            default: () => [],
        },
    },
    data() {
        return {};
    },
    mounted() {
        //
    },
    methods: {
        //
    }
};
</script>

<style scoped>

</style>
