<template>
    <div>
        <div class="row">
            <div class="col-12">
<!--                <table-->
<!--                    :class="[-->
<!--                        `table table-hover table-sm b-table-fixed table&#45;&#45;by-fields`,-->
<!--                    ]"-->
<!--                >-->
<!--                    <thead>-->
<!--                    <tr>-->
<!--                        <th class="is-date">-->
<!--                            Время-->
<!--                        </th>-->
<!--                        <th class="is-title">-->
<!--                            Пользователь-->
<!--                        </th>-->
<!--                        <th class="is-action">-->
<!--                            Событие-->
<!--                        </th>-->
<!--                    </tr>-->
<!--                    </thead>-->
<!--                    <tbody>-->
<!--                    <tr v-for="(action, key) in data" :key="key">-->
<!--                        <td class="is-date">-->
<!--                            {{ $root.momentDate().latest(action.start_at) }}-->
<!--                        </td>-->
<!--                        <td class="is-title">-->
<!--                            <div :class="`d-flex`">-->
<!--                                <div>-->
<!--                                    <div :class="`avatar mr-3`">-->
<!--                                        <img class="img-avatar" :src="action.user.avatar.image" width="30">-->
<!--                                        <span v-if="action.user.avatar.is_online !== undefined" :class="`avatar-status badge-${action.user.avatar.is_online ? 'success' : 'danger'}`" />-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div style="white-space: nowrap;">-->
<!--                                    {{ action.user.avatar.full_name }}-->
<!--                                    <br>-->
<!--                                    <small>{{ action.user.avatar.email || '-' }}</small>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </td>-->
<!--                        <td class="is-action">-->
<!--                            <div :class="`alert alert-${action.variant} p-2`">-->
<!--                                {{ action.type }}-->
<!--                            </div>-->
<!--                        </td>-->
<!--                    </tr>-->
<!--                    </tbody>-->
<!--                </table>-->
            </div>
            <div class="col-12" v-for="(action, key) in data" :key="key">
                <div :class="`d-flex justify-content-between mb-3 alert alert-${action.variant} p-2 alert-sm rounded-0`">
                    <div class="d-flex align-items-center">
                        <div>
                            <div :class="`avatar mr-3`">
                                <img class="img-avatar" :src="action.user.avatar.image" width="30">
                                <span v-if="action.user.avatar.is_online !== undefined" :class="`avatar-status badge-${action.user.avatar.is_online ? 'success' : 'danger'}`" />
                            </div>
                        </div>
                        <div style="white-space: nowrap;">
                            {{ action.user.avatar.full_name }}
                            <br>
                            <small>{{ action.user.avatar.email || '-' }}</small>
                        </div>
                    </div>
                    <div class="text-right">
                        <small>{{ $root.momentDate().latest(action.start_at) }}</small>
                        <br>
                        <span>
                            {{ action.type }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import FormPanelShowByFields from "../../../Form/FormPanelShowByFields";
import PanelShowTabImage from "./PanelShowTabImage";

export default {
    name: 'PanelShowTabUserActions',
    components: {
        FormPanelShowByFields,
        PanelShowTabImage,
    },
    props: {
        pending: {
            type: [Boolean],
            required: true,
            default: () => false,
        },
        model: {
            type: [String],
            required: true,
            default: () => '',
        },
        item: {
            type: [Object],
            required: true,
            default: () => {},
        },
        data: {
            type: [Array],
            required: true,
            default: () => [],
        },
    },
    data() {
        return {};
    },
    mounted() {
        //
    },
    methods: {
        //
    }
};
</script>

<style scoped>

</style>
