<template>
    <div>
        <PanelShowTabImage
            v-if="tab.type === 'image'"
            :model="model"
            :pending="false"
            :item="item"
            :tab="tab"
            :fields="tab.data"
        />
        <PanelShowTabEditorArticles
            v-if="tab.type === 'editor_articles'"
            :model="model"
            :pending="false"
            :item="item"
            :fields="tab.data"
        />
        <PanelShowTabUserActions
            v-if="tab.type === 'user_actions'"
            :model="model"
            :pending="false"
            :item="item"
            :data="tab.data"
        />
        <PanelEditTabDebug
            v-if="tab.type === 'debug'"
            :model="model"
            :pending="false"
            :item="item"
            :fields="tab.data"
            :tab="tab"
        />
        <FormPanelShowByFields
            v-if="!types.includes(tab.type)"
            :model="model"
            :pending="false"
            :item="item"
            :fields="tab.data"
            :tab="tab"
        />
    </div>
</template>

<script>

import FormPanelShowByFields from '../../../Form/FormPanelShowByFields';
import PanelShowTabImage from './PanelShowTabImage';
import PanelShowTabEditorArticles from './PanelShowTabEditorArticles';
import PanelShowTabUserActions from './PanelShowTabUserActions';
import PanelEditTabDebug from './../../Edit/Tab/PanelEditTabDebug';

export default {
    name: 'PanelCreateTabDefault',
    components: {
        FormPanelShowByFields,
        PanelShowTabImage,
        PanelShowTabEditorArticles,
        PanelShowTabUserActions,
        PanelEditTabDebug,
    },
    props: {
        pending: {
            type: [Boolean],
            required: true,
            default: () => false,
        },
        model: {
            type: [String],
            required: true,
            default: () => '',
        },
        item: {
            type: [Object],
            default: () => null,
        },
        tab: {
            type: [Object],
            required: true,
            default: () => {},
        },
    },
    data() {
        return {
            types: [
                'image',
                'editor_articles',
                'user_actions',
                'debug',
            ]
        };
    },
    mounted() {
        //
    },
    methods: {
        //
    }
};
</script>
