<template>
    <b-dropdown
        id="dropdown-user-menu-basic"
        variant="icon"
        class="pr--dropdown--icon __md"
        no-caret
        toggle-tag="div"
        :dropleft="!$device.isDesktop"
    >
        <template #button-content>
            <button v-tippy class="btn btn-icon" type="button" :content="$t('tooltip.settings')">
                <font-awesome-icon icon="ellipsis-h" />
            </button>
        </template>
        <b-dropdown-item @click="report">
            {{ $t('button.report') }}
        </b-dropdown-item>
    </b-dropdown>
</template>

<script>

import { mapActions, mapState } from 'vuex';

export default {
    name: 'UserMenuBasic',
    components: {
    },
    props: {
        user: {
            type: [Object],
            default: () => {},
        },
    },
    data() {
        return {};
    },
    watch: {},
    mounted() {},
    methods: {
        ...mapActions('user/reports/toggle', ['fetchReportToggle']),
        report() {
            const self = this;
            if (!self.$auth.loggedIn) {
                self.message().needLoginForReports();
                return;
            }
            self.modalActions().openUserReportUser(self.user);
        }
    },
};
</script>
