<template>
    <BDropdown variant="link" toggle-class="btn--drop-person">
        <template #button-content>
            <img :src="$auth.user.image" alt="Avatar" class="d-inline-block align-top rounded-circle border" height="36" width="36">
        </template>
        <BDropdownText :tag="'div'" style="padding: 0;">
            <div v-if="$auth.user.last_name !== '' || $auth.user.first_name !== ''" class="h5 mb-0">
                {{ $auth.user.last_name }} {{ $auth.user.first_name }}
            </div>
            <div v-if="$auth.user.last_name === '' && $auth.user.first_name === ''" class="h5 mb-0 text-muted">
                -
            </div>
            <span v-if="$auth.user.email !== null" class="text-muted small">
                {{ $auth.user.email }}
            </span>
        </BDropdownText>
        <BDropdownItem @click="editPerson($auth.user)">
            {{ $t('button.edit-profile') }}
        </BDropdownItem>
        <BDropdownItem to="/dev/system">
            Системные настройки
        </BDropdownItem>
        <BDropdownItem @click="logout">
            {{ $t('button.logout') }}
        </BDropdownItem>
    </BDropdown>
</template>

<script>

import { mapActions, mapState } from 'vuex';
import {BDropdown, BDropdownText, BDropdownItem} from "bootstrap-vue/src/components/dropdown";

export default {
    name: 'ButtonHeadPersonal',
    components: {
        BDropdown,
        BDropdownText,
        BDropdownItem,
    },
    computed: mapState({
        //user: (store) => store.user.base.data,
        //watches: state => state.user.watches.array.data,
    }),
    mounted() {
        const self = this;
    },
    methods: {
        ...mapActions('app/panel/base', ['fetchEdit', 'setRole']),
        ...mapActions('_auth/logout/form', ['fetchLogoutSimple']),
        editPerson(user) {
            const self = this;
            self.$root.$emit('bv::toggle::collapse', 'panel-edit');
            self.setRole('edit');
            self.fetchEdit({
                id: user.id,
                model: 'users',
            });
        },
        logout() {
            this.fetchLogoutSimple();
        }
        //
    }
};
</script>
