<template>
    <button
        v-tippy
        type="button"
        class="btn btn-link btn-sm btn-icon text-dark--h-danger btn-comment-report"
        :content="$t('tooltip.report.add')"
        aria-label="Report"
        @click="report"
    >
        <font-awesome-icon :icon="'ban'" />
    </button>
</template>

<script>

import { mapActions, mapState } from 'vuex';

export default {
    name: 'ButtonCommentReport',
    components: {
    },
    props: {
        comment: {
            type: [Object],
            default: () => {},
        },
    },
    data() {
        return {
            //
        };
    },
    computed: mapState({
        //
    }),
    watch: {},
    mounted() {
    },
    methods: {
        report() {
            const self = this;
            if (!self.$auth.loggedIn) {
                self.message().needLoginForReports();
                return;
            }
            self.modalActions().openUserReportComment(self.comment);
        }
    }
};
</script>

<style scoped lang="scss">

</style>
