<template>
    <button
        v-tippy
        class="btn btn-icon"
        type="button"
        :content="$t('tooltip.search')"
        aria-label="Search"
        @click="modalActions().openSearch()"
    >
        <font-awesome-icon icon="search" />
    </button>
</template>

<script>

import { mapState } from 'vuex';

export default {
    name: 'ButtonHeadSearch',
    components: {},
    computed: mapState({
        //
    }),
};
</script>
