<template>
    <button
        v-tippy
        v-b-toggle.sidebar-settings
        type="button"
        :content="$t('tooltip.settings')"
        :class="[
            'btn btn-icon',
            0 !== 0 ? '__dot' : ''
        ]"
        aria-label="Settings"
    >
        <font-awesome-icon icon="cog" />
    </button>
</template>

<script>

import { mapState } from 'vuex';

export default {
    name: 'ButtonHeadSettings',
    components: {},
    computed: mapState({
        //counters: state => state.user.notifications.counters,
    }),
    mounted() {
        const self = this;
        // if (self.$auth.loggedIn && self.$auth.user.has_unread_notifications) {
        //     self.counters.notifications = 1;
        // }
    }
};
</script>
