<template>
    <b-button v-b-toggle.sidebar-mobile variant="light" class="pr--header__mobile-button mobile-menu-button text-dark __focus-none" aria-label="Sidebar">
        <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 200 200">
            <g stroke-width="6.5" stroke-linecap="round">
                <path
                    d="M72 82.286h28.75"
                    fill="#009100"
                    fill-rule="evenodd"
                    stroke="#343a40"
                />
                <path
                    d="M100.75 103.714l72.482-.143c.043 39.398-32.284 71.434-72.16 71.434-39.878 0-72.204-32.036-72.204-71.554"
                    fill="none"
                    stroke="#343a40"
                />
                <path
                    d="M72 125.143h28.75"
                    fill="#009100"
                    fill-rule="evenodd"
                    stroke="#343a40"
                />
                <path
                    d="M100.75 103.714l-71.908-.143c.026-39.638 32.352-71.674 72.23-71.674 39.876 0 72.203 32.036 72.203 71.554"
                    fill="none"
                    stroke="#343a40"
                />
                <path
                    d="M100.75 82.286h28.75"
                    fill="#009100"
                    fill-rule="evenodd"
                    stroke="#343a40"
                />
                <path
                    d="M100.75 125.143h28.75"
                    fill="#009100"
                    fill-rule="evenodd"
                    stroke="#343a40"
                />
            </g>
        </svg>
    </b-button>
</template>

<script>

import { mapState } from 'vuex';

export default {
    name: 'ButtonHeadSidebarMobile',
    components: {},
    computed: mapState({
        //
    }),
};
</script>
