<template>
    <div class="btn--menu-switcher--container">
        <button
            type="button"
            class="btn btn-light btn-icon btn-block btn--menu-switcher"
            @click="setSidebarToggle"
        >
            <font-awesome-icon :icon="`chevron-${arrow}`" />
        </button>
    </div>
</template>

<script>

import { mapActions } from 'vuex';

export default {
    name: 'ButtonMenuRightSwitcher',
    props: {
        arrow: {
            type: [String],
            default: () => 'right',
        }
    },
    methods: {
        ...mapActions('app/sidebar', ['setRight']),
        setSidebarToggle() {
            const self = this;
            if (self.arrow === 'left') {
                self.setRight(true);
                self.$root.cookieActions().setAppRightBar(true);
            } else {
                self.setRight(false);
                self.$root.cookieActions().setAppRightBar(false);
            }
        }
    },
};
</script>
