<template>
    <button
        v-tippy
        type="button"
        class="btn btn-link btn-sm btn-icon"
        :class="[
            [isLoading(pendingArray).article(item.id) ? 'is-loading' : ''],
            [isActive ? 'text-danger' : 'text-dark--h-danger']
        ]"
        :content="isActive ? $t('tooltip.favorites.remove') : $t('tooltip.favorites.add')"
        aria-label="Favorites"
        @click="toggle"
    >
        <IconFavorite :active="isActive" />
    </button>
</template>

<script>

import { mapActions, mapState } from 'vuex';
import IconFavorite from '../Icon/IconFavorite';

export default {
    name: 'ButtonFavorite',
    components: {
        IconFavorite,
    },
    props: {
        item: {
            type: [Object],
            default: () => {},
        },
        type: {
            type: [String],
            default: () => 'article',
        },
    },
    data() {
        return {
            //
        };
    },
    computed: mapState({
        favoritesArticles: state => state.user.favorites.array.data.articles,
        pendingArray: state => state.user.favorites.toggle.pendingArray,
        isActive() {
            return this.favoritesArticles.includes(this.item.id);
        },
    }),
    watch: {},
    mounted() {
    },
    methods: {
        ...mapActions('user/favorites/toggle', ['fetchToggle']),
        toggle() {
            if (!this.$auth.loggedIn) {
                this.message().needLoginForFavorites();
                return;
            }
            this.fetchToggle({
                type: this.type,
                id: this.item.id,
            });
        }
    }
};
</script>

<style scoped lang="scss">

</style>
