<template>
    <button
        v-tippy
        type="button"
        :class="[
            'btn btn--views',
            disabled ? 'disabled' : '',
        ]"
        aria-label="Views"
        :content="$t('tooltip.views')"
    >
        <font-awesome-icon :icon="'eye'" class="mr-1" />
        {{ value }}
    </button>
</template>

<script>

export default {
    name: 'ButtonViews',
    props: {
        value: {
            type: [Number],
            default: () => 0,
        },
        title: {
            type: [String],
            default: () => null,
        },
        disabled: {
            type: [Boolean],
            default: () => false,
        }
    }
};
</script>
