<template>
    <b-dropdown
        id="dropdown-head-messages"
        ref="dropdown_head_messages"
        variant="icon"
        class="pr--dropdown--icon __header"
        no-caret
        toggle-tag="div"
        @show="show"
    >
        <template #button-content>
            <button
                v-tippy
                type="button"
                :content="$t('tooltip.messages')"
                :class="[
                    'btn btn-icon',
                    counters.chats !== 0 ? '__dot' : ''
                ]"
                aria-label="Messages"
            >
                <font-awesome-icon :icon="['far', 'comments']" />
            </button>
        </template>
        <template #default>
            <div class="pr--dropdown--head pr--dropdown--messages">
                <div class="--d-head">
                    <h6>{{ $t('basic.messages') }}</h6>
                    <button
                        type="button"
                        class="close"
                        aria-label="Close"
                        @click="close()"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div v-if="!$auth.loggedIn" class="--content __empty">
                    <div class="text-center mt-4 mb-3">
                        <h6>Пока нет диалогов</h6>
                        <p>Начать общение можно с помощью кнопки «Написать» в профиле пользователя</p>
                    </div>
                </div>
                <div v-if="$auth.loggedIn && chats.pending" class="--content" style="width: 400px;">
                    <div class="pr--chat--list-items font-sm">
                        <div class="--item">
                            <SkeletonChatListUser />
                        </div>
                    </div>
                </div>
                <div v-if="$auth.loggedIn && !chats.pending" class="--content" style="width: 400px;">
                    <div class="pr--chat--list-items font-sm">
                        <nuxt-link
                            v-for="chat in chats.data"
                            :key="chat.id"
                            :to="i18nRoute().userChat(chat)"
                            class="--item"
                            aria-current="true"
                        >
                            <ChatListUser :chat="chat" />
                        </nuxt-link>
                    </div>
                    <nuxt-link :to="i18nRoute().userChats()" class="btn btn-block btn-link __focus-none">
                        {{ $t('button.go-to-chats') }}
                    </nuxt-link>
                </div>
            </div>
        </template>
    </b-dropdown>
</template>

<script>

import { mapActions, mapState } from 'vuex';
import ChatListUser from '../../Old/Chat/ChatListUser';
import SkeletonChatListUser from '../../Old/Skeleton/Chat/SkeletonChatListUser';

export default {
    name: 'ButtonHeadMessages',
    components: {
        ChatListUser,
        SkeletonChatListUser,
    },
    computed: mapState({
        chats: state => state.user.chats,
        search: state => state.search,
        counters: state => state.user.notifications.counters,
    }),
    mounted() {
        const self = this;
        if (self.$auth.loggedIn && self.$auth.user.has_unread_messages) {
            self.counters.chats = 1;
        }
    },
    methods: {
        ...mapActions('user/chats', ['fetchChats']),
        ...mapActions('user/notifications/counters', ['clearChatsCounters']),
        show() {
            const self = this;
            if (self.$auth.loggedIn) {
                self.clearChatsCounters();
                self.fetchChats({});
            }
        },
        close() {
            const self = this;
            self.$refs.dropdown_head_messages.hide();
        }
    }
};
</script>
