<template>
    <button
        v-tippy
        type="button"
        class="btn btn-link btn-sm btn-icon text-warning"
        :content="$t('tooltip.waiting-for-publish')"
        aria-label="Waiting For Publish"
    >
        {{ simple ? '' : 'Идет проверка' }}
        <font-awesome-icon :icon="'clock'" :class="`${simple ? '' : 'ml-1'}`" />
    </button>
</template>

<script>

import { mapState } from 'vuex';

export default {
    name: 'ButtonArticleWaitingForPublish',
    components: {
    },
    props: {
        item: {
            type: [Object],
            default: () => {},
        },
        simple: {
            type: [Boolean],
            default: () => false,
        }
    },
    data() {
        return {
        };
    },
    computed: mapState({

    }),
    watch: {},
    mounted() {
    },
    methods: {
    },
};
</script>
