<template>
    <button
        v-tippy
        type="button"
        class="btn btn-link btn-sm btn-icon text-secondary"
        :content="$t('tooltip.draft')"
        aria-label="Draft"
    >
        <font-awesome-icon :icon="'eye-slash'" />
    </button>
</template>

<script>

import { mapState } from 'vuex';

export default {
    name: 'ButtonArticleDraft',
    components: {
    },
    props: {
        item: {
            type: [Object],
            default: () => {},
        },
    },
    data() {
        return {
        };
    },
    computed: mapState({

    }),
    watch: {},
    mounted() {
    },
    methods: {
    },
};
</script>

<style scoped lang="scss">

</style>
