<template>
    <div>
        <button
            v-if="group.main_article_id === article.id"
            v-tippy
            type="button"
            class="btn btn-link btn-sm btn-icon text-success"
            aria-label="Magnet"
            :content="'Статья закреплена первой на странице сообщества'"
        >
            <font-awesome-icon :icon="'magnet'" />
        </button>
        <button
            type="button"
            :class="[
                'btn btn-light btn-sm btn-icon ml-2',
                isLoading(magnet.pendingArray).article(article.id) ? 'is-loading' : '',
            ]"
            aria-label="Magnet"
            @click="actionMagnet"
        >
            {{ group.main_article_id !== article.id ? 'Закрепить' : 'Открепить' }}
        </button>
    </div>
</template>

<script>

import { mapActions, mapState } from 'vuex';

export default {
    name: 'ButtonArticleGroupMagnet',
    components: {
    },
    props: {
        article: {
            type: [Object],
            default: () => {},
        },
        group: {
            type: [Object],
            default: () => {},
        }
    },
    data() {
        return {
        };
    },
    computed: mapState({
        magnet: state => state.user.groups.articles.magnet,
    }),
    watch: {},
    mounted() {

    },
    methods: {
        ...mapActions('user/groups/articles/magnet', ['fetchMagnet']),
        actionMagnet() {
            this.fetchMagnet({
                id: this.group.id,
                article_id: this.article.id,
            });
        }
    },
};
</script>
