<template>
    <b-dropdown
        id="dropdown-article-share"
        variant="icon"
        class="pr--dropdown--icon __md __share"
        no-caret
        toggle-tag="div"
        :dropleft="!$device.isDesktop"
    >
        <template #button-content>
            <button
                v-tippy
                type="button"
                :content="$t('tooltip.share')"
                :class="[
                    'btn btn-icon btn--share',
                ]"
                aria-label="Share"
            >
                <font-awesome-icon :icon="'share-alt'" />
            </button>
        </template>
        <!--        <b-dropdown-item :to="i18nRoute().personalSettingsAccount()">-->
        <!--            Копировать ссылку-->
        <!--        </b-dropdown-item>-->
        <b-dropdown-text tag="ul">
            <li>
                <ShareNetwork
                    network="facebook"
                    :url="i18nRoute().articleUrl(article)"
                    :title="article.title"
                    class="btn btn-block text-facebook-icon"
                >
                    <font-awesome-icon :icon="['fab', 'facebook-f']" />
                    <span>{{ $t('button.share-facebook') }}</span>
                </ShareNetwork>
            </li>
            <li>
                <ShareNetwork
                    network="twitter"
                    :url="i18nRoute().articleUrl(article)"
                    :title="article.title"
                    class="btn btn-block text-twitter-icon"
                >
                    <font-awesome-icon :icon="['fab', 'twitter']" />
                    <span>{{ $t('button.share-twitter') }}</span>
                </ShareNetwork>
            </li>
            <li>
                <ShareNetwork
                    network="vk"
                    :url="i18nRoute().articleUrl(article)"
                    :title="article.title"
                    class="btn btn-block text-vk-icon"
                >
                    <font-awesome-icon :icon="['fab', 'vk']" />
                    <span>{{ $t('button.share-vk') }}</span>
                </ShareNetwork>
            </li>
            <li>
                <ShareNetwork
                    network="whatsapp"
                    :url="i18nRoute().articleUrl(article)"
                    :title="article.title"
                    class="btn btn-block text-whatsapp-icon"
                >
                    <font-awesome-icon :icon="['fab', 'whatsapp']" />
                    <span>{{ $t('button.share-whatsapp') }}</span>
                </ShareNetwork>
            </li>
            <li>
                <ShareNetwork
                    network="telegram"
                    :url="i18nRoute().articleUrl(article)"
                    :title="article.title"
                    class="btn btn-block text-telegram-icon"
                >
                    <font-awesome-icon :icon="['fab', 'telegram-plane']" />
                    <span>{{ $t('button.share-telegram') }}</span>
                </ShareNetwork>
            </li>
        </b-dropdown-text>
    </b-dropdown>
</template>

<script>

export default {
    name: 'ButtonArticleShare',
    components: {
        //
    },
    props: {
        article: {
            type: [Object],
            default: () => null,
        }
    }
};
</script>
