<template>
    <button v-tippy type="button" class="btn btn--comments" :content="$t('tooltip.comments')" aria-label="Comments">
        <font-awesome-icon :icon="['far', 'comment']" class="mr-1" />
        {{ value }}
    </button>
</template>

<script>

export default {
    name: 'ButtonComments',
    props: {
        title: {
            type: [String],
            default: () => null,
        },
        value: {
            type: [Number],
            default: () => 0,
        },
    }
};
</script>
