<template>
    <div
        :class="[
            'pr--rating d-flex align-items-center',
        ]"
    >
        <button
            v-tippy
            type="button"
            :class="[
                'btn btn-icon __hover-success',
                hasInUp ? 'text-success' : 'text-dark',
                isLoading(pendingArray).vote(item.id, type,'up') ? 'is-loading' : '',
            ]"
            :content="hasInUp ? $t('tooltip.thumbs-cancel') : $t('tooltip.thumbs-up')"
            :disabled="disabled"
            aria-label="Rating Up"
            @click="up()"
        >
            <font-awesome-icon :icon="['far', 'thumbs-up']" />
        </button>
        <div v-if="resultValue !== null" :class="`pr--rating__value text-${stateClassResult}`">
            {{ resultValue !== 0 ? (resultValue > 0 ? `+${resultValue}` : `${resultValue}`) : 0 }}
        </div>
        <div v-if="resultValue === null" :class="`pr--rating__value text-${stateClass}`">
            {{ value !== 0 ? (value > 0 ? `+${value}` : `${value}`) : 0 }}
        </div>
        <button
            v-tippy
            type="button"
            :class="[
                'btn btn-icon __hover-danger',
                hasInDown ? 'text-danger' : 'text-dark',
                isLoading(pendingArray).vote(item.id, type,'down') ? 'is-loading' : '',
            ]"
            :content="hasInDown ? $t('tooltip.thumbs-cancel') : $t('tooltip.thumbs-down')"
            aria-label="Rating Down"
            :disabled="disabled"
            @click="down()"
        >
            <font-awesome-icon :icon="['far', 'thumbs-down']" />
        </button>
    </div>
</template>

<script>

import { mapActions, mapState } from 'vuex';

export default {
    name: 'ButtonRating',
    props: {
        title: {
            type: [String],
            default: () => null,
        },
        value: {
            type: [Number],
            default: () => 0,
        },
        item: {
            type: [Object],
            default: () => {},
        },
        type: {
            type: [String],
            default: () => 'article',
        },
    },
    data() {
        return {
            resultValue: null,
        };
    },
    computed: mapState({
        pendingArray: state => state.user.votes.toggle.pendingArray,
        votesComments: state => state.user.votes.array.data.comments,
        article: state => state.article.counters,
        comment: state => state.comment.counters,
        // eslint-disable-next-line vue/return-in-computed-property
        'stateClassResult'() {
            const self = this;
            if (self.resultValue === 0) {
                return 'default';
            }
            if (self.resultValue > 0) {
                return 'success';
            }
            return 'danger';
        },
        'stateClass'() {
            const self = this;
            if (self.value === 0) {
                return 'default';
            }
            if (self.value > 0) {
                return 'success';
            }
            return 'danger';
        },
        hasInDown() {
            switch (this.type) {
            case 'article':
                return this.votesArticles.down.includes(this.item.id);
            case 'comment':
                return this.votesComments.down.includes(this.item.id);
            default:
                return false;
            }
        },
        hasInUp() {
            switch (this.type) {
            case 'article':
                return this.votesArticles.up.includes(this.item.id);
            case 'comment':
                return this.votesComments.up.includes(this.item.id);
            default:
                return false;
            }
        },
        disabled() {
            if (this.$auth.loggedIn) {
                if (this.type === 'article' && this.item.creator.id === this.$auth.user.id) {
                    return true;
                }
                if (this.type === 'comment' && this.item.user.id === this.$auth.user.id) {
                    return true;
                }
            }
            return false;
        }
    }),
    watch: {
        'comment.data'() {
            //console.log(this.comment.data);
            if (this.comment.data.id !== undefined && this.comment.data.id === this.item.id) {
                this.resultValue = this.comment.data.votes;
            }
        }
    },
    mounted() {
        const self = this;
        self.resultValue = self.value;
    },
    methods: {
        ...mapActions('user/votes/toggle', ['fetchToggle']),
        up() {
            this.set(1);
        },
        down() {
            this.set(-1);
        },
        set(value) {
            if (!this.$auth.loggedIn) {
                if (this.type === 'article') {
                    this.message().needLoginForRateArticle();
                }
                if (this.type === 'comment') {
                    this.message().needLoginForRateComment();
                }
                return;
            }
            this.fetchToggle({
                type: this.type,
                id: this.item.id,
                value,
            });
        }
    }
};
</script>
