<template>
    <button v-tippy type="button" class="btn btn--views" :content="$t('tooltip.subscribers')" aria-label="Subscribers">
        <font-awesome-icon :icon="'user-plus'" class="mr-1" />
        {{ value }}
    </button>
</template>

<script>

export default {
    name: 'ButtonSubscribers',
    props: {
        value: {
            type: [Number],
            default: () => 0,
        },
        title: {
            type: [String],
            default: () => null,
        }
    }
};
</script>
