<template>
    <button
        role="button"
        v-tippy
        type="button"
        class="btn btn-link btn-sm btn-icon text-warning"
        :content="$t('tooltip.article-private')"
        aria-label="Private Article"
    >
        <font-awesome-icon :icon="'lock'" />
    </button>
</template>

<script>

import { mapState } from 'vuex';

export default {
    name: 'ButtonPrivateArticle',
    components: {
    },
    props: {
        item: {
            item: [Object],
            default: () => {},
        },
    },
    data() {
        return {
        };
    },
    computed: mapState({

    }),
    watch: {},
    mounted() {
    },
    methods: {
    },
};
</script>

<style scoped lang="scss">

</style>
