<template>
    <nuxt-link
        v-tippy
        :to="i18nRoute().userGroupsEdit(item)"
        type="button"
        class="btn btn-link btn-sm btn-icon text-dark __hover-primary"
        :content="$t('tooltip.edit')"
    >
        <font-awesome-icon :icon="'pencil-alt'" />
    </nuxt-link>
</template>

<script>

import { mapState } from 'vuex';

export default {
    name: 'ButtonEditGroup',
    components: {
    },
    props: {
        item: {
            item: [Object],
            default: {}
        },
    },
    data() {
        return {
        };
    },
    computed: mapState({

    }),
    watch: {},
    mounted() {
    },
    methods: {
    },
};
</script>

<style scoped lang="scss">

</style>
