<template>
    <button
        v-tippy
        type="button"
        class="btn btn-link btn-sm btn-icon text-dark __hover-primary"
        :content="`Закрепить статью`"
    >
        <font-awesome-icon :icon="'magnet'" />
    </button>
</template>

<script>

import { mapState } from 'vuex';

export default {
    name: 'ButtonGroupAnchor',
    components: {
    },
    props: {
        item: {
            item: [Object],
            default: {}
        },
    },
    data() {
        return {
        };
    },
    computed: mapState({

    }),
    watch: {},
    mounted() {
    },
    methods: {
    },
};
</script>
