<template>
    <button
        type="button"
        class="btn __focus-none"
        :class="[
            [subscriptionIsLoading ? 'is-loading' : ''],
            [subscriptionIsActive ? 'btn-success' : 'btn-primary'],
            [sm ? 'btn-sm' : '']
        ]"
        aria-label="Subscription"
        @click="subscribe"
    >
        <font-awesome-icon :icon="subscriptionIsActive ? 'check' : 'user-plus'" class="mr-1" />
        {{ subscriptionIsActive ? $t('button.subscribe-remove') : $t('button.subscribe-add') }}
    </button>
</template>

<script>

import { mapActions, mapState } from 'vuex';

export default {
    name: 'ButtonSubscription',
    components: {
    },
    props: {
        item: {
            type: [Object],
            default: () => {},
        },
        type: {
            type: [String],
            default: () => 'group',
        },
        sm: {
            type: [Boolean],
            default: () => false,
        }
    },
    data() {
        return {
            //
        };
    },
    computed: mapState({
        subscriptions: state => state.user.subscriptions.array.data,
        subscriptionsPendingArray: state => state.user.subscriptions.toggle.pendingArray,
        subscriptionIsActive() {
            if (this.type === 'group') {
                return this.subscriptions.groups.includes(this.item.id);
            }
            if (this.type === 'category') {
                return this.subscriptions.categories.includes(this.item.id);
            }
            if (this.type === 'user') {
                return this.subscriptions.users.includes(this.item.id);
            }
            return false;
        },
        subscriptionIsLoading() {
            if (this.type === 'group') {
                return this.isLoading(this.subscriptionsPendingArray).group(this.item.id);
            }
            if (this.type === 'category') {
                return this.isLoading(this.subscriptionsPendingArray).category(this.item.id);
            }
            if (this.type === 'user') {
                return this.isLoading(this.subscriptionsPendingArray).user(this.item.id);
            }
            return false;
        }
    }),
    watch: {},
    mounted() {
    },
    methods: {
        ...mapActions('user/subscriptions/toggle', ['fetchToggle']),
        subscribe() {
            const self = this;
            if (!self.$auth.loggedIn) {
                self.message().needLoginForSubscription();
                return;
            }
            self.fetchToggle({
                type: self.type,
                id: self.item.id,
            });
        }
    }
};
</script>

<style scoped lang="scss">

</style>
