<template>
    <div>
        <div class="pr--file-editor-upload">
            <button type="button" :class="`btn btn-block btn-light ${pending ? 'is-loading' : ''}`" @click="click">
                <svg
                    v-if="file === null"
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="film"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                    class="svg-inline--fa fa-film fa-w-16 fa-3x"
                ><path fill="currentColor" d="M488 64h-8v20c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12V64H96v20c0 6.6-5.4 12-12 12H44c-6.6 0-12-5.4-12-12V64h-8C10.7 64 0 74.7 0 88v336c0 13.3 10.7 24 24 24h8v-20c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v20h320v-20c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v20h8c13.3 0 24-10.7 24-24V88c0-13.3-10.7-24-24-24zM96 372c0 6.6-5.4 12-12 12H44c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40zm0-96c0 6.6-5.4 12-12 12H44c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40zm0-96c0 6.6-5.4 12-12 12H44c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40zm272 208c0 6.6-5.4 12-12 12H156c-6.6 0-12-5.4-12-12v-96c0-6.6 5.4-12 12-12h200c6.6 0 12 5.4 12 12v96zm0-168c0 6.6-5.4 12-12 12H156c-6.6 0-12-5.4-12-12v-96c0-6.6 5.4-12 12-12h200c6.6 0 12 5.4 12 12v96zm112 152c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40zm0-96c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40zm0-96c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40z" class="" /></svg>
                {{ file !== null ? `Выбран файл: ${file.name}. Нажмите, чтобы изменить.` : 'Выберите файл' }}
            </button>
            <b-form-file
                ref="uploadButton"
                v-model="file"
                accept="video/*"
                :file-name-formatter="fileNameTransformer"
                @change="loadImage($event)"
            />
        </div>
    </div>
</template>

<script>

export default {
    name: 'ButtonFileEditorUpload',
    props: {
        onUpload: {
            type: [Function],
            default: () => {},
        },
        pending: {
            type: [Boolean],
            default: () => false,
        },
    },
    data() {
        return {
            file: null,
        };
    },
    mounted() {
        const self = this;
        self.file = null;
        self.onShow();
    },
    methods: {
        click() {
            const self = this;
            self.$refs.uploadButton.$refs.input.click();
        },
        fileNameTransformer(files) {
            return `Выбран файл: ${files[0].name}. Нажмите, чтобы изменить.`;
        },
        loadImage(event) {
            const self = this;
            const { files } = event.target;
            if (files && files[0]) {
                const reader = new FileReader();
                reader.readAsDataURL(event.target.files[0]);
                const form = new FormData();
                reader.onload = (file) => {
                    // if (self.image.src) {
                    //     URL.revokeObjectURL(self.image.src);
                    // }
                    self.file = files[0];
                    console.log(file);
                    console.log(self.file);
                    console.log(reader.result);
                    //const blob = URL.createObjectURL(files[0]);
                    form.append('file', files[0]);
                    //form.append('file', reader.result);
                    self.onUpload(form);
                    //console.log(files[0]);
                    console.log(form);
                };
            }
        },
        onShow() {
            const self = this;
            setTimeout(function () {
                //self.$refs.uploadButton.$refs.input.click();
            }, 300);
        },
    }
};
</script>
