<template>
    <button
        v-tippy
        v-b-toggle.sidebar-notifications
        type="button"
        :content="$t('tooltip.notifications')"
        :class="[
            'btn btn-icon',
            counters.notifications !== 0 ? '__dot' : ''
        ]"
        aria-label="Notifications"
    >
        <font-awesome-icon icon="bell" />
    </button>
</template>

<script>

import { mapState } from 'vuex';

export default {
    name: 'ButtonHeadNotifications',
    components: {},
    computed: mapState({
        counters: (state) => state.user.notifications.counters,
    }),
    mounted() {
        const self = this;
        if (self.$auth.loggedIn && self.$auth.user.has_unread_notifications) {
            self.counters.notifications = 1;
        }
    }
};
</script>
