<template>
    <button type="button" class="btn btn-primary btn-sm-block __focus-none" aria-label="Login" @click="modalActions().openLogin()">
        {{ title !== null ? title : $t('button.login') }}
    </button>
</template>

<script>

export default {
    name: 'ButtonLoginModal',
    props: {
        title: {
            type: [String],
            default: () => null,
        }
    }
};
</script>
