<template>
    <div v-if="value" class="d-none d-md-flex align-items-center mr-1">
        <span class="badge badge-visited">Просмотрено</span>
    </div>
</template>

<script>

export default {
    name: 'ButtonArticleVisited',
    props: {
        value: {
            type: [Boolean],
            default: () => false,
        },
    }
};
</script>
