<template>
    <nuxt-link
        v-if="(article.is_editable !== undefined && article.is_editable) || ($auth.loggedIn && $auth.user.is_admin !== undefined && $auth.user.is_admin)"
        v-tippy
        :to="i18nRoute().userArticlesEdit(article)"
        type="button"
        class="btn btn-link btn-sm btn-icon text-dark __hover-primary"
        :content="$t('tooltip.edit')"
    >
        <font-awesome-icon :icon="'pencil-alt'" />
    </nuxt-link>
</template>

<script>

import { mapState } from 'vuex';

export default {
    name: 'ButtonEditArticle',
    components: {
    },
    props: {
        article: {
            type: [Object],
            default: () => {},
        },
    },
    data() {
        return {
        };
    },
    computed: mapState({

    }),
    watch: {},
    mounted() {
    },
    methods: {
    },
};
</script>

<style scoped lang="scss">

</style>
