<template>
    <form class="row" @submit.prevent="submit">
        <div class="col-12">
            <div class="form-group">
                <label class="text-muted ml-2 mb-0 form-label">{{ $t('fields.career_work') }} <i class="r">*</i></label>
                <input
                    v-model="details.work"
                    type="text"
                    class="form-control"
                    :class="{'is-danger': account.errors.details !== undefined}"
                    :placeholder="$t('fields.career_work')"
                >
                <FormError :error="account.errors.details" />
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label class="text-muted ml-2 mb-0 form-label">{{ $t('fields.career_position') }} <i class="r">*</i></label>
                <input
                    v-model="details.position"
                    type="text"
                    class="form-control"
                    :class="{'is-danger': account.errors.details !== undefined}"
                    :placeholder="$t('fields.career_position')"
                >
                <FormError :error="account.errors.details" />
            </div>
        </div>
        <div class="col-12 d-flex justify-content-end align-items-center">
            <div v-if="account.success" class="text-success mr-3">
                <font-awesome-icon icon="check" class="mr-1" />
                Данные успешно изменены
            </div>
            <button type="submit" :class="['btn btn-primary', account.pending ? 'is-loading' : '']">
                {{ $t('button.save') }}
            </button>
        </div>

        <!--        <div class="col-12 text-right">-->
        <!--            <button type="button" class="btn btn-default" @click="cancel()">-->
        <!--                Cancel-->
        <!--            </button>-->
        <!--            <button type="submit" class="btn btn-primary" :class="['btn btn-primary', login.pending ? 'is-loading' : '']">-->
        <!--                Log in-->
        <!--            </button>-->
        <!--        </div>-->

        <!--            <div class="col-12">-->
        <!--                <div class="text-center">-->
        <!--                    Don't have an account? <a role="button" class="btn-link"><b>Sign Up</b></a>-->
        <!--                </div>-->
        <!--            </div>-->
    </form>
</template>

<script>
import { mapState, mapActions } from 'vuex';

export default {
    name: 'PersonalAccountFormCareer',
    components: {
    },
    props: {
        update: {
            type: [Boolean],
            default: false,
        }
    },
    data() {
        return {
            details: {
                position: null,
                work: null,
            },
        };
    },
    computed: mapState({
        account: state => state.personal.account.form,
    }),
    watch: {
        'account.closeModal'() {
            const self = this;
            if (self.account.closeModal) {
                self.modalActions().close();
            }
        }
    },
    mounted() {
        const self = this;
        self.details.position = self.$auth.user.details.position || '';
        self.details.work = self.$auth.user.details.work || '';
    },
    methods: {
        ...mapActions('personal/account/form', ['fetchAccount', 'fetchAccountAndUpdate']),
        submit() {
            const self = this;
            const data = {
                details: {
                    work: self.details.work,
                    position: self.details.position,
                },
            };
            if (self.update) {
                self.fetchAccountAndUpdate(data);
            } else {
                self.fetchAccount(data);
            }
        }
    }
};
</script>

<style scoped>

</style>
