<template>
    <form class="row">
        <div
            v-for="social_account in $auth.user.social_accounts"
            :key="social_account.name"
            class="col-12"
        >
            <div v-if="social_account.name === 'google' && googleEnabled" class="d-flex align-items-center justify-content-between mb-1">
                <!-- Google -->
                <div class="d-flex align-items-center justify-content-start">
                    <div class="text-white bg-google rounded-sm mr-2" style="width: 24px;text-align: center;">
                        <font-awesome-icon :icon="['fab', 'google']" />
                    </div>
                    <div>
                        {{ social_account.title }}
                    </div>
                </div>
                <div>
                    <button v-if="!social_account.connected" type="button" :class="`btn btn-link text-primary __focus-none ${google.pending ? 'is-loading' : ''}`" @click="loginGoogle">
                        {{ $t('button.bind') }}
                    </button>
                    <button
                        v-if="social_account.connected"
                        type="button"
                        :class="`btn btn-link text-danger __focus-none ${isLoading(destroy.pendingArray).provider(social_account.name) ? 'is-loading' : ''}`"
                        :disabled="!social_account.can_disconnect"
                        @click="unbind(social_account.name)"
                    >
                        {{ $t('button.unbind') }}
                    </button>
                </div>
            </div>
            <div v-if="social_account.name === 'facebook' && facebookEnabled" class="d-flex align-items-center justify-content-between mb-1">
                <!-- Facebook -->
                <div class="d-flex align-items-center justify-content-start">
                    <div class="text-white bg-facebook rounded-sm mr-2" style="width: 24px;text-align: center;">
                        <font-awesome-icon :icon="['fab', 'facebook-f']" />
                    </div>
                    <div>
                        {{ social_account.title }}
                    </div>
                </div>
                <div>
                    <button v-if="!social_account.connected" type="button" :class="`btn btn-link text-primary __focus-none ${facebook.pending ? 'is-loading' : ''}`" @click="loginFacebook">
                        {{ $t('button.bind') }}
                    </button>
                    <button
                        v-if="social_account.connected"
                        type="button"
                        :class="`btn btn-link text-danger __focus-none ${isLoading(destroy.pendingArray).provider(social_account.name) ? 'is-loading' : ''}`"
                        :disabled="!social_account.can_disconnect"
                        @click="unbind(social_account.name)"
                    >
                        {{ $t('button.unbind') }}
                    </button>
                </div>
            </div>
            <div v-if="social_account.name === 'vkontakte' && vkontakteEnabled" class="d-flex align-items-center justify-content-between mb-1">
                <!-- Vk -->
                <div class="d-flex align-items-center justify-content-start">
                    <div class="text-white bg-vk rounded-sm mr-2" style="width: 24px;text-align: center;">
                        <font-awesome-icon :icon="['fab', 'vk']" />
                    </div>
                    <div>
                        {{ social_account.title }}
                    </div>
                </div>
                <div>
                    <button v-if="!social_account.connected" type="button" :class="`btn btn-link text-primary __focus-none ${vk.pending ? 'is-loading' : ''}`" @click="loginVk">
                        {{ $t('button.bind') }}
                    </button>
                    <button
                        v-if="social_account.connected"
                        type="button"
                        :class="`btn btn-link text-danger __focus-none ${isLoading(destroy.pendingArray).provider(social_account.name) ? 'is-loading' : ''}`"
                        :disabled="!social_account.can_disconnect"
                        @click="unbind(social_account.name)"
                    >
                        {{ $t('button.unbind') }}
                    </button>
                </div>
            </div>
            <div v-if="social_account.name === 'yandex' && yandexEnabled" class="d-flex align-items-center justify-content-between mb-1">
                <!-- Yandex -->
                <div class="d-flex align-items-center justify-content-start">
                    <div class="text-white bg-yandex rounded-sm mr-2" style="width: 24px;text-align: center;">
                        <font-awesome-icon :icon="['fab', 'yandex']" />
                    </div>
                    <div>
                        {{ social_account.title }}
                    </div>
                </div>
                <div>
                    <button v-if="!social_account.connected" type="button" :class="`btn btn-link text-primary __focus-none ${yandex.pending ? 'is-loading' : ''}`" @click="loginYandex">
                        {{ $t('button.bind') }}
                    </button>
                    <button
                        v-if="social_account.connected"
                        type="button"
                        :class="`btn btn-link text-danger __focus-none ${isLoading(destroy.pendingArray).provider(social_account.name) ? 'is-loading' : ''}`"
                        :disabled="!social_account.can_disconnect"
                        @click="unbind(social_account.name)"
                    >
                        {{ $t('button.unbind') }}
                    </button>
                </div>
            </div>
            <div v-if="social_account.name === 'mock' && mockEnabled" class="d-flex align-items-center justify-content-between mb-1">
                <!-- Mock -->
                <div class="d-flex align-items-center justify-content-start">
                    <div class="text-white bg-vk rounded-sm mr-2" style="width: 24px;text-align: center;">
                        <font-awesome-icon :icon="['fab', 'vk']" />
                    </div>
                    <div>
                        {{ social_account.title }}
                    </div>
                </div>
                <div>
                    <button v-if="!social_account.connected" type="button" :class="`btn btn-link text-primary __focus-none ${mock.pending ? 'is-loading' : ''}`" @click="loginMock">
                        {{ $t('button.bind') }}
                    </button>
                    <button
                        v-if="social_account.connected"
                        type="button"
                        :class="`btn btn-link text-danger __focus-none ${isLoading(destroy.pendingArray).provider(social_account.name) ? 'is-loading' : ''}`"
                        :disabled="!social_account.can_disconnect"
                        @click="unbind(social_account.name)"
                    >
                        {{ $t('button.unbind') }}
                        <!--                        <font-awesome-icon v-if="!social_account.can_disconnect" icon="question-circle" v-tippy :content="`Чтобы отвязать аккаунт создайте пароль`"/>-->
                    </button>
                </div>
            </div>
            <div v-if="social_account.name === 'mock-second' && mockSecondEnabled" class="d-flex align-items-center justify-content-between mb-1">
                <!-- Mock -->
                <div class="d-flex align-items-center justify-content-start">
                    <div class="text-white bg-vk rounded-sm mr-2" style="width: 24px;text-align: center;">
                        <font-awesome-icon :icon="['fab', 'vk']" />
                    </div>
                    <div>
                        {{ social_account.title }}
                    </div>
                </div>
                <div>
                    <button v-if="!social_account.connected" type="button" :class="`btn btn-link text-primary __focus-none ${mockSecond.pending ? 'is-loading' : ''}`" @click="loginMockSecond">
                        {{ $t('button.bind') }}
                    </button>
                    <button
                        v-if="social_account.connected"
                        type="button"
                        :class="`btn btn-link text-danger __focus-none ${isLoading(destroy.pendingArray).provider(social_account.name) ? 'is-loading' : ''}`"
                        :disabled="!social_account.can_disconnect"
                        @click="unbind(social_account.name)"
                    >
                        {{ $t('button.unbind') }}
                        <!--                        <font-awesome-icon v-if="!social_account.can_disconnect" icon="question-circle" v-tippy :content="`Чтобы отвязать аккаунт создайте пароль`"/>-->
                    </button>
                </div>
            </div>
        </div>
    </form>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import auth from '../../../../../plugins/common/auth';

export default {
    name: 'PersonalAccountFormAccounts',
    components: {
    },
    props: {
        update: {
            type: [Boolean],
            default: false,
        }
    },
    data() {
        return {
            yandexEnabled: false,
            googleEnabled: false,
            facebookEnabled: false,
            vkontakteEnabled: false,
            mockEnabled: false,
            mockSecondEnabled: false,
        };
    },
    computed: mapState({
        mock: state => state._auth.login.socialite.mock,
        mockSecond: state => state._auth.login.socialite.mockSecond,
        google: state => state._auth.login.socialite.google,
        facebook: state => state._auth.login.socialite.facebook,
        vk: state => state._auth.login.socialite.vk,
        yandex: state => state._auth.login.socialite.yandex,
        destroy: state => state.user.social.destroy,
    }),
    watch: {
        //
    },
    created() {
        this.yandexEnabled = process.env.YANDEX_AUTH_ENABLED === 'true';
        this.googleEnabled = process.env.GOOGLE_AUTH_ENABLED === 'true';
        this.facebookEnabled = process.env.FACEBOOK_AUTH_ENABLED === 'true';
        this.vkontakteEnabled = process.env.VKONTAKTE_AUTH_ENABLED === 'true';
        this.mockEnabled = process.env.APP_ENV === 'local';
        this.mockSecondEnabled = process.env.APP_ENV === 'local';
    },
    mounted() {

    },
    methods: {
        ...mapActions('user/social/destroy', ['fetchDestroy']),
        ...mapActions('_auth/login/socialite/mock', ['fetchLoginMock']),
        ...mapActions('_auth/login/socialite/mockSecond', ['fetchLoginMockSecond']),
        ...mapActions('_auth/login/socialite/google', ['fetchLoginGoogle']),
        ...mapActions('_auth/login/socialite/yandex', ['fetchLoginYandex']),
        ...mapActions('_auth/login/socialite/facebook', ['fetchLoginFacebook']),
        ...mapActions('_auth/login/socialite/vk', ['fetchLoginVk']),
        unbind(provider) {
            this.fetchDestroy({
                provider,
            });
        },
        loginMock() {
            this.fetchLoginMock({
                user_id: this.$auth.user.id,
                access_token: 'token',
                id: '11',
                email: 'test@yandex.ru',
                name: 'Test',
                avatar: 'https://image.artagrad.ru/img/default/default.png',
            });
        },
        loginMockSecond() {
            this.fetchLoginMockSecond({
                user_id: this.$auth.user.id,
                access_token: 'token',
                id: '12313123123123123123',
                email: 'test-mock@yandex.ru',
                name: 'Second Mock',
                avatar: 'https://image.artagrad.ru/img/default/default.png',
            });
        },
        loginGoogle() {
            auth.googleRedirect();
        },
        loginFacebook() {
            auth.facebookRedirect();
        },
        loginVk() {
            auth.vkRedirect();
        },
        loginYandex() {
            auth.yandexRedirect();
        }
    }
};
</script>
