<template>
    <form class="row" @submit.prevent="submit">
        <div v-if="$auth.loggedIn && $auth.user.is_has_password" class="col-12">
            <div class="form-group">
                <label class="text-muted ml-2 mb-0 form-label">{{ $t('fields.current_password') }} <i class="r">*</i></label>
                <input
                    v-model="current_password"
                    type="password"
                    class="form-control"
                    :class="{'is-danger': account.errors.current_password !== undefined}"
                    :placeholder="$t('fields.current_password')"
                    name="current_password"
                    autocomplete="current-password"
                >
                <FormError :error="account.errors.current_password" />
            </div>
        </div>
        <div v-if="$auth.loggedIn && $auth.user.is_has_password" class="col-12">
            <div class="form-group">
                <label class="text-muted ml-2 mb-0 form-label">{{ $t('fields.new_password') }} <i class="r">*</i></label>
                <input
                    v-model="new_password"
                    type="password"
                    class="form-control"
                    :class="{'is-danger': account.errors.new_password !== undefined}"
                    :placeholder="$t('fields.new_password')"
                    name="new_password"
                    autocomplete="current-password"
                >
                <small class="form-text text-muted">{{ $t('auth.register.field_texts.password') }}</small>
                <FormError :error="account.errors.new_password" />
            </div>
        </div>
        <div v-if="$auth.loggedIn && $auth.user.is_has_password" class="col-12">
            <div class="form-group">
                <label class="text-muted ml-2 mb-0 form-label">{{ $t('fields.new_password_confirmation') }} <i class="r">*</i></label>
                <input
                    v-model="new_password_confirmation"
                    type="password"
                    class="form-control"
                    :class="{'is-danger': account.errors.new_password_confirmation !== undefined}"
                    :placeholder="$t('fields.new_password_confirmation')"
                    name="new_password_confirmation"
                    autocomplete="current-password"
                >
                <FormError :error="account.errors.new_password_confirmation" />
            </div>
        </div>
        <div v-if="$auth.loggedIn && !$auth.user.is_has_password" class="col-12">
            <div class="form-group">
                <label class="text-muted ml-2 mb-0 form-label">{{ $t('fields.password') }} <i class="r">*</i></label>
                <input
                    v-model="password"
                    type="password"
                    class="form-control"
                    :class="{'is-danger': account.errors.password !== undefined}"
                    :placeholder="$t('fields.password')"
                    name="password"
                    autocomplete="current-password"
                    required
                >
                <small class="form-text text-muted">{{ $t('auth.register.field_texts.password') }}</small>
                <FormError :error="account.errors.new_password" />
            </div>
        </div>
        <div v-if="$auth.loggedIn && !$auth.user.is_has_password" class="col-12">
            <div class="form-group">
                <label class="text-muted ml-2 mb-0 form-label">{{ $t('fields.password_confirmation') }} <i class="r">*</i></label>
                <input
                    v-model="password_confirmation"
                    type="password"
                    class="form-control"
                    :class="{'is-danger': account.errors.password_confirmation !== undefined}"
                    :placeholder="$t('fields.password_confirmation')"
                    name="password_confirmation"
                    autocomplete="current-password"
                    required
                >
                <FormError :error="account.errors.password_confirmation" />
            </div>
        </div>
        <div class="col-12 pr--form--basic--footer">
            <div v-if="account.success" class="text-success --success-message">
                <font-awesome-icon icon="check" class="mr-1" />
                Пароль успешно изменен
            </div>
            <button type="submit" :class="['btn btn-primary', account.pending ? 'is-loading' : '']">
                {{ $t('button.save') }}
            </button>
        </div>

        <!--        <div class="col-12 text-right">-->
        <!--            <button type="button" class="btn btn-default" @click="cancel()">-->
        <!--                Cancel-->
        <!--            </button>-->
        <!--            <button type="submit" class="btn btn-primary" :class="['btn btn-primary', login.pending ? 'is-loading' : '']">-->
        <!--                Log in-->
        <!--            </button>-->
        <!--        </div>-->

        <!--            <div class="col-12">-->
        <!--                <div class="text-center">-->
        <!--                    Don't have an account? <a role="button" class="btn-link"><b>Sign Up</b></a>-->
        <!--                </div>-->
        <!--            </div>-->
    </form>
</template>

<script>
import { mapState, mapActions } from 'vuex';

export default {
    name: 'PersonalAccountFormPassword',
    components: {
    },
    props: {
        update: {
            type: [Boolean],
            default: false,
        }
    },
    data() {
        return {
            password: null,
            password_confirmation: null,
            current_password: null,
            new_password: null,
            new_password_confirmation: null,
        };
    },
    computed: mapState({
        account: state => state.personal.account.form,
    }),
    watch: {
        'account.success'(value) {
            const self = this;
            if (value) {
                self.password = null;
                self.password_confirmation = null;
                self.current_password = null;
                self.new_password = null;
                self.new_password_confirmation = null;
            }
        },
        'account.closeModal'() {
            const self = this;
            if (self.account.closeModal) {
                self.modalActions().close();
            }
        }
    },
    mounted() {

    },
    methods: {
        ...mapActions('personal/account/form', ['fetchAccount', 'fetchAccountAndUpdate']),
        submit() {
            const self = this;
            let data = {};
            if (self.$auth.loggedIn && !self.$auth.user.is_has_password) {
                data = {
                    password: self.password,
                    password_confirmation: self.password_confirmation,
                };
                if (self.password === '') {
                    return;
                }
            } else {
                data = {
                    current_password: self.current_password,
                    new_password: self.new_password,
                    new_password_confirmation: self.new_password_confirmation,
                };
            }
            if (self.update) {
                self.fetchAccountAndUpdate(data);
            } else {
                self.fetchAccount(data);
            }
        }
    }
};
</script>

<style scoped>

</style>
