<template>
    <form class="row" @submit.prevent="submit">
        <div class="col-12">
            <div class="form-group">
                <div class="d-flex justify-content-between align-items-center">
                    <label class="text-muted mb-0 form-label font-base">{{ $t('fields.personal-notifications.mail') }}</label>
                    <toggle-button
                        class="text-success"
                        :value="$auth.user.settings.notifications.mail"
                        color="#82C7EB"
                        :sync="true"
                        :labels="{checked: $t('basic.yes'), unchecked: $t('basic.no')}"
                        :css-colors="true"
                        @change="changeMail(!$auth.user.settings.notifications.mail)"
                    />
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <div class="d-flex justify-content-between align-items-center">
                    <label class="text-muted mb-0 form-label font-base">{{ $t('fields.personal-notifications.system') }}</label>
                    <toggle-button
                        class="text-success"
                        :value="$auth.user.settings.notifications.system"
                        color="#82C7EB"
                        :sync="true"
                        :labels="{checked: $t('basic.yes'), unchecked: $t('basic.no')}"
                        :css-colors="true"
                        @change="changeSystem(!$auth.user.settings.notifications.system)"
                    />
                </div>
            </div>
        </div>
    </form>
</template>

<script>
import { mapState, mapActions } from 'vuex';

export default {
    name: 'PersonalAccountFormNotifications',
    components: {
    },
    props: {
        update: {
            type: [Boolean],
            default: false,
        }
    },
    data() {
        return {
            a: false,
            b: true,
        };
    },
    computed: mapState({
        account: state => state.personal.account.form,
    }),
    watch: {
        'account.success'(value) {
            const self = this;
            if (value) {
                self.current_password = null;
                self.new_password = null;
                self.new_password_confirmation = null;
            }
        },
        'account.closeModal'() {
            const self = this;
            if (self.account.closeModal) {
                self.modalActions().close();
            }
        }
    },
    mounted() {

    },
    methods: {
        ...mapActions('personal/account/form', ['fetchAccount', 'fetchAccountAndUpdate']),
        submit(e) {
            e.preventDefault();
        },
        changeSystem(value) {
            const self = this;
            self.fetchAccountAndUpdate({
                settings: {
                    notification_system: value ? 1 : 0,
                }
            });
        },
        changeMail(value) {
            const self = this;
            self.fetchAccountAndUpdate({
                settings: {
                    notification_mail: value ? 1 : 0,
                }
            });
        }
    }
};
</script>

<style scoped>

</style>
