<template>
    <form class="row" @submit.prevent="submit">
        <div class="col-12">
            <div class="form-group">
                <label class="text-muted ml-2 mb-0 form-label">{{ $t('fields.first_name') }} <i class="r">*</i></label>
                <input
                    v-model="first_name"
                    type="text"
                    class="form-control"
                    :class="{'is-danger': account.errors.first_name !== undefined}"
                    :placeholder="$t('fields.first_name')"
                    name="first_name"
                >
                <FormError :error="account.errors.first_name" />
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label class="text-muted ml-2 mb-0 form-label">{{ $t('fields.last_name') }} <i class="r">*</i></label>
                <input
                    v-model="last_name"
                    type="text"
                    class="form-control"
                    :class="{'is-danger': account.errors.last_name !== undefined}"
                    :placeholder="$t('fields.last_name')"
                    name="last_name"
                >
                <FormError :error="account.errors.last_name" />
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label class="text-muted ml-2 mb-0 form-label">{{ $t('fields.second_name') }}</label>
                <input
                    v-model="second_name"
                    type="text"
                    class="form-control"
                    :class="{'is-danger': account.errors.second_name !== undefined}"
                    :placeholder="$t('fields.second_name')"
                    name="second_name"
                >
                <FormError :error="account.errors.second_name" />
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label class="text-muted ml-2 mb-0 form-label">{{ $t('fields.email') }} <i class="r">*</i></label>
                <div class="input-group">
                    <input
                        v-model="email"
                        type="text"
                        class="form-control"
                        :class="[
                        account.errors.email !== undefined ? 'is-danger' : '',
                    ]"
                        :placeholder="$t('fields.email')"
                        name="email"
                        autocomplete="username"
                    >
                    <div v-if="!$auth.user.is_email_verified" class="input-group-append">
                        <button :class="['btn btn-primary', verifyEmail.pending ? 'is-loading' : '']" type="button" @click.prevent="actionVerifyEmail">
                            Подтвердить
                        </button>
                    </div>
                </div>
                <small v-if="!$auth.user.is_email_verified" class="form-text text-muted">Подтвердите email чтобы обезопасить ваш аккаунт</small>
                <FormError :error="account.errors.email" />
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label class="text-muted ml-2 mb-0 form-label">{{ $t('fields.about') }}</label>
                <b-form-textarea
                    v-model="details.description"
                    :placeholder="$t('fields.about')"
                    :class="{'is-danger': account.errors.details !== undefined}"
                    rows="3"
                />
                <FormError :error="account.errors.details" />
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label class="text-muted ml-2 mb-0 form-label">{{ $t('fields.career_work') }}</label>
                <input
                    v-model="details.work"
                    type="text"
                    class="form-control"
                    :class="{'is-danger': account.errors.details !== undefined}"
                    :placeholder="$t('fields.career_work')"
                >
                <FormError :error="account.errors.details" />
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label class="text-muted ml-2 mb-0 form-label">{{ $t('fields.career_position') }}</label>
                <input
                    v-model="details.position"
                    type="text"
                    class="form-control"
                    :class="{'is-danger': account.errors.details !== undefined}"
                    :placeholder="$t('fields.career_position')"
                >
                <FormError :error="account.errors.details" />
            </div>
        </div>
        <div class="col-12 pr--form--basic--footer">
            <div v-if="account.success" class="text-success --success-message">
                <font-awesome-icon icon="check" class="mr-1" />
                {{ $t('button.save-success') }}
            </div>
            <button type="submit" :class="['btn btn-primary', account.pending ? 'is-loading' : '']">
                {{ $t('button.save') }}
            </button>
        </div>
    </form>
</template>

<script>
import { mapState, mapActions } from 'vuex';

export default {
    name: 'PersonalAccountFormAccount',
    components: {
    },
    middleware: ['auth'],
    props: {
        update: {
            type: [Boolean],
            default: false,
        }
    },
    data() {
        return {
            first_name: null,
            last_name: null,
            second_name: null,
            email: null,
            details: {
                description: null,
                work: null,
                position: null,
            },
        };
    },
    computed: mapState({
        data: state => state.data,
        account: state => state.personal.account.form,
        verifyEmail: state => state.user.verify.email,
    }),
    watch: {
        'account.closeModal'() {
            const self = this;
            if (self.account.closeModal) {
                self.modalActions().close();
            }
        }
    },
    mounted() {
        const self = this;
        self.first_name = self.$auth.user.first_name;
        self.last_name = self.$auth.user.last_name;
        self.second_name = self.$auth.user.second_name;
        self.email = self.$auth.user.email;
        self.details.description = self.$auth.user.details.description || '';
        self.details.work = self.$auth.user.details.work || '';
        self.details.position = self.$auth.user.details.position || '';
    },
    methods: {
        ...mapActions('user/verify/email', ['fetchEmail']),
        ...mapActions('personal/account/form', ['fetchAccount', 'fetchAccountAndUpdate']),
        submit() {
            const self = this;
            const data = {
                first_name: self.first_name,
                last_name: self.last_name,
                second_name: self.second_name,
                email: self.email,
                details: {
                    description: self.details.description,
                    work: self.details.work,
                    position: self.details.position,
                },
                //phone: self.phone,
                //gender: self.gender,
                //orcid_id: self.orcid_id,
                //birthday_at: self.birthday_at,
            };
            if (self.update) {
                self.fetchAccountAndUpdate(data);
            } else {
                self.fetchAccount(data);
            }
        },
        actionVerifyEmail() {
            const self = this;
            self.fetchEmail({
                email: self.email,
            });
        }
    }
};
</script>

<style scoped>

</style>
