.pr--editor--file {
    padding: 1rem;
    box-shadow: $box-shadow-sm;
    border-radius: $border-radius-sm;
    display: flex;
    align-items: center;
    justify-content: space-between;
    //margin-top: 1rem;
    margin-bottom: 1rem;
    .--head {
        display: flex;
        align-items: center;
        .--icon {
            margin-right: 1rem;
            &.--extension-jpg {
                svg {
                    fill: rgb(246, 118, 118);
                }
            }
        }
        .--size {
            color: $text-muted;
        }
    }
    .--download {
        margin-right: .5rem;
    }
}
