.btn--editor {
    display: inline-block;
    font-family: $btn-font-family;
    font-weight: $btn-font-weight;
    text-align: center;
    text-decoration: if($link-decoration == none, null, none);
    white-space: $btn-white-space;
    vertical-align: middle;
    user-select: none;
    border: $primary solid transparent !important;
    background-color: $primary !important;
    color: #fff !important;
    padding: $btn-padding-y $btn-padding-x !important;
    font-size: $font-size-base !important;
    border-radius: $btn-border-radius !important;
    //@include font-size($font-size);
    //@include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius);
    text-decoration: none !important;
}
