.pr--editor--carousel {
    margin-top: 1rem;
    margin-bottom: 1rem;
    //padding: 1rem;
    //box-shadow: $box-shadow-sm;
    //border-radius: $border-radius-sm;
}
.pr--gallery {
    display: flex;
    align-items: center;
    //flex-wrap: wrap;
    &__item {
        max-height: 300px;
        flex-grow: 1;
        margin: 1rem;
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }
    &__img {
        max-height: 100%;
        min-width: 100%;
        object-fit: cover;
        vertical-align: bottom;
    }
    //@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
    //    flex-direction: row;
    //
    //    &__item {
    //        height: auto;
    //        width: 100%;
    //    }
    //
    //    &__img {
    //        width: 100%;
    //        max-height: 75vh;
    //        min-width: 0;
    //    }
    //}
    //a {
    //    margin: 1rem;
    //    &:first-child {
    //        margin-left: 0;
    //    }
    //    &:last-child {
    //        margin-right: 0;
    //    }
    //}
}
