.pr--editor--embed {
    //width: calc(100% + 32px);
    //margin-left: -16px;
    //margin-right: -16px;
    .pr--editor--embed-iframe {
        width: calc(100% + 32px);
        margin-left: -16px;
        margin-right: -16px;
        margin-bottom: 1rem;
    }

}
.pr--editor--video-file {

}
.pr--editor--embed-iframe {
    .--youtube-link {
        font-size: $font-size-sm;
        color: $dark;
        text-decoration: none;
        display: block;
        text-align: center;
        margin-top: .25rem;
        margin-bottom: .25rem;
        &:hover {
            color: $link-color;
            text-decoration: underline;
        }
    }
}
