.anchor {
    position: absolute;
    top: 6px;
    left: 0;
    color: $dark;
    opacity: 0;
    transition: $transition-base;
    &:hover {
        color: $primary;
    }
}
.pr--editor--header--with-anchor {
    margin-left: -50px;
    padding-left: 50px;
    position: relative;
    &.__level-3 {
        .anchor {
            top: 4px;
        }
    }
    &.__level-4 {
        .anchor {
            top: 2px;
        }
    }
    &:hover {
        .anchor {
            opacity: 1;
        }
    }
}
