.pr--editor--image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 100%;
    &.__background {
        padding: 1rem;
        background-color: #fbfbfb;
        width: calc(100% + 32px);
        margin-left: -16px;
        margin-right: -16px;
    }
    &.__stretched {
        width: calc(100% + 32px);
        margin-left: -16px;
        margin-right: -16px;
    }
    .--text {
        margin-top: 1rem;
        text-align: center;
        margin-left: 1rem;
        margin-right: 1rem;
        width: calc(100% - 2rem);
    }
    .--source {
        text-align: center;
        font-size: $font-size-sm;
        margin-left: 1rem;
        margin-right: 1rem;
        width: calc(100% - 2rem);
    }
    a {
        display: contents;
    }
}
