.pr--editor--incut {
    padding: 3rem 0 !important;
    background-color: #fbfbfb;
    margin-bottom: 1rem !important;
    text-align: center;
    font-size: $h2-font-size;
    font-weight: 500;
    width: calc(100% + 32px);
    margin-left: -16px;
    margin-right: -16px;
}
