@import './alert';
@import './delimiter';
@import './button';
@import './attaches';
@import './image';
@import './person';
@import './carousel';
@import './table';
@import './list';
@import './quote';
@import './warning';
@import './header';
@import './paragraph';
@import './embed';
@import './link-tool';
@import './incut';
@import './audio';
@import './video';
@import './asterisks';
@import './rubric';

.pr--editor {

}
.pr--editor--block {
    a {
        text-decoration: underline;
        &.btn {
            text-decoration: none;
        }
    }
}
.pr--editor--block--top {
    hr {
        width: 160px;
        border-top: 1px solid $border-color;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}
.pr--editor--block.active {
    position: relative;
    &:after {
        content: "";
        display: block;
        width: 4px;
        height: calc(100% + 2rem);
        position: absolute;
        top: -1rem;
        left: -1.5rem;
        background-color: #006fca;
        opacity: .5;
    }
}

.pr--editor--preview-settings {
    z-index: 2;
    &.__shown {
        z-index: 3;
    }
}
.pr--editor--preview--container {
    .pr--editor {
        padding: 1rem;
        margin: 1rem;
        box-shadow: $box-shadow-sm;
        border-radius: $border-radius-sm;
        background-color: $white;
        .pr--editor--block {
            max-width: 650px;
            margin: 0 auto;
        }
    }
    &.__pdf-zoomed {
        height: calc(100vh - 54px - 54px - 1rem);
        .pr--editor {
            padding: 0;
            margin: 0;
            width: 100%;
            box-shadow: none;
            border-radius: 0;
            background-color: $white;
            height: calc(100vh - 54px - 54px);
            overflow: auto;
            cursor: grab;
            .pr--editor--pdf-preview {
                height: inherit;
                #viewerContainer .textLayer > span {
                    cursor: grab;
                }
            }
        }
    }
}
.pr--editor--preview-iframe {
    height: calc(100vh - 54px - 54px - 4rem);
}
.pr--editor--preview-modes {
    display: inline-block;
    border-left: 1px solid $border-color;
}
.pr--editor--pdf--empty {
    height: calc(100vh - 54px - 54px - 6rem);
}
.pr--editor--pdf-preview {
    //height: calc(100vh - 54px - 54px - 6rem);
    //&.__scrolled {
    //    overflow: auto;
    //}
}
