.pr--editor--link {
    position: relative;
    margin-bottom: 1rem;
    .--link {
        display: block;
        padding: 1rem;
        border-radius: $border-radius-sm;
        box-shadow: $box-shadow-sm;
        color: initial !important;
        text-decoration: none !important;
        background: #fff;
        will-change: filter;
        animation: link-in 450ms 1 cubic-bezier(0.215, 0.61, 0.355, 1);
        transition: $transition-base;
        &:hover {
            box-shadow: 0 .25rem .5rem rgba($black, .075);
        }
    }
    .--image {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 0 0 1rem;
        width: 65px;
        height: 65px;
        border-radius: $border-radius-sm;
        float: right;
    }
    .--title {
        font-size: $h5-font-size;
        font-weight: $font-weight-bold;
    }
    .--description {
        margin: 0 0 1rem 0;
    }
    .--anchor {
        display: block;
        color: $gray-600;
        font-size: $font-size-sm;
    }
}
.pr--editor--link {

}
