.pr--editor--list {
    ol, ul {
        //padding-left: 1rem;
    }
}
.pr--editor--list-nested {
    margin: 0;
    padding: 0;
    outline: none;
    counter-reset: item;
    list-style: none;
    //margin-top: -.5rem !important;
    margin-bottom: 1rem !important;
    padding-left: 1rem !important;

    &__item {
        line-height: 1.6em;
        display: flex;
        margin: 2px 0;

        [contenteditable]{
            outline: none;
        }

        &-body {
            flex-grow: 2;
        }

        &-content,
        &-children {
            flex-basis: 100%;
        }

        &-content {
            word-break: break-word;
            white-space: pre-wrap;
        }

        &-children {}

        &::before {
            counter-increment: item;
            margin-right: 5px;
            white-space: nowrap;
        }
    }

    &--ordered > &__item::before {
        content: counters(item, ".") ". ";
    }

    &--unordered > &__item::before {
        content: "•";
        font-size: 1.5rem;
    }

    &__settings {
        display: flex;

        .cdx-settings-button {
            width: 50%;
        }
    }
}



.ce-block--focused {
    .cdx-nested-list.cdx-block {
        &:after {
            content: 'Использую Tab для увеличения вложенности и Shift + Tab для уменьшения';
            display: block;
            width: 200px;
            position: absolute;
            top: 0;
            left: -220px;
            background-color: #fbfbfb;
            color: $dark;
            padding: .5rem;
            box-shadow: $box-shadow-sm;
            border-radius: $border-radius-sm;
        }
    }
}
.pr--main--left.__left {
    .ce-block--focused {
        .cdx-nested-list.cdx-block {
            &:after {
                top: -90px;
                left: 0;
            }
        }
    }
}
.pr--main--center {
    .ce-block--focused {
        .cdx-nested-list.cdx-block {
            &:after {
                top: 0;
                left: -220px;
            }
        }
    }
}
