.pr--editor--image-person {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 100%;
    img {
        width: 140px !important;
        height: 140px;
        border-radius: 100%;
        box-shadow: $box-shadow-sm;
        border: 1px solid $border-color;
    }
    .--head {
        margin-top: 1rem;
        font-size: $font-size-md;
        font-weight: bold;
        text-align: center;
    }
    .--text {
        margin-top: 0;
        text-align: center;
    }
}
