.pr--editor--rubric {
    .--rubric {
        //display: flex;
        //align-items: center;
        //justify-content: center;
        //flex-direction: column;
        margin-bottom: 1rem;
        //background-color: #eaeaea;
        background-color: #fcf6e5;
        width: calc(100% + 32px);
        margin-left: -16px;
        margin-right: -16px;
        padding: .5rem 16px;
        text-transform: uppercase;
    }
}
