.pr--editor--video-file {
    //padding: 1rem .75rem;
    //box-shadow: $box-shadow-sm;
    //border-radius: $border-radius-sm;
    //display: flex;
    //align-items: center;
    //justify-content: space-between;
    //margin-top: 1rem;
    margin-bottom: 1rem;
    //border: 1px solid $border-color;
    width: calc(100% + 32px);
    margin-left: -16px;
    margin-right: -16px;
    .--head-file {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding-left: 7px;
        .--icon {
            margin-right: 1rem;
            &.--extension-jpg {
                svg {
                    fill: rgb(246, 118, 118);
                }
            }
        }
        .--size {
            color: $text-muted;
        }
        .--info {

        }
    }
    .--download {
        margin-right: .5rem;
    }
    .plyr {
        width: 100%;

        .plyr__controls {
            padding: 0;
        }
    }
}
