.pr--warning {
    border-radius: $border-radius-sm;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid $border-color;
    border-left-width: .25rem;
    border-left-color: $warning;
    .--head {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .--icon {
            margin-right: .5rem;
        }
    }
}
