<template>
    <div class="h-100">
        <nav aria-label="Main navigation" class="h-100">
            <div class="h-100 pr--nav-left--container">
                <div>
                    <ul class="nav --block pt-0">
                        <li>
                            <nuxt-link
                                :id="`popover-feed`"
                                :to="i18nRoute().index()"
                                class="btn btn-icon"
                                :class="[$route.path.endsWith(i18nRoute().index()) ? 'text-primary' : '']"
                                style="padding: .5rem .5rem;text-align: center;"
                            >
                                <font-awesome-icon icon="home" class="__md" />
                            </nuxt-link>
                            <b-popover
                                :target="`popover-feed`"
                                placement="right"
                                triggers="hover focus"
                                no-fade
                                custom-class="pr--popover--category"
                            >
                                <div>
                                    <p class="mb-0">
                                        {{ i18nTitle().feed() }}
                                    </p>
                                </div>
                            </b-popover>
                        </li>
                        <li v-if="$auth.loggedIn">
                            <nuxt-link
                                :id="`popover-my-feed`"
                                :to="i18nRoute().my()"
                                class="btn btn-icon"
                                :class="[$route.path.endsWith(i18nRoute().my()) ? 'text-primary' : '']"
                                style="padding: .5rem .5rem;text-align: center;"
                            >
                                <font-awesome-icon icon="user-cog" class="__md" />
                            </nuxt-link>
                            <b-popover
                                :target="`popover-my-feed`"
                                placement="right"
                                triggers="hover focus"
                                no-fade
                                custom-class="pr--popover--category"
                            >
                                <div>
                                    <p class="mb-0">
                                        {{ i18nTitle().my() }}
                                    </p>
                                </div>
                            </b-popover>
                        </li>
                    </ul>
                    <div style="padding: .5rem .5rem;text-align: center;">
                        <font-awesome-icon icon="layer-group" class="__md" />
                    </div>
                    <ul class="nav --block pt-0">
                        <li v-for="(category, key) in data.categories" v-if="key < sidebarGroupsLength" :key="category.id">
                            <nuxt-link :id="`popover-category-${category.id}`" :to="i18nRoute().category(category)" class="btn">
                                <img :src="category.image" :alt="category.title" class="pr--image--model __sm">
                            </nuxt-link>
                            <b-popover
                                :target="`popover-category-${category.id}`"
                                placement="right"
                                triggers="hover focus"
                                :show="category.id === 0"
                                no-fade
                                custom-class="pr--popover--category"
                            >
                                <div>
                                    <p class="mb-0">
                                        {{ category.title }}
                                    </p>
                                </div>
                            </b-popover>
                        </li>
                    </ul>
                    <div style="padding: .5rem .5rem;text-align: center;">
                        <font-awesome-icon icon="users" class="__md" />
                    </div>
                    <ul class="nav --block pb-0 pt-0">
                        <li v-for="(group, key) in data.groups" v-if="key < sidebarGroupsLength" :key="group.id">
                            <nuxt-link :id="`popover-group-${group.id}`" :to="i18nRoute().group(group)" class="btn">
                                <img :src="group.image" :alt="group.title" class="pr--image--model __sm">
                            </nuxt-link>
                            <b-popover
                                :target="`popover-group-${group.id}`"
                                placement="right"
                                triggers="hover focus"
                                :show="group.id === 0"
                                no-fade
                                custom-class="pr--popover--group"
                            >
                                <div>
                                    <p class="mb-0">
                                        {{ group.title }}
                                    </p>
                                </div>
                            </b-popover>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <ButtonMenuSwitcher :arrow="'right'" />
    </div>
</template>

<script>

import { mapActions, mapState } from 'vuex';
import ButtonMenuSwitcher from '../../../Base/Button/ButtonMenuSwitcher';

export default {
    name: 'BodyMainLeftHidden',
    components: {
        ButtonMenuSwitcher
    },
    data() {
        return {
            moreVisible: false,
        };
    },
    computed: mapState({
        app: state => state.app,
        data: state => state.app.data.data,
        sidebarGroupsLength: state => state.app.sidebarGroupsLength,
    }),
    watch: {},
    mounted() {},
    methods: {
        ...mapActions('app', ['setSidebar']),
        setSidebarShow() {
            this.setSidebar(true);
        }
    },
};
</script>

<style scoped lang="scss">

</style>
