<template>
    <div class="h-100">
        <nav aria-label="Main navigation" class="h-100">
            <div class="h-100 pr--nav-right--container">
                <div>
                    <div style="padding: .5rem .5rem;text-align: center;">
                        <font-awesome-icon :icon="['far', 'comment-dots']" class="__md" />
                    </div>
                    <ul v-if="comments.pending" class="nav --block">
                        <li>
                            <SkeletonCommentCardAvatar />
                        </li>
                        <li>
                            <SkeletonCommentCardAvatar />
                        </li>
                        <li>
                            <SkeletonCommentCardAvatar />
                        </li>
                    </ul>
                    <ul v-if="!comments.pending" class="nav --block">
                        <li v-for="comment in comments.data" :key="comment.id">
                            <CommentCardAvatar :comment="comment" />
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <ButtonMenuRightSwitcher :arrow="'left'" />
    </div>
</template>

<script>

import { mapActions, mapState } from 'vuex';
import ButtonMenuRightSwitcher from '../../../Base/Button/ButtonMenuRightSwitcher';
import CommentCardAvatar from '../../Comment/Card/CommentCardAvatar';
import SkeletonCommentCardAvatar from '../../Skeleton/Comment/Card/SkeletonCommentCardAvatar';

export default {
    name: 'BodyMainRightHidden',
    components: {
        ButtonMenuRightSwitcher,
        CommentCardAvatar,
        SkeletonCommentCardAvatar,
    },
    data() {
        return {};
    },
    computed: mapState({
        app: state => state.app,
        comments: state => state.data.comments,
    }),
    watch: {},
    mounted() {
        this.fetchComments();
    },
    methods: {
        ...mapActions('data/comments', ['fetchComments']),
    },
};
</script>

<style scoped lang="scss">

</style>
