<template>
    <div v-bar="{ preventParentScroll: true, scrollThrottle: 10, scrollingPhantomDelay: 10, draggingPhantomDelay: 10 }" class="h-100">
        <nav aria-label="Main navigation" class="h-100">
            <div class="h-100 pr--nav-left--container">
                <div class="p-3">
                    <div class="mb-3">
                        <h5 class="text-center">
                            {{ $t('basic.discussions') }}
                        </h5>
                    </div>
<!--                    <div v-if="comments.pending">-->
<!--                        <SkeletonCommentCardMention />-->
<!--                        <SkeletonCommentCardMention />-->
<!--                        <SkeletonCommentCardMention />-->
<!--                    </div>-->
<!--                    <div v-if="!comments.pending">-->
<!--                        <CommentCardMention v-for="comment in comments.data" :key="comment.id" :comment="comment" />-->
<!--                    </div>-->
                </div>
                <div>
                    <ButtonMenuRightSwitcher :arrow="'right'" />
                </div>
            </div>
        </nav>
    </div>
</template>

<script>

import { mapActions, mapState } from 'vuex';
import CommentCardMention from '../../Comment/Card/CommentCardMention';
import ButtonMenuRightSwitcher from '../../../Base/Button/ButtonMenuRightSwitcher';
import SkeletonCommentCardMention from '../../Skeleton/Comment/Card/SkeletonCommentCardMention';

export default {
    name: 'BodyMainRight',
    components: {
        CommentCardMention,
        ButtonMenuRightSwitcher,
        SkeletonCommentCardMention,
    },
    data() {
        return {};
    },
    computed: mapState({
        //comments: state => state.data.comments,
    }),
    watch: {},
    mounted() {
        //this.fetchComments();
    },
    methods: {
        //...mapActions('data/comments', ['fetchComments']),
    },
};
</script>

<style scoped lang="scss">

</style>
