<template>
    <div class="container">
        <MainEvents />
        <MainArticles />
    </div>
</template>

<script>

import MainEvents from '../../Main/MainEvents';
import MainArticles from '../../Main/MainArticles';

export default {
    name: 'BodyMainCenter',
    components: {
        MainEvents,
        MainArticles,
    },
    data() {
        return {};
    },
    computed: {},
    watch: {},
    mounted() {},
    methods: {},
};
</script>

<style scoped lang="scss">

</style>
