<template>
    <div v-bar="{ preventParentScroll: true, scrollThrottle: 10, scrollingPhantomDelay: 10, draggingPhantomDelay: 10 }" class="h-100">
        <nav aria-label="Main navigation" class="h-100">
            <div class="h-100 pr--nav-left--container">
                <div>
                    <ul class="nav --block">
                        <li>
                            <nuxt-link :to="i18nRoute().index()" class="btn" :class="[$route.path.endsWith(i18nRoute().index()) ? 'active' : '']">
                                {{ i18nTitle().feed() }}
                            </nuxt-link>
                        </li>
                        <li v-if="$auth.loggedIn">
                            <nuxt-link :to="i18nRoute().my()" class="btn" :class="[$route.path.endsWith(i18nRoute().my()) ? 'active' : '']">
                                {{ i18nTitle().my() }}
                            </nuxt-link>
                        </li>
                    </ul>
                    <div class="title-uppercase pt-1 pb-1 pr-4 pl-4">
                        {{ $t('basic.categories') }}
                    </div>
                    <ul :class="`nav --block ${data.categories.length > sidebarGroupsLength ? 'pb-0' : ''} pt-0`">
                        <li v-for="(category, key) in data.categories" v-if="key < sidebarGroupsLength" :key="`category_${category.id}`">
                            <nuxt-link :to="i18nRoute().category(category)" class="btn" :class="[$route.path.endsWith(i18nRoute().category(category)) ? 'active' : '']">
                                <img :src="category.image" :alt="category.title" class="mr-1 pr--image--model __sm __square">
                                {{ category.title }}
                            </nuxt-link>
                        </li>
                    </ul>
                    <b-collapse id="collapse-sidebar-more-categories" v-model="moreVisibleCategories">
                        <ul class="nav --block pt-0 pb-0">
                            <li v-for="(category, key) in data.categories" v-if="key > (sidebarGroupsLength - 1)" :key="`category_${category.id}`">
                                <nuxt-link :to="i18nRoute().category(category)" class="btn" :class="[$route.path.endsWith(i18nRoute().category(category)) ? 'active' : '']">
                                    <img :src="category.image" :alt="category.title" class="mr-1 pr--image--model __sm __square">
                                    {{ category.title }}
                                </nuxt-link>
                            </li>
                        </ul>
                    </b-collapse>
                    <button
                        v-if="data.categories.length > sidebarGroupsLength"
                        v-b-toggle="'collapse-sidebar-more-categories'"
                        type="button"
                        class="collapse--has-arrow btn btn-link btn-block __focus-none text-dark text-left"
                        style="padding-left: 1.85rem;"
                        aria-label="Show more"
                    >
                        <font-awesome-icon icon="chevron-down" class="mr-1" />
                        {{ moreVisibleCategories ? $t('button.hide') : `${$t('basic.more')} ${data.categories.length - sidebarGroupsLength}` }}
                    </button>
                    <div class="title-uppercase pt-1 pb-1 pr-4 pl-4">
                        {{ $t('basic.groups') }}
                    </div>
                    <ul class="nav --block pb-0 pt-0">
                        <li v-for="(group, key) in data.groups" v-if="key < sidebarGroupsLength" :key="group.id">
                            <nuxt-link :to="i18nRoute().group(group)" class="btn" :class="[$route.path.endsWith(i18nRoute().group(group)) ? 'active' : '']">
                                <img :src="group.image" :alt="group.title" class="mr-1 pr--image--model __sm">
                                {{ group.title }}
                            </nuxt-link>
                        </li>
                    </ul>
                    <b-collapse id="collapse-sidebar-more" v-model="moreVisibleGroups">
                        <ul class="nav --block pt-0 pb-0">
                            <li v-for="(group, key) in data.groups" v-if="key > (sidebarGroupsLength - 1)" :key="group.id">
                                <nuxt-link :to="i18nRoute().group(group)" class="btn" :class="[$route.path.endsWith(i18nRoute().group(group)) ? 'active' : '']">
                                    <img :src="group.image" :alt="group.title" class="mr-1 pr--image--model __sm">
                                    {{ group.title }}
                                </nuxt-link>
                            </li>
                        </ul>
                    </b-collapse>
                    <button
                        v-if="data.groups.length > sidebarGroupsLength"
                        v-b-toggle="'collapse-sidebar-more'"
                        type="button"
                        class="collapse--has-arrow btn btn-link btn-block __focus-none text-dark text-left"
                        style="padding-left: 1.85rem;"
                        aria-label="Show more"
                    >
                        <font-awesome-icon icon="chevron-down" class="mr-1" />
                        {{ moreVisibleGroups ? $t('button.hide') : `${$t('basic.more')} ${data.groups.length - sidebarGroupsLength}` }}
                    </button>
                </div>
                <div>
                    <ul class="nav --fx-bottom">
                        <li v-for="(page, key) in data.pages" :key="`page-${key}`">
                            <nuxt-link :to="i18nRoute().page(page)" class="small">
                                {{ i18nTitle().page(page) }}
                            </nuxt-link>
                        </li>
                    </ul>
                    <ButtonMenuSwitcher :arrow="'left'" />
                </div>
            </div>
        </nav>
    </div>
</template>

<script>

import { mapState, mapActions } from 'vuex';
import ButtonMenuSwitcher from '../../../Base/Button/ButtonMenuSwitcher';

export default {
    name: 'BodyMainLeft',
    components: {
        ButtonMenuSwitcher
    },
    data() {
        return {
            moreVisibleCategories: false,
            moreVisibleGroups: false,
        };
    },
    computed: mapState({
        app: state => state.app,
        sidebarGroupsLength: state => state.app.sidebarGroupsLength,
        data: state => state.app.data.data,
    }),
    watch: {},
    mounted() {

    },
};
</script>
