<template>
    <table
        :class="[
            `table table-hover b-table-fixed table--by-fields __with-edit-delete table--${model}`,
            pending ? 'table-pending' : '',
        ]"
    >
        <thead>
            <tr>
                <th class="is-id">
                    #
                </th>
                <th v-if="fields.config.image" class="is-image">
                    <!--                    <font-awesome-icon icon="ban" />-->
                </th>
                <th v-for="field in fields.data" :key="field.key" :class="`is-${field.key}`">
                    {{ field.title }}
                </th>
                <th v-if="fields.config.banned" class="is-banned">
                    <font-awesome-icon icon="ban" />
                </th>
                <th v-if="fields.config.state" class="is-state">
                    <font-awesome-icon icon="ellipsis-h" />
                </th>
                <th class="is-editor-edit">
                    <font-awesome-icon icon="highlighter" />
                </th>
                <th class="is-edit">
                    <font-awesome-icon icon="pencil-alt" />
                </th>
                <th class="is-delete">
                    <font-awesome-icon icon="trash" />
                </th>
            </tr>
        </thead>
        <tbody>
            <tr
                v-for="value in data"
                :key="value.id"
                :class="[
                    'is-tr',
                    value.is_active !== undefined && !value.is_active ? '__is-opacity' : '',
                    panel.item !== null && panel.item.id !== undefined && value.id === panel.item.id && panel.opened ? '__is-active' : '',
                ]"
            >
                <td class="is-id">
                    {{ value.id }}
                </td>
                <td v-if="fields.config.image" class="is-image">
                    <TableColumnImage
                        :config="fields.config"
                        :value="value"
                    />
                </td>
                <td v-for="field in fields.data" :key="field.key" :class="`is-${field.key}`">
                    <TableColumnDefault
                        :field="field"
                        :value="value"
                    />
                </td>
                <td v-if="fields.config.banned" class="is-banned">
                    <ToggleButton
                        v-model="value.banned"
                        class="text-danger"
                        :value="false"
                        color="#82C7EB"
                        :sync="true"
                        :labels="false"
                        :css-colors="true"
                        :width="40"
                        @change="actionBanned(value, value.banned)"
                    />
                </td>
                <td v-if="fields.config.state" class="is-state" />
                <th v-if="fields.config.editor" class="is-editor-edit">
                    <nuxt-link
                        :to="`/${model}/editor/${value.id}/edit`"
                        :class="[
                            'btn btn-icon btn-sm btn-primary',
                        ]"
                    >
                        <font-awesome-icon icon="highlighter" />
                    </nuxt-link>
                </th>
                <td class="is-edit">
                    <button
                        type="button"
                        :class="[
                            'btn btn-icon btn-sm btn-primary',
                        ]"
                        @click="edit(value)"
                    >
                        <font-awesome-icon icon="pencil-alt" />
                    </button>
                </td>
                <td class="is-delete">
                    <button
                        type="button"
                        :class="[
                            'btn btn-icon btn-sm btn-danger',
                        ]"
                        @click="modalActions().openConfirmDelete(model, value)"
                    >
                        <font-awesome-icon icon="trash" />
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</template>

<script>

import { mapState, mapActions } from 'vuex';
import { ToggleButton } from 'vue-js-toggle-button';
import TableColumnStatus from './Column/TableColumnStatus';
import TableColumnUser from './Column/TableColumnUser';
import TableColumnRoles from './Column/TableColumnRoles';
import TableColumnImage from './Column/TableColumnImage';
import TableColumnDefault from './Column/TableColumnDefault';

export default {
    name: 'TableByFields',
    components: {
        TableColumnStatus,
        TableColumnUser,
        TableColumnRoles,
        TableColumnImage,
        TableColumnDefault,
        ToggleButton,
    },
    props: {
        pending: {
            type: [Boolean],
            required: true,
            default: () => false,
        },
        model: {
            type: [String],
            required: true,
            default: () => '',
        },
        data: {
            type: [Array],
            required: true,
            default: () => [],
        },
        fields: {
            type: [Object],
            required: true,
            default: () => {},
        },
        edit: {
            type: [Function],
            required: false,
            default: () => {},
        },
        actionDelete: {
            type: [Function],
            required: false,
            default: () => {},
        },
    },
    data() {
        return {
            a: false,
        };
    },
    computed: mapState({
        modal: state => state.app.modal,
        destroy: state => state.app.table.destroy,
        banned: state => state.app.table.banned,
        panel: state => state.app.panel.base,
    }),
    watch: {
        'modal.deleted'() {
            const self = this;
            if (self.modal.deleted) {
                self.fetchDestroy({
                    model: self.model,
                    id: self.modal.item.id,
                });
            }
        },
        'modal.deletedFull'() {
            const self = this;
            if (self.modal.deletedFull) {
                self.fetchDestroy({
                    model: self.model,
                    id: self.modal.item.id,
                    force: true,
                });
            }
        },
        'destroy.success'() {
            const self = this;
            if (self.destroy.success) {
                self.modalActions().close();
                self.fetchList({
                    model: self.model,
                });
            }
        },
        'banned.success'() {
            const self = this;
            if (self.banned.success) {
                self.fetchList({
                    model: self.model,
                });
            }
        }
    },
    mounted() {
    },
    methods: {
        ...mapActions('app/table/base', ['fetchList']),
        ...mapActions('app/table/destroy', ['fetchDestroy']),
        ...mapActions('app/table/banned', ['fetchBanned']),
        actionBanned(item, value) {
            this.fetchBanned({
                model: this.model,
                id: item.id,
                value,
            });
        }
    },
};
</script>

<style scoped lang="scss">

</style>
